.tr131{ color:transparent;}
#P131_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P131_2
{
left:6517.18px;bottom:46446.2px;color:rgb(35,31,31);
}
#P131_3
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_4
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P131_5
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P131_6
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P131_7
{
left:6517.18px;bottom:45102.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P131_8
{
left:0px;letter-spacing:0.1px;margin-left:-922.4px;
}
#P131_9
{
left:6517.18px;bottom:43758.2px;color:rgb(35,31,31);
}
#P131_10
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_11
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P131_12
{
left:8949.18px;bottom:42542.2px;color:rgb(35,31,31);
}
#P131_13
{
left:6517.18px;bottom:41326.2px;color:rgb(35,31,31);
}
#P131_14
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_15
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_16
{
left:0px;letter-spacing:0px;margin-left:111.2px;
}
#P131_17
{
left:0px;letter-spacing:0px;margin-left:1974.4px;
}
#P131_18
{
left:6517.18px;bottom:39520.4px;color:rgb(242,114,33);
}
#P131_19
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P131_20
{
left:6517.18px;bottom:38126.2px;color:rgb(35,31,31);
}
#P131_21
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_22
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P131_23
{
left:6517.18px;bottom:36782.2px;color:rgb(35,31,31);
}
#P131_24
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_25
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_26
{
left:0px;letter-spacing:0px;margin-left:100px;
}
#P131_27
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P131_28
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_29
{
left:6517.18px;bottom:35566.2px;color:rgb(35,31,31);
}
#P131_30
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_31
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_32
{
left:0px;letter-spacing:0px;margin-left:81.6px;
}
#P131_33
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_34
{
left:6517.18px;bottom:34350.2px;color:rgb(35,31,31);
}
#P131_35
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_36
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_37
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P131_38
{
left:8949.18px;bottom:33134.2px;color:rgb(35,31,31);
}
#P131_39
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_40
{
left:0px;letter-spacing:0px;margin-left:218.4px;
}
#P131_41
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_42
{
left:6517.18px;bottom:31918.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P131_43
{
left:0px;letter-spacing:0.3px;margin-left:-922.4px;
}
#P131_44
{
left:6517.18px;bottom:30574.2px;color:rgb(35,31,31);
}
#P131_45
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_46
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_47
{
left:0px;letter-spacing:0px;margin-left:100px;
}
#P131_48
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P131_49
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P131_50
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_51
{
left:6517.18px;bottom:29358.2px;color:rgb(35,31,31);
}
#P131_52
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_53
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_54
{
left:0px;letter-spacing:0px;margin-left:81.6px;
}
#P131_55
{
left:8949.18px;bottom:28142.2px;color:rgb(35,31,31);
}
#P131_56
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_57
{
left:0px;letter-spacing:0px;margin-left:218.4px;
}
#P131_58
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_59
{
left:6517.18px;bottom:26926.2px;color:rgb(35,31,31);
}
#P131_60
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_61
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_62
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P131_63
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P131_64
{
left:6517.18px;bottom:25710.2px;color:rgb(35,31,31);
}
#P131_65
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_66
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P131_67
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P131_68
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P131_69
{
left:6517.18px;bottom:24366.2px;color:rgb(35,31,31);
}
#P131_70
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_71
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_72
{
left:0px;letter-spacing:0px;margin-left:100px;
}
#P131_73
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P131_74
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P131_75
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_76
{
left:6517.18px;bottom:23150.2px;color:rgb(35,31,31);
}
#P131_77
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_78
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_79
{
left:0px;letter-spacing:0px;margin-left:81.6px;
}
#P131_80
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P131_81
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P131_82
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_83
{
left:6517.18px;bottom:21934.2px;color:rgb(35,31,31);
}
#P131_84
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P131_85
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P131_86
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P131_87
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P131_88
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P131_89
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P131_90
{
left:6517.18px;bottom:18519.2px;color:rgb(35,63,142);
}
#P131_91
{
left:16529.4px;bottom:18920.5px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P131_92
{
left:6517.18px;bottom:16878.2px;color:rgb(35,31,31);
}
#P131_93
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P131_94
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P131_95
{
left:6517.18px;bottom:15534.2px;color:rgb(35,31,31);
}
#P131_96
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P131_97
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P131_98
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P131_99
{
left:6517.18px;bottom:14190.2px;color:rgb(35,31,31);
}
#P131_100
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P131_101
{
left:7669.18px;bottom:12974.2px;color:rgb(35,31,31);
}
#P131_102
{
left:6517.18px;bottom:9431.17px;color:rgb(35,63,142);
}
#P131_103
{
left:6517.18px;bottom:7328.38px;color:rgb(242,114,33);
}
#P131_104
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P131_105
{
left:0px;letter-spacing:-0.3px;
}
#P131_106
{
left:7669.5px;bottom:6112px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P131_107
{
left:7669.5px;bottom:4895.62px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P131_108
{
left:4722.75px;bottom:18466px;color:rgb(255,242,0);
}
#P131_109
{
left:4613px;bottom:9397.92px;color:rgb(255,242,0);
}
#PageContainer131
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg131.jpg");background-repeat:no-repeat;background-size: 972px 1033px; background-position: right bottom;
}
#ImageContainer131 {bottom:0.00px;right:0.00px;width:971.97px;height:1033.17px;position:absolute;} #TextContainer131 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}