.tr87{ color:transparent;}
#P87_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P87_2
{
left:6517.18px;bottom:46288.9px;letter-spacing:-0.4px;color:rgb(242,114,33);
}
#P87_3
{
left:6517.18px;bottom:44894.7px;color:rgb(35,31,31);
}
#P87_4
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_5
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P87_6
{
left:6517.18px;bottom:43550.7px;color:rgb(35,31,31);
}
#P87_7
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_8
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P87_9
{
left:6517.18px;bottom:42206.7px;color:rgb(35,31,31);
}
#P87_10
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_11
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P87_12
{
left:6517.18px;bottom:40862.7px;color:rgb(35,31,31);
}
#P87_13
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_14
{
left:6517.18px;bottom:39518.7px;color:rgb(35,31,31);
}
#P87_15
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_16
{
left:6517.18px;bottom:38174.7px;color:rgb(35,31,31);
}
#P87_17
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_18
{
left:6517.18px;bottom:36830.7px;color:rgb(35,31,31);
}
#P87_19
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_20
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P87_21
{
left:6517.18px;bottom:35486.7px;color:rgb(35,31,31);
}
#P87_22
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_23
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P87_24
{
left:6517.18px;bottom:34142.7px;color:rgb(35,31,31);
}
#P87_25
{
left:0px;letter-spacing:0px;margin-left:222.4px;
}
#P87_26
{
left:6517.18px;bottom:32798.7px;color:rgb(35,31,31);
}
#P87_27
{
left:0px;letter-spacing:0px;margin-left:170.4px;
}
#P87_28
{
left:6517.18px;bottom:29255.7px;color:rgb(35,63,142);
}
#P87_29
{
left:15232.9px;bottom:29656.9px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P87_30
{
left:6517.18px;bottom:27152.9px;color:rgb(242,114,33);
}
#P87_31
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P87_32
{
left:0px;letter-spacing:0px;margin-left:10px;
}
#P87_33
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P87_34
{
left:0px;letter-spacing:0px;margin-left:-89.9px;
}
#P87_35
{
left:6517.18px;bottom:25936.5px;color:rgb(242,114,33);
}
#P87_36
{
left:0px;letter-spacing:0px;margin-left:-89.9px;
}
#P87_37
{
left:6517.18px;bottom:24720.1px;color:rgb(242,114,33);
}
#P87_38
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P87_39
{
left:0px;letter-spacing:0px;margin-left:-53.2px;
}
#P87_40
{
left:6517.18px;bottom:23503.7px;color:rgb(242,114,33);
}
#P87_41
{
left:6517.18px;bottom:22110.7px;color:rgb(35,31,31);
}
#P87_42
{
left:6517.18px;bottom:20766.7px;color:rgb(35,31,31);
}
#P87_43
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P87_44
{
left:6517.18px;bottom:19422.7px;color:rgb(35,31,31);
}
#P87_45
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P87_46
{
left:6517.18px;bottom:18078.7px;color:rgb(35,31,31);
}
#P87_47
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P87_48
{
left:7669.18px;bottom:15518.7px;color:rgb(35,31,31);
}
#P87_49
{
left:7669.18px;bottom:14174.7px;color:rgb(35,31,31);
}
#P87_50
{
left:7669.18px;bottom:12830.7px;color:rgb(35,31,31);
}
#P87_51
{
left:7669.18px;bottom:11486.7px;color:rgb(35,31,31);
}
#P87_52
{
left:7669.18px;bottom:10142.7px;color:rgb(35,31,31);
}
#P87_53
{
left:6517.18px;bottom:27152.9px;
}
#P87_54
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P87_55
{
left:0px;letter-spacing:0px;margin-left:10px;
}
#P87_56
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P87_57
{
left:0px;letter-spacing:0px;margin-left:-89.9px;
}
#P87_58
{
left:4689.44px;bottom:29118px;color:rgb(255,242,0);
}
#PageContainer87
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg087.jpg");background-repeat:no-repeat;background-size: 971px 1094px; background-position: right bottom;
}
#ImageContainer87 {bottom:0.00px;right:0.00px;width:970.84px;height:1093.78px;position:absolute;} #TextContainer87 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}