
#indignantly{position: absolute;top: 920px;left: 329px;height: 25px;width: 121px;background-repeat: no-repeat;opacity: 0;}
#chirped{position: absolute;top: 920px;left: 246px;height: 25px;width: 78px;background-repeat: no-repeat;opacity: 0;}
#waxy{position: absolute;top: 730px;left: 782px;height: 25px;width: 58px;background-repeat: no-repeat;opacity: 0;}
#fidgeted{position: absolute;top: 465px;left: 807px;height: 25px;width: 80px;background-repeat: no-repeat;opacity: 0;}
#dripping{position: absolute;top: 189px;left: 845px;height: 25px;width: 90px;background-repeat: no-repeat;opacity: 0;}
#comb{position: absolute;top: 190px;left: 767px;height: 25px;width: 58px;background-repeat: no-repeat;opacity: 0;}


.tr57{ color:transparent;}
#P57_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P57_2
{
left:24232.8px;bottom:46454.9px;color:rgb(35,31,31);
}
#P57_3
{
left:24296.8px;bottom:45238.9px;color:rgb(35,31,31);
}
#P57_4
{
left:24360.8px;bottom:44022.9px;color:rgb(35,31,31);
}
#P57_5
{
left:24424.8px;bottom:42806.9px;color:rgb(35,31,31);
}
#P57_6
{
left:30410.2px;bottom:43156.7px;color:rgb(35,31,31);
}
#P57_7
{
left:30678px;bottom:42806.9px;color:rgb(35,31,31);
}
#P57_8
{
left:24488.4px;bottom:41590.9px;color:rgb(35,31,31);
}
#P57_9
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P57_10
{
left:24552.4px;bottom:40374.9px;color:rgb(35,31,31);
}
#P57_11
{
left:24616.4px;bottom:39158.9px;color:rgb(35,31,31);
}
#P57_12
{
left:24744.4px;bottom:37942.9px;color:rgb(35,31,31);
}
#P57_13
{
left:24808.4px;bottom:36726.9px;color:rgb(35,31,31);
}
#P57_14
{
left:24872.4px;bottom:35510.9px;color:rgb(35,31,31);
}
#P57_15
{
left:24936.8px;bottom:33846.9px;color:rgb(35,31,31);
}
#P57_16
{
left:25512.5px;bottom:32630.9px;color:rgb(35,31,31);
}
#P57_17
{
left:0px;letter-spacing:0px;margin-left:-58.9px;
}
#P57_18
{
left:0px;letter-spacing:0px;margin-left:-248.4px;
}
#P57_19
{
left:0px;letter-spacing:0px;margin-left:19.1px;
}
#P57_20
{
left:32715.1px;bottom:32980.7px;color:rgb(35,31,31);
}
#P57_21
{
left:32980.1px;bottom:32630.9px;color:rgb(35,31,31);
}
#P57_22
{
left:26280.6px;bottom:31414.9px;color:rgb(35,31,31);
}
#P57_23
{
left:26984.6px;bottom:30198.9px;color:rgb(35,31,31);
}
#P57_24
{
left:27752.9px;bottom:28982.9px;color:rgb(35,31,31);
}
#P57_25
{
left:28521.2px;bottom:27766.9px;color:rgb(35,31,31);
}
#P57_26
{
left:28649.5px;bottom:26550.9px;color:rgb(35,31,31);
}
#P57_27
{
left:28713.6px;bottom:25334.9px;color:rgb(35,31,31);
}
#P57_28
{
left:28841.9px;bottom:24118.9px;color:rgb(35,31,31);
}
#P57_29
{
left:28906px;bottom:22902.9px;color:rgb(35,31,31);
}
#P57_30
{
left:6568.77px;bottom:21238.9px;color:rgb(35,31,31);
}
#P57_31
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P57_32
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P57_33
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P57_34
{
left:6568.77px;bottom:20022.9px;color:rgb(35,31,31);
}
#P57_35
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P57_36
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P57_37
{
left:6568.77px;bottom:18806.9px;color:rgb(35,31,31);
}
#P57_38
{
left:6568.77px;bottom:17590.9px;color:rgb(35,31,31);
}
#P57_39
{
left:6568.77px;bottom:15926.9px;color:rgb(35,31,31);
}
#P57_40
{
left:16588.6px;bottom:16276.7px;color:rgb(35,31,31);
}
#P57_41
{
left:16856.3px;bottom:15926.9px;color:rgb(35,31,31);
}
#P57_42
{
left:6569.09px;bottom:14710.9px;color:rgb(35,31,31);
}
#P57_43
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P57_44
{
left:6569.09px;bottom:13494.9px;color:rgb(35,31,31);
}
#P57_45
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P57_46
{
left:6569.09px;bottom:12278.9px;color:rgb(35,31,31);
}
#P57_47
{
left:6569.09px;bottom:11062.9px;color:rgb(35,31,31);
}
#P57_48
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P57_49
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P57_50
{
left:6569.09px;bottom:9846.91px;color:rgb(35,31,31);
}
#P57_51
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P57_52
{
left:6569.09px;bottom:8182.91px;color:rgb(35,31,31);
}
#P57_53
{
left:13348.7px;bottom:8532.68px;color:rgb(35,31,31);
}
#P57_54
{
left:13616.4px;bottom:8182.91px;color:rgb(35,31,31);
}
#P57_55
{
left:6568.32px;bottom:6966.91px;color:rgb(35,31,31);
}
#P57_56
{
left:6568.32px;bottom:5302.91px;color:rgb(35,31,31);
}
#P57_57
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P57_58
{
left:6568.32px;bottom:4086.89px;color:rgb(35,31,31);
}
#P57_59
{
left:27369.5px;bottom:20016.1px;color:rgb(35,31,31);
}
#P57_60
{
left:27559.9px;bottom:19707.7px;color:rgb(35,31,31);
}
#P57_61
{
left:29352.3px;bottom:19707.7px;color:rgb(35,31,31);
}
#P57_62
{
left:29753.5px;bottom:19707.7px;color:rgb(35,31,31);
}
#P57_63
{
left:31048.9px;bottom:19707.7px;color:rgb(35,31,31);
}
#P57_64
{
left:27369.8px;bottom:18862.9px;color:rgb(35,31,31);
}
#P57_65
{
left:27369.8px;bottom:18018.1px;color:rgb(35,31,31);
}
#P57_66
{
left:27369.5px;bottom:17481.7px;color:rgb(35,31,31);
}
#P57_67
{
left:27588.3px;bottom:17173.2px;color:rgb(35,31,31);
}
#P57_68
{
left:0px;letter-spacing:0px;
}
#P57_69
{
left:30183.9px;bottom:17173.2px;color:rgb(35,31,31);
}
#P57_70
{
left:30585.2px;bottom:17173.2px;color:rgb(35,31,31);
}
#P57_71
{
left:31880.6px;bottom:17173.2px;color:rgb(35,31,31);
}
#P57_72
{
left:27369.3px;bottom:16328.4px;color:rgb(35,31,31);
}
#P57_73
{
left:27369.3px;bottom:15483.6px;color:rgb(35,31,31);
}
#P57_74
{
left:27369.5px;bottom:14947.3px;color:rgb(35,31,31);
}
#P57_75
{
left:27571.1px;bottom:14638.9px;color:rgb(35,31,31);
}
#P57_76
{
left:30988.3px;bottom:14638.9px;color:rgb(35,31,31);
}
#P57_77
{
left:27369.5px;bottom:14102.5px;color:rgb(35,31,31);
}
#P57_78
{
left:27595.9px;bottom:13794.1px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P57_79
{
left:29943px;bottom:13794.1px;color:rgb(35,31,31);
}
#PageContainer57
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg057.jpg");background-repeat:no-repeat;background-size: 1025px 1317px; background-position: right bottom;
}
#ImageContainer57 {bottom:0.00px;right:0.00px;width:1025.31px;height:1317.45px;position:absolute;} #TextContainer57 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
