.tr52{ color:transparent;}
#P52_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P52_2
{
left:6531.07px;bottom:45768.6px;color:rgb(35,63,142);
}
#P52_3
{
left:6531.07px;bottom:43665.8px;color:rgb(242,114,33);
}
#P52_4
{
left:6531.07px;bottom:42449.4px;letter-spacing:0.9px;color:rgb(242,114,33);
}
#P52_5
{
left:0px;letter-spacing:0px;margin-left:-62.5px;
}
#P52_6
{
left:6531.07px;bottom:41055.6px;color:rgb(35,31,31);
}
#P52_7
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_8
{
left:10373.5px;bottom:41050px;letter-spacing:0.9px;color:rgb(35,31,31);
}
#P52_9
{
left:13903.9px;bottom:41055.6px;color:rgb(35,31,31);
}
#P52_10
{
left:6531.07px;bottom:39711.6px;color:rgb(35,31,31);
}
#P52_11
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_12
{
left:11099.8px;bottom:39706px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P52_13
{
left:14066.2px;bottom:39711.6px;color:rgb(35,31,31);
}
#P52_14
{
left:18703.1px;bottom:39706px;color:rgb(35,31,31);
}
#P52_15
{
left:20699.1px;bottom:39711.6px;color:rgb(35,31,31);
}
#P52_16
{
left:6531.07px;bottom:38367.6px;color:rgb(35,31,31);
}
#P52_17
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_18
{
left:26103.9px;bottom:38362px;color:rgb(35,31,31);
}
#P52_19
{
left:29223.9px;bottom:38367.6px;color:rgb(35,31,31);
}
#P52_20
{
left:6531.07px;bottom:37023.6px;color:rgb(35,31,31);
}
#P52_21
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_22
{
left:15390.3px;bottom:37018px;color:rgb(35,31,31);
}
#P52_23
{
left:18290.3px;bottom:37023.6px;color:rgb(35,31,31);
}
#P52_24
{
left:20166.3px;bottom:37018px;color:rgb(35,31,31);
}
#P52_25
{
left:22783.1px;bottom:37023.6px;color:rgb(35,31,31);
}
#P52_26
{
left:6531.07px;bottom:35679.6px;color:rgb(35,31,31);
}
#P52_27
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_28
{
left:17372.7px;bottom:35674px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P52_29
{
left:20026.3px;bottom:35679.6px;color:rgb(35,31,31);
}
#P52_30
{
left:6531.07px;bottom:32136.6px;color:rgb(35,63,142);
}
#P52_31
{
left:6531.07px;bottom:30495.6px;color:rgb(35,31,31);
}
#P52_32
{
left:6531.07px;bottom:29151.6px;color:rgb(35,31,31);
}
#P52_33
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P52_34
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P52_35
{
left:11306.3px;bottom:29146px;color:rgb(35,31,31);
}
#P52_36
{
left:13142.3px;bottom:29151.6px;color:rgb(35,31,31);
}
#P52_37
{
left:13371.8px;bottom:29146px;color:rgb(35,31,31);
}
#P52_38
{
left:14037.5px;bottom:29151.6px;color:rgb(35,31,31);
}
#P52_39
{
left:6531.07px;bottom:27807.6px;color:rgb(35,31,31);
}
#P52_40
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P52_41
{
left:9171.07px;bottom:27802px;color:rgb(35,31,31);
}
#P52_42
{
left:11007.1px;bottom:27807.6px;color:rgb(35,31,31);
}
#P52_43
{
left:11236.7px;bottom:27802px;color:rgb(35,31,31);
}
#P52_44
{
left:11902.3px;bottom:27807.6px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P52_45
{
left:6531.07px;bottom:26463.6px;color:rgb(35,31,31);
}
#P52_46
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P52_47
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P52_48
{
left:10019.1px;bottom:26458px;color:rgb(35,31,31);
}
#P52_49
{
left:11855px;bottom:26463.6px;color:rgb(35,31,31);
}
#P52_50
{
left:12084.7px;bottom:26458px;color:rgb(35,31,31);
}
#P52_51
{
left:12750.3px;bottom:26463.6px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P52_52
{
left:6531.07px;bottom:25119.6px;color:rgb(35,31,31);
}
#P52_53
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P52_54
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P52_55
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P52_56
{
left:15060.7px;bottom:25114px;color:rgb(35,31,31);
}
#P52_57
{
left:16896.7px;bottom:25119.6px;color:rgb(35,31,31);
}
#P52_58
{
left:17126.3px;bottom:25114px;color:rgb(35,31,31);
}
#P52_59
{
left:17791.9px;bottom:25119.6px;color:rgb(35,31,31);
}
#P52_60
{
left:6531.07px;bottom:23775.6px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P52_61
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P52_62
{
left:9380.67px;bottom:23770px;color:rgb(35,31,31);
}
#P52_63
{
left:11216.7px;bottom:23775.6px;color:rgb(35,31,31);
}
#P52_64
{
left:11446.3px;bottom:23770px;color:rgb(35,31,31);
}
#P52_65
{
left:12111.9px;bottom:23775.6px;color:rgb(35,31,31);
}
#P52_66
{
left:6531.07px;bottom:22431.6px;color:rgb(35,31,31);
}
#P52_67
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P52_68
{
left:0px;letter-spacing:0px;
}
#P52_69
{
left:7683.07px;bottom:21215.6px;color:rgb(35,31,31);
}
#P52_70
{
left:6531.07px;bottom:19871.6px;color:rgb(35,31,31);
}
#P52_71
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P52_72
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P52_73
{
left:6531.07px;bottom:18065.7px;color:rgb(242,114,33);
}
#P52_74
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P52_75
{
left:23720.2px;bottom:18070.7px;color:rgb(242,114,33);
}
#P52_76
{
left:27367.7px;bottom:18065.7px;color:rgb(242,114,33);
}
#P52_77
{
left:6531.07px;bottom:16849.3px;color:rgb(242,114,33);
}
#P52_78
{
left:6531.07px;bottom:15450px;color:rgb(237,28,35);
}
#P52_79
{
left:10088.7px;bottom:15455.6px;letter-spacing:564.8px;color:rgb(35,31,31);
}
#P52_80
{
left:0px;letter-spacing:0px;margin-left:-564.8px;
}
#P52_81
{
left:6531.07px;bottom:14111.6px;color:rgb(35,31,31);
}
#P52_82
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P52_83
{
left:0px;letter-spacing:0px;margin-left:2970.4px;
}
#P52_84
{
left:21351.9px;bottom:14106px;color:rgb(35,31,31);
}
#P52_85
{
left:6531.07px;bottom:12639.6px;color:rgb(35,31,31);
}
#P52_86
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_87
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P52_88
{
left:6531.07px;bottom:11295.6px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P52_89
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P52_90
{
left:29697.5px;bottom:11290px;color:rgb(35,31,31);
}
#P52_91
{
left:6531.07px;bottom:9951.55px;color:rgb(35,31,31);
}
#P52_92
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_93
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P52_94
{
left:6531.07px;bottom:8607.55px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P52_95
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P52_96
{
left:28805.5px;bottom:8601.95px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P52_97
{
left:6531.07px;bottom:7263.55px;color:rgb(35,31,31);
}
#P52_98
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_99
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P52_100
{
left:0px;letter-spacing:0px;margin-left:20.1px;
}
#P52_101
{
left:6531.07px;bottom:5919.55px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P52_102
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P52_103
{
left:29264.6px;bottom:5913.95px;color:rgb(35,31,31);
}
#P52_104
{
left:6531.07px;bottom:4575.58px;color:rgb(35,31,31);
}
#P52_105
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P52_106
{
left:6531.07px;bottom:3231.58px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P52_107
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P52_108
{
left:27198.3px;bottom:3225.98px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P52_109
{
left:4679.46px;bottom:31918.4px;color:rgb(255,242,0);
}
#P52_110
{
left:4748.68px;bottom:45777px;color:rgb(255,242,0);
}
#PageContainer52
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg052.jpg");background-repeat:no-repeat;background-size: 974px 1309px; background-position: left bottom;
}
#ImageContainer52 {bottom:0.00px;left:0.00px;width:973.70px;height:1308.69px;position:absolute;} #TextContainer52 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}

.activity_pos{top: 870px;left: 100px;position: absolute;height: 50px;width: auto;}