.tr7{ color:transparent;}
#P7_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P7_2
{
left:7040.96px;bottom:40816px;letter-spacing:-37.4px;color:rgb(35,63,142);
}
#P7_3
{
left:0px;letter-spacing:0px;margin-left:37.4px;
}
#P7_4
{
left:7040.96px;bottom:39530.6px;color:rgb(35,31,31);
}
#P7_5
{
left:0px;letter-spacing:0px;margin-left:-50.7px;
}
#P7_6
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P7_7
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P7_8
{
left:7040.96px;bottom:38506.2px;color:rgb(35,31,31);
}
#P7_9
{
left:7040.96px;bottom:36592px;color:rgb(35,63,142);
}
#P7_10
{
left:0px;letter-spacing:0px;margin-left:-74.9px;
}
#P7_11
{
left:12960.7px;bottom:35237.6px;letter-spacing:-0.4px;word-spacing:235.1px;color:rgb(35,31,31);
}
#P7_12
{
left:18876.9px;bottom:35242.6px;letter-spacing:-0.3px;word-spacing:228.1px;color:rgb(35,31,31);
}
#P7_13
{
left:12960.7px;bottom:34218.2px;word-spacing:205.6px;color:rgb(35,31,31);
}
#P7_14
{
left:12960.7px;bottom:33193.9px;color:rgb(35,31,31);
}
#P7_15
{
left:7040.77px;bottom:31845.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P7_16
{
left:7040.77px;bottom:30762.3px;color:rgb(35,31,31);
}
#P7_17
{
left:7808.83px;bottom:30761.6px;color:rgb(35,31,31);
}
#P7_18
{
left:11866px;bottom:30762.3px;color:rgb(35,31,31);
}
#P7_19
{
left:7040.77px;bottom:29674.6px;color:rgb(35,31,31);
}
#P7_20
{
left:7808.83px;bottom:29673.9px;color:rgb(35,31,31);
}
#P7_21
{
left:14813.6px;bottom:29674.6px;color:rgb(35,31,31);
}
#P7_22
{
left:7040.77px;bottom:28586.9px;color:rgb(35,31,31);
}
#P7_23
{
left:7808.83px;bottom:28586.2px;color:rgb(35,31,31);
}
#P7_24
{
left:10126.4px;bottom:28586.9px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P7_25
{
left:7040.77px;bottom:27499.3px;color:rgb(35,31,31);
}
#P7_26
{
left:7808.83px;bottom:27498.6px;color:rgb(35,31,31);
}
#P7_27
{
left:12013.1px;bottom:27499.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P7_28
{
left:7040.77px;bottom:26411.6px;color:rgb(35,31,31);
}
#P7_29
{
left:7808.83px;bottom:26410.9px;color:rgb(35,31,31);
}
#P7_30
{
left:12203.9px;bottom:26411.6px;color:rgb(35,31,31);
}
#P7_31
{
left:7040.77px;bottom:25323.9px;color:rgb(35,31,31);
}
#P7_32
{
left:7808.83px;bottom:25323.2px;color:rgb(35,31,31);
}
#P7_33
{
left:12106.8px;bottom:25323.9px;color:rgb(35,31,31);
}
#P7_34
{
left:7040.77px;bottom:24236.2px;color:rgb(35,31,31);
}
#P7_35
{
left:7808.83px;bottom:24235.5px;letter-spacing:-22.5px;color:rgb(35,31,31);
}
#P7_36
{
left:0px;letter-spacing:0px;margin-left:22.5px;
}
#P7_37
{
left:11779.4px;bottom:24236.2px;color:rgb(35,31,31);
}
#P7_38
{
left:7040.77px;bottom:23148.5px;color:rgb(35,31,31);
}
#P7_39
{
left:7808.83px;bottom:23147.8px;color:rgb(35,31,31);
}
#P7_40
{
left:11820.9px;bottom:23148.5px;color:rgb(35,31,31);
}
#P7_41
{
left:7040.77px;bottom:22060.9px;color:rgb(35,31,31);
}
#P7_42
{
left:7808.83px;bottom:22060.2px;word-spacing:12.7px;color:rgb(35,31,31);
}
#P7_43
{
left:14362.4px;bottom:22060.9px;word-spacing:12px;color:rgb(35,31,31);
}
#P7_44
{
left:7808.83px;bottom:21036.5px;color:rgb(35,31,31);
}
#P7_45
{
left:7040.77px;bottom:19948.9px;color:rgb(35,31,31);
}
#P7_46
{
left:7808.83px;bottom:19948.2px;word-spacing:-31px;color:rgb(35,31,31);
}
#P7_47
{
left:16217.4px;bottom:19948.9px;word-spacing:-30.3px;color:rgb(35,31,31);
}
#P7_48
{
left:7040.77px;bottom:18861.2px;color:rgb(35,31,31);
}
#P7_49
{
left:7808.83px;bottom:18860.5px;letter-spacing:-25.3px;color:rgb(35,31,31);
}
#P7_50
{
left:0px;letter-spacing:0px;margin-left:25.3px;
}
#P7_51
{
left:12831.9px;bottom:18861.2px;color:rgb(35,31,31);
}
#P7_52
{
left:6542.02px;bottom:46418.4px;color:rgb(35,63,142);
}
#P7_53
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P7_54
{
left:0px;letter-spacing:0px;margin-left:-71.1px;
}
#P7_55
{
left:6542.02px;bottom:45133px;word-spacing:191.5px;color:rgb(35,31,31);
}
#P7_56
{
left:6542.02px;bottom:44108.7px;letter-spacing:-0.4px;word-spacing:59.1px;color:rgb(35,31,31);
}
#P7_57
{
left:16412.8px;bottom:44103.7px;letter-spacing:-0.4px;word-spacing:59.1px;color:rgb(35,31,31);
}
#P7_58
{
left:21408.4px;bottom:44108.7px;word-spacing:59.1px;color:rgb(35,31,31);
}
#P7_59
{
left:22916.4px;bottom:44103.7px;letter-spacing:-25.3px;word-spacing:59.1px;color:rgb(35,31,31);
}
#P7_60
{
left:0px;letter-spacing:0px;margin-left:25.3px;
}
#P7_61
{
left:27644.4px;bottom:44108.7px;word-spacing:59.1px;color:rgb(35,31,31);
}
#P7_62
{
left:30575.9px;bottom:44103.7px;letter-spacing:-0.5px;word-spacing:61.2px;color:rgb(35,31,31);
}
#P7_63
{
left:6542.02px;bottom:43084.4px;color:rgb(35,31,31);
}
#P7_64
{
left:6542.02px;bottom:16371.3px;color:rgb(35,63,142);
}
#P7_65
{
left:0px;letter-spacing:0px;margin-left:-58.5px;
}
#P7_66
{
left:0px;letter-spacing:0px;margin-left:-71.2px;
}
#P7_67
{
left:6542.02px;bottom:15085.8px;letter-spacing:-0.1px;word-spacing:25.3px;color:rgb(35,31,31);
}
#P7_68
{
left:6542.02px;bottom:14061.5px;word-spacing:111.2px;color:rgb(35,31,31);
}
#P7_69
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P7_70
{
left:6542.02px;bottom:13037.2px;word-spacing:-73.9px;color:rgb(35,31,31);
}
#P7_71
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P7_72
{
left:6542.02px;bottom:12012.9px;letter-spacing:-0.1px;word-spacing:136.6px;color:rgb(35,31,31);
}
#P7_73
{
left:25022px;bottom:12007.9px;color:rgb(35,31,31);
}
#P7_74
{
left:26521.4px;bottom:12012.9px;letter-spacing:-0.1px;word-spacing:136.6px;color:rgb(35,31,31);
}
#P7_75
{
left:6542.02px;bottom:10988.5px;word-spacing:52.8px;color:rgb(35,31,31);
}
#P7_76
{
left:6542.02px;bottom:9964.22px;word-spacing:4.9px;color:rgb(35,31,31);
}
#P7_77
{
left:6542.02px;bottom:8939.9px;letter-spacing:-0.6px;word-spacing:-15.5px;color:rgb(35,31,31);
}
#P7_78
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P7_79
{
left:6542.02px;bottom:7915.58px;word-spacing:87.3px;color:rgb(35,31,31);
}
#P7_80
{
left:6542.02px;bottom:6891.26px;word-spacing:69px;color:rgb(35,31,31);
}
#P7_81
{
left:6542.02px;bottom:5866.94px;word-spacing:171.1px;color:rgb(35,31,31);
}
#P7_82
{
left:34245.8px;bottom:5862.02px;color:rgb(35,31,31);
}
#P7_83
{
left:6542.02px;bottom:4837.68px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P7_84
{
left:9940.93px;bottom:4842.6px;color:rgb(35,31,31);
}
#PageContainer7
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg007.jpg");background-repeat:no-repeat;background-size: 889px 1150px; background-position: right bottom;
}
#ImageContainer7 {bottom:0.00px;right:0.00px;width:888.60px;height:1149.71px;position:absolute;} #TextContainer7 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.pdf_pos{top: -37079px;left: 23245px;position: absolute;height: 1840px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}

