.audio_pos{top: 1089px;left: 116px;position: absolute;height: 50px;width: auto;}
#audioPosition{position: absolute;top: 1089px;left: 116px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}

.tr32{ color:transparent;}
#P32_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P32_2
{
left:6478.02px;bottom:46388.4px;color:rgb(242,114,33);
}
#P32_3
{
left:7630.02px;bottom:46388.4px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P32_4
{
left:7630.02px;bottom:45172px;color:rgb(242,114,33);
}
#P32_5
{
left:7630.02px;bottom:43960.6px;color:rgb(242,114,33);
}
#P32_6
{
left:0px;letter-spacing:0px;margin-left:-45.6px;
}
#P32_7
{
left:9036.54px;bottom:43955.6px;color:rgb(242,114,33);
}
#P32_8
{
left:10394.2px;bottom:43960.6px;color:rgb(242,114,33);
}
#P32_9
{
left:11886px;bottom:43955.6px;letter-spacing:-0.3px;color:rgb(242,114,33);
}
#P32_10
{
left:7630.02px;bottom:42300.6px;word-spacing:915.2px;color:rgb(237,28,35);
}
#P32_11
{
left:11187.6px;bottom:42306.2px;color:rgb(35,31,31);
}
#P32_12
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P32_13
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P32_14
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P32_15
{
left:7630.02px;bottom:41090.2px;color:rgb(35,31,31);
}
#P32_16
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P32_17
{
left:6478.02px;bottom:39170.2px;color:rgb(35,31,31);
}
#P32_18
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P32_19
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P32_20
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P32_21
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P32_22
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P32_23
{
left:6478.02px;bottom:37506.2px;color:rgb(35,31,31);
}
#P32_24
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P32_25
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P32_26
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P32_27
{
left:6478.02px;bottom:35842.2px;color:rgb(35,31,31);
}
#P32_28
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P32_29
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P32_30
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P32_31
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P32_32
{
left:6478.02px;bottom:34178.2px;color:rgb(35,31,31);
}
#P32_33
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P32_34
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P32_35
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P32_36
{
left:6478.02px;bottom:32514.2px;color:rgb(35,31,31);
}
#P32_37
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P32_38
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P32_39
{
left:6478.02px;bottom:28587.1px;color:rgb(35,63,142);
}
#P32_40
{
left:15193.8px;bottom:28988.4px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P32_41
{
left:6478.02px;bottom:26946.2px;word-spacing:-0.8px;color:rgb(35,31,31);
}
#P32_42
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P32_43
{
left:6478.02px;bottom:25730.2px;color:rgb(35,31,31);
}
#P32_44
{
left:6478.02px;bottom:24052.4px;color:rgb(242,114,33);
}
#P32_45
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P32_46
{
left:0px;letter-spacing:0.1px;
}
#P32_47
{
left:7630.34px;bottom:22836px;color:rgb(242,114,33);
}
#P32_48
{
left:6478.02px;bottom:21172px;color:rgb(242,114,33);
}
#P32_49
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P32_50
{
left:0px;letter-spacing:0px;
}
#P32_51
{
left:7630.34px;bottom:19955.6px;letter-spacing:-26.6px;color:rgb(242,114,33);
}
#P32_52
{
left:0px;letter-spacing:0.4px;margin-left:26.6px;
}
#P32_53
{
left:6478.02px;bottom:18306.2px;color:rgb(35,31,31);
}
#P32_54
{
left:6478.02px;bottom:16888.1px;color:rgb(35,31,31);
}
#P32_55
{
left:0px;letter-spacing:0px;margin-left:-32.4px;
}
#P32_56
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P32_57
{
left:6478.02px;bottom:15928px;color:rgb(35,31,31);
}
#P32_58
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P32_59
{
left:6478.02px;bottom:14967.9px;color:rgb(35,31,31);
}
#P32_60
{
left:6478.02px;bottom:11563.1px;color:rgb(35,63,142);
}
#P32_61
{
left:15478.7px;bottom:11964.4px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P32_62
{
left:6478.02px;bottom:9460.35px;color:rgb(242,114,33);
}
#P32_63
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P32_64
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P32_65
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P32_66
{
left:6478.02px;bottom:8243.97px;color:rgb(242,114,33);
}
#P32_67
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P32_68
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P32_69
{
left:0px;letter-spacing:-0.2px;
}
#P32_70
{
left:6478.02px;bottom:7027.58px;color:rgb(242,114,33);
}
#P32_71
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P32_72
{
left:6478.02px;bottom:5811.2px;letter-spacing:-0.4px;color:rgb(242,114,33);
}
#P32_73
{
left:0px;letter-spacing:8.3px;margin-left:-51.2px;
}
#P32_74
{
left:0px;letter-spacing:0px;margin-left:-8.3px;
}
#P32_75
{
left:6478.02px;bottom:4098.19px;color:rgb(35,31,31);
}
#P32_76
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P32_77
{
left:0px;letter-spacing:0px;margin-left:249.6px;
}
#P32_78
{
left:0px;letter-spacing:0px;margin-left:960px;
}
#P32_79
{
left:6478.02px;bottom:26946.2px;word-spacing:-0.8px;
}
#P32_80
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P32_81
{
left:4614.7px;bottom:28471.5px;color:rgb(255,242,0);
}
#P32_82
{
left:4744.81px;bottom:11610.8px;color:rgb(255,242,0);
}
#P32_83
{
left:16800.8px;bottom:40838.1px;color:rgb(35,31,31);
}
#PageContainer32
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg032.jpg");background-repeat:no-repeat;background-size: 971px 1188px; background-position: left bottom;
}
#ImageContainer32 {bottom:0.00px;left:0.00px;width:970.97px;height:1188.38px;position:absolute;} #TextContainer32 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}