.tr105{ color:transparent;}
#P105_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P105_2
{
left:28291.8px;bottom:22649.7px;color:rgb(35,31,31);
}
#P105_3
{
left:28578.8px;bottom:22341.2px;color:rgb(35,31,31);
}
#P105_4
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P105_5
{
left:32547.3px;bottom:22341.2px;color:rgb(35,31,31);
}
#P105_6
{
left:6485.7px;bottom:46372.1px;color:rgb(35,31,31);
}
#P105_7
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P105_8
{
left:6485.7px;bottom:45156.1px;color:rgb(35,31,31);
}
#P105_9
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P105_10
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_11
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P105_12
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P105_13
{
left:6485.7px;bottom:43940.1px;color:rgb(35,31,31);
}
#P105_14
{
left:6485.7px;bottom:42724.1px;color:rgb(35,31,31);
}
#P105_15
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P105_16
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P105_17
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P105_18
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P105_19
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P105_20
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_21
{
left:6485.7px;bottom:41508.1px;color:rgb(35,31,31);
}
#P105_22
{
left:6485.7px;bottom:40292.1px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P105_23
{
left:6485.7px;bottom:38628.1px;color:rgb(35,31,31);
}
#P105_24
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_25
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P105_26
{
left:6485.7px;bottom:37412.1px;color:rgb(35,31,31);
}
#P105_27
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P105_28
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_29
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_30
{
left:6485.7px;bottom:36196.1px;color:rgb(35,31,31);
}
#P105_31
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P105_32
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P105_33
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_34
{
left:6485.7px;bottom:34980.1px;color:rgb(35,31,31);
}
#P105_35
{
left:6485.7px;bottom:33316.1px;color:rgb(35,31,31);
}
#P105_36
{
left:6485.7px;bottom:32100.1px;color:rgb(35,31,31);
}
#P105_37
{
left:6485.7px;bottom:30884.1px;color:rgb(35,31,31);
}
#P105_38
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P105_39
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_40
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_41
{
left:6485.7px;bottom:29668.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P105_42
{
left:6485.7px;bottom:28452.1px;color:rgb(35,31,31);
}
#P105_43
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P105_44
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P105_45
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_46
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_47
{
left:6485.7px;bottom:27236.1px;color:rgb(35,31,31);
}
#P105_48
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_49
{
left:6485.7px;bottom:25572.1px;color:rgb(35,31,31);
}
#P105_50
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_51
{
left:6485.7px;bottom:24356.1px;color:rgb(35,31,31);
}
#P105_52
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_53
{
left:6485.7px;bottom:23140.1px;color:rgb(35,31,31);
}
#P105_54
{
left:6485.7px;bottom:21924.1px;color:rgb(35,31,31);
}
#P105_55
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P105_56
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P105_57
{
left:16370.4px;bottom:22273.9px;color:rgb(35,31,31);
}
#P105_58
{
left:16905.8px;bottom:21924.1px;color:rgb(35,31,31);
}
#P105_59
{
left:32225px;bottom:20254.5px;color:rgb(35,31,31);
}
#P105_60
{
left:30570.6px;bottom:19100.9px;color:rgb(35,31,31);
}
#P105_61
{
left:30970.6px;bottom:19143.9px;color:rgb(35,31,31);
}
#P105_62
{
left:32676.4px;bottom:19100.9px;color:rgb(35,31,31);
}
#P105_63
{
left:33676.3px;bottom:19143.9px;color:rgb(35,31,31);
}
#P105_64
{
left:6485.7px;bottom:15181.1px;color:rgb(35,63,142);
}
#P105_65
{
left:6485.7px;bottom:13540.1px;color:rgb(35,31,31);
}
#P105_66
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P105_67
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P105_68
{
left:6485.7px;bottom:12196.1px;color:rgb(35,31,31);
}
#P105_69
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P105_70
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P105_71
{
left:7637.7px;bottom:10980.1px;color:rgb(35,31,31);
}
#P105_72
{
left:6485.7px;bottom:9636.1px;color:rgb(35,31,31);
}
#P105_73
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P105_74
{
left:6485.7px;bottom:8292.1px;color:rgb(35,31,31);
}
#P105_75
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P105_76
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P105_77
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_78
{
left:0px;letter-spacing:0px;margin-left:-49.6px;
}
#P105_79
{
left:7637.7px;bottom:7076.1px;color:rgb(35,31,31);
}
#P105_80
{
left:6485.7px;bottom:5732.1px;color:rgb(35,31,31);
}
#P105_81
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P105_82
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P105_83
{
left:6485.7px;bottom:4388.08px;color:rgb(35,31,31);
}
#P105_84
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P105_85
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P105_86
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P105_87
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P105_88
{
left:6485.7px;bottom:3044.08px;color:rgb(35,31,31);
}
#P105_89
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P105_90
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P105_91
{
left:0px;letter-spacing:0px;margin-left:3270.4px;
}
#P105_92
{
left:4737.42px;bottom:16258.7px;color:rgb(255,242,0);
}
#PageContainer105
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg105.jpg");background-repeat:no-repeat;background-size: 971px 640px; background-position: right bottom;
}
#ImageContainer105 {bottom:0.00px;right:0.00px;width:971.42px;height:640.20px;position:absolute;} #TextContainer105 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}

#engineering{position: absolute;
top: 335px;
left: 222px;
height: 25px;
width: 124px;
background-repeat: no-repeat;opacity: 0;
}
#magnificence{position: absolute;
top: 757px;
left: 309px;
height: 25px;
width: 135px;
background-repeat: no-repeat;opacity: 0;
}