.tr70{ color:transparent;}
#P70_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P70_2
{
left:6457.15px;bottom:46098.2px;color:rgb(35,63,142);
}
#P70_3
{
left:6457.15px;bottom:43995.4px;color:rgb(242,114,33);
}
#P70_4
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P70_5
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P70_6
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P70_7
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P70_8
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P70_9
{
left:7609.47px;bottom:42779px;letter-spacing:-0.3px;color:rgb(242,114,33);
}
#P70_10
{
left:0px;letter-spacing:0px;margin-left:-61.3px;
}
#P70_11
{
left:8953.22px;bottom:40361.2px;word-spacing:1008px;color:rgb(35,31,31);
}
#P70_12
{
left:0px;letter-spacing:0px;margin-left:286.4px;
}
#P70_13
{
left:0px;letter-spacing:0px;margin-left:151.2px;
}
#P70_14
{
left:0px;letter-spacing:0px;margin-left:470.4px;
}
#P70_15
{
left:8953.22px;bottom:39017.2px;word-spacing:1160.8px;color:rgb(35,31,31);
}
#P70_16
{
left:0px;letter-spacing:0px;margin-left:510.4px;
}
#P70_17
{
left:0px;letter-spacing:0px;margin-left:3004.8px;
}
#P70_18
{
left:0px;letter-spacing:0px;margin-left:1005.6px;
}
#P70_19
{
left:8953.22px;bottom:37673.2px;word-spacing:1428.8px;color:rgb(35,31,31);
}
#P70_20
{
left:0px;letter-spacing:0px;margin-left:1271.2px;
}
#P70_21
{
left:0px;letter-spacing:0px;margin-left:1157.6px;
}
#P70_22
{
left:0px;letter-spacing:0px;margin-left:287.2px;
}
#P70_23
{
left:6517.18px;bottom:24932px;color:rgb(242,114,33);
}
#P70_24
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P70_25
{
left:0px;letter-spacing:-0.3px;
}
#P70_26
{
left:10313.6px;bottom:22775.6px;color:rgb(35,31,31);
}
#P70_27
{
left:0px;letter-spacing:0px;margin-left:6120.6px;
}
#P70_28
{
left:8372.74px;bottom:21550.9px;color:rgb(35,31,31);
}
#P70_29
{
left:8372.74px;bottom:20207px;color:rgb(35,31,31);
}
#P70_30
{
left:8372.74px;bottom:18863px;letter-spacing:-229.6px;word-spacing:18.4px;color:rgb(35,31,31);
}
#P70_31
{
left:0px;letter-spacing:0px;margin-left:228.8px;
}
#P70_32
{
left:8372.74px;bottom:17519.1px;color:rgb(35,31,31);
}
#P70_33
{
left:8372.74px;bottom:16175.2px;color:rgb(35,31,31);
}
#P70_34
{
left:8372.74px;bottom:14831.2px;color:rgb(35,31,31);
}
#P70_35
{
left:16891.6px;bottom:21550.8px;color:rgb(35,31,31);
}
#P70_36
{
left:16891.6px;bottom:20206.8px;color:rgb(35,31,31);
}
#P70_37
{
left:16891.6px;bottom:18862.9px;color:rgb(35,31,31);
}
#P70_38
{
left:16891.6px;bottom:17519px;color:rgb(35,31,31);
}
#P70_39
{
left:16891.6px;bottom:16175px;color:rgb(35,31,31);
}
#P70_40
{
left:16891.6px;bottom:14831.1px;color:rgb(35,31,31);
}
#P70_41
{
left:6517.18px;bottom:11770.8px;color:rgb(242,114,33);
}
#P70_42
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P70_43
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P70_44
{
left:12020.9px;bottom:11775.7px;color:rgb(242,114,33);
}
#P70_45
{
left:13065.9px;bottom:11770.8px;color:rgb(242,114,33);
}
#P70_46
{
left:15121.7px;bottom:11775.7px;color:rgb(242,114,33);
}
#P70_47
{
left:17369px;bottom:11770.8px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P70_48
{
left:7669.5px;bottom:10554.4px;color:rgb(242,114,33);
}
#P70_49
{
left:9737.02px;bottom:10559.4px;color:rgb(242,114,33);
}
#P70_50
{
left:10782px;bottom:10554.4px;color:rgb(242,114,33);
}
#P70_51
{
left:12084.9px;bottom:10559.4px;color:rgb(242,114,33);
}
#P70_52
{
left:14332.2px;bottom:10554.4px;color:rgb(242,114,33);
}
#P70_53
{
left:6517.18px;bottom:9154.98px;color:rgb(35,31,31);
}
#P70_54
{
left:7669.18px;bottom:9154.98px;color:rgb(237,28,35);
}
#P70_55
{
left:11226.8px;bottom:9160.58px;color:rgb(237,28,35);
}
#P70_56
{
left:12026.8px;bottom:9160.58px;color:rgb(35,31,31);
}
#P70_57
{
left:6517.18px;bottom:7816.58px;color:rgb(35,31,31);
}
#P70_58
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P70_59
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P70_60
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P70_61
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P70_62
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P70_63
{
left:6517.18px;bottom:6472.58px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P70_64
{
left:0px;letter-spacing:0.4px;margin-left:-922.4px;
}
#P70_65
{
left:0px;letter-spacing:0px;margin-left:-59.6px;
}
#P70_66
{
left:9498.62px;bottom:33219.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P70_67
{
left:0px;letter-spacing:0px;margin-left:7124.2px;
}
#P70_68
{
left:0px;letter-spacing:0px;
}
#P70_69
{
left:0px;letter-spacing:0px;margin-left:8118.5px;
}
#P70_70
{
left:0px;letter-spacing:-0.2px;
}
#P70_71
{
left:4638.98px;bottom:46141.5px;color:rgb(255,242,0);
}
#PageContainer70
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg070.jpg");background-repeat:no-repeat;background-size: 926px 1319px; background-position: left bottom;
}
#ImageContainer70 {bottom:0.00px;left:0.00px;width:925.52px;height:1318.60px;position:absolute;} #TextContainer70 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}

.activity_pos{top: 170px;left: 100px;position: absolute;height: 50px;width: auto;}