.tr4{ color:transparent;}
#P4_1
{
left:2542.57px;bottom:2306.95px;color:white;
}
#P4_2
{
left:6531.07px;bottom:45661px;color:rgb(35,63,142);
}
#P4_3
{
left:6487.17px;bottom:40775.2px;word-spacing:36.6px;color:rgb(35,31,31);
}
#P4_4
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P4_5
{
left:26994.7px;bottom:40770.3px;letter-spacing:-0.5px;word-spacing:38px;color:rgb(35,31,31);
}
#P4_6
{
left:32108.5px;bottom:40775.2px;word-spacing:36.6px;color:rgb(35,31,31);
}
#P4_7
{
left:6487.17px;bottom:39750.9px;color:rgb(35,31,31);
}
#P4_8
{
left:9969.86px;bottom:39746px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P4_9
{
left:13620.8px;bottom:39750.9px;word-spacing:50px;color:rgb(35,31,31);
}
#P4_10
{
left:6487.17px;bottom:38726.6px;letter-spacing:0.1px;word-spacing:102.1px;color:rgb(35,31,31);
}
#P4_11
{
left:6487.17px;bottom:37702.3px;word-spacing:49.3px;color:rgb(35,31,31);
}
#P4_12
{
left:29646.7px;bottom:37697.3px;letter-spacing:-0.5px;word-spacing:50.7px;color:rgb(35,31,31);
}
#P4_13
{
left:34773.2px;bottom:37701.6px;color:rgb(35,31,31);
}
#P4_14
{
left:35033.7px;bottom:37702.3px;color:rgb(35,31,31);
}
#P4_15
{
left:6487.17px;bottom:36678px;word-spacing:92.9px;color:rgb(35,31,31);
}
#P4_16
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P4_17
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P4_18
{
left:6487.17px;bottom:35653.6px;word-spacing:23.9px;color:rgb(35,31,31);
}
#P4_19
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P4_20
{
left:6487.17px;bottom:34629.3px;word-spacing:79.6px;color:rgb(35,31,31);
}
#P4_21
{
left:6487.17px;bottom:33605px;word-spacing:25.3px;color:rgb(35,31,31);
}
#P4_22
{
left:6487.17px;bottom:32580.7px;word-spacing:7.7px;color:rgb(35,31,31);
}
#P4_23
{
left:6487.17px;bottom:31556.4px;word-spacing:-32.4px;color:rgb(35,31,31);
}
#P4_24
{
left:6487.17px;bottom:30532px;color:rgb(35,31,31);
}
#P4_25
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P4_26
{
left:6487.17px;bottom:28995.9px;word-spacing:100.7px;color:rgb(35,31,31);
}
#P4_27
{
left:15069.6px;bottom:28991px;letter-spacing:-0.5px;word-spacing:104.2px;color:rgb(35,31,31);
}
#P4_28
{
left:20249.7px;bottom:28995.9px;word-spacing:100.7px;color:rgb(35,31,31);
}
#P4_29
{
left:6487.17px;bottom:27971.6px;word-spacing:1.4px;color:rgb(35,31,31);
}
#P4_30
{
left:6487.17px;bottom:26947.3px;letter-spacing:-0.1px;word-spacing:-23.9px;color:rgb(35,31,31);
}
#P4_31
{
left:6487.17px;bottom:25922.9px;word-spacing:52.1px;color:rgb(35,31,31);
}
#P4_32
{
left:6487.17px;bottom:24898.6px;color:rgb(35,31,31);
}
#P4_33
{
left:0px;letter-spacing:0px;margin-left:-219.6px;
}
#P4_34
{
left:0px;letter-spacing:0px;margin-left:16.9px;
}
#P4_35
{
left:6487.17px;bottom:23362.5px;word-spacing:43.6px;color:rgb(35,31,31);
}
#P4_36
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P4_37
{
left:29296.1px;bottom:23357.6px;word-spacing:43.6px;color:rgb(35,31,31);
}
#P4_38
{
left:6487.17px;bottom:22333.2px;word-spacing:166.1px;color:rgb(35,31,31);
}
#P4_39
{
left:16076.4px;bottom:22338.2px;word-spacing:166.1px;color:rgb(35,31,31);
}
#P4_40
{
left:6487.17px;bottom:21313.9px;word-spacing:90.1px;color:rgb(35,31,31);
}
#P4_41
{
left:6487.17px;bottom:20289.5px;word-spacing:161.2px;color:rgb(35,31,31);
}
#P4_42
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P4_43
{
left:6487.17px;bottom:19265.2px;word-spacing:34.5px;color:rgb(35,31,31);
}
#P4_44
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P4_45
{
left:6487.17px;bottom:18240.9px;color:rgb(35,31,31);
}
#P4_46
{
left:7479.1px;bottom:18236px;letter-spacing:-0.2px;word-spacing:128.8px;color:rgb(35,31,31);
}
#P4_47
{
left:23236.7px;bottom:18240.9px;letter-spacing:-0.1px;word-spacing:128.8px;color:rgb(35,31,31);
}
#P4_48
{
left:6487.17px;bottom:17216.6px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P4_49
{
left:6487.17px;bottom:15680.4px;word-spacing:102.8px;color:rgb(35,31,31);
}
#P4_50
{
left:6487.17px;bottom:14651.2px;word-spacing:91.5px;color:rgb(35,31,31);
}
#P4_51
{
left:11410.2px;bottom:14656.1px;word-spacing:91.5px;color:rgb(35,31,31);
}
#P4_52
{
left:6487.17px;bottom:13631.8px;letter-spacing:0.4px;word-spacing:-3.5px;color:rgb(35,31,31);
}
#P4_53
{
left:0px;letter-spacing:0px;margin-left:-1.1px;
}
#P4_54
{
left:0px;letter-spacing:0px;
}
#P4_55
{
left:14241px;bottom:13626.9px;word-spacing:-4.2px;color:rgb(35,31,31);
}
#P4_56
{
left:20759.2px;bottom:13631.8px;letter-spacing:-0.1px;word-spacing:-3.5px;color:rgb(35,31,31);
}
#P4_57
{
left:6487.17px;bottom:12607.5px;word-spacing:-2.1px;color:rgb(35,31,31);
}
#P4_58
{
left:6487.17px;bottom:11583.2px;word-spacing:149.2px;color:rgb(35,31,31);
}
#P4_59
{
left:6487.17px;bottom:10558.8px;color:rgb(35,31,31);
}
#P4_60
{
left:6487.17px;bottom:8140.67px;color:rgb(35,63,142);
}
#P4_61
{
left:0px;letter-spacing:0px;margin-left:-71.1px;
}
#P4_62
{
left:0px;letter-spacing:0px;margin-left:-71.1px;
}
#P4_63
{
left:6487.17px;bottom:6855.23px;word-spacing:259.1px;color:rgb(35,31,31);
}
#P4_64
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P4_65
{
left:6487.17px;bottom:5830.91px;letter-spacing:-0.7px;word-spacing:154.9px;color:rgb(35,31,31);
}
#P4_66
{
left:13562.4px;bottom:5825.98px;letter-spacing:-0.4px;word-spacing:154.9px;color:rgb(35,31,31);
}
#P4_67
{
left:18749.4px;bottom:5830.91px;word-spacing:154.9px;color:rgb(35,31,31);
}
#P4_68
{
left:20353.2px;bottom:5825.98px;letter-spacing:-25.3px;word-spacing:154.9px;color:rgb(35,31,31);
}
#P4_69
{
left:0px;letter-spacing:0px;margin-left:25.3px;
}
#P4_70
{
left:24915.8px;bottom:5830.91px;color:rgb(35,31,31);
}
#P4_71
{
left:25476.2px;bottom:5825.98px;letter-spacing:-0.5px;word-spacing:159.8px;color:rgb(35,31,31);
}
#P4_72
{
left:31068.7px;bottom:5830.91px;word-spacing:154.9px;color:rgb(35,31,31);
}
#P4_73
{
left:6487.17px;bottom:4806.6px;letter-spacing:-0.1px;word-spacing:87.3px;color:rgb(35,31,31);
}
#PageContainer4
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg004.jpg");background-repeat:no-repeat;background-size: 108px 102px; background-position: left bottom;
}
#ImageContainer4 {bottom:0.00px;left:0.00px;width:107.79px;height:102.03px;position:absolute;} #TextContainer4 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
