.tr60{ color:transparent;}
#P60_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P60_2
{
left:7299.07px;bottom:45585.3px;color:rgb(35,31,31);
}
#P60_3
{
left:29053.4px;bottom:45579.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P60_4
{
left:34954.8px;bottom:45585.3px;color:rgb(35,31,31);
}
#P60_5
{
left:6531.07px;bottom:43011.5px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P60_6
{
left:0px;letter-spacing:0px;margin-left:-61.4px;
}
#P60_7
{
left:0px;letter-spacing:-0.4px;
}
#P60_8
{
left:6531.07px;bottom:41795.1px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P60_9
{
left:6531.07px;bottom:40578.7px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P60_10
{
left:6531.07px;bottom:39362.3px;letter-spacing:-0.3px;color:rgb(242,114,33);
}
#P60_11
{
left:6531.07px;bottom:37963.7px;color:rgb(35,31,31);
}
#P60_12
{
left:8373.44px;bottom:37969.3px;letter-spacing:360px;color:rgb(35,31,31);
}
#P60_13
{
left:0px;letter-spacing:0px;margin-left:-360px;
}
#P60_14
{
left:6531.07px;bottom:36753.3px;color:rgb(35,31,31);
}
#P60_15
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P60_16
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P60_17
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_18
{
left:19459.1px;bottom:36953.3px;color:rgb(35,31,31);
}
#P60_19
{
left:21827px;bottom:36753.3px;letter-spacing:-0.1px;word-spacing:1355.2px;color:rgb(35,31,31);
}
#P60_20
{
left:6531.07px;bottom:35409.3px;color:rgb(35,31,31);
}
#P60_21
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P60_22
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P60_23
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_24
{
left:19459.1px;bottom:35609.3px;color:rgb(35,31,31);
}
#P60_25
{
left:20242.2px;bottom:35409.3px;letter-spacing:1354.4px;color:rgb(35,31,31);
}
#P60_26
{
left:0px;letter-spacing:0px;margin-left:-1354.4px;
}
#P60_27
{
left:6531.07px;bottom:34065.3px;color:rgb(35,31,31);
}
#P60_28
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P60_29
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P60_30
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_31
{
left:19459.1px;bottom:34265.3px;color:rgb(35,31,31);
}
#P60_32
{
left:21827px;bottom:34065.3px;letter-spacing:-0.1px;word-spacing:1355.2px;color:rgb(35,31,31);
}
#P60_33
{
left:22831.9px;bottom:32715.7px;color:rgb(35,31,31);
}
#P60_34
{
left:6531.07px;bottom:31505.3px;color:rgb(35,31,31);
}
#P60_35
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_36
{
left:0px;letter-spacing:0px;margin-left:1913.6px;
}
#P60_37
{
left:0px;letter-spacing:0px;margin-left:1064px;
}
#P60_38
{
left:0px;letter-spacing:0px;margin-left:2190.4px;
}
#P60_39
{
left:6531.07px;bottom:30161.3px;color:rgb(35,31,31);
}
#P60_40
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_41
{
left:0px;letter-spacing:0px;margin-left:951.2px;
}
#P60_42
{
left:0px;letter-spacing:0px;margin-left:1754.4px;
}
#P60_43
{
left:0px;letter-spacing:0px;margin-left:2184px;
}
#P60_44
{
left:6531.07px;bottom:28817.3px;color:rgb(35,31,31);
}
#P60_45
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_46
{
left:0px;letter-spacing:0px;margin-left:1793.6px;
}
#P60_47
{
left:0px;letter-spacing:0px;margin-left:1754.4px;
}
#P60_48
{
left:0px;letter-spacing:0px;margin-left:1886.4px;
}
#P60_49
{
left:6531.07px;bottom:27473.3px;color:rgb(35,31,31);
}
#P60_50
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_51
{
left:0px;letter-spacing:0px;margin-left:87.2px;
}
#P60_52
{
left:0px;letter-spacing:0px;margin-left:2330.4px;
}
#P60_53
{
left:0px;letter-spacing:0px;margin-left:1754.4px;
}
#P60_54
{
left:0px;letter-spacing:0px;margin-left:2816px;
}
#P60_55
{
left:6531.07px;bottom:26129.3px;color:rgb(35,31,31);
}
#P60_56
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_57
{
left:0px;letter-spacing:0px;margin-left:2029.6px;
}
#P60_58
{
left:0px;letter-spacing:0px;margin-left:1754.4px;
}
#P60_59
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P60_60
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P60_61
{
left:0px;letter-spacing:0px;margin-left:2088.8px;
}
#P60_62
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P60_63
{
left:6531.07px;bottom:24785.3px;color:rgb(35,31,31);
}
#P60_64
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P60_65
{
left:0px;letter-spacing:0px;margin-left:607.2px;
}
#P60_66
{
left:0px;letter-spacing:0px;margin-left:1754.4px;
}
#P60_67
{
left:0px;letter-spacing:0px;margin-left:3004.8px;
}
#P60_68
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P60_69
{
left:6531.07px;bottom:21242.2px;color:rgb(35,63,142);
}
#P60_70
{
left:6531.07px;bottom:19601.3px;color:rgb(35,31,31);
}
#P60_71
{
left:10563.1px;bottom:17233.3px;word-spacing:3910.4px;color:rgb(35,31,31);
}
#P60_72
{
left:0px;letter-spacing:0px;margin-left:526.4px;
}
#P60_73
{
left:8771.07px;bottom:14225.3px;color:rgb(35,31,31);
}
#P60_74
{
left:13607px;bottom:14219.7px;color:rgb(35,31,31);
}
#P60_75
{
left:20772.7px;bottom:14225.3px;color:rgb(35,31,31);
}
#P60_76
{
left:22535px;bottom:14219.7px;color:rgb(35,31,31);
}
#P60_77
{
left:28606.3px;bottom:14225.3px;color:rgb(35,31,31);
}
#P60_78
{
left:33042.2px;bottom:14219.7px;color:rgb(35,31,31);
}
#P60_79
{
left:34475.8px;bottom:14225.3px;color:rgb(35,31,31);
}
#P60_80
{
left:8771.07px;bottom:13009.3px;color:rgb(35,31,31);
}
#P60_81
{
left:6531.07px;bottom:10435.5px;color:rgb(242,114,33);
}
#P60_82
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P60_83
{
left:0px;letter-spacing:-0.2px;
}
#P60_84
{
left:7683.39px;bottom:9219.07px;letter-spacing:-0.3px;color:rgb(242,114,33);
}
#P60_85
{
left:7683.07px;bottom:7819.68px;color:rgb(237,28,35);
}
#P60_86
{
left:11240.7px;bottom:7825.28px;color:rgb(237,28,35);
}
#P60_87
{
left:11470.3px;bottom:7825.28px;color:rgb(35,31,31);
}
#P60_88
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P60_89
{
left:6531.07px;bottom:6481.28px;color:rgb(35,31,31);
}
#P60_90
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P60_91
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P60_92
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P60_93
{
left:7683.07px;bottom:5137.28px;letter-spacing:904.8px;word-spacing:17.6px;color:rgb(35,31,31);
}
#P60_94
{
left:0px;letter-spacing:0px;margin-left:-904.8px;
}
#P60_95
{
left:10226.2px;bottom:5137.28px;color:rgb(35,31,31);
}
#P60_96
{
left:4679.46px;bottom:21164.8px;color:rgb(255,242,0);
}
#PageContainer60
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg060.jpg");background-repeat:no-repeat;background-size: 974px 1278px; background-position: left bottom;
}
#ImageContainer60 {bottom:0.00px;left:0.00px;width:974.19px;height:1277.54px;position:absolute;} #TextContainer60 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
.pdf_pos_1{top: 184px;left: 120px;position: absolute;height: 50px;width: auto;}