.audio_pos{top: 423px;left: 415px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 423px;left: 415px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}


.tr64{ color:transparent;}
#P64_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P64_2
{
left:6531.07px;bottom:44687.6px;color:rgb(35,63,142);
}
#P64_3
{
left:13483.3px;bottom:45357.1px;color:rgb(35,63,142);
}
#P64_4
{
left:6542.02px;bottom:41147.3px;color:rgb(35,31,31);
}
#P64_5
{
left:6542.02px;bottom:39931.3px;color:rgb(35,31,31);
}
#P64_6
{
left:0px;letter-spacing:0px;margin-left:-4.8px;
}
#P64_7
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P64_8
{
left:6542.02px;bottom:38715.3px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P64_9
{
left:6542.02px;bottom:37499.3px;color:rgb(35,31,31);
}
#P64_10
{
left:0px;letter-spacing:0px;margin-left:-2.4px;
}
#P64_11
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P64_12
{
left:18880.9px;bottom:34217.9px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P64_13
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P64_14
{
left:18880.9px;bottom:33001.9px;color:rgb(35,31,31);
}
#P64_15
{
left:19399.3px;bottom:31785.9px;letter-spacing:-3.4px;color:rgb(35,31,31);
}
#P64_16
{
left:19732.9px;bottom:30569.9px;color:rgb(35,31,31);
}
#P64_17
{
left:20072.9px;bottom:29353.9px;color:rgb(35,31,31);
}
#P64_18
{
left:21686.7px;bottom:29703.8px;color:rgb(35,31,31);
}
#P64_19
{
left:21954.4px;bottom:29353.9px;color:rgb(35,31,31);
}
#P64_20
{
left:20112.8px;bottom:28137.9px;color:rgb(35,31,31);
}
#P64_21
{
left:18922.4px;bottom:26921.9px;color:rgb(35,31,31);
}
#P64_22
{
left:17500.8px;bottom:25257.9px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P64_23
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P64_24
{
left:18820px;bottom:24041.9px;color:rgb(35,31,31);
}
#P64_25
{
left:18826.4px;bottom:22825.9px;letter-spacing:-2.7px;color:rgb(35,31,31);
}
#P64_26
{
left:19974.4px;bottom:21609.9px;color:rgb(35,31,31);
}
#P64_27
{
left:20076px;bottom:20393.9px;color:rgb(35,31,31);
}
#P64_28
{
left:20000.8px;bottom:19177.9px;color:rgb(35,31,31);
}
#P64_29
{
left:19012px;bottom:17961.9px;color:rgb(35,31,31);
}
#P64_30
{
left:17586.4px;bottom:16297.9px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P64_31
{
left:17676px;bottom:15081.9px;color:rgb(35,31,31);
}
#P64_32
{
left:19094.4px;bottom:13865.9px;color:rgb(35,31,31);
}
#P64_33
{
left:22665.9px;bottom:14215.8px;color:rgb(35,31,31);
}
#P64_34
{
left:22933.6px;bottom:13865.9px;color:rgb(35,31,31);
}
#P64_35
{
left:19852px;bottom:12649.9px;color:rgb(35,31,31);
}
#P64_36
{
left:19429.6px;bottom:11433.9px;color:rgb(35,31,31);
}
#P64_37
{
left:17124px;bottom:10217.9px;color:rgb(35,31,31);
}
#P64_38
{
left:18330.4px;bottom:9001.92px;color:rgb(35,31,31);
}
#P64_39
{
left:23855.2px;bottom:7394.72px;color:rgb(35,31,31);
}
#P64_40
{
left:24271.4px;bottom:7437.68px;color:rgb(35,31,31);
}
#P64_41
{
left:25827.6px;bottom:7394.72px;color:rgb(35,31,31);
}
#P64_42
{
left:26604.4px;bottom:7437.68px;color:rgb(35,31,31);
}
#P64_43
{
left:6990.02px;bottom:8305.61px;color:rgb(35,31,31);
}
#P64_44
{
left:7133.5px;bottom:7997.07px;color:rgb(35,31,31);
}
#P64_45
{
left:9867.84px;bottom:7997.07px;color:rgb(35,31,31);
}
#P64_46
{
left:10269.1px;bottom:7997.07px;color:rgb(35,31,31);
}
#P64_47
{
left:11564.5px;bottom:7997.07px;color:rgb(35,31,31);
}
#P64_48
{
left:6989.89px;bottom:7152.27px;color:rgb(35,31,31);
}
#P64_49
{
left:6989.89px;bottom:6307.47px;color:rgb(35,31,31);
}
#P64_50
{
left:6990.02px;bottom:5771.21px;color:rgb(35,31,31);
}
#P64_51
{
left:7179.65px;bottom:5462.67px;color:rgb(35,31,31);
}
#P64_52
{
left:8626.37px;bottom:5462.67px;color:rgb(35,31,31);
}
#P64_53
{
left:9027.65px;bottom:5462.67px;color:rgb(35,31,31);
}
#P64_54
{
left:10323px;bottom:5462.67px;color:rgb(35,31,31);
}
#P64_55
{
left:6990.02px;bottom:4926.39px;color:rgb(35,31,31);
}
#P64_56
{
left:7189.44px;bottom:4617.85px;color:rgb(35,31,31);
}
#P64_57
{
left:9472.51px;bottom:4617.85px;color:rgb(35,31,31);
}
#P64_58
{
left:17422px;bottom:32567.6px;
}
#PageContainer64
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg064.jpg");background-repeat:no-repeat;background-size: 970px 952px; background-position: left bottom;
}
#ImageContainer64 {bottom:0.00px;left:0.00px;width:970.29px;height:952.07px;position:absolute;} #TextContainer64 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.Animation_pos{top: 490px;left: 415px;position: absolute;height: 50px;width: auto;}

.pdf_pos{top: 115px;left: 450px;position: absolute;height: 50px;width: auto;}