.tr30{ color:transparent;}
#P30_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P30_2
{
left:6485.7px;bottom:46392.6px;color:rgb(242,114,33);
}
#P30_3
{
left:6485.7px;bottom:44678.4px;word-spacing:591.2px;color:rgb(35,31,31);
}
#P30_4
{
left:0px;letter-spacing:0px;margin-left:674.4px;
}
#P30_5
{
left:11296.1px;bottom:44672.8px;color:rgb(35,31,31);
}
#P30_6
{
left:13333.7px;bottom:44678.4px;word-spacing:527.2px;color:rgb(35,31,31);
}
#P30_7
{
left:0px;letter-spacing:0px;margin-left:264.8px;
}
#P30_8
{
left:0px;letter-spacing:0px;margin-left:972.8px;
}
#P30_9
{
left:25760.1px;bottom:44672.8px;color:rgb(35,31,31);
}
#P30_10
{
left:27605.7px;bottom:44678.4px;word-spacing:996.8px;color:rgb(35,31,31);
}
#P30_11
{
left:6485.7px;bottom:43014.4px;word-spacing:463.2px;color:rgb(35,31,31);
}
#P30_12
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P30_13
{
left:0px;letter-spacing:0px;margin-left:128px;
}
#P30_14
{
left:11296.1px;bottom:43008.8px;color:rgb(35,31,31);
}
#P30_15
{
left:13333.7px;bottom:43014.4px;word-spacing:527.2px;color:rgb(35,31,31);
}
#P30_16
{
left:0px;letter-spacing:0px;margin-left:264.8px;
}
#P30_17
{
left:0px;letter-spacing:0px;margin-left:579.2px;
}
#P30_18
{
left:25760.1px;bottom:43008.8px;color:rgb(35,31,31);
}
#P30_19
{
left:27605.7px;bottom:43014.4px;word-spacing:996.8px;color:rgb(35,31,31);
}
#P30_20
{
left:6485.7px;bottom:41350.4px;word-spacing:591.2px;color:rgb(35,31,31);
}
#P30_21
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P30_22
{
left:11296.1px;bottom:41344.8px;color:rgb(35,31,31);
}
#P30_23
{
left:12065.7px;bottom:41350.4px;color:rgb(35,31,31);
}
#P30_24
{
left:0px;letter-spacing:0px;margin-left:1038.4px;
}
#P30_25
{
left:0px;letter-spacing:0px;margin-left:562.4px;
}
#P30_26
{
left:0px;letter-spacing:0px;margin-left:320.8px;
}
#P30_27
{
left:0px;letter-spacing:0px;margin-left:527.2px;
}
#P30_28
{
left:25760.1px;bottom:41344.8px;color:rgb(35,31,31);
}
#P30_29
{
left:27605.7px;bottom:41350.4px;word-spacing:996.8px;color:rgb(35,31,31);
}
#P30_30
{
left:6485.7px;bottom:39686.4px;word-spacing:591.2px;color:rgb(35,31,31);
}
#P30_31
{
left:0px;letter-spacing:0px;margin-left:1066.4px;
}
#P30_32
{
left:11296.1px;bottom:39680.8px;color:rgb(35,31,31);
}
#P30_33
{
left:12065.7px;bottom:39686.4px;color:rgb(35,31,31);
}
#P30_34
{
left:0px;letter-spacing:0px;margin-left:1038.4px;
}
#P30_35
{
left:0px;letter-spacing:0px;margin-left:562.4px;
}
#P30_36
{
left:0px;letter-spacing:0px;margin-left:1716.8px;
}
#P30_37
{
left:0px;letter-spacing:0px;margin-left:527.2px;
}
#P30_38
{
left:25760.1px;bottom:39680.8px;color:rgb(35,31,31);
}
#P30_39
{
left:27605.7px;bottom:39686.4px;word-spacing:996.8px;color:rgb(35,31,31);
}
#P30_40
{
left:6485.7px;bottom:36143.4px;color:rgb(35,63,142);
}
#P30_41
{
left:6485.7px;bottom:34040.6px;color:rgb(242,114,33);
}
#P30_42
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P30_43
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P30_44
{
left:6485.7px;bottom:31224.3px;color:rgb(242,114,33);
}
#P30_45
{
left:8906.62px;bottom:31662.6px;word-spacing:570.4px;color:rgb(35,31,31);
}
#P30_46
{
left:6485.82px;bottom:28870.6px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P30_47
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P30_48
{
left:9678.59px;bottom:28865px;color:rgb(35,31,31);
}
#P30_49
{
left:10448.2px;bottom:28870.6px;color:rgb(35,31,31);
}
#P30_50
{
left:11681.8px;bottom:28865px;color:rgb(35,31,31);
}
#P30_51
{
left:15073.8px;bottom:28870.6px;color:rgb(35,31,31);
}
#P30_52
{
left:16949.8px;bottom:28865px;color:rgb(35,31,31);
}
#P30_53
{
left:19288.2px;bottom:28870.6px;color:rgb(35,31,31);
}
#P30_54
{
left:25410.9px;bottom:28970.2px;color:rgb(35,31,31);
}
#P30_55
{
left:25606.4px;bottom:28870.4px;color:rgb(35,31,31);
}
#P30_56
{
left:6485.63px;bottom:27654.4px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P30_57
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P30_58
{
left:9678.4px;bottom:27648.8px;color:rgb(35,31,31);
}
#P30_59
{
left:10448px;bottom:27654.4px;color:rgb(35,31,31);
}
#P30_60
{
left:11911.2px;bottom:27648.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P30_61
{
left:14956px;bottom:27654.4px;color:rgb(35,31,31);
}
#P30_62
{
left:16832px;bottom:27648.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P30_63
{
left:19606.4px;bottom:27654.4px;color:rgb(35,31,31);
}
#P30_64
{
left:6485.7px;bottom:25976.6px;color:rgb(242,114,33);
}
#P30_65
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P30_66
{
left:0px;letter-spacing:-0.6px;
}
#P30_67
{
left:0px;letter-spacing:0px;margin-left:-281.5px;
}
#P30_68
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P30_69
{
left:0px;letter-spacing:0px;
}
#P30_70
{
left:7638.02px;bottom:24760.2px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P30_71
{
left:6485.7px;bottom:23366.4px;color:rgb(35,31,31);
}
#P30_72
{
left:9255.68px;bottom:22442.7px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P30_73
{
left:0px;letter-spacing:0px;margin-left:496px;
}
#P30_74
{
left:0px;letter-spacing:0px;margin-left:253.6px;
}
#P30_75
{
left:0px;letter-spacing:0px;margin-left:524.8px;
}
#P30_76
{
left:0px;letter-spacing:0px;margin-left:292px;
}
#P30_77
{
left:9255.68px;bottom:21226.7px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P30_78
{
left:0px;letter-spacing:0px;margin-left:115.2px;
}
#P30_79
{
left:0px;letter-spacing:0px;margin-left:613.6px;
}
#P30_80
{
left:0px;letter-spacing:0px;margin-left:741.6px;
}
#P30_81
{
left:0px;letter-spacing:0px;margin-left:769.6px;
}
#P30_82
{
left:4762.18px;bottom:36325.4px;color:rgb(255,242,0);
}
#P30_83
{
left:8348.42px;bottom:17752.1px;color:rgb(35,31,31);
}
#P30_84
{
left:14829.6px;bottom:17786.3px;color:rgb(35,31,31);
}
#P30_85
{
left:15131.4px;bottom:17752.1px;color:rgb(35,31,31);
}
#P30_86
{
left:18080.5px;bottom:17747.7px;color:rgb(35,31,31);
}
#P30_87
{
left:21796.6px;bottom:17787.4px;color:rgb(35,31,31);
}
#P30_88
{
left:31226.9px;bottom:17783px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P30_89
{
left:8409.47px;bottom:15947.5px;color:rgb(35,31,31);
}
#P30_90
{
left:8409.47px;bottom:14603.5px;color:rgb(35,31,31);
}
#P30_91
{
left:8409.47px;bottom:13259.6px;color:rgb(35,31,31);
}
#P30_92
{
left:8409.47px;bottom:11915.6px;color:rgb(35,31,31);
}
#P30_93
{
left:8409.47px;bottom:10571.7px;color:rgb(35,31,31);
}
#P30_94
{
left:22106.5px;bottom:15947.5px;color:rgb(35,31,31);
}
#P30_95
{
left:22106.5px;bottom:14603.5px;color:rgb(35,31,31);
}
#P30_96
{
left:22106.5px;bottom:13259.6px;color:rgb(35,31,31);
}
#P30_97
{
left:22106.5px;bottom:11915.6px;color:rgb(35,31,31);
}
#P30_98
{
left:22106.5px;bottom:10571.7px;color:rgb(35,31,31);
}
#PageContainer30
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg030.jpg");background-repeat:no-repeat;background-size: 970px 1052px; background-position: left bottom;
}
#ImageContainer30 {bottom:0.00px;left:0.00px;width:969.78px;height:1051.73px;position:absolute;} #TextContainer30 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
.activity_pos{top: 350px;left: 100px;position: absolute;height: 50px;width: auto;}