.tr133{ color:transparent;}
#P133_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P133_2
{
left:6471.81px;bottom:46420.9px;color:rgb(35,31,31);
}
#P133_3
{
left:17954.2px;bottom:46415.3px;color:rgb(35,31,31);
}
#P133_4
{
left:18783.8px;bottom:46420.9px;color:rgb(35,31,31);
}
#P133_5
{
left:6471.81px;bottom:45204.9px;color:rgb(35,31,31);
}
#P133_6
{
left:7507.01px;bottom:45199.3px;color:rgb(35,31,31);
}
#P133_7
{
left:9076.61px;bottom:45204.9px;color:rgb(35,31,31);
}
#P133_8
{
left:6471.81px;bottom:43988.9px;color:rgb(35,31,31);
}
#P133_9
{
left:7507.01px;bottom:43983.3px;color:rgb(35,31,31);
}
#P133_10
{
left:9448.58px;bottom:43988.9px;color:rgb(35,31,31);
}
#P133_11
{
left:22379px;bottom:43983.3px;color:rgb(35,31,31);
}
#P133_12
{
left:22645.4px;bottom:43988.9px;color:rgb(35,31,31);
}
#P133_13
{
left:6471.81px;bottom:42772.9px;color:rgb(35,31,31);
}
#P133_14
{
left:7507.01px;bottom:42767.3px;color:rgb(35,31,31);
}
#P133_15
{
left:9327.81px;bottom:42772.9px;color:rgb(35,31,31);
}
#P133_16
{
left:18640.6px;bottom:42767.3px;color:rgb(35,31,31);
}
#P133_17
{
left:19011px;bottom:42772.9px;color:rgb(35,31,31);
}
#P133_18
{
left:21207px;bottom:42767.3px;color:rgb(35,31,31);
}
#P133_19
{
left:22406.2px;bottom:42772.9px;color:rgb(35,31,31);
}
#P133_20
{
left:6471.81px;bottom:41095px;color:rgb(242,114,33);
}
#P133_21
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P133_22
{
left:0px;letter-spacing:-0.2px;
}
#P133_23
{
left:7624.13px;bottom:39878.7px;letter-spacing:-1px;color:rgb(242,114,33);
}
#P133_24
{
left:10823.8px;bottom:37524.9px;word-spacing:1049.6px;color:rgb(35,31,31);
}
#P133_25
{
left:0px;letter-spacing:0px;margin-left:142.4px;
}
#P133_26
{
left:0px;letter-spacing:0px;margin-left:219.2px;
}
#P133_27
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P133_28
{
left:10823.8px;bottom:36180.9px;word-spacing:1161.6px;color:rgb(35,31,31);
}
#P133_29
{
left:0px;letter-spacing:0px;margin-left:576.8px;
}
#P133_30
{
left:0px;letter-spacing:0px;margin-left:1852.8px;
}
#P133_31
{
left:0px;letter-spacing:0px;margin-left:938.4px;
}
#P133_32
{
left:9676.22px;bottom:33283.2px;color:rgb(35,31,31);
}
#P133_33
{
left:10432.2px;bottom:33288.8px;color:rgb(35,31,31);
}
#P133_34
{
left:10661.8px;bottom:33283.2px;color:rgb(35,31,31);
}
#P133_35
{
left:11357.8px;bottom:33288.8px;color:rgb(35,31,31);
}
#P133_36
{
left:17313.8px;bottom:33283.2px;color:rgb(35,31,31);
}
#P133_37
{
left:18995.4px;bottom:33288.8px;color:rgb(35,31,31);
}
#P133_38
{
left:26068.2px;bottom:33283.2px;color:rgb(35,31,31);
}
#P133_39
{
left:27749.8px;bottom:33288.8px;color:rgb(35,31,31);
}
#P133_40
{
left:6471.81px;bottom:25345.9px;color:rgb(35,63,142);
}
#P133_41
{
left:6471.81px;bottom:23704.9px;color:rgb(35,31,31);
}
#P133_42
{
left:6471.81px;bottom:22040.9px;color:rgb(35,31,31);
}
#P133_43
{
left:18735px;bottom:22035.3px;color:rgb(35,31,31);
}
#P133_44
{
left:20433.4px;bottom:22040.9px;color:rgb(35,31,31);
}
#P133_45
{
left:7751.81px;bottom:19480.9px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P133_46
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P133_47
{
left:10601.4px;bottom:19475.3px;color:rgb(35,31,31);
}
#P133_48
{
left:12490.2px;bottom:19480.9px;color:rgb(35,31,31);
}
#P133_49
{
left:7751.81px;bottom:18259.3px;color:rgb(35,31,31);
}
#P133_50
{
left:9679.81px;bottom:18264.9px;color:rgb(35,31,31);
}
#P133_51
{
left:7751.81px;bottom:17048.9px;color:rgb(35,31,31);
}
#P133_52
{
left:6471.81px;bottom:14488.9px;color:rgb(35,31,31);
}
#P133_53
{
left:18316.6px;bottom:14483.3px;color:rgb(35,31,31);
}
#P133_54
{
left:19261.4px;bottom:14488.9px;color:rgb(35,31,31);
}
#P133_55
{
left:7751.81px;bottom:11928.9px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P133_56
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P133_57
{
left:10601.4px;bottom:11923.3px;color:rgb(35,31,31);
}
#P133_58
{
left:11676.6px;bottom:11928.9px;color:rgb(35,31,31);
}
#P133_59
{
left:15948.6px;bottom:11923.3px;color:rgb(35,31,31);
}
#P133_60
{
left:16178.2px;bottom:11928.9px;color:rgb(35,31,31);
}
#P133_61
{
left:7751.81px;bottom:10707.3px;color:rgb(35,31,31);
}
#P133_62
{
left:8926.21px;bottom:10712.9px;letter-spacing:10.7px;color:rgb(35,31,31);
}
#P133_63
{
left:0px;letter-spacing:0px;margin-left:-10.7px;
}
#P133_64
{
left:7751.81px;bottom:9496.9px;color:rgb(35,31,31);
}
#P133_65
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P133_66
{
left:6471.81px;bottom:6923.07px;color:rgb(242,114,33);
}
#P133_67
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P133_68
{
left:16741.2px;bottom:6928.06px;color:rgb(242,114,33);
}
#P133_69
{
left:17927.6px;bottom:6923.07px;color:rgb(242,114,33);
}
#P133_70
{
left:19230.5px;bottom:6928.06px;color:rgb(242,114,33);
}
#P133_71
{
left:21302.2px;bottom:6923.07px;color:rgb(242,114,33);
}
#P133_72
{
left:6471.81px;bottom:5528.9px;color:rgb(35,31,31);
}
#P133_73
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P133_74
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P133_75
{
left:6471.81px;bottom:4312.9px;color:rgb(35,31,31);
}
#P133_76
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P133_77
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P133_78
{
left:0px;letter-spacing:0px;margin-left:-49.6px;
}
#P133_79
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P133_80
{
left:6471.81px;bottom:3096.9px;color:rgb(35,31,31);
}
#P133_81
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P133_82
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P133_83
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P133_84
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P133_85
{
left:6471.81px;bottom:25345.9px;
}
#P133_86
{
left:6471.81px;bottom:23704.9px;
}
#P133_87
{
left:4754.79px;bottom:25218.4px;color:rgb(255,242,0);
}
#PageContainer133
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg133.jpg");background-repeat:no-repeat;background-size: 971px 1063px; background-position: right bottom;
}
#ImageContainer133 {bottom:0.00px;right:0.00px;width:970.58px;height:1062.63px;position:absolute;} #TextContainer133 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.activity_pos{top: 1150px;left: 605px;position: absolute;height: 50px;width: auto;}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
.activity_pos{top: 1150px;left: 100px;position: absolute;height: 50px;width: auto;}