.tr25{ color:transparent;}
#P25_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P25_2
{
left:15687.7px;bottom:33108.2px;letter-spacing:-4px;color:rgb(0,174,239);
}
#P25_3
{
left:20664.4px;bottom:32901.2px;color:rgb(35,63,142);
}
#P25_4
{
left:21896.3px;bottom:33302.5px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P25_5
{
left:8068.93px;bottom:44710.4px;color:rgb(35,63,142);
}
#P25_6
{
left:4341.99px;bottom:44522.8px;color:rgb(237,28,35);
}
#P25_7
{
left:6542.02px;bottom:31402.7px;color:rgb(35,31,31);
}
#P25_8
{
left:6542.02px;bottom:30186.7px;color:rgb(35,31,31);
}
#P25_9
{
left:18377.2px;bottom:30186.7px;color:rgb(35,31,31);
}
#P25_10
{
left:6542.02px;bottom:28546.2px;color:rgb(237,28,35);
}
#P25_11
{
left:9699.65px;bottom:28522.7px;letter-spacing:572.8px;color:rgb(35,31,31);
}
#P25_12
{
left:0px;letter-spacing:0px;margin-left:-572.8px;
}
#P25_13
{
left:6542.02px;bottom:27306.7px;letter-spacing:3730.4px;color:rgb(35,31,31);
}
#P25_14
{
left:0px;letter-spacing:0.1px;margin-left:-3730.4px;
}
#P25_15
{
left:8334.02px;bottom:17322.7px;color:rgb(35,31,31);
}
#P25_16
{
left:6542.02px;bottom:15658.7px;color:rgb(35,31,31);
}
#P25_17
{
left:0px;letter-spacing:0px;margin-left:-55.2px;
}
#P25_18
{
left:6542.02px;bottom:14442.7px;color:rgb(35,31,31);
}
#P25_19
{
left:6542.02px;bottom:13226.7px;color:rgb(35,31,31);
}
#P25_20
{
left:0px;letter-spacing:0px;margin-left:384.8px;
}
#P25_21
{
left:6542.02px;bottom:12010.7px;color:rgb(35,31,31);
}
#P25_22
{
left:0px;letter-spacing:0px;margin-left:312px;
}
#P25_23
{
left:6542.02px;bottom:10794.7px;color:rgb(35,31,31);
}
#P25_24
{
left:0px;letter-spacing:0px;margin-left:286.4px;
}
#P25_25
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P25_26
{
left:6542.02px;bottom:9154.16px;color:rgb(35,31,31);
}
#P25_27
{
left:12123.6px;bottom:9130.72px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P25_28
{
left:0px;letter-spacing:0px;margin-left:4.6px;
}
#P25_29
{
left:17024.4px;bottom:9130.72px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P25_30
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P25_31
{
left:22644.4px;bottom:9130.72px;color:rgb(35,31,31);
}
#P25_32
{
left:6542.02px;bottom:7914.72px;color:rgb(35,31,31);
}
#P25_33
{
left:0px;letter-spacing:0px;margin-left:-48.8px;
}
#P25_34
{
left:0px;letter-spacing:0px;margin-left:-4px;
}
#P25_35
{
left:6542.02px;bottom:6698.72px;color:rgb(35,31,31);
}
#P25_36
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P25_37
{
left:0px;letter-spacing:0px;margin-left:-48px;
}
#P25_38
{
left:6542.02px;bottom:5482.72px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P25_39
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P25_40
{
left:6542.02px;bottom:4266.74px;color:rgb(35,31,31);
}
#P25_41
{
left:24418px;bottom:4266.74px;color:rgb(35,31,31);
}
#PageContainer25
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg025.jpg");background-repeat:no-repeat;background-size: 1065px 1378px; background-position: right bottom;
}
#ImageContainer25 {bottom:0.00px;right:0.00px;width:1064.80px;height:1378.07px;position:absolute;} #TextContainer25 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 115px;left: 642px;position: absolute;height: 50px;width: auto;}