#telephone{position: absolute;top: 258px;left: 611px;height: 25px;width: 203px;background-repeat: no-repeat;opacity: 0;}
#official{position: absolute;top: 471px;left: 754PX;height: 25px;width: 121px;background-repeat: no-repeat;opacity: 0;}
#seargent{position: absolute;top: 507PX;left: 561PX;height: 25px;width: 89px;background-repeat: no-repeat;opacity: 0;}


.tr48{ color:transparent;}
#P48_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P48_2
{
left:6485.7px;bottom:46442.5px;color:rgb(35,31,31);
}
#P48_3
{
left:6485.7px;bottom:45226.5px;color:rgb(35,31,31);
}
#P48_4
{
left:6485.7px;bottom:43562.5px;color:rgb(35,31,31);
}
#P48_5
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P48_6
{
left:6485.7px;bottom:41898.5px;color:rgb(35,31,31);
}
#P48_7
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P48_8
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P48_9
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P48_10
{
left:6485.7px;bottom:40234.5px;color:rgb(35,31,31);
}
#P48_11
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P48_12
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P48_13
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P48_14
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P48_15
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P48_16
{
left:6485.7px;bottom:39018.5px;color:rgb(35,31,31);
}
#P48_17
{
left:0px;letter-spacing:0px;margin-left:-80px;
}
#P48_18
{
left:6485.7px;bottom:37354.5px;color:rgb(35,31,31);
}
#P48_19
{
left:6485.7px;bottom:35690.5px;color:rgb(35,31,31);
}
#P48_20
{
left:6485.7px;bottom:34026.5px;color:rgb(35,31,31);
}
#P48_21
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P48_22
{
left:6485.7px;bottom:32362.5px;color:rgb(35,31,31);
}
#P48_23
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P48_24
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P48_25
{
left:32251.6px;bottom:32712.3px;color:rgb(35,31,31);
}
#P48_26
{
left:32519.4px;bottom:32362.5px;color:rgb(35,31,31);
}
#P48_27
{
left:6485.76px;bottom:31146.5px;color:rgb(35,31,31);
}
#P48_28
{
left:6485.76px;bottom:29930.5px;color:rgb(35,31,31);
}
#P48_29
{
left:6485.76px;bottom:28266.5px;color:rgb(35,31,31);
}
#P48_30
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P48_31
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P48_32
{
left:6485.76px;bottom:26602.5px;color:rgb(35,31,31);
}
#P48_33
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P48_34
{
left:6485.76px;bottom:25386.5px;color:rgb(35,31,31);
}
#P48_35
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P48_36
{
left:6485.76px;bottom:23722.5px;color:rgb(35,31,31);
}
#P48_37
{
left:6485.76px;bottom:22058.5px;color:rgb(35,31,31);
}
#P48_38
{
left:6485.76px;bottom:20842.5px;color:rgb(35,31,31);
}
#P48_39
{
left:6485.76px;bottom:19626.5px;color:rgb(35,31,31);
}
#P48_40
{
left:6485.76px;bottom:18410.5px;color:rgb(35,31,31);
}
#P48_41
{
left:6485.76px;bottom:16746.5px;letter-spacing:-22px;color:rgb(35,31,31);
}
#P48_42
{
left:0px;letter-spacing:0.4px;margin-left:22px;
}
#P48_43
{
left:6485.76px;bottom:15082.5px;color:rgb(35,31,31);
}
#P48_44
{
left:6485.76px;bottom:13866.5px;color:rgb(35,31,31);
}
#P48_45
{
left:6485.76px;bottom:12650.5px;color:rgb(35,31,31);
}
#P48_46
{
left:6485.76px;bottom:11434.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P48_47
{
left:6485.76px;bottom:10218.5px;color:rgb(35,31,31);
}
#P48_48
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P48_49
{
left:27120.3px;bottom:31028.6px;color:rgb(35,31,31);
}
#P48_50
{
left:27321.9px;bottom:30720.1px;color:rgb(35,31,31);
}
#P48_51
{
left:0px;letter-spacing:0px;
}
#P48_52
{
left:30872.2px;bottom:30720.1px;color:rgb(35,31,31);
}
#P48_53
{
left:27120.6px;bottom:29875.3px;color:rgb(35,31,31);
}
#P48_54
{
left:27120.6px;bottom:29030.5px;color:rgb(35,31,31);
}
#PageContainer48
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg048.jpg");background-repeat:no-repeat;background-size: 1001px 868px; background-position: left bottom;
}
#ImageContainer48 {bottom:0.00px;left:0.00px;width:1000.56px;height:867.91px;position:absolute;} #TextContainer48 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
