.audio_pos{top: 358px;left: 128px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 358px;left: 128px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}

.tr44{ color:transparent;}
#P44_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P44_2
{
left:6531.07px;bottom:44687.6px;color:rgb(35,63,142);
}
#P44_3
{
left:6542.02px;bottom:41147.3px;color:rgb(35,31,31);
}
#P44_4
{
left:6542.02px;bottom:39931.3px;color:rgb(35,31,31);
}
#P44_5
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P44_6
{
left:7810.62px;bottom:36634.2px;color:rgb(35,31,31);
}
#P44_7
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_8
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_9
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_10
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_11
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P44_12
{
left:7810.62px;bottom:35290.2px;color:rgb(35,31,31);
}
#P44_13
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_14
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_15
{
left:6541.82px;bottom:33626.2px;color:rgb(35,31,31);
}
#P44_16
{
left:10865.2px;bottom:33976.1px;color:rgb(35,31,31);
}
#P44_17
{
left:11132.9px;bottom:33626.2px;color:rgb(35,31,31);
}
#P44_18
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_19
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_20
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P44_21
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_22
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_23
{
left:6541.7px;bottom:32282.2px;color:rgb(35,31,31);
}
#P44_24
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_25
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_26
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_27
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_28
{
left:6541.7px;bottom:30618.2px;color:rgb(35,31,31);
}
#P44_29
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_30
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_31
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P44_32
{
left:6541.7px;bottom:29274.2px;color:rgb(35,31,31);
}
#P44_33
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P44_34
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P44_35
{
left:6541.7px;bottom:27610.2px;color:rgb(35,31,31);
}
#P44_36
{
left:23423.4px;bottom:27960.1px;color:rgb(35,31,31);
}
#P44_37
{
left:23691.1px;bottom:27610.2px;color:rgb(35,31,31);
}
#P44_38
{
left:6542.34px;bottom:26266.2px;letter-spacing:-36.8px;color:rgb(35,31,31);
}
#P44_39
{
left:0px;letter-spacing:0px;margin-left:36.8px;
}
#P44_40
{
left:6542.34px;bottom:24602.2px;color:rgb(35,31,31);
}
#P44_41
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_42
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_43
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P44_44
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P44_45
{
left:6542.34px;bottom:23258.2px;color:rgb(35,31,31);
}
#P44_46
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_47
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_48
{
left:6542.34px;bottom:21594.2px;color:rgb(35,31,31);
}
#P44_49
{
left:6542.34px;bottom:20250.2px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P44_50
{
left:6542.34px;bottom:18586.2px;color:rgb(35,31,31);
}
#P44_51
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P44_52
{
left:6542.34px;bottom:17242.2px;color:rgb(35,31,31);
}
#P44_53
{
left:20013.1px;bottom:17592.1px;color:rgb(35,31,31);
}
#P44_54
{
left:20280.8px;bottom:17242.2px;color:rgb(35,31,31);
}
#P44_55
{
left:6542.34px;bottom:15578.2px;color:rgb(35,31,31);
}
#P44_56
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P44_57
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_58
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_59
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P44_60
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P44_61
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P44_62
{
left:6542.34px;bottom:14234.2px;color:rgb(35,31,31);
}
#P44_63
{
left:6542.34px;bottom:12570.2px;color:rgb(35,31,31);
}
#P44_64
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P44_65
{
left:6542.34px;bottom:11226.2px;color:rgb(35,31,31);
}
#P44_66
{
left:6542.34px;bottom:9619.04px;color:rgb(35,31,31);
}
#P44_67
{
left:19710.3px;bottom:9662px;color:rgb(35,31,31);
}
#P44_68_1
{
left:18700.5px;bottom:9619.04px;color:rgb(35,31,31);
}

#P44_68
{
left:21481.5px;bottom:9619.04px;color:rgb(35,31,31);
}
#P44_69
{
left:22245.6px;bottom:9662px;color:rgb(35,31,31);
}
#P44_70
{
left:27240.4px;bottom:14912.1px;color:rgb(35,31,31);
}
#P44_71
{
left:27380.2px;bottom:14603.5px;color:rgb(35,31,31);
}
#P44_72
{
left:29304.3px;bottom:14603.5px;color:rgb(35,31,31);
}
#P44_73
{
left:27240.1px;bottom:13758.7px;color:rgb(35,31,31);
}
#P44_74
{
left:27240.1px;bottom:12913.9px;color:rgb(35,31,31);
}
#P44_75
{
left:27240.4px;bottom:12377.7px;color:rgb(35,31,31);
}
#P44_76
{
left:27417.7px;bottom:12069.1px;color:rgb(35,31,31);
}
#P44_77
{
left:30967.3px;bottom:12069.1px;color:rgb(35,31,31);
}
#P44_78
{
left:0px;letter-spacing:0px;margin-left:-1.4px;
}
#P44_79
{
left:27240.3px;bottom:11224.3px;color:rgb(35,31,31);
}
#P44_80
{
left:27240.4px;bottom:10688.1px;color:rgb(35,31,31);
}
#P44_81
{
left:27430.7px;bottom:10379.5px;color:rgb(35,31,31);
}
#P44_82
{
left:30300.2px;bottom:10379.5px;color:rgb(35,31,31);
}
#P44_83
{
left:27240.6px;bottom:9534.73px;color:rgb(35,31,31);
}
#P44_84
{
left:6876.29px;bottom:7630.09px;color:rgb(35,31,31);
}
#P44_85
{
left:8451.14px;bottom:7630.09px;color:rgb(35,31,31);
}
#P44_86
{
left:8603.9px;bottom:7630.09px;color:rgb(35,31,31);
}
#P44_87
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P44_88
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P44_89
{
left:6876.29px;bottom:6785.29px;color:rgb(35,31,31);
}
#P44_90
{
left:0px;letter-spacing:0px;margin-left:-2.1px;
}
#P44_91
{
left:24926.1px;bottom:6785.29px;color:rgb(35,31,31);
}
#P44_92
{
left:6542.02px;bottom:34984px;
}
#PageContainer44
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg044.jpg");background-repeat:no-repeat;background-size: 1065px 1060px; background-position: right bottom;
}
#ImageContainer44 {bottom:0.00px;right:0.00px;width:1064.88px;height:1059.78px;position:absolute;} #TextContainer44 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.Animation_pos{top: 354px;left: 124px;position: absolute;height: 50px;width: auto;}
.pdf_pos{top: 115px;left: 511px;position: absolute;height: 50px;width: auto;}