.tr124{ color:transparent;}
#P124_1
{
left:1631.74px;bottom:2306.95px;color:white;
}
#P124_2
{
left:6586.69px;bottom:46123.2px;color:rgb(35,63,142);
}
#P124_3
{
left:15733.3px;bottom:46524.5px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P124_4
{
left:6586.69px;bottom:44020.4px;letter-spacing:0.1px;color:rgb(242,114,33);
}
#P124_5
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P124_6
{
left:0px;letter-spacing:0px;
}
#P124_7
{
left:6586.69px;bottom:42804px;color:rgb(242,114,33);
}
#P124_8
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P124_9
{
left:0px;letter-spacing:0px;margin-left:-66.6px;
}
#P124_10
{
left:6586.69px;bottom:41587.6px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P124_11
{
left:6586.69px;bottom:40371.3px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P124_12
{
left:6586.69px;bottom:39154.9px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P124_13
{
left:6586.69px;bottom:37756.6px;color:rgb(237,28,35);
}
#P124_14
{
left:6586.69px;bottom:36418.2px;color:rgb(35,31,31);
}
#P124_15
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P124_16
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P124_17
{
left:6586.69px;bottom:35202.2px;color:rgb(35,31,31);
}
#P124_18
{
left:6586.69px;bottom:33986.2px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P124_19
{
left:6586.69px;bottom:32770.2px;color:rgb(35,31,31);
}
#P124_20
{
left:6586.69px;bottom:31554.2px;color:rgb(35,31,31);
}
#P124_21
{
left:6586.69px;bottom:30338.2px;color:rgb(35,31,31);
}
#P124_22
{
left:6586.69px;bottom:29122.2px;color:rgb(35,31,31);
}
#P124_23
{
left:6586.69px;bottom:27906.2px;color:rgb(35,31,31);
}
#P124_24
{
left:4858.84px;bottom:46005.1px;color:rgb(255,242,0);
}
#PageContainer124
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg124.jpg");background-repeat:no-repeat;background-size: 1012px 1315px; background-position: left bottom;
}
#ImageContainer124 {bottom:0.00px;left:0.00px;width:1012.38px;height:1314.89px;position:absolute;} #TextContainer124 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}