.tr81{ color:transparent;}
#P81_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P81_2
{
left:6478.02px;bottom:46505.4px;color:rgb(35,31,31);
}
#P81_3
{
left:10802px;bottom:46482px;color:rgb(35,31,31);
}
#P81_4
{
left:6478.02px;bottom:45266px;color:rgb(35,31,31);
}
#P81_5
{
left:12802.8px;bottom:45266px;color:rgb(35,31,31);
}
#P81_6
{
left:6478.02px;bottom:44050px;color:rgb(35,31,31);
}
#P81_7
{
left:6478.02px;bottom:42834px;color:rgb(35,31,31);
}
#P81_8
{
left:6478.02px;bottom:41618px;color:rgb(35,31,31);
}
#P81_9
{
left:6478.02px;bottom:39494.1px;letter-spacing:-0.3px;color:rgb(242,114,33);
}
#P81_10
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P81_11
{
left:7746.62px;bottom:38099.9px;color:rgb(35,31,31);
}
#P81_12
{
left:14996.1px;bottom:38449.7px;color:rgb(35,31,31);
}
#P81_13
{
left:15263.8px;bottom:38099.9px;color:rgb(35,31,31);
}
#P81_14
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P81_15
{
left:7746.24px;bottom:36883.9px;color:rgb(35,31,31);
}
#P81_16
{
left:6477.44px;bottom:35667.9px;color:rgb(35,31,31);
}
#P81_17
{
left:9066.82px;bottom:36017.7px;color:rgb(35,31,31);
}
#P81_18
{
left:9334.53px;bottom:35667.9px;color:rgb(35,31,31);
}
#P81_19
{
left:6477.7px;bottom:34451.9px;color:rgb(35,31,31);
}
#P81_20
{
left:6477.7px;bottom:32787.9px;color:rgb(35,31,31);
}
#P81_21
{
left:6477.7px;bottom:31123.9px;color:rgb(35,31,31);
}
#P81_22
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P81_23
{
left:6477.7px;bottom:29907.9px;color:rgb(35,31,31);
}
#P81_24
{
left:20250.6px;bottom:30257.7px;color:rgb(35,31,31);
}
#P81_25
{
left:20518.3px;bottom:29907.9px;color:rgb(35,31,31);
}
#P81_26
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P81_27
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P81_28
{
left:6478.34px;bottom:28691.9px;color:rgb(35,31,31);
}
#P81_29
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P81_30
{
left:6478.34px;bottom:27475.9px;color:rgb(35,31,31);
}
#P81_31
{
left:6513.54px;bottom:9954.43px;color:rgb(35,31,31);
}
#P81_32
{
left:6513.54px;bottom:8738.5px;color:rgb(35,31,31);
}
#P81_33
{
left:7771.14px;bottom:9088.26px;color:rgb(35,31,31);
}
#P81_34
{
left:8038.85px;bottom:8738.5px;color:rgb(35,31,31);
}
#P81_35
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P81_36
{
left:6513.22px;bottom:7074.5px;color:rgb(35,31,31);
}
#P81_37
{
left:6513.22px;bottom:5858.5px;color:rgb(35,31,31);
}
#P81_38
{
left:6513.22px;bottom:4194.46px;color:rgb(35,31,31);
}
#P81_39
{
left:25503px;bottom:7834.82px;color:rgb(35,31,31);
}
#P81_40
{
left:25692.5px;bottom:7526.28px;color:rgb(35,31,31);
}
#P81_41
{
left:27750.3px;bottom:7526.28px;color:rgb(35,31,31);
}
#P81_42
{
left:25503px;bottom:6990.02px;color:rgb(35,31,31);
}
#P81_43
{
left:25702.4px;bottom:6681.48px;color:rgb(35,31,31);
}
#P81_44
{
left:27882.7px;bottom:6681.48px;color:rgb(35,31,31);
}
#P81_45
{
left:25503px;bottom:6145.22px;color:rgb(35,31,31);
}
#P81_46
{
left:25721.9px;bottom:5836.68px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P81_47
{
left:28559px;bottom:5836.68px;color:rgb(35,31,31);
}
#P81_48
{
left:28807.5px;bottom:5836.68px;color:rgb(35,31,31);
}
#P81_49
{
left:30102.8px;bottom:5836.68px;color:rgb(35,31,31);
}
#P81_50
{
left:25503px;bottom:5300.42px;color:rgb(35,31,31);
}
#P81_51
{
left:25704.6px;bottom:4991.88px;color:rgb(35,31,31);
}
#P81_52
{
left:26933.8px;bottom:4991.88px;color:rgb(35,31,31);
}
#P81_53
{
left:6478.02px;bottom:36449.6px;
}
#PageContainer81
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg081.jpg");background-repeat:no-repeat;background-size: 946px 1085px; background-position: right bottom;
}
#ImageContainer81 {bottom:0.00px;right:0.00px;width:946.16px;height:1085.15px;position:absolute;} #TextContainer81 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.pdf_pos{top: -45079px;left: 19245px;position: absolute;height: 1840px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.audio_pos{top: 322px;left: 75px;position: absolute;height: 50px;width: auto;}

#audioPosition{position: absolute;top: 322px;left: 75px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}
#audioPosition1{position:absolute; top:322px; left:75px; height:36px; width:36px; background-repeat: no-repeat;}

#strode{position: absolute;top: 317px;left: 344px;height: 25px;width: 63px;background-repeat: no-repeat;opacity: 0;}
#veranda{position: absolute;top: 349px;left: 274px;height: 25px;width: 83px;background-repeat: no-repeat;opacity: 0;}
#uneasy{position: absolute;top: 383px;left: 173px;height: 25px;width: 73px;background-repeat: no-repeat;opacity: 0;}
#satisfaction{position: absolute;top: 539px;left: 173px;height: 25px;width: 118px;background-repeat: no-repeat;opacity: 0;}
#doubtful{position: absolute;top: 539px;left: 460px;height: 25px;width: 90px;background-repeat: no-repeat;opacity: 0;}
#din{position: absolute;top: 1113px;left: 173px;height: 25px;width: 37px;background-repeat: no-repeat;opacity: 0;}