.tr138{ color:transparent;}
#P138_1
{
left:1631.74px;bottom:2306.95px;color:white;
}
#P138_2
{
left:6531.07px;bottom:46455.8px;color:rgb(35,31,31);
}
#P138_3
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P138_4
{
left:7368.32px;bottom:45235px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P138_5
{
left:7368.32px;bottom:44019px;color:rgb(35,31,31);
}
#P138_6
{
left:6530.69px;bottom:42481.4px;color:rgb(35,31,31);
}
#P138_7
{
left:7024.64px;bottom:42524.3px;color:rgb(35,31,31);
}
#P138_8
{
left:7843.39px;bottom:42424.6px;color:rgb(35,31,31);
}
#P138_9
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_10
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_11
{
left:6531.39px;bottom:40881.4px;color:rgb(35,31,31);
}
#P138_12
{
left:7024.64px;bottom:40924.3px;color:rgb(35,31,31);
}
#P138_13
{
left:7843.39px;bottom:40824.6px;color:rgb(35,31,31);
}
#P138_14
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_15
{
left:6531.39px;bottom:39281.4px;color:rgb(35,31,31);
}
#P138_16
{
left:7024.64px;bottom:39324.3px;color:rgb(35,31,31);
}
#P138_17
{
left:7843.39px;bottom:39224.6px;color:rgb(35,31,31);
}
#P138_18
{
left:8532.16px;bottom:39219px;color:rgb(35,31,31);
}
#P138_19
{
left:11753px;bottom:39224.6px;color:rgb(35,31,31);
}
#P138_20
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_21
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P138_22
{
left:7683.39px;bottom:38008.6px;color:rgb(35,31,31);
}
#P138_23
{
left:6531.39px;bottom:36465.4px;color:rgb(35,31,31);
}
#P138_24
{
left:7024.64px;bottom:36508.3px;color:rgb(35,31,31);
}
#P138_25
{
left:7843.39px;bottom:36408.6px;color:rgb(35,31,31);
}
#P138_26
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_27
{
left:6531.39px;bottom:34865.4px;color:rgb(35,31,31);
}
#P138_28
{
left:7024.64px;bottom:34908.3px;color:rgb(35,31,31);
}
#P138_29
{
left:7843.39px;bottom:34808.6px;color:rgb(35,31,31);
}
#P138_30
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_31
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_32
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_33
{
left:7683.39px;bottom:33592.6px;color:rgb(35,31,31);
}
#P138_34
{
left:6531.39px;bottom:32049.4px;color:rgb(35,31,31);
}
#P138_35
{
left:7024.64px;bottom:32092.3px;color:rgb(35,31,31);
}
#P138_36
{
left:8123.39px;bottom:31992.6px;color:rgb(35,31,31);
}
#P138_37
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_38
{
left:6531.39px;bottom:30449.4px;color:rgb(35,31,31);
}
#P138_39
{
left:7024.64px;bottom:30492.3px;color:rgb(35,31,31);
}
#P138_40
{
left:7843.39px;bottom:30392.6px;color:rgb(35,31,31);
}
#P138_41
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_42
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P138_43
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P138_44
{
left:6531.39px;bottom:28849.4px;color:rgb(35,31,31);
}
#P138_45
{
left:7183.04px;bottom:28892.3px;color:rgb(35,31,31);
}
#P138_46
{
left:8926.85px;bottom:28792.6px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P138_47
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P138_48
{
left:6530.88px;bottom:27249.4px;color:rgb(35,31,31);
}
#P138_49
{
left:7024.64px;bottom:27292.3px;color:rgb(35,31,31);
}
#P138_50
{
left:7843.39px;bottom:27192.6px;color:rgb(35,31,31);
}
#P138_51
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_52
{
left:7683.39px;bottom:25976.6px;color:rgb(35,31,31);
}
#P138_53
{
left:6531.39px;bottom:24433.4px;color:rgb(35,31,31);
}
#P138_54
{
left:7024.64px;bottom:24476.3px;color:rgb(35,31,31);
}
#P138_55
{
left:7843.39px;bottom:24376.6px;color:rgb(35,31,31);
}
#P138_56
{
left:8761.79px;bottom:24371px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P138_57
{
left:11552.2px;bottom:24376.6px;color:rgb(35,31,31);
}
#P138_58
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_59
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P138_60
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P138_61
{
left:6531.39px;bottom:22833.4px;color:rgb(35,31,31);
}
#P138_62
{
left:7183.04px;bottom:22876.3px;color:rgb(35,31,31);
}
#P138_63
{
left:8926.85px;bottom:22833.4px;color:rgb(35,31,31);
}
#P138_64
{
left:9156.48px;bottom:22771px;color:rgb(35,31,31);
}
#P138_65
{
left:30462.1px;bottom:22776.6px;color:rgb(35,31,31);
}
#P138_66
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P138_67
{
left:7682.88px;bottom:21560.6px;color:rgb(35,31,31);
}
#P138_68
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P138_69
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_70
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P138_71
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P138_72
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_73
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P138_74
{
left:7682.88px;bottom:20344.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P138_75
{
left:0px;letter-spacing:0px;margin-left:-58.6px;
}
#P138_76
{
left:6530.88px;bottom:18801.4px;color:rgb(35,31,31);
}
#P138_77
{
left:7024.64px;bottom:18844.3px;color:rgb(35,31,31);
}
#P138_78
{
left:7843.39px;bottom:18744.6px;color:rgb(35,31,31);
}
#P138_79
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_80
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P138_81
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P138_82
{
left:6531.39px;bottom:17201.4px;color:rgb(35,31,31);
}
#P138_83
{
left:7024.64px;bottom:17244.3px;color:rgb(35,31,31);
}
#P138_84
{
left:7843.39px;bottom:17201.4px;color:rgb(35,31,31);
}
#P138_85
{
left:8072.96px;bottom:17144.6px;color:rgb(35,31,31);
}
#P138_86
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_87
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P138_88
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_89
{
left:6531.39px;bottom:15601.4px;color:rgb(35,31,31);
}
#P138_90
{
left:7024.64px;bottom:15644.3px;color:rgb(35,31,31);
}
#P138_91
{
left:7843.39px;bottom:15544.6px;color:rgb(35,31,31);
}
#P138_92
{
left:8761.79px;bottom:15539px;color:rgb(35,31,31);
}
#P138_93
{
left:24315.4px;bottom:15544.6px;color:rgb(35,31,31);
}
#P138_94
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_95
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P138_96
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_97
{
left:7683.39px;bottom:14328.6px;color:rgb(35,31,31);
}
#P138_98
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P138_99
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_100
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P138_101
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P138_102
{
left:6531.39px;bottom:12785.4px;color:rgb(35,31,31);
}
#P138_103
{
left:7024.64px;bottom:12828.3px;color:rgb(35,31,31);
}
#P138_104
{
left:7843.39px;bottom:12728.6px;color:rgb(35,31,31);
}
#P138_105
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_106
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P138_107
{
left:6531.39px;bottom:11185.4px;color:rgb(35,31,31);
}
#P138_108
{
left:7024.64px;bottom:11228.3px;color:rgb(35,31,31);
}
#P138_109
{
left:8123.39px;bottom:11128.6px;color:rgb(35,31,31);
}
#P138_110
{
left:10649px;bottom:11123px;color:rgb(35,31,31);
}
#P138_111
{
left:25329px;bottom:11128.6px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P138_112
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P138_113
{
left:7683.39px;bottom:9912.58px;color:rgb(35,31,31);
}
#P138_114
{
left:6531.39px;bottom:8369.38px;color:rgb(35,31,31);
}
#P138_115
{
left:7024.64px;bottom:8412.34px;color:rgb(35,31,31);
}
#P138_116
{
left:8123.39px;bottom:8312.58px;color:rgb(35,31,31);
}
#P138_117
{
left:10878.6px;bottom:8306.98px;color:rgb(35,31,31);
}
#P138_118
{
left:25329px;bottom:8312.58px;color:rgb(35,31,31);
}
#P138_119
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_120
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P138_121
{
left:6531.39px;bottom:6769.38px;color:rgb(35,31,31);
}
#P138_122
{
left:7024.64px;bottom:6812.34px;color:rgb(35,31,31);
}
#P138_123
{
left:8123.39px;bottom:6712.58px;color:rgb(35,31,31);
}
#P138_124
{
left:10878.6px;bottom:6706.98px;color:rgb(35,31,31);
}
#P138_125
{
left:25329px;bottom:6712.58px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P138_126
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P138_127
{
left:7683.39px;bottom:5496.58px;color:rgb(35,31,31);
}
#P138_128
{
left:6531.39px;bottom:3953.36px;color:rgb(35,31,31);
}
#P138_129
{
left:7024.64px;bottom:3996.32px;color:rgb(35,31,31);
}
#P138_130
{
left:8123.39px;bottom:3896.56px;color:rgb(35,31,31);
}
#P138_131
{
left:10878.6px;bottom:3890.96px;color:rgb(35,31,31);
}
#P138_132
{
left:25329px;bottom:3896.56px;color:rgb(35,31,31);
}
#P138_133
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P138_134
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P138_135
{
left:6531.07px;bottom:43572.5px;
}
#PageContainer138
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg138.jpg");background-repeat:no-repeat;background-size: 249px 1283px; background-position: left bottom;
}
#ImageContainer138 {bottom:0.00px;left:0.00px;width:249.37px;height:1282.78px;position:absolute;} #TextContainer138 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}


.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.pdf_pos{top: -45079px;left: 19245px;position: absolute;height: 1840px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.audio_pos{top: 130px;left: 110px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 130px;left: 110px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}