.tr16{ color:transparent;}
#P16_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P16_2
{
left:6478.02px;bottom:46435.3px;color:rgb(35,31,31);
}
#P16_3
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P16_4
{
left:6478.02px;bottom:45091.3px;color:rgb(35,31,31);
}
#P16_5
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P16_6
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P16_7
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P16_8
{
left:6478.02px;bottom:43747.3px;color:rgb(35,31,31);
}
#P16_9
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P16_10
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P16_11
{
left:6478.02px;bottom:42531.3px;color:rgb(35,31,31);
}
#P16_12
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P16_13
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P16_14
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P16_15
{
left:6478.02px;bottom:41315.3px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P16_16
{
left:0px;letter-spacing:0.8px;margin-left:-922.4px;
}
#P16_17
{
left:0px;letter-spacing:0px;margin-left:8.9px;
}
#P16_18
{
left:6478.02px;bottom:40099.3px;color:rgb(35,31,31);
}
#P16_19
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P16_20
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P16_21
{
left:0px;letter-spacing:0px;margin-left:690.4px;
}
#P16_22
{
left:22798px;bottom:40726.8px;color:rgb(35,31,31);
}
#P16_23
{
left:8910.02px;bottom:38877.7px;color:rgb(35,31,31);
}
#P16_24
{
left:0px;letter-spacing:0px;margin-left:-8px;
}
#P16_25
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P16_26
{
left:6478.02px;bottom:35340.3px;color:rgb(35,63,142);
}
#P16_27
{
left:16490.2px;bottom:35741.5px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P16_28
{
left:6478.02px;bottom:33699.3px;color:rgb(35,31,31);
}
#P16_29
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P16_30
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P16_31
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P16_32
{
left:6478.02px;bottom:32355.3px;color:rgb(35,31,31);
}
#P16_33
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P16_34
{
left:6478.02px;bottom:31011.3px;color:rgb(35,31,31);
}
#P16_35
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P16_36
{
left:7630.02px;bottom:29795.3px;color:rgb(35,31,31);
}
#P16_37
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P16_38
{
left:6478.02px;bottom:28579.3px;color:rgb(35,31,31);
}
#P16_39
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P16_40
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P16_41
{
left:6478.02px;bottom:27363.3px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P16_42
{
left:0px;letter-spacing:1.3px;margin-left:-922.4px;
}
#P16_43
{
left:6478.02px;bottom:26147.3px;color:rgb(35,31,31);
}
#P16_44
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P16_45
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P16_46
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P16_47
{
left:6478.02px;bottom:22732.3px;color:rgb(35,63,142);
}
#P16_48
{
left:6478.02px;bottom:20629.5px;color:rgb(242,114,33);
}
#P16_49
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P16_50
{
left:0px;letter-spacing:-0.5px;
}
#P16_51
{
left:0px;letter-spacing:0px;margin-left:-281.6px;
}
#P16_52
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P16_53
{
left:0px;letter-spacing:-0.2px;
}
#P16_54
{
left:7630.34px;bottom:19413.1px;color:rgb(242,114,33);
}
#P16_55
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P16_56
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P16_57
{
left:7630.02px;bottom:18019.3px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P16_58
{
left:7911.62px;bottom:18013.7px;color:rgb(35,31,31);
}
#P16_59
{
left:10622.8px;bottom:18019.3px;color:rgb(35,31,31);
}
#P16_60
{
left:7630.02px;bottom:16803.3px;color:rgb(35,31,31);
}
#P16_61
{
left:7694.02px;bottom:15459.3px;word-spacing:-48px;color:rgb(35,31,31);
}
#P16_62
{
left:0px;letter-spacing:0px;margin-left:3816.8px;
}
#P16_63
{
left:0px;letter-spacing:0px;margin-left:3168.8px;
}
#P16_64
{
left:0px;letter-spacing:0px;margin-left:3443.2px;
}
#P16_65
{
left:7694.02px;bottom:14115.3px;word-spacing:-110.4px;color:rgb(35,31,31);
}
#P16_66
{
left:0px;letter-spacing:0px;margin-left:2936.8px;
}
#P16_67
{
left:0px;letter-spacing:0px;margin-left:3523.2px;
}
#P16_68
{
left:0px;letter-spacing:0px;margin-left:3168.8px;
}
#P16_69
{
left:7694.02px;bottom:12771.3px;word-spacing:-28.8px;color:rgb(35,31,31);
}
#P16_70
{
left:0px;letter-spacing:0px;margin-left:3264px;
}
#P16_71
{
left:0px;letter-spacing:0px;margin-left:2792px;
}
#P16_72
{
left:26382px;bottom:12771.3px;color:rgb(35,31,31);
}
#P16_73
{
left:7694.02px;bottom:11427.3px;word-spacing:-124px;color:rgb(35,31,31);
}
#P16_74
{
left:0px;letter-spacing:0px;margin-left:2662.4px;
}
#P16_75
{
left:20174px;bottom:11427.3px;word-spacing:3390.4px;color:rgb(35,31,31);
}
#P16_76
{
left:7694.02px;bottom:10083.3px;word-spacing:-36.8px;color:rgb(35,31,31);
}
#P16_77
{
left:0px;letter-spacing:0px;margin-left:3680px;
}
#P16_78
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P16_79
{
left:20174px;bottom:10083.3px;color:rgb(35,31,31);
}
#P16_80
{
left:0px;letter-spacing:0px;margin-left:4264.8px;
}
#P16_81
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P16_82
{
left:6478.02px;bottom:8277.5px;color:rgb(242,114,33);
}
#P16_83
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P16_84
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P16_85
{
left:7630.34px;bottom:7061.12px;color:rgb(242,114,33);
}
#P16_86
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P16_87
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P16_88
{
left:6478.02px;bottom:5204.93px;color:rgb(242,114,33);
}
#P16_89
{
left:8507.78px;bottom:4599.71px;color:rgb(35,31,31);
}
#P16_90
{
left:9664.58px;bottom:4600.51px;color:rgb(35,31,31);
}
#P16_91
{
left:0px;letter-spacing:0px;margin-left:1196px;
}
#P16_92
{
left:0px;letter-spacing:0px;margin-left:1670.4px;
}
#P16_93
{
left:0px;letter-spacing:0px;margin-left:2035.2px;
}
#P16_94
{
left:8507.78px;bottom:3256.51px;color:rgb(35,31,31);
}
#P16_95
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P16_96
{
left:0px;letter-spacing:0px;margin-left:563.2px;
}
#P16_97
{
left:0px;letter-spacing:0px;margin-left:1868px;
}
#P16_98
{
left:0px;letter-spacing:0px;margin-left:2285.6px;
}
#P16_99
{
left:4611.93px;bottom:22753.1px;color:rgb(255,242,0);
}
#P16_100
{
left:4708.03px;bottom:35322px;color:rgb(255,242,0);
}
#PageContainer16
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg016.jpg");background-repeat:no-repeat;background-size: 914px 1189px; background-position: left bottom;
}
#ImageContainer16 {bottom:0.00px;left:0.00px;width:914.08px;height:1189.47px;position:absolute;} #TextContainer16 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
