.tr83{ color:transparent;}
#P83_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P83_2
{
left:6531.07px;bottom:46372.1px;color:rgb(35,31,31);
}
#P83_3
{
left:6531.07px;bottom:45156.1px;color:rgb(35,31,31);
}
#P83_4
{
left:6531.07px;bottom:43940.1px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P83_5
{
left:6531.07px;bottom:42724.1px;color:rgb(35,31,31);
}
#P83_6
{
left:6531.07px;bottom:41508.1px;color:rgb(35,31,31);
}
#P83_7
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P83_8
{
left:6531.07px;bottom:40292.1px;color:rgb(35,31,31);
}
#P83_9
{
left:6531.07px;bottom:38628.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P83_10
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P83_11
{
left:31242.7px;bottom:38977.9px;color:rgb(35,31,31);
}
#P83_12
{
left:31778.1px;bottom:38628.1px;color:rgb(35,31,31);
}
#P83_13
{
left:6530.88px;bottom:37412.1px;color:rgb(35,31,31);
}
#P83_14
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P83_15
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P83_16
{
left:14623.7px;bottom:37761.9px;color:rgb(35,31,31);
}
#P83_17
{
left:15159.2px;bottom:37412.1px;color:rgb(35,31,31);
}
#P83_18
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P83_19
{
left:30894.3px;bottom:35804.9px;color:rgb(35,31,31);
}
#P83_20
{
left:33488.5px;bottom:35847.9px;color:rgb(35,31,31);
}
#P83_21
{
left:0px;letter-spacing:0px;margin-left:-38px;
}
#P83_22
{
left:0px;letter-spacing:0px;margin-left:-46px;
}
#P83_23
{
left:6531.07px;bottom:31885.1px;color:rgb(35,63,142);
}
#P83_24
{
left:6531.07px;bottom:30244.1px;color:rgb(35,31,31);
}
#P83_25
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P83_26
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P83_27
{
left:7683.07px;bottom:29028.1px;color:rgb(35,31,31);
}
#P83_28
{
left:7683.07px;bottom:27812.1px;color:rgb(35,31,31);
}
#P83_29
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P83_30
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P83_31
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P83_32
{
left:8259.07px;bottom:25284px;color:rgb(35,31,31);
}
#P83_33
{
left:8259.07px;bottom:23469px;color:rgb(35,31,31);
}
#P83_34
{
left:9519.87px;bottom:23469px;
}
#P83_35
{
left:11810.2px;bottom:23469.3px;color:rgb(35,31,31);
}
#P83_36
{
left:0px;letter-spacing:0px;margin-left:-229.6px;
}
#P83_37
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P83_38
{
left:8259.01px;bottom:19929.2px;color:rgb(35,31,31);
}
#P83_39
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P83_40
{
left:8259.01px;bottom:16389px;color:rgb(35,31,31);
}
#P83_41
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P83_42
{
left:8259.01px;bottom:12848.8px;color:rgb(35,31,31);
}
#P83_43
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P83_44
{
left:8259.01px;bottom:9308.67px;color:rgb(35,31,31);
}
#P83_45
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P83_46
{
left:8259.01px;bottom:5768.51px;color:rgb(35,31,31);
}
#P83_47
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P83_48
{
left:26124px;bottom:34629.3px;color:rgb(35,31,31);
}
#P83_49
{
left:26411px;bottom:34320.8px;color:rgb(35,31,31);
}
#P83_50
{
left:28510.3px;bottom:34320.8px;color:rgb(35,31,31);
}
#P83_51
{
left:29089px;bottom:34320.8px;color:rgb(35,31,31);
}
#P83_52
{
left:30384.4px;bottom:34320.8px;color:rgb(35,31,31);
}
#P83_53
{
left:26124px;bottom:33784.5px;color:rgb(35,31,31);
}
#P83_54
{
left:26457.1px;bottom:33476px;color:rgb(35,31,31);
}
#P83_55
{
left:0px;letter-spacing:0px;
}
#P83_56
{
left:29818px;bottom:33476px;color:rgb(35,31,31);
}
#P83_57
{
left:30396.7px;bottom:33476px;color:rgb(35,31,31);
}
#P83_58
{
left:31692px;bottom:33476px;color:rgb(35,31,31);
}
#P83_59
{
left:4747.63px;bottom:31714.1px;color:rgb(255,242,0);
}
#PageContainer83
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg083.jpg");background-repeat:no-repeat;background-size: 971px 967px; background-position: right bottom;
}
#ImageContainer83 {bottom:0.00px;right:0.00px;width:971.14px;height:967.11px;position:absolute;} #TextContainer83 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}

#glancing{position: absolute;top: 159px;left: 764px;height: 25px;width: 91px;background-repeat: no-repeat;opacity: 0;}
#lustiest{position: absolute;top: 301px;left: 776px;height: 25px;width: 72px;background-repeat: no-repeat;opacity: 0;}
#foodedout{position: absolute;top: 335px;left: 279px;height: 25px;width: 118px;background-repeat: no-repeat;opacity: 0;}