.tr104{ color:transparent;}
#P104_1
{
left:1631.74px;bottom:2306.95px;color:white;
}
#P104_2
{
left:6531.07px;bottom:46372.1px;color:rgb(35,31,31);
}
#P104_3
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P104_4
{
left:32397px;bottom:46721.9px;color:rgb(35,31,31);
}
#P104_5
{
left:32664.7px;bottom:46372.1px;color:rgb(35,31,31);
}
#P104_6
{
left:6531.14px;bottom:44708.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P104_7
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P104_8
{
left:6531.14px;bottom:43492.1px;color:rgb(35,31,31);
}
#P104_9
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P104_10
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P104_11
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P104_12
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P104_13
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P104_14
{
left:6531.14px;bottom:42276.1px;color:rgb(35,31,31);
}
#P104_15
{
left:10939.8px;bottom:42625.9px;color:rgb(35,31,31);
}
#P104_16
{
left:11207.5px;bottom:42276.1px;color:rgb(35,31,31);
}
#P104_17
{
left:27294px;bottom:13023.3px;color:rgb(35,31,31);
}
#P104_18
{
left:27488.1px;bottom:12714.8px;color:rgb(35,31,31);
}
#P104_19
{
left:27293.8px;bottom:11870px;color:rgb(35,31,31);
}
#P104_20
{
left:30253.4px;bottom:11870px;color:rgb(35,31,31);
}
#P104_21
{
left:27293.8px;bottom:11025.2px;color:rgb(35,31,31);
}
#P104_22
{
left:27293.8px;bottom:10180.4px;color:rgb(35,31,31);
}
#P104_23
{
left:27294px;bottom:9644.1px;color:rgb(35,31,31);
}
#P104_24
{
left:27519.9px;bottom:9335.56px;color:rgb(35,31,31);
}
#P104_25
{
left:31180px;bottom:9335.56px;color:rgb(35,31,31);
}
#P104_26
{
left:27294px;bottom:8799.3px;color:rgb(35,31,31);
}
#P104_27
{
left:27519.1px;bottom:8490.76px;color:rgb(35,31,31);
}
#P104_28
{
left:0px;letter-spacing:0px;
}
#P104_29
{
left:30614.6px;bottom:8490.76px;color:rgb(35,31,31);
}
#P104_30
{
left:27293.8px;bottom:7645.96px;color:rgb(35,31,31);
}
#P104_31
{
left:27293.8px;bottom:6801.16px;color:rgb(35,31,31);
}
#P104_32
{
left:27294px;bottom:6264.9px;color:rgb(35,31,31);
}
#P104_33
{
left:27663px;bottom:5956.36px;color:rgb(35,31,31);
}
#P104_34
{
left:32849.3px;bottom:5956.36px;color:rgb(35,31,31);
}
#P104_35
{
left:27294.1px;bottom:5111.56px;color:rgb(35,31,31);
}
#P104_36
{
left:6541.38px;bottom:26018.2px;color:rgb(35,31,31);
}
#P104_37
{
left:6541.38px;bottom:24802.2px;color:rgb(35,31,31);
}
#P104_38
{
left:6541.38px;bottom:23586.2px;color:rgb(35,31,31);
}
#P104_39
{
left:6541.38px;bottom:22370.2px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P104_40
{
left:6541.38px;bottom:21154.2px;color:rgb(35,31,31);
}
#P104_41
{
left:6541.38px;bottom:19490.2px;color:rgb(35,31,31);
}
#P104_42
{
left:6541.38px;bottom:18274.2px;color:rgb(35,31,31);
}
#P104_43
{
left:6541.38px;bottom:17058.2px;color:rgb(35,31,31);
}
#P104_44
{
left:0px;letter-spacing:0px;margin-left:-247.1px;
}
#P104_45
{
left:0px;letter-spacing:0px;margin-left:19px;
}
#P104_46
{
left:21252.9px;bottom:17408px;color:rgb(35,31,31);
}
#P104_47
{
left:21515.3px;bottom:17058.2px;color:rgb(35,31,31);
}
#P104_48
{
left:6541.63px;bottom:15842.2px;color:rgb(35,31,31);
}
#P104_49
{
left:0px;letter-spacing:0px;margin-left:9.5px;
}
#P104_50
{
left:0px;letter-spacing:0px;margin-left:-58.6px;
}
#P104_51
{
left:0px;letter-spacing:0px;margin-left:-247.1px;
}
#P104_52
{
left:0px;letter-spacing:0px;margin-left:19px;
}
#P104_53
{
left:0px;letter-spacing:0px;margin-left:-58.6px;
}
#P104_54
{
left:0px;letter-spacing:0px;margin-left:-60.2px;
}
#P104_55
{
left:6541.63px;bottom:14626.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P104_56
{
left:27244.2px;bottom:14626.2px;color:rgb(35,31,31);
}
#P104_57
{
left:6541.76px;bottom:12962.2px;color:rgb(35,31,31);
}
#P104_58
{
left:6541.76px;bottom:11746.2px;color:rgb(35,31,31);
}
#P104_59
{
left:6541.76px;bottom:10530.2px;color:rgb(35,31,31);
}
#P104_60
{
left:15842px;bottom:10880px;color:rgb(35,31,31);
}
#P104_61
{
left:16511.2px;bottom:10530.2px;color:rgb(35,31,31);
}
#P104_62
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P104_63
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P104_64
{
left:6541.63px;bottom:9314.18px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P104_65
{
left:6541.63px;bottom:8098.18px;color:rgb(35,31,31);
}
#P104_66
{
left:6541.63px;bottom:6434.18px;color:rgb(35,31,31);
}
#P104_67
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P104_68
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P104_69
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P104_70
{
left:6541.63px;bottom:5218.18px;color:rgb(35,31,31);
}
#PageContainer104
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg104.jpg");background-repeat:no-repeat;background-size: 988px 1143px; background-position: left bottom;
}
#ImageContainer104 {bottom:0.00px;left:0.00px;width:988.47px;height:1143.18px;position:absolute;} #TextContainer104 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

#discriminating{position: absolute;
top: 92px;
left: 502px;
height: 25px;
width: 150px;
background-repeat: no-repeat;opacity: 0;
}
#affectionate{position: absolute;
top: 823px;
left: 533px;
height: 25px;
width: 119px;
background-repeat: no-repeat;opacity: 0;
}
#researchlaboratories{position: absolute;
top: 955px;
left: 529px;
height: 25px;
width: 207px;
background-repeat: no-repeat;opacity: 0;
}
#corporate{position: absolute;
top: 1067px;
left: 256px;
height: 25px;
width: 175px;
background-repeat: no-repeat;opacity: 0;
}
