.tr121{ color:transparent;}
#P121_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P121_2
{
left:6531.07px;bottom:46427.3px;color:rgb(242,114,33);
}
#P121_3
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P121_4
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P121_5
{
left:7683.07px;bottom:45033.1px;letter-spacing:842.4px;word-spacing:80px;color:rgb(35,31,31);
}
#P121_6
{
left:0px;letter-spacing:0px;margin-left:-842.4px;
}
#P121_7
{
left:10603.9px;bottom:45027.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P121_8
{
left:12504.7px;bottom:45033.1px;color:rgb(35,31,31);
}
#P121_9
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P121_10
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P121_11
{
left:18671.9px;bottom:45027.5px;color:rgb(35,31,31);
}
#P121_12
{
left:20122.3px;bottom:45033.1px;color:rgb(35,31,31);
}
#P121_13
{
left:6531.07px;bottom:43689.1px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P121_14
{
left:0px;letter-spacing:1px;margin-left:-922.4px;
}
#P121_15
{
left:15020.7px;bottom:43683.5px;color:rgb(35,31,31);
}
#P121_16
{
left:16351.9px;bottom:43689.1px;color:rgb(35,31,31);
}
#P121_17
{
left:20638.3px;bottom:43683.5px;color:rgb(35,31,31);
}
#P121_18
{
left:22266.2px;bottom:43689.1px;color:rgb(35,31,31);
}
#P121_19
{
left:6531.07px;bottom:42345.1px;color:rgb(35,31,31);
}
#P121_20
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P121_21
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P121_22
{
left:12684.7px;bottom:42339.5px;color:rgb(35,31,31);
}
#P121_23
{
left:14597.5px;bottom:42345.1px;color:rgb(35,31,31);
}
#P121_24
{
left:18287.1px;bottom:42339.5px;color:rgb(35,31,31);
}
#P121_25
{
left:19915.1px;bottom:42345.1px;color:rgb(35,31,31);
}
#P121_26
{
left:7683.07px;bottom:41001.1px;letter-spacing:918.4px;word-spacing:4px;color:rgb(35,31,31);
}
#P121_27
{
left:0px;letter-spacing:0px;margin-left:-918.4px;
}
#P121_28
{
left:10603.9px;bottom:40995.5px;color:rgb(35,31,31);
}
#P121_29
{
left:11905.5px;bottom:41001.1px;color:rgb(35,31,31);
}
#P121_30
{
left:18789.5px;bottom:40995.5px;color:rgb(35,31,31);
}
#P121_31
{
left:20179.9px;bottom:41001.1px;color:rgb(35,31,31);
}
#P121_32
{
left:6531.07px;bottom:39657.1px;color:rgb(35,31,31);
}
#P121_33
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P121_34
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P121_35
{
left:16032.6px;bottom:39651.5px;color:rgb(35,31,31);
}
#P121_36
{
left:17882.2px;bottom:39657.1px;color:rgb(35,31,31);
}
#P121_37
{
left:19559.9px;bottom:39651.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P121_38
{
left:21367.9px;bottom:39657.1px;color:rgb(35,31,31);
}
#P121_39
{
left:6531.07px;bottom:36114px;color:rgb(35,63,142);
}
#P121_40
{
left:6531.07px;bottom:34473.1px;color:rgb(35,31,31);
}
#P121_41
{
left:6531.07px;bottom:33316.3px;color:rgb(35,31,31);
}
#P121_42
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P121_43
{
left:10034.2px;bottom:33129.1px;color:rgb(35,31,31);
}
#P121_44
{
left:6531.07px;bottom:32100.3px;color:rgb(35,31,31);
}
#P121_45
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P121_46
{
left:10066.2px;bottom:31913.1px;color:rgb(35,31,31);
}
#P121_47
{
left:7491.07px;bottom:29347.5px;color:rgb(35,31,31);
}
#P121_48
{
left:9874.24px;bottom:29353.1px;color:rgb(35,31,31);
}
#P121_49
{
left:11750.3px;bottom:29347.5px;color:rgb(35,31,31);
}
#P121_50
{
left:13835.1px;bottom:29353.1px;color:rgb(35,31,31);
}
#P121_51
{
left:7491.07px;bottom:28137.1px;color:rgb(35,31,31);
}
#P121_52
{
left:14839px;bottom:28131.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P121_53
{
left:19700.7px;bottom:28137.1px;color:rgb(35,31,31);
}
#P121_54
{
left:19930.2px;bottom:28131.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P121_55
{
left:22201.5px;bottom:28137.1px;color:rgb(35,31,31);
}
#P121_56
{
left:23442.2px;bottom:28131.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P121_57
{
left:29212.7px;bottom:28137.1px;color:rgb(35,31,31);
}
#P121_58
{
left:6531.07px;bottom:25577.1px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P121_59
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P121_60
{
left:9380.67px;bottom:25571.5px;color:rgb(35,31,31);
}
#P121_61
{
left:11465.5px;bottom:25577.1px;color:rgb(35,31,31);
}
#P121_62
{
left:6531.07px;bottom:24361.1px;color:rgb(35,31,31);
}
#P121_63
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P121_64
{
left:6531.07px;bottom:22691.5px;color:rgb(237,28,35);
}
#P121_65
{
left:10443.8px;bottom:22697.1px;color:rgb(35,31,31);
}
#P121_66
{
left:7683.07px;bottom:21668.3px;color:rgb(35,31,31);
}
#P121_67
{
left:0px;letter-spacing:0px;margin-left:650.4px;
}
#P121_68
{
left:11314.2px;bottom:21481.1px;color:rgb(35,31,31);
}
#P121_69
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P121_70
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P121_71
{
left:6531.07px;bottom:20452.3px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P121_72
{
left:8963.07px;bottom:20265.1px;color:rgb(35,31,31);
}
#P121_73
{
left:9451.84px;bottom:20265.1px;color:rgb(35,31,31);
}
#P121_74
{
left:26599.9px;bottom:20259.5px;color:rgb(35,31,31);
}
#P121_75
{
left:28880.6px;bottom:20265.1px;color:rgb(35,31,31);
}
#P121_76
{
left:6531.07px;bottom:18601.1px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P121_77
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P121_78
{
left:9380.67px;bottom:18595.5px;color:rgb(35,31,31);
}
#P121_79
{
left:11497.5px;bottom:18601.1px;color:rgb(35,31,31);
}
#P121_80
{
left:6531.07px;bottom:17385.1px;color:rgb(35,31,31);
}
#P121_81
{
left:6531.07px;bottom:16035.5px;color:rgb(237,28,35);
}
#P121_82
{
left:10443.8px;bottom:16041.1px;color:rgb(35,31,31);
}
#P121_83
{
left:7683.07px;bottom:15012.3px;color:rgb(35,31,31);
}
#P121_84
{
left:0px;letter-spacing:0px;margin-left:650.4px;
}
#P121_85
{
left:11346.2px;bottom:14825.1px;color:rgb(35,31,31);
}
#P121_86
{
left:7683.07px;bottom:13796.3px;color:rgb(35,31,31);
}
#P121_87
{
left:0px;letter-spacing:0px;margin-left:650.4px;
}
#P121_88
{
left:11346.2px;bottom:13609.1px;color:rgb(35,31,31);
}
#P121_89
{
left:6531.07px;bottom:11547.3px;color:rgb(242,114,33);
}
#P121_90
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P121_91
{
left:25519.8px;bottom:11552.3px;color:rgb(242,114,33);
}
#P121_92
{
left:28100.7px;bottom:11547.3px;color:rgb(242,114,33);
}
#P121_93
{
left:29403.6px;bottom:11552.3px;color:rgb(242,114,33);
}
#P121_94
{
left:31988.6px;bottom:11547.3px;color:rgb(242,114,33);
}
#P121_95
{
left:6531.07px;bottom:9833.09px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P121_96
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P121_97
{
left:6531.07px;bottom:8489.09px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P121_98
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P121_99
{
left:12613.4px;bottom:8483.49px;color:rgb(35,31,31);
}
#P121_100
{
left:17322.2px;bottom:8489.09px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P121_101
{
left:7683.07px;bottom:7273.09px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P121_102
{
left:0px;letter-spacing:0px;margin-left:-59.3px;
}
#P121_103
{
left:6531.07px;bottom:5929.09px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P121_104
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P121_105
{
left:6531.07px;bottom:34473.1px;
}
#P121_106
{
left:4795.47px;bottom:35972.4px;color:rgb(255,242,0);
}
#PageContainer121
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg121.jpg");background-repeat:no-repeat;background-size: 969px 1045px; background-position: right bottom;
}
#ImageContainer121 {bottom:0.00px;right:0.00px;width:969.47px;height:1044.68px;position:absolute;} #TextContainer121 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
.pdf_pos_1{top: 1030px;left: 120px;position: absolute;height: 50px;width: auto;}