.tr111{ color:transparent;}
#P111_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P111_2
{
left:6517.18px;bottom:46294.7px;letter-spacing:-7.2px;color:rgb(35,31,31);
}
#P111_3
{
left:0px;letter-spacing:0px;margin-left:7.2px;
}
#P111_4
{
left:6517.18px;bottom:44950.7px;color:rgb(35,31,31);
}
#P111_5
{
left:0px;letter-spacing:0px;margin-left:-124px;
}
#P111_6
{
left:6517.18px;bottom:43144.8px;letter-spacing:-89.9px;color:rgb(242,114,33);
}
#P111_7
{
left:0px;letter-spacing:-0.2px;margin-left:89.9px;
}
#P111_8
{
left:6517.18px;bottom:41928.4px;color:rgb(242,114,33);
}
#P111_9
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P111_10
{
left:0px;letter-spacing:0px;
}
#P111_11
{
left:6517.18px;bottom:40712.1px;color:rgb(242,114,33);
}
#P111_12
{
left:6517.18px;bottom:39313.1px;color:rgb(237,28,35);
}
#P111_13
{
left:10677.2px;bottom:39318.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P111_14
{
left:6517.18px;bottom:38102.7px;color:rgb(35,31,31);
}
#P111_15
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P111_16
{
left:0px;letter-spacing:0px;margin-left:2778.4px;
}
#PageContainer111
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg111.jpg");background-repeat:no-repeat;background-size: 1065px 997px; background-position: right bottom;
}
#ImageContainer111 {bottom:0.00px;right:0.00px;width:1064.80px;height:996.62px;position:absolute;} #TextContainer111 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
