#Barrel{position: absolute;top: 1010px;left: 508px;height: 25px;width: 58px; background-repeat: no-repeat;opacity: 0;}
#Pint{position: absolute;top: 1043px;left: 174px;height: 25px;width: 45px;background-repeat: no-repeat;opacity: 0;}

.tr27{ color:transparent;}
#P27_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P27_2
{
left:6531.07px;bottom:46417.8px;word-spacing:-0.8px;color:rgb(35,31,31);
}
#P27_3
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P27_4
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P27_5
{
left:6531.07px;bottom:45201.8px;color:rgb(35,31,31);
}
#P27_6
{
left:6531.07px;bottom:43985.8px;color:rgb(35,31,31);
}
#P27_7
{
left:24910.3px;bottom:42321.8px;color:rgb(35,31,31);
}
#P27_8
{
left:24910.3px;bottom:41105.8px;color:rgb(35,31,31);
}
#P27_9
{
left:24910.3px;bottom:39889.8px;color:rgb(35,31,31);
}
#P27_10
{
left:24910.3px;bottom:38673.8px;color:rgb(35,31,31);
}
#P27_11
{
left:24910.3px;bottom:37457.8px;color:rgb(35,31,31);
}
#P27_12
{
left:24910.3px;bottom:36241.8px;color:rgb(35,31,31);
}
#P27_13
{
left:24910.3px;bottom:35025.8px;color:rgb(35,31,31);
}
#P27_14
{
left:24910.3px;bottom:33809.8px;color:rgb(35,31,31);
}
#P27_15
{
left:24910.3px;bottom:32593.8px;color:rgb(35,31,31);
}
#P27_16
{
left:24910.3px;bottom:31377.8px;color:rgb(35,31,31);
}
#P27_17
{
left:24910.3px;bottom:30161.8px;word-spacing:-140.8px;color:rgb(35,31,31);
}
#P27_18
{
left:0px;letter-spacing:0px;margin-left:140.8px;
}
#P27_19
{
left:0px;letter-spacing:0px;margin-left:140.8px;
}
#P27_20
{
left:0px;letter-spacing:0px;margin-left:140.8px;
}
#P27_21
{
left:0px;letter-spacing:0px;margin-left:140.8px;
}
#P27_22
{
left:24910.3px;bottom:28497.8px;color:rgb(35,31,31);
}
#P27_23
{
left:24910.3px;bottom:27281.8px;color:rgb(35,31,31);
}
#P27_24
{
left:24910.3px;bottom:26065.8px;color:rgb(35,31,31);
}
#P27_25
{
left:24910.3px;bottom:24849.8px;color:rgb(35,31,31);
}
#P27_26
{
left:6531.07px;bottom:23185.8px;color:rgb(35,31,31);
}
#P27_27
{
left:6531.07px;bottom:21969.8px;color:rgb(35,31,31);
}
#P27_28
{
left:6531.07px;bottom:20753.8px;color:rgb(35,31,31);
}
#P27_29
{
left:6531.07px;bottom:19537.8px;color:rgb(35,31,31);
}
#P27_30
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P27_31
{
left:0px;letter-spacing:0px;margin-left:-59.3px;
}
#P27_32
{
left:6531.07px;bottom:18321.8px;color:rgb(35,31,31);
}
#P27_33
{
left:6531.07px;bottom:16657.8px;color:rgb(35,31,31);
}
#P27_34
{
left:6531.07px;bottom:15441.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P27_35
{
left:6531.07px;bottom:14225.8px;color:rgb(35,31,31);
}
#P27_36
{
left:6531.07px;bottom:12561.8px;color:rgb(35,31,31);
}
#P27_37
{
left:20888.4px;bottom:12911.6px;color:rgb(35,31,31);
}
#P27_38
{
left:21156.2px;bottom:12561.8px;color:rgb(35,31,31);
}
#P27_39
{
left:6531.33px;bottom:11345.8px;color:rgb(35,31,31);
}
#P27_40
{
left:8087.04px;bottom:11695.6px;color:rgb(35,31,31);
}
#P27_41
{
left:8354.75px;bottom:11345.8px;color:rgb(35,31,31);
}
#P27_42
{
left:6530.75px;bottom:9681.79px;color:rgb(35,31,31);
}
#P27_43
{
left:6530.75px;bottom:8465.79px;color:rgb(35,31,31);
}
#P27_44
{
left:6530.75px;bottom:7249.79px;color:rgb(35,31,31);
}
#P27_45
{
left:20482.8px;bottom:5642.59px;color:rgb(35,31,31);
}
#P27_46
{
left:20762.2px;bottom:5685.55px;letter-spacing:-3.7px;color:rgb(35,31,31);
}
#P27_47
{
left:23642.3px;bottom:5642.59px;color:rgb(35,31,31);
}
#P27_48
{
left:24271.9px;bottom:5685.55px;color:rgb(35,31,31);
}
#P27_49
{
left:26928.7px;bottom:9754.5px;color:rgb(35,31,31);
}
#P27_50
{
left:27118.3px;bottom:9445.96px;color:rgb(35,31,31);
}
#P27_51
{
left:29021.2px;bottom:9445.96px;color:rgb(35,31,31);
}
#P27_52
{
left:26928.9px;bottom:8601.16px;color:rgb(35,31,31);
}
#P27_53
{
left:0px;letter-spacing:0px;margin-left:-2.8px;
}
#P27_54
{
left:26928.9px;bottom:7756.36px;color:rgb(35,31,31);
}
#P27_55
{
left:26928.7px;bottom:7220.1px;color:rgb(35,31,31);
}
#P27_56
{
left:27128.1px;bottom:6911.56px;color:rgb(35,31,31);
}
#P27_57
{
left:28762.8px;bottom:6911.56px;color:rgb(35,31,31);
}
#P27_58
{
left:26928.1px;bottom:6066.76px;color:rgb(35,31,31);
}
#PageContainer27
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg027.jpg");background-repeat:no-repeat;background-size: 1058px 1178px; background-position: right bottom;
}
#ImageContainer27 {bottom:0.00px;right:0.00px;width:1058.39px;height:1177.72px;position:absolute;} #TextContainer27 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

#successor{position: absolute;top: 1095px;left: 236px;height: 25px;width: 97px; border-color:red; border-style: solid; border-width: 1px;}
#successor{position: absolute;top: 1095px;left: 236px;height: 25px;width: 97px; border-color:red; border-style: solid; border-width: 1px;}