.tr135{ color:transparent;}
#P135_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P135_2
{
left:6531.07px;bottom:46420px;color:rgb(35,31,31);
}
#P135_3
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P135_4
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P135_5
{
left:6531.07px;bottom:45065.9px;letter-spacing:980.9px;color:rgb(35,31,31);
}
#P135_6
{
left:0px;letter-spacing:0px;margin-left:-980.9px;
}
#P135_7
{
left:7683.39px;bottom:43849.6px;color:rgb(35,31,31);
}
#P135_8
{
left:6531.07px;bottom:40316.9px;color:rgb(35,63,142);
}
#P135_9
{
left:15531.8px;bottom:40718.2px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P135_10
{
left:6531.07px;bottom:38214.1px;color:rgb(242,114,33);
}
#P135_11
{
left:0px;letter-spacing:0px;margin-left:-89.9px;
}
#P135_12
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P135_13
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P135_14
{
left:6531.07px;bottom:36997.8px;color:rgb(242,114,33);
}
#P135_15
{
left:6531.07px;bottom:35781.4px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P135_16
{
left:6531.07px;bottom:34565px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P135_17
{
left:6531.07px;bottom:32708.8px;letter-spacing:-20.5px;color:rgb(242,114,33);
}
#P135_18
{
left:0px;letter-spacing:-0.1px;margin-left:20.5px;
}
#P135_19
{
left:6531.07px;bottom:31492.4px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P135_20
{
left:6531.07px;bottom:30100px;color:rgb(35,31,31);
}
#P135_21
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P135_22
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P135_23
{
left:6531.07px;bottom:28756px;color:rgb(35,31,31);
}
#P135_24
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P135_25
{
left:6531.07px;bottom:27412px;color:rgb(35,31,31);
}
#P135_26
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P135_27
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P135_28
{
left:6531.07px;bottom:26068px;color:rgb(35,31,31);
}
#P135_29
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P135_30
{
left:4842.48px;bottom:40413.9px;color:rgb(255,242,0);
}
#PageContainer135
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg135.jpg");background-repeat:no-repeat;background-size: 971px 1163px; background-position: right bottom;
}
#ImageContainer135 {bottom:0.00px;right:0.00px;width:971.09px;height:1163.04px;position:absolute;} #TextContainer135 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}


.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.audio_pos{top: 308px;left: 118px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 308px;left: 118px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}