.tr21{ color:transparent;}
#P21_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P21_2
{
left:4648.83px;bottom:45528px;color:rgb(255,242,0);
}
#P21_3
{
left:6531.07px;bottom:45582.5px;color:rgb(35,63,142);
}
#P21_4
{
left:15246.8px;bottom:45983.8px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P21_5
{
left:6531.07px;bottom:43941.5px;color:rgb(35,31,31);
}
#P21_6
{
left:6531.07px;bottom:42725.5px;color:rgb(35,31,31);
}
#P21_7
{
left:6531.07px;bottom:41509.5px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P21_8
{
left:6531.07px;bottom:40293.5px;color:rgb(35,31,31);
}
#P21_9
{
left:0px;letter-spacing:0px;
}
#P21_10
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P21_11
{
left:6531.07px;bottom:39077.5px;letter-spacing:-25.6px;color:rgb(35,31,31);
}
#P21_12
{
left:0px;letter-spacing:0px;margin-left:25.6px;
}
#P21_13
{
left:6531.07px;bottom:37861.5px;color:rgb(35,31,31);
}
#P21_14
{
left:6531.07px;bottom:36645.5px;color:rgb(35,31,31);
}
#P21_15
{
left:7432.7px;bottom:33902.5px;color:rgb(35,31,31);
}
#P21_16
{
left:7432.7px;bottom:32554.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P21_17
{
left:21938.6px;bottom:33902.5px;color:rgb(35,31,31);
}
#P21_18
{
left:21938.6px;bottom:32554.1px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P21_19
{
left:7432.7px;bottom:29599.1px;color:rgb(35,31,31);
}
#P21_20
{
left:7432.7px;bottom:28250.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P21_21
{
left:21938.6px;bottom:29599.1px;color:rgb(35,31,31);
}
#P21_22
{
left:21938.6px;bottom:28250.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P21_23
{
left:4883.79px;bottom:12340.9px;color:rgb(255,242,0);
}
#P21_24
{
left:6548.61px;bottom:25670.6px;color:rgb(237,28,35);
}
#P21_25
{
left:6548.61px;bottom:24332.2px;color:rgb(35,31,31);
}
#P21_26
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P21_27
{
left:6548.61px;bottom:23116.2px;color:rgb(35,31,31);
}
#P21_28
{
left:6548.61px;bottom:21900.2px;color:rgb(35,31,31);
}
#P21_29
{
left:6548.61px;bottom:20684.2px;color:rgb(35,31,31);
}
#P21_30
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P21_31
{
left:6548.61px;bottom:19468.2px;color:rgb(35,31,31);
}
#P21_32
{
left:6548.61px;bottom:18252.2px;color:rgb(35,31,31);
}
#P21_33
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P21_34
{
left:0px;letter-spacing:-0.6px;margin-left:19.2px;
}
#P21_35
{
left:6548.61px;bottom:17036.2px;color:rgb(35,31,31);
}
#P21_36
{
left:6548.61px;bottom:15820.2px;color:rgb(35,31,31);
}
#P21_37
{
left:6548.61px;bottom:12405.2px;color:rgb(35,63,142);
}
#P21_38
{
left:15549.3px;bottom:12806.4px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P21_39
{
left:6548.61px;bottom:10302.4px;color:rgb(242,114,33);
}
#P21_40
{
left:6548.61px;bottom:9086.02px;color:rgb(242,114,33);
}
#P21_41
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P21_42
{
left:0px;letter-spacing:0px;margin-left:-89.9px;
}
#P21_43
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P21_44
{
left:6548.61px;bottom:7869.63px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P21_45
{
left:0px;letter-spacing:0px;margin-left:-281.8px;
}
#P21_46
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P21_47
{
left:0px;letter-spacing:-0.4px;
}
#P21_48
{
left:6548.61px;bottom:6653.25px;color:rgb(242,114,33);
}
#PageContainer21
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg021.jpg");background-repeat:no-repeat;background-size: 971px 1304px; background-position: right bottom;
}
#ImageContainer21 {bottom:0.00px;right:0.00px;width:970.84px;height:1304.47px;position:absolute;} #TextContainer21 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
