.tr6{ color:transparent;}
#P6_1
{
left:2542.57px;bottom:2306.95px;color:white;
}
#P6_2
{
left:6487.17px;bottom:46537px;word-spacing:42.2px;color:rgb(35,31,31);
}
#P6_3
{
left:15077.4px;bottom:46536.3px;letter-spacing:0.4px;word-spacing:43.6px;color:rgb(35,31,31);
}
#P6_4
{
left:20289.8px;bottom:46537px;word-spacing:42.2px;color:rgb(35,31,31);
}
#P6_5
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P6_6
{
left:6487.17px;bottom:45512.7px;letter-spacing:-0.2px;word-spacing:9.2px;color:rgb(35,31,31);
}
#P6_7
{
left:6487.17px;bottom:44488.4px;color:rgb(35,31,31);
}
#P6_8
{
left:6487.17px;bottom:42888.2px;word-spacing:167.6px;color:rgb(35,31,31);
}
#P6_9
{
left:14978.8px;bottom:42887.5px;letter-spacing:0.4px;word-spacing:172.5px;color:rgb(35,31,31);
}
#P6_10
{
left:20228.5px;bottom:42888.2px;color:rgb(35,31,31);
}
#P6_11
{
left:20800.2px;bottom:42887.5px;letter-spacing:0.4px;word-spacing:172.5px;color:rgb(35,31,31);
}
#P6_12
{
left:26531.5px;bottom:42888.2px;word-spacing:167.6px;color:rgb(35,31,31);
}
#P6_13
{
left:28147.8px;bottom:42887.5px;letter-spacing:0.4px;word-spacing:172.5px;color:rgb(35,31,31);
}
#P6_14
{
left:33555.3px;bottom:42888.2px;color:rgb(35,31,31);
}
#P6_15
{
left:6487.17px;bottom:41863.9px;word-spacing:46.5px;color:rgb(35,31,31);
}
#P6_16
{
left:26516px;bottom:41858.9px;letter-spacing:0.4px;word-spacing:46.5px;color:rgb(35,31,31);
}
#P6_17
{
left:33276.5px;bottom:41863.9px;color:rgb(35,31,31);
}
#P6_18
{
left:33728.4px;bottom:41863.2px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P6_19
{
left:6487.17px;bottom:40838.8px;word-spacing:81px;color:rgb(35,31,31);
}
#P6_20
{
left:9558.02px;bottom:40839.6px;word-spacing:78.1px;color:rgb(35,31,31);
}
#P6_21
{
left:6487.17px;bottom:39815.2px;letter-spacing:-0.1px;word-spacing:-45.1px;color:rgb(35,31,31);
}
#P6_22
{
left:6487.17px;bottom:38790.9px;word-spacing:-6.3px;color:rgb(35,31,31);
}
#P6_23
{
left:6487.17px;bottom:37766.6px;word-spacing:32.4px;color:rgb(35,31,31);
}
#P6_24
{
left:6487.17px;bottom:36742.3px;word-spacing:-53.5px;color:rgb(35,31,31);
}
#P6_25
{
left:16090.4px;bottom:36741.6px;letter-spacing:0.4px;word-spacing:-54.9px;color:rgb(35,31,31);
}
#P6_26
{
left:21145.9px;bottom:36742.3px;word-spacing:-53.5px;color:rgb(35,31,31);
}
#P6_27
{
left:6487.17px;bottom:35718px;word-spacing:194.3px;color:rgb(35,31,31);
}
#P6_28
{
left:21386.6px;bottom:35713px;word-spacing:194.3px;color:rgb(35,31,31);
}
#P6_29
{
left:28609.6px;bottom:35718px;letter-spacing:-0.1px;word-spacing:194.3px;color:rgb(35,31,31);
}
#P6_30
{
left:6487.17px;bottom:34693.6px;word-spacing:-4.2px;color:rgb(35,31,31);
}
#P6_31
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P6_32
{
left:31529.9px;bottom:34688.7px;word-spacing:-4.2px;color:rgb(35,31,31);
}
#P6_33
{
left:6487.17px;bottom:33664.4px;color:rgb(35,31,31);
}
#P6_34
{
left:9006.19px;bottom:33669.3px;letter-spacing:0.1px;word-spacing:12px;color:rgb(35,31,31);
}
#P6_35
{
left:33729.2px;bottom:33668.6px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P6_36
{
left:6487.17px;bottom:32644.3px;word-spacing:30.3px;color:rgb(35,31,31);
}
#P6_37
{
left:9616.35px;bottom:32645px;letter-spacing:-0.1px;word-spacing:29.6px;color:rgb(35,31,31);
}
#P6_38
{
left:6487.17px;bottom:31620.7px;word-spacing:-7px;color:rgb(35,31,31);
}
#P6_39
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P6_40
{
left:6487.17px;bottom:30596.4px;word-spacing:66.9px;color:rgb(35,31,31);
}
#P6_41
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P6_42
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P6_43
{
left:6487.17px;bottom:29572px;color:rgb(35,31,31);
}
#P6_44
{
left:13990.4px;bottom:29571.3px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P6_45
{
left:21217.7px;bottom:29572px;color:rgb(35,31,31);
}
#P6_46
{
left:6487.17px;bottom:27086.5px;letter-spacing:-7.9px;color:rgb(35,63,142);
}
#P6_47
{
left:6487.17px;bottom:25801px;word-spacing:97.2px;color:rgb(35,31,31);
}
#P6_48
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P6_49
{
left:14513.5px;bottom:25796.1px;letter-spacing:-0.5px;word-spacing:100px;color:rgb(35,31,31);
}
#P6_50
{
left:19988.7px;bottom:25801px;letter-spacing:0.2px;word-spacing:97.2px;color:rgb(35,31,31);
}
#P6_51
{
left:6487.17px;bottom:24776.7px;letter-spacing:-0.2px;word-spacing:40.8px;color:rgb(35,31,31);
}
#P6_52
{
left:6487.17px;bottom:23752.4px;word-spacing:58.4px;color:rgb(35,31,31);
}
#P6_53
{
left:6487.17px;bottom:22728.1px;letter-spacing:0.1px;word-spacing:96.4px;color:rgb(35,31,31);
}
#P6_54
{
left:6487.17px;bottom:21703px;letter-spacing:0.4px;word-spacing:73.2px;color:rgb(35,31,31);
}
#P6_55
{
left:11657.3px;bottom:21703.7px;color:rgb(35,31,31);
}
#P6_56
{
left:11930.5px;bottom:21703px;word-spacing:73.2px;color:rgb(35,31,31);
}
#P6_57
{
left:15284.4px;bottom:21703.7px;letter-spacing:0.1px;word-spacing:71.1px;color:rgb(35,31,31);
}
#P6_58
{
left:6487.17px;bottom:20679.4px;color:rgb(35,31,31);
}
#P6_59
{
left:13654.6px;bottom:20678.7px;color:rgb(35,31,31);
}
#P6_60
{
left:16400.9px;bottom:20679.4px;color:rgb(35,31,31);
}
#P6_61
{
left:26353.3px;bottom:20674.5px;letter-spacing:-49.3px;word-spacing:49.3px;color:rgb(35,31,31);
}
#P6_62
{
left:27164.4px;bottom:20679.4px;color:rgb(35,31,31);
}
#P6_63
{
left:6487.17px;bottom:18190.5px;color:rgb(35,63,142);
}
#P6_64
{
left:6487.17px;bottom:16905px;word-spacing:252px;color:rgb(35,31,31);
}
#P6_65
{
left:25987.3px;bottom:16900.1px;word-spacing:252px;color:rgb(35,31,31);
}
#P6_66
{
left:29919.8px;bottom:16905px;word-spacing:252px;color:rgb(35,31,31);
}
#P6_67
{
left:6487.17px;bottom:15880.7px;word-spacing:-56.3px;color:rgb(35,31,31);
}
#P6_68
{
left:26326.6px;bottom:15875.8px;letter-spacing:-0.5px;word-spacing:-58.4px;color:rgb(35,31,31);
}
#P6_69
{
left:31489.7px;bottom:15880.7px;word-spacing:-56.3px;color:rgb(35,31,31);
}
#P6_70
{
left:6487.17px;bottom:14856.4px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P6_71
{
left:6487.17px;bottom:13640.6px;color:rgb(35,31,31);
}
#P6_72
{
left:0px;letter-spacing:0px;margin-left:214px;
}
#P6_73
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_74
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_75
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_76
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_77
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_78
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_79
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_80
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_81
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_82
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_83
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_84
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_85
{
left:0px;letter-spacing:0px;margin-left:-71.8px;
}
#P6_86
{
left:7255.23px;bottom:12616.3px;letter-spacing:-0.1px;word-spacing:26.8px;color:rgb(35,31,31);
}
#P6_87
{
left:7255.23px;bottom:11591.9px;word-spacing:-21.1px;color:rgb(35,31,31);
}
#P6_88
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P6_89
{
left:7255.23px;bottom:10567.6px;color:rgb(35,31,31);
}
#P6_90
{
left:6487.17px;bottom:9351.81px;color:rgb(35,31,31);
}
#P6_91
{
left:0px;letter-spacing:0px;margin-left:214px;
}
#P6_92
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_93
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_94
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_95
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_96
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_97
{
left:0px;letter-spacing:0px;margin-left:135.9px;
}
#P6_98
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_99
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_100
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_101
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_102
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_103
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_104
{
left:0px;letter-spacing:0px;margin-left:-33.1px;
}
#P6_105
{
left:7255.23px;bottom:8327.49px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P6_106
{
left:6487.17px;bottom:7111.68px;color:rgb(35,31,31);
}
#P6_107
{
left:0px;letter-spacing:0px;margin-left:214px;
}
#P6_108
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_109
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_110
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_111
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_112
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_113
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_114
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_115
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_116
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_117
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_118
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_119
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_120
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_121
{
left:0px;letter-spacing:0px;margin-left:-47.9px;
}
#P6_122
{
left:7255.23px;bottom:6087.36px;word-spacing:-14.8px;color:rgb(35,31,31);
}
#P6_123
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P6_124
{
left:7255.23px;bottom:5063.04px;color:rgb(35,31,31);
}
#P6_125
{
left:0px;letter-spacing:0px;margin-left:-219.6px;
}
#P6_126
{
left:0px;letter-spacing:0px;margin-left:16.9px;
}
#PageContainer6
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg006.jpg");background-repeat:no-repeat;background-size: 108px 102px; background-position: left bottom;
}
#ImageContainer6 {bottom:0.00px;left:0.00px;width:107.79px;height:102.03px;position:absolute;} #TextContainer6 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
