.tr25{
 color:transparent;
}
#P25_1{
left:248.5px;bottom:422.7px;color:rgb(35,31,31);rightpos:628.8px;fontSize:24.3px;isVertical:False;
}
#P25_2{
left:217.3px;bottom:391.5px;color:rgb(35,31,31);rightpos:580.8px;fontSize:24.3px;isVertical:False;
}
#P25_3{
left:217.3px;bottom:360.2px;color:rgb(35,31,31);rightpos:621.2px;fontSize:24.3px;isVertical:False;
}
#P25_4{
left:217.3px;bottom:329px;color:rgb(35,31,31);rightpos:608.4px;fontSize:24.3px;isVertical:False;
}
#P25_5{
left:217.3px;bottom:297.8px;color:rgb(35,31,31);rightpos:628.4px;fontSize:24.3px;isVertical:False;
}
#P25_6{
left:217.3px;bottom:266.6px;color:rgb(35,31,31);rightpos:615.6px;fontSize:24.3px;isVertical:False;
}
#P25_7{
left:217.3px;bottom:235.3px;color:rgb(35,31,31);rightpos:617px;fontSize:24.3px;isVertical:False;
}
#P25_8{
left:217.3px;bottom:204.1px;color:rgb(35,31,31);rightpos:631.1px;fontSize:24.3px;isVertical:False;
}
#P25_9{
left:217.3px;bottom:172.9px;color:rgb(35,31,31);rightpos:523.3px;fontSize:24.3px;isVertical:False;
}
#P25_10{
left:535px;bottom:172.9px;color:rgb(35,31,31);rightpos:642.9px;fontSize:24.3px;isVertical:False;
}
#P25_11{
left:217.3px;bottom:141.6px;color:rgb(35,31,31);rightpos:475.3px;fontSize:24.3px;isVertical:False;
}
#P25_12{
left:488.9px;bottom:705.6px;color:rgb(35,31,31);rightpos:716.7px;fontSize:20.8px;isVertical:False;
}
#P25_13{
left:488.9px;bottom:681.3px;color:rgb(35,31,31);rightpos:751.7px;fontSize:20.8px;isVertical:False;
}
#P25_14{
left:488.9px;bottom:657px;color:rgb(35,31,31);rightpos:729.6px;fontSize:20.8px;isVertical:False;
}
#P25_15{
left:488.9px;bottom:632.7px;color:rgb(35,31,31);rightpos:627.9px;fontSize:20.8px;isVertical:False;
}
#P25_16{
left:751.9px;bottom:54.2px;color:white;rightpos:782.8px;fontSize:27.8px;isVertical:False;
}
#PageContainer25{
width:875px;height:1125px;background-image: url("../images/page0025.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: right bottom;
}
#ImageContainer25 {
bottom:0.00px;right:0.00px;width:875px;height:1125px;position:absolute;
}
#page0025_para1{
left:489px; bottom:633px; color:rgb(35,31,31); line-height:1.1274;
}
#page0025_para2{
left:217px; bottom:142px; color:rgb(35,31,31); line-height:1.25638; text-indent:31px;
}
#page0025_para3{
left:752px; bottom:54px; color:white; line-height:1;
}
