.tr28{
 color:transparent;
}
#P28_1{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_2{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_3{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_4{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_5{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_6{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_7{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_8{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_9{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_10{
bottom:0px;letter-spacing:0.8px;color:rgb(209,221,38);fontSize:54.2px;isVertical:False;
}
#P28_11{
left:141.3px;bottom:835.8px;color:white;rightpos:715.6px;fontSize:24.3px;isVertical:False;
}
#P28_12{
left:110.1px;bottom:804.6px;color:white;rightpos:741.5px;fontSize:24.3px;isVertical:False;
}
#P28_13{
left:110.1px;bottom:773.3px;color:white;rightpos:735.4px;fontSize:24.3px;isVertical:False;
}
#P28_14{
left:110.1px;bottom:742.1px;color:white;rightpos:755px;fontSize:24.3px;isVertical:False;
}
#P28_15{
left:110.1px;bottom:710.9px;color:white;rightpos:756.3px;fontSize:24.3px;isVertical:False;
}
#P28_16{
left:110.1px;bottom:679.6px;color:white;rightpos:715.2px;fontSize:24.3px;isVertical:False;
}
#P28_17{
left:110.1px;bottom:648.4px;color:white;rightpos:754.2px;fontSize:24.3px;isVertical:False;
}
#P28_18{
left:110.1px;bottom:617.2px;color:white;rightpos:767.8px;fontSize:24.3px;isVertical:False;
}
#P28_19{
left:110.1px;bottom:586px;color:white;rightpos:306.2px;fontSize:24.3px;isVertical:False;
}
#P28_20{
left:141.3px;bottom:539.1px;color:white;rightpos:733.3px;fontSize:24.3px;isVertical:False;
}
#P28_21{
left:110.1px;bottom:507.9px;color:white;rightpos:736.5px;fontSize:24.3px;isVertical:False;
}
#P28_22{
left:110.1px;bottom:476.7px;color:white;rightpos:747.7px;fontSize:24.3px;isVertical:False;
}
#P28_23{
left:110.1px;bottom:445.4px;word-spacing:0px;color:white;rightpos:770.9px;fontSize:24.3px;isVertical:False;
}
#P28_24{
left:110.1px;bottom:414.2px;color:white;rightpos:755.6px;fontSize:24.3px;isVertical:False;
}
#P28_25{
left:110.1px;bottom:383px;color:white;rightpos:545.9px;fontSize:24.3px;isVertical:False;
}
#P28_26{
left:94.7px;bottom:48.4px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#P28_27{
left:110.1px;bottom:946.5px;isVertical:False;
}
#P28_28{
left:158.9px;bottom:946.5px;isVertical:False;
}
#P28_29{
left:268.9px;bottom:946.5px;isVertical:False;
}
#P28_30{
left:323.4px;bottom:946.5px;isVertical:False;
}
#P28_31{
left:360px;bottom:946.5px;isVertical:False;
}
#P28_32{
left:397.1px;bottom:946.5px;isVertical:False;
}
#P28_33{
left:110.1px;bottom:878.9px;isVertical:False;
}
#P28_34{
left:190.9px;bottom:878.9px;isVertical:False;
}
#P28_35{
left:336.3px;bottom:878.9px;isVertical:False;
}
#P28_36{
left:370.6px;bottom:878.9px;isVertical:False;
}
#PageContainer28{
width:875px;height:1125px;background-image: url("../images/page0028.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer28 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0028_para1{
left:110px; bottom:879px; color:rgb(209,221,38); line-height:1.11808;
}
#page0028_para2{
left:110px; bottom:586px; color:white; line-height:1.25423; text-indent:31px;
}
#page0028_para3{
left:110px; bottom:383px; color:white; line-height:1.23663; text-indent:31px;
}
#page0028_para4{
left:95px; bottom:48px; color:white; line-height:1;
}
