.tr11{
 color:transparent;
}
#P11_1{
left:109.3px;bottom:973.9px;color:rgb(198,21,140);rightpos:469.9px;fontSize:48.6px;isVertical:False;
}
#P11_2{
left:140.5px;bottom:915.9px;color:rgb(35,31,31);rightpos:748.2px;fontSize:24.3px;isVertical:False;
}
#P11_3{
left:109.3px;bottom:884.6px;letter-spacing:-0.2px;color:rgb(35,31,31);rightpos:758.6px;fontSize:24.3px;isVertical:False;
}
#P11_4{
left:109.3px;bottom:853.4px;color:rgb(35,31,31);rightpos:742.6px;fontSize:24.3px;isVertical:False;
}
#P11_5{
left:109.3px;bottom:822.2px;color:rgb(35,31,31);rightpos:237.9px;fontSize:24.3px;isVertical:False;
}
#P11_6{
left:249.3px;bottom:822.2px;color:rgb(35,31,31);rightpos:493.5px;fontSize:24.3px;isVertical:False;
}
#P11_7{
left:493.5px;bottom:827.1px;color:rgb(35,31,31);rightpos:565px;fontSize:24.3px;isVertical:False;
}
#P11_8{
left:565px;bottom:822.2px;color:rgb(35,31,31);rightpos:749.8px;fontSize:24.3px;isVertical:False;
}
#P11_9{
left:109.3px;bottom:790.9px;color:rgb(35,31,31);rightpos:728.3px;fontSize:24.3px;isVertical:False;
}
#P11_10{
left:109.3px;bottom:759.7px;color:rgb(35,31,31);rightpos:215.1px;fontSize:24.3px;isVertical:False;
}
#P11_11{
left:140.5px;bottom:712.9px;color:rgb(35,31,31);rightpos:716.4px;fontSize:24.3px;isVertical:False;
}
#P11_12{
left:109.3px;bottom:681.7px;color:rgb(35,31,31);rightpos:712.8px;fontSize:24.3px;isVertical:False;
}
#P11_13{
left:109.3px;bottom:650.4px;color:rgb(35,31,31);rightpos:759.8px;fontSize:24.3px;isVertical:False;
}
#P11_14{
left:109.3px;bottom:619.2px;color:rgb(35,31,31);rightpos:734.6px;fontSize:24.3px;isVertical:False;
}
#P11_15{
left:109.3px;bottom:588px;color:rgb(35,31,31);rightpos:168.9px;fontSize:24.3px;isVertical:False;
}
#P11_16{
left:168.9px;bottom:593px;color:rgb(35,31,31);rightpos:295.3px;fontSize:24.3px;isVertical:False;
}
#P11_17{
left:295.3px;bottom:588px;color:rgb(35,31,31);rightpos:754.5px;fontSize:24.3px;isVertical:False;
}
#P11_18{
left:140.5px;bottom:541.1px;color:rgb(35,31,31);rightpos:741.6px;fontSize:24.3px;isVertical:False;
}
#P11_19{
left:109.3px;bottom:509.9px;color:rgb(35,31,31);rightpos:745.6px;fontSize:24.3px;isVertical:False;
}
#P11_20{
left:109.3px;bottom:478.7px;word-spacing:-0.7px;color:rgb(35,31,31);rightpos:176.6px;fontSize:24.3px;isVertical:False;
}
#P11_21{
left:174.7px;bottom:478.7px;color:rgb(35,31,31);rightpos:321.1px;fontSize:24.3px;isVertical:False;
}
#P11_22{
left:523.8px;bottom:274.4px;color:rgb(0,107,182);rightpos:551.5px;fontSize:31.2px;isVertical:True;
}
#P11_23{
left:551.2px;bottom:275.2px;color:rgb(0,107,182);rightpos:569.5px;fontSize:31.2px;isVertical:True;
}
#P11_24{
left:568.9px;bottom:275.6px;word-spacing:-1.2px;color:rgb(0,107,182);rightpos:607.5px;fontSize:31.2px;isVertical:True;
}
#P11_25{
left:607.1px;bottom:276.6px;color:rgb(0,107,182);rightpos:641.8px;fontSize:31.2px;isVertical:True;
}
#P11_26{
left:641.6px;bottom:277.5px;color:rgb(0,107,182);rightpos:659.3px;fontSize:31.2px;isVertical:True;
}
#P11_27{
left:659.3px;bottom:278px;color:rgb(0,107,182);rightpos:754.6px;fontSize:31.2px;isVertical:True;
}
#P11_28{
left:491.6px;bottom:244.2px;color:rgb(35,31,31);rightpos:501.1px;fontSize:19.1px;isVertical:True;
}
#P11_29{
left:500.9px;bottom:244.4px;color:rgb(35,31,31);rightpos:525.1px;fontSize:19.1px;isVertical:True;
}
#P11_30{
left:524.4px;bottom:245px;color:rgb(35,31,31);rightpos:540.6px;fontSize:19.1px;isVertical:True;
}
#P11_31{
left:540.5px;bottom:245.5px;color:rgb(35,31,31);rightpos:561.8px;fontSize:19.1px;isVertical:True;
}
#P11_32{
left:561.7px;bottom:246px;color:rgb(35,31,31);rightpos:733.1px;fontSize:19.1px;isVertical:True;
}
#P11_33{
left:492.2px;bottom:219.9px;color:rgb(35,31,31);rightpos:619.8px;fontSize:19.1px;isVertical:True;
}
#P11_34{
left:619.5px;bottom:223.2px;color:rgb(35,31,31);rightpos:726.4px;fontSize:19.1px;isVertical:True;
}
#P11_35{
left:726.2px;bottom:226px;color:rgb(35,31,31);rightpos:787.4px;fontSize:19.1px;isVertical:True;
}
#P11_36{
left:492.9px;bottom:195.6px;color:rgb(35,31,31);rightpos:506.9px;fontSize:19.1px;isVertical:True;
}
#P11_37{
left:506.7px;bottom:196px;color:rgb(35,31,31);rightpos:522.5px;fontSize:19.1px;isVertical:True;
}
#P11_38{
left:522.3px;bottom:196.4px;color:rgb(35,31,31);rightpos:588.4px;fontSize:19.1px;isVertical:True;
}
#P11_39{
left:588.2px;bottom:198.1px;color:rgb(35,31,31);rightpos:624.9px;fontSize:19.1px;isVertical:True;
}
#P11_40{
left:624.7px;bottom:199.1px;color:rgb(35,31,31);rightpos:666.1px;fontSize:19.1px;isVertical:True;
}
#P11_41{
left:666.2px;bottom:200.2px;color:rgb(35,31,31);rightpos:688.1px;fontSize:19.1px;isVertical:True;
}
#P11_42{
left:688.4px;bottom:200.7px;color:rgb(35,31,31);rightpos:700.4px;fontSize:19.1px;isVertical:True;
}
#P11_43{
left:699.7px;bottom:201px;color:rgb(35,31,31);rightpos:709.1px;fontSize:19.1px;isVertical:True;
}
#P11_44{
left:709px;bottom:201.3px;color:rgb(35,31,31);rightpos:750.3px;fontSize:19.1px;isVertical:True;
}
#P11_45{
left:750.3px;bottom:202.4px;color:rgb(35,31,31);rightpos:776.1px;fontSize:19.1px;isVertical:True;
}
#P11_46{
left:776px;bottom:203px;color:rgb(35,31,31);rightpos:786.3px;fontSize:19.1px;isVertical:True;
}
#P11_47{
left:493.5px;bottom:171.4px;color:rgb(35,31,31);rightpos:528.9px;fontSize:19.1px;isVertical:True;
}
#P11_48{
left:528.8px;bottom:172.3px;color:rgb(35,31,31);rightpos:550.9px;fontSize:19.1px;isVertical:True;
}
#P11_49{
left:550.8px;bottom:172.9px;color:rgb(35,31,31);rightpos:600.4px;fontSize:19.1px;isVertical:True;
}
#P11_50{
left:600.3px;bottom:174.1px;color:rgb(35,31,31);rightpos:663.3px;fontSize:19.1px;isVertical:True;
}
#P11_51{
left:663.3px;bottom:175.8px;color:rgb(35,31,31);rightpos:679.8px;fontSize:19.1px;isVertical:True;
}
#P11_52{
left:680.2px;bottom:176.2px;color:rgb(35,31,31);rightpos:780.9px;fontSize:19.1px;isVertical:True;
}
#P11_53{
left:494.1px;bottom:147.1px;color:rgb(35,31,31);rightpos:511.2px;fontSize:19.1px;isVertical:True;
}
#P11_54{
left:511px;bottom:147.5px;color:rgb(35,31,31);rightpos:563.5px;fontSize:19.1px;isVertical:True;
}
#P11_55{
left:563.4px;bottom:148.9px;color:rgb(35,31,31);rightpos:569.7px;fontSize:19.1px;isVertical:True;
}
#P11_56{
left:570.1px;bottom:149.1px;color:rgb(35,31,31);rightpos:574.1px;fontSize:19.1px;isVertical:True;
}
#P11_57{
left:572.7px;bottom:149.1px;color:rgb(35,31,31);rightpos:708px;fontSize:19.1px;isVertical:True;
}
#P11_58{
left:707.9px;bottom:152.7px;color:rgb(35,31,31);rightpos:728.2px;fontSize:19.1px;isVertical:True;
}
#P11_59{
left:728px;bottom:153.2px;color:rgb(35,31,31);rightpos:731.9px;fontSize:19.1px;isVertical:True;
}
#P11_60{
left:759.6px;bottom:48.4px;color:white;rightpos:775px;fontSize:27.8px;isVertical:False;
}
#PageContainer11{
width:875px;height:1125px;background-image: url("../images/page0011.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: right bottom;
}
#ImageContainer11 {
bottom:0.00px;right:0.00px;width:875px;height:1125px;position:absolute;
}
#page0011_para1{
left:109px; bottom:974px; color:rgb(198,21,140); line-height:1;
}
#page0011_para2{
left:109px; bottom:760px; color:rgb(35,31,31); line-height:1.23663; text-indent:31px;
}
#page0011_para3{
left:109px; bottom:588px; color:rgb(35,31,31); line-height:1.22881; text-indent:31px;
}
#page0011_para4{
left:109px; bottom:479px; color:rgb(35,31,31); line-height:1.18381; text-indent:31px;
}
#page0011_para5{
left:524px; bottom:274px; color:rgb(0,107,182); line-height:1;
}
#page0011_para6{
left:492px; bottom:147px; color:rgb(35,31,31); line-height:1.21571;
}
#page0011_para7{
left:760px; bottom:48px; color:white; line-height:1;
}
