.tr20{
 color:transparent;
}
#P20_1{
left:110.1px;bottom:964.4px;color:rgb(0,107,182);rightpos:470.1px;fontSize:48.6px;isVertical:False;
}
#P20_2{
left:141.3px;bottom:915.9px;color:rgb(35,31,31);rightpos:745.7px;fontSize:24.3px;isVertical:False;
}
#P20_3{
left:110.1px;bottom:884.6px;color:rgb(35,31,31);rightpos:220.7px;fontSize:24.3px;isVertical:False;
}
#P20_4{
left:232.1px;bottom:884.6px;color:rgb(35,31,31);rightpos:750.4px;fontSize:24.3px;isVertical:False;
}
#P20_5{
left:110.1px;bottom:853.4px;color:rgb(35,31,31);rightpos:723.2px;fontSize:24.3px;isVertical:False;
}
#P20_6{
left:734px;bottom:853.4px;color:rgb(35,31,31);rightpos:757.6px;fontSize:24.3px;isVertical:False;
}
#P20_7{
left:110.1px;bottom:822.2px;color:rgb(35,31,31);rightpos:526.2px;fontSize:24.3px;isVertical:False;
}
#P20_8{
left:537px;bottom:822.2px;color:rgb(35,31,31);rightpos:770.4px;fontSize:24.3px;isVertical:False;
}
#P20_9{
left:110.1px;bottom:790.9px;color:rgb(35,31,31);rightpos:515.9px;fontSize:24.3px;isVertical:False;
}
#P20_10{
left:141.3px;bottom:744.1px;color:rgb(35,31,31);rightpos:720px;fontSize:24.3px;isVertical:False;
}
#P20_11{
left:110.1px;bottom:712.9px;color:rgb(35,31,31);rightpos:443.7px;fontSize:24.3px;isVertical:False;
}
#P20_12{
left:455.4px;bottom:712.9px;color:rgb(35,31,31);rightpos:767.7px;fontSize:24.3px;isVertical:False;
}
#P20_13{
left:110.1px;bottom:681.7px;color:rgb(35,31,31);rightpos:641.9px;fontSize:24.3px;isVertical:False;
}
#P20_14{
left:141.3px;bottom:634.8px;color:rgb(35,31,31);rightpos:736.2px;fontSize:24.3px;isVertical:False;
}
#P20_15{
left:110.1px;bottom:603.6px;color:rgb(35,31,31);rightpos:741.9px;fontSize:24.3px;isVertical:False;
}
#P20_16{
left:110.1px;bottom:572.4px;color:rgb(35,31,31);rightpos:239.6px;fontSize:24.3px;isVertical:False;
}
#P20_17{
left:251.3px;bottom:572.4px;color:rgb(35,31,31);rightpos:524.3px;fontSize:24.3px;isVertical:False;
}
#P20_18{
left:536px;bottom:572.4px;color:rgb(35,31,31);rightpos:720px;fontSize:24.3px;isVertical:False;
}
#P20_19{
left:110.1px;bottom:541.1px;color:rgb(35,31,31);rightpos:398.1px;fontSize:24.3px;isVertical:False;
}
#P20_20{
left:409.8px;bottom:541.1px;color:rgb(35,31,31);rightpos:697px;fontSize:24.3px;isVertical:False;
}
#P20_21{
left:110.1px;bottom:509.9px;color:rgb(35,31,31);rightpos:602.5px;fontSize:24.3px;isVertical:False;
}
#P20_22{
left:614.2px;bottom:509.9px;color:rgb(35,31,31);rightpos:745.4px;fontSize:24.3px;isVertical:False;
}
#P20_23{
left:110.1px;bottom:478.7px;color:rgb(35,31,31);rightpos:561.2px;fontSize:24.3px;isVertical:False;
}
#P20_24{
left:88.2px;bottom:294.4px;color:rgb(35,31,31);rightpos:249px;fontSize:20.8px;isVertical:False;
}
#P20_25{
left:88.2px;bottom:270.1px;color:rgb(35,31,31);rightpos:172.9px;fontSize:20.8px;isVertical:False;
}
#P20_26{
left:172.9px;bottom:270.1px;color:rgb(35,31,31);rightpos:296.5px;fontSize:20.8px;isVertical:False;
}
#P20_27{
left:88.2px;bottom:245.8px;color:rgb(35,31,31);rightpos:262.6px;fontSize:20.8px;isVertical:False;
}
#P20_28{
left:94.7px;bottom:48.4px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#PageContainer20{
width:875px;height:1125px;background-image: url("../images/page0020.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer20 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0020_para1{
left:110px; bottom:964px; color:rgb(0,107,182); line-height:1;
}
#page0020_para2{
left:110px; bottom:791px; color:rgb(35,31,31); line-height:1.22881; text-indent:31px;
}
#page0020_para3{
left:110px; bottom:682px; color:rgb(35,31,31); line-height:1.18381; text-indent:31px;
}
#page0020_para4{
left:110px; bottom:479px; color:rgb(35,31,31); line-height:1.23663; text-indent:31px;
}
#page0020_para5{
left:88px; bottom:246px; color:rgb(35,31,31); line-height:1.10256;
}
#page0020_para6{
left:95px; bottom:48px; color:white; line-height:1;
}
