.tr30{
 color:transparent;
}
#P30_1{
bottom:0px;letter-spacing:0.8px;color:rgb(209,35,42);fontSize:54.2px;isVertical:False;
}
#P30_2{
left:141.3px;bottom:903.4px;color:rgb(35,31,31);rightpos:727.2px;fontSize:24.3px;isVertical:False;
}
#P30_3{
left:110.1px;bottom:872.1px;color:rgb(35,31,31);rightpos:723.8px;fontSize:24.3px;isVertical:False;
}
#P30_4{
left:110.1px;bottom:840.9px;color:rgb(35,31,31);rightpos:723.1px;fontSize:24.3px;isVertical:False;
}
#P30_5{
left:110.1px;bottom:809.7px;color:rgb(35,31,31);rightpos:280.7px;fontSize:24.3px;isVertical:False;
}
#P30_6{
left:280.7px;bottom:809.7px;color:rgb(35,31,31);rightpos:343.4px;fontSize:24.3px;isVertical:False;
}
#P30_7{
left:343.2px;bottom:809.7px;color:rgb(35,31,31);rightpos:461.9px;fontSize:24.3px;isVertical:False;
}
#P30_8{
left:461.8px;bottom:809.7px;color:rgb(35,31,31);rightpos:467.9px;fontSize:24.3px;isVertical:False;
}
#P30_9{
left:479.6px;bottom:809.7px;color:rgb(35,31,31);rightpos:707.6px;fontSize:24.3px;isVertical:False;
}
#P30_10{
left:110.1px;bottom:778.5px;color:rgb(35,31,31);rightpos:485.1px;fontSize:24.3px;isVertical:False;
}
#P30_11{
left:485.2px;bottom:778.5px;color:rgb(35,31,31);rightpos:740.8px;fontSize:24.3px;isVertical:False;
}
#P30_12{
left:110.1px;bottom:747.2px;color:rgb(35,31,31);rightpos:268.6px;fontSize:24.3px;isVertical:False;
}
#P30_13{
left:94.7px;bottom:64px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#P30_14{
left:110.1px;bottom:946.5px;isVertical:False;
}
#PageContainer30{
width:875px;height:1125px;background-image: url("../images/page0030.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer30 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0030_para1{
left:110px; bottom:946px; color:rgb(209,35,42); line-height:1;
}
#page0030_para2{
left:110px; bottom:747px; color:rgb(35,31,31); line-height:1.23663; text-indent:31px;
}
#page0030_para3{
left:95px; bottom:64px; color:white; line-height:1;
}
