.tr26{
 color:transparent;
}
#P26_1{
left:110.1px;bottom:964.4px;color:rgb(198,21,140);rightpos:707.3px;fontSize:48.6px;isVertical:False;
}
#P26_2{
left:140.5px;bottom:904.7px;color:rgb(35,31,31);rightpos:637.4px;fontSize:24.3px;isVertical:False;
}
#P26_3{
left:649.1px;bottom:904.7px;color:rgb(35,31,31);rightpos:692.9px;fontSize:24.3px;isVertical:False;
}
#P26_4{
left:109.3px;bottom:873.5px;color:rgb(35,31,31);rightpos:733.7px;fontSize:24.3px;isVertical:False;
}
#P26_5{
left:109.3px;bottom:842.3px;color:rgb(35,31,31);rightpos:550.1px;fontSize:24.3px;isVertical:False;
}
#P26_6{
left:561.8px;bottom:842.3px;color:rgb(35,31,31);rightpos:735.8px;fontSize:24.3px;isVertical:False;
}
#P26_7{
left:109.3px;bottom:811px;color:rgb(35,31,31);rightpos:653.1px;fontSize:24.3px;isVertical:False;
}
#P26_8{
left:664px;bottom:811px;color:rgb(35,31,31);rightpos:745.5px;fontSize:24.3px;isVertical:False;
}
#P26_9{
left:109.3px;bottom:779.8px;color:rgb(35,31,31);rightpos:726px;fontSize:24.3px;isVertical:False;
}
#P26_10{
left:109.3px;bottom:748.6px;color:rgb(35,31,31);rightpos:673.6px;fontSize:24.3px;isVertical:False;
}
#P26_11{
left:531.5px;bottom:138.7px;color:rgb(35,31,31);rightpos:544px;fontSize:20.8px;isVertical:False;
}
#P26_12{
left:543.5px;bottom:138.7px;word-spacing:-0.7px;color:rgb(35,31,31);rightpos:628.7px;fontSize:20.8px;isVertical:False;
}
#P26_13{
left:627.9px;bottom:138.7px;color:rgb(35,31,31);rightpos:736.3px;fontSize:20.8px;isVertical:False;
}
#P26_14{
left:94.7px;bottom:48.4px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#P26_15{
left:120.3px;bottom:646.6px;color:rgb(0,107,182);rightpos:340.7px;fontSize:31.2px;isVertical:True;
}
#P26_16{
left:109.4px;bottom:617.3px;color:rgb(35,31,31);rightpos:120px;fontSize:19.1px;isVertical:True;
}
#P26_17{
left:119.7px;bottom:617.2px;color:rgb(35,31,31);rightpos:142.5px;fontSize:19.1px;isVertical:True;
}
#P26_18{
left:142.4px;bottom:617px;color:rgb(35,31,31);rightpos:186.8px;fontSize:19.1px;isVertical:True;
}
#P26_19{
left:187px;bottom:616.6px;color:rgb(35,31,31);rightpos:193.3px;fontSize:19.1px;isVertical:True;
}
#P26_20{
left:193.2px;bottom:616.5px;color:rgb(35,31,31);rightpos:352.7px;fontSize:19.1px;isVertical:True;
}
#P26_21{
left:109.2px;bottom:593px;color:rgb(35,31,31);rightpos:137.4px;fontSize:19.1px;isVertical:True;
}
#P26_22{
left:137.2px;bottom:592.7px;color:rgb(35,31,31);rightpos:146.4px;fontSize:19.1px;isVertical:True;
}
#P26_23{
left:146.2px;bottom:592.7px;color:rgb(35,31,31);rightpos:274.9px;fontSize:19.1px;isVertical:True;
}
#P26_24{
left:274.8px;bottom:591.5px;color:rgb(35,31,31);rightpos:293px;fontSize:19.1px;isVertical:True;
}
#P26_25{
left:292.8px;bottom:591.4px;color:rgb(35,31,31);rightpos:304.9px;fontSize:19.1px;isVertical:True;
}
#P26_26{
left:304.1px;bottom:591.3px;color:rgb(35,31,31);rightpos:313.6px;fontSize:19.1px;isVertical:True;
}
#P26_27{
left:313.4px;bottom:591.2px;color:rgb(35,31,31);rightpos:346.6px;fontSize:19.1px;isVertical:True;
}
#P26_28{
left:109px;bottom:568.7px;color:rgb(35,31,31);rightpos:142px;fontSize:19.1px;isVertical:True;
}
#P26_29{
left:141.9px;bottom:568.4px;color:rgb(35,31,31);rightpos:297.7px;fontSize:19.1px;isVertical:True;
}
#P26_30{
left:297.6px;bottom:567.1px;color:rgb(35,31,31);rightpos:306.8px;fontSize:19.1px;isVertical:True;
}
#P26_31{
left:306.6px;bottom:567px;color:rgb(35,31,31);rightpos:326.4px;fontSize:19.1px;isVertical:True;
}
#P26_32{
left:108.7px;bottom:544.4px;color:rgb(35,31,31);rightpos:184.5px;fontSize:19.1px;isVertical:True;
}
#P26_33{
left:184.3px;bottom:543.8px;color:rgb(35,31,31);rightpos:196.3px;fontSize:19.1px;isVertical:True;
}
#P26_34{
left:195.5px;bottom:543.7px;color:rgb(35,31,31);rightpos:205px;fontSize:19.1px;isVertical:True;
}
#P26_35{
left:204.9px;bottom:543.6px;color:rgb(35,31,31);rightpos:334.4px;fontSize:19.1px;isVertical:True;
}
#P26_36{
left:108.5px;bottom:520.1px;color:rgb(35,31,31);rightpos:304.5px;fontSize:19.1px;isVertical:True;
}
#P26_37{
left:303.5px;bottom:518.4px;color:rgb(35,31,31);rightpos:315.6px;fontSize:19.1px;isVertical:True;
}
#P26_38{
left:314.8px;bottom:518.3px;color:rgb(35,31,31);rightpos:324.3px;fontSize:19.1px;isVertical:True;
}
#P26_39{
left:324.1px;bottom:518.2px;color:rgb(35,31,31);rightpos:348.3px;fontSize:19.1px;isVertical:True;
}
#P26_40{
left:108.3px;bottom:495.8px;color:rgb(35,31,31);rightpos:242.8px;fontSize:19.1px;isVertical:True;
}
#P26_41{
left:242.7px;bottom:494.7px;color:rgb(35,31,31);rightpos:275.6px;fontSize:19.1px;isVertical:True;
}
#P26_42{
left:275.4px;bottom:494.4px;color:rgb(35,31,31);rightpos:301.5px;fontSize:19.1px;isVertical:True;
}
#P26_43{
left:301.4px;bottom:494.2px;color:rgb(35,31,31);rightpos:346.4px;fontSize:19.1px;isVertical:True;
}
#P26_44{
left:108.1px;bottom:471.6px;color:rgb(35,31,31);rightpos:222.5px;fontSize:19.1px;isVertical:True;
}
#P26_45{
left:221.5px;bottom:470.6px;color:rgb(35,31,31);rightpos:225.5px;fontSize:19.1px;isVertical:True;
}
#PageContainer26{
width:875px;height:1125px;background-image: url("../images/page0026.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer26 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0026_para1{
left:110px; bottom:964px; color:rgb(198,21,140); line-height:1;
}
#page0026_para2{
left:109px; bottom:749px; color:rgb(35,31,31); line-height:1.23663; text-indent:31px;
}
#page0026_para3{
left:120px; bottom:647px; color:rgb(0,107,182); line-height:1;
}
#page0026_para4{
left:108px; bottom:471px; color:rgb(35,31,31); line-height:1.22737;
}
#page0026_para5{
left:532px; bottom:139px; color:rgb(35,31,31); line-height:1;
}
#page0026_para6{
left:95px; bottom:48px; color:white; line-height:1;
}
