.tr14{
 color:transparent;
}
#P14_1{
left:109.7px;bottom:453.9px;color:rgb(93,63,21);rightpos:546.3px;fontSize:48.6px;isVertical:False;
}
#P14_2{
left:140.9px;bottom:406.4px;color:rgb(35,31,31);rightpos:240.3px;fontSize:24.3px;isVertical:False;
}
#P14_3{
left:240.3px;bottom:405.4px;color:rgb(35,31,31);rightpos:536.4px;fontSize:24.3px;isVertical:False;
}
#P14_4{
left:548.1px;bottom:405.4px;color:rgb(35,31,31);rightpos:741.6px;fontSize:24.3px;isVertical:False;
}
#P14_5{
left:109.7px;bottom:374.2px;color:rgb(35,31,31);rightpos:327.5px;fontSize:24.3px;isVertical:False;
}
#P14_6{
left:339.2px;bottom:374.2px;color:rgb(35,31,31);rightpos:752.8px;fontSize:24.3px;isVertical:False;
}
#P14_7{
left:109.7px;bottom:342.9px;color:rgb(35,31,31);rightpos:477.8px;fontSize:24.3px;isVertical:False;
}
#P14_8{
left:489.5px;bottom:342.9px;color:rgb(35,31,31);rightpos:696.5px;fontSize:24.3px;isVertical:False;
}
#P14_9{
left:708.2px;bottom:342.9px;color:rgb(35,31,31);rightpos:763.8px;fontSize:24.3px;isVertical:False;
}
#P14_10{
left:109.7px;bottom:311.7px;color:rgb(35,31,31);rightpos:555.5px;fontSize:24.3px;isVertical:False;
}
#P14_11{
left:140.9px;bottom:264.9px;color:rgb(35,31,31);rightpos:749.9px;fontSize:24.3px;isVertical:False;
}
#P14_12{
left:109.7px;bottom:233.6px;color:rgb(35,31,31);rightpos:136px;fontSize:24.3px;isVertical:False;
}
#P14_13{
left:136px;bottom:234.6px;color:rgb(35,31,31);rightpos:251.5px;fontSize:24.3px;isVertical:False;
}
#P14_14{
left:251.5px;bottom:233.6px;color:rgb(35,31,31);rightpos:455.2px;fontSize:24.3px;isVertical:False;
}
#P14_15{
left:466.9px;bottom:233.6px;color:rgb(35,31,31);rightpos:758.9px;fontSize:24.3px;isVertical:False;
}
#P14_16{
left:109.7px;bottom:202.4px;color:rgb(35,31,31);rightpos:637.8px;fontSize:24.3px;isVertical:False;
}
#P14_17{
left:648.6px;bottom:202.4px;color:rgb(35,31,31);rightpos:747.8px;fontSize:24.3px;isVertical:False;
}
#P14_18{
left:109.7px;bottom:171.2px;color:rgb(35,31,31);rightpos:732.9px;fontSize:24.3px;isVertical:False;
}
#P14_19{
left:109.7px;bottom:140px;color:rgb(35,31,31);rightpos:397.1px;fontSize:24.3px;isVertical:False;
}
#P14_20{
left:94.7px;bottom:48.4px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#PageContainer14{
width:875px;height:1125px;background-image: url("../images/page0014.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer14 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0014_para1{
left:110px; bottom:454px; color:rgb(93,63,21); line-height:1;
}
#page0014_para2{
left:110px; bottom:312px; color:rgb(35,31,31); line-height:1.20679; text-indent:31px;
}
#page0014_para3{
left:110px; bottom:140px; color:rgb(35,31,31); line-height:1.22881; text-indent:31px;
}
#page0014_para4{
left:95px; bottom:48px; color:white; line-height:1;
}
