.tr32{
 color:transparent;
}
#P32_1{
bottom:0px;letter-spacing:-0.3px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P32_2{
bottom:0px;letter-spacing:-0.3px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P32_3{
bottom:0px;letter-spacing:-0.3px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P32_4{
bottom:0px;letter-spacing:-0.3px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P32_5{
bottom:0px;letter-spacing:-0.3px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P32_6{
left:109.3px;bottom:905px;color:rgb(35,31,31);rightpos:200.5px;fontSize:24.3px;isVertical:False;
}
#P32_7{
left:200.5px;bottom:904.7px;color:rgb(35,31,31);rightpos:612.8px;fontSize:24.3px;isVertical:False;
}
#P32_8{
left:109.3px;bottom:866px;color:rgb(35,31,31);rightpos:194.7px;fontSize:24.3px;isVertical:False;
}
#P32_9{
left:194.7px;bottom:865.7px;color:rgb(35,31,31);rightpos:729.4px;fontSize:24.3px;isVertical:False;
}
#P32_10{
left:138.7px;bottom:834.5px;color:rgb(35,31,31);rightpos:233.8px;fontSize:24.3px;isVertical:False;
}
#P32_11{
left:109.3px;bottom:795.7px;color:rgb(35,31,31);rightpos:179.4px;fontSize:24.3px;isVertical:False;
}
#P32_12{
left:179.4px;bottom:795.4px;color:rgb(35,31,31);rightpos:760.2px;fontSize:24.3px;isVertical:False;
}
#P32_13{
left:109.3px;bottom:756.7px;color:rgb(35,31,31);rightpos:204.6px;fontSize:24.3px;isVertical:False;
}
#P32_14{
left:204.6px;bottom:756.4px;color:rgb(35,31,31);rightpos:738px;fontSize:24.3px;isVertical:False;
}
#P32_15{
left:138.7px;bottom:725.2px;color:rgb(35,31,31);rightpos:342px;fontSize:24.3px;isVertical:False;
}
#P32_16{
left:109.3px;bottom:686.5px;color:rgb(35,31,31);rightpos:222.5px;fontSize:24.3px;isVertical:False;
}
#P32_17{
left:222.5px;bottom:686.2px;color:rgb(35,31,31);rightpos:699.3px;fontSize:24.3px;isVertical:False;
}
#P32_18{
left:138.7px;bottom:655px;color:rgb(35,31,31);rightpos:305.5px;fontSize:24.3px;isVertical:False;
}
#P32_19{
left:109.3px;bottom:616.2px;color:rgb(35,31,31);rightpos:183.4px;fontSize:24.3px;isVertical:False;
}
#P32_20{
left:183.4px;bottom:615.9px;color:rgb(35,31,31);rightpos:531.4px;fontSize:24.3px;isVertical:False;
}
#P32_21{
left:109.3px;bottom:577.2px;color:rgb(35,31,31);rightpos:180.7px;fontSize:24.3px;isVertical:False;
}
#P32_22{
left:180.7px;bottom:576.9px;color:rgb(35,31,31);rightpos:370.4px;fontSize:24.3px;isVertical:False;
}
#P32_23{
left:109.3px;bottom:538.2px;color:rgb(35,31,31);rightpos:182.1px;fontSize:24.3px;isVertical:False;
}
#P32_24{
left:182.1px;bottom:537.9px;color:rgb(35,31,31);rightpos:534.7px;fontSize:24.3px;isVertical:False;
}
#P32_25{
left:109.3px;bottom:499.2px;color:rgb(35,31,31);rightpos:182.4px;fontSize:24.3px;isVertical:False;
}
#P32_26{
left:182.4px;bottom:498.9px;color:rgb(35,31,31);rightpos:632.9px;fontSize:24.3px;isVertical:False;
}
#P32_27{
left:109.3px;bottom:460.1px;color:rgb(35,31,31);rightpos:186.2px;fontSize:24.3px;isVertical:False;
}
#P32_28{
left:186.1px;bottom:459.8px;color:rgb(35,31,31);rightpos:488.3px;fontSize:24.3px;isVertical:False;
}
#P32_29{
left:109.3px;bottom:421.1px;color:rgb(35,31,31);rightpos:218.5px;fontSize:24.3px;isVertical:False;
}
#P32_30{
left:218.5px;bottom:420.8px;color:rgb(35,31,31);rightpos:761.7px;fontSize:24.3px;isVertical:False;
}
#P32_31{
left:138.7px;bottom:389.6px;color:rgb(35,31,31);rightpos:608.1px;fontSize:24.3px;isVertical:False;
}
#P32_32{
left:109.3px;bottom:350.9px;letter-spacing:-0.5px;color:rgb(35,31,31);rightpos:226.3px;fontSize:24.3px;isVertical:False;
}
#P32_33{
left:226.3px;bottom:350.6px;letter-spacing:-0.5px;color:rgb(35,31,31);rightpos:759.2px;fontSize:24.3px;isVertical:False;
}
#P32_34{
left:109.3px;bottom:311.9px;color:rgb(35,31,31);rightpos:191.1px;fontSize:24.3px;isVertical:False;
}
#P32_35{
left:191.1px;bottom:311.6px;color:rgb(35,31,31);rightpos:743.1px;fontSize:24.3px;isVertical:False;
}
#P32_36{
left:138.7px;bottom:280.3px;color:rgb(35,31,31);rightpos:418.3px;fontSize:24.3px;isVertical:False;
}
#P32_37{
left:109.3px;bottom:241.6px;color:rgb(35,31,31);rightpos:229.8px;fontSize:24.3px;isVertical:False;
}
#P32_38{
left:229.8px;bottom:241.3px;color:rgb(35,31,31);rightpos:697.8px;fontSize:24.3px;isVertical:False;
}
#P32_39{
left:138.7px;bottom:210.1px;color:rgb(35,31,31);rightpos:285.1px;fontSize:24.3px;isVertical:False;
}
#P32_40{
left:109.3px;bottom:171.4px;color:rgb(35,31,31);rightpos:194.3px;fontSize:24.3px;isVertical:False;
}
#P32_41{
left:194.3px;bottom:171.1px;color:rgb(35,31,31);rightpos:754.8px;fontSize:24.3px;isVertical:False;
}
#P32_42{
left:138.7px;bottom:139.8px;color:rgb(35,31,31);rightpos:244px;fontSize:24.3px;isVertical:False;
}
#P32_43{
left:94.7px;bottom:48.4px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#P32_44{
left:300.8px;bottom:946.5px;isVertical:False;
}
#P32_45{
left:346.7px;bottom:946.5px;isVertical:False;
}
#P32_46{
left:468.1px;bottom:946.5px;isVertical:False;
}
#P32_47{
left:504.7px;bottom:946.5px;isVertical:False;
}
#P32_48{
left:539.7px;bottom:946.5px;isVertical:False;
}
#PageContainer32{
width:875px;height:1125px;background-image: url("../images/page0032.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer32 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0032_para1{
left:301px; bottom:946px; color:rgb(14,91,170); line-height:1;
}
#page0032_para2{
left:109px; bottom:905px; color:rgb(35,31,31); line-height:1;
}
#page0032_para3{
left:139px; bottom:834px; color:rgb(35,31,31); line-height:1.15844; text-indent:-30px;
}
#page0032_para4{
left:109px; bottom:795px; color:rgb(35,31,31); line-height:1;
}
#page0032_para5{
left:139px; bottom:725px; color:rgb(35,31,31); line-height:1.15844; text-indent:-30px;
}
#page0032_para6{
left:139px; bottom:655px; color:rgb(35,31,31); line-height:1.13786; text-indent:-30px;
}
#page0032_para7{
left:109px; bottom:616px; color:rgb(35,31,31); line-height:1;
}
#page0032_para8{
left:109px; bottom:577px; color:rgb(35,31,31); line-height:1;
}
#page0032_para9{
left:109px; bottom:538px; color:rgb(35,31,31); line-height:1;
}
#page0032_para10{
left:109px; bottom:499px; color:rgb(35,31,31); line-height:1;
}
#page0032_para11{
left:109px; bottom:460px; color:rgb(35,31,31); line-height:1;
}
#page0032_para12{
left:139px; bottom:390px; color:rgb(35,31,31); line-height:1.13786; text-indent:-30px;
}
#page0032_para13{
left:109px; bottom:351px; color:rgb(35,31,31); line-height:1;
}
#page0032_para14{
left:139px; bottom:280px; color:rgb(35,31,31); line-height:1.15844; text-indent:-30px;
}
#page0032_para15{
left:139px; bottom:210px; color:rgb(35,31,31); line-height:1.15844; text-indent:-30px;
}
#page0032_para16{
left:139px; bottom:140px; color:rgb(35,31,31); line-height:1.13786; text-indent:-30px;
}
#page0032_para17{
left:95px; bottom:48px; color:white; line-height:1;
}
