.tr17{
 color:transparent;
}
#P17_1{
left:140.5px;bottom:340.6px;color:rgb(35,31,31);rightpos:669.2px;fontSize:24.3px;isVertical:False;
}
#P17_2{
left:680.9px;bottom:340.6px;color:rgb(35,31,31);rightpos:736.5px;fontSize:24.3px;isVertical:False;
}
#P17_3{
left:109.3px;bottom:309.4px;color:rgb(35,31,31);rightpos:710.8px;fontSize:24.3px;isVertical:False;
}
#P17_4{
left:109.3px;bottom:278.1px;color:rgb(35,31,31);rightpos:770.1px;fontSize:24.3px;isVertical:False;
}
#P17_5{
left:109.3px;bottom:246.9px;color:rgb(35,31,31);rightpos:313.9px;fontSize:24.3px;isVertical:False;
}
#P17_6{
left:140.5px;bottom:200.1px;color:rgb(35,31,31);rightpos:733px;fontSize:24.3px;isVertical:False;
}
#P17_7{
left:109.3px;bottom:168.8px;color:rgb(35,31,31);rightpos:752.9px;fontSize:24.3px;isVertical:False;
}
#P17_8{
left:109.3px;bottom:137.6px;color:rgb(35,31,31);rightpos:599px;fontSize:24.3px;isVertical:False;
}
#P17_9{
left:571.5px;bottom:919.9px;color:rgb(35,31,31);rightpos:783.6px;fontSize:20.8px;isVertical:False;
}
#P17_10{
left:571.5px;bottom:895.6px;color:rgb(35,31,31);rightpos:702.5px;fontSize:20.8px;isVertical:False;
}
#P17_11{
left:120.7px;bottom:593.9px;color:rgb(35,31,31);rightpos:334.8px;fontSize:20.8px;isVertical:False;
}
#P17_12{
left:120.7px;bottom:569.7px;color:rgb(35,31,31);rightpos:225.1px;fontSize:20.8px;isVertical:False;
}
#P17_13{
left:751.9px;bottom:54.2px;color:white;rightpos:782.8px;fontSize:27.8px;isVertical:False;
}
#PageContainer17{
width:875px;height:1125px;background-image: url("../images/page0017.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: right bottom;
}
#ImageContainer17 {
bottom:0.00px;right:0.00px;width:875px;height:1125px;position:absolute;
}
#page0017_para1{
left:572px; bottom:896px; color:rgb(35,31,31); line-height:1.07692;
}
#page0017_para2{
left:121px; bottom:570px; color:rgb(35,31,31); line-height:1.07692;
}
#page0017_para3{
left:109px; bottom:247px; color:rgb(35,31,31); line-height:1.21708; text-indent:31px;
}
#page0017_para4{
left:109px; bottom:138px; color:rgb(35,31,31); line-height:1.18381; text-indent:31px;
}
#page0017_para5{
left:752px; bottom:54px; color:white; line-height:1;
}
