.tr34{
 color:transparent;
}
#P34_1{
bottom:0px;letter-spacing:0.3px;color:rgb(49,49,130);fontSize:54.2px;isVertical:False;
}
#P34_2{
bottom:0px;letter-spacing:0.3px;color:rgb(49,49,130);fontSize:54.2px;isVertical:False;
}
#P34_3{
bottom:0px;letter-spacing:0.3px;color:rgb(49,49,130);fontSize:54.2px;isVertical:False;
}
#P34_4{
bottom:0px;letter-spacing:0.3px;color:rgb(49,49,130);fontSize:54.2px;isVertical:False;
}
#P34_5{
bottom:0px;letter-spacing:0.3px;color:rgb(49,49,130);fontSize:54.2px;isVertical:False;
}
#P34_6{
bottom:0px;letter-spacing:0.3px;color:rgb(49,49,130);fontSize:54.2px;isVertical:False;
}
#P34_7{
bottom:0px;letter-spacing:0.3px;color:rgb(49,49,130);fontSize:54.2px;isVertical:False;
}
#P34_8{
left:270.5px;bottom:361.8px;color:rgb(198,21,140);rightpos:603.5px;fontSize:48.6px;isVertical:False;
}
#P34_9{
left:140.3px;bottom:313.3px;color:rgb(35,31,31);rightpos:628.6px;fontSize:24.3px;isVertical:False;
}
#P34_10{
left:640.3px;bottom:313.3px;color:rgb(35,31,31);rightpos:719.5px;fontSize:24.3px;isVertical:False;
}
#P34_11{
left:109.1px;bottom:282.1px;color:rgb(35,31,31);rightpos:642.7px;fontSize:24.3px;isVertical:False;
}
#P34_12{
left:653.5px;bottom:282.1px;color:rgb(35,31,31);rightpos:734.4px;fontSize:24.3px;isVertical:False;
}
#P34_13{
left:109.1px;bottom:250.9px;color:rgb(35,31,31);rightpos:714px;fontSize:24.3px;isVertical:False;
}
#P34_14{
left:94.7px;bottom:48.4px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#P34_15{
left:278.7px;bottom:950.2px;isVertical:False;
}
#P34_16{
left:311.3px;bottom:950.2px;isVertical:False;
}
#P34_17{
left:383.8px;bottom:950.2px;isVertical:False;
}
#P34_18{
left:437.9px;bottom:950.2px;isVertical:False;
}
#P34_19{
left:480.6px;bottom:950.2px;isVertical:False;
}
#P34_20{
left:517.8px;bottom:950.2px;isVertical:False;
}
#P34_21{
left:584.4px;bottom:950.2px;isVertical:False;
}
#PageContainer34{
width:875px;height:1125px;background-image: url("../images/page0034.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer34 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0034_para1{
left:279px; bottom:950px; color:rgb(49,49,130); line-height:1;
}
#page0034_para2{
left:270px; bottom:362px; color:rgb(198,21,140); line-height:1;
}
#page0034_para3{
left:109px; bottom:251px; color:rgb(35,31,31); line-height:1.18381; text-indent:31px;
}
#page0034_para4{
left:95px; bottom:48px; color:white; line-height:1;
}
