.tr10{
 color:transparent;
}
#P10_1{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_2{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_3{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_4{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_5{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_6{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_7{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_8{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_9{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_10{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_11{
bottom:0px;letter-spacing:0.8px;color:rgb(14,91,170);fontSize:54.2px;isVertical:False;
}
#P10_12{
left:140.5px;bottom:835.7px;color:rgb(35,31,31);rightpos:754.1px;fontSize:24.3px;isVertical:False;
}
#P10_13{
left:109.3px;bottom:804.5px;color:rgb(35,31,31);rightpos:685.4px;fontSize:24.3px;isVertical:False;
}
#P10_14{
left:697.1px;bottom:804.5px;color:rgb(35,31,31);rightpos:740.9px;fontSize:24.3px;isVertical:False;
}
#P10_15{
left:109.3px;bottom:773.3px;color:rgb(35,31,31);rightpos:721.2px;fontSize:24.3px;isVertical:False;
}
#P10_16{
left:109.3px;bottom:742px;color:rgb(35,31,31);rightpos:336.1px;fontSize:24.3px;isVertical:False;
}
#P10_17{
left:336.1px;bottom:742px;color:rgb(35,31,31);rightpos:342.1px;fontSize:24.3px;isVertical:False;
}
#P10_18{
left:109.1px;bottom:420.3px;color:rgb(35,31,31);rightpos:327.2px;fontSize:20.8px;isVertical:False;
}
#P10_19{
left:109.1px;bottom:396px;color:rgb(35,31,31);rightpos:328.3px;fontSize:20.8px;isVertical:False;
}
#P10_20{
left:109.1px;bottom:371.7px;color:rgb(35,31,31);rightpos:325.4px;fontSize:20.8px;isVertical:False;
}
#P10_21{
left:115.2px;bottom:176px;color:rgb(35,31,31);rightpos:377.2px;fontSize:20.8px;isVertical:False;
}
#P10_22{
left:102.4px;bottom:48.4px;color:white;rightpos:117.8px;fontSize:27.8px;isVertical:False;
}
#P10_23{
left:109.3px;bottom:946.5px;isVertical:False;
}
#P10_24{
left:228.4px;bottom:946.5px;isVertical:False;
}
#P10_25{
left:265.1px;bottom:946.5px;isVertical:False;
}
#P10_26{
left:298px;bottom:946.5px;isVertical:False;
}
#P10_27{
left:390px;bottom:946.5px;isVertical:False;
}
#P10_28{
left:426.6px;bottom:946.5px;isVertical:False;
}
#P10_29{
left:109.3px;bottom:878.9px;isVertical:False;
}
#P10_30{
left:193.1px;bottom:878.9px;isVertical:False;
}
#P10_31{
left:275.8px;bottom:878.9px;isVertical:False;
}
#P10_32{
left:298.7px;bottom:878.9px;isVertical:False;
}
#P10_33{
left:335.6px;bottom:878.9px;isVertical:False;
}
#PageContainer10{
width:875px;height:1125px;background-image: url("../images/page0010.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer10 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0010_para1{
left:109px; bottom:879px; color:rgb(14,91,170); line-height:1.11808;
}
#page0010_para2{
left:109px; bottom:742px; color:rgb(35,31,31); line-height:1.21708; text-indent:31px;
}
#page0010_para3{
left:109px; bottom:372px; color:rgb(35,31,31); line-height:1.10256;
}
#page0010_para4{
left:115px; bottom:176px; color:rgb(35,31,31); line-height:1;
}
#page0010_para5{
left:102px; bottom:48px; color:white; line-height:1;
}
