.tr27{
 color:transparent;
}
#P27_1{
left:156.2px;bottom:232px;color:rgb(35,31,31);rightpos:439.7px;fontSize:20.8px;isVertical:False;
}
#P27_2{
left:751.9px;bottom:54.2px;color:white;rightpos:782.8px;fontSize:27.8px;isVertical:False;
}
#P27_3{
left:109.3px;bottom:964.4px;color:rgb(167,43,49);rightpos:628.8px;fontSize:48.6px;isVertical:False;
}
#P27_4{
left:109.3px;bottom:914.1px;color:rgb(167,43,49);rightpos:314.1px;fontSize:48.6px;isVertical:False;
}
#P27_5{
left:140.5px;bottom:865.6px;color:rgb(35,31,31);rightpos:407.5px;fontSize:24.3px;isVertical:False;
}
#P27_6{
left:109.3px;bottom:834.3px;color:rgb(35,31,31);rightpos:412.1px;fontSize:24.3px;isVertical:False;
}
#P27_7{
left:109.3px;bottom:803.1px;color:rgb(35,31,31);rightpos:387.8px;fontSize:24.3px;isVertical:False;
}
#P27_8{
left:109.3px;bottom:771.9px;color:rgb(35,31,31);rightpos:414px;fontSize:24.3px;isVertical:False;
}
#P27_9{
left:109.3px;bottom:740.7px;color:rgb(35,31,31);rightpos:383.1px;fontSize:24.3px;isVertical:False;
}
#P27_10{
left:109.3px;bottom:709.4px;color:rgb(35,31,31);rightpos:370.8px;fontSize:24.3px;isVertical:False;
}
#P27_11{
left:109.3px;bottom:678.2px;color:rgb(35,31,31);rightpos:380.4px;fontSize:24.3px;isVertical:False;
}
#P27_12{
left:109.3px;bottom:647px;color:rgb(35,31,31);rightpos:360.2px;fontSize:24.3px;isVertical:False;
}
#P27_13{
left:109.3px;bottom:615.7px;color:rgb(35,31,31);rightpos:208.4px;fontSize:24.3px;isVertical:False;
}
#P27_14{
left:220.1px;bottom:615.7px;color:rgb(35,31,31);rightpos:314.1px;fontSize:24.3px;isVertical:False;
}
#P27_15{
left:314.2px;bottom:616px;color:rgb(35,31,31);rightpos:381.6px;fontSize:24.3px;isVertical:False;
}
#P27_16{
left:109.3px;bottom:584.8px;color:rgb(35,31,31);rightpos:368.3px;fontSize:24.3px;isVertical:False;
}
#P27_17{
left:109.3px;bottom:553.6px;color:rgb(35,31,31);rightpos:244.5px;fontSize:24.3px;isVertical:False;
}
#P27_18{
left:250.1px;bottom:553.3px;color:rgb(35,31,31);rightpos:366.1px;fontSize:24.3px;isVertical:False;
}
#P27_19{
left:109.3px;bottom:522.1px;color:rgb(35,31,31);rightpos:364.9px;fontSize:24.3px;isVertical:False;
}
#P27_20{
left:109.3px;bottom:490.8px;color:rgb(35,31,31);rightpos:376.4px;fontSize:24.3px;isVertical:False;
}
#P27_21{
left:109.3px;bottom:459.6px;color:rgb(35,31,31);rightpos:381.1px;fontSize:24.3px;isVertical:False;
}
#P27_22{
left:109.3px;bottom:428.4px;color:rgb(35,31,31);rightpos:380.5px;fontSize:24.3px;isVertical:False;
}
#P27_23{
left:109.3px;bottom:397.2px;color:rgb(35,31,31);rightpos:234px;fontSize:24.3px;isVertical:False;
}
#PageContainer27{
width:875px;height:1125px;background-image: url("../images/page0027.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: right bottom;
}
#ImageContainer27 {
bottom:0.00px;right:0.00px;width:875px;height:1125px;position:absolute;
}
#page0027_para1{
left:109px; bottom:914px; color:rgb(167,43,49); line-height:1.0144;
}
#page0027_para2{
left:109px; bottom:397px; color:rgb(35,31,31); line-height:1.26878; text-indent:31px;
}
#page0027_para3{
left:156px; bottom:232px; color:rgb(35,31,31); line-height:1;
}
#page0027_para4{
left:752px; bottom:54px; color:white; line-height:1;
}
