.tr12{
 color:transparent;
}
#P12_1{
left:432.9px;bottom:452.3px;color:rgb(209,221,38);rightpos:777.7px;fontSize:31.2px;isVertical:False;
}
#P12_2{
left:419.1px;bottom:422.9px;color:white;rightpos:783.4px;fontSize:19.1px;isVertical:False;
}
#P12_3{
left:419.1px;bottom:398.6px;color:white;rightpos:779.6px;fontSize:19.1px;isVertical:False;
}
#P12_4{
left:419.1px;bottom:374.3px;color:white;rightpos:769.5px;fontSize:19.1px;isVertical:False;
}
#P12_5{
left:419.1px;bottom:350px;color:white;rightpos:739.4px;fontSize:19.1px;isVertical:False;
}
#P12_6{
left:158px;bottom:91.6px;word-spacing:-0.8px;color:white;rightpos:266.7px;fontSize:20.8px;isVertical:False;
}
#P12_7{
left:686.5px;bottom:123.9px;color:rgb(0,112,186);rightpos:774.5px;fontSize:17.3px;isVertical:False;
}
#P12_8{
left:685.4px;bottom:208.8px;color:rgb(0,112,186);rightpos:796.8px;fontSize:17.3px;isVertical:False;
}
#P12_9{
left:701.7px;bottom:191.4px;color:rgb(0,112,186);rightpos:777.7px;fontSize:17.3px;isVertical:False;
}
#P12_10{
left:610.2px;bottom:209.4px;color:rgb(0,112,186);rightpos:675.3px;fontSize:17.3px;isVertical:False;
}
#P12_11{
left:625.8px;bottom:192px;color:rgb(0,112,186);rightpos:657px;fontSize:17.3px;isVertical:False;
}
#P12_12{
left:512.5px;bottom:66.1px;color:rgb(0,112,186);rightpos:560.6px;fontSize:17.3px;isVertical:False;
}
#P12_13{
left:520px;bottom:48.7px;color:rgb(0,112,186);rightpos:550.4px;fontSize:17.3px;isVertical:False;
}
#P12_14{
left:663.1px;bottom:51.3px;color:rgb(0,112,186);rightpos:739.3px;fontSize:17.3px;isVertical:False;
}
#P12_15{
left:684.3px;bottom:34px;color:rgb(0,112,186);rightpos:715.4px;fontSize:17.3px;isVertical:False;
}
#P12_16{
left:178.3px;bottom:211.6px;color:rgb(0,112,186);rightpos:184.5px;fontSize:17.3px;isVertical:False;
}
#P12_17{
left:184.2px;bottom:211.6px;word-spacing:-0.6px;color:rgb(0,112,186);rightpos:239.6px;fontSize:17.3px;isVertical:False;
}
#P12_18{
left:239.1px;bottom:211.6px;color:rgb(0,112,186);rightpos:259px;fontSize:17.3px;isVertical:False;
}
#P12_19{
left:194.1px;bottom:194.3px;letter-spacing:-0.1px;color:rgb(0,112,186);rightpos:240.4px;fontSize:17.3px;isVertical:False;
}
#P12_20{
left:178.3px;bottom:168.8px;color:rgb(0,112,186);rightpos:184.5px;fontSize:17.3px;isVertical:False;
}
#P12_21{
left:184.2px;bottom:168.8px;word-spacing:-0.6px;color:rgb(0,112,186);rightpos:239.6px;fontSize:17.3px;isVertical:False;
}
#P12_22{
left:239.1px;bottom:168.8px;color:rgb(0,112,186);rightpos:259px;fontSize:17.3px;isVertical:False;
}
#P12_23{
left:173.9px;bottom:151.4px;color:rgb(0,112,186);rightpos:260.7px;fontSize:17.3px;isVertical:False;
}
#P12_24{
left:140.5px;bottom:992.8px;color:rgb(35,31,31);rightpos:707.2px;fontSize:24.3px;isVertical:False;
}
#P12_25{
left:109.3px;bottom:961.5px;color:rgb(35,31,31);rightpos:612.4px;fontSize:24.3px;isVertical:False;
}
#P12_26{
left:624.1px;bottom:961.5px;color:rgb(35,31,31);rightpos:719.9px;fontSize:24.3px;isVertical:False;
}
#P12_27{
left:109.3px;bottom:930.3px;color:rgb(35,31,31);rightpos:751.1px;fontSize:24.3px;isVertical:False;
}
#P12_28{
left:109.3px;bottom:899.1px;color:rgb(35,31,31);rightpos:302.8px;fontSize:24.3px;isVertical:False;
}
#P12_29{
left:314.5px;bottom:899.1px;color:rgb(35,31,31);rightpos:763.8px;fontSize:24.3px;isVertical:False;
}
#P12_30{
left:109.3px;bottom:867.9px;color:rgb(35,31,31);rightpos:388px;fontSize:24.3px;isVertical:False;
}
#P12_31{
left:399.7px;bottom:867.9px;color:rgb(35,31,31);rightpos:741.3px;fontSize:24.3px;isVertical:False;
}
#P12_32{
left:109.3px;bottom:836.6px;color:rgb(35,31,31);rightpos:566.5px;fontSize:24.3px;isVertical:False;
}
#P12_33{
left:577.3px;bottom:836.6px;color:rgb(35,31,31);rightpos:727px;fontSize:24.3px;isVertical:False;
}
#P12_34{
left:109.3px;bottom:805.4px;color:rgb(35,31,31);rightpos:455.7px;fontSize:24.3px;isVertical:False;
}
#P12_35{
left:140.5px;bottom:758.6px;color:rgb(35,31,31);rightpos:766.4px;fontSize:24.3px;isVertical:False;
}
#P12_36{
left:109.3px;bottom:727.3px;color:rgb(35,31,31);rightpos:275.9px;fontSize:24.3px;isVertical:False;
}
#P12_37{
left:287.6px;bottom:727.3px;color:rgb(35,31,31);rightpos:740.4px;fontSize:24.3px;isVertical:False;
}
#P12_38{
left:109.3px;bottom:696.1px;color:rgb(35,31,31);rightpos:708.1px;fontSize:24.3px;isVertical:False;
}
#P12_39{
left:109.3px;bottom:664.9px;color:rgb(35,31,31);rightpos:314.6px;fontSize:24.3px;isVertical:False;
}
#P12_40{
left:140.5px;bottom:618px;color:rgb(35,31,31);rightpos:204.6px;fontSize:24.3px;isVertical:False;
}
#P12_41{
left:204.5px;bottom:619px;color:rgb(35,31,31);rightpos:282.3px;fontSize:24.3px;isVertical:False;
}
#P12_42{
left:282.3px;bottom:618px;color:rgb(35,31,31);rightpos:741.8px;fontSize:24.3px;isVertical:False;
}
#P12_43{
left:109.3px;bottom:586.8px;color:rgb(35,31,31);rightpos:737.9px;fontSize:24.3px;isVertical:False;
}
#P12_44{
left:109.3px;bottom:555.6px;color:rgb(35,31,31);rightpos:263.8px;fontSize:24.3px;isVertical:False;
}
#P12_45{
left:275.5px;bottom:555.6px;color:rgb(35,31,31);rightpos:720px;fontSize:24.3px;isVertical:False;
}
#P12_46{
left:109.3px;bottom:524.4px;color:rgb(35,31,31);rightpos:423.5px;fontSize:24.3px;isVertical:False;
}
#P12_47{
left:213.1px;bottom:423.3px;color:rgb(35,31,31);rightpos:347.7px;fontSize:20.8px;isVertical:False;
}
#P12_48{
left:213.1px;bottom:399px;color:rgb(35,31,31);rightpos:360.4px;fontSize:20.8px;isVertical:False;
}
#P12_49{
left:213.1px;bottom:374.8px;color:rgb(35,31,31);rightpos:376.2px;fontSize:20.8px;isVertical:False;
}
#P12_50{
left:213.1px;bottom:350.5px;color:rgb(35,31,31);rightpos:379.2px;fontSize:20.8px;isVertical:False;
}
#P12_51{
left:213.1px;bottom:326.2px;color:rgb(35,31,31);rightpos:340.5px;fontSize:20.8px;isVertical:False;
}
#P12_52{
left:94.7px;bottom:48.4px;color:white;rightpos:125.5px;fontSize:27.8px;isVertical:False;
}
#PageContainer12{
width:875px;height:1125px;background-image: url("../images/page0012.png");background-repeat:no-repeat;background-size: 875px 1125px; background-position: left bottom;
}
#ImageContainer12 {
bottom:0.00px;left:0.00px;width:875px;height:1125px;position:absolute;
}
#page0012_para1{
left:109px; bottom:805px; color:rgb(35,31,31); line-height:1.24809; text-indent:31px;
}
#page0012_para2{
left:109px; bottom:665px; color:rgb(35,31,31); line-height:1.21708; text-indent:31px;
}
#page0012_para3{
left:109px; bottom:524px; color:rgb(35,31,31); line-height:1.21708; text-indent:31px;
}
#page0012_para4{
left:213px; bottom:326px; color:rgb(35,31,31); line-height:1.13269;
}
#page0012_para5{
left:419px; bottom:350px; color:white; line-height:1.26806; text-indent:14px;
}
#page0012_0{
color:rgb(209,221,38)
}
#page0012_para6{
left:174px; bottom:151px; color:rgb(0,112,186); line-height:1.1315; text-indent:-16px;
}
#page0012_para7{
left:702px; bottom:191px; color:rgb(0,112,186); line-height:1; text-indent:-16px;
}
#page0012_para8{
left:686px; bottom:124px; color:rgb(0,112,186); line-height:1;
}
#page0012_para9{
left:684px; bottom:34px; color:rgb(0,112,186); line-height:1; text-indent:-21px;
}
#page0012_para10{
left:158px; bottom:92px; color:white; line-height:1;
}
#page0012_para11{
left:520px; bottom:49px; color:rgb(0,112,186); line-height:1; text-indent:-8px;
}
#page0012_para12{
left:95px; bottom:48px; color:white; line-height:1;
}
