.tr10{ color:transparent;}
#P10_1
{
left:27690.9px;bottom:36341.7px;color:rgb(0,51,153);
}
#P10_2
{
left:27690.9px;bottom:35712px;color:rgb(0,51,153);
}
#P10_3
{
left:30112px;bottom:35712px;color:rgb(0,51,153);
}
#P10_4
{
left:30457.6px;bottom:35712px;color:rgb(0,51,153);
}
#P10_5
{
left:32454.4px;bottom:35712px;color:black;
}
#P10_6
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P10_7
{
left:8538.69px;bottom:48505.8px;color:black;
}
#P10_8
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P10_9
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P10_10
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P10_11
{
left:4609.54px;bottom:45504.4px;color:black;
}
#P10_12
{
left:4609.54px;bottom:44767.1px;color:black;
}
#P10_13
{
left:4609.54px;bottom:44029.9px;color:black;
}
#P10_14
{
left:4609.54px;bottom:43292.6px;color:black;
}
#P10_15
{
left:4609.54px;bottom:42555.3px;color:black;
}
#P10_16
{
left:4609.54px;bottom:41825.7px;color:black;
}
#P10_17
{
left:4609.54px;bottom:41088.4px;color:black;
}
#P10_18
{
left:4609.54px;bottom:40394.4px;color:black;
}
#P10_19
{
left:6913.28px;bottom:40394.4px;color:black;
}
#P10_20
{
left:9217.28px;bottom:40419.8px;color:black;
}
#P10_21
{
left:4609.54px;bottom:39641.8px;color:black;
}
#P10_22
{
left:4609.54px;bottom:38873.8px;color:black;
}
#P10_23
{
left:4609.54px;bottom:38098.1px;color:black;
}
#P10_24
{
left:7266.56px;bottom:38098.1px;color:black;
}
#P10_25
{
left:5761.54px;bottom:37330.1px;letter-spacing:3.3px;color:black;
}
#P10_26
{
left:6291.46px;bottom:37327.9px;color:black;
}
#P10_27
{
left:6913.28px;bottom:37330.1px;color:black;
}
#P10_28
{
left:8579.84px;bottom:37330.1px;color:black;
}
#P10_29
{
left:10392.3px;bottom:37330.1px;color:black;
}
#P10_30
{
left:11152.6px;bottom:37330.1px;color:black;
}
#P10_31
{
left:12043.5px;bottom:37330.1px;color:black;
}
#P10_32
{
left:17098.9px;bottom:37330.1px;color:black;
}
#P10_33
{
left:18209.9px;bottom:37330.1px;color:black;
}
#P10_34
{
left:18558.1px;bottom:37330.1px;letter-spacing:5.2px;color:black;
}
#P10_35
{
left:19257px;bottom:37330.1px;color:black;
}
#P10_36
{
left:19456.6px;bottom:37330.1px;color:black;
}
#P10_37
{
left:5761.54px;bottom:36554.4px;letter-spacing:0.8px;color:black;
}
#P10_38
{
left:6306.82px;bottom:36552.2px;color:black;
}
#P10_39
{
left:6913.28px;bottom:36554.4px;color:black;
}
#P10_40
{
left:12212.5px;bottom:36554.4px;letter-spacing:3.3px;color:black;
}
#P10_41
{
left:12767.4px;bottom:36554.4px;color:black;
}
#P10_42
{
left:12967px;bottom:36554.4px;color:black;
}
#P10_43
{
left:14495.4px;bottom:36554.4px;color:black;
}
#P10_44
{
left:15386.2px;bottom:36554.4px;color:black;
}
#P10_45
{
left:18412.2px;bottom:36554.4px;color:black;
}
#P10_46
{
left:5761.54px;bottom:35778.7px;letter-spacing:-2px;color:black;
}
#P10_47
{
left:6253.06px;bottom:35776.5px;color:black;
}
#P10_48
{
left:6913.28px;bottom:35778.7px;color:black;
}
#P10_49
{
left:14080.6px;bottom:35778.7px;color:black;
}
#P10_50
{
left:21485.4px;bottom:35778.7px;color:black;
}
#P10_51
{
left:23274.9px;bottom:35778.7px;color:black;
}
#P10_52
{
left:4609.54px;bottom:35008.8px;color:black;
}
#P10_53
{
left:4609.54px;bottom:34233.1px;color:black;
}
#P10_54
{
left:10315.5px;bottom:34233.1px;color:black;
}
#P10_55
{
left:4609.54px;bottom:33465.1px;color:black;
}
#P10_56
{
left:4609.54px;bottom:32689.5px;color:black;
}
#P10_57
{
left:4609.54px;bottom:31921.5px;color:black;
}
#P10_58
{
left:4609.54px;bottom:31145.8px;color:black;
}
#P10_59
{
left:4609.54px;bottom:30370.1px;color:black;
}
#P10_60
{
left:4609.54px;bottom:29602.1px;color:black;
}
#P10_61
{
left:4609.54px;bottom:28826.4px;color:black;
}
#P10_62
{
left:4609.54px;bottom:28058.4px;color:black;
}
#P10_63
{
left:4609.54px;bottom:27282.7px;color:black;
}
#P10_64
{
left:4609.54px;bottom:26507.1px;color:black;
}
#P10_65
{
left:4609.54px;bottom:25739.1px;color:black;
}
#P10_66
{
left:4609.54px;bottom:24963.4px;color:black;
}
#P10_67
{
left:4609.54px;bottom:24195.4px;color:black;
}
#P10_68
{
left:4609.54px;bottom:23418.4px;color:black;
}
#P10_69
{
left:4609.54px;bottom:22650.4px;color:black;
}
#P10_70
{
left:4609.54px;bottom:21874.7px;color:black;
}
#P10_71
{
left:4609.54px;bottom:21099.1px;color:black;
}
#P10_72
{
left:4609.54px;bottom:20331.1px;color:black;
}
#P10_73
{
left:4609.54px;bottom:19555.4px;color:black;
}
#P10_74
{
left:4609.54px;bottom:18787.4px;color:black;
}
#P10_75
{
left:4609.54px;bottom:18011.7px;color:black;
}
#P10_76
{
left:4609.54px;bottom:17236px;color:black;
}
#P10_77
{
left:4609.54px;bottom:16468px;color:black;
}
#P10_78
{
left:4609.54px;bottom:15692.3px;color:black;
}
#P10_79
{
left:4609.54px;bottom:14924.3px;color:black;
}
#P10_80
{
left:4609.54px;bottom:14148.7px;color:black;
}
#P10_81
{
left:4609.54px;bottom:13373px;color:black;
}
#P10_82
{
left:4609.54px;bottom:12692.3px;color:black;
}
#P10_83
{
left:4609.54px;bottom:11955px;color:black;
}
#P10_84
{
left:4609.54px;bottom:11215.8px;color:black;
}
#P10_85
{
left:4609.54px;bottom:10478.5px;color:black;
}
#P10_86
{
left:4609.54px;bottom:9748.9px;color:black;
}
#P10_87
{
left:4609.54px;bottom:9011.62px;color:black;
}
#P10_88
{
left:4609.54px;bottom:8274.34px;color:black;
}
#P10_89
{
left:4609.54px;bottom:7537.06px;color:black;
}
#P10_90
{
left:4609.54px;bottom:6799.78px;color:black;
}
#P10_91
{
left:4609.54px;bottom:6062.76px;color:black;
}
#P10_92
{
left:9424.64px;bottom:42155.5px;color:rgb(218,218,218);
}
#P10_93
{
left:9424.64px;bottom:41533.4px;
}
#P10_94
{
left:10430.7px;bottom:41533.4px;color:rgb(167,167,167);
}
#P10_95
{
left:9424.64px;bottom:40850.3px;color:black;
}
#P10_96
{
left:4686.34px;bottom:45271.2px;color:black;
}
#P10_97
{
left:8664.32px;bottom:45296.6px;color:black;
}
#P10_98
{
left:22322.6px;bottom:45271.2px;color:black;
}
#P10_99
{
left:4686.34px;bottom:47337.1px;color:black;
}
#P10_100
{
left:6345.22px;bottom:47337.1px;color:black;
}
#P10_101
{
left:9885.44px;bottom:47337.1px;color:black;
}
#P10_102
{
left:12212.5px;bottom:47337.1px;color:black;
}
#P10_103
{
left:4686.34px;bottom:46569.1px;color:black;
}
#P10_104
{
left:5438.98px;bottom:46569.1px;color:black;
}
#P10_105
{
left:6329.86px;bottom:46569.1px;color:black;
}
#P10_106
{
left:11452.2px;bottom:46569.1px;color:black;
}
#P10_107
{
left:11797.8px;bottom:46569.1px;letter-spacing:5.2px;color:black;
}
#P10_108
{
left:12504.3px;bottom:46569.1px;color:black;
}
#P10_109
{
left:12704px;bottom:46569.1px;color:black;
}
#P10_110
{
left:15225px;bottom:46595px;color:black;
}
#P10_111
{
left:18427.5px;bottom:47337.1px;color:black;
}
#P10_112
{
left:22122.9px;bottom:47337.1px;color:black;
}
#P10_113
{
left:22322.6px;bottom:47337.1px;color:black;
}
#P10_114
{
left:26145.5px;bottom:47337.1px;color:black;
}
#P10_115
{
left:18427.5px;bottom:46576.8px;color:black;
}
#P10_116
{
left:24903px;bottom:46576.8px;color:black;
}
#P10_117
{
left:26500.5px;bottom:46576.8px;letter-spacing:-2.4px;color:black;
}
#P10_118
{
left:27199.4px;bottom:46576.8px;color:black;
}
#P10_119
{
left:27399px;bottom:46576.8px;color:black;
}
#P10_120
{
left:28136.3px;bottom:46576.8px;color:black;
}
#P10_121
{
left:4678.66px;bottom:32628px;color:black;
}
#P10_122
{
left:9608.96px;bottom:32674.1px;color:black;
}
#P10_123
{
left:15132.8px;bottom:32720.2px;color:black;
}
#P10_124
{
left:24442.2px;bottom:32674.1px;color:black;
}
#P10_125
{
left:5892.1px;bottom:30800.2px;letter-spacing:-2.4px;color:black;
}
#P10_126
{
left:6583.04px;bottom:30800.2px;color:black;
}
#P10_127
{
left:6782.72px;bottom:30800.2px;color:black;
}
#P10_128
{
left:5907.46px;bottom:27981.6px;color:black;
}
#P10_129
{
left:6798.08px;bottom:27981.6px;color:black;
}
#P10_130
{
left:5892.1px;bottom:25170.7px;color:black;
}
#P10_131
{
left:6782.72px;bottom:25170.7px;color:black;
}
#P10_132
{
left:5907.46px;bottom:22358.6px;color:black;
}
#P10_133
{
left:6798.08px;bottom:22358.6px;color:black;
}
#P10_134
{
left:5907.46px;bottom:19517px;color:black;
}
#P10_135
{
left:6798.08px;bottom:19517px;color:black;
}
#P10_136
{
left:5922.82px;bottom:16698.4px;color:black;
}
#P10_137
{
left:6813.44px;bottom:16698.4px;color:black;
}
#P10_138
{
left:5907.46px;bottom:13887.5px;color:black;
}
#P10_139
{
left:6798.08px;bottom:13887.5px;color:black;
}
#P10_140
{
left:5922.82px;bottom:11067.1px;color:black;
}
#P10_141
{
left:6813.44px;bottom:11067.1px;color:black;
}
#P10_142
{
left:5907.46px;bottom:8263.86px;color:black;
}
#P10_143
{
left:6798.08px;bottom:8263.86px;color:black;
}
#P10_144
{
left:5746.18px;bottom:5445.56px;letter-spacing:-2.4px;color:black;
}
#P10_145
{
left:6437.12px;bottom:5445.56px;color:black;
}
#P10_146
{
left:6990.08px;bottom:5445.56px;color:black;
}
#PageContainer10
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg010.jpeg");background-repeat:no-repeat;background-size: 975px 1140px;background-position: 26.52px 206.4px;
}
#A10_1
{
left:748.4px;bottom:987.4px;width:140.5px;height:16.8px;
}
#A10_2
{
left:748.4px;bottom:970.6px;width:137.3px;height:16.8px;
}
#ImageContainer10 {bottom:118.60px;left:26.52px;width:974.75px;height:1140.26px;position:absolute;} #TextContainer10 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
