.tr34{ color:transparent;}
#P34_1
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P34_2
{
left:8526.08px;bottom:48505.8px;color:black;
}
#P34_3
{
left:11840.1px;bottom:48505.8px;color:black;
}
#P34_4
{
left:13765.8px;bottom:48505.8px;color:black;
}
#P34_5
{
left:17598.1px;bottom:48505.8px;color:black;
}
#P34_6
{
left:26070.4px;bottom:48505.8px;color:black;
}
#P34_7
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P34_8
{
left:25799.5px;bottom:47730.1px;color:black;
}
#P34_9
{
left:28031.8px;bottom:47730.1px;color:black;
}
#P34_10
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P34_11
{
left:11678.7px;bottom:46960.8px;color:black;
}
#P34_12
{
left:23727.6px;bottom:46960.8px;color:black;
}
#P34_13
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P34_14
{
left:4609.54px;bottom:45417.1px;color:black;
}
#P34_15
{
left:4609.54px;bottom:44641.5px;color:black;
}
#P34_16
{
left:4609.54px;bottom:43865.8px;color:black;
}
#P34_17
{
left:4609.54px;bottom:43097.8px;color:black;
}
#P34_18
{
left:4609.54px;bottom:42322.1px;color:black;
}
#P34_19
{
left:4609.54px;bottom:41554.1px;color:black;
}
#P34_20
{
left:4609.54px;bottom:40778.4px;color:black;
}
#P34_21
{
left:4609.54px;bottom:40010.4px;color:black;
}
#P34_22
{
left:4609.54px;bottom:39234.7px;color:black;
}
#P34_23
{
left:4609.54px;bottom:38459.1px;color:black;
}
#P34_24
{
left:4609.54px;bottom:37691.1px;color:black;
}
#P34_25
{
left:4609.54px;bottom:36915.4px;color:black;
}
#P34_26
{
left:4609.54px;bottom:36147.4px;color:black;
}
#P34_27
{
left:4609.54px;bottom:35369.8px;color:black;
}
#P34_28
{
left:4609.54px;bottom:34594.1px;color:black;
}
#P34_29
{
left:4609.54px;bottom:33826.1px;color:black;
}
#P34_30
{
left:4609.54px;bottom:33050.4px;color:black;
}
#P34_31
{
left:4609.54px;bottom:32282.4px;color:black;
}
#P34_32
{
left:4609.54px;bottom:31506.7px;color:black;
}
#P34_33
{
left:4609.54px;bottom:30738.7px;color:black;
}
#P34_34
{
left:4609.54px;bottom:29963.1px;color:black;
}
#P34_35
{
left:4609.54px;bottom:29187.4px;color:black;
}
#P34_36
{
left:4609.54px;bottom:28419.4px;color:black;
}
#P34_37
{
left:4609.54px;bottom:27643.7px;color:black;
}
#P34_38
{
left:4609.54px;bottom:26875.7px;color:black;
}
#P34_39
{
left:4609.54px;bottom:26100px;color:black;
}
#P34_40
{
left:4609.54px;bottom:25324.3px;color:black;
}
#P34_41
{
left:4609.54px;bottom:24556.3px;color:black;
}
#P34_42
{
left:4609.54px;bottom:23780.7px;color:black;
}
#P34_43
{
left:4609.54px;bottom:23011.4px;color:black;
}
#P34_44
{
left:4609.54px;bottom:22235.7px;color:black;
}
#P34_45
{
left:4609.54px;bottom:21460px;color:black;
}
#P34_46
{
left:4609.54px;bottom:20692px;color:black;
}
#P34_47
{
left:4609.54px;bottom:19916.3px;color:black;
}
#P34_48
{
left:4609.54px;bottom:19148.3px;color:black;
}
#P34_49
{
left:4609.54px;bottom:18372.7px;color:black;
}
#P34_50
{
left:5293.06px;bottom:18372.7px;letter-spacing:-1.1px;color:black;
}
#P34_51
{
left:5684.74px;bottom:18372.7px;color:black;
}
#P34_52
{
left:7566.08px;bottom:18372.7px;color:black;
}
#P34_53
{
left:15109.8px;bottom:18372.7px;color:black;
}
#P34_54
{
left:4609.54px;bottom:17604.7px;color:black;
}
#P34_55
{
left:4609.54px;bottom:16829px;color:black;
}
#P34_56
{
left:4609.54px;bottom:16053.3px;color:black;
}
#P34_57
{
left:4609.54px;bottom:15285.3px;color:black;
}
#P34_58
{
left:18606.5px;bottom:15285.3px;color:black;
}
#P34_59
{
left:4609.54px;bottom:14509.6px;color:black;
}
#P34_60
{
left:4609.54px;bottom:13741.6px;color:black;
}
#P34_61
{
left:4609.54px;bottom:13009.8px;color:black;
}
#P34_62
{
left:4609.54px;bottom:12272.5px;color:black;
}
#P34_63
{
left:4609.54px;bottom:11489.5px;color:black;
}
#P34_64
{
left:4609.54px;bottom:10808.7px;color:black;
}
#P34_65
{
left:4609.54px;bottom:10071.5px;color:black;
}
#P34_66
{
left:4609.54px;bottom:9334.18px;color:black;
}
#P34_67
{
left:4609.54px;bottom:8596.9px;color:black;
}
#P34_68
{
left:4609.54px;bottom:7867.3px;color:black;
}
#P34_69
{
left:4609.54px;bottom:7130.02px;color:black;
}
#P34_70
{
left:4609.54px;bottom:6392.74px;color:black;
}
#P34_71
{
left:4609.54px;bottom:5655.72px;color:black;
}
#P34_72
{
left:4609.54px;bottom:4918.44px;color:black;
}
#P34_73
{
left:4555.78px;bottom:13710.9px;color:black;
}
#P34_74
{
left:4555.78px;bottom:12950.6px;color:black;
}
#P34_75
{
left:33427.2px;bottom:13773.4px;color:black;
}
#P34_76
{
left:33427.2px;bottom:13335.7px;color:black;
}
#P34_77
{
left:33427.2px;bottom:13251.2px;color:black;
}
#P34_78
{
left:33427.2px;bottom:12682.9px;color:black;
}
#P34_79
{
left:32910.4px;bottom:12375.7px;color:black;
}
#P34_80
{
left:28873.6px;bottom:14149.9px;color:black;
}
#P34_81
{
left:31025.9px;bottom:13074.7px;color:black;
}
#P34_82
{
left:31947.5px;bottom:12585.9px;color:black;
}
#P34_83
{
left:28059.5px;bottom:13074.7px;color:black;
}
#P34_84
{
left:29165.4px;bottom:12585.9px;color:black;
}
#P34_85
{
left:4494.34px;bottom:11353.6px;color:black;
}
#P34_86
{
left:7896.32px;bottom:4694.17px;color:black;
}
#P34_87
{
left:13151.4px;bottom:4676.14px;color:rgb(128,128,128);
}
#P34_88
{
left:15370.9px;bottom:4676.14px;color:rgb(128,128,128);
}
#P34_89
{
left:10937.6px;bottom:4683.82px;color:rgb(128,128,128);
}
#P34_90
{
left:17121.9px;bottom:11392px;color:black;
}
#P34_91
{
left:21301.1px;bottom:11392px;letter-spacing:-2.6px;color:black;
}
#P34_92
{
left:21646.7px;bottom:11392px;color:black;
}
#P34_93
{
left:21808px;bottom:11392px;letter-spacing:0.45px;color:black;
}
#P34_94
{
left:31279.4px;bottom:11412.8px;color:black;
}
#P34_95
{
left:17121.9px;bottom:10701.2px;color:black;
}
#P34_96
{
left:4624.9px;bottom:27597.6px;color:black;
}
#P34_97
{
left:4624.9px;bottom:29566.5px;color:black;
}
#P34_98
{
left:4632.58px;bottom:25869.6px;color:black;
}
#P34_99
{
left:4609.54px;bottom:24011.1px;color:black;
}
#P34_100
{
left:4601.86px;bottom:22158.9px;color:black;
}
#P34_101
{
left:4601.86px;bottom:31360.8px;color:black;
}
#P34_102
{
left:17590.4px;bottom:31360.8px;color:black;
}
#P34_103
{
left:21869.4px;bottom:31386.2px;color:black;
}
#P34_104
{
left:32001.3px;bottom:30672.4px;color:black;
}
#P34_105
{
left:4609.54px;bottom:20257.1px;color:black;
}
#P34_106
{
left:20040.3px;bottom:45109.9px;color:black;
}
#P34_107
{
left:4586.5px;bottom:45163.7px;color:black;
}
#P34_108
{
left:9079.04px;bottom:45163.7px;color:black;
}
#P34_109
{
left:14756.5px;bottom:45163.7px;color:black;
}
#P34_110
{
left:18627.2px;bottom:45189.1px;color:black;
}
#P34_111
{
left:19295.4px;bottom:44483px;color:black;
}
#P34_112
{
left:17659.5px;bottom:33474.1px;color:black;
}
#P34_113
{
left:22614.4px;bottom:32992.9px;color:black;
}
#P34_114
{
left:24972.2px;bottom:33474.1px;color:black;
}
#P34_115
{
left:26161.9px;bottom:33474.1px;color:black;
}
#P34_116
{
left:32523.5px;bottom:32992.9px;color:black;
}
#PageContainer34
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg034.jpeg");background-repeat:no-repeat;background-size: 975px 1154px;background-position: 26.52px 197.58px;
}
#ImageContainer34 {bottom:113.42px;left:26.52px;width:974.75px;height:1153.91px;position:absolute;} #TextContainer34 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
