.tr27{ color:transparent;}
#P27_1
{
left:27468.2px;bottom:46709.7px;color:rgb(0,51,153);
}
#P27_2
{
left:31793.9px;bottom:46709.7px;color:rgb(0,51,153);
}
#P27_3
{
left:27468.2px;bottom:46087.6px;color:rgb(0,51,153);
}
#P27_4
{
left:29465px;bottom:46087.6px;color:black;
}
#P27_5
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P27_6
{
left:7596.61px;bottom:48505.8px;color:black;
}
#P27_7
{
left:9123.9px;bottom:48505.8px;color:black;
}
#P27_8
{
left:11218.5px;bottom:48505.8px;color:black;
}
#P27_9
{
left:12576.3px;bottom:48505.8px;color:black;
}
#P27_10
{
left:15493.8px;bottom:48531.6px;color:black;
}
#P27_11
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P27_12
{
left:6022.11px;bottom:47730.1px;color:black;
}
#P27_13
{
left:12191.9px;bottom:47730.1px;color:black;
}
#P27_14
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P27_15
{
left:19721.1px;bottom:46960.8px;color:black;
}
#P27_16
{
left:21031px;bottom:46960.8px;color:black;
}
#P27_17
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P27_18
{
left:4609.54px;bottom:45417.1px;color:black;
}
#P27_19
{
left:5984.26px;bottom:45417.1px;color:black;
}
#P27_20
{
left:16926.5px;bottom:45417.1px;color:black;
}
#P27_21
{
left:4609.54px;bottom:44641.5px;color:black;
}
#P27_22
{
left:4609.54px;bottom:43865.8px;color:black;
}
#P27_23
{
left:4609.54px;bottom:43253.7px;color:black;
}
#P27_24
{
left:4609.54px;bottom:42475.7px;color:black;
}
#P27_25
{
left:7420.16px;bottom:42475.7px;color:black;
}
#P27_26
{
left:17406.1px;bottom:42475.7px;color:black;
}
#P27_27
{
left:19303px;bottom:42475.7px;color:black;
}
#P27_28
{
left:4609.54px;bottom:41707.7px;color:black;
}
#P27_29
{
left:4609.54px;bottom:40932px;color:black;
}
#P27_30
{
left:4609.54px;bottom:40164px;color:black;
}
#P27_31
{
left:4609.54px;bottom:39388.3px;color:black;
}
#P27_32
{
left:4609.54px;bottom:38612.7px;color:black;
}
#P27_33
{
left:4609.54px;bottom:37844.7px;color:black;
}
#P27_34
{
left:4609.54px;bottom:37069px;color:black;
}
#P27_35
{
left:4609.54px;bottom:36301px;color:black;
}
#P27_36
{
left:4609.54px;bottom:35523.4px;color:black;
}
#P27_37
{
left:4609.54px;bottom:34755.4px;color:black;
}
#P27_38
{
left:4609.54px;bottom:33979.7px;color:black;
}
#P27_39
{
left:4609.54px;bottom:33204px;color:black;
}
#P27_40
{
left:4609.54px;bottom:32436px;color:black;
}
#P27_41
{
left:4609.54px;bottom:31660.3px;color:black;
}
#P27_42
{
left:4609.54px;bottom:30892.3px;color:black;
}
#P27_43
{
left:4609.54px;bottom:30116.7px;color:black;
}
#P27_44
{
left:4609.54px;bottom:29341px;color:black;
}
#P27_45
{
left:4609.54px;bottom:28573px;color:black;
}
#P27_46
{
left:4609.54px;bottom:27797.3px;color:black;
}
#P27_47
{
left:4609.54px;bottom:27029.3px;color:black;
}
#P27_48
{
left:10451.6px;bottom:27029.3px;color:black;
}
#P27_49
{
left:14120.8px;bottom:27029.3px;color:black;
}
#P27_50
{
left:4609.54px;bottom:26253.6px;color:black;
}
#P27_51
{
left:4609.54px;bottom:25485.6px;color:black;
}
#P27_52
{
left:4609.54px;bottom:24709.9px;color:black;
}
#P27_53
{
left:4609.54px;bottom:23934.3px;color:black;
}
#P27_54
{
left:4609.54px;bottom:23165px;color:black;
}
#P27_55
{
left:4609.54px;bottom:22389.3px;color:black;
}
#P27_56
{
left:4609.54px;bottom:21621.3px;color:black;
}
#P27_57
{
left:4609.54px;bottom:20845.6px;color:black;
}
#P27_58
{
left:4609.54px;bottom:20069.9px;color:black;
}
#P27_59
{
left:4609.54px;bottom:19301.9px;color:black;
}
#P27_60
{
left:4609.54px;bottom:18526.3px;color:black;
}
#P27_61
{
left:4609.54px;bottom:17758.3px;color:black;
}
#P27_62
{
left:4609.54px;bottom:16982.6px;color:black;
}
#P27_63
{
left:4609.54px;bottom:16214.6px;color:black;
}
#P27_64
{
left:4609.54px;bottom:15438.9px;color:black;
}
#P27_65
{
left:4609.54px;bottom:14663.2px;color:black;
}
#P27_66
{
left:4609.54px;bottom:13895.2px;color:black;
}
#P27_67
{
left:4609.54px;bottom:13119.5px;color:black;
}
#P27_68
{
left:4609.54px;bottom:12351.5px;color:black;
}
#P27_69
{
left:4609.54px;bottom:11575.9px;color:black;
}
#P27_70
{
left:5293.06px;bottom:11575.9px;letter-spacing:-1.1px;color:black;
}
#P27_71
{
left:5684.74px;bottom:11575.9px;color:black;
}
#P27_72
{
left:31563.5px;bottom:11575.9px;color:black;
}
#P27_73
{
left:4609.54px;bottom:10798.3px;color:black;
}
#P27_74
{
left:16113.4px;bottom:10798.3px;color:black;
}
#P27_75
{
left:22053.8px;bottom:10798.3px;letter-spacing:-2.9px;color:black;
}
#P27_76
{
left:22483.8px;bottom:10798.3px;color:black;
}
#P27_77
{
left:5062.66px;bottom:10161.9px;color:black;
}
#P27_78
{
left:5354.5px;bottom:10028.1px;color:black;
}
#P27_79
{
left:5976.58px;bottom:10030.3px;color:black;
}
#P27_80
{
left:5976.58px;bottom:9254.58px;color:black;
}
#P27_81
{
left:7082.24px;bottom:9254.58px;color:black;
}
#P27_82
{
left:9578.24px;bottom:9254.58px;color:black;
}
#P27_83
{
left:13781.1px;bottom:9254.58px;color:black;
}
#P27_84
{
left:15470.7px;bottom:9254.58px;color:black;
}
#P27_85
{
left:19257px;bottom:9254.58px;color:black;
}
#P27_86
{
left:20508.8px;bottom:9254.58px;color:black;
}
#P27_87
{
left:5062.66px;bottom:8610.56px;color:black;
}
#P27_88
{
left:5354.5px;bottom:8476.7px;color:black;
}
#P27_89
{
left:5976.58px;bottom:8478.9px;color:black;
}
#P27_90
{
left:5976.58px;bottom:7703.22px;color:black;
}
#P27_91
{
left:11897.6px;bottom:7703.22px;letter-spacing:1.5px;color:black;
}
#P27_92
{
left:12489px;bottom:7703.22px;color:black;
}
#P27_93
{
left:5062.66px;bottom:7066.88px;color:black;
}
#P27_94
{
left:5354.5px;bottom:6933.02px;color:black;
}
#P27_95
{
left:5976.58px;bottom:6935.22px;color:black;
}
#P27_96
{
left:22952.3px;bottom:6935.22px;color:black;
}
#P27_97
{
left:24764.8px;bottom:6935.22px;color:black;
}
#P27_98
{
left:5976.58px;bottom:6159.8px;color:black;
}
#P27_99
{
left:6721.28px;bottom:6159.8px;color:black;
}
#P27_100
{
left:10745.6px;bottom:6159.8px;color:black;
}
#P27_101
{
left:13730.1px;bottom:6159.8px;color:black;
}
#P27_102
{
left:29167.6px;bottom:6159.8px;letter-spacing:-0.25px;color:black;
}
#P27_103
{
left:5976.58px;bottom:5384.12px;color:black;
}
#P27_104
{
left:9800.96px;bottom:5384.12px;color:black;
}
#P27_105
{
left:13020.8px;bottom:5384.12px;color:black;
}
#P27_106
{
left:13772.4px;bottom:5384.12px;color:black;
}
#P27_107
{
left:20754.6px;bottom:5384.12px;color:black;
}
#P27_108
{
left:24530.1px;bottom:5384.12px;color:black;
}
#P27_109
{
left:29111.7px;bottom:5384.12px;letter-spacing:7.6px;color:black;
}
#P27_110
{
left:29603.2px;bottom:5384.12px;color:black;
}
#P27_111
{
left:5976.58px;bottom:4608.44px;color:black;
}
#P27_112
{
left:23313.3px;bottom:31186.5px;color:black;
}
#P27_113
{
left:24533.8px;bottom:31186.5px;color:black;
}
#P27_114
{
left:23113.6px;bottom:30564.4px;color:black;
}
#P27_115
{
left:22852.5px;bottom:29950px;color:black;
}
#P27_116
{
left:27230.1px;bottom:30056.3px;color:black;
}
#P27_117
{
left:23328.6px;bottom:39736.3px;color:black;
}
#P27_118
{
left:22384px;bottom:39121.9px;color:black;
}
#P27_119
{
left:22929.3px;bottom:38492.1px;color:black;
}
#P27_120
{
left:29950.7px;bottom:38835.4px;color:black;
}
#P27_121
{
left:4640.26px;bottom:41256.9px;color:black;
}
#P27_122
{
left:6598.66px;bottom:41256.9px;color:black;
}
#P27_123
{
left:8732.54px;bottom:41256.9px;color:black;
}
#P27_124
{
left:9639.23px;bottom:41256.9px;color:black;
}
#P27_125
{
left:12587.1px;bottom:41256.9px;color:black;
}
#P27_126
{
left:13961px;bottom:41256.9px;color:black;
}
#P27_127
{
left:15142.9px;bottom:41256.9px;color:black;
}
#P27_128
{
left:15803.1px;bottom:41256.9px;color:black;
}
#P27_129
{
left:18022.4px;bottom:41256.9px;color:black;
}
#P27_130
{
left:18796.2px;bottom:41363.2px;color:black;
}
#P27_131
{
left:32002.5px;bottom:35440px;color:black;
}
#P27_132
{
left:32002.5px;bottom:33696.6px;color:black;
}
#P27_133
{
left:32002.5px;bottom:33428.6px;color:black;
}
#P27_134
{
left:32002.5px;bottom:33275.3px;color:black;
}
#P27_135
{
left:32002.5px;bottom:32968.1px;color:black;
}
#P27_136
{
left:32002.5px;bottom:32768.9px;color:black;
}
#P27_137
{
left:32002.5px;bottom:32577px;color:black;
}
#P27_138
{
left:32002.5px;bottom:32270.3px;color:black;
}
#P27_139
{
left:32002.5px;bottom:32001.7px;color:black;
}
#P27_140
{
left:32108.8px;bottom:31792px;color:black;
}
#P27_141
{
left:29950.7px;bottom:16406.6px;color:black;
}
#PageContainer27
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg027.jpeg");background-repeat:no-repeat;background-size: 975px 993px;background-position: 26.52px 109.07px;
}
#A27_1
{
left:742.4px;bottom:1269.2px;width:140.5px;height:16.8px;
}
#A27_2
{
left:742.4px;bottom:1252.4px;width:62.0px;height:16.8px;
}
#ImageContainer27 {bottom:362.93px;left:26.52px;width:974.75px;height:992.53px;position:absolute;} #TextContainer27 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
