.tr14{ color:transparent;}
#P14_1
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P14_2
{
left:12836.5px;bottom:48505.8px;color:black;
}
#P14_3
{
left:15071.4px;bottom:48505.8px;color:black;
}
#P14_4
{
left:21439.4px;bottom:48531.2px;color:black;
}
#P14_5
{
left:4609.54px;bottom:47886px;color:black;
}
#P14_6
{
left:4609.54px;bottom:47270.4px;color:black;
}
#P14_7
{
left:4609.54px;bottom:46648.3px;color:black;
}
#P14_8
{
left:4609.54px;bottom:46033.9px;color:black;
}
#P14_9
{
left:4609.54px;bottom:45419.5px;color:black;
}
#P14_10
{
left:4609.54px;bottom:44797.4px;color:black;
}
#P14_11
{
left:4609.54px;bottom:44183px;color:black;
}
#P14_12
{
left:4609.54px;bottom:43560.9px;color:black;
}
#P14_13
{
left:4609.54px;bottom:42946.5px;color:black;
}
#P14_14
{
left:4609.54px;bottom:42324.4px;color:black;
}
#P14_15
{
left:4609.54px;bottom:41710px;color:black;
}
#P14_16
{
left:4609.54px;bottom:41088px;color:black;
}
#P14_17
{
left:4609.54px;bottom:40473.6px;color:black;
}
#P14_18
{
left:4609.54px;bottom:39851.5px;color:black;
}
#P14_19
{
left:4609.54px;bottom:39237.1px;color:black;
}
#P14_20
{
left:4609.54px;bottom:38615px;color:black;
}
#P14_21
{
left:4609.54px;bottom:38000.6px;color:black;
}
#P14_22
{
left:4609.54px;bottom:37378.5px;color:black;
}
#P14_23
{
left:4609.54px;bottom:36764.1px;color:black;
}
#P14_24
{
left:4609.54px;bottom:36149.7px;color:black;
}
#P14_25
{
left:4609.54px;bottom:35525.7px;color:black;
}
#P14_26
{
left:4609.54px;bottom:34911.3px;color:black;
}
#P14_27
{
left:4609.54px;bottom:34289.2px;color:black;
}
#P14_28
{
left:4609.54px;bottom:33674.8px;color:black;
}
#P14_29
{
left:4609.54px;bottom:33052.8px;color:black;
}
#P14_30
{
left:4609.54px;bottom:32438.4px;color:black;
}
#P14_31
{
left:4609.54px;bottom:31816.3px;color:black;
}
#P14_32
{
left:4609.54px;bottom:31201.9px;color:black;
}
#P14_33
{
left:4609.54px;bottom:30579.8px;color:black;
}
#P14_34
{
left:4609.54px;bottom:29965.4px;color:black;
}
#P14_35
{
left:4609.54px;bottom:29343.3px;color:black;
}
#P14_36
{
left:4609.54px;bottom:28728.9px;color:black;
}
#P14_37
{
left:4609.54px;bottom:28106.8px;color:black;
}
#P14_38
{
left:4609.54px;bottom:27492.4px;color:black;
}
#P14_39
{
left:4609.54px;bottom:26870.4px;color:black;
}
#P14_40
{
left:4609.54px;bottom:26256px;color:black;
}
#P14_41
{
left:4609.54px;bottom:25641.6px;color:black;
}
#P14_42
{
left:4609.54px;bottom:25019.5px;color:black;
}
#P14_43
{
left:4609.54px;bottom:24405.1px;color:black;
}
#P14_44
{
left:4609.54px;bottom:23783px;color:black;
}
#P14_45
{
left:4609.54px;bottom:23167.3px;color:black;
}
#P14_46
{
left:4609.54px;bottom:22545.2px;color:black;
}
#P14_47
{
left:4609.54px;bottom:21930.8px;color:black;
}
#P14_48
{
left:4609.54px;bottom:21308.8px;color:black;
}
#P14_49
{
left:4609.54px;bottom:20538.4px;color:black;
}
#P14_50
{
left:4609.54px;bottom:19762.7px;color:black;
}
#P14_51
{
left:12447.7px;bottom:19762.7px;color:black;
}
#P14_52
{
left:4609.54px;bottom:18994.7px;color:black;
}
#P14_53
{
left:22122.9px;bottom:18994.7px;color:black;
}
#P14_54
{
left:23582.1px;bottom:18994.7px;color:black;
}
#P14_55
{
left:23720.3px;bottom:18994.7px;color:black;
}
#P14_56
{
left:23920px;bottom:18994.7px;color:black;
}
#P14_57
{
left:25164.2px;bottom:18994.7px;color:black;
}
#P14_58
{
left:27230.1px;bottom:18994.7px;color:black;
}
#P14_59
{
left:7988.48px;bottom:17378px;color:black;
}
#P14_60
{
left:9739.52px;bottom:17378px;color:black;
}
#P14_61
{
left:12596.5px;bottom:17405px;color:black;
}
#P14_62
{
left:13036.2px;bottom:17405px;color:black;
}
#P14_63
{
left:9140.48px;bottom:16730.2px;color:black;
}
#P14_64
{
left:9432.32px;bottom:16596.4px;color:black;
}
#P14_65
{
left:10292.5px;bottom:16598.6px;color:black;
}
#P14_66
{
left:17390.7px;bottom:16598.6px;color:black;
}
#P14_67
{
left:9140.48px;bottom:15954.6px;color:black;
}
#P14_68
{
left:9432.32px;bottom:15820.7px;color:black;
}
#P14_69
{
left:10292.5px;bottom:15822.9px;color:black;
}
#P14_70
{
left:33145.6px;bottom:15822.9px;color:black;
}
#P14_71
{
left:4563.46px;bottom:14235.9px;color:black;
}
#P14_72
{
left:4540.42px;bottom:12208.4px;color:black;
}
#P14_73
{
left:4517.38px;bottom:10102.2px;color:black;
}
#P14_74
{
left:4709.38px;bottom:8117.94px;color:black;
}
#P14_75
{
left:4532.74px;bottom:8043.94px;color:black;
}
#P14_76
{
left:4509.7px;bottom:5863.08px;color:black;
}
#P14_77
{
left:8741.12px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_78
{
left:10474.9px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_79
{
left:11575px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_80
{
left:12350.7px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_81
{
left:14049.9px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_82
{
left:14709.6px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_83
{
left:16213.4px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_84
{
left:17625.7px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_85
{
left:18788.5px;bottom:4891.18px;color:rgb(128,128,128);
}
#P14_86
{
left:20055.7px;bottom:4906.75px;color:rgb(128,128,128);
}
#P14_87
{
left:23436.2px;bottom:4868.14px;color:rgb(128,128,128);
}
#P14_88
{
left:25169.9px;bottom:4868.14px;color:rgb(128,128,128);
}
#P14_89
{
left:25837.3px;bottom:4868.14px;color:rgb(128,128,128);
}
#P14_90
{
left:26589.6px;bottom:4868.14px;color:rgb(128,128,128);
}
#P14_91
{
left:29950.7px;bottom:4868.14px;color:rgb(128,128,128);
}
#P14_92
{
left:31340px;bottom:4868.14px;color:rgb(128,128,128);
}
#P14_93
{
left:33137.9px;bottom:4883.71px;color:rgb(128,128,128);
}
#P14_94
{
left:11974.4px;bottom:47365.2px;color:black;
}
#P14_95
{
left:19518.8px;bottom:47365.2px;color:black;
}
#P14_96
{
left:25394.6px;bottom:47365.2px;color:black;
}
#P14_97
{
left:30410.3px;bottom:32782.7px;color:black;
}
#P14_98
{
left:30410.3px;bottom:33036.4px;color:black;
}
#P14_99
{
left:30410.3px;bottom:33305px;color:black;
}
#P14_100
{
left:30410.3px;bottom:33558.7px;color:black;
}
#P14_101
{
left:30410.3px;bottom:33827.3px;color:black;
}
#P14_102
{
left:30410.3px;bottom:33942.5px;color:black;
}
#P14_103
{
left:30410.3px;bottom:34380.4px;color:black;
}
#P14_104
{
left:30410.3px;bottom:34541.5px;color:black;
}
#P14_105
{
left:30410.3px;bottom:34994.3px;color:black;
}
#P14_106
{
left:30410.3px;bottom:35155.3px;color:black;
}
#P14_107
{
left:30410.3px;bottom:35316.4px;color:black;
}
#P14_108
{
left:30410.3px;bottom:35592.7px;color:black;
}
#P14_109
{
left:30410.3px;bottom:35956.5px;color:black;
}
#P14_110
{
left:31124.1px;bottom:27360.6px;color:black;
}
#P14_111
{
left:5844.77px;bottom:31953.3px;color:black;
}
#P14_112
{
left:5844.77px;bottom:32114.6px;color:black;
}
#P14_113
{
left:5844.77px;bottom:32421.2px;color:black;
}
#P14_114
{
left:5844.77px;bottom:32805.1px;color:black;
}
#P14_115
{
left:5844.77px;bottom:32920.4px;color:black;
}
#P14_116
{
left:5844.77px;bottom:33657.7px;color:black;
}
#P14_117
{
left:5844.77px;bottom:33773px;color:black;
}
#P14_118
{
left:5844.77px;bottom:34049.3px;color:black;
}
#P14_119
{
left:5844.77px;bottom:34402.8px;color:black;
}
#P14_120
{
left:5844.77px;bottom:34571.6px;color:black;
}
#P14_121
{
left:5844.77px;bottom:34825.3px;color:black;
}
#P14_122
{
left:5844.77px;bottom:35185.5px;color:black;
}
#P14_123
{
left:5844.77px;bottom:35615.6px;color:black;
}
#P14_124
{
left:5844.77px;bottom:35814.8px;color:black;
}
#P14_125
{
left:5844.77px;bottom:36544.4px;color:black;
}
#P14_126
{
left:5823.91px;bottom:36739.8px;color:black;
}
#P14_127
{
left:6565.98px;bottom:28512.6px;color:black;
}
#P14_128
{
left:4231.68px;bottom:25672.3px;color:black;
}
#P14_129
{
left:4271.62px;bottom:42554.8px;color:black;
}
#P14_130
{
left:4310.02px;bottom:40481.2px;color:black;
}
#P14_131
{
left:4231.68px;bottom:38292.4px;color:black;
}
#P14_132
{
left:4231.68px;bottom:36218.8px;color:black;
}
#P14_133
{
left:4231.68px;bottom:34204.8px;color:black;
}
#P14_134
{
left:4231.68px;bottom:32039px;color:black;
}
#P14_135
{
left:4231.68px;bottom:29896.3px;color:black;
}
#P14_136
{
left:4231.68px;bottom:27822.7px;color:black;
}
#P14_137
{
left:4116.48px;bottom:44666.8px;letter-spacing:3.2px;color:black;
}
#P14_138
{
left:4678.66px;bottom:44666.8px;color:black;
}
#P14_139
{
left:30396.2px;bottom:25618.5px;color:black;
}
#P14_140
{
left:31287px;bottom:42501.1px;color:black;
}
#P14_141
{
left:31287px;bottom:40427.5px;color:black;
}
#P14_142
{
left:31287px;bottom:38238.7px;color:black;
}
#P14_143
{
left:30887.7px;bottom:34143.3px;color:black;
}
#P14_144
{
left:31287px;bottom:34151px;color:black;
}
#P14_145
{
left:31287px;bottom:31985.2px;color:black;
}
#P14_146
{
left:31287px;bottom:29842.5px;color:black;
}
#P14_147
{
left:31179.5px;bottom:27776.6px;color:black;
}
#P14_148
{
left:31064.3px;bottom:40435.2px;color:black;
}
#P14_149
{
left:15071.4px;bottom:23152px;color:black;
}
#P14_150
{
left:31072px;bottom:47427.9px;color:black;
}
#P14_151
{
left:25563.5px;bottom:46425.6px;color:black;
}
#P14_152
{
left:26969px;bottom:46425.6px;color:black;
}
#P14_153
{
left:28819.8px;bottom:46448.6px;color:black;
}
#P14_154
{
left:27137.9px;bottom:47427.9px;color:black;
}
#P14_155
{
left:24073.6px;bottom:21800.3px;color:black;
}
#P14_156
{
left:10031.4px;bottom:21792.6px;color:black;
}
#P14_157
{
left:17352.3px;bottom:21792.6px;color:black;
}
#PageContainer14
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg014.jpeg");background-repeat:no-repeat;background-size: 975px 1164px;background-position: 26.52px 180.4px;
}
#ImageContainer14 {bottom:120.60px;left:26.52px;width:974.75px;height:1164.48px;position:absolute;} #TextContainer14 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
