.tr16{ color:transparent;}
#P16_1
{
left:28558.7px;bottom:46830.3px;color:rgb(0,51,153);
}
#P16_2
{
left:28558.7px;bottom:46054.6px;color:rgb(0,51,153);
}
#P16_3
{
left:28558.7px;bottom:45294.3px;color:rgb(0,51,153);
}
#P16_4
{
left:31056.6px;bottom:45294.3px;color:black;
}
#P16_5
{
left:4609.54px;bottom:48121.8px;color:black;
}
#P16_6
{
left:14119px;bottom:48121.8px;color:black;
}
#P16_7
{
left:16315.5px;bottom:48121.8px;color:black;
}
#P16_8
{
left:4609.54px;bottom:47344.8px;color:black;
}
#P16_9
{
left:7980.8px;bottom:47344.8px;color:black;
}
#P16_10
{
left:19879px;bottom:47344.8px;letter-spacing:6.5px;color:black;
}
#P16_11
{
left:20278.4px;bottom:47344.8px;color:black;
}
#P16_12
{
left:4609.54px;bottom:46576.8px;color:black;
}
#P16_13
{
left:21255px;bottom:46576.8px;color:black;
}
#P16_14
{
left:4609.54px;bottom:45801.1px;color:black;
}
#P16_15
{
left:20985px;bottom:45801.1px;color:black;
}
#P16_16
{
left:4609.54px;bottom:45033.1px;color:black;
}
#P16_17
{
left:6997.76px;bottom:45033.1px;color:black;
}
#P16_18
{
left:8264.96px;bottom:45033.1px;color:black;
}
#P16_19
{
left:12032.9px;bottom:45033.1px;color:black;
}
#P16_20
{
left:16215.7px;bottom:45033.1px;color:black;
}
#P16_21
{
left:18780.8px;bottom:45033.1px;color:black;
}
#P16_22
{
left:4609.54px;bottom:44257.5px;color:black;
}
#P16_23
{
left:10638.1px;bottom:44257.5px;color:black;
}
#P16_24
{
left:25087.4px;bottom:44257.5px;color:black;
}
#P16_25
{
left:4609.54px;bottom:43481.8px;color:black;
}
#P16_26
{
left:4609.54px;bottom:42713.8px;color:black;
}
#P16_27
{
left:4609.54px;bottom:41938.1px;color:black;
}
#P16_28
{
left:4609.54px;bottom:41170.1px;color:black;
}
#P16_29
{
left:4609.54px;bottom:40394.4px;color:black;
}
#P16_30
{
left:4609.54px;bottom:39626.4px;color:black;
}
#P16_31
{
left:4609.54px;bottom:38850.7px;color:black;
}
#P16_32
{
left:4609.54px;bottom:38075.1px;color:black;
}
#P16_33
{
left:4609.54px;bottom:37307.1px;color:black;
}
#P16_34
{
left:4609.54px;bottom:36531.4px;color:black;
}
#P16_35
{
left:4609.54px;bottom:35763.4px;color:black;
}
#P16_36
{
left:4609.54px;bottom:34985.8px;color:black;
}
#P16_37
{
left:4609.54px;bottom:34210.1px;color:black;
}
#P16_38
{
left:4609.54px;bottom:33442.1px;color:black;
}
#P16_39
{
left:4609.54px;bottom:32666.4px;color:black;
}
#P16_40
{
left:4609.54px;bottom:31898.4px;color:black;
}
#P16_41
{
left:4609.54px;bottom:31122.7px;color:black;
}
#P16_42
{
left:4609.54px;bottom:30354.7px;color:black;
}
#P16_43
{
left:4609.54px;bottom:29579.1px;color:black;
}
#P16_44
{
left:4609.54px;bottom:28803.4px;color:black;
}
#P16_45
{
left:4609.54px;bottom:28035.4px;color:black;
}
#P16_46
{
left:4609.54px;bottom:27259.7px;color:black;
}
#P16_47
{
left:4609.54px;bottom:26491.7px;color:black;
}
#P16_48
{
left:4609.54px;bottom:25716px;color:black;
}
#P16_49
{
left:4609.54px;bottom:24940.3px;color:black;
}
#P16_50
{
left:4609.54px;bottom:24172.3px;color:black;
}
#P16_51
{
left:4609.54px;bottom:23395.4px;color:black;
}
#P16_52
{
left:4609.54px;bottom:22627.4px;color:black;
}
#P16_53
{
left:4609.54px;bottom:21851.7px;color:black;
}
#P16_54
{
left:4609.54px;bottom:21381.8px;color:black;
}
#P16_55
{
left:4609.54px;bottom:20921px;color:black;
}
#P16_56
{
left:4609.54px;bottom:20154.4px;color:black;
}
#P16_57
{
left:8725.76px;bottom:20154.4px;color:black;
}
#P16_58
{
left:11603.8px;bottom:20154.4px;color:black;
}
#P16_59
{
left:4609.54px;bottom:19378.7px;color:black;
}
#P16_60
{
left:14748.8px;bottom:19378.7px;color:black;
}
#P16_61
{
left:15854.7px;bottom:19378.7px;color:black;
}
#P16_62
{
left:18930.4px;bottom:19378.7px;color:black;
}
#P16_63
{
left:28336px;bottom:19378.7px;color:black;
}
#P16_64
{
left:4609.54px;bottom:18610.7px;color:black;
}
#P16_65
{
left:8026.88px;bottom:18610.7px;color:black;
}
#P16_66
{
left:10561.3px;bottom:18610.7px;color:black;
}
#P16_67
{
left:4609.54px;bottom:17835.1px;color:black;
}
#P16_68
{
left:4609.54px;bottom:17059.4px;color:black;
}
#P16_69
{
left:4609.54px;bottom:16291.4px;color:black;
}
#P16_70
{
left:4609.54px;bottom:15515.7px;color:black;
}
#P16_71
{
left:4609.54px;bottom:14747.7px;color:black;
}
#P16_72
{
left:4609.54px;bottom:13972px;color:black;
}
#P16_73
{
left:4609.54px;bottom:13204px;color:black;
}
#P16_74
{
left:4609.54px;bottom:12428.3px;color:black;
}
#P16_75
{
left:4609.54px;bottom:11652.7px;color:black;
}
#P16_76
{
left:4609.54px;bottom:10882.7px;color:black;
}
#P16_77
{
left:4609.54px;bottom:10107.1px;color:black;
}
#P16_78
{
left:4609.54px;bottom:9339.06px;color:black;
}
#P16_79
{
left:4609.54px;bottom:8563.38px;color:black;
}
#P16_80
{
left:4609.54px;bottom:7787.7px;color:black;
}
#P16_81
{
left:4609.54px;bottom:7019.7px;color:black;
}
#P16_82
{
left:4609.54px;bottom:6244.28px;color:black;
}
#P16_83
{
left:4609.54px;bottom:5476.28px;color:black;
}
#P16_84
{
left:4609.54px;bottom:4700.6px;color:black;
}
#P16_85
{
left:4601.86px;bottom:38989px;color:black;
}
#P16_86
{
left:6713.6px;bottom:38989px;letter-spacing:-1px;color:black;
}
#P16_87
{
left:7136px;bottom:38989px;color:black;
}
#P16_88
{
left:8311.04px;bottom:38989px;color:black;
}
#P16_89
{
left:10238.7px;bottom:38989px;color:black;
}
#P16_90
{
left:13619.8px;bottom:38989px;color:black;
}
#P16_91
{
left:4601.86px;bottom:38213.3px;color:black;
}
#P16_92
{
left:8546.94px;bottom:38213.3px;color:black;
}
#P16_93
{
left:11313.9px;bottom:38213.3px;letter-spacing:3.2px;color:black;
}
#P16_94
{
left:12128px;bottom:38213.3px;letter-spacing:7.6px;color:black;
}
#P16_95
{
left:12634.9px;bottom:38213.3px;color:black;
}
#P16_96
{
left:12828.8px;bottom:38213.3px;color:black;
}
#P16_97
{
left:5101.06px;bottom:35615.5px;color:black;
}
#P16_98
{
left:6475.52px;bottom:34839.9px;color:black;
}
#P16_99
{
left:5170.18px;bottom:34079.5px;color:black;
}
#P16_100
{
left:6467.84px;bottom:34079.5px;letter-spacing:1px;color:black;
}
#P16_101
{
left:7688.96px;bottom:34079.5px;color:black;
}
#P16_102
{
left:7873.28px;bottom:34079.5px;color:black;
}
#P16_103
{
left:5354.5px;bottom:32236.3px;color:black;
}
#P16_104
{
left:6752px;bottom:32262.2px;color:black;
}
#P16_105
{
left:8372.48px;bottom:32236.3px;color:black;
}
#P16_106
{
left:10561.3px;bottom:32262.2px;color:black;
}
#P16_107
{
left:7235.84px;bottom:32067.2px;color:black;
}
#P16_108
{
left:7888.64px;bottom:32103.6px;color:black;
}
#P16_109
{
left:24665px;bottom:27520.8px;color:black;
}
#P16_110
{
left:26262.4px;bottom:27520.8px;letter-spacing:6.7px;color:black;
}
#P16_111
{
left:26684.8px;bottom:27520.8px;color:black;
}
#P16_112
{
left:23743.4px;bottom:26745.1px;color:black;
}
#P16_113
{
left:31257.5px;bottom:26745.1px;color:black;
}
#P16_114
{
left:32531.2px;bottom:26745.1px;color:black;
}
#P16_115
{
left:25425.3px;bottom:25969.5px;color:black;
}
#P16_116
{
left:23674.2px;bottom:25209.1px;color:black;
}
#P16_117
{
left:29610.9px;bottom:25209.1px;letter-spacing:2.2px;color:black;
}
#P16_118
{
left:30680.3px;bottom:25209.1px;letter-spacing:10.3px;color:black;
}
#P16_119
{
left:31317.8px;bottom:25209.1px;color:black;
}
#P16_120
{
left:31525.1px;bottom:25209.1px;color:black;
}
#P16_121
{
left:33030.4px;bottom:25209.1px;color:black;
}
#P16_122
{
left:6805.76px;bottom:27766.6px;color:black;
}
#P16_123
{
left:7197.44px;bottom:26990.9px;color:black;
}
#P16_124
{
left:7942.4px;bottom:26990.9px;color:black;
}
#P16_125
{
left:8234.24px;bottom:26215.2px;color:black;
}
#P16_126
{
left:8633.6px;bottom:26215.2px;color:black;
}
#P16_127
{
left:8833.28px;bottom:26215.2px;color:black;
}
#P16_128
{
left:9301.76px;bottom:26215.2px;color:black;
}
#P16_129
{
left:9486.08px;bottom:26215.2px;color:black;
}
#P16_130
{
left:10483.6px;bottom:26215.2px;color:black;
}
#P16_131
{
left:13497px;bottom:26215.2px;color:black;
}
#P16_132
{
left:6521.6px;bottom:24520.3px;color:black;
}
#P16_133
{
left:8532.48px;bottom:24520.3px;color:black;
}
#P16_134
{
left:13177.4px;bottom:24520.3px;color:black;
}
#P16_135
{
left:15125.1px;bottom:24541.1px;color:black;
}
#P16_136
{
left:31532.8px;bottom:41975.1px;color:black;
}
#P16_137
{
left:31586.6px;bottom:38857px;color:black;
}
#P16_138
{
left:33084.2px;bottom:40431.4px;color:black;
}
#P16_139
{
left:29935.4px;bottom:40423.7px;color:black;
}
#P16_140
{
left:4624.9px;bottom:41953.5px;color:black;
}
#P16_141
{
left:7787.9px;bottom:41953.5px;color:black;
}
#P16_142
{
left:12216.2px;bottom:41953.5px;color:black;
}
#P16_143
{
left:15231.9px;bottom:41953.5px;color:black;
}
#P16_144
{
left:19080.3px;bottom:41953.5px;color:black;
}
#P16_145
{
left:20255.4px;bottom:41953.5px;color:black;
}
#P16_146
{
left:21613.8px;bottom:41953.5px;color:black;
}
#P16_147
{
left:23665.6px;bottom:41953.5px;color:black;
}
#P16_148
{
left:4624.9px;bottom:41177.8px;color:black;
}
#P16_149
{
left:27768.4px;bottom:41177.8px;color:black;
}
#P16_150
{
left:4624.9px;bottom:40402.1px;color:black;
}
#P16_151
{
left:6467.84px;bottom:40402.1px;color:black;
}
#P16_152
{
left:26577.3px;bottom:40402.1px;color:black;
}
#P16_153
{
left:4624.9px;bottom:39721.4px;color:black;
}
#P16_154
{
left:27076.5px;bottom:35615.5px;color:black;
}
#P16_155
{
left:28236.2px;bottom:34839.9px;color:black;
}
#P16_156
{
left:28981.1px;bottom:34839.9px;color:black;
}
#P16_157
{
left:26769.3px;bottom:34079.5px;color:black;
}
#P16_158
{
left:28067.2px;bottom:34079.5px;letter-spacing:1px;color:black;
}
#P16_159
{
left:29288.3px;bottom:34079.5px;color:black;
}
#P16_160
{
left:29472.6px;bottom:34079.5px;color:black;
}
#P16_161
{
left:26899.8px;bottom:32236.3px;color:black;
}
#P16_162
{
left:28297.6px;bottom:32262.2px;color:black;
}
#P16_163
{
left:29912.3px;bottom:32236.3px;color:black;
}
#P16_164
{
left:32101.1px;bottom:32262.2px;color:black;
}
#P16_165
{
left:28773.8px;bottom:32067.2px;color:black;
}
#P16_166
{
left:29426.6px;bottom:32103.6px;color:black;
}
#P16_167
{
left:5185.54px;bottom:16461.4px;color:black;
}
#P16_168
{
left:5200.9px;bottom:17443.4px;color:black;
}
#P16_169
{
left:11459.8px;bottom:17468.8px;color:black;
}
#P16_170
{
left:14733.4px;bottom:17468.8px;color:black;
}
#P16_171
{
left:17175.7px;bottom:17468.8px;color:black;
}
#P16_172
{
left:5200.9px;bottom:16762.7px;color:black;
}
#P16_173
{
left:21232px;bottom:11591.2px;color:black;
}
#P16_174
{
left:26976.6px;bottom:11616.6px;color:black;
}
#P16_175
{
left:32454.4px;bottom:11591.2px;color:black;
}
#P16_176
{
left:5300.74px;bottom:11598.9px;color:black;
}
#P16_177
{
left:10914.6px;bottom:11598.9px;color:black;
}
#P16_178
{
left:11098.9px;bottom:11624.3px;color:black;
}
#P16_179
{
left:12997.8px;bottom:11624.3px;color:black;
}
#P16_180
{
left:18005.1px;bottom:11598.9px;color:black;
}
#P16_181
{
left:25348.5px;bottom:3762.22px;color:rgb(128,128,128);
}
#P16_182
{
left:26936.7px;bottom:3762.22px;color:rgb(128,128,128);
}
#P16_183
{
left:28571.4px;bottom:3762.22px;color:rgb(128,128,128);
}
#P16_184
{
left:31005.2px;bottom:3762.22px;color:rgb(128,128,128);
}
#P16_185
{
left:4047.36px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_186
{
left:5635.58px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_187
{
left:6905.6px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_188
{
left:7704.32px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_189
{
left:12020.5px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_190
{
left:14348.7px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_191
{
left:14885.5px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_192
{
left:15737.2px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_193
{
left:16404.6px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_194
{
left:17413.8px;bottom:3800.62px;color:rgb(128,128,128);
}
#P16_195
{
left:21623.7px;bottom:12987.6px;color:rgb(128,128,128);
}
#P16_196
{
left:23213.4px;bottom:12987.6px;color:rgb(128,128,128);
}
#P16_197
{
left:25308.9px;bottom:12987.6px;color:rgb(128,128,128);
}
#P16_198
{
left:26920.6px;bottom:12987.6px;color:rgb(128,128,128);
}
#P16_199
{
left:28171.3px;bottom:12987.6px;color:rgb(128,128,128);
}
#P16_200
{
left:28923.1px;bottom:12987.6px;color:rgb(128,128,128);
}
#PageContainer16
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg016.jpeg");background-repeat:no-repeat;background-size: 975px 1267px;background-position: 26.52px 101.66px;
}
#A16_1
{
left:772.0px;bottom:1272.5px;width:174.1px;height:21.0px;
}
#A16_2
{
left:772.0px;bottom:1251.5px;width:174.1px;height:21.0px;
}
#A16_3
{
left:772.0px;bottom:1230.5px;width:75.6px;height:21.0px;
}
#ImageContainer16 {bottom:96.34px;left:26.52px;width:974.75px;height:1266.60px;position:absolute;} #TextContainer16 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
