.tr22{ color:transparent;}
#P22_1
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P22_2
{
left:8725.76px;bottom:48505.8px;color:black;
}
#P22_3
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P22_4
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P22_5
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P22_6
{
left:4609.54px;bottom:45417.1px;color:black;
}
#P22_7
{
left:4609.54px;bottom:44641.5px;color:black;
}
#P22_8
{
left:4609.54px;bottom:44021.7px;color:black;
}
#P22_9
{
left:4609.54px;bottom:43251.4px;color:black;
}
#P22_10
{
left:4609.54px;bottom:42475.7px;color:black;
}
#P22_11
{
left:4609.54px;bottom:41707.7px;color:black;
}
#P22_12
{
left:4609.54px;bottom:40932px;color:black;
}
#P22_13
{
left:4609.54px;bottom:40164px;color:black;
}
#P22_14
{
left:4609.54px;bottom:39388.3px;color:black;
}
#P22_15
{
left:4609.54px;bottom:38612.7px;color:black;
}
#P22_16
{
left:4609.54px;bottom:37844.7px;color:black;
}
#P22_17
{
left:4609.54px;bottom:37069px;color:black;
}
#P22_18
{
left:4609.54px;bottom:36301px;color:black;
}
#P22_19
{
left:4609.54px;bottom:35523.4px;color:black;
}
#P22_20
{
left:4609.54px;bottom:34755.4px;color:black;
}
#P22_21
{
left:4609.54px;bottom:33979.7px;color:black;
}
#P22_22
{
left:4609.54px;bottom:33204px;color:black;
}
#P22_23
{
left:4609.54px;bottom:32436px;color:black;
}
#P22_24
{
left:4609.54px;bottom:31660.3px;color:black;
}
#P22_25
{
left:4609.54px;bottom:30892.3px;color:black;
}
#P22_26
{
left:4609.54px;bottom:30116.7px;color:black;
}
#P22_27
{
left:4609.54px;bottom:29341px;color:black;
}
#P22_28
{
left:4609.54px;bottom:28573px;color:black;
}
#P22_29
{
left:4609.54px;bottom:27797.3px;color:black;
}
#P22_30
{
left:4609.54px;bottom:27029.3px;color:black;
}
#P22_31
{
left:4609.54px;bottom:26253.6px;color:black;
}
#P22_32
{
left:7397.12px;bottom:26253.6px;color:black;
}
#P22_33
{
left:17047.9px;bottom:26253.6px;color:black;
}
#P22_34
{
left:5761.54px;bottom:25632.6px;color:black;
}
#P22_35
{
left:6053.38px;bottom:25498.8px;color:black;
}
#P22_36
{
left:6913.28px;bottom:25501px;color:black;
}
#P22_37
{
left:19211.4px;bottom:25501px;color:black;
}
#P22_38
{
left:22379.5px;bottom:25501px;color:black;
}
#P22_39
{
left:23643.5px;bottom:25526.8px;letter-spacing:1.9px;color:black;
}
#P22_40
{
left:23966.1px;bottom:25501px;color:black;
}
#P22_41
{
left:5761.54px;bottom:24833.9px;color:black;
}
#P22_42
{
left:6053.38px;bottom:24700.1px;color:black;
}
#P22_43
{
left:6913.28px;bottom:24702.3px;color:black;
}
#P22_44
{
left:11602.3px;bottom:24702.3px;color:black;
}
#P22_45
{
left:22075.5px;bottom:24702.3px;color:black;
}
#P22_46
{
left:6913.28px;bottom:23926.6px;color:black;
}
#P22_47
{
left:19393.7px;bottom:23926.6px;color:black;
}
#P22_48
{
left:22422.2px;bottom:23926.6px;color:black;
}
#P22_49
{
left:4609.54px;bottom:23149.6px;color:black;
}
#P22_50
{
left:4609.54px;bottom:22381.6px;color:black;
}
#P22_51
{
left:4609.54px;bottom:21605.9px;color:black;
}
#P22_52
{
left:4609.54px;bottom:20830.3px;color:black;
}
#P22_53
{
left:4609.54px;bottom:20062.3px;color:black;
}
#P22_54
{
left:4609.54px;bottom:19286.6px;color:black;
}
#P22_55
{
left:4609.54px;bottom:18518.6px;color:black;
}
#P22_56
{
left:4609.54px;bottom:17742.9px;color:black;
}
#P22_57
{
left:4609.54px;bottom:16967.2px;color:black;
}
#P22_58
{
left:4609.54px;bottom:16199.2px;color:black;
}
#P22_59
{
left:4609.54px;bottom:15423.5px;color:black;
}
#P22_60
{
left:8241.92px;bottom:15423.5px;color:black;
}
#P22_61
{
left:8441.6px;bottom:15423.5px;color:black;
}
#P22_62
{
left:10934px;bottom:15423.5px;color:black;
}
#P22_63
{
left:13742.7px;bottom:15423.5px;color:black;
}
#P22_64
{
left:17248.6px;bottom:15423.5px;color:black;
}
#P22_65
{
left:4609.54px;bottom:15118.9px;color:black;
}
#P22_66
{
left:4609.54px;bottom:14340.7px;color:black;
}
#P22_67
{
left:4609.54px;bottom:13572.7px;color:black;
}
#P22_68
{
left:4609.54px;bottom:12797px;color:black;
}
#P22_69
{
left:4609.54px;bottom:12029px;color:black;
}
#P22_70
{
left:4609.54px;bottom:11251.4px;color:black;
}
#P22_71
{
left:4609.54px;bottom:10483.4px;color:black;
}
#P22_72
{
left:4609.54px;bottom:9707.7px;color:black;
}
#P22_73
{
left:4609.54px;bottom:8932.02px;color:black;
}
#P22_74
{
left:4609.54px;bottom:8164.02px;color:black;
}
#P22_75
{
left:4609.54px;bottom:7388.34px;color:black;
}
#P22_76
{
left:4609.54px;bottom:6620.34px;color:black;
}
#P22_77
{
left:4609.54px;bottom:5844.92px;color:black;
}
#P22_78
{
left:4609.54px;bottom:5069.24px;color:black;
}
#P22_79
{
left:4862.98px;bottom:9316.02px;color:black;
}
#P22_80
{
left:4862.98px;bottom:7457.46px;color:black;
}
#P22_81
{
left:4862.98px;bottom:5494.44px;color:black;
}
#P22_82
{
left:33552.6px;bottom:4534.44px;color:black;
}
#P22_83
{
left:7435.52px;bottom:13826.1px;color:black;
}
#P22_84
{
left:11748.4px;bottom:13826.1px;color:black;
}
#P22_85
{
left:13651.8px;bottom:13826.1px;color:black;
}
#P22_86
{
left:19277.9px;bottom:13826.1px;color:black;
}
#P22_87
{
left:20460.4px;bottom:13826.1px;color:black;
}
#P22_88
{
left:20958.8px;bottom:13826.1px;color:black;
}
#P22_89
{
left:22430.1px;bottom:13826.1px;color:black;
}
#P22_90
{
left:7435.52px;bottom:13243.5px;color:black;
}
#P22_91
{
left:7696.64px;bottom:13122.6px;color:black;
}
#P22_92
{
left:8587.52px;bottom:13124.6px;color:black;
}
#P22_93
{
left:12759.7px;bottom:13124.6px;color:black;
}
#P22_94
{
left:15269.9px;bottom:13124.6px;color:black;
}
#P22_95
{
left:16728.3px;bottom:13124.6px;color:black;
}
#P22_96
{
left:18156.2px;bottom:13124.6px;color:black;
}
#P22_97
{
left:8587.52px;bottom:12433.4px;color:black;
}
#P22_98
{
left:11535.5px;bottom:12433.4px;color:black;
}
#P22_99
{
left:12226.1px;bottom:12433.4px;color:black;
}
#P22_100
{
left:15182.1px;bottom:12433.4px;color:black;
}
#P22_101
{
left:19320.1px;bottom:12433.4px;color:black;
}
#P22_102
{
left:20010.2px;bottom:12433.4px;color:black;
}
#P22_103
{
left:22290px;bottom:12433.4px;color:black;
}
#P22_104
{
left:23372.3px;bottom:12433.4px;color:black;
}
#P22_105
{
left:7435.52px;bottom:11853.4px;color:black;
}
#P22_106
{
left:7696.64px;bottom:11732.5px;color:black;
}
#P22_107
{
left:8587.52px;bottom:11734.5px;color:black;
}
#P22_108
{
left:10092.6px;bottom:11734.5px;color:black;
}
#P22_109
{
left:11604px;bottom:11734.5px;color:black;
}
#P22_110
{
left:14560.8px;bottom:11734.5px;color:black;
}
#P22_111
{
left:16195.5px;bottom:11734.5px;color:black;
}
#P22_112
{
left:18291.6px;bottom:11734.5px;color:black;
}
#P22_113
{
left:19849.7px;bottom:11734.5px;color:black;
}
#P22_114
{
left:22145px;bottom:11734.5px;color:black;
}
#P22_115
{
left:23143.2px;bottom:11734.5px;color:black;
}
#P22_116
{
left:24210px;bottom:11734.5px;color:black;
}
#P22_117
{
left:25738.1px;bottom:11734.5px;color:black;
}
#P22_118
{
left:31249.3px;bottom:11734.5px;color:black;
}
#P22_119
{
left:8587.52px;bottom:11033.7px;color:black;
}
#P22_120
{
left:9401.98px;bottom:11033.7px;color:black;
}
#P22_121
{
left:13693.2px;bottom:11033.7px;color:black;
}
#P22_122
{
left:15221.3px;bottom:11033.7px;color:black;
}
#P22_123
{
left:16226.4px;bottom:11033.7px;color:black;
}
#P22_124
{
left:17516.7px;bottom:11033.7px;color:black;
}
#P22_125
{
left:7404.8px;bottom:4426.46px;color:rgb(128,128,128);
}
#P22_126
{
left:8372.48px;bottom:4426.46px;color:rgb(128,128,128);
}
#P22_127
{
left:33775.4px;bottom:3743.4px;color:black;
}
#P22_128
{
left:15424.6px;bottom:22297.1px;color:black;
}
#P22_129
{
left:20124.8px;bottom:22297.1px;letter-spacing:2.6px;color:black;
}
#P22_130
{
left:20754.6px;bottom:22297.1px;color:black;
}
#P22_131
{
left:4701.7px;bottom:22320.2px;color:black;
}
#P22_132
{
left:11782.4px;bottom:22346px;color:black;
}
#P22_133
{
left:25701.8px;bottom:22297.1px;color:black;
}
#P22_134
{
left:7013.12px;bottom:21045.3px;color:black;
}
#P22_135
{
left:8687.36px;bottom:21045.3px;color:black;
}
#P22_136
{
left:7013.12px;bottom:20269.6px;color:black;
}
#P22_137
{
left:9409.28px;bottom:20269.6px;color:black;
}
#P22_138
{
left:19264.6px;bottom:20062.3px;letter-spacing:0.4px;color:black;
}
#P22_139
{
left:22038.4px;bottom:20740.4px;letter-spacing:-2.8px;color:black;
}
#P22_140
{
left:22952.3px;bottom:20740.4px;color:black;
}
#P22_141
{
left:31456px;bottom:20732.8px;color:black;
}
#P22_142
{
left:26930.6px;bottom:20740.4px;color:black;
}
#P22_143
{
left:7020.8px;bottom:18833.5px;color:black;
}
#P22_144
{
left:9593.6px;bottom:18833.5px;color:black;
}
#P22_145
{
left:7020.8px;bottom:18057.8px;color:black;
}
#P22_146
{
left:7020.8px;bottom:17282.1px;color:black;
}
#P22_147
{
left:19272.3px;bottom:17512.5px;letter-spacing:0.4px;color:black;
}
#P22_148
{
left:22046.1px;bottom:18037.1px;letter-spacing:-2.8px;color:black;
}
#P22_149
{
left:22960px;bottom:18037.1px;color:black;
}
#P22_150
{
left:31463.7px;bottom:18021.7px;color:black;
}
#P22_151
{
left:26938.2px;bottom:18037.1px;color:black;
}
#P22_152
{
left:4555.78px;bottom:43681.5px;color:black;
}
#P22_153
{
left:7397.12px;bottom:43681.5px;color:black;
}
#P22_154
{
left:16267.7px;bottom:43681.5px;color:black;
}
#P22_155
{
left:22368.6px;bottom:43681.5px;color:black;
}
#P22_156
{
left:5462.02px;bottom:42905.8px;letter-spacing:3.3px;color:black;
}
#P22_157
{
left:5991.94px;bottom:42903.6px;color:black;
}
#P22_158
{
left:6368.26px;bottom:42905.8px;color:black;
}
#P22_159
{
left:12473.6px;bottom:42905.8px;color:black;
}
#P22_160
{
left:31450.4px;bottom:42905.8px;color:black;
}
#P22_161
{
left:6368.26px;bottom:42130.1px;color:black;
}
#P22_162
{
left:10154.2px;bottom:42130.1px;color:black;
}
#P22_163
{
left:6368.26px;bottom:41362.1px;color:black;
}
#P22_164
{
left:7633.6px;bottom:41362.1px;color:black;
}
#P22_165
{
left:19205.6px;bottom:41362.1px;color:black;
}
#P22_166
{
left:5462.02px;bottom:40586.4px;letter-spacing:0.8px;color:black;
}
#P22_167
{
left:6007.3px;bottom:40584.2px;color:black;
}
#P22_168
{
left:6368.26px;bottom:40586.4px;color:black;
}
#P22_169
{
left:11529px;bottom:40586.4px;color:black;
}
#P22_170
{
left:26515.8px;bottom:40586.4px;color:black;
}
#P22_171
{
left:28750.7px;bottom:40586.4px;color:black;
}
#P22_172
{
left:6368.26px;bottom:39818.4px;color:black;
}
#P22_173
{
left:4555.78px;bottom:39042.7px;color:black;
}
#P22_174
{
left:5469.7px;bottom:29064.5px;letter-spacing:-2px;color:black;
}
#P22_175
{
left:5961.22px;bottom:29062.3px;color:black;
}
#P22_176
{
left:6621.44px;bottom:29064.5px;color:black;
}
#P22_177
{
left:6621.44px;bottom:28304.2px;color:black;
}
#P22_178
{
left:13987.1px;bottom:28304.2px;color:black;
}
#P22_179
{
left:4617.22px;bottom:46891.7px;color:black;
}
#P22_180
{
left:6084.1px;bottom:46891.7px;color:black;
}
#P22_181
{
left:6291.46px;bottom:46891.7px;color:black;
}
#P22_182
{
left:4617.22px;bottom:46123.7px;color:black;
}
#P22_183
{
left:4617.22px;bottom:45348px;color:black;
}
#P22_184
{
left:4617.22px;bottom:44667.3px;color:black;
}
#P22_185
{
left:23167.4px;bottom:46599.9px;color:black;
}
#P22_186
{
left:26369.9px;bottom:46599.9px;color:black;
}
#P22_187
{
left:26577.3px;bottom:46599.9px;color:black;
}
#P22_188
{
left:23167.4px;bottom:45824.2px;letter-spacing:-2.4px;color:black;
}
#P22_189
{
left:23712.6px;bottom:45824.2px;color:black;
}
#P22_190
{
left:23167.4px;bottom:45135.8px;color:black;
}
#P22_191
{
left:5316.1px;bottom:37837px;letter-spacing:0.2px;color:black;
}
#P22_192
{
left:6114.82px;bottom:37837px;color:black;
}
#P22_193
{
left:10008.3px;bottom:37837px;color:black;
}
#P22_194
{
left:5316.1px;bottom:37069px;color:black;
}
#P22_195
{
left:8902.4px;bottom:37069px;color:black;
}
#P22_196
{
left:5316.1px;bottom:36293.3px;color:black;
}
#P22_197
{
left:5316.1px;bottom:35515.7px;color:black;
}
#P22_198
{
left:5316.1px;bottom:34747.7px;color:black;
}
#P22_199
{
left:5316.1px;bottom:33972px;color:black;
}
#P22_200
{
left:5316.1px;bottom:33204px;color:black;
}
#P22_201
{
left:5316.1px;bottom:32428.3px;color:black;
}
#P22_202
{
left:5316.1px;bottom:31660.3px;color:black;
}
#P22_203
{
left:5316.1px;bottom:30892.3px;color:black;
}
#P22_204
{
left:19909.8px;bottom:37844.7px;letter-spacing:0.2px;color:black;
}
#P22_205
{
left:20508.8px;bottom:37844.7px;color:black;
}
#P22_206
{
left:24403.8px;bottom:37844.7px;color:black;
}
#P22_207
{
left:19909.8px;bottom:37076.7px;color:black;
}
#P22_208
{
left:19909.8px;bottom:36301px;color:black;
}
#P22_209
{
left:19909.8px;bottom:35531.1px;color:black;
}
#P22_210
{
left:19909.8px;bottom:34755.4px;color:black;
}
#P22_211
{
left:19909.8px;bottom:33987.4px;color:black;
}
#P22_212
{
left:19909.8px;bottom:33211.7px;color:black;
}
#P22_213
{
left:19909.8px;bottom:32436px;color:black;
}
#P22_214
{
left:25118.1px;bottom:32436px;color:black;
}
#P22_215
{
left:19909.8px;bottom:31668px;color:black;
}
#P22_216
{
left:19909.8px;bottom:30892.3px;color:black;
}
#P22_217
{
left:21969.3px;bottom:30892.3px;color:black;
}
#P22_218
{
left:22107.5px;bottom:30892.3px;color:black;
}
#P22_219
{
left:19909.8px;bottom:30211.6px;color:black;
}
#PageContainer22
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg022.jpeg");background-repeat:no-repeat;background-size: 975px 1227px;background-position: 26.52px 122.19px;
}
#ImageContainer22 {bottom:115.81px;left:26.52px;width:974.75px;height:1226.87px;position:absolute;} #TextContainer22 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
