.tr40{ color:transparent;}
#P40_1
{
left:28804.5px;bottom:35727.3px;color:rgb(0,51,153);
}
#P40_2
{
left:33337.6px;bottom:35727.3px;color:rgb(0,51,153);
}
#P40_3
{
left:28804.5px;bottom:35103.3px;color:rgb(0,51,153);
}
#P40_4
{
left:28804.5px;bottom:34488.9px;color:rgb(0,51,153);
}
#P40_5
{
left:28804.5px;bottom:33866.8px;color:rgb(0,51,153);
}
#P40_6
{
left:29150.1px;bottom:33866.8px;color:rgb(0,51,153);
}
#P40_7
{
left:31148.8px;bottom:33866.8px;color:black;
}
#P40_8
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P40_9
{
left:9747.2px;bottom:48505.8px;color:black;
}
#P40_10
{
left:30880px;bottom:48505.8px;color:black;
}
#P40_11
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P40_12
{
left:16438.4px;bottom:47730.1px;color:black;
}
#P40_13
{
left:19283.9px;bottom:47730.1px;color:black;
}
#P40_14
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P40_15
{
left:10446.1px;bottom:46960.8px;color:black;
}
#P40_16
{
left:16039px;bottom:46960.8px;color:black;
}
#P40_17
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P40_18
{
left:4609.54px;bottom:45417.1px;color:black;
}
#P40_19
{
left:6913.28px;bottom:45417.1px;color:black;
}
#P40_20
{
left:9217.28px;bottom:45417.1px;color:black;
}
#P40_21
{
left:11521.3px;bottom:45417.1px;color:black;
}
#P40_22
{
left:13827.2px;bottom:45417.1px;color:black;
}
#P40_23
{
left:16131.2px;bottom:45417.1px;color:black;
}
#P40_24
{
left:18435.2px;bottom:45417.1px;color:black;
}
#P40_25
{
left:20739.2px;bottom:45417.1px;color:black;
}
#P40_26
{
left:23044.5px;bottom:45417.1px;color:black;
}
#P40_27
{
left:25348.5px;bottom:45417.1px;color:black;
}
#P40_28
{
left:27652.5px;bottom:45417.1px;color:black;
}
#P40_29
{
left:29958.4px;bottom:45417.1px;color:black;
}
#P40_30
{
left:32262.4px;bottom:45417.1px;color:black;
}
#P40_31
{
left:4609.54px;bottom:44641.5px;color:black;
}
#P40_32
{
left:4609.54px;bottom:43865.8px;color:black;
}
#P40_33
{
left:6913.28px;bottom:43865.8px;color:black;
}
#P40_34
{
left:9217.28px;bottom:43865.8px;color:black;
}
#P40_35
{
left:11521.3px;bottom:43865.8px;color:black;
}
#P40_36
{
left:13827.2px;bottom:43865.8px;color:black;
}
#P40_37
{
left:16131.2px;bottom:43865.8px;color:black;
}
#P40_38
{
left:18435.2px;bottom:43865.8px;color:black;
}
#P40_39
{
left:20739.2px;bottom:43865.8px;color:black;
}
#P40_40
{
left:23044.5px;bottom:43865.8px;color:black;
}
#P40_41
{
left:25348.5px;bottom:43865.8px;color:black;
}
#P40_42
{
left:27652.5px;bottom:43865.8px;color:black;
}
#P40_43
{
left:29958.4px;bottom:43865.8px;color:black;
}
#P40_44
{
left:32262.4px;bottom:43865.8px;color:black;
}
#P40_45
{
left:4609.54px;bottom:43097.8px;color:black;
}
#P40_46
{
left:4609.54px;bottom:42322.1px;color:black;
}
#P40_47
{
left:6913.28px;bottom:42322.1px;color:black;
}
#P40_48
{
left:9217.28px;bottom:42322.1px;color:black;
}
#P40_49
{
left:11521.3px;bottom:42322.1px;color:black;
}
#P40_50
{
left:13827.2px;bottom:42322.1px;color:black;
}
#P40_51
{
left:16131.2px;bottom:42322.1px;color:black;
}
#P40_52
{
left:18435.2px;bottom:42322.1px;color:black;
}
#P40_53
{
left:20739.2px;bottom:42322.1px;color:black;
}
#P40_54
{
left:23044.5px;bottom:42322.1px;color:black;
}
#P40_55
{
left:25348.5px;bottom:42322.1px;color:black;
}
#P40_56
{
left:27652.5px;bottom:42322.1px;color:black;
}
#P40_57
{
left:29958.4px;bottom:42322.1px;color:black;
}
#P40_58
{
left:32262.4px;bottom:42322.1px;color:black;
}
#P40_59
{
left:4609.54px;bottom:41554.1px;color:black;
}
#P40_60
{
left:4609.54px;bottom:40778.4px;color:black;
}
#P40_61
{
left:6913.28px;bottom:40778.4px;color:black;
}
#P40_62
{
left:9217.28px;bottom:40778.4px;color:black;
}
#P40_63
{
left:11521.3px;bottom:40778.4px;color:black;
}
#P40_64
{
left:13827.2px;bottom:40778.4px;color:black;
}
#P40_65
{
left:16131.2px;bottom:40778.4px;color:black;
}
#P40_66
{
left:18435.2px;bottom:40778.4px;color:black;
}
#P40_67
{
left:20739.2px;bottom:40778.4px;color:black;
}
#P40_68
{
left:23044.5px;bottom:40778.4px;color:black;
}
#P40_69
{
left:25348.5px;bottom:40778.4px;color:black;
}
#P40_70
{
left:27652.5px;bottom:40778.4px;color:black;
}
#P40_71
{
left:29958.4px;bottom:40778.4px;color:black;
}
#P40_72
{
left:32262.4px;bottom:40778.4px;color:black;
}
#P40_73
{
left:4609.54px;bottom:40010.4px;color:black;
}
#P40_74
{
left:4609.54px;bottom:39234.7px;color:black;
}
#P40_75
{
left:6913.28px;bottom:39234.7px;color:black;
}
#P40_76
{
left:9217.28px;bottom:39234.7px;color:black;
}
#P40_77
{
left:11521.3px;bottom:39234.7px;color:black;
}
#P40_78
{
left:13827.2px;bottom:39234.7px;color:black;
}
#P40_79
{
left:16131.2px;bottom:39234.7px;color:black;
}
#P40_80
{
left:18435.2px;bottom:39234.7px;color:black;
}
#P40_81
{
left:20739.2px;bottom:39234.7px;color:black;
}
#P40_82
{
left:23044.5px;bottom:39234.7px;color:black;
}
#P40_83
{
left:25348.5px;bottom:39234.7px;color:black;
}
#P40_84
{
left:27652.5px;bottom:39234.7px;color:black;
}
#P40_85
{
left:29958.4px;bottom:39234.7px;color:black;
}
#P40_86
{
left:32262.4px;bottom:39234.7px;color:black;
}
#P40_87
{
left:4609.54px;bottom:38502.9px;color:black;
}
#P40_88
{
left:4609.54px;bottom:37729.5px;color:black;
}
#P40_89
{
left:7312.64px;bottom:37729.5px;color:black;
}
#P40_90
{
left:8693.95px;bottom:37729.5px;color:black;
}
#P40_91
{
left:4609.54px;bottom:36953.8px;color:black;
}
#P40_92
{
left:5469.7px;bottom:36953.8px;color:black;
}
#P40_93
{
left:14510.7px;bottom:36953.8px;color:black;
}
#P40_94
{
left:14710.4px;bottom:36953.8px;color:black;
}
#P40_95
{
left:17045.1px;bottom:36953.8px;color:black;
}
#P40_96
{
left:4609.54px;bottom:36178.1px;color:black;
}
#P40_97
{
left:4609.54px;bottom:35408.2px;color:black;
}
#P40_98
{
left:6936.32px;bottom:35408.2px;color:black;
}
#P40_99
{
left:4609.54px;bottom:34632.5px;color:black;
}
#P40_100
{
left:12390.8px;bottom:34632.5px;color:black;
}
#P40_101
{
left:4609.54px;bottom:33864.5px;color:black;
}
#P40_102
{
left:4609.54px;bottom:33088.8px;color:black;
}
#P40_103
{
left:4609.54px;bottom:32313.1px;color:black;
}
#P40_104
{
left:4609.54px;bottom:31545.1px;color:black;
}
#P40_105
{
left:4609.54px;bottom:30769.5px;color:black;
}
#P40_106
{
left:4609.54px;bottom:30001.5px;color:black;
}
#P40_107
{
left:4609.54px;bottom:29225.8px;color:black;
}
#P40_108
{
left:4609.54px;bottom:28457.8px;color:black;
}
#P40_109
{
left:4609.54px;bottom:27682.1px;color:black;
}
#P40_110
{
left:4609.54px;bottom:26906.4px;color:black;
}
#P40_111
{
left:4609.54px;bottom:26138.4px;color:black;
}
#P40_112
{
left:4609.54px;bottom:25362.7px;color:black;
}
#P40_113
{
left:10934.2px;bottom:25362.7px;color:black;
}
#P40_114
{
left:12321.9px;bottom:25362.7px;color:black;
}
#P40_115
{
left:4609.54px;bottom:24594.7px;color:black;
}
#P40_116
{
left:28174.7px;bottom:24594.7px;color:black;
}
#P40_117
{
left:4609.54px;bottom:23819.1px;color:black;
}
#P40_118
{
left:5761.54px;bottom:23173.8px;color:black;
}
#P40_119
{
left:6053.38px;bottom:23039.9px;color:black;
}
#P40_120
{
left:6913.28px;bottom:23042.1px;color:black;
}
#P40_121
{
left:5761.54px;bottom:22398.1px;color:black;
}
#P40_122
{
left:6053.38px;bottom:22264.2px;color:black;
}
#P40_123
{
left:6913.28px;bottom:22266.4px;color:black;
}
#P40_124
{
left:9974.27px;bottom:22266.4px;color:black;
}
#P40_125
{
left:4609.54px;bottom:21490.7px;color:black;
}
#P40_126
{
left:4609.54px;bottom:20722.7px;color:black;
}
#P40_127
{
left:4609.54px;bottom:19947.1px;color:black;
}
#P40_128
{
left:4609.54px;bottom:19179.1px;color:black;
}
#P40_129
{
left:4609.54px;bottom:18403.4px;color:black;
}
#P40_130
{
left:4609.54px;bottom:17635.4px;color:black;
}
#P40_131
{
left:4609.54px;bottom:16859.7px;color:black;
}
#P40_132
{
left:4609.54px;bottom:16084px;color:black;
}
#P40_133
{
left:4609.54px;bottom:15316px;color:black;
}
#P40_134
{
left:4609.54px;bottom:14540.3px;color:black;
}
#P40_135
{
left:4609.54px;bottom:13772.3px;color:black;
}
#P40_136
{
left:4609.54px;bottom:12996.7px;color:black;
}
#P40_137
{
left:4609.54px;bottom:12221px;color:black;
}
#P40_138
{
left:4609.54px;bottom:11451.1px;color:black;
}
#P40_139
{
left:4609.54px;bottom:10675.4px;color:black;
}
#P40_140
{
left:4609.54px;bottom:9907.38px;color:black;
}
#P40_141
{
left:4609.54px;bottom:9131.7px;color:black;
}
#P40_142
{
left:27806.1px;bottom:18126.9px;color:black;
}
#P40_143
{
left:30131.5px;bottom:18126.9px;color:black;
}
#P40_144
{
left:27329.9px;bottom:17351.2px;color:black;
}
#P40_145
{
left:27291.5px;bottom:16575.5px;color:black;
}
#P40_146
{
left:29196.2px;bottom:15807.5px;color:black;
}
#P40_147
{
left:27276.2px;bottom:15119.1px;color:black;
}
#P40_148
{
left:27982.7px;bottom:12374.6px;color:black;
}
#P40_149
{
left:29693.6px;bottom:12374.6px;color:black;
}
#P40_150
{
left:30522.3px;bottom:12374.6px;color:black;
}
#P40_151
{
left:27399px;bottom:11598.9px;color:black;
}
#P40_152
{
left:33399px;bottom:11598.9px;letter-spacing:-0.1px;color:black;
}
#P40_153
{
left:27061.1px;bottom:10829px;color:black;
}
#P40_154
{
left:26992px;bottom:10140.6px;color:black;
}
#P40_155
{
left:4763.14px;bottom:15170.1px;color:black;
}
#P40_156
{
left:6297.45px;bottom:15170.1px;color:black;
}
#P40_157
{
left:9455.36px;bottom:15170.1px;color:black;
}
#P40_158
{
left:9662.72px;bottom:15170.1px;color:black;
}
#P40_159
{
left:4832.26px;bottom:14394.4px;color:black;
}
#P40_160
{
left:4108.8px;bottom:13618.7px;color:black;
}
#P40_161
{
left:4694.02px;bottom:12858.4px;color:black;
}
#P40_162
{
left:7410.18px;bottom:12858.4px;color:black;
}
#P40_163
{
left:7942.4px;bottom:31122.7px;color:black;
}
#P40_164
{
left:6375.94px;bottom:30347.1px;color:black;
}
#P40_165
{
left:5815.3px;bottom:29571.4px;color:black;
}
#P40_166
{
left:8172.8px;bottom:29571.4px;color:black;
}
#P40_167
{
left:10807px;bottom:29571.4px;color:black;
}
#P40_168
{
left:6598.4px;bottom:28803.4px;color:black;
}
#P40_169
{
left:8963.84px;bottom:28027.7px;color:black;
}
#P40_170
{
left:17229.4px;bottom:29813.2px;color:black;
}
#P40_171
{
left:27030.4px;bottom:31115.1px;color:black;
}
#P40_172
{
left:25072px;bottom:30339.4px;color:black;
}
#P40_173
{
left:25801.6px;bottom:29571.4px;color:black;
}
#P40_174
{
left:28981.1px;bottom:29571.4px;color:black;
}
#P40_175
{
left:26131.8px;bottom:28795.7px;color:black;
}
#P40_176
{
left:28451.2px;bottom:28020px;color:black;
}
#P40_177
{
left:4617.22px;bottom:45616.8px;color:black;
}
#P40_178
{
left:4617.22px;bottom:44042.4px;color:black;
}
#P40_179
{
left:4617.22px;bottom:42745.6px;color:black;
}
#P40_180
{
left:4617.22px;bottom:41132.8px;color:black;
}
#PageContainer40
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg040.jpeg");background-repeat:no-repeat;background-size: 975px 1081px;background-position: 26.52px 228.93px;
}
#A40_1
{
left:778.6px;bottom:970.7px;width:140.5px;height:16.8px;
}
#A40_2
{
left:778.6px;bottom:953.9px;width:140.5px;height:16.8px;
}
#A40_3
{
left:778.6px;bottom:937.1px;width:140.5px;height:16.8px;
}
#A40_4
{
left:778.6px;bottom:920.3px;width:71.5px;height:16.8px;
}
#ImageContainer40 {bottom:155.07px;left:26.52px;width:974.75px;height:1081.16px;position:absolute;} #TextContainer40 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
