.tr13{ color:transparent;}
#P13_1
{
left:28343.7px;bottom:46778.8px;color:rgb(0,51,153);
}
#P13_2
{
left:28343.7px;bottom:46164.4px;color:rgb(0,51,153);
}
#P13_3
{
left:28343.7px;bottom:45542.4px;color:rgb(0,51,153);
}
#P13_4
{
left:28343.7px;bottom:44928px;color:rgb(0,51,153);
}
#P13_5
{
left:28689.3px;bottom:44928px;color:rgb(0,51,153);
}
#P13_6
{
left:30688px;bottom:44928px;color:black;
}
#P13_7
{
left:4609.54px;bottom:48121.8px;color:black;
}
#P13_8
{
left:8725.76px;bottom:48121.8px;color:black;
}
#P13_9
{
left:12938.6px;bottom:48121.8px;color:black;
}
#P13_10
{
left:4609.54px;bottom:47344.8px;color:black;
}
#P13_11
{
left:6260.74px;bottom:47344.8px;color:black;
}
#P13_12
{
left:4609.54px;bottom:46576.8px;color:black;
}
#P13_13
{
left:6780.67px;bottom:46576.8px;color:black;
}
#P13_14
{
left:10472.1px;bottom:46576.8px;color:black;
}
#P13_15
{
left:17682.6px;bottom:46576.8px;color:black;
}
#P13_16
{
left:5761.54px;bottom:45932.8px;color:black;
}
#P13_17
{
left:6053.38px;bottom:45798.9px;color:black;
}
#P13_18
{
left:6913.28px;bottom:45801.1px;color:black;
}
#P13_19
{
left:5761.54px;bottom:45157.1px;color:black;
}
#P13_20
{
left:6053.38px;bottom:45023.3px;color:black;
}
#P13_21
{
left:6913.28px;bottom:45025.5px;color:black;
}
#P13_22
{
left:10359.9px;bottom:45025.5px;color:black;
}
#P13_23
{
left:5761.54px;bottom:44381.4px;color:black;
}
#P13_24
{
left:6053.38px;bottom:44247.6px;color:black;
}
#P13_25
{
left:6913.28px;bottom:44249.8px;color:black;
}
#P13_26
{
left:16228.2px;bottom:44249.8px;color:black;
}
#P13_27
{
left:4609.54px;bottom:43474.1px;color:black;
}
#P13_28
{
left:4609.54px;bottom:42706.1px;color:black;
}
#P13_29
{
left:4609.54px;bottom:41930.4px;color:black;
}
#P13_30
{
left:4609.54px;bottom:41162.4px;color:black;
}
#P13_31
{
left:4609.54px;bottom:40386.7px;color:black;
}
#P13_32
{
left:4609.54px;bottom:39698.3px;color:black;
}
#P13_33
{
left:4609.54px;bottom:38968.7px;color:black;
}
#P13_34
{
left:4609.54px;bottom:38231.5px;color:black;
}
#P13_35
{
left:4609.54px;bottom:37494.2px;color:black;
}
#P13_36
{
left:4609.54px;bottom:36756.9px;color:black;
}
#P13_37
{
left:4609.54px;bottom:36019.6px;color:black;
}
#P13_38
{
left:4609.54px;bottom:35280.4px;color:black;
}
#P13_39
{
left:4609.54px;bottom:34463.5px;color:black;
}
#P13_40
{
left:4609.54px;bottom:33843.8px;color:black;
}
#P13_41
{
left:4609.54px;bottom:33073.5px;color:black;
}
#P13_42
{
left:8303.36px;bottom:33073.5px;color:black;
}
#P13_43
{
left:8503.04px;bottom:33073.5px;color:black;
}
#P13_44
{
left:9055.04px;bottom:33073.5px;color:black;
}
#P13_45
{
left:12496.6px;bottom:33073.5px;letter-spacing:-1.1px;color:black;
}
#P13_46
{
left:12890.2px;bottom:33073.5px;color:black;
}
#P13_47
{
left:4609.54px;bottom:32453.7px;color:black;
}
#P13_48
{
left:4609.54px;bottom:31675.7px;color:black;
}
#P13_49
{
left:7266.56px;bottom:31675.7px;color:black;
}
#P13_50
{
left:5761.54px;bottom:30907.7px;letter-spacing:3.3px;color:black;
}
#P13_51
{
left:6291.46px;bottom:30905.5px;color:black;
}
#P13_52
{
left:6913.28px;bottom:30907.7px;color:black;
}
#P13_53
{
left:20923.5px;bottom:30907.7px;letter-spacing:-2.4px;color:black;
}
#P13_54
{
left:21815.7px;bottom:30907.7px;color:black;
}
#P13_55
{
left:22558.9px;bottom:30907.7px;color:black;
}
#P13_56
{
left:6913.28px;bottom:30132px;color:black;
}
#P13_57
{
left:12226.2px;bottom:30132px;color:black;
}
#P13_58
{
left:12977.7px;bottom:30132px;color:black;
}
#P13_59
{
left:25706.8px;bottom:30132px;color:black;
}
#P13_60
{
left:6913.28px;bottom:29364px;color:black;
}
#P13_61
{
left:9401.6px;bottom:29364px;color:black;
}
#P13_62
{
left:10436.8px;bottom:29364px;color:black;
}
#P13_63
{
left:5761.54px;bottom:28588.3px;letter-spacing:0.8px;color:black;
}
#P13_64
{
left:6306.82px;bottom:28586.1px;color:black;
}
#P13_65
{
left:6913.28px;bottom:28588.3px;color:black;
}
#P13_66
{
left:27967.4px;bottom:28588.3px;color:black;
}
#P13_67
{
left:6913.28px;bottom:27820.3px;letter-spacing:3.3px;color:black;
}
#P13_68
{
left:7535.36px;bottom:27820.3px;color:black;
}
#P13_69
{
left:7735.04px;bottom:27820.3px;color:black;
}
#P13_70
{
left:5761.54px;bottom:27044.7px;letter-spacing:-2px;color:black;
}
#P13_71
{
left:6253.06px;bottom:27042.5px;color:black;
}
#P13_72
{
left:6913.28px;bottom:27044.7px;color:black;
}
#P13_73
{
left:12354.6px;bottom:27044.7px;color:black;
}
#P13_74
{
left:13113px;bottom:27044.7px;color:black;
}
#P13_75
{
left:14493.6px;bottom:27044.7px;color:black;
}
#P13_76
{
left:21431.7px;bottom:27044.7px;color:black;
}
#P13_77
{
left:6913.28px;bottom:26269px;color:black;
}
#P13_78
{
left:9163.52px;bottom:26269px;color:black;
}
#P13_79
{
left:9707.26px;bottom:26269px;color:black;
}
#P13_80
{
left:11878.4px;bottom:26269px;color:black;
}
#P13_81
{
left:14087.1px;bottom:26269px;color:black;
}
#P13_82
{
left:18227.8px;bottom:26269px;color:black;
}
#P13_83
{
left:19263px;bottom:26269px;color:black;
}
#P13_84
{
left:25425.3px;bottom:26269px;color:black;
}
#P13_85
{
left:4609.54px;bottom:25656.9px;color:black;
}
#P13_86
{
left:4609.54px;bottom:24878.9px;color:black;
}
#P13_87
{
left:4609.54px;bottom:24110.9px;color:black;
}
#P13_88
{
left:10691.8px;bottom:24110.9px;color:black;
}
#P13_89
{
left:13159px;bottom:24110.9px;color:black;
}
#P13_90
{
left:4609.54px;bottom:23333.9px;color:black;
}
#P13_91
{
left:4609.54px;bottom:22565.9px;color:black;
}
#P13_92
{
left:4609.54px;bottom:21790.3px;color:black;
}
#P13_93
{
left:4609.54px;bottom:21014.6px;color:black;
}
#P13_94
{
left:4609.54px;bottom:20246.6px;color:black;
}
#P13_95
{
left:4609.54px;bottom:19470.9px;color:black;
}
#P13_96
{
left:12542.7px;bottom:34719.3px;color:rgb(167,167,167);
}
#P13_97
{
left:13865.6px;bottom:34719.3px;color:rgb(167,167,167);
}
#P13_98
{
left:20723.8px;bottom:34719.3px;color:rgb(167,167,167);
}
#P13_99
{
left:21669.8px;bottom:34719.3px;color:rgb(167,167,167);
}
#P13_100
{
left:23520.6px;bottom:34719.3px;color:rgb(167,167,167);
}
#P13_101
{
left:28011.2px;bottom:34719.3px;color:rgb(167,167,167);
}
#P13_102
{
left:33491.2px;bottom:34028.6px;color:black;
}
#P13_103
{
left:4609.54px;bottom:19988.3px;color:black;
}
#P13_104
{
left:30426.9px;bottom:18413.9px;color:black;
}
#P13_105
{
left:4632.58px;bottom:10421.9px;color:black;
}
#P13_106
{
left:4670.98px;bottom:5875.64px;color:black;
}
#P13_107
{
left:4670.98px;bottom:5107.64px;color:black;
}
#P13_108
{
left:4670.98px;bottom:4548.1px;color:black;
}
#P13_109
{
left:4647.94px;bottom:8732.34px;color:black;
}
#P13_110
{
left:7143.68px;bottom:8732.34px;color:black;
}
#P13_111
{
left:4647.94px;bottom:7956.66px;color:black;
}
#P13_112
{
left:7028.48px;bottom:7956.66px;color:black;
}
#P13_113
{
left:9224.96px;bottom:7982.04px;color:black;
}
#P13_114
{
left:4632.58px;bottom:11660.3px;color:black;
}
#P13_115
{
left:10338.6px;bottom:11660.3px;color:black;
}
#P13_116
{
left:14551.4px;bottom:11660.3px;color:black;
}
#P13_117
{
left:27222.4px;bottom:10514.1px;letter-spacing:-2.4px;color:black;
}
#P13_118
{
left:27913.6px;bottom:10514.1px;color:black;
}
#P13_119
{
left:28466.6px;bottom:10514.1px;color:black;
}
#P13_120
{
left:27222.4px;bottom:9825.7px;color:black;
}
#P13_121
{
left:10761px;bottom:10483.4px;color:black;
}
#P13_122
{
left:11306.2px;bottom:10483.4px;color:black;
}
#P13_123
{
left:10761px;bottom:9794.98px;color:black;
}
#P13_124
{
left:10469.1px;bottom:4863.13px;color:rgb(86,86,86);
}
#P13_125
{
left:10469.1px;bottom:4310.02px;color:black;
}
#P13_126
{
left:11751.7px;bottom:7621.08px;color:rgb(128,128,128);
}
#P13_127
{
left:10983.7px;bottom:6930.34px;color:black;
}
#P13_128
{
left:13189.8px;bottom:4840.09px;color:rgb(86,86,86);
}
#P13_129
{
left:13189.8px;bottom:4279.3px;color:black;
}
#P13_130
{
left:15946.9px;bottom:4840.09px;color:rgb(86,86,86);
}
#P13_131
{
left:15946.9px;bottom:4279.3px;color:black;
}
#P13_132
{
left:10730.2px;bottom:8622.15px;color:rgb(191,191,191);
}
#P13_133
{
left:14357.1px;bottom:8614.47px;color:rgb(191,191,191);
}
#P13_134
{
left:19011.2px;bottom:10483.4px;color:black;
}
#P13_135
{
left:19902.1px;bottom:10483.4px;color:black;
}
#P13_136
{
left:22814.1px;bottom:10483.4px;color:black;
}
#P13_137
{
left:19011.2px;bottom:9794.98px;color:black;
}
#P13_138
{
left:18688.6px;bottom:4855.45px;color:rgb(86,86,86);
}
#P13_139
{
left:18688.6px;bottom:4302.34px;color:black;
}
#P13_140
{
left:19971.2px;bottom:7613.4px;color:rgb(128,128,128);
}
#P13_141
{
left:19203.2px;bottom:6922.66px;color:black;
}
#P13_142
{
left:21408.6px;bottom:4832.41px;color:rgb(86,86,86);
}
#P13_143
{
left:21408.6px;bottom:4271.62px;color:black;
}
#P13_144
{
left:24173.4px;bottom:4832.41px;color:rgb(86,86,86);
}
#P13_145
{
left:24173.4px;bottom:4271.62px;color:black;
}
#P13_146
{
left:18957.4px;bottom:8614.47px;color:rgb(191,191,191);
}
#P13_147
{
left:22576px;bottom:8606.79px;color:rgb(191,191,191);
}
#P13_148
{
left:27184px;bottom:4855.45px;color:rgb(86,86,86);
}
#P13_149
{
left:27184px;bottom:4294.66px;color:black;
}
#P13_150
{
left:28466.6px;bottom:7605.72px;color:rgb(128,128,128);
}
#P13_151
{
left:27698.6px;bottom:6922.66px;color:black;
}
#P13_152
{
left:29904.6px;bottom:4824.73px;color:rgb(86,86,86);
}
#P13_153
{
left:29904.6px;bottom:4271.62px;color:black;
}
#P13_154
{
left:32669.4px;bottom:4824.73px;color:rgb(86,86,86);
}
#P13_155
{
left:32669.4px;bottom:4271.62px;color:black;
}
#P13_156
{
left:27445.1px;bottom:8606.79px;color:rgb(191,191,191);
}
#P13_157
{
left:31072px;bottom:8599.11px;color:rgb(191,191,191);
}
#P13_158
{
left:14625.9px;bottom:14051.6px;color:black;
}
#P13_159
{
left:17344.6px;bottom:20687.1px;color:black;
}
#P13_160
{
left:18304.6px;bottom:16808.7px;color:black;
}
#PageContainer13
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg013.jpeg");background-repeat:no-repeat;background-size: 975px 1211px;background-position: 26.52px 107.62px;
}
#A13_1
{
left:766.1px;bottom:1271.0px;width:140.5px;height:16.8px;
}
#A13_2
{
left:766.1px;bottom:1254.2px;width:140.5px;height:16.8px;
}
#A13_3
{
left:766.1px;bottom:1237.4px;width:140.5px;height:16.8px;
}
#A13_4
{
left:766.1px;bottom:1220.6px;width:71.5px;height:16.8px;
}
#ImageContainer13 {bottom:146.38px;left:26.52px;width:974.75px;height:1210.91px;position:absolute;} #TextContainer13 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
