.tr28{ color:transparent;}
#P28_1
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P28_2
{
left:8057.6px;bottom:48505.8px;color:black;
}
#P28_3
{
left:23680px;bottom:48505.8px;color:black;
}
#P28_4
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P28_5
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P28_6
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P28_7
{
left:4609.54px;bottom:45417.1px;color:black;
}
#P28_8
{
left:4609.54px;bottom:44641.5px;color:black;
}
#P28_9
{
left:4609.54px;bottom:43865.8px;color:black;
}
#P28_10
{
left:4609.54px;bottom:43097.8px;color:black;
}
#P28_11
{
left:4609.54px;bottom:42322.1px;color:black;
}
#P28_12
{
left:4609.54px;bottom:41554.1px;color:black;
}
#P28_13
{
left:4609.54px;bottom:40778.4px;color:black;
}
#P28_14
{
left:4609.54px;bottom:40010.4px;color:black;
}
#P28_15
{
left:4609.54px;bottom:39234.7px;color:black;
}
#P28_16
{
left:4609.54px;bottom:38459.1px;color:black;
}
#P28_17
{
left:4609.54px;bottom:37691.1px;color:black;
}
#P28_18
{
left:4609.54px;bottom:36915.4px;color:black;
}
#P28_19
{
left:4609.54px;bottom:36147.4px;color:black;
}
#P28_20
{
left:17889.9px;bottom:36147.4px;color:black;
}
#P28_21
{
left:23313.3px;bottom:36147.4px;color:black;
}
#P28_22
{
left:4609.54px;bottom:35369.8px;color:black;
}
#P28_23
{
left:4609.54px;bottom:34594.1px;color:black;
}
#P28_24
{
left:4609.54px;bottom:33826.1px;color:black;
}
#P28_25
{
left:4609.54px;bottom:33050.4px;color:black;
}
#P28_26
{
left:4609.54px;bottom:32282.4px;color:black;
}
#P28_27
{
left:4609.54px;bottom:31506.7px;color:black;
}
#P28_28
{
left:4609.54px;bottom:30738.7px;color:black;
}
#P28_29
{
left:4609.54px;bottom:29963.1px;color:black;
}
#P28_30
{
left:4609.54px;bottom:29187.4px;color:black;
}
#P28_31
{
left:4609.54px;bottom:28419.4px;color:black;
}
#P28_32
{
left:4609.54px;bottom:27643.7px;color:black;
}
#P28_33
{
left:4609.54px;bottom:26875.7px;color:black;
}
#P28_34
{
left:4609.54px;bottom:26100px;color:black;
}
#P28_35
{
left:4609.54px;bottom:25324.3px;color:black;
}
#P28_36
{
left:4609.54px;bottom:24556.3px;color:black;
}
#P28_37
{
left:4609.54px;bottom:23780.7px;color:black;
}
#P28_38
{
left:4609.54px;bottom:23011.4px;color:black;
}
#P28_39
{
left:4609.54px;bottom:22235.7px;color:black;
}
#P28_40
{
left:4609.54px;bottom:21460px;color:black;
}
#P28_41
{
left:4609.54px;bottom:20692px;color:black;
}
#P28_42
{
left:4609.54px;bottom:19916.3px;color:black;
}
#P28_43
{
left:17813.1px;bottom:19916.3px;color:black;
}
#P28_44
{
left:4609.54px;bottom:19148.3px;color:black;
}
#P28_45
{
left:4609.54px;bottom:18372.7px;color:black;
}
#P28_46
{
left:4609.54px;bottom:17604.7px;color:black;
}
#P28_47
{
left:4609.54px;bottom:16829px;color:black;
}
#P28_48
{
left:4609.54px;bottom:16053.3px;color:black;
}
#P28_49
{
left:4609.54px;bottom:15285.3px;color:black;
}
#P28_50
{
left:4609.54px;bottom:14509.6px;color:black;
}
#P28_51
{
left:4609.54px;bottom:13741.6px;color:black;
}
#P28_52
{
left:4609.54px;bottom:12965.9px;color:black;
}
#P28_53
{
left:8480px;bottom:33560.1px;color:black;
}
#P28_54
{
left:4571.14px;bottom:34778.4px;color:black;
}
#P28_55
{
left:6375.94px;bottom:34804.3px;color:black;
}
#P28_56
{
left:8487.68px;bottom:34778.4px;color:black;
}
#P28_57
{
left:15378.6px;bottom:34778.4px;color:black;
}
#P28_58
{
left:16722.6px;bottom:34778.4px;color:black;
}
#P28_59
{
left:22698.9px;bottom:34778.4px;color:black;
}
#P28_60
{
left:30496px;bottom:34804.3px;color:black;
}
#P28_61
{
left:4532.74px;bottom:10232.3px;color:black;
}
#P28_62
{
left:4532.74px;bottom:9617.88px;color:black;
}
#P28_63
{
left:4532.74px;bottom:9003.48px;color:black;
}
#P28_64
{
left:4532.74px;bottom:8381.4px;color:black;
}
#P28_65
{
left:4532.74px;bottom:7767px;color:black;
}
#P28_66
{
left:6360.58px;bottom:7873.28px;color:black;
}
#P28_67
{
left:17897.6px;bottom:4411.1px;color:black;
}
#P28_68
{
left:27667.8px;bottom:4517.38px;color:black;
}
#P28_69
{
left:30703.4px;bottom:4484.14px;color:rgb(128,128,128);
}
#P28_70
{
left:32792.3px;bottom:4484.14px;color:rgb(128,128,128);
}
#P28_71
{
left:28497.3px;bottom:4476.46px;color:rgb(128,128,128);
}
#P28_72
{
left:4586.5px;bottom:4368.94px;color:black;
}
#P28_73
{
left:5270.02px;bottom:4448.26px;color:black;
}
#P28_74
{
left:5677.06px;bottom:4353.58px;color:black;
}
#P28_75
{
left:6383.62px;bottom:4432.9px;color:black;
}
#P28_76
{
left:6775.04px;bottom:4384.3px;color:black;
}
#P28_77
{
left:7550.72px;bottom:4463.62px;color:black;
}
#P28_78
{
left:4540.42px;bottom:6153.37px;color:rgb(128,128,128);
}
#P28_79
{
left:6867.2px;bottom:6245.38px;color:rgb(128,128,128);
}
#P28_80
{
left:4532.74px;bottom:20471.6px;color:black;
}
#P28_81
{
left:4532.74px;bottom:19857.2px;color:black;
}
#P28_82
{
left:4532.74px;bottom:19235.2px;color:black;
}
#P28_83
{
left:4532.74px;bottom:18620.8px;color:black;
}
#P28_84
{
left:7435.52px;bottom:18727px;color:black;
}
#P28_85
{
left:17897.6px;bottom:14657.9px;color:black;
}
#P28_86
{
left:27667.8px;bottom:14764.2px;color:black;
}
#P28_87
{
left:30703.4px;bottom:14723.2px;color:rgb(128,128,128);
}
#P28_88
{
left:32792.3px;bottom:14723.2px;color:rgb(128,128,128);
}
#P28_89
{
left:28497.3px;bottom:14715.6px;color:rgb(128,128,128);
}
#P28_90
{
left:4586.5px;bottom:14608px;color:black;
}
#P28_91
{
left:5270.02px;bottom:14687.4px;color:black;
}
#P28_92
{
left:5677.06px;bottom:14592.7px;color:black;
}
#P28_93
{
left:6383.62px;bottom:14672px;color:black;
}
#P28_94
{
left:6775.04px;bottom:14608px;color:black;
}
#P28_95
{
left:7550.72px;bottom:14687.4px;color:black;
}
#P28_96
{
left:4540.42px;bottom:16384.8px;color:rgb(128,128,128);
}
#P28_97
{
left:6867.2px;bottom:16476.8px;color:rgb(128,128,128);
}
#P28_98
{
left:4525.06px;bottom:30687.3px;color:black;
}
#P28_99
{
left:4525.06px;bottom:30072.9px;color:black;
}
#P28_100
{
left:4525.06px;bottom:29450.8px;color:black;
}
#P28_101
{
left:4525.06px;bottom:28836.4px;color:black;
}
#P28_102
{
left:6068.74px;bottom:28942.7px;color:black;
}
#P28_103
{
left:17889.9px;bottom:24873.6px;color:black;
}
#P28_104
{
left:27660.2px;bottom:24979.8px;color:black;
}
#P28_105
{
left:30695.7px;bottom:24938.9px;color:rgb(128,128,128);
}
#P28_106
{
left:32777px;bottom:24938.9px;color:rgb(128,128,128);
}
#P28_107
{
left:28489.6px;bottom:24931.2px;color:rgb(128,128,128);
}
#P28_108
{
left:4578.82px;bottom:24823.7px;color:black;
}
#P28_109
{
left:5262.34px;bottom:24903px;color:black;
}
#P28_110
{
left:5669.38px;bottom:24808.4px;color:black;
}
#P28_111
{
left:6375.94px;bottom:24887.7px;color:black;
}
#P28_112
{
left:6759.68px;bottom:24823.7px;color:black;
}
#P28_113
{
left:7535.36px;bottom:24903px;color:black;
}
#P28_114
{
left:4532.74px;bottom:26600.5px;color:rgb(128,128,128);
}
#P28_115
{
left:6859.52px;bottom:26692.5px;color:rgb(128,128,128);
}
#P28_116
{
left:8480px;bottom:23275.3px;color:black;
}
#P28_117
{
left:8480px;bottom:13053.2px;color:black;
}
#P28_118
{
left:18957.4px;bottom:44005.1px;color:black;
}
#P28_119
{
left:18972.8px;bottom:42215.7px;color:black;
}
#P28_120
{
left:18957.4px;bottom:40971.5px;color:black;
}
#P28_121
{
left:4624.9px;bottom:47339.5px;color:black;
}
#P28_122
{
left:8341.76px;bottom:47339.5px;color:black;
}
#P28_123
{
left:16361.6px;bottom:47339.5px;color:black;
}
#P28_124
{
left:20094.1px;bottom:47445.8px;color:black;
}
#P28_125
{
left:29326.7px;bottom:47370.2px;color:black;
}
#P28_126
{
left:30281px;bottom:47476.5px;color:black;
}
#P28_127
{
left:31793.9px;bottom:47339.5px;color:black;
}
#P28_128
{
left:33475.8px;bottom:47445.8px;color:black;
}
#P28_129
{
left:29326.7px;bottom:46356.4px;color:black;
}
#P28_130
{
left:29326.7px;bottom:45673.4px;color:black;
}
#P28_131
{
left:29326.7px;bottom:45219.8px;color:black;
}
#P28_132
{
left:29326.7px;bottom:44529.1px;color:black;
}
#P28_133
{
left:29326.7px;bottom:44075.5px;color:black;
}
#P28_134
{
left:29326.7px;bottom:43384.7px;color:black;
}
#P28_135
{
left:7074.56px;bottom:37390.1px;color:rgb(128,128,128);
}
#P28_136
{
left:8464.64px;bottom:37469.4px;color:rgb(128,128,128);
}
#P28_137
{
left:18803.8px;bottom:37390.1px;letter-spacing:-2.7px;color:rgb(128,128,128);
}
#P28_138
{
left:19387.5px;bottom:37469.4px;color:rgb(128,128,128);
}
#P28_139
{
left:13466.2px;bottom:37390.1px;color:rgb(128,128,128);
}
#P28_140
{
left:14794.1px;bottom:37390.1px;color:rgb(128,128,128);
}
#P28_141
{
left:15493.8px;bottom:37469.4px;color:rgb(128,128,128);
}
#P28_142
{
left:29927.7px;bottom:37390.1px;color:rgb(128,128,128);
}
#P28_143
{
left:31317.8px;bottom:37469.4px;color:rgb(128,128,128);
}
#P28_144
{
left:22683.5px;bottom:37390.1px;color:rgb(128,128,128);
}
#P28_145
{
left:24011.4px;bottom:37390.1px;color:rgb(128,128,128);
}
#P28_146
{
left:24711px;bottom:37469.4px;color:rgb(128,128,128);
}
#PageContainer28
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg028.jpeg");background-repeat:no-repeat;background-size: 975px 1203px;background-position: 26.52px 154.62px;
}
#ImageContainer28 {bottom:107.38px;left:26.52px;width:974.75px;height:1203.35px;position:absolute;} #TextContainer28 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
