.tr43{ color:transparent;}
#P43_1
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P43_2
{
left:7564.16px;bottom:48505.8px;color:black;
}
#P43_3
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P43_4
{
left:10825.2px;bottom:47730.1px;color:black;
}
#P43_5
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P43_6
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P43_7
{
left:4609.54px;bottom:45417.1px;color:black;
}
#P43_8
{
left:4609.54px;bottom:44641.5px;color:black;
}
#P43_9
{
left:4609.54px;bottom:43865.8px;color:black;
}
#P43_10
{
left:4609.54px;bottom:43097.8px;color:black;
}
#P43_11
{
left:4609.54px;bottom:42322.1px;color:black;
}
#P43_12
{
left:4609.54px;bottom:41554.1px;color:black;
}
#P43_13
{
left:4609.54px;bottom:40778.4px;color:black;
}
#P43_14
{
left:4609.54px;bottom:40010.4px;color:black;
}
#P43_15
{
left:4609.54px;bottom:39234.7px;color:black;
}
#P43_16
{
left:4609.54px;bottom:38459.1px;color:black;
}
#P43_17
{
left:4609.54px;bottom:37691.1px;color:black;
}
#P43_18
{
left:4609.54px;bottom:36915.4px;color:black;
}
#P43_19
{
left:4609.54px;bottom:36147.4px;color:black;
}
#P43_20
{
left:4609.54px;bottom:35369.8px;color:black;
}
#P43_21
{
left:4609.54px;bottom:34594.1px;color:black;
}
#P43_22
{
left:4609.54px;bottom:33826.1px;color:black;
}
#P43_23
{
left:4609.54px;bottom:33050.4px;color:black;
}
#P43_24
{
left:4609.54px;bottom:32282.4px;color:black;
}
#P43_25
{
left:4609.54px;bottom:31506.7px;color:black;
}
#P43_26
{
left:4609.54px;bottom:30738.7px;color:black;
}
#P43_27
{
left:4609.54px;bottom:29963.1px;color:black;
}
#P43_28
{
left:4609.54px;bottom:29187.4px;color:black;
}
#P43_29
{
left:4609.54px;bottom:28419.4px;color:black;
}
#P43_30
{
left:4609.54px;bottom:27643.7px;color:black;
}
#P43_31
{
left:4609.54px;bottom:26875.7px;color:black;
}
#P43_32
{
left:4609.54px;bottom:26100px;color:black;
}
#P43_33
{
left:4609.54px;bottom:25324.3px;color:black;
}
#P43_34
{
left:4609.54px;bottom:24556.3px;color:black;
}
#P43_35
{
left:4609.54px;bottom:23780.7px;color:black;
}
#P43_36
{
left:4609.54px;bottom:23474.7px;color:black;
}
#P43_37
{
left:4609.54px;bottom:22696.5px;color:black;
}
#P43_38
{
left:4609.54px;bottom:21928.5px;color:black;
}
#P43_39
{
left:4609.54px;bottom:21152.8px;color:black;
}
#P43_40
{
left:4609.54px;bottom:20384.8px;color:black;
}
#P43_41
{
left:4609.54px;bottom:19609.1px;color:black;
}
#P43_42
{
left:4609.54px;bottom:18833.5px;color:black;
}
#P43_43
{
left:4609.54px;bottom:17915.6px;color:black;
}
#P43_44
{
left:4609.54px;bottom:16986.3px;color:black;
}
#P43_45
{
left:4609.54px;bottom:16064.7px;color:black;
}
#P43_46
{
left:4609.54px;bottom:15135.5px;color:black;
}
#P43_47
{
left:4609.54px;bottom:14206.2px;color:black;
}
#P43_48
{
left:4609.54px;bottom:13276.9px;color:black;
}
#P43_49
{
left:4609.54px;bottom:12355.3px;color:black;
}
#P43_50
{
left:4609.54px;bottom:11424.1px;color:black;
}
#P43_51
{
left:4609.54px;bottom:10494.8px;color:black;
}
#P43_52
{
left:4609.54px;bottom:10186.4px;color:black;
}
#P43_53
{
left:4609.54px;bottom:9871.49px;color:black;
}
#P43_54
{
left:4609.54px;bottom:9564.29px;color:black;
}
#P43_55
{
left:4609.54px;bottom:9257.09px;color:black;
}
#P43_56
{
left:18719.4px;bottom:15938.1px;color:black;
}
#P43_57
{
left:28743px;bottom:15938.1px;color:black;
}
#P43_58
{
left:18719.4px;bottom:13058.1px;color:black;
}
#P43_59
{
left:28743px;bottom:13058.1px;color:black;
}
#P43_60
{
left:18673.3px;bottom:10222.3px;color:black;
}
#P43_61
{
left:28697px;bottom:10222.3px;color:black;
}
#P43_62
{
left:18673.3px;bottom:7534.26px;color:black;
}
#P43_63
{
left:28697px;bottom:7534.26px;color:black;
}
#P43_64
{
left:18673.3px;bottom:4654.52px;color:black;
}
#P43_65
{
left:28697px;bottom:4654.52px;color:black;
}
#P43_66
{
left:4901.38px;bottom:17704.5px;color:black;
}
#P43_67
{
left:10123.5px;bottom:17704.5px;color:black;
}
#P43_68
{
left:17360px;bottom:17742.9px;color:black;
}
#P43_69
{
left:18934.4px;bottom:17183.4px;color:black;
}
#P43_70
{
left:5031.94px;bottom:13365.3px;color:black;
}
#P43_71
{
left:6742.85px;bottom:13365.3px;color:black;
}
#P43_72
{
left:7571.52px;bottom:13365.3px;color:black;
}
#P43_73
{
left:5031.94px;bottom:12605px;color:black;
}
#P43_74
{
left:5039.62px;bottom:10560.2px;color:black;
}
#P43_75
{
left:6573.95px;bottom:10560.2px;color:black;
}
#P43_76
{
left:5039.62px;bottom:9799.86px;color:black;
}
#P43_77
{
left:11271.9px;bottom:9799.86px;color:black;
}
#P43_78
{
left:5093.38px;bottom:7557.3px;color:black;
}
#P43_79
{
left:6897.92px;bottom:7557.3px;color:black;
}
#P43_80
{
left:5093.38px;bottom:6789.3px;color:black;
}
#P43_81
{
left:27783px;bottom:17750.6px;color:black;
}
#P43_82
{
left:29820.2px;bottom:17763.3px;color:black;
}
#P43_83
{
left:4970.5px;bottom:16260.7px;color:black;
}
#P43_84
{
left:7295.87px;bottom:16260.7px;color:black;
}
#P43_85
{
left:4970.5px;bottom:15485px;color:black;
}
#P43_86
{
left:5047.3px;bottom:4838.84px;color:black;
}
#P43_87
{
left:5047.3px;bottom:4070.84px;color:black;
}
#P43_88
{
left:4993.54px;bottom:26677.1px;color:black;
}
#P43_89
{
left:4970.5px;bottom:24597.5px;color:black;
}
#P43_90
{
left:4947.46px;bottom:22476.6px;color:black;
}
#P43_91
{
left:5047.3px;bottom:30915.4px;color:black;
}
#P43_92
{
left:5016.58px;bottom:37133.2px;color:black;
}
#P43_93
{
left:4993.54px;bottom:35157.5px;color:black;
}
#P43_94
{
left:4970.5px;bottom:32989px;color:black;
}
#P43_95
{
left:5093.38px;bottom:44774.8px;color:black;
}
#P43_96
{
left:5124.1px;bottom:42931.6px;color:black;
}
#P43_97
{
left:5085.7px;bottom:40550.8px;color:black;
}
#P43_98
{
left:9063.68px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_99
{
left:11413.2px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_100
{
left:12656.8px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_101
{
left:14779.5px;bottom:29407.4px;letter-spacing:6.3px;color:rgb(128,128,128);
}
#P43_102
{
left:15171.2px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_103
{
left:15355.5px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_104
{
left:17896.3px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_105
{
left:19424.4px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_106
{
left:21197.9px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_107
{
left:23952.9px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_108
{
left:25019.6px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_109
{
left:27774.7px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_110
{
left:29132.9px;bottom:29407.4px;color:rgb(128,128,128);
}
#P43_111
{
left:31755.5px;bottom:29430.8px;color:rgb(128,128,128);
}
#P43_112
{
left:5016.58px;bottom:46246.6px;color:black;
}
#P43_113
{
left:7855.42px;bottom:46246.6px;color:black;
}
#P43_114
{
left:16868.5px;bottom:46246.6px;color:black;
}
#P43_115
{
left:17390.7px;bottom:46246.6px;color:black;
}
#P43_116
{
left:5039.62px;bottom:38843.1px;color:black;
}
#P43_117
{
left:12699.1px;bottom:38843.1px;color:black;
}
#P43_118
{
left:21239.7px;bottom:38843.1px;color:black;
}
#P43_119
{
left:4932.1px;bottom:27958.6px;color:black;
}
#P43_120
{
left:7258.88px;bottom:27958.6px;color:black;
}
#P43_121
{
left:20512.2px;bottom:27958.6px;color:black;
}
#P43_122
{
left:4932.1px;bottom:27405.8px;color:black;
}
#PageContainer43
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg043.jpeg");background-repeat:no-repeat;background-size: 975px 1192px;background-position: 26.52px 177.45px;
}
#ImageContainer43 {bottom:95.55px;left:26.52px;width:974.75px;height:1192.39px;position:absolute;} #TextContainer43 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
