.tr23{ color:transparent;}
#P23_1
{
left:4609.54px;bottom:48505.8px;color:black;
}
#P23_2
{
left:4609.54px;bottom:47730.1px;color:black;
}
#P23_3
{
left:4609.54px;bottom:46960.8px;color:black;
}
#P23_4
{
left:4609.54px;bottom:46185.1px;color:black;
}
#P23_5
{
left:4609.54px;bottom:45417.1px;color:black;
}
#P23_6
{
left:4609.54px;bottom:44641.5px;color:black;
}
#P23_7
{
left:4609.54px;bottom:43865.8px;color:black;
}
#P23_8
{
left:4609.54px;bottom:43097.8px;color:black;
}
#P23_9
{
left:4609.54px;bottom:42322.1px;color:black;
}
#P23_10
{
left:4609.54px;bottom:41554.1px;color:black;
}
#P23_11
{
left:4609.54px;bottom:40778.4px;color:black;
}
#P23_12
{
left:4609.54px;bottom:40010.4px;color:black;
}
#P23_13
{
left:4609.54px;bottom:39234.7px;color:black;
}
#P23_14
{
left:4609.54px;bottom:38459.1px;color:black;
}
#P23_15
{
left:4609.54px;bottom:37691.1px;color:black;
}
#P23_16
{
left:4609.54px;bottom:36915.4px;color:black;
}
#P23_17
{
left:4609.54px;bottom:36147.4px;color:black;
}
#P23_18
{
left:4609.54px;bottom:35369.8px;color:black;
}
#P23_19
{
left:4609.54px;bottom:34594.1px;color:black;
}
#P23_20
{
left:4609.54px;bottom:33826.1px;color:black;
}
#P23_21
{
left:4609.54px;bottom:33050.4px;color:black;
}
#P23_22
{
left:4609.54px;bottom:32282.4px;color:black;
}
#P23_23
{
left:4609.54px;bottom:31506.7px;color:black;
}
#P23_24
{
left:4609.54px;bottom:30738.7px;color:black;
}
#P23_25
{
left:4609.54px;bottom:29963.1px;color:black;
}
#P23_26
{
left:4609.54px;bottom:29187.4px;color:black;
}
#P23_27
{
left:4609.54px;bottom:28419.4px;color:black;
}
#P23_28
{
left:4609.54px;bottom:27643.7px;color:black;
}
#P23_29
{
left:4609.54px;bottom:26875.7px;color:black;
}
#P23_30
{
left:4609.54px;bottom:26100px;color:black;
}
#P23_31
{
left:4609.54px;bottom:25324.3px;color:black;
}
#P23_32
{
left:4609.54px;bottom:24556.3px;color:black;
}
#P23_33
{
left:4609.54px;bottom:23780.7px;color:black;
}
#P23_34
{
left:4609.54px;bottom:23011.4px;color:black;
}
#P23_35
{
left:4609.54px;bottom:22235.7px;color:black;
}
#P23_36
{
left:4609.54px;bottom:21460px;color:black;
}
#P23_37
{
left:4609.54px;bottom:20692px;color:black;
}
#P23_38
{
left:4609.54px;bottom:20072.3px;color:black;
}
#P23_39
{
left:4609.54px;bottom:19457.9px;color:black;
}
#P23_40
{
left:4609.54px;bottom:18835.8px;color:black;
}
#P23_41
{
left:4609.54px;bottom:18528.8px;color:black;
}
#P23_42
{
left:4609.54px;bottom:17758.3px;color:black;
}
#P23_43
{
left:4609.54px;bottom:17069.9px;color:black;
}
#P23_44
{
left:6913.28px;bottom:16332.6px;color:black;
}
#P23_45
{
left:5262.34px;bottom:29735.5px;color:black;
}
#P23_46
{
left:5262.34px;bottom:27712.8px;color:black;
}
#P23_47
{
left:5162.5px;bottom:26724.9px;color:black;
}
#P23_48
{
left:5262.34px;bottom:24804.9px;color:black;
}
#P23_49
{
left:7420.16px;bottom:32459.1px;color:black;
}
#P23_50
{
left:11452.2px;bottom:32459.1px;color:black;
}
#P23_51
{
left:13450.9px;bottom:32459.1px;color:black;
}
#P23_52
{
left:16750.9px;bottom:32459.1px;color:black;
}
#P23_53
{
left:26451.8px;bottom:32459.1px;color:black;
}
#P23_54
{
left:30757.1px;bottom:32459.1px;color:black;
}
#P23_55
{
left:7420.16px;bottom:31876.5px;color:black;
}
#P23_56
{
left:7681.28px;bottom:31755.5px;color:black;
}
#P23_57
{
left:8572.16px;bottom:31757.5px;color:black;
}
#P23_58
{
left:11474px;bottom:31757.5px;color:black;
}
#P23_59
{
left:14214.7px;bottom:31757.5px;color:black;
}
#P23_60
{
left:18505.9px;bottom:31757.5px;color:black;
}
#P23_61
{
left:19963.7px;bottom:31757.5px;color:black;
}
#P23_62
{
left:20700.4px;bottom:31757.5px;color:black;
}
#P23_63
{
left:21176.8px;bottom:31757.5px;color:black;
}
#P23_64
{
left:22772.9px;bottom:31757.5px;color:black;
}
#P23_65
{
left:24538.3px;bottom:31757.5px;color:black;
}
#P23_66
{
left:27831.9px;bottom:31757.5px;color:black;
}
#P23_67
{
left:8572.16px;bottom:31058.6px;color:black;
}
#P23_68
{
left:10100.9px;bottom:31058.6px;color:black;
}
#P23_69
{
left:11183.2px;bottom:31058.6px;color:black;
}
#P23_70
{
left:13489.3px;bottom:31058.6px;color:black;
}
#P23_71
{
left:14294.5px;bottom:31058.6px;color:black;
}
#P23_72
{
left:16297.3px;bottom:31058.6px;color:black;
}
#P23_73
{
left:16761px;bottom:20640.6px;color:rgb(128,128,128);
}
#P23_74
{
left:19886.7px;bottom:20640.6px;color:rgb(128,128,128);
}
#P23_75
{
left:32172.4px;bottom:20640.6px;color:rgb(128,128,128);
}
#P23_76
{
left:33399px;bottom:20661.5px;color:rgb(128,128,128);
}
#P23_77
{
left:5285.38px;bottom:25757.2px;color:black;
}
#P23_78
{
left:5293.06px;bottom:23652.9px;color:black;
}
#P23_79
{
left:5285.38px;bottom:21662.5px;color:black;
}
#P23_80
{
left:5308.42px;bottom:37371.3px;color:black;
}
#P23_81
{
left:5308.42px;bottom:45504.4px;color:black;
}
#P23_82
{
left:5308.42px;bottom:43721px;color:black;
}
#P23_83
{
left:5308.42px;bottom:41702.8px;color:black;
}
#P23_84
{
left:5308.42px;bottom:39442.1px;color:black;
}
#P23_85
{
left:7443.2px;bottom:48498.1px;color:black;
}
#P23_86
{
left:10651.5px;bottom:48498.1px;color:black;
}
#P23_87
{
left:14066.8px;bottom:48498.1px;color:black;
}
#P23_88
{
left:15962.6px;bottom:48498.1px;color:black;
}
#P23_89
{
left:20091.3px;bottom:48498.1px;color:black;
}
#P23_90
{
left:23198.8px;bottom:48498.1px;color:black;
}
#P23_91
{
left:24580.8px;bottom:48498.1px;color:black;
}
#P23_92
{
left:27207px;bottom:48498.1px;color:black;
}
#P23_93
{
left:7443.2px;bottom:47915.5px;color:black;
}
#P23_94
{
left:7704.32px;bottom:47794.6px;color:black;
}
#P23_95
{
left:8595.2px;bottom:47796.6px;color:black;
}
#P23_96
{
left:10944.7px;bottom:47796.6px;color:black;
}
#P23_97
{
left:13085.7px;bottom:47796.6px;color:black;
}
#P23_98
{
left:16931.6px;bottom:47796.6px;color:black;
}
#P23_99
{
left:20885.3px;bottom:47796.6px;color:black;
}
#P23_100
{
left:22013.1px;bottom:47796.6px;color:black;
}
#P23_101
{
left:24116.1px;bottom:47796.6px;color:black;
}
#P23_102
{
left:28177.5px;bottom:47796.6px;color:black;
}
#P23_103
{
left:30525.8px;bottom:47796.6px;color:black;
}
#P23_104
{
left:31524px;bottom:47796.6px;color:black;
}
#P23_105
{
left:31740.2px;bottom:47796.6px;letter-spacing:2.7px;color:black;
}
#P23_106
{
left:8595.2px;bottom:47096.4px;color:black;
}
#P23_107
{
left:11504px;bottom:47096.4px;color:black;
}
#P23_108
{
left:13032.1px;bottom:47096.4px;color:black;
}
#P23_109
{
left:14030.3px;bottom:47096.4px;color:black;
}
#P23_110
{
left:16599.1px;bottom:47096.4px;color:black;
}
#P23_111
{
left:19393.9px;bottom:47096.4px;color:black;
}
#P23_112
{
left:21074px;bottom:47096.4px;color:black;
}
#P23_113
{
left:22640.8px;bottom:47096.4px;color:black;
}
#P23_114
{
left:25157.9px;bottom:47096.4px;color:black;
}
#P23_115
{
left:26938.3px;bottom:47096.4px;color:black;
}
#P23_116
{
left:10100.5px;bottom:34373.7px;color:rgb(128,128,128);
}
#P23_117
{
left:17014.4px;bottom:34373.7px;color:rgb(128,128,128);
}
#P23_118
{
left:26815.4px;bottom:34373.7px;color:rgb(128,128,128);
}
#P23_119
{
left:29441.9px;bottom:34373.7px;letter-spacing:-2.6px;color:rgb(128,128,128);
}
#P23_120
{
left:29843.2px;bottom:34373.7px;color:rgb(128,128,128);
}
#P23_121
{
left:30004.5px;bottom:34373.7px;color:rgb(128,128,128);
}
#P23_122
{
left:33591px;bottom:34373.7px;color:rgb(128,128,128);
}
#P23_123
{
left:33798.4px;bottom:33690.7px;color:black;
}
#P23_124
{
left:5262.34px;bottom:7322.02px;color:black;
}
#P23_125
{
left:5262.34px;bottom:15449.4px;color:black;
}
#P23_126
{
left:5262.34px;bottom:13689px;color:black;
}
#P23_127
{
left:5262.34px;bottom:11670.8px;color:black;
}
#P23_128
{
left:5262.34px;bottom:9392.82px;color:black;
}
#P23_129
{
left:6245.38px;bottom:18449.5px;color:black;
}
#P23_130
{
left:8134.08px;bottom:18449.5px;color:black;
}
#P23_131
{
left:9238.78px;bottom:18449.5px;color:black;
}
#P23_132
{
left:6245.38px;bottom:17673.8px;color:black;
}
#P23_133
{
left:17155.8px;bottom:17673.8px;color:black;
}
#P23_134
{
left:6245.38px;bottom:16913.5px;color:black;
}
#P23_135
{
left:13865.3px;bottom:16913.5px;color:black;
}
#P23_136
{
left:19218.6px;bottom:16913.5px;color:black;
}
#PageContainer23
{
width:1035.3px;height:1465.08px;background-image: url("../images/bg023.jpeg");background-repeat:no-repeat;background-size: 975px 1231px;background-position: 26.52px 93.9300000000001px;
}
#ImageContainer23 {bottom:140.07px;left:26.52px;width:974.75px;height:1231.21px;position:absolute;} #TextContainer23 {-webkit-transform:scale(0.027173);-o-transform:scale(0.027173);-ms-transform:scale(0.027173);-moz-transform:scale(0.027173);transform:scale(0.027173);}
