.tr142{ color:transparent;}
#P142_1
{
left:30342.4px;bottom:47914.5px;letter-spacing:25.6px;color:rgb(87,88,91);
}
#P142_2
{
left:31650.1px;bottom:47914.5px;letter-spacing:25.6px;color:rgb(87,88,91);
}
#P142_3
{
left:32533.3px;bottom:47914.5px;letter-spacing:25.6px;color:rgb(87,88,91);
}
#P142_4
{
left:33268.5px;bottom:47914.5px;letter-spacing:25.6px;color:rgb(87,88,91);
}
#P142_5
{
left:34363.2px;bottom:47914.5px;letter-spacing:25.6px;color:rgb(87,88,91);
}
#P142_6
{
left:34026.5px;bottom:1826.82px;letter-spacing:-5.6px;color:rgb(87,88,91);
}
#P142_7
{
left:34426.4px;bottom:1826.82px;letter-spacing:-5.6px;color:rgb(87,88,91);
}
#P142_8
{
left:4416px;bottom:45440px;color:black;
}
#P142_9
{
left:5712.51px;bottom:45440px;color:black;
}
#P142_10
{
left:10604.5px;bottom:45440px;color:black;
}
#P142_11
{
left:14082px;bottom:45440px;color:black;
}
#P142_12
{
left:15360.5px;bottom:45440px;color:black;
}
#P142_13
{
left:17862.7px;bottom:45440px;color:black;
}
#P142_14
{
left:18329.7px;bottom:45440px;color:black;
}
#P142_15
{
left:20529.9px;bottom:45440px;color:black;
}
#P142_16
{
left:25281.2px;bottom:45440px;color:black;
}
#P142_17
{
left:26430.5px;bottom:45440px;color:black;
}
#P142_18
{
left:4416px;bottom:42634.9px;color:black;
}
#P142_19
{
left:4848px;bottom:42634.9px;color:black;
}
#P142_20
{
left:5213.44px;bottom:42634.9px;color:black;
}
#P142_21
{
left:5502.08px;bottom:42634.9px;color:black;
}
#P142_22
{
left:5821.44px;bottom:42634.9px;color:black;
}
#P142_23
{
left:6291.84px;bottom:42634.9px;color:black;
}
#P142_24
{
left:6520.96px;bottom:42634.9px;color:black;
}
#P142_25
{
left:6796.74px;bottom:42634.9px;color:black;
}
#P142_26
{
left:7411.84px;bottom:42634.9px;color:black;
}
#P142_27
{
left:7688.32px;bottom:42634.9px;color:black;
}
#P142_28
{
left:7884.16px;bottom:42634.9px;color:black;
}
#P142_29
{
left:8113.28px;bottom:42634.9px;color:black;
}
#P142_30
{
left:8432px;bottom:42634.9px;color:black;
}
#P142_31
{
left:9086.72px;bottom:42634.9px;color:black;
}
#P142_32
{
left:9285.12px;bottom:42634.9px;color:black;
}
#P142_33
{
left:9978.18px;bottom:42634.9px;color:black;
}
#P142_34
{
left:10380.7px;bottom:42634.9px;color:black;
}
#P142_35
{
left:10572.1px;bottom:42634.9px;color:black;
}
#P142_36
{
left:11029.1px;bottom:42634.9px;color:black;
}
#P142_37
{
left:11227.5px;bottom:42634.9px;color:black;
}
#P142_38
{
left:11920.6px;bottom:42634.9px;color:black;
}
#P142_39
{
left:12188.7px;bottom:42634.9px;color:black;
}
#P142_40
{
left:12465.2px;bottom:42634.9px;color:black;
}
#P142_41
{
left:12905.5px;bottom:42634.9px;color:black;
}
#P142_42
{
left:13146.8px;bottom:42634.9px;color:black;
}
#P142_43
{
left:13310.6px;bottom:42634.9px;color:black;
}
#P142_44
{
left:13502px;bottom:42634.9px;color:black;
}
#P142_45
{
left:13904.5px;bottom:42634.9px;color:black;
}
#P142_46
{
left:14223.2px;bottom:42634.9px;color:black;
}
#P142_47
{
left:14570.8px;bottom:42634.9px;color:black;
}
#P142_48
{
left:14973.3px;bottom:42634.9px;color:black;
}
#P142_49
{
left:15292px;bottom:42634.9px;color:black;
}
#P142_50
{
left:15612px;bottom:42634.9px;color:black;
}
#P142_51
{
left:15811.1px;bottom:42634.9px;color:black;
}
#P142_52
{
left:16150.3px;bottom:42634.9px;color:black;
}
#P142_53
{
left:16552.8px;bottom:42634.9px;color:black;
}
#P142_54
{
left:16736.5px;bottom:42634.9px;color:black;
}
#P142_55
{
left:17058.4px;bottom:42634.9px;color:black;
}
#P142_56
{
left:17223.6px;bottom:42634.9px;color:black;
}
#P142_57
{
left:17701.6px;bottom:42634.9px;color:black;
}
#P142_58
{
left:18141.9px;bottom:42634.9px;color:black;
}
#P142_59
{
left:18658.4px;bottom:42634.9px;color:black;
}
#P142_60
{
left:19088.4px;bottom:42634.9px;color:black;
}
#P142_61
{
left:19407.2px;bottom:42634.9px;color:black;
}
#P142_62
{
left:19887.8px;bottom:42634.9px;color:black;
}
#P142_63
{
left:20299.3px;bottom:42634.9px;color:black;
}
#P142_64
{
left:20531px;bottom:42634.9px;color:black;
}
#P142_65
{
left:20729.4px;bottom:42634.9px;color:black;
}
#P142_66
{
left:21167.8px;bottom:42634.9px;color:black;
}
#P142_67
{
left:21482px;bottom:42634.9px;color:black;
}
#P142_68
{
left:21906.4px;bottom:42634.9px;color:black;
}
#P142_69
{
left:22253.9px;bottom:42634.9px;color:black;
}
#P142_70
{
left:22573.2px;bottom:42634.9px;color:black;
}
#P142_71
{
left:22764.6px;bottom:42634.9px;color:black;
}
#P142_72
{
left:5824px;bottom:40378.9px;color:black;
}
#P142_73
{
left:6204.16px;bottom:40378.9px;color:black;
}
#P142_74
{
left:6570.88px;bottom:40378.9px;color:black;
}
#P142_75
{
left:7203.84px;bottom:40378.9px;color:black;
}
#P142_76
{
left:7367.68px;bottom:40378.9px;color:black;
}
#P142_77
{
left:7642.88px;bottom:40378.9px;color:black;
}
#P142_78
{
left:8295.04px;bottom:40378.9px;color:black;
}
#P142_79
{
left:8706.56px;bottom:40378.9px;color:black;
}
#P142_80
{
left:8905.6px;bottom:40378.9px;color:black;
}
#P142_81
{
left:9244.8px;bottom:40378.9px;color:black;
}
#P142_82
{
left:9564.16px;bottom:40378.9px;color:black;
}
#P142_83
{
left:10207.9px;bottom:40378.9px;color:black;
}
#P142_84
{
left:10537.6px;bottom:40378.9px;color:black;
}
#P142_85
{
left:10863.4px;bottom:40378.9px;color:black;
}
#P142_86
{
left:11182.1px;bottom:40378.9px;color:black;
}
#P142_87
{
left:11550.1px;bottom:40378.9px;color:black;
}
#P142_88
{
left:11779.2px;bottom:40378.9px;color:black;
}
#P142_89
{
left:12055px;bottom:40378.9px;color:black;
}
#P142_90
{
left:12611.2px;bottom:40378.9px;color:black;
}
#P142_91
{
left:12809.5px;bottom:40378.9px;color:black;
}
#P142_92
{
left:13299.8px;bottom:40378.9px;color:black;
}
#P142_93
{
left:13780.4px;bottom:40378.9px;color:black;
}
#P142_94
{
left:13971.8px;bottom:40378.9px;color:black;
}
#P142_95
{
left:14428.7px;bottom:40378.9px;color:black;
}
#P142_96
{
left:14668.7px;bottom:40378.9px;color:black;
}
#P142_97
{
left:14987.5px;bottom:40378.9px;color:black;
}
#P142_98
{
left:15509.1px;bottom:40378.9px;color:black;
}
#P142_99
{
left:15980px;bottom:40378.9px;color:black;
}
#P142_100
{
left:16838.3px;bottom:40378.9px;color:black;
}
#P142_101
{
left:17268.4px;bottom:40378.9px;color:black;
}
#P142_102
{
left:17557px;bottom:40378.9px;color:black;
}
#P142_103
{
left:17876.4px;bottom:40378.9px;color:black;
}
#P142_104
{
left:18346.8px;bottom:40378.9px;color:black;
}
#P142_105
{
left:18575.9px;bottom:40378.9px;color:black;
}
#P142_106
{
left:18851.7px;bottom:40378.9px;color:black;
}
#P142_107
{
left:19466.8px;bottom:40378.9px;color:black;
}
#P142_108
{
left:5824px;bottom:38282.9px;color:black;
}
#P142_109
{
left:6204.16px;bottom:38282.9px;color:black;
}
#P142_110
{
left:6663.68px;bottom:38282.9px;color:black;
}
#P142_111
{
left:6983.04px;bottom:38282.9px;color:black;
}
#P142_112
{
left:7174.4px;bottom:38282.9px;color:black;
}
#P142_113
{
left:7576.96px;bottom:38282.9px;color:black;
}
#P142_114
{
left:7816.96px;bottom:38282.9px;color:black;
}
#P142_115
{
left:8135.68px;bottom:38282.9px;color:black;
}
#P142_116
{
left:8657.22px;bottom:38282.9px;color:black;
}
#P142_117
{
left:9128.26px;bottom:38282.9px;color:black;
}
#P142_118
{
left:9986.5px;bottom:38282.9px;color:black;
}
#P142_119
{
left:10416.6px;bottom:38282.9px;color:black;
}
#P142_120
{
left:11068.7px;bottom:38282.9px;color:black;
}
#P142_121
{
left:11267.8px;bottom:38282.9px;color:black;
}
#P142_122
{
left:11607px;bottom:38282.9px;color:black;
}
#P142_123
{
left:12009.5px;bottom:38282.9px;color:black;
}
#P142_124
{
left:12238.7px;bottom:38282.9px;color:black;
}
#P142_125
{
left:12514.5px;bottom:38282.9px;color:black;
}
#P142_126
{
left:13649.9px;bottom:38282.9px;color:black;
}
#P142_127
{
left:14079.9px;bottom:38282.9px;color:black;
}
#P142_128
{
left:14279px;bottom:38282.9px;color:black;
}
#P142_129
{
left:14618.8px;bottom:38282.9px;color:black;
}
#P142_130
{
left:14887.6px;bottom:38282.9px;color:black;
}
#P142_131
{
left:15213.4px;bottom:38282.9px;color:black;
}
#P142_132
{
left:15383px;bottom:38282.9px;color:black;
}
#P142_133
{
left:15748.4px;bottom:38282.9px;color:black;
}
#P142_134
{
left:16337.9px;bottom:38282.9px;color:black;
}
#P142_135
{
left:16881.2px;bottom:38282.9px;color:black;
}
#P142_136
{
left:17219.1px;bottom:38282.9px;color:black;
}
#P142_137
{
left:17970.4px;bottom:38282.9px;color:black;
}
#P142_138
{
left:18400.5px;bottom:38282.9px;color:black;
}
#P142_139
{
left:18719.2px;bottom:38282.9px;color:black;
}
#P142_140
{
left:19087.2px;bottom:38282.9px;color:black;
}
#P142_141
{
left:20241.8px;bottom:38282.9px;color:black;
}
#P142_142
{
left:20940.6px;bottom:38282.9px;color:black;
}
#P142_143
{
left:21276px;bottom:38282.9px;color:black;
}
#P142_144
{
left:21551.2px;bottom:38282.9px;color:black;
}
#P142_145
{
left:21748.3px;bottom:38282.9px;color:black;
}
#P142_146
{
left:5824px;bottom:36186.9px;color:black;
}
#P142_147
{
left:6204.16px;bottom:36186.9px;color:black;
}
#P142_148
{
left:6552.32px;bottom:36186.9px;color:black;
}
#P142_149
{
left:6721.92px;bottom:36186.9px;color:black;
}
#P142_150
{
left:6953.6px;bottom:36186.9px;color:black;
}
#P142_151
{
left:7279.36px;bottom:36186.9px;color:black;
}
#P142_152
{
left:7690.88px;bottom:36186.9px;color:black;
}
#P142_153
{
left:8124.16px;bottom:36186.9px;color:black;
}
#P142_154
{
left:8442.88px;bottom:36186.9px;color:black;
}
#P142_155
{
left:8672px;bottom:36186.9px;color:black;
}
#P142_156
{
left:9140.48px;bottom:36186.9px;color:black;
}
#P142_157
{
left:9339.52px;bottom:36186.9px;color:black;
}
#P142_158
{
left:9679.36px;bottom:36186.9px;color:black;
}
#P142_159
{
left:9948.16px;bottom:36186.9px;color:black;
}
#P142_160
{
left:10273.9px;bottom:36186.9px;color:black;
}
#P142_161
{
left:10562.6px;bottom:36186.9px;color:black;
}
#P142_162
{
left:10881.9px;bottom:36186.9px;color:black;
}
#P142_163
{
left:11352.3px;bottom:36186.9px;color:black;
}
#P142_164
{
left:12147.2px;bottom:36186.9px;color:black;
}
#P142_165
{
left:12494.7px;bottom:36186.9px;color:black;
}
#P142_166
{
left:12814.1px;bottom:36186.9px;color:black;
}
#P142_167
{
left:13139.9px;bottom:36186.9px;color:black;
}
#P142_168
{
left:13459.9px;bottom:36186.9px;color:black;
}
#P142_169
{
left:13807.4px;bottom:36186.9px;color:black;
}
#P142_170
{
left:14123.6px;bottom:36186.9px;color:black;
}
#P142_171
{
left:14515.3px;bottom:36186.9px;color:black;
}
#P142_172
{
left:5824px;bottom:34090.9px;color:black;
}
#P142_173
{
left:6204.16px;bottom:34090.9px;color:black;
}
#P142_174
{
left:6678.4px;bottom:34090.9px;color:black;
}
#P142_175
{
left:7190.4px;bottom:34090.9px;color:black;
}
#P142_176
{
left:7702.4px;bottom:34090.9px;color:black;
}
#P142_177
{
left:7871.36px;bottom:34090.9px;color:black;
}
#P142_178
{
left:8202.24px;bottom:34090.9px;color:black;
}
#P142_179
{
left:8604.8px;bottom:34090.9px;color:black;
}
#P142_180
{
left:9016.32px;bottom:34090.9px;color:black;
}
#P142_181
{
left:9605.76px;bottom:34090.9px;color:black;
}
#P142_182
{
left:10303.4px;bottom:34090.9px;color:black;
}
#P142_183
{
left:10578.6px;bottom:34090.9px;color:black;
}
#P142_184
{
left:10853.8px;bottom:34090.9px;color:black;
}
#P142_185
{
left:11052.2px;bottom:34090.9px;color:black;
}
#P142_186
{
left:11542.3px;bottom:34090.9px;color:black;
}
#P142_187
{
left:12023px;bottom:34090.9px;color:black;
}
#P142_188
{
left:12214.3px;bottom:34090.9px;color:black;
}
#P142_189
{
left:12671.3px;bottom:34090.9px;color:black;
}
#P142_190
{
left:12911.3px;bottom:34090.9px;color:black;
}
#P142_191
{
left:13230px;bottom:34090.9px;color:black;
}
#P142_192
{
left:13751.6px;bottom:34090.9px;color:black;
}
#P142_193
{
left:14222.7px;bottom:34090.9px;color:black;
}
#P142_194
{
left:15080.8px;bottom:34090.9px;color:black;
}
#P142_195
{
left:15510.9px;bottom:34090.9px;color:black;
}
#P142_196
{
left:15799.6px;bottom:34090.9px;color:black;
}
#P142_197
{
left:16118.9px;bottom:34090.9px;color:black;
}
#P142_198
{
left:16589.3px;bottom:34090.9px;color:black;
}
#P142_199
{
left:17027.1px;bottom:34090.9px;color:black;
}
#P142_200
{
left:17302.3px;bottom:34090.9px;color:black;
}
#P142_201
{
left:17543.6px;bottom:34090.9px;color:black;
}
#P142_202
{
left:17891.1px;bottom:34090.9px;color:black;
}
#P142_203
{
left:18166.3px;bottom:34090.9px;color:black;
}
#P142_204
{
left:18634.8px;bottom:34090.9px;color:black;
}
#P142_205
{
left:18953.5px;bottom:34090.9px;color:black;
}
#P142_206
{
left:19321.5px;bottom:34090.9px;color:black;
}
#P142_207
{
left:19550.6px;bottom:34090.9px;color:black;
}
#P142_208
{
left:19826.4px;bottom:34090.9px;color:black;
}
#P142_209
{
left:20575.9px;bottom:34090.9px;color:black;
}
#P142_210
{
left:20903.6px;bottom:34090.9px;color:black;
}
#P142_211
{
left:21132.7px;bottom:34090.9px;color:black;
}
#P142_212
{
left:21409.8px;bottom:34090.9px;color:black;
}
#P142_213
{
left:21708px;bottom:34090.9px;color:black;
}
#P142_214
{
left:22198.8px;bottom:34090.9px;color:black;
}
#P142_215
{
left:22536.8px;bottom:34090.9px;color:black;
}
#P142_216
{
left:22769.1px;bottom:34090.9px;color:black;
}
#P142_217
{
left:22926.5px;bottom:34090.9px;color:black;
}
#P142_218
{
left:23173.6px;bottom:34090.9px;color:black;
}
#P142_219
{
left:5824px;bottom:31994.9px;color:black;
}
#P142_220
{
left:6204.16px;bottom:31994.9px;color:black;
}
#P142_221
{
left:6763.52px;bottom:31994.9px;color:black;
}
#P142_222
{
left:7047.68px;bottom:31994.9px;color:black;
}
#P142_223
{
left:7359.36px;bottom:31994.9px;color:black;
}
#P142_224
{
left:7761.92px;bottom:31994.9px;color:black;
}
#P142_225
{
left:8173.44px;bottom:31994.9px;color:black;
}
#P142_226
{
left:8405.12px;bottom:31994.9px;color:black;
}
#P142_227
{
left:8604.16px;bottom:31994.9px;color:black;
}
#P142_228
{
left:8872.96px;bottom:31994.9px;color:black;
}
#P142_229
{
left:9064.32px;bottom:31994.9px;color:black;
}
#P142_230
{
left:9857.92px;bottom:31994.9px;color:black;
}
#P142_231
{
left:10467.8px;bottom:31994.9px;color:black;
}
#P142_232
{
left:10793.5px;bottom:31994.9px;color:black;
}
#P142_233
{
left:11069.4px;bottom:31994.9px;color:black;
}
#P142_234
{
left:11400.3px;bottom:31994.9px;color:black;
}
#P142_235
{
left:11719.6px;bottom:31994.9px;color:black;
}
#P142_236
{
left:12051.8px;bottom:31994.9px;color:black;
}
#P142_237
{
left:12377.5px;bottom:31994.9px;color:black;
}
#P142_238
{
left:12576.6px;bottom:31994.9px;color:black;
}
#P142_239
{
left:12915.8px;bottom:31994.9px;color:black;
}
#P142_240
{
left:13318.3px;bottom:31994.9px;color:black;
}
#P142_241
{
left:13547.5px;bottom:31994.9px;color:black;
}
#P142_242
{
left:13823.2px;bottom:31994.9px;color:black;
}
#P142_243
{
left:14958.6px;bottom:31994.9px;color:black;
}
#P142_244
{
left:15260px;bottom:31994.9px;color:black;
}
#P142_245
{
left:5824px;bottom:29898.9px;color:black;
}
#P142_246
{
left:6204.16px;bottom:29898.9px;color:black;
}
#P142_247
{
left:6544px;bottom:29898.9px;color:black;
}
#P142_248
{
left:7110.4px;bottom:29898.9px;color:black;
}
#P142_249
{
left:7512.96px;bottom:29898.9px;color:black;
}
#P142_250
{
left:7924.48px;bottom:29898.9px;color:black;
}
#P142_251
{
left:8245.12px;bottom:29898.9px;color:black;
}
#P142_252
{
left:9088.64px;bottom:29898.9px;color:black;
}
#P142_253
{
left:9287.04px;bottom:29898.9px;color:black;
}
#P142_254
{
left:9777.22px;bottom:29898.9px;color:black;
}
#P142_255
{
left:10257.9px;bottom:29898.9px;color:black;
}
#P142_256
{
left:10533.7px;bottom:29898.9px;color:black;
}
#P142_257
{
left:10864.6px;bottom:29898.9px;color:black;
}
#P142_258
{
left:11183.9px;bottom:29898.9px;color:black;
}
#P142_259
{
left:11516.1px;bottom:29898.9px;color:black;
}
#P142_260
{
left:11841.9px;bottom:29898.9px;color:black;
}
#P142_261
{
left:12040.9px;bottom:29898.9px;color:black;
}
#P142_262
{
left:12380.1px;bottom:29898.9px;color:black;
}
#P142_263
{
left:12782.7px;bottom:29898.9px;color:black;
}
#P142_264
{
left:13011.8px;bottom:29898.9px;color:black;
}
#P142_265
{
left:13287.6px;bottom:29898.9px;color:black;
}
#P142_266
{
left:14423px;bottom:29898.9px;color:black;
}
#P142_267
{
left:14724.4px;bottom:29898.9px;color:black;
}
#P142_268
{
left:5824px;bottom:27802.9px;color:black;
}
#P142_269
{
left:6204.16px;bottom:27802.9px;color:black;
}
#P142_270
{
left:7181.44px;bottom:27802.9px;color:black;
}
#P142_271
{
left:7750.4px;bottom:27802.9px;color:black;
}
#P142_272
{
left:8161.92px;bottom:27802.9px;color:black;
}
#P142_273
{
left:8673.28px;bottom:27802.9px;color:black;
}
#P142_274
{
left:8951.04px;bottom:27802.9px;color:black;
}
#P142_275
{
left:9253.76px;bottom:27802.9px;color:black;
}
#P142_276
{
left:9766.4px;bottom:27802.9px;color:black;
}
#P142_277
{
left:10421.1px;bottom:27802.9px;color:black;
}
#P142_278
{
left:10739.8px;bottom:27802.9px;color:black;
}
#P142_279
{
left:11107.8px;bottom:27802.9px;color:black;
}
#P142_280
{
left:11435.5px;bottom:27802.9px;color:black;
}
#P142_281
{
left:11882.2px;bottom:27802.9px;color:black;
}
#P142_282
{
left:12071px;bottom:27802.9px;color:black;
}
#P142_283
{
left:12640px;bottom:27802.9px;color:black;
}
#P142_284
{
left:13042.6px;bottom:27802.9px;color:black;
}
#P142_285
{
left:13361.2px;bottom:27802.9px;color:black;
}
#P142_286
{
left:13681.2px;bottom:27802.9px;color:black;
}
#P142_287
{
left:13956.4px;bottom:27802.9px;color:black;
}
#P142_288
{
left:14437.1px;bottom:27802.9px;color:black;
}
#P142_289
{
left:15222.3px;bottom:27802.9px;color:black;
}
#P142_290
{
left:15633.9px;bottom:27802.9px;color:black;
}
#P142_291
{
left:15952.6px;bottom:27802.9px;color:black;
}
#P142_292
{
left:16320.6px;bottom:27802.9px;color:black;
}
#P142_293
{
left:16910px;bottom:27802.9px;color:black;
}
#P142_294
{
left:17607.6px;bottom:27802.9px;color:black;
}
#P142_295
{
left:17882.8px;bottom:27802.9px;color:black;
}
#P142_296
{
left:18158px;bottom:27802.9px;color:black;
}
#P142_297
{
left:18356.4px;bottom:27802.9px;color:black;
}
#P142_298
{
left:18846.7px;bottom:27802.9px;color:black;
}
#P142_299
{
left:4416px;bottom:25370.9px;color:black;
}
#P142_300
{
left:4856.32px;bottom:25370.9px;color:black;
}
#P142_301
{
left:5049.6px;bottom:25370.9px;color:black;
}
#P142_302
{
left:5240.96px;bottom:25370.9px;color:black;
}
#P142_303
{
left:5880.96px;bottom:25370.9px;color:black;
}
#P142_304
{
left:6321.28px;bottom:25370.9px;color:black;
}
#P142_305
{
left:6562.56px;bottom:25370.9px;color:black;
}
#P142_306
{
left:6726.4px;bottom:25370.9px;color:black;
}
#P142_307
{
left:6924.8px;bottom:25370.9px;color:black;
}
#P142_308
{
left:7441.28px;bottom:25370.9px;color:black;
}
#P142_309
{
left:7871.36px;bottom:25370.9px;color:black;
}
#P142_310
{
left:8070.4px;bottom:25370.9px;color:black;
}
#P142_311
{
left:8409.54px;bottom:25370.9px;color:black;
}
#P142_312
{
left:8812.1px;bottom:25370.9px;color:black;
}
#P142_313
{
left:9043.78px;bottom:25370.9px;color:black;
}
#P142_314
{
left:9242.18px;bottom:25370.9px;color:black;
}
#P142_315
{
left:9680.58px;bottom:25370.9px;color:black;
}
#P142_316
{
left:9994.82px;bottom:25370.9px;color:black;
}
#P142_317
{
left:10419.1px;bottom:25370.9px;color:black;
}
#P142_318
{
left:10766.7px;bottom:25370.9px;color:black;
}
#P142_319
{
left:11086px;bottom:25370.9px;color:black;
}
#P142_320
{
left:11277.4px;bottom:25370.9px;color:black;
}
#P142_321
{
left:11545.5px;bottom:25370.9px;color:black;
}
#P142_322
{
left:11822px;bottom:25370.9px;color:black;
}
#P142_323
{
left:12152.9px;bottom:25370.9px;color:black;
}
#P142_324
{
left:12316.7px;bottom:25370.9px;color:black;
}
#P142_325
{
left:13271px;bottom:25370.9px;color:black;
}
#P142_326
{
left:13434.8px;bottom:25370.9px;color:black;
}
#P142_327
{
left:13760.6px;bottom:25370.9px;color:black;
}
#P142_328
{
left:14108.1px;bottom:25370.9px;color:black;
}
#P142_329
{
left:15007.9px;bottom:25370.9px;color:black;
}
#P142_330
{
left:15199.3px;bottom:25370.9px;color:black;
}
#P142_331
{
left:15656.3px;bottom:25370.9px;color:black;
}
#P142_332
{
left:15855.3px;bottom:25370.9px;color:black;
}
#P142_333
{
left:16194.5px;bottom:25370.9px;color:black;
}
#P142_334
{
left:16597.1px;bottom:25370.9px;color:black;
}
#P142_335
{
left:17030.3px;bottom:25370.9px;color:black;
}
#P142_336
{
left:17349.1px;bottom:25370.9px;color:black;
}
#P142_337
{
left:17578.2px;bottom:25370.9px;color:black;
}
#P142_338
{
left:17912.3px;bottom:25370.9px;color:black;
}
#P142_339
{
left:18188.7px;bottom:25370.9px;color:black;
}
#P142_340
{
left:18519.6px;bottom:25370.9px;color:black;
}
#P142_341
{
left:19377.9px;bottom:25370.9px;color:black;
}
#P142_342
{
left:19617.9px;bottom:25370.9px;color:black;
}
#P142_343
{
left:19886px;bottom:25370.9px;color:black;
}
#P142_344
{
left:20162.5px;bottom:25370.9px;color:black;
}
#P142_345
{
left:20402.4px;bottom:25370.9px;color:black;
}
#P142_346
{
left:21012.4px;bottom:25370.9px;color:black;
}
#P142_347
{
left:21203.7px;bottom:25370.9px;color:black;
}
#P142_348
{
left:21823.2px;bottom:25370.9px;color:black;
}
#P142_349
{
left:22362.1px;bottom:25370.9px;color:black;
}
#P142_350
{
left:22638.6px;bottom:25370.9px;color:black;
}
#P142_351
{
left:22957.3px;bottom:25370.9px;color:black;
}
#P142_352
{
left:23325.3px;bottom:25370.9px;color:black;
}
#P142_353
{
left:23663.8px;bottom:25370.9px;color:black;
}
#P142_354
{
left:23939px;bottom:25370.9px;color:black;
}
#P142_355
{
left:24454.2px;bottom:25370.9px;color:black;
}
#P142_356
{
left:24756.9px;bottom:25370.9px;color:black;
}
#P142_357
{
left:25263.2px;bottom:25370.9px;color:black;
}
#P142_358
{
left:25594px;bottom:25370.9px;color:black;
}
#P142_359
{
left:26066.4px;bottom:25370.9px;color:black;
}
#P142_360
{
left:4416px;bottom:24506.9px;color:black;
}
#P142_361
{
left:4615.04px;bottom:24506.9px;color:black;
}
#P142_362
{
left:4954.24px;bottom:24506.9px;color:black;
}
#P142_363
{
left:5356.8px;bottom:24506.9px;color:black;
}
#P142_364
{
left:5585.92px;bottom:24506.9px;color:black;
}
#P142_365
{
left:5861.7px;bottom:24506.9px;color:black;
}
#P142_366
{
left:6997.06px;bottom:24506.9px;color:black;
}
#P142_367
{
left:7427.14px;bottom:24506.9px;color:black;
}
#P142_368
{
left:7626.18px;bottom:24506.9px;color:black;
}
#P142_369
{
left:7966.02px;bottom:24506.9px;color:black;
}
#P142_370
{
left:8234.82px;bottom:24506.9px;color:black;
}
#P142_371
{
left:8560.58px;bottom:24506.9px;color:black;
}
#P142_372
{
left:8888.26px;bottom:24506.9px;color:black;
}
#P142_373
{
left:9117.38px;bottom:24506.9px;color:black;
}
#P142_374
{
left:9436.1px;bottom:24506.9px;color:black;
}
#P142_375
{
left:9948.1px;bottom:24506.9px;color:black;
}
#P142_376
{
left:10276.4px;bottom:24506.9px;color:black;
}
#P142_377
{
left:10467.7px;bottom:24506.9px;color:black;
}
#P142_378
{
left:10742.9px;bottom:24506.9px;color:black;
}
#P142_379
{
left:11211.4px;bottom:24506.9px;color:black;
}
#P142_380
{
left:11500px;bottom:24506.9px;color:black;
}
#P142_381
{
left:11819.4px;bottom:24506.9px;color:black;
}
#P142_382
{
left:12527.2px;bottom:24506.9px;color:black;
}
#P142_383
{
left:12874.8px;bottom:24506.9px;color:black;
}
#P142_384
{
left:13194.1px;bottom:24506.9px;color:black;
}
#P142_385
{
left:13385.5px;bottom:24506.9px;color:black;
}
#P142_386
{
left:13653.6px;bottom:24506.9px;color:black;
}
#PageContainer142
{
width:1049.22px;height:1362.42px;
}
 #TextContainer142 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
