.tr71{ color:transparent;}
#P71_1
{
left:4032px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_2
{
left:4525.98px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_3
{
left:4672.36px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_4
{
left:4888.88px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_5
{
left:5207.81px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_6
{
left:5471.44px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_7
{
left:5687.96px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_8
{
left:5809.77px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_9
{
left:6119.48px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_10
{
left:6241.28px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_11
{
left:6544.83px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_12
{
left:6748.54px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_13
{
left:7081.86px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_14
{
left:7333.7px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_15
{
left:7621.89px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_16
{
left:7838.4px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_17
{
left:7960.19px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_18
{
left:8106.62px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_19
{
left:8569.86px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_20
{
left:8871.87px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_21
{
left:9314.18px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_22
{
left:9561.41px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_23
{
left:9819.9px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_24
{
left:9966.27px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_25
{
left:10299.5px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_26
{
left:10503.3px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_27
{
left:10836.5px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_28
{
left:11120.1px;bottom:47842.8px;letter-spacing:23.0px;
}
#P71_29
{
left:11413.4px;bottom:47842.8px;
}
#P71_30
{
left:11695.1px;bottom:47842.8px;
}
#P71_31
{
left:11898.9px;bottom:47842.8px;
}
#P71_32
{
left:12180.5px;bottom:47842.8px;letter-spacing:25.6px;
}
#P71_33
{
left:14157.8px;bottom:47842.8px;letter-spacing:25.6px;
}
#P71_34
{
left:14774.8px;bottom:47842.8px;letter-spacing:25.6px;
}
#P71_35
{
left:4032px;bottom:1798.66px;letter-spacing:5.1px;
}
#P71_36
{
left:5216px;bottom:41519.4px;letter-spacing:33.6px;
}
#P71_37
{
left:6092.47px;bottom:41484.4px;
}
#P71_38
{
left:6262.76px;bottom:41519.4px;letter-spacing:27.4px;
}
#P71_39
{
left:7106.82px;bottom:41519.4px;letter-spacing:27.4px;
}
#P71_40
{
left:7406.59px;bottom:41519.4px;letter-spacing:27.4px;
}
#P71_41
{
left:7653.63px;bottom:41519.4px;letter-spacing:27.4px;
}
#P71_42
{
left:7989.06px;bottom:41484.4px;
}
#P71_43
{
left:8159.36px;bottom:41519.4px;letter-spacing:33.6px;
}
#P71_44
{
left:8755.71px;bottom:41519.4px;letter-spacing:33.6px;
}
#P71_45
{
left:9297.09px;bottom:41519.4px;letter-spacing:33.6px;
}
#P71_46
{
left:9926.34px;bottom:41484.4px;
}
#P71_47
{
left:10096.6px;bottom:41519.4px;letter-spacing:33.6px;
}
#P71_48
{
left:10768.7px;bottom:41519.4px;letter-spacing:33.6px;
}
#P71_49
{
left:12556px;bottom:41519.4px;letter-spacing:33.6px;
}
#P71_50
{
left:13722.7px;bottom:41484.4px;
}
#P71_51
{
left:5216px;bottom:40542.7px;
}
#P71_52
{
left:5479.42px;bottom:40542.7px;
}
#P71_53
{
left:7517.63px;bottom:40542.7px;
}
#P71_54
{
left:8458.56px;bottom:40542.7px;
}
#P71_55
{
left:9118.46px;bottom:40542.7px;
}
#P71_56
{
left:10324px;bottom:40542.7px;
}
#P71_57
{
left:11311.2px;bottom:40542.7px;
}
#P71_58
{
left:11759.4px;bottom:40542.7px;
}
#P71_59
{
left:12104.9px;bottom:40542.7px;
}
#P71_60
{
left:12354.1px;bottom:40542.7px;
}
#P71_61
{
left:13017.4px;bottom:40542.7px;
}
#P71_62
{
left:5216px;bottom:39646.8px;
}
#P71_63
{
left:5493.67px;bottom:39646.8px;
}
#P71_64
{
left:6166.88px;bottom:39646.8px;
}
#P71_65
{
left:6447.17px;bottom:39646.8px;
}
#P71_66
{
left:6701.18px;bottom:39646.8px;
}
#P71_67
{
left:7160.19px;bottom:39646.8px;
}
#P71_68
{
left:8798.53px;bottom:39646.8px;
}
#P71_69
{
left:9230.59px;bottom:39646.8px;
}
#P71_70
{
left:9546.37px;bottom:39646.8px;
}
#P71_71
{
left:10062.5px;bottom:39646.8px;
}
#P71_72
{
left:11010px;bottom:39646.8px;
}
#P71_73
{
left:12184.6px;bottom:39646.8px;
}
#P71_74
{
left:12468.8px;bottom:39646.8px;
}
#P71_75
{
left:12670.6px;bottom:39646.8px;
}
#P71_76
{
left:5216px;bottom:38751.1px;
}
#P71_77
{
left:5497.57px;bottom:38751.1px;
}
#P71_78
{
left:6384px;bottom:38751.1px;
}
#P71_79
{
left:6664.26px;bottom:38751.1px;
}
#P71_80
{
left:7818.18px;bottom:38751.1px;
}
#P71_81
{
left:7957.31px;bottom:38751.1px;
}
#P71_82
{
left:8353.02px;bottom:38751.1px;
}
#P71_83
{
left:8637.31px;bottom:38751.1px;
}
#P71_84
{
left:9295.94px;bottom:38751.1px;
}
#P71_85
{
left:9579.52px;bottom:38751.1px;
}
#P71_86
{
left:9859.71px;bottom:38751.1px;
}
#P71_87
{
left:10365.8px;bottom:38751.1px;
}
#P71_88
{
left:11795.1px;bottom:38751.1px;
}
#P71_89
{
left:5216px;bottom:37855.3px;
}
#P71_90
{
left:6647.49px;bottom:37855.3px;
}
#P71_91
{
left:6786.62px;bottom:37855.3px;
}
#P71_92
{
left:7773.76px;bottom:37855.3px;
}
#P71_93
{
left:8136.13px;bottom:37855.3px;
}
#P71_94
{
left:9400.77px;bottom:37855.3px;
}
#P71_95
{
left:9681.02px;bottom:37855.3px;
}
#P71_96
{
left:10066.8px;bottom:37855.3px;
}
#P71_97
{
left:10412.2px;bottom:37855.3px;
}
#P71_98
{
left:10630.5px;bottom:37855.3px;
}
#P71_99
{
left:10769.5px;bottom:37855.3px;
}
#P71_100
{
left:11127.7px;bottom:37855.3px;
}
#P71_101
{
left:11411.1px;bottom:37855.3px;
}
#P71_102
{
left:11755.3px;bottom:37855.3px;
}
#P71_103
{
left:12700.8px;bottom:37855.3px;
}
#P71_104
{
left:13167.1px;bottom:37855.3px;
}
#P71_105
{
left:5216px;bottom:36959.6px;
}
#P71_106
{
left:6390.59px;bottom:36959.6px;
}
#P71_107
{
left:6674.75px;bottom:36959.6px;
}
#P71_108
{
left:6876.54px;bottom:36959.6px;
}
#P71_109
{
left:7536.45px;bottom:36959.6px;
}
#P71_110
{
left:7773.7px;bottom:36959.6px;
}
#P71_111
{
left:8781.06px;bottom:36959.6px;
}
#P71_112
{
left:8982.08px;bottom:36959.6px;
}
#P71_113
{
left:9468.61px;bottom:36959.6px;
}
#P71_114
{
left:10575.4px;bottom:36959.6px;
}
#P71_115
{
left:11480.4px;bottom:36959.6px;
}
#P71_116
{
left:12174px;bottom:36959.6px;
}
#P71_117
{
left:5216px;bottom:36063.7px;
}
#P71_118
{
left:5651.52px;bottom:36063.7px;
}
#P71_119
{
left:5996.93px;bottom:36063.7px;
}
#P71_120
{
left:6689.79px;bottom:36063.7px;
}
#P71_121
{
left:7473.98px;bottom:36063.7px;
}
#P71_122
{
left:8379.07px;bottom:36063.7px;
}
#P71_123
{
left:9072.64px;bottom:36063.7px;
}
#P71_124
{
left:9580.8px;bottom:36063.7px;
}
#P71_125
{
left:9719.87px;bottom:36063.7px;
}
#P71_126
{
left:10128.4px;bottom:36063.7px;
}
#P71_127
{
left:10907.9px;bottom:36063.7px;
}
#P71_128
{
left:11270.3px;bottom:36063.7px;
}
#P71_129
{
left:12534.9px;bottom:36063.7px;
}
#P71_130
{
left:12815.1px;bottom:36063.7px;
}
#P71_131
{
left:5216px;bottom:35168px;letter-spacing:-1.9px;
}
#P71_132
{
left:5779.81px;bottom:35168px;
}
#P71_133
{
left:5918.91px;bottom:35168px;
}
#P71_134
{
left:6207.94px;bottom:35168px;
}
#P71_135
{
left:7730.69px;bottom:35168px;
}
#P71_136
{
left:8088.83px;bottom:35168px;
}
#P71_137
{
left:8372.29px;bottom:35168px;
}
#P71_138
{
left:8716.42px;bottom:35168px;
}
#P71_139
{
left:9661.95px;bottom:35168px;
}
#P71_140
{
left:10128.3px;bottom:35168px;
}
#P71_141
{
left:11011.9px;bottom:35168px;
}
#P71_142
{
left:12186.6px;bottom:35168px;
}
#P71_143
{
left:12470.8px;bottom:35168px;
}
#P71_144
{
left:12672.5px;bottom:35168px;
}
#P71_145
{
left:13332.4px;bottom:35168px;
}
#P71_146
{
left:5216px;bottom:34272.2px;
}
#P71_147
{
left:6280.45px;bottom:34272.2px;
}
#P71_148
{
left:8085.44px;bottom:34272.2px;
}
#P71_149
{
left:8964.35px;bottom:34272.2px;
}
#P71_150
{
left:9247.94px;bottom:34272.2px;
}
#P71_151
{
left:10172.5px;bottom:34272.2px;
}
#P71_152
{
left:10339.9px;bottom:34272.2px;
}
#P71_153
{
left:10779.4px;bottom:34272.2px;
}
#P71_154
{
left:11031.3px;bottom:34272.2px;
}
#P71_155
{
left:12215.9px;bottom:34272.2px;
}
#P71_156
{
left:12383.3px;bottom:34272.2px;
}
#P71_157
{
left:12642.1px;bottom:34272.2px;
}
#P71_158
{
left:5216px;bottom:32912.1px;
}
#P71_159
{
left:5617.79px;bottom:32912.1px;
}
#P71_160
{
left:5969.25px;bottom:32912.1px;
}
#P71_161
{
left:6244.77px;bottom:32912.1px;
}
#P71_162
{
left:6363.44px;bottom:32912.1px;
}
#P71_163
{
left:6991.1px;bottom:32912.1px;
}
#P71_164
{
left:7499.78px;bottom:32912.1px;
}
#P71_165
{
left:7993.73px;bottom:32912.1px;
}
#P71_166
{
left:8125.44px;bottom:32912.1px;
}
#P71_167
{
left:8471.55px;bottom:32912.1px;
}
#P71_168
{
left:8702.08px;bottom:32912.1px;
}
#P71_169
{
left:9044.1px;bottom:32912.1px;
}
#P71_170
{
left:9208.77px;bottom:32912.1px;
}
#P71_171
{
left:9485.57px;bottom:32912.1px;
}
#P71_172
{
left:9762.37px;bottom:32912.1px;
}
#P71_173
{
left:9963.26px;bottom:32912.1px;
}
#P71_174
{
left:10195.1px;bottom:32912.1px;
}
#P71_175
{
left:10326.8px;bottom:32912.1px;
}
#P71_176
{
left:10527.7px;bottom:32912.1px;
}
#P71_177
{
left:10879.2px;bottom:32912.1px;
}
#P71_178
{
left:11165.5px;bottom:32912.1px;
}
#P71_179
{
left:11366.4px;bottom:32912.1px;
}
#P71_180
{
left:11498.1px;bottom:32912.1px;
}
#P71_181
{
left:11699.1px;bottom:32912.1px;
}
#P71_182
{
left:12050.5px;bottom:32912.1px;
}
#P71_183
{
left:12326px;bottom:32912.1px;
}
#P71_184
{
left:12457.7px;bottom:32912.1px;
}
#P71_185
{
left:12813.4px;bottom:32912.1px;
}
#P71_186
{
left:13169.5px;bottom:32912.1px;
}
#P71_187
{
left:13716.5px;bottom:32912.1px;
}
#P71_188
{
left:5216px;bottom:32016.3px;letter-spacing:-154.6px;
}
#P71_189
{
left:5216px;bottom:32016.3px;
}
#P71_190
{
left:5564.03px;bottom:32016.3px;
}
#P71_191
{
left:5844.32px;bottom:32016.3px;
}
#P71_192
{
left:6230.05px;bottom:32016.3px;
}
#P71_193
{
left:6575.42px;bottom:32016.3px;
}
#P71_194
{
left:6793.73px;bottom:32016.3px;
}
#P71_195
{
left:6932.8px;bottom:32016.3px;
}
#P71_196
{
left:7290.94px;bottom:32016.3px;
}
#P71_197
{
left:7574.46px;bottom:32016.3px;
}
#P71_198
{
left:7918.66px;bottom:32016.3px;
}
#P71_199
{
left:8864.13px;bottom:32016.3px;
}
#P71_200
{
left:9312.38px;bottom:32016.3px;
}
#P71_201
{
left:9657.86px;bottom:32016.3px;
}
#P71_202
{
left:9907.07px;bottom:32016.3px;
}
#P71_203
{
left:10424.6px;bottom:32016.3px;
}
#P71_204
{
left:10890.9px;bottom:32016.3px;
}
#P71_205
{
left:11422.6px;bottom:32016.3px;
}
#P71_206
{
left:11844px;bottom:32016.3px;
}
#P71_207
{
left:12310.1px;bottom:32016.3px;
}
#P71_208
{
left:5216px;bottom:31120.5px;
}
#P71_209
{
left:6390.59px;bottom:31120.5px;
}
#P71_210
{
left:6674.75px;bottom:31120.5px;
}
#P71_211
{
left:6876.54px;bottom:31120.5px;
}
#P71_212
{
left:7536.45px;bottom:31120.5px;
}
#P71_213
{
left:8002.69px;bottom:31120.5px;
}
#P71_214
{
left:8354.11px;bottom:31120.5px;
}
#P71_215
{
left:8662.53px;bottom:31120.5px;
}
#P71_216
{
left:10611.3px;bottom:31120.5px;
}
#P71_217
{
left:10962.9px;bottom:31120.5px;
}
#P71_218
{
left:12017.9px;bottom:31120.5px;
}
#P71_219
{
left:5216px;bottom:30224.8px;letter-spacing:-7.4px;
}
#P71_220
{
left:5855.07px;bottom:30224.8px;
}
#P71_221
{
left:5994.18px;bottom:30224.8px;
}
#P71_222
{
left:5216px;bottom:28559.4px;letter-spacing:11.4px;
}
#P71_223
{
left:5800.05px;bottom:28559.4px;letter-spacing:11.4px;
}
#P71_224
{
left:6222.61px;bottom:28559.4px;letter-spacing:11.4px;
}
#P71_225
{
left:6504.51px;bottom:28559.4px;letter-spacing:11.4px;
}
#P71_226
{
left:6774.66px;bottom:28559.4px;letter-spacing:11.4px;
}
#P71_227
{
left:7160.06px;bottom:28559.4px;letter-spacing:11.4px;
}
#P71_228
{
left:7582.66px;bottom:28559.4px;letter-spacing:11.4px;
}
#P71_229
{
left:7851.58px;bottom:28524.4px;
}
#P71_230
{
left:8037.06px;bottom:28559.4px;letter-spacing:33.6px;
}
#P71_231
{
left:9031.87px;bottom:28524.4px;
}
#P71_232
{
left:9250.94px;bottom:28524.4px;
}
#P71_233
{
left:5216px;bottom:27919.4px;letter-spacing:33.6px;
}
#P71_234
{
left:6236.58px;bottom:27919.4px;letter-spacing:33.6px;
}
#P71_235
{
left:7082.05px;bottom:27884.4px;
}
#P71_236
{
left:7267.52px;bottom:27919.4px;letter-spacing:33.6px;
}
#P71_237
{
left:5216px;bottom:26814.7px;
}
#P71_238
{
left:5707.83px;bottom:26814.7px;
}
#P71_239
{
left:6527.62px;bottom:26814.7px;
}
#P71_240
{
left:6811.84px;bottom:26814.7px;
}
#P71_241
{
left:7013.5px;bottom:26814.7px;
}
#P71_242
{
left:7673.41px;bottom:26814.7px;
}
#P71_243
{
left:8510.72px;bottom:26814.7px;
}
#P71_244
{
left:8683.39px;bottom:26814.7px;
}
#P71_245
{
left:9238.46px;bottom:26814.7px;
}
#P71_246
{
left:9979.01px;bottom:26814.7px;
}
#P71_247
{
left:10535.4px;bottom:26814.7px;
}
#P71_248
{
left:10967.5px;bottom:26814.7px;
}
#P71_249
{
left:11679.8px;bottom:26814.7px;
}
#P71_250
{
left:12788.7px;bottom:26814.7px;
}
#P71_251
{
left:13072.2px;bottom:26814.7px;
}
#P71_252
{
left:13352.4px;bottom:26814.7px;
}
#P71_253
{
left:5216px;bottom:25918.8px;
}
#P71_254
{
left:5425.6px;bottom:25918.8px;
}
#P71_255
{
left:6692.29px;bottom:25918.8px;
}
#P71_256
{
left:8699.58px;bottom:25918.8px;
}
#P71_257
{
left:9905.15px;bottom:25918.8px;
}
#P71_258
{
left:10592.6px;bottom:25918.8px;
}
#P71_259
{
left:10876.2px;bottom:25918.8px;
}
#P71_260
{
left:11159.7px;bottom:25918.8px;
}
#P71_261
{
left:11745px;bottom:25918.8px;
}
#P71_262
{
left:12103.1px;bottom:25918.8px;
}
#P71_263
{
left:12386.7px;bottom:25918.8px;
}
#P71_264
{
left:12730.8px;bottom:25918.8px;
}
#P71_265
{
left:5216px;bottom:25023.1px;
}
#P71_266
{
left:5561.47px;bottom:25023.1px;
}
#P71_267
{
left:5779.67px;bottom:25023.1px;
}
#P71_268
{
left:5918.78px;bottom:25023.1px;
}
#P71_269
{
left:6384.41px;bottom:25023.1px;
}
#P71_270
{
left:6692.86px;bottom:25023.1px;
}
#P71_271
{
left:7290.94px;bottom:25023.1px;
}
#P71_272
{
left:7950.85px;bottom:25023.1px;
}
#P71_273
{
left:9104.64px;bottom:25023.1px;
}
#P71_274
{
left:9540.1px;bottom:25023.1px;
}
#P71_275
{
left:9885.57px;bottom:25023.1px;
}
#P71_276
{
left:10578.4px;bottom:25023.1px;
}
#P71_277
{
left:11044px;bottom:25023.1px;
}
#P71_278
{
left:11352.5px;bottom:25023.1px;
}
#P71_279
{
left:11624px;bottom:25023.1px;
}
#P71_280
{
left:12701.2px;bottom:25023.1px;
}
#P71_281
{
left:5216px;bottom:24127.3px;
}
#P71_282
{
left:5427.61px;bottom:24127.3px;
}
#P71_283
{
left:5681.56px;bottom:24127.3px;
}
#P71_284
{
left:6522.37px;bottom:24127.3px;
}
#P71_285
{
left:6661.44px;bottom:24127.3px;
}
#P71_286
{
left:7069.95px;bottom:24127.3px;
}
#P71_287
{
left:7849.47px;bottom:24127.3px;
}
#P71_288
{
left:8673.98px;bottom:24127.3px;
}
#P71_289
{
left:8841.34px;bottom:24127.3px;
}
#P71_290
{
left:9280.83px;bottom:24127.3px;
}
#P71_291
{
left:9829.12px;bottom:24127.3px;
}
#P71_292
{
left:10739px;bottom:24127.3px;
}
#P71_293
{
left:10940.1px;bottom:24127.3px;
}
#P71_294
{
left:11285.6px;bottom:24127.3px;
}
#P71_295
{
left:12217px;bottom:24127.3px;
}
#P71_296
{
left:12562.4px;bottom:24127.3px;
}
#P71_297
{
left:12780.6px;bottom:24127.3px;
}
#P71_298
{
left:5216px;bottom:23231.6px;
}
#P71_299
{
left:6390.59px;bottom:23231.6px;
}
#P71_300
{
left:6674.75px;bottom:23231.6px;
}
#P71_301
{
left:6876.54px;bottom:23231.6px;
}
#P71_302
{
left:7536.45px;bottom:23231.6px;
}
#P71_303
{
left:8359.04px;bottom:23231.6px;
}
#P71_304
{
left:8525.06px;bottom:23231.6px;
}
#P71_305
{
left:9240.83px;bottom:23231.6px;
}
#P71_306
{
left:9662.14px;bottom:23231.6px;
}
#P71_307
{
left:9939.78px;bottom:23231.6px;
}
#P71_308
{
left:10239.6px;bottom:23231.6px;
}
#P71_309
{
left:10512.4px;bottom:23231.6px;
}
#P71_310
{
left:11443.9px;bottom:23231.6px;
}
#P71_311
{
left:11740.3px;bottom:23231.6px;
}
#P71_312
{
left:12161.7px;bottom:23231.6px;
}
#P71_313
{
left:12778.6px;bottom:23231.6px;
}
#P71_314
{
left:13617.2px;bottom:23231.6px;
}
#P71_315
{
left:5216px;bottom:22335.7px;
}
#P71_316
{
left:5425.6px;bottom:22335.7px;
}
#P71_317
{
left:5949.82px;bottom:22335.7px;
}
#P71_318
{
left:6457.98px;bottom:22335.7px;
}
#P71_319
{
left:6597.12px;bottom:22335.7px;
}
#P71_320
{
left:7587.01px;bottom:22335.7px;
}
#P71_321
{
left:8174.46px;bottom:22335.7px;
}
#P71_322
{
left:8313.6px;bottom:22335.7px;
}
#P71_323
{
left:8667.78px;bottom:22335.7px;
}
#P71_324
{
left:9702.66px;bottom:22335.7px;
}
#P71_325
{
left:9982.98px;bottom:22335.7px;
}
#P71_326
{
left:10191.9px;bottom:22335.7px;
}
#P71_327
{
left:10333.3px;bottom:22335.7px;
}
#P71_328
{
left:10472.4px;bottom:22335.7px;
}
#P71_329
{
left:10923.5px;bottom:22335.7px;
}
#P71_330
{
left:11205px;bottom:22335.7px;
}
#P71_331
{
left:11698.2px;bottom:22335.7px;
}
#P71_332
{
left:12403.2px;bottom:22335.7px;
}
#P71_333
{
left:13538.3px;bottom:22335.7px;
}
#P71_334
{
left:5216px;bottom:21440px;
}
#P71_335
{
left:5491.65px;bottom:21440px;
}
#P71_336
{
left:6814.91px;bottom:21440px;
}
#P71_337
{
left:7474.82px;bottom:21440px;
}
#P71_338
{
left:8159.55px;bottom:21440px;
}
#P71_339
{
left:8476.67px;bottom:21440px;
}
#P71_340
{
left:9418.18px;bottom:21440px;
}
#P71_341
{
left:9926.34px;bottom:21440px;
}
#P71_342
{
left:10065.4px;bottom:21440px;
}
#P71_343
{
left:10766.3px;bottom:21440px;
}
#P71_344
{
left:12037.8px;bottom:21440px;
}
#P71_345
{
left:12176.9px;bottom:21440px;
}
#P71_346
{
left:5216px;bottom:20544.3px;
}
#P71_347
{
left:5572.76px;bottom:20544.3px;
}
#P71_348
{
left:6920.9px;bottom:20544.3px;
}
#P71_349
{
left:7088.19px;bottom:20544.3px;
}
#P71_350
{
left:7527.68px;bottom:20544.3px;
}
#P71_351
{
left:7799.17px;bottom:20544.3px;
}
#P71_352
{
left:8144.64px;bottom:20544.3px;
}
#P71_353
{
left:9132.61px;bottom:20544.3px;
}
#P71_354
{
left:9271.74px;bottom:20544.3px;
}
#P71_355
{
left:9662.91px;bottom:20544.3px;
}
#P71_356
{
left:10181.6px;bottom:20544.3px;
}
#P71_357
{
left:10531px;bottom:20544.3px;
}
#P71_358
{
left:11024.9px;bottom:20544.3px;
}
#P71_359
{
left:11340.7px;bottom:20544.3px;
}
#P71_360
{
left:11506.8px;bottom:20544.3px;
}
#P71_361
{
left:12141.2px;bottom:20544.3px;
}
#P71_362
{
left:5216px;bottom:19648.4px;
}
#P71_363
{
left:5417.73px;bottom:19648.4px;
}
#P71_364
{
left:6523.84px;bottom:19648.4px;
}
#P71_365
{
left:7603.07px;bottom:19648.4px;
}
#P71_366
{
left:7955.97px;bottom:19648.4px;
}
#P71_367
{
left:8240.13px;bottom:19648.4px;
}
#P71_368
{
left:8441.86px;bottom:19648.4px;
}
#P71_369
{
left:8725.44px;bottom:19648.4px;
}
#P71_370
{
left:9008.96px;bottom:19648.4px;
}
#P71_371
{
left:9355.71px;bottom:19648.4px;
}
#P71_372
{
left:10530.3px;bottom:19648.4px;
}
#P71_373
{
left:10814.6px;bottom:19648.4px;
}
#P71_374
{
left:11016.3px;bottom:19648.4px;
}
#P71_375
{
left:11676.2px;bottom:19648.4px;
}
#P71_376
{
left:12361px;bottom:19648.4px;
}
#P71_377
{
left:12657.4px;bottom:19648.4px;
}
#P71_378
{
left:12937.7px;bottom:19648.4px;
}
#P71_379
{
left:13202.3px;bottom:19648.4px;
}
#P71_380
{
left:5216px;bottom:18752.6px;
}
#P71_381
{
left:6040.48px;bottom:18752.6px;
}
#P71_382
{
left:6207.8px;bottom:18752.6px;
}
#P71_383
{
left:6647.3px;bottom:18752.6px;
}
#P71_384
{
left:7691.58px;bottom:18752.6px;
}
#P71_385
{
left:8353.66px;bottom:18752.6px;
}
#P71_386
{
left:8492.74px;bottom:18752.6px;
}
#P71_387
{
left:8840.83px;bottom:18752.6px;
}
#P71_388
{
left:9121.73px;bottom:18752.6px;
}
#P71_389
{
left:9318.02px;bottom:18752.6px;
}
#P71_390
{
left:9663.42px;bottom:18752.6px;
}
#P71_391
{
left:9902.08px;bottom:18752.6px;
}
#P71_392
{
left:10323.4px;bottom:18752.6px;
}
#P71_393
{
left:10871.7px;bottom:18752.6px;
}
#P71_394
{
left:11781.6px;bottom:18752.6px;
}
#P71_395
{
left:11982.7px;bottom:18752.6px;
}
#P71_396
{
left:12328.1px;bottom:18752.6px;
}
#P71_397
{
left:5216px;bottom:17856.9px;
}
#P71_398
{
left:5861.86px;bottom:17856.9px;
}
#P71_399
{
left:6219.9px;bottom:17856.9px;
}
#P71_400
{
left:7004.22px;bottom:17856.9px;
}
#P71_401
{
left:7145.47px;bottom:17856.9px;
}
#P71_402
{
left:7284.54px;bottom:17856.9px;
}
#P71_403
{
left:7776.38px;bottom:17856.9px;
}
#P71_404
{
left:8596.16px;bottom:17856.9px;
}
#P71_405
{
left:8880.45px;bottom:17856.9px;
}
#P71_406
{
left:9082.18px;bottom:17856.9px;
}
#P71_407
{
left:10086.8px;bottom:17856.9px;
}
#P71_408
{
left:10370.4px;bottom:17856.9px;
}
#P71_409
{
left:11034.4px;bottom:17856.9px;
}
#P71_410
{
left:11318px;bottom:17856.9px;
}
#P71_411
{
left:14730.8px;bottom:35363.8px;
}
#P71_412
{
left:15002.4px;bottom:35363.8px;
}
#P71_413
{
left:15347.8px;bottom:35363.8px;
}
#P71_414
{
left:17387.3px;bottom:35363.8px;
}
#P71_415
{
left:17911.5px;bottom:35363.8px;
}
#P71_416
{
left:18656.1px;bottom:35363.8px;
}
#P71_417
{
left:19861.6px;bottom:35363.8px;
}
#P71_418
{
left:20697px;bottom:35363.8px;
}
#P71_419
{
left:21136.5px;bottom:35363.8px;
}
#P71_420
{
left:21489.3px;bottom:35363.8px;
}
#P71_421
{
left:21776.2px;bottom:35363.8px;
}
#P71_422
{
left:22072.6px;bottom:35363.8px;
}
#P71_423
{
left:22356.2px;bottom:35363.8px;
}
#P71_424
{
left:22869.6px;bottom:35363.8px;
}
#P71_425
{
left:14730.8px;bottom:34468.1px;
}
#P71_426
{
left:15070.8px;bottom:34468.1px;
}
#P71_427
{
left:15367.3px;bottom:34468.1px;
}
#P71_428
{
left:15647.6px;bottom:34468.1px;
}
#P71_429
{
left:16033.3px;bottom:34468.1px;
}
#P71_430
{
left:16465.4px;bottom:34468.1px;
}
#P71_431
{
left:16827.7px;bottom:34468.1px;
}
#P71_432
{
left:18092.4px;bottom:34468.1px;
}
#P71_433
{
left:18372.6px;bottom:34468.1px;
}
#P71_434
{
left:18758.3px;bottom:34468.1px;
}
#P71_435
{
left:19103.7px;bottom:34468.1px;
}
#P71_436
{
left:19322px;bottom:34468.1px;
}
#P71_437
{
left:19461.1px;bottom:34468.1px;
}
#P71_438
{
left:19753.5px;bottom:34468.1px;
}
#P71_439
{
left:20574px;bottom:34468.1px;
}
#P71_440
{
left:20951.6px;bottom:34468.1px;
}
#P71_441
{
left:21774.2px;bottom:34468.1px;
}
#P71_442
{
left:21940.3px;bottom:34468.1px;
}
#P71_443
{
left:22656px;bottom:34468.1px;
}
#P71_444
{
left:14730.8px;bottom:33572.3px;
}
#P71_445
{
left:15075.6px;bottom:33572.3px;
}
#P71_446
{
left:17412.9px;bottom:33572.3px;
}
#P71_447
{
left:17552.1px;bottom:33572.3px;
}
#P71_448
{
left:19069.2px;bottom:33572.3px;
}
#P71_449
{
left:19508.7px;bottom:33572.3px;
}
#P71_450
{
left:20344.9px;bottom:33572.3px;
}
#P71_451
{
left:20946.4px;bottom:33572.3px;
}
#P71_452
{
left:21369.9px;bottom:33572.3px;
}
#P71_453
{
left:21509px;bottom:33572.3px;
}
#P71_454
{
left:21780.5px;bottom:33572.3px;
}
#P71_455
{
left:22126px;bottom:33572.3px;
}
#P71_456
{
left:22363.1px;bottom:33572.3px;
}
#P71_457
{
left:22710.6px;bottom:33572.3px;
}
#P71_458
{
left:14730.8px;bottom:32676.5px;
}
#P71_459
{
left:15655.4px;bottom:32676.5px;
}
#P71_460
{
left:16094.8px;bottom:32676.5px;
}
#P71_461
{
left:17286.2px;bottom:32676.5px;
}
#P71_462
{
left:17633px;bottom:32676.5px;
}
#P71_463
{
left:19642.4px;bottom:32676.5px;
}
#P71_464
{
left:19781.4px;bottom:32676.5px;
}
#P71_465
{
left:20231.6px;bottom:32676.5px;
}
#P71_466
{
left:20468.9px;bottom:32676.5px;
}
#P71_467
{
left:21133.6px;bottom:32676.5px;
}
#P71_468
{
left:21557.1px;bottom:32676.5px;
}
#P71_469
{
left:21696.2px;bottom:32676.5px;
}
#P71_470
{
left:14730.8px;bottom:31780.7px;
}
#P71_471
{
left:15249.7px;bottom:31780.7px;
}
#P71_472
{
left:15503.6px;bottom:31780.7px;
}
#P71_473
{
left:16770.4px;bottom:31780.7px;
}
#P71_474
{
left:17512.3px;bottom:31780.7px;
}
#P71_475
{
left:17795.8px;bottom:31780.7px;
}
#P71_476
{
left:18079.4px;bottom:31780.7px;
}
#P71_477
{
left:18289px;bottom:31780.7px;
}
#P71_478
{
left:18813.1px;bottom:31780.7px;
}
#P71_479
{
left:19557.7px;bottom:31780.7px;
}
#P71_480
{
left:20763.3px;bottom:31780.7px;
}
#P71_481
{
left:21598.6px;bottom:31780.7px;
}
#P71_482
{
left:22038.1px;bottom:31780.7px;
}
#P71_483
{
left:22783.9px;bottom:31780.7px;
}
#P71_484
{
left:14730.8px;bottom:30884.9px;
}
#P71_485
{
left:14931.9px;bottom:30884.9px;
}
#P71_486
{
left:15418.4px;bottom:30884.9px;
}
#P71_487
{
left:16980.9px;bottom:30884.9px;
}
#P71_488
{
left:17691.1px;bottom:30884.9px;
}
#P71_489
{
left:18215.3px;bottom:30884.9px;
}
#P71_490
{
left:18721.3px;bottom:30884.9px;
}
#P71_491
{
left:19066.8px;bottom:30884.9px;
}
#P71_492
{
left:19285px;bottom:30884.9px;
}
#P71_493
{
left:19424.1px;bottom:30884.9px;
}
#P71_494
{
left:19625.2px;bottom:30884.9px;
}
#P71_495
{
left:19974.6px;bottom:30884.9px;
}
#P71_496
{
left:20636.7px;bottom:30884.9px;
}
#P71_497
{
left:20775.7px;bottom:30884.9px;
}
#P71_498
{
left:20972px;bottom:30884.9px;
}
#P71_499
{
left:21255.6px;bottom:30884.9px;
}
#P71_500
{
left:21539.8px;bottom:30884.9px;
}
#P71_501
{
left:21888.6px;bottom:30884.9px;
}
#P71_502
{
left:22027.8px;bottom:30884.9px;
}
#P71_503
{
left:22373.2px;bottom:30884.9px;
}
#P71_504
{
left:14730.8px;bottom:29989.2px;
}
#P71_505
{
left:15185px;bottom:29989.2px;
}
#P71_506
{
left:15495.4px;bottom:29989.2px;
}
#P71_507
{
left:15875.3px;bottom:29989.2px;
}
#P71_508
{
left:16001.1px;bottom:29989.2px;
}
#P71_509
{
left:16429.9px;bottom:29989.2px;
}
#P71_510
{
left:16781.4px;bottom:29989.2px;
}
#P71_511
{
left:17220.9px;bottom:29989.2px;
}
#P71_512
{
left:17566.3px;bottom:29989.2px;
}
#P71_513
{
left:17784.6px;bottom:29989.2px;
}
#P71_514
{
left:17923.7px;bottom:29989.2px;
}
#P71_515
{
left:19431.7px;bottom:29989.2px;
}
#P71_516
{
left:20510.9px;bottom:29989.2px;
}
#P71_517
{
left:20749.5px;bottom:29989.2px;
}
#P71_518
{
left:21268.4px;bottom:29989.2px;
}
#P71_519
{
left:22147.3px;bottom:29989.2px;
}
#P71_520
{
left:14730.8px;bottom:29093.4px;
}
#P71_521
{
left:16140px;bottom:29093.4px;
}
#P71_522
{
left:16883.3px;bottom:29093.4px;
}
#P71_523
{
left:17142.1px;bottom:29093.4px;
}
#P71_524
{
left:17283.4px;bottom:29093.4px;
}
#P71_525
{
left:14730.8px;bottom:27733.2px;
}
#P71_526
{
left:15222.7px;bottom:27733.2px;
}
#P71_527
{
left:16042.4px;bottom:27733.2px;
}
#P71_528
{
left:16326.7px;bottom:27733.2px;
}
#P71_529
{
left:16528.4px;bottom:27733.2px;
}
#P71_530
{
left:17188.4px;bottom:27733.2px;
}
#P71_531
{
left:18211.6px;bottom:27733.2px;
}
#P71_532
{
left:18930.7px;bottom:27733.2px;
}
#P71_533
{
left:19516px;bottom:27733.2px;
}
#P71_534
{
left:20503.2px;bottom:27733.2px;
}
#P71_535
{
left:20851.3px;bottom:27733.2px;
}
#P71_536
{
left:21200.6px;bottom:27733.2px;
}
#P71_537
{
left:21550.8px;bottom:27733.2px;
}
#P71_538
{
left:21979.6px;bottom:27733.2px;
}
#P71_539
{
left:14730.8px;bottom:26837.5px;
}
#P71_540
{
left:15368px;bottom:26837.5px;
}
#P71_541
{
left:16111.1px;bottom:26837.5px;
}
#P71_542
{
left:16550.6px;bottom:26837.5px;
}
#P71_543
{
left:16751.7px;bottom:26837.5px;
}
#P71_544
{
left:17238.3px;bottom:26837.5px;
}
#P71_545
{
left:17591.1px;bottom:26837.5px;
}
#P71_546
{
left:17828.4px;bottom:26837.5px;
}
#P71_547
{
left:18177.7px;bottom:26837.5px;
}
#P71_548
{
left:18450.6px;bottom:26837.5px;
}
#P71_549
{
left:19349.1px;bottom:26837.5px;
}
#P71_550
{
left:19585.7px;bottom:26837.5px;
}
#P71_551
{
left:20258.2px;bottom:26837.5px;
}
#P71_552
{
left:20796.5px;bottom:26837.5px;
}
#P71_553
{
left:21174.2px;bottom:26837.5px;
}
#P71_554
{
left:22328px;bottom:26837.5px;
}
#P71_555
{
left:14730.8px;bottom:25941.7px;
}
#P71_556
{
left:16189px;bottom:25941.7px;
}
#P71_557
{
left:16682.9px;bottom:25941.7px;
}
#P71_558
{
left:17021.6px;bottom:25941.7px;
}
#P71_559
{
left:17461.1px;bottom:25941.7px;
}
#P71_560
{
left:17893.2px;bottom:25941.7px;
}
#P71_561
{
left:18237.2px;bottom:25941.7px;
}
#P71_562
{
left:18475.9px;bottom:25941.7px;
}
#P71_563
{
left:19732px;bottom:25941.7px;
}
#P71_564
{
left:20069.4px;bottom:25941.7px;
}
#P71_565
{
left:20535.7px;bottom:25941.7px;
}
#P71_566
{
left:21041.7px;bottom:25941.7px;
}
#P71_567
{
left:21726.5px;bottom:25941.7px;
}
#P71_568
{
left:14730.8px;bottom:25046px;
}
#P71_569
{
left:15443.3px;bottom:25046px;
}
#P71_570
{
left:15694.4px;bottom:25046px;
}
#P71_571
{
left:16849.6px;bottom:25046px;
}
#P71_572
{
left:18061.1px;bottom:25046px;
}
#P71_573
{
left:18270.7px;bottom:25046px;
}
#P71_574
{
left:18794.9px;bottom:25046px;
}
#P71_575
{
left:19301px;bottom:25046px;
}
#P71_576
{
left:19646.4px;bottom:25046px;
}
#P71_577
{
left:19864.6px;bottom:25046px;
}
#P71_578
{
left:20003.8px;bottom:25046px;
}
#P71_579
{
left:20276.6px;bottom:25046px;
}
#P71_580
{
left:20556.9px;bottom:25046px;
}
#P71_581
{
left:20814.8px;bottom:25046px;
}
#P71_582
{
left:22000.2px;bottom:25046px;
}
#P71_583
{
left:22273px;bottom:25046px;
}
#P71_584
{
left:22556.5px;bottom:25046px;
}
#P71_585
{
left:22729.2px;bottom:25046px;
}
#P71_586
{
left:23278.3px;bottom:25046px;
}
#P71_587
{
left:14730.8px;bottom:24150.1px;
}
#P71_588
{
left:15139.3px;bottom:24150.1px;
}
#P71_589
{
left:15777.8px;bottom:24150.1px;
}
#P71_590
{
left:16016.4px;bottom:24150.1px;
}
#P71_591
{
left:16437.7px;bottom:24150.1px;
}
#P71_592
{
left:16969.3px;bottom:24150.1px;
}
#P71_593
{
left:17390.6px;bottom:24150.1px;
}
#P71_594
{
left:18046.5px;bottom:24150.1px;
}
#P71_595
{
left:18533px;bottom:24150.1px;
}
#P71_596
{
left:18804.5px;bottom:24150.1px;
}
#P71_597
{
left:19150px;bottom:24150.1px;
}
#P71_598
{
left:20602.9px;bottom:24150.1px;
}
#P71_599
{
left:21108.9px;bottom:24150.1px;
}
#P71_600
{
left:21325.3px;bottom:24150.1px;
}
#P71_601
{
left:21639.8px;bottom:24150.1px;
}
#P71_602
{
left:21997.8px;bottom:24150.1px;
}
#P71_603
{
left:22657.7px;bottom:24150.1px;
}
#P71_604
{
left:23003.3px;bottom:24150.1px;
}
#P71_605
{
left:23221.5px;bottom:24150.1px;
}
#P71_606
{
left:14730.8px;bottom:23254.4px;
}
#P71_607
{
left:15905.4px;bottom:23254.4px;
}
#P71_608
{
left:16189.6px;bottom:23254.4px;
}
#P71_609
{
left:16391.4px;bottom:23254.4px;
}
#P71_610
{
left:17053.4px;bottom:23254.4px;
}
#P71_611
{
left:17192.5px;bottom:23254.4px;
}
#P71_612
{
left:17540.6px;bottom:23254.4px;
}
#P71_613
{
left:18593px;bottom:23254.4px;
}
#P71_614
{
left:18938.4px;bottom:23254.4px;
}
#P71_615
{
left:19156.7px;bottom:23254.4px;
}
#P71_616
{
left:19295.8px;bottom:23254.4px;
}
#P71_617
{
left:19754.6px;bottom:23254.4px;
}
#P71_618
{
left:20567.2px;bottom:23254.4px;
}
#P71_619
{
left:21064.5px;bottom:23254.4px;
}
#P71_620
{
left:21593.4px;bottom:23254.4px;
}
#P71_621
{
left:21889.2px;bottom:23254.4px;
}
#P71_622
{
left:22399.4px;bottom:23254.4px;
}
#P71_623
{
left:22695.8px;bottom:23254.4px;
}
#P71_624
{
left:14730.8px;bottom:22358.6px;
}
#P71_625
{
left:15582.2px;bottom:22358.6px;
}
#P71_626
{
left:16079.5px;bottom:22358.6px;
}
#P71_627
{
left:16535.6px;bottom:22358.6px;
}
#P71_628
{
left:16832.1px;bottom:22358.6px;
}
#P71_629
{
left:17115.6px;bottom:22358.6px;
}
#P71_630
{
left:17662.7px;bottom:22358.6px;
}
#P71_631
{
left:18008.1px;bottom:22358.6px;
}
#P71_632
{
left:18226.4px;bottom:22358.6px;
}
#P71_633
{
left:18365.5px;bottom:22358.6px;
}
#P71_634
{
left:18681.3px;bottom:22358.6px;
}
#P71_635
{
left:18847.4px;bottom:22358.6px;
}
#P71_636
{
left:19481.7px;bottom:22358.6px;
}
#P71_637
{
left:20489.1px;bottom:22358.6px;
}
#P71_638
{
left:21173.8px;bottom:22358.6px;
}
#P71_639
{
left:14730.8px;bottom:21462.8px;
}
#P71_640
{
left:15075.6px;bottom:21462.8px;
}
#P71_641
{
left:15594.4px;bottom:21462.8px;
}
#P71_642
{
left:15943.7px;bottom:21462.8px;
}
#P71_643
{
left:16439.8px;bottom:21462.8px;
}
#P71_644
{
left:16578.9px;bottom:21462.8px;
}
#P71_645
{
left:16987.4px;bottom:21462.8px;
}
#P71_646
{
left:17766.9px;bottom:21462.8px;
}
#P71_647
{
left:18379.8px;bottom:21462.8px;
}
#P71_648
{
left:18967.3px;bottom:21462.8px;
}
#P71_649
{
left:19106.4px;bottom:21462.8px;
}
#P71_650
{
left:19456.5px;bottom:21462.8px;
}
#P71_651
{
left:19771px;bottom:21462.8px;
}
#P71_652
{
left:20129.1px;bottom:21462.8px;
}
#P71_653
{
left:20550.5px;bottom:21462.8px;
}
#P71_654
{
left:20915.3px;bottom:21462.8px;
}
#P71_655
{
left:22089.9px;bottom:21462.8px;
}
#P71_656
{
left:22374.1px;bottom:21462.8px;
}
#P71_657
{
left:22575.9px;bottom:21462.8px;
}
#P71_658
{
left:23237.9px;bottom:21462.8px;
}
#P71_659
{
left:14730.8px;bottom:20567px;
}
#P71_660
{
left:15080.2px;bottom:20567px;
}
#P71_661
{
left:15353px;bottom:20567px;
}
#P71_662
{
left:16241.5px;bottom:20567px;
}
#P71_663
{
left:16619.1px;bottom:20567px;
}
#P71_664
{
left:17078.1px;bottom:20567px;
}
#P71_665
{
left:17716.5px;bottom:20567px;
}
#P71_666
{
left:18222.5px;bottom:20567px;
}
#P71_667
{
left:19209.7px;bottom:20567px;
}
#P71_668
{
left:19557.8px;bottom:20567px;
}
#P71_669
{
left:19907.2px;bottom:20567px;
}
#P71_670
{
left:20257.3px;bottom:20567px;
}
#P71_671
{
left:20686.2px;bottom:20567px;
}
#P71_672
{
left:21063.9px;bottom:20567px;
}
#P71_673
{
left:22346.2px;bottom:20567px;
}
#P71_674
{
left:14730.8px;bottom:19671.3px;
}
#P71_675
{
left:15267.8px;bottom:19671.3px;
}
#P71_676
{
left:15708.1px;bottom:19671.3px;
}
#P71_677
{
left:15988.4px;bottom:19671.3px;
}
#P71_678
{
left:16681.2px;bottom:19671.3px;
}
#P71_679
{
left:17034px;bottom:19671.3px;
}
#P71_680
{
left:17766.4px;bottom:19671.3px;
}
#P71_681
{
left:18003.7px;bottom:19671.3px;
}
#P71_682
{
left:18340.4px;bottom:19671.3px;
}
#P71_683
{
left:18638.8px;bottom:19671.3px;
}
#P71_684
{
left:19016.5px;bottom:19671.3px;
}
#P71_685
{
left:20003.7px;bottom:19671.3px;
}
#P71_686
{
left:20276.5px;bottom:19671.3px;
}
#P71_687
{
left:20560.1px;bottom:19671.3px;
}
#P71_688
{
left:20732.7px;bottom:19671.3px;
}
#P71_689
{
left:21279.7px;bottom:19671.3px;
}
#P71_690
{
left:21964.5px;bottom:19671.3px;
}
#P71_691
{
left:14730.8px;bottom:18775.5px;
}
#P71_692
{
left:16264.3px;bottom:18775.5px;
}
#P71_693
{
left:17217.2px;bottom:18775.5px;
}
#P71_694
{
left:18422.8px;bottom:18775.5px;
}
#P71_695
{
left:18775.7px;bottom:18775.5px;
}
#P71_696
{
left:19013px;bottom:18775.5px;
}
#P71_697
{
left:19362.4px;bottom:18775.5px;
}
#P71_698
{
left:19715.1px;bottom:18775.5px;
}
#P71_699
{
left:20350.9px;bottom:18775.5px;
}
#P71_700
{
left:20772.3px;bottom:18775.5px;
}
#P71_701
{
left:21554.6px;bottom:18775.5px;
}
#P71_702
{
left:22773.7px;bottom:18775.5px;
}
#P71_703
{
left:14730.8px;bottom:17879.7px;
}
#P71_704
{
left:15718px;bottom:17879.7px;
}
#P71_705
{
left:16421.6px;bottom:17879.7px;
}
#P71_706
{
left:16672.8px;bottom:17879.7px;
}
#P71_707
{
left:17572px;bottom:17879.7px;
}
#P71_708
{
left:18360.3px;bottom:17879.7px;
}
#P71_709
{
left:19565.9px;bottom:17879.7px;
}
#P71_710
{
left:19804.5px;bottom:17879.7px;
}
#P71_711
{
left:20089.4px;bottom:17879.7px;
}
#P71_712
{
left:21422.8px;bottom:17879.7px;
}
#P71_713
{
left:22082.7px;bottom:17879.7px;
}
#P71_714
{
left:24245.7px;bottom:35367.9px;
}
#P71_715
{
left:24701.8px;bottom:35367.9px;
}
#P71_716
{
left:24998.3px;bottom:35367.9px;
}
#P71_717
{
left:25281.9px;bottom:35367.9px;
}
#P71_718
{
left:25590.3px;bottom:35367.9px;
}
#P71_719
{
left:25935.7px;bottom:35367.9px;
}
#P71_720
{
left:26154px;bottom:35367.9px;
}
#P71_721
{
left:26293.1px;bottom:35367.9px;
}
#P71_722
{
left:26608.8px;bottom:35367.9px;
}
#P71_723
{
left:26775px;bottom:35367.9px;
}
#P71_724
{
left:27409.4px;bottom:35367.9px;
}
#P71_725
{
left:28416.7px;bottom:35367.9px;
}
#P71_726
{
left:29101.5px;bottom:35367.9px;
}
#P71_727
{
left:30088.6px;bottom:35367.9px;
}
#P71_728
{
left:30433.4px;bottom:35367.9px;
}
#P71_729
{
left:30952.2px;bottom:35367.9px;
}
#P71_730
{
left:31301.6px;bottom:35367.9px;
}
#P71_731
{
left:31797.6px;bottom:35367.9px;
}
#P71_732
{
left:24245.7px;bottom:34472.1px;
}
#P71_733
{
left:24595.8px;bottom:34472.1px;
}
#P71_734
{
left:24910.3px;bottom:34472.1px;
}
#P71_735
{
left:25268.4px;bottom:34472.1px;
}
#P71_736
{
left:25689.7px;bottom:34472.1px;
}
#P71_737
{
left:26280.4px;bottom:34472.1px;
}
#P71_738
{
left:27455px;bottom:34472.1px;
}
#P71_739
{
left:27739.2px;bottom:34472.1px;
}
#P71_740
{
left:27940.9px;bottom:34472.1px;
}
#P71_741
{
left:28600.8px;bottom:34472.1px;
}
#P71_742
{
left:28950.2px;bottom:34472.1px;
}
#P71_743
{
left:29223px;bottom:34472.1px;
}
#P71_744
{
left:30111.4px;bottom:34472.1px;
}
#P71_745
{
left:30489.1px;bottom:34472.1px;
}
#P71_746
{
left:30948px;bottom:34472.1px;
}
#P71_747
{
left:31586.5px;bottom:34472.1px;
}
#P71_748
{
left:32092.5px;bottom:34472.1px;
}
#P71_749
{
left:24245.7px;bottom:33576.3px;
}
#P71_750
{
left:24593.7px;bottom:33576.3px;
}
#P71_751
{
left:24943.2px;bottom:33576.3px;
}
#P71_752
{
left:25293.4px;bottom:33576.3px;
}
#P71_753
{
left:25732.8px;bottom:33576.3px;
}
#P71_754
{
left:26014.4px;bottom:33576.3px;
}
#P71_755
{
left:27039.3px;bottom:33576.3px;
}
#P71_756
{
left:27425px;bottom:33576.3px;
}
#P71_757
{
left:27776.5px;bottom:33576.3px;
}
#P71_758
{
left:28126px;bottom:33576.3px;
}
#P71_759
{
left:28785.9px;bottom:33576.3px;
}
#P71_760
{
left:29847px;bottom:33576.3px;
}
#P71_761
{
left:30199.8px;bottom:33576.3px;
}
#P71_762
{
left:30437.1px;bottom:33576.3px;
}
#P71_763
{
left:30786.5px;bottom:33576.3px;
}
#P71_764
{
left:31139.3px;bottom:33576.3px;
}
#P71_765
{
left:31775px;bottom:33576.3px;
}
#P71_766
{
left:24245.7px;bottom:32680.6px;
}
#P71_767
{
left:24526px;bottom:32680.6px;
}
#P71_768
{
left:25917.6px;bottom:32680.6px;
}
#P71_769
{
left:26414.9px;bottom:32680.6px;
}
#P71_770
{
left:27197.1px;bottom:32680.6px;
}
#P71_771
{
left:28414.1px;bottom:32680.6px;
}
#P71_772
{
left:28759.6px;bottom:32680.6px;
}
#P71_773
{
left:29145.3px;bottom:32680.6px;
}
#P71_774
{
left:29742px;bottom:32680.6px;
}
#P71_775
{
left:30025.5px;bottom:32680.6px;
}
#P71_776
{
left:31271.4px;bottom:32680.6px;
}
#P71_777
{
left:31544.3px;bottom:32680.6px;
}
#P71_778
{
left:31827.9px;bottom:32680.6px;
}
#P71_779
{
left:32000.5px;bottom:32680.6px;
}
#P71_780
{
left:24245.7px;bottom:31784.8px;
}
#P71_781
{
left:24777.2px;bottom:31784.8px;
}
#P71_782
{
left:25198.6px;bottom:31784.8px;
}
#P71_783
{
left:26259.7px;bottom:31784.8px;
}
#P71_784
{
left:26498.2px;bottom:31784.8px;
}
#P71_785
{
left:27375.8px;bottom:31784.8px;
}
#P71_786
{
left:27721.3px;bottom:31784.8px;
}
#P71_787
{
left:29434.2px;bottom:31784.8px;
}
#P71_788
{
left:29635.3px;bottom:31784.8px;
}
#P71_789
{
left:30121.9px;bottom:31784.8px;
}
#P71_790
{
left:30904.1px;bottom:31784.8px;
}
#P71_791
{
left:32123.2px;bottom:31784.8px;
}
#P71_792
{
left:24245.7px;bottom:30889px;
}
#P71_793
{
left:24579.8px;bottom:30889px;
}
#P71_794
{
left:24925.2px;bottom:30889px;
}
#P71_795
{
left:25311px;bottom:30889px;
}
#P71_796
{
left:25588.6px;bottom:30889px;
}
#P71_797
{
left:27698.2px;bottom:30889px;
}
#P71_798
{
left:27837.3px;bottom:30889px;
}
#P71_799
{
left:28824.5px;bottom:30889px;
}
#P71_800
{
left:29658.5px;bottom:30889px;
}
#P71_801
{
left:30556.3px;bottom:30889px;
}
#P71_802
{
left:30808.2px;bottom:30889px;
}
#P71_803
{
left:32128px;bottom:30889px;
}
#P71_804
{
left:32473.4px;bottom:30889px;
}
#P71_805
{
left:32691.6px;bottom:30889px;
}
#P71_806
{
left:24245.7px;bottom:29993.2px;
}
#P71_807
{
left:24587.2px;bottom:29993.2px;
}
#P71_808
{
left:24883.6px;bottom:29993.2px;
}
#P71_809
{
left:25163.9px;bottom:29993.2px;
}
#P71_810
{
left:25549.6px;bottom:29993.2px;
}
#P71_811
{
left:25822.5px;bottom:29993.2px;
}
#P71_812
{
left:26106px;bottom:29993.2px;
}
#P71_813
{
left:26278.7px;bottom:29993.2px;
}
#P71_814
{
left:26825.7px;bottom:29993.2px;
}
#P71_815
{
left:27465.5px;bottom:29993.2px;
}
#P71_816
{
left:27761.9px;bottom:29993.2px;
}
#P71_817
{
left:28183.2px;bottom:29993.2px;
}
#P71_818
{
left:28536.1px;bottom:29993.2px;
}
#P71_819
{
left:28773.4px;bottom:29993.2px;
}
#P71_820
{
left:29322.5px;bottom:29993.2px;
}
#P71_821
{
left:29604.1px;bottom:29993.2px;
}
#P71_822
{
left:30288.8px;bottom:29993.2px;
}
#P71_823
{
left:30527.4px;bottom:29993.2px;
}
#P71_824
{
left:30810.9px;bottom:29993.2px;
}
#P71_825
{
left:31083.8px;bottom:29993.2px;
}
#P71_826
{
left:31365.4px;bottom:29993.2px;
}
#P71_827
{
left:31721.5px;bottom:29993.2px;
}
#P71_828
{
left:31922.6px;bottom:29993.2px;
}
#P71_829
{
left:32268px;bottom:29993.2px;
}
#P71_830
{
left:32513.3px;bottom:29993.2px;
}
#P71_831
{
left:24245.7px;bottom:29097.4px;
}
#P71_832
{
left:25451.3px;bottom:29097.4px;
}
#P71_833
{
left:25689.9px;bottom:29097.4px;
}
#P71_834
{
left:25973.4px;bottom:29097.4px;
}
#P71_835
{
left:26245px;bottom:29097.4px;
}
#P71_836
{
left:26593.7px;bottom:29097.4px;
}
#P71_837
{
left:26907.5px;bottom:29097.4px;
}
#P71_838
{
left:27724.7px;bottom:29097.4px;
}
#P71_839
{
left:28146px;bottom:29097.4px;
}
#P71_840
{
left:28928.3px;bottom:29097.4px;
}
#P71_841
{
left:30145.3px;bottom:29097.4px;
}
#P71_842
{
left:31299.1px;bottom:29097.4px;
}
#P71_843
{
left:31593.5px;bottom:29097.4px;
}
#P71_844
{
left:31876.9px;bottom:29097.4px;
}
#P71_845
{
left:32086.6px;bottom:29097.4px;
}
#P71_846
{
left:32265.3px;bottom:29097.4px;
}
#P71_847
{
left:24245.7px;bottom:28201.7px;
}
#P71_848
{
left:24553.5px;bottom:28201.7px;
}
#P71_849
{
left:25048.1px;bottom:28201.7px;
}
#P71_850
{
left:25469.5px;bottom:28201.7px;
}
#P71_851
{
left:26456.6px;bottom:28201.7px;
}
#P71_852
{
left:26772.4px;bottom:28201.7px;
}
#P71_853
{
left:26938.5px;bottom:28201.7px;
}
#P71_854
{
left:27572.9px;bottom:28201.7px;
}
#P71_855
{
left:28580.2px;bottom:28201.7px;
}
#P71_856
{
left:28791.7px;bottom:28201.7px;
}
#P71_857
{
left:29043.6px;bottom:28201.7px;
}
#P71_858
{
left:30298.9px;bottom:28201.7px;
}
#P71_859
{
left:30644.4px;bottom:28201.7px;
}
#P71_860
{
left:30902.3px;bottom:28201.7px;
}
#P71_861
{
left:31249px;bottom:28201.7px;
}
#P71_862
{
left:31601.9px;bottom:28201.7px;
}
#P71_863
{
left:31839.1px;bottom:28201.7px;
}
#P71_864
{
left:32186.5px;bottom:28201.7px;
}
#P71_865
{
left:24245.7px;bottom:27305.9px;
}
#P71_866
{
left:24447.4px;bottom:27305.9px;
}
#P71_867
{
left:24729px;bottom:27305.9px;
}
#P71_868
{
left:25413.8px;bottom:27305.9px;
}
#P71_869
{
left:26619.3px;bottom:27305.9px;
}
#P71_870
{
left:27513.1px;bottom:27305.9px;
}
#P71_871
{
left:27809.6px;bottom:27305.9px;
}
#P71_872
{
left:28469.5px;bottom:27305.9px;
}
#P71_873
{
left:28785.3px;bottom:27305.9px;
}
#P71_874
{
left:28951.4px;bottom:27305.9px;
}
#P71_875
{
left:29585.7px;bottom:27305.9px;
}
#P71_876
{
left:30593.1px;bottom:27305.9px;
}
#P71_877
{
left:31339.8px;bottom:27305.9px;
}
#P71_878
{
left:31826.3px;bottom:27305.9px;
}
#P71_879
{
left:24245.7px;bottom:26410.1px;
}
#P71_880
{
left:24518.5px;bottom:26410.1px;
}
#P71_881
{
left:24802.1px;bottom:26410.1px;
}
#P71_882
{
left:24974.7px;bottom:26410.1px;
}
#P71_883
{
left:25285.2px;bottom:26410.1px;
}
#P71_884
{
left:25424.4px;bottom:26410.1px;
}
#P71_885
{
left:25643.6px;bottom:26410.1px;
}
#P71_886
{
left:25861.8px;bottom:26410.1px;
}
#P71_887
{
left:26001px;bottom:26410.1px;
}
#P71_888
{
left:27123.2px;bottom:26410.1px;
}
#P71_889
{
left:27476.1px;bottom:26410.1px;
}
#P71_890
{
left:27713.3px;bottom:26410.1px;
}
#P71_891
{
left:28062.7px;bottom:26410.1px;
}
#P71_892
{
left:28335.6px;bottom:26410.1px;
}
#P71_893
{
left:29234px;bottom:26410.1px;
}
#P71_894
{
left:29585.6px;bottom:26410.1px;
}
#P71_895
{
left:29935px;bottom:26410.1px;
}
#P71_896
{
left:30594.9px;bottom:26410.1px;
}
#P71_897
{
left:24245.7px;bottom:25514.3px;
}
#P71_898
{
left:24693.9px;bottom:25514.3px;
}
#P71_899
{
left:25039.4px;bottom:25514.3px;
}
#P71_900
{
left:25289.9px;bottom:25514.3px;
}
#P71_901
{
left:25760.4px;bottom:25514.3px;
}
#P71_902
{
left:25899.6px;bottom:25514.3px;
}
#P71_903
{
left:26886.7px;bottom:25514.3px;
}
#P71_904
{
left:27228.2px;bottom:25514.3px;
}
#P71_905
{
left:27524.7px;bottom:25514.3px;
}
#P71_906
{
left:27804.9px;bottom:25514.3px;
}
#P71_907
{
left:28190.7px;bottom:25514.3px;
}
#P71_908
{
left:28463.5px;bottom:25514.3px;
}
#P71_909
{
left:28747px;bottom:25514.3px;
}
#P71_910
{
left:28919.7px;bottom:25514.3px;
}
#P71_911
{
left:29466.7px;bottom:25514.3px;
}
#P71_912
{
left:29818.2px;bottom:25514.3px;
}
#P71_913
{
left:30304.7px;bottom:25514.3px;
}
#P71_914
{
left:31365.8px;bottom:25514.3px;
}
#P71_915
{
left:32183.7px;bottom:25514.3px;
}
#P71_916
{
left:24245.7px;bottom:24618.6px;
}
#P71_917
{
left:25102.5px;bottom:24618.6px;
}
#P71_918
{
left:25418.2px;bottom:24618.6px;
}
#P71_919
{
left:25584.3px;bottom:24618.6px;
}
#P71_920
{
left:26218.7px;bottom:24618.6px;
}
#P71_921
{
left:27226px;bottom:24618.6px;
}
#P71_922
{
left:27661.6px;bottom:24618.6px;
}
#P71_923
{
left:28007px;bottom:24618.6px;
}
#P71_924
{
left:28699.8px;bottom:24618.6px;
}
#P71_925
{
left:29687px;bottom:24618.6px;
}
#P71_926
{
left:30031.8px;bottom:24618.6px;
}
#P71_927
{
left:30550.5px;bottom:24618.6px;
}
#P71_928
{
left:30899.9px;bottom:24618.6px;
}
#P71_929
{
left:31396px;bottom:24618.6px;
}
#P71_930
{
left:31535.1px;bottom:24618.6px;
}
#P71_931
{
left:32172.9px;bottom:24618.6px;
}
#P71_932
{
left:32535.7px;bottom:24618.6px;
}
#P71_933
{
left:24245.7px;bottom:23722.8px;
}
#P71_934
{
left:24517.2px;bottom:23722.8px;
}
#P71_935
{
left:25524.6px;bottom:23722.8px;
}
#P71_936
{
left:25868.7px;bottom:23722.8px;
}
#P71_937
{
left:27312.2px;bottom:23722.8px;
}
#P71_938
{
left:28169px;bottom:23722.8px;
}
#P71_939
{
left:28853.8px;bottom:23722.8px;
}
#P71_940
{
left:29840.9px;bottom:23722.8px;
}
#P71_941
{
left:30185.7px;bottom:23722.8px;
}
#P71_942
{
left:30704.4px;bottom:23722.8px;
}
#P71_943
{
left:31053.8px;bottom:23722.8px;
}
#P71_944
{
left:31549.9px;bottom:23722.8px;
}
#P71_945
{
left:31689px;bottom:23722.8px;
}
#P71_946
{
left:24245.7px;bottom:22827px;
}
#P71_947
{
left:25232.8px;bottom:22827px;
}
#P71_948
{
left:25505.7px;bottom:22827px;
}
#P71_949
{
left:25789.2px;bottom:22827px;
}
#P71_950
{
left:25961.9px;bottom:22827px;
}
#P71_951
{
left:26508.9px;bottom:22827px;
}
#P71_952
{
left:28510.1px;bottom:22827px;
}
#P71_953
{
left:28815.2px;bottom:22827px;
}
#P71_954
{
left:29099.4px;bottom:22827px;
}
#P71_955
{
left:29446.1px;bottom:22827px;
}
#P71_956
{
left:30433.3px;bottom:22827px;
}
#P71_957
{
left:30713.6px;bottom:22827px;
}
#P71_958
{
left:31360.8px;bottom:22827px;
}
#P71_959
{
left:31926.5px;bottom:22827px;
}
#P71_960
{
left:24245.7px;bottom:21931.2px;
}
#P71_961
{
left:25099px;bottom:21931.2px;
}
#P71_962
{
left:25538.5px;bottom:21931.2px;
}
#P71_963
{
left:26188.9px;bottom:21931.2px;
}
#P71_964
{
left:26472.5px;bottom:21931.2px;
}
#P71_965
{
left:26966.4px;bottom:21931.2px;
}
#P71_966
{
left:27401.9px;bottom:21931.2px;
}
#P71_967
{
left:27747.3px;bottom:21931.2px;
}
#P71_968
{
left:28440.2px;bottom:21931.2px;
}
#P71_969
{
left:29427.3px;bottom:21931.2px;
}
#P71_970
{
left:29743.1px;bottom:21931.2px;
}
#P71_971
{
left:29909.2px;bottom:21931.2px;
}
#P71_972
{
left:30543.6px;bottom:21931.2px;
}
#P71_973
{
left:31553.1px;bottom:21931.2px;
}
#P71_974
{
left:24245.7px;bottom:20571.1px;
}
#P71_975
{
left:24641.4px;bottom:20571.1px;
}
#P71_976
{
left:25693.8px;bottom:20571.1px;
}
#P71_977
{
left:26043.9px;bottom:20571.1px;
}
#P71_978
{
left:26358.4px;bottom:20571.1px;
}
#P71_979
{
left:26716.5px;bottom:20571.1px;
}
#P71_980
{
left:27137.9px;bottom:20571.1px;
}
#P71_981
{
left:27502.7px;bottom:20571.1px;
}
#P71_982
{
left:28656.6px;bottom:20571.1px;
}
#P71_983
{
left:29006.7px;bottom:20571.1px;
}
#P71_984
{
left:29321.2px;bottom:20571.1px;
}
#P71_985
{
left:29679.3px;bottom:20571.1px;
}
#P71_986
{
left:30100.6px;bottom:20571.1px;
}
#P71_987
{
left:30691.3px;bottom:20571.1px;
}
#P71_988
{
left:31865.9px;bottom:20571.1px;
}
#P71_989
{
left:32150.1px;bottom:20571.1px;
}
#P71_990
{
left:32351.8px;bottom:20571.1px;
}
#P71_991
{
left:24245.7px;bottom:19675.3px;
}
#P71_992
{
left:25224.8px;bottom:19675.3px;
}
#P71_993
{
left:25842.3px;bottom:19675.3px;
}
#P71_994
{
left:26327.5px;bottom:19675.3px;
}
#P71_995
{
left:27314.6px;bottom:19675.3px;
}
#P71_996
{
left:28027px;bottom:19675.3px;
}
#P71_997
{
left:28278.2px;bottom:19675.3px;
}
#P71_998
{
left:29433.4px;bottom:19675.3px;
}
#P71_999
{
left:31174.5px;bottom:19675.3px;
}
#P71_1000
{
left:31595.9px;bottom:19675.3px;
}
#P71_1001
{
left:31941.4px;bottom:19675.3px;
}
#P71_1002
{
left:32159.6px;bottom:19675.3px;
}
#P71_1003
{
left:24245.7px;bottom:18779.5px;
}
#P71_1004
{
left:24561.5px;bottom:18779.5px;
}
#P71_1005
{
left:24727.6px;bottom:18779.5px;
}
#P71_1006
{
left:25362px;bottom:18779.5px;
}
#P71_1007
{
left:26369.3px;bottom:18779.5px;
}
#P71_1008
{
left:26835.6px;bottom:18779.5px;
}
#P71_1009
{
left:28264.9px;bottom:18779.5px;
}
#P71_1010
{
left:29418.8px;bottom:18779.5px;
}
#P71_1011
{
left:30127.1px;bottom:18779.5px;
}
#P71_1012
{
left:31104.9px;bottom:18779.5px;
}
#P71_1013
{
left:31526.2px;bottom:18779.5px;
}
#P71_1014
{
left:24245.7px;bottom:17883.8px;
}
#P71_1015
{
left:24518.5px;bottom:17883.8px;
}
#P71_1016
{
left:24802.1px;bottom:17883.8px;
}
#P71_1017
{
left:24974.7px;bottom:17883.8px;
}
#P71_1018
{
left:25285.2px;bottom:17883.8px;
}
#P71_1019
{
left:25424.4px;bottom:17883.8px;
}
#P71_1020
{
left:25833px;bottom:17883.8px;
}
#P71_1021
{
left:26747.6px;bottom:17883.8px;
}
#P71_1022
{
left:27432.3px;bottom:17883.8px;
}
#P71_1023
{
left:27639.3px;bottom:17883.8px;
}
#P71_1024
{
left:28253.4px;bottom:17883.8px;
}
#P71_1025
{
left:28759.4px;bottom:17883.8px;
}
#P71_1026
{
left:29505.2px;bottom:17883.8px;
}
#P71_1027
{
left:30237.7px;bottom:17883.8px;
}
#P71_1028
{
left:30438.8px;bottom:17883.8px;
}
#P71_1029
{
left:30925.4px;bottom:17883.8px;
}
#P71_1030
{
left:32118.8px;bottom:17883.8px;
}
#P71_1031
{
left:5184px;bottom:44903.2px;letter-spacing:20.3px;
}
#P71_1032
{
left:5908.13px;bottom:44903.2px;letter-spacing:20.3px;
}
#P71_1033
{
left:6200.15px;bottom:44903.2px;letter-spacing:20.3px;
}
#P71_1034
{
left:6477.82px;bottom:44903.2px;
}
#P71_1035
{
left:6619.46px;bottom:44903.2px;letter-spacing:6.3px;
}
#P71_1036
{
left:7210.11px;bottom:44903.2px;letter-spacing:6.3px;
}
#P71_1037
{
left:7601.54px;bottom:44903.2px;letter-spacing:6.3px;
}
#P71_1038
{
left:7959.17px;bottom:44903.2px;letter-spacing:6.3px;
}
#P71_1039
{
left:5184px;bottom:43281.8px;letter-spacing:-10.2px;
}
#P71_1040
{
left:5885.44px;bottom:43281.8px;letter-spacing:-10.2px;
}
#P71_1041
{
left:7451.14px;bottom:43281.8px;letter-spacing:-10.2px;
}
#P71_1042
{
left:9814.27px;bottom:15578.6px;
}
#P71_1043
{
left:9927.74px;bottom:15578.6px;
}
#P71_1044
{
left:10177.7px;bottom:15578.6px;
}
#P71_1045
{
left:10504.9px;bottom:15578.6px;
}
#P71_1046
{
left:12110.8px;bottom:15578.6px;
}
#P71_1047
{
left:13004.7px;bottom:15578.6px;
}
#P71_1048
{
left:6154.39px;bottom:15578.6px;
}
#P71_1049
{
left:6267.86px;bottom:15578.6px;
}
#P71_1050
{
left:6517.82px;bottom:15578.6px;
}
#P71_1051
{
left:7514.3px;bottom:15578.6px;
}
#P71_1052
{
left:14413.1px;bottom:15565.3px;
}
#P71_1053
{
left:16766.6px;bottom:15565.3px;
}
#P71_1054
{
left:17660.5px;bottom:15565.3px;
}
#P71_1055
{
left:19855.1px;bottom:15578.6px;
}
#P71_1056
{
left:21335.4px;bottom:15578.6px;
}
#P71_1057
{
left:7454.72px;bottom:10684.4px;
}
#P71_1058
{
left:16693.2px;bottom:10684.4px;letter-spacing:-12.1px;
}
#P71_1059
{
left:12009.7px;bottom:10684.4px;
}
#P71_1060
{
left:21248.2px;bottom:10684.4px;letter-spacing:-9.2px;
}
#P71_1061
{
left:14992.8px;bottom:40897.7px;letter-spacing:7.4px;
}
#P71_1062
{
left:16012.2px;bottom:40897.7px;letter-spacing:7.4px;
}
#P71_1063
{
left:17420.9px;bottom:40897.7px;letter-spacing:7.4px;
}
#P71_1064
{
left:18336.4px;bottom:40897.7px;letter-spacing:7.4px;
}
#P71_1065
{
left:19282.2px;bottom:40897.7px;letter-spacing:7.4px;
}
#P71_1066
{
left:19645.8px;bottom:40897.7px;letter-spacing:7.4px;
}
#P71_1067
{
left:20275.1px;bottom:40897.7px;letter-spacing:7.4px;
}
#P71_1068
{
left:19676.9px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1069
{
left:20490.6px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1070
{
left:20792.4px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1071
{
left:21016.8px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1072
{
left:21141.2px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1073
{
left:21478.1px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1074
{
left:21793px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1075
{
left:22183.9px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1076
{
left:22443.3px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1077
{
left:22668px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1078
{
left:22911.7px;bottom:39905.2px;letter-spacing:8.0px;
}
#P71_1079
{
left:19676.9px;bottom:39393.2px;letter-spacing:22.4px;
}
#P71_1080
{
left:21636px;bottom:39393.2px;letter-spacing:22.4px;
}
#P71_1081
{
left:24285px;bottom:39905.2px;letter-spacing:22.4px;
}
#P71_1082
{
left:26753.9px;bottom:39905.2px;letter-spacing:22.4px;
}
#P71_1083
{
left:24285px;bottom:39393.2px;letter-spacing:22.4px;
}
#P71_1084
{
left:24825.7px;bottom:39393.2px;letter-spacing:22.4px;
}
#P71_1085
{
left:25093.2px;bottom:39393.2px;letter-spacing:22.4px;
}
#P71_1086
{
left:27436.7px;bottom:39393.2px;letter-spacing:22.4px;
}
#P71_1087
{
left:28893.1px;bottom:39905.2px;
}
#P71_1088
{
left:29230px;bottom:39905.2px;
}
#P71_1089
{
left:29545px;bottom:39905.2px;
}
#P71_1090
{
left:29936.1px;bottom:39905.2px;
}
#P71_1091
{
left:30195.5px;bottom:39905.2px;
}
#P71_1092
{
left:30420.4px;bottom:39905.2px;
}
#P71_1093
{
left:30686.5px;bottom:39905.2px;
}
#P71_1094
{
left:30811px;bottom:39905.2px;
}
#P71_1095
{
left:31171.2px;bottom:39905.2px;
}
#P71_1096
{
left:31384.4px;bottom:39905.2px;
}
#P71_1097
{
left:31509px;bottom:39905.2px;
}
#P71_1098
{
left:31845.9px;bottom:39905.2px;
}
#P71_1099
{
left:32070.8px;bottom:39905.2px;
}
#P71_1100
{
left:28893.1px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1101
{
left:29481.2px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1102
{
left:29722.2px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1103
{
left:29944.8px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1104
{
left:30185.8px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1105
{
left:30310.3px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1106
{
left:30561.6px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1107
{
left:30786.4px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1108
{
left:31052.5px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1109
{
left:31177px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1110
{
left:31483.8px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1111
{
left:31713.6px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1112
{
left:32015.6px;bottom:39393.2px;letter-spacing:19.7px;
}
#P71_1113
{
left:15068.9px;bottom:38474.9px;
}
#P71_1114
{
left:15513.2px;bottom:38474.9px;
}
#P71_1115
{
left:16094.7px;bottom:38474.9px;
}
#P71_1116
{
left:19896.4px;bottom:38442.9px;
}
#P71_1117
{
left:21755.8px;bottom:38442.9px;
}
#P71_1118
{
left:21880.9px;bottom:38442.9px;
}
#P71_1119
{
left:22553.3px;bottom:38442.9px;
}
#P71_1120
{
left:25182.5px;bottom:38442.9px;
}
#P71_1121
{
left:25685.6px;bottom:38442.9px;
}
#P71_1122
{
left:25810.8px;bottom:38442.9px;
}
#P71_1123
{
left:26483.1px;bottom:38442.9px;
}
#P71_1124
{
left:29718px;bottom:38474.9px;
}
#P71_1125
{
left:30461.4px;bottom:38474.9px;
}
#P71_1126
{
left:30579.1px;bottom:38474.9px;
}
#P71_1127
{
left:31211.9px;bottom:38474.9px;
}
#P71_1128
{
left:15068.6px;bottom:37483.1px;
}
#P71_1129
{
left:15969.7px;bottom:37483.1px;
}
#P71_1130
{
left:17058.1px;bottom:37483.1px;
}
#P71_1131
{
left:17281.9px;bottom:37483.1px;
}
#P71_1132
{
left:17466.2px;bottom:37483.1px;
}
#P71_1133
{
left:20563.6px;bottom:37451.3px;
}
#P71_1134
{
left:21088.6px;bottom:37451.3px;
}
#P71_1135
{
left:21213.7px;bottom:37451.3px;
}
#P71_1136
{
left:21886px;bottom:37451.3px;
}
#P71_1137
{
left:25385.1px;bottom:37451.3px;
}
#P71_1138
{
left:29606.8px;bottom:37483.3px;
}
#P71_1139
{
left:30572.5px;bottom:37483.3px;
}
#P71_1140
{
left:30690.2px;bottom:37483.3px;
}
#P71_1141
{
left:31323px;bottom:37483.3px;
}
#P71_1142
{
left:24288px;bottom:15680px;
}
#P71_1143
{
left:24558.6px;bottom:15680px;
}
#P71_1144
{
left:25016.5px;bottom:15680px;
}
#P71_1145
{
left:25264.6px;bottom:15680px;
}
#P71_1146
{
left:26048.5px;bottom:15680px;
}
#P71_1147
{
left:26608.8px;bottom:15680px;
}
#P71_1148
{
left:28995.6px;bottom:15680px;
}
#P71_1149
{
left:24288px;bottom:14943.9px;
}
#P71_1150
{
left:25891.5px;bottom:14943.9px;
}
#P71_1151
{
left:26985.7px;bottom:14943.9px;
}
#P71_1152
{
left:28418.8px;bottom:14943.9px;
}
#P71_1153
{
left:29344.4px;bottom:14943.9px;
}
#P71_1154
{
left:24288px;bottom:14207.7px;
}
#P71_1155
{
left:26090.3px;bottom:14207.7px;
}
#P71_1156
{
left:26090.3px;bottom:14207.7px;
}
#P71_1157
{
left:26276.2px;bottom:14207.7px;
}
#P71_1158
{
left:27798.5px;bottom:14207.7px;
}
#P71_1159
{
left:28256.4px;bottom:14207.7px;
}
#P71_1160
{
left:28816.8px;bottom:14207.7px;
}
#P71_1161
{
left:24288px;bottom:13471.6px;
}
#P71_1162
{
left:24967px;bottom:13471.6px;
}
#P71_1163
{
left:26284.2px;bottom:13471.6px;
}
#P71_1164
{
left:26556px;bottom:13471.6px;
}
#P71_1165
{
left:26816.3px;bottom:13471.6px;
}
#PageContainer71
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg071_00.jpg");background-repeat:no-repeat;background-size: 843px 1261px; background-position: 108.3px 49.4300000000001px;
}
#ImageContainer071_00 {bottom:51.57px;left:108.30px;width:843.13px;height:1260.81px;position:absolute;} #TextContainer71 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
