.tr42{ color:transparent;}
#P42_1
{
left:27813.7px;bottom:47808px;letter-spacing:25.6px;
}
#P42_2
{
left:28939.1px;bottom:47808px;
}
#P42_3
{
left:29062px;bottom:47808px;letter-spacing:25.6px;
}
#P42_4
{
left:29949.8px;bottom:47808px;
}
#P42_5
{
left:30072.6px;bottom:47808px;letter-spacing:25.6px;
}
#P42_6
{
left:30937.9px;bottom:47808px;letter-spacing:25.6px;
}
#P42_7
{
left:31652.7px;bottom:47811.1px;
}
#P42_8
{
left:31934.3px;bottom:47811.1px;
}
#P42_9
{
left:32138px;bottom:47811.1px;
}
#P42_10
{
left:32419.6px;bottom:47808px;letter-spacing:13.7px;
}
#P42_11
{
left:32955.5px;bottom:47808px;letter-spacing:13.7px;
}
#P42_12
{
left:33193.5px;bottom:47808px;letter-spacing:13.7px;
}
#P42_13
{
left:33324.9px;bottom:47808px;letter-spacing:13.7px;
}
#P42_14
{
left:33590.6px;bottom:47808px;letter-spacing:13.7px;
}
#P42_15
{
left:33722px;bottom:47808px;letter-spacing:13.7px;
}
#P42_16
{
left:33963.1px;bottom:47808px;letter-spacing:13.7px;
}
#P42_17
{
left:34244.2px;bottom:47808px;
}
#P42_18
{
left:34367.1px;bottom:47808px;
}
#P42_19
{
left:34004.3px;bottom:1798.66px;letter-spacing:5.1px;
}
#P42_20
{
left:34364.7px;bottom:1798.66px;letter-spacing:5.1px;
}
#P42_21
{
left:5600px;bottom:41498.1px;letter-spacing:33.6px;
}
#P42_22
{
left:6956.48px;bottom:41463px;
}
#P42_23
{
left:7126.78px;bottom:41498.1px;letter-spacing:33.6px;
}
#P42_24
{
left:8449.41px;bottom:41463px;
}
#P42_25
{
left:8619.65px;bottom:41498.1px;letter-spacing:33.6px;
}
#P42_26
{
left:10043.1px;bottom:41463px;
}
#P42_27
{
left:10213.4px;bottom:41417.3px;
}
#P42_28
{
left:10547.5px;bottom:41417.3px;
}
#P42_29
{
left:10716.2px;bottom:41417.3px;
}
#P42_30
{
left:10878.7px;bottom:41417.3px;
}
#P42_31
{
left:11037.9px;bottom:41417.3px;
}
#P42_32
{
left:11206.6px;bottom:41417.3px;
}
#P42_33
{
left:11542px;bottom:41417.3px;
}
#P42_34
{
left:11898.8px;bottom:41417.3px;
}
#P42_35
{
left:12027.8px;bottom:41417.3px;
}
#P42_36
{
left:12375.8px;bottom:41417.3px;
}
#P42_37
{
left:12649.3px;bottom:41417.3px;
}
#P42_38
{
left:12983.4px;bottom:41417.3px;
}
#P42_39
{
left:13328.1px;bottom:41417.3px;
}
#P42_40
{
left:13487.4px;bottom:41417.3px;
}
#P42_41
{
left:5600.13px;bottom:40521.5px;
}
#P42_42
{
left:6045px;bottom:40521.5px;
}
#P42_43
{
left:6387.12px;bottom:40521.5px;
}
#P42_44
{
left:6633.02px;bottom:40521.5px;
}
#P42_45
{
left:6798.98px;bottom:40521.5px;
}
#P42_46
{
left:7143.87px;bottom:40521.5px;
}
#P42_47
{
left:7606.78px;bottom:40521.5px;
}
#P42_48
{
left:7782.21px;bottom:40521.5px;
}
#P42_49
{
left:8131.71px;bottom:40521.5px;
}
#P42_50
{
left:8410.56px;bottom:40521.5px;
}
#P42_51
{
left:8546.3px;bottom:40521.5px;
}
#P42_52
{
left:8712.32px;bottom:40521.5px;
}
#P42_53
{
left:8881.09px;bottom:40521.5px;
}
#P42_54
{
left:9174.14px;bottom:40521.5px;
}
#P42_55
{
left:9453.06px;bottom:40521.5px;
}
#P42_56
{
left:9588.8px;bottom:40521.5px;
}
#P42_57
{
left:9764.16px;bottom:40521.5px;
}
#P42_58
{
left:10127.7px;bottom:40521.5px;
}
#P42_59
{
left:10263.5px;bottom:40521.5px;
}
#P42_60
{
left:10553.1px;bottom:40521.5px;
}
#P42_61
{
left:10788.3px;bottom:40521.5px;
}
#P42_62
{
left:11067.2px;bottom:40521.5px;
}
#P42_63
{
left:11356.8px;bottom:40521.5px;
}
#P42_64
{
left:11592px;bottom:40521.5px;
}
#P42_65
{
left:11727.7px;bottom:40521.5px;
}
#P42_66
{
left:12183.3px;bottom:40521.5px;
}
#P42_67
{
left:12538.1px;bottom:40521.5px;
}
#P42_68
{
left:12815px;bottom:40521.5px;
}
#P42_69
{
left:13050.2px;bottom:40521.5px;
}
#P42_70
{
left:5600.13px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_71
{
left:7146.43px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_72
{
left:7747.2px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_73
{
left:7955.52px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_74
{
left:8204.16px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_75
{
left:10806.1px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_76
{
left:11305.4px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_77
{
left:11851.8px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_78
{
left:12277.1px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_79
{
left:12527.8px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_80
{
left:13405.4px;bottom:39625.8px;letter-spacing:-3.4px;
}
#P42_81
{
left:5600.13px;bottom:38730px;
}
#P42_82
{
left:6173.42px;bottom:38730px;
}
#P42_83
{
left:6510.78px;bottom:38730px;
}
#P42_84
{
left:6739.26px;bottom:38730px;
}
#P42_85
{
left:6936.83px;bottom:38730px;
}
#P42_86
{
left:7065.86px;bottom:38730px;
}
#P42_87
{
left:7401.15px;bottom:38730px;
}
#P42_88
{
left:7609.34px;bottom:38730px;
}
#P42_89
{
left:7738.37px;bottom:38730px;
}
#P42_90
{
left:7935.94px;bottom:38730px;
}
#P42_91
{
left:8284.03px;bottom:38730px;
}
#P42_92
{
left:8556.22px;bottom:38730px;
}
#P42_93
{
left:8685.25px;bottom:38730px;
}
#P42_94
{
left:9027.97px;bottom:38730px;
}
#P42_95
{
left:9300.1px;bottom:38730px;
}
#P42_96
{
left:9583.04px;bottom:38730px;
}
#P42_97
{
left:9780.61px;bottom:38730px;
}
#P42_98
{
left:10128.7px;bottom:38730px;
}
#P42_99
{
left:10357.2px;bottom:38730px;
}
#P42_100
{
left:10486.2px;bottom:38730px;
}
#P42_101
{
left:10674.4px;bottom:38730px;
}
#P42_102
{
left:10901.6px;bottom:38730px;
}
#P42_103
{
left:11236.9px;bottom:38730px;
}
#P42_104
{
left:11780.5px;bottom:38730px;
}
#P42_105
{
left:11909.6px;bottom:38730px;
}
#P42_106
{
left:12453.2px;bottom:38730px;
}
#P42_107
{
left:12736.1px;bottom:38730px;
}
#P42_108
{
left:12895.4px;bottom:38730px;
}
#P42_109
{
left:13178.3px;bottom:38730px;
}
#P42_110
{
left:13422.1px;bottom:38730px;
}
#P42_111
{
left:13590.8px;bottom:38730px;
}
#P42_112
{
left:5600.13px;bottom:37834.2px;
}
#P42_113
{
left:5889.77px;bottom:37834.2px;
}
#P42_114
{
left:6124.97px;bottom:37834.2px;
}
#P42_115
{
left:6403.84px;bottom:37834.2px;
}
#P42_116
{
left:6539.58px;bottom:37834.2px;
}
#P42_117
{
left:6715.01px;bottom:37834.2px;
}
#P42_118
{
left:7078.53px;bottom:37834.2px;
}
#P42_119
{
left:7214.27px;bottom:37834.2px;
}
#P42_120
{
left:7486.59px;bottom:37834.2px;
}
#P42_121
{
left:7841.41px;bottom:37834.2px;
}
#P42_122
{
left:8016.77px;bottom:37834.2px;
}
#P42_123
{
left:8182.78px;bottom:37834.2px;
}
#P42_124
{
left:8534.21px;bottom:37834.2px;
}
#P42_125
{
left:8769.41px;bottom:37834.2px;
}
#P42_126
{
left:9046.34px;bottom:37834.2px;
}
#P42_127
{
left:9409.92px;bottom:37834.2px;
}
#P42_128
{
left:9547.78px;bottom:37834.2px;
}
#P42_129
{
left:9683.52px;bottom:37834.2px;
}
#P42_130
{
left:9899.39px;bottom:37834.2px;
}
#P42_131
{
left:10262.9px;bottom:37834.2px;
}
#P42_132
{
left:10398.7px;bottom:37834.2px;
}
#P42_133
{
left:10602.9px;bottom:37834.2px;
}
#P42_134
{
left:10957.8px;bottom:37834.2px;
}
#P42_135
{
left:11236.7px;bottom:37834.2px;
}
#P42_136
{
left:11372.4px;bottom:37834.2px;
}
#P42_137
{
left:11691.6px;bottom:37834.2px;
}
#P42_138
{
left:12010.8px;bottom:37834.2px;
}
#P42_139
{
left:12330px;bottom:37834.2px;
}
#P42_140
{
left:12649.2px;bottom:37834.2px;
}
#P42_141
{
left:13020.4px;bottom:37834.2px;
}
#P42_142
{
left:5600.13px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_143
{
left:6713.66px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_144
{
left:8323.07px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_145
{
left:8452.1px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_146
{
left:8890.24px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_147
{
left:9225.6px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_148
{
left:9464.83px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_149
{
left:10097.9px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_150
{
left:11834.9px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_151
{
left:12102.4px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_152
{
left:12755.6px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_153
{
left:13025.7px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_154
{
left:13273.7px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_155
{
left:13709.8px;bottom:36938.4px;letter-spacing:-10.1px;
}
#P42_156
{
left:5600.13px;bottom:36042.7px;
}
#P42_157
{
left:5944.8px;bottom:36042.7px;
}
#P42_158
{
left:6226.3px;bottom:36042.7px;
}
#P42_159
{
left:6532.67px;bottom:36042.7px;
}
#P42_160
{
left:6822.27px;bottom:36042.7px;
}
#P42_161
{
left:7185.86px;bottom:36042.7px;
}
#P42_162
{
left:7321.6px;bottom:36042.7px;
}
#P42_163
{
left:7611.2px;bottom:36042.7px;
}
#P42_164
{
left:7974.78px;bottom:36042.7px;
}
#P42_165
{
left:8110.53px;bottom:36042.7px;
}
#P42_166
{
left:8388.03px;bottom:36042.7px;
}
#P42_167
{
left:8582.91px;bottom:36042.7px;
}
#P42_168
{
left:8775.87px;bottom:36042.7px;
}
#P42_169
{
left:9118.02px;bottom:36042.7px;
}
#P42_170
{
left:9372.54px;bottom:36042.7px;
}
#P42_171
{
left:9576.83px;bottom:36042.7px;
}
#P42_172
{
left:9712.58px;bottom:36042.7px;
}
#P42_173
{
left:9910.27px;bottom:36042.7px;
}
#P42_174
{
left:10254.3px;bottom:36042.7px;
}
#P42_175
{
left:10390.1px;bottom:36042.7px;
}
#P42_176
{
left:10853.1px;bottom:36042.7px;
}
#P42_177
{
left:11028.4px;bottom:36042.7px;
}
#P42_178
{
left:11383.2px;bottom:36042.7px;
}
#P42_179
{
left:11662px;bottom:36042.7px;
}
#P42_180
{
left:11797.8px;bottom:36042.7px;
}
#P42_181
{
left:12141.8px;bottom:36042.7px;
}
#P42_182
{
left:12499.4px;bottom:36042.7px;
}
#P42_183
{
left:5600.13px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_184
{
left:7112.83px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_185
{
left:7695.42px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_186
{
left:7811.01px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_187
{
left:8232.38px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_188
{
left:9931.84px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_189
{
left:10409px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_190
{
left:11226.1px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_191
{
left:11760.4px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_192
{
left:11951.9px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_193
{
left:12225.4px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_194
{
left:12490.8px;bottom:35146.9px;letter-spacing:-10.1px;
}
#P42_195
{
left:13364.8px;bottom:35146.9px;
}
#P42_196
{
left:5600.13px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_197
{
left:6284.36px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_198
{
left:6556.61px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_199
{
left:6785.15px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_200
{
left:6914.24px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_201
{
left:7142.78px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_202
{
left:7416.32px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_203
{
left:7759.17px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_204
{
left:8112px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_205
{
left:8374.85px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_206
{
left:8648.38px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_207
{
left:8993.22px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_208
{
left:9122.3px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_209
{
left:9665.98px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_210
{
left:9948.99px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_211
{
left:10108.3px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_212
{
left:10391.3px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_213
{
left:10635.3px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_214
{
left:10804px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_215
{
left:11087px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_216
{
left:11216.1px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_217
{
left:11402.3px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_218
{
left:11737.7px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_219
{
left:11974.3px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_220
{
left:12103.4px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_221
{
left:12386.4px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_222
{
left:12515.5px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_223
{
left:12964.5px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_224
{
left:13312.6px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_225
{
left:13481.3px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_226
{
left:13640.7px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_227
{
left:13912.9px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_228
{
left:14054.1px;bottom:34251.1px;letter-spacing:-12.7px;
}
#P42_229
{
left:5600.13px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_230
{
left:6443.52px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_231
{
left:6876.29px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_232
{
left:7608.06px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_233
{
left:8821.7px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_234
{
left:9101.95px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_235
{
left:9265.92px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_236
{
left:9698.69px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_237
{
left:10804.8px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_238
{
left:11294px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_239
{
left:11429.8px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_240
{
left:11754.3px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_241
{
left:12100.4px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_242
{
left:12730px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_243
{
left:12985.4px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_244
{
left:13126.5px;bottom:33355.3px;letter-spacing:-3.4px;
}
#P42_245
{
left:5600.13px;bottom:32459.6px;
}
#P42_246
{
left:6150.5px;bottom:32459.6px;
}
#P42_247
{
left:6440.13px;bottom:32459.6px;
}
#P42_248
{
left:6606.14px;bottom:32459.6px;
}
#P42_249
{
left:6895.74px;bottom:32459.6px;
}
#P42_250
{
left:7146.43px;bottom:32459.6px;
}
#P42_251
{
left:7321.79px;bottom:32459.6px;
}
#P42_252
{
left:7611.46px;bottom:32459.6px;
}
#P42_253
{
left:7747.2px;bottom:32459.6px;
}
#P42_254
{
left:7982.4px;bottom:32459.6px;
}
#P42_255
{
left:8188.67px;bottom:32459.6px;
}
#P42_256
{
left:8364.1px;bottom:32459.6px;
}
#P42_257
{
left:8533.38px;bottom:32459.6px;
}
#P42_258
{
left:8699.33px;bottom:32459.6px;
}
#P42_259
{
left:8835.07px;bottom:32459.6px;
}
#P42_260
{
left:9109.31px;bottom:32459.6px;
}
#P42_261
{
left:9421.12px;bottom:32459.6px;
}
#P42_262
{
left:9596.54px;bottom:32459.6px;
}
#P42_263
{
left:9831.74px;bottom:32459.6px;
}
#P42_264
{
left:10036px;bottom:32459.6px;
}
#P42_265
{
left:10271.2px;bottom:32459.6px;
}
#P42_266
{
left:10409.1px;bottom:32459.6px;
}
#P42_267
{
left:10544.8px;bottom:32459.6px;
}
#P42_268
{
left:10834.5px;bottom:32459.6px;
}
#P42_269
{
left:11198px;bottom:32459.6px;
}
#P42_270
{
left:11549.5px;bottom:32459.6px;
}
#P42_271
{
left:11685.2px;bottom:32459.6px;
}
#P42_272
{
left:11860.6px;bottom:32459.6px;
}
#P42_273
{
left:12095.8px;bottom:32459.6px;
}
#P42_274
{
left:12231.6px;bottom:32459.6px;
}
#P42_275
{
left:12515px;bottom:32459.6px;
}
#P42_276
{
left:12808.1px;bottom:32459.6px;
}
#P42_277
{
left:13085px;bottom:32459.6px;
}
#P42_278
{
left:5600.13px;bottom:31563.8px;
}
#P42_279
{
left:5828.61px;bottom:31563.8px;
}
#P42_280
{
left:6171.4px;bottom:31563.8px;
}
#P42_281
{
left:6399.88px;bottom:31563.8px;
}
#P42_282
{
left:6672.06px;bottom:31563.8px;
}
#P42_283
{
left:6956.22px;bottom:31563.8px;
}
#P42_284
{
left:7300.99px;bottom:31563.8px;
}
#P42_285
{
left:7469.63px;bottom:31563.8px;
}
#P42_286
{
left:7826.5px;bottom:31563.8px;
}
#P42_287
{
left:8122.82px;bottom:31563.8px;
}
#P42_288
{
left:8251.84px;bottom:31563.8px;
}
#P42_289
{
left:8442.82px;bottom:31563.8px;
}
#P42_290
{
left:8780.16px;bottom:31563.8px;
}
#P42_291
{
left:8909.18px;bottom:31563.8px;
}
#P42_292
{
left:9253.95px;bottom:31563.8px;
}
#P42_293
{
left:9536.83px;bottom:31563.8px;
}
#P42_294
{
left:9784.7px;bottom:31563.8px;
}
#P42_295
{
left:9982.27px;bottom:31563.8px;
}
#P42_296
{
left:10210.8px;bottom:31563.8px;
}
#P42_297
{
left:10339.8px;bottom:31563.8px;
}
#P42_298
{
left:10675.1px;bottom:31563.8px;
}
#P42_299
{
left:10883.3px;bottom:31563.8px;
}
#P42_300
{
left:11012.3px;bottom:31563.8px;
}
#P42_301
{
left:11209.9px;bottom:31563.8px;
}
#P42_302
{
left:11558px;bottom:31563.8px;
}
#P42_303
{
left:11830.1px;bottom:31563.8px;
}
#P42_304
{
left:11959.1px;bottom:31563.8px;
}
#P42_305
{
left:12397.3px;bottom:31563.8px;
}
#P42_306
{
left:12732.7px;bottom:31563.8px;
}
#P42_307
{
left:12971.8px;bottom:31563.8px;
}
#P42_308
{
left:13131.1px;bottom:31563.8px;
}
#P42_309
{
left:5600.13px;bottom:30668px;
}
#P42_310
{
left:6048.97px;bottom:30668px;
}
#P42_311
{
left:6397.06px;bottom:30668px;
}
#P42_312
{
left:6667.2px;bottom:30668px;
}
#P42_313
{
left:6895.74px;bottom:30668px;
}
#P42_314
{
left:7167.94px;bottom:30668px;
}
#P42_315
{
left:7296.96px;bottom:30668px;
}
#P42_316
{
left:7465.6px;bottom:30668px;
}
#P42_317
{
left:7663.17px;bottom:30668px;
}
#P42_318
{
left:7792.19px;bottom:30668px;
}
#P42_319
{
left:8237.76px;bottom:30668px;
}
#P42_320
{
left:8520.64px;bottom:30668px;
}
#P42_321
{
left:8749.12px;bottom:30668px;
}
#P42_322
{
left:8878.14px;bottom:30668px;
}
#P42_323
{
left:9075.71px;bottom:30668px;
}
#P42_324
{
left:9423.81px;bottom:30668px;
}
#P42_325
{
left:9761.15px;bottom:30668px;
}
#P42_326
{
left:10114px;bottom:30668px;
}
#P42_327
{
left:10418.4px;bottom:30668px;
}
#P42_328
{
left:10766.5px;bottom:30668px;
}
#P42_329
{
left:10964px;bottom:30668px;
}
#P42_330
{
left:11093.1px;bottom:30668px;
}
#P42_331
{
left:11284px;bottom:30668px;
}
#P42_332
{
left:11621.4px;bottom:30668px;
}
#P42_333
{
left:11750.4px;bottom:30668px;
}
#P42_334
{
left:12098.5px;bottom:30668px;
}
#P42_335
{
left:12370px;bottom:30668px;
}
#P42_336
{
left:12656.4px;bottom:30668px;
}
#P42_337
{
left:12928.6px;bottom:30668px;
}
#P42_338
{
left:13057.6px;bottom:30668px;
}
#P42_339
{
left:13395.5px;bottom:30668px;
}
#P42_340
{
left:13669.1px;bottom:30668px;
}
#P42_341
{
left:13939.2px;bottom:30668px;
}
#P42_342
{
left:5600.13px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_343
{
left:6224.96px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_344
{
left:6572.99px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_345
{
left:6846.4px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_346
{
left:7191.1px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_347
{
left:7320.06px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_348
{
left:7657.34px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_349
{
left:8008.06px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_350
{
left:8205.57px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_351
{
left:8334.53px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_352
{
left:8669.76px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_353
{
left:8906.24px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_354
{
left:9035.2px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_355
{
left:9480.64px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_356
{
left:9763.52px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_357
{
left:9991.94px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_358
{
left:10120.9px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_359
{
left:10477.6px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_360
{
left:10814.9px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_361
{
left:11012.4px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_362
{
left:11141.4px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_363
{
left:11424.2px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_364
{
left:11553.2px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_365
{
left:11901.2px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_366
{
left:12069.8px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_367
{
left:12374.1px;bottom:29772.2px;letter-spacing:0.6px;
}
#P42_368
{
left:12723.8px;bottom:29772.2px;
}
#P42_369
{
left:12852.9px;bottom:29772.2px;letter-spacing:-2.8px;
}
#P42_370
{
left:13265.3px;bottom:29772.2px;letter-spacing:-2.8px;
}
#P42_371
{
left:13493.8px;bottom:29772.2px;letter-spacing:-2.8px;
}
#P42_372
{
left:13812.9px;bottom:29772.2px;letter-spacing:-2.8px;
}
#P42_373
{
left:5600px;bottom:28106.1px;letter-spacing:4.7px;
}
#P42_374
{
left:6170.59px;bottom:28106.1px;letter-spacing:4.7px;
}
#P42_375
{
left:6586.43px;bottom:28106.1px;letter-spacing:4.7px;
}
#P42_376
{
left:6861.63px;bottom:28106.1px;letter-spacing:4.7px;
}
#P42_377
{
left:7125.06px;bottom:28106.1px;letter-spacing:4.7px;
}
#P42_378
{
left:7503.68px;bottom:28106.1px;letter-spacing:4.7px;
}
#P42_379
{
left:7919.55px;bottom:28106.1px;letter-spacing:4.7px;
}
#P42_380
{
left:8181.82px;bottom:28071px;
}
#P42_381
{
left:8360.58px;bottom:28106.1px;letter-spacing:26.9px;
}
#P42_382
{
left:9368.83px;bottom:28071px;
}
#P42_383
{
left:9547.58px;bottom:28106.1px;letter-spacing:26.9px;
}
#P42_384
{
left:10541.2px;bottom:28106.1px;letter-spacing:26.9px;
}
#P42_385
{
left:11366.5px;bottom:28071px;
}
#P42_386
{
left:11545.3px;bottom:28106.1px;letter-spacing:26.9px;
}
#P42_387
{
left:5600px;bottom:27001.3px;
}
#P42_388
{
left:5948.23px;bottom:27001.3px;
}
#P42_389
{
left:6231.81px;bottom:27001.3px;
}
#P42_390
{
left:6575.94px;bottom:27001.3px;
}
#P42_391
{
left:7521.47px;bottom:27001.3px;
}
#P42_392
{
left:7866.88px;bottom:27001.3px;
}
#P42_393
{
left:8506.62px;bottom:27001.3px;
}
#P42_394
{
left:8927.94px;bottom:27001.3px;
}
#P42_395
{
left:10518.5px;bottom:27001.3px;
}
#P42_396
{
left:11223.4px;bottom:27001.3px;
}
#P42_397
{
left:5600px;bottom:26105.5px;
}
#P42_398
{
left:7163.01px;bottom:26105.5px;
}
#P42_399
{
left:7773.82px;bottom:26105.5px;
}
#P42_400
{
left:8900.1px;bottom:26105.5px;
}
#P42_401
{
left:10358.3px;bottom:26105.5px;
}
#P42_402
{
left:10852.3px;bottom:26105.5px;
}
#P42_403
{
left:11191px;bottom:26105.5px;
}
#P42_404
{
left:11630.5px;bottom:26105.5px;
}
#P42_405
{
left:5600px;bottom:25209.8px;
}
#P42_406
{
left:6587.14px;bottom:25209.8px;
}
#P42_407
{
left:8361.92px;bottom:25209.8px;
}
#P42_408
{
left:8797.44px;bottom:25209.8px;
}
#P42_409
{
left:9142.91px;bottom:25209.8px;
}
#P42_410
{
left:9835.78px;bottom:25209.8px;
}
#P42_411
{
left:10888.8px;bottom:25209.8px;
}
#P42_412
{
left:12262.3px;bottom:25209.8px;
}
#P42_413
{
left:13212.7px;bottom:25209.8px;
}
#P42_414
{
left:13493px;bottom:25209.8px;
}
#P42_415
{
left:13702px;bottom:25209.8px;
}
#P42_416
{
left:13843.3px;bottom:25209.8px;
}
#P42_417
{
left:15114.8px;bottom:35157.4px;
}
#P42_418
{
left:15351.5px;bottom:35157.4px;
}
#P42_419
{
left:15990px;bottom:35157.4px;
}
#P42_420
{
left:16487.2px;bottom:35157.4px;
}
#P42_421
{
left:17157.9px;bottom:35157.4px;
}
#P42_422
{
left:18363.5px;bottom:35157.4px;
}
#P42_423
{
left:19048.2px;bottom:35157.4px;
}
#P42_424
{
left:21323.8px;bottom:35157.4px;
}
#P42_425
{
left:21462.9px;bottom:35157.4px;
}
#P42_426
{
left:21682.2px;bottom:35157.4px;
}
#P42_427
{
left:15114.8px;bottom:34261.6px;
}
#P42_428
{
left:16546.4px;bottom:34261.6px;
}
#P42_429
{
left:16685.4px;bottom:34261.6px;
}
#P42_430
{
left:17117.6px;bottom:34261.6px;
}
#P42_431
{
left:17454.9px;bottom:34261.6px;
}
#P42_432
{
left:17693.4px;bottom:34261.6px;
}
#P42_433
{
left:17973.8px;bottom:34261.6px;
}
#P42_434
{
left:18616.3px;bottom:34261.6px;
}
#P42_435
{
left:19113.5px;bottom:34261.6px;
}
#P42_436
{
left:19657.7px;bottom:34261.6px;
}
#P42_437
{
left:20198.8px;bottom:34261.6px;
}
#P42_438
{
left:20638.3px;bottom:34261.6px;
}
#P42_439
{
left:20989.8px;bottom:34261.6px;
}
#P42_440
{
left:21339.3px;bottom:34261.6px;
}
#P42_441
{
left:21622.7px;bottom:34261.6px;
}
#P42_442
{
left:21823.7px;bottom:34261.6px;
}
#P42_443
{
left:22169.2px;bottom:34261.6px;
}
#P42_444
{
left:15114.8px;bottom:33365.8px;
}
#P42_445
{
left:15727.7px;bottom:33365.8px;
}
#P42_446
{
left:16307.6px;bottom:33365.8px;
}
#P42_447
{
left:16654.4px;bottom:33365.8px;
}
#P42_448
{
left:17519.4px;bottom:33365.8px;
}
#P42_449
{
left:17780.1px;bottom:33365.8px;
}
#P42_450
{
left:18076.5px;bottom:33365.8px;
}
#P42_451
{
left:18360px;bottom:33365.8px;
}
#P42_452
{
left:18848.6px;bottom:33365.8px;
}
#P42_453
{
left:19748.2px;bottom:33365.8px;
}
#P42_454
{
left:20660.3px;bottom:33365.8px;
}
#P42_455
{
left:21314.8px;bottom:33365.8px;
}
#P42_456
{
left:22630.7px;bottom:33365.8px;
}
#P42_457
{
left:15114.8px;bottom:32470.1px;
}
#P42_458
{
left:16102px;bottom:32470.1px;
}
#P42_459
{
left:16340.5px;bottom:32470.1px;
}
#P42_460
{
left:16624.1px;bottom:32470.1px;
}
#P42_461
{
left:17118px;bottom:32470.1px;
}
#P42_462
{
left:17462.8px;bottom:32470.1px;
}
#P42_463
{
left:17981.5px;bottom:32470.1px;
}
#P42_464
{
left:18330.9px;bottom:32470.1px;
}
#P42_465
{
left:18824.8px;bottom:32470.1px;
}
#P42_466
{
left:19097.7px;bottom:32470.1px;
}
#P42_467
{
left:19381.2px;bottom:32470.1px;
}
#P42_468
{
left:19553.9px;bottom:32470.1px;
}
#P42_469
{
left:20100.9px;bottom:32470.1px;
}
#P42_470
{
left:20446.3px;bottom:32470.1px;
}
#P42_471
{
left:20664.6px;bottom:32470.1px;
}
#P42_472
{
left:20803.7px;bottom:32470.1px;
}
#P42_473
{
left:22366.8px;bottom:32470.1px;
}
#P42_474
{
left:15114.8px;bottom:31574.3px;
}
#P42_475
{
left:15972.2px;bottom:31574.3px;
}
#P42_476
{
left:16431.3px;bottom:31574.3px;
}
#P42_477
{
left:17385.7px;bottom:31574.3px;
}
#P42_478
{
left:17524.9px;bottom:31574.3px;
}
#P42_479
{
left:17742.7px;bottom:31574.3px;
}
#P42_480
{
left:18089.4px;bottom:31574.3px;
}
#P42_481
{
left:19118.2px;bottom:31574.3px;
}
#P42_482
{
left:20175.3px;bottom:31574.3px;
}
#P42_483
{
left:20596.6px;bottom:31574.3px;
}
#P42_484
{
left:20944.6px;bottom:31574.3px;
}
#P42_485
{
left:21228.2px;bottom:31574.3px;
}
#P42_486
{
left:21508.5px;bottom:31574.3px;
}
#P42_487
{
left:15114.8px;bottom:30678.5px;
}
#P42_488
{
left:15311.2px;bottom:30678.5px;
}
#P42_489
{
left:16882.3px;bottom:30678.5px;
}
#P42_490
{
left:18087.9px;bottom:30678.5px;
}
#P42_491
{
left:19075px;bottom:30678.5px;
}
#P42_492
{
left:20671px;bottom:30678.5px;
}
#P42_493
{
left:21016.5px;bottom:30678.5px;
}
#P42_494
{
left:21234.8px;bottom:30678.5px;
}
#P42_495
{
left:15114.8px;bottom:29782.7px;
}
#P42_496
{
left:16677.8px;bottom:29782.7px;
}
#P42_497
{
left:17288.7px;bottom:29782.7px;
}
#P42_498
{
left:17973.4px;bottom:29782.7px;
}
#P42_499
{
left:18327.7px;bottom:29782.7px;
}
#P42_500
{
left:20281.9px;bottom:29782.7px;
}
#P42_501
{
left:20838.3px;bottom:29782.7px;
}
#P42_502
{
left:21183.7px;bottom:29782.7px;
}
#P42_503
{
left:21972px;bottom:29782.7px;
}
#P42_504
{
left:22317.4px;bottom:29782.7px;
}
#P42_505
{
left:22535.7px;bottom:29782.7px;
}
#P42_506
{
left:15114.8px;bottom:28887px;
}
#P42_507
{
left:15640.2px;bottom:28887px;
}
#P42_508
{
left:15936.6px;bottom:28887px;
}
#P42_509
{
left:16216.9px;bottom:28887px;
}
#P42_510
{
left:16468.8px;bottom:28887px;
}
#P42_511
{
left:17070.2px;bottom:28887px;
}
#P42_512
{
left:17666.9px;bottom:28887px;
}
#P42_513
{
left:17950.4px;bottom:28887px;
}
#P42_514
{
left:19069.3px;bottom:28887px;
}
#P42_515
{
left:19414.7px;bottom:28887px;
}
#P42_516
{
left:19633px;bottom:28887px;
}
#P42_517
{
left:19772.1px;bottom:28887px;
}
#P42_518
{
left:20759.2px;bottom:28887px;
}
#P42_519
{
left:21859.3px;bottom:28887px;
}
#P42_520
{
left:15114.8px;bottom:27991.2px;
}
#P42_521
{
left:15387.6px;bottom:27991.2px;
}
#P42_522
{
left:15671.2px;bottom:27991.2px;
}
#P42_523
{
left:15843.8px;bottom:27991.2px;
}
#P42_524
{
left:16296.8px;bottom:27991.2px;
}
#P42_525
{
left:16790.7px;bottom:27991.2px;
}
#P42_526
{
left:17690.4px;bottom:27991.2px;
}
#P42_527
{
left:18610.3px;bottom:27991.2px;
}
#P42_528
{
left:19208.4px;bottom:27991.2px;
}
#P42_529
{
left:19561.3px;bottom:27991.2px;
}
#P42_530
{
left:19798.5px;bottom:27991.2px;
}
#P42_531
{
left:20355.6px;bottom:27991.2px;
}
#P42_532
{
left:15114.8px;bottom:27095.4px;
}
#P42_533
{
left:15487.7px;bottom:27095.4px;
}
#P42_534
{
left:17014.5px;bottom:27095.4px;
}
#P42_535
{
left:16949.1px;bottom:25551.9px;
}
#P42_536
{
left:17419.6px;bottom:25551.9px;
}
#P42_537
{
left:21028.7px;bottom:25551.9px;
}
#P42_538
{
left:22495.1px;bottom:25551.9px;
}
#P42_539
{
left:22768.6px;bottom:25551.9px;
}
#P42_540
{
left:5568px;bottom:44881.9px;letter-spacing:20.3px;
}
#P42_541
{
left:6292.13px;bottom:44881.9px;letter-spacing:20.3px;
}
#P42_542
{
left:6584.13px;bottom:44881.9px;letter-spacing:20.3px;
}
#P42_543
{
left:6861.82px;bottom:44881.9px;
}
#P42_544
{
left:7003.46px;bottom:44881.9px;letter-spacing:6.3px;
}
#P42_545
{
left:7594.11px;bottom:44881.9px;letter-spacing:6.3px;
}
#P42_546
{
left:7985.54px;bottom:44881.9px;letter-spacing:6.3px;
}
#P42_547
{
left:8343.17px;bottom:44881.9px;letter-spacing:6.3px;
}
#P42_548
{
left:5568px;bottom:43260.5px;letter-spacing:-10.2px;
}
#P42_549
{
left:6878.72px;bottom:43260.5px;letter-spacing:-10.2px;
}
#P42_550
{
left:7781.89px;bottom:43260.5px;letter-spacing:-10.2px;
}
#P42_551
{
left:7960.45px;bottom:15304.4px;
}
#P42_552
{
left:6834.11px;bottom:14196.4px;
}
#P42_553
{
left:7313.92px;bottom:14075.5px;
}
#P42_554
{
left:6834.11px;bottom:13339.3px;
}
#P42_555
{
left:7323.71px;bottom:13460.3px;
}
#P42_556
{
left:7803.52px;bottom:13339.3px;
}
#P42_557
{
left:6834.11px;bottom:12603.2px;
}
#P42_558
{
left:7572.54px;bottom:12724.2px;
}
#P42_559
{
left:8052.35px;bottom:12603.2px;
}
#P42_560
{
left:6834.11px;bottom:11867.1px;
}
#P42_561
{
left:7918.72px;bottom:11988px;
}
#P42_562
{
left:8398.53px;bottom:11867.1px;
}
#P42_563
{
left:6834.11px;bottom:11130.9px;
}
#P42_564
{
left:8167.55px;bottom:11251.9px;
}
#P42_565
{
left:8647.36px;bottom:11130.9px;
}
#P42_566
{
left:6834.11px;bottom:10515.8px;
}
#P42_567
{
left:7313.92px;bottom:10394.8px;
}
#P42_568
{
left:5993px;bottom:15390.1px;
}
#P42_569
{
left:6196.33px;bottom:15390.1px;
}
#P42_570
{
left:6586.88px;bottom:15390.1px;
}
#P42_571
{
left:5993px;bottom:14814px;
}
#P42_572
{
left:7109.89px;bottom:14814px;
}
#P42_573
{
left:7316.1px;bottom:14814px;
}
#P42_574
{
left:15376.8px;bottom:40844.4px;letter-spacing:7.4px;
}
#P42_575
{
left:16396.2px;bottom:40844.4px;letter-spacing:7.4px;
}
#P42_576
{
left:17804.9px;bottom:40844.4px;letter-spacing:7.4px;
}
#P42_577
{
left:18720.4px;bottom:40844.4px;letter-spacing:7.4px;
}
#P42_578
{
left:19666.2px;bottom:40844.4px;letter-spacing:7.4px;
}
#P42_579
{
left:20029.8px;bottom:40844.4px;letter-spacing:7.4px;
}
#P42_580
{
left:20659.1px;bottom:40844.4px;letter-spacing:7.4px;
}
#P42_581
{
left:21596.9px;bottom:39851.8px;letter-spacing:22.4px;
}
#P42_582
{
left:24065.8px;bottom:39851.8px;letter-spacing:22.4px;
}
#P42_583
{
left:24212.7px;bottom:39851.8px;
}
#P42_584
{
left:21596.9px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_585
{
left:23000.4px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_586
{
left:23766.1px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_587
{
left:25535.2px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_588
{
left:27740.7px;bottom:39851.8px;
}
#P42_589
{
left:28077.6px;bottom:39851.8px;
}
#P42_590
{
left:28392.6px;bottom:39851.8px;
}
#P42_591
{
left:28783.7px;bottom:39851.8px;
}
#P42_592
{
left:29043.1px;bottom:39851.8px;
}
#P42_593
{
left:29268px;bottom:39851.8px;
}
#P42_594
{
left:29534.1px;bottom:39851.8px;
}
#P42_595
{
left:29658.6px;bottom:39851.8px;
}
#P42_596
{
left:30018.8px;bottom:39851.8px;
}
#P42_597
{
left:30356.6px;bottom:39851.8px;
}
#P42_598
{
left:27740.7px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_599
{
left:28281.5px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_600
{
left:28548.9px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_601
{
left:30892.4px;bottom:39339.8px;letter-spacing:22.4px;
}
#P42_602
{
left:15452.9px;bottom:38421.6px;
}
#P42_603
{
left:15897.2px;bottom:38421.6px;
}
#P42_604
{
left:16478.7px;bottom:38421.6px;
}
#P42_605
{
left:22573.8px;bottom:38389.6px;
}
#P42_606
{
left:24454.4px;bottom:38389.6px;
}
#P42_607
{
left:24579.5px;bottom:38389.6px;
}
#P42_608
{
left:25251.9px;bottom:38389.6px;
}
#P42_609
{
left:29596.8px;bottom:38389.6px;
}
#P42_610
{
left:15452.9px;bottom:37430px;
}
#P42_611
{
left:16354px;bottom:37430px;
}
#P42_612
{
left:17442.3px;bottom:37430px;
}
#P42_613
{
left:17666px;bottom:37430px;
}
#P42_614
{
left:17850.4px;bottom:37430px;
}
#P42_615
{
left:23049.3px;bottom:37398px;
}
#P42_616
{
left:24647.4px;bottom:37398px;
}
#P42_617
{
left:29976.6px;bottom:37398px;
}
#P42_618
{
left:29851.5px;bottom:23808px;
}
#P42_619
{
left:30263.9px;bottom:23808px;
}
#P42_620
{
left:32680.8px;bottom:23808px;
}
#P42_621
{
left:29851.5px;bottom:23071.9px;
}
#P42_622
{
left:29851.5px;bottom:23071.9px;
}
#P42_623
{
left:30648.6px;bottom:23071.9px;
}
#P42_624
{
left:31501.6px;bottom:23071.9px;
}
#P42_625
{
left:29851.5px;bottom:22335.7px;
}
#P42_626
{
left:30292.5px;bottom:22335.7px;
}
#P42_627
{
left:31510.7px;bottom:22335.7px;
}
#P42_628
{
left:32439.7px;bottom:22335.7px;
}
#P42_629
{
left:32699.9px;bottom:22335.7px;
}
#P42_630
{
left:32973.4px;bottom:22335.7px;
}
#P42_631
{
left:29851.5px;bottom:21231.6px;
}
#P42_632
{
left:30675px;bottom:21231.6px;
}
#P42_633
{
left:33445.5px;bottom:21231.6px;
}
#P42_634
{
left:29851.5px;bottom:20495.4px;
}
#P42_635
{
left:30751px;bottom:20495.4px;
}
#P42_636
{
left:31382.8px;bottom:20495.4px;
}
#P42_637
{
left:32387.3px;bottom:20495.4px;
}
#P42_638
{
left:33143.5px;bottom:20495.4px;
}
#P42_639
{
left:29851.5px;bottom:19759.3px;
}
#P42_640
{
left:30126.7px;bottom:19759.3px;
}
#P42_641
{
left:30595.5px;bottom:19759.3px;
}
#PageContainer42
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg042_00.jpg");background-repeat:no-repeat;background-size: 864px 1260px; background-position: 118.74px 50.3299999999999px;
}
#ImageContainer042_00 {bottom:51.67px;left:118.74px;width:863.81px;height:1260.16px;position:absolute;} #TextContainer42 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
