.tr228{ color:transparent;}
#P228_1
{
left:33356.4px;bottom:47915px;letter-spacing:25.6px;
}
#P228_2
{
left:34312.8px;bottom:47915px;letter-spacing:25.6px;
}
#P228_3
{
left:33903.7px;bottom:1826.82px;letter-spacing:5.1px;
}
#P228_4
{
left:34364.5px;bottom:1826.82px;letter-spacing:5.1px;
}
#P228_5
{
left:4416px;bottom:46059.5px;
}
#P228_6
{
left:4774.85px;bottom:46059.5px;
}
#P228_7
{
left:5315.81px;bottom:46059.5px;
}
#P228_8
{
left:5624.93px;bottom:46059.5px;
}
#P228_9
{
left:5913.89px;bottom:46059.5px;
}
#P228_10
{
left:6264px;bottom:46059.5px;
}
#P228_11
{
left:6709.57px;bottom:46059.5px;
}
#P228_12
{
left:7044.16px;bottom:46059.5px;
}
#P228_13
{
left:7380.22px;bottom:46059.5px;
}
#P228_14
{
left:7589.18px;bottom:46059.5px;
}
#P228_15
{
left:7945.34px;bottom:46059.5px;
}
#P228_16
{
left:8368.06px;bottom:46059.5px;
}
#P228_17
{
left:8825.02px;bottom:46059.5px;
}
#P228_18
{
left:9159.68px;bottom:46059.5px;
}
#P228_19
{
left:10257.6px;bottom:46059.5px;
}
#P228_20
{
left:10592.3px;bottom:46059.5px;
}
#P228_21
{
left:10954.5px;bottom:46059.5px;
}
#P228_22
{
left:5567.81px;bottom:45099.1px;
}
#P228_23
{
left:6208.22px;bottom:45263.8px;
}
#P228_24
{
left:6567.74px;bottom:45099.1px;
}
#P228_25
{
left:7107.39px;bottom:45099.1px;
}
#P228_26
{
left:7315.58px;bottom:45099.1px;
}
#P228_27
{
left:7830.34px;bottom:45099.1px;
}
#P228_28
{
left:8488.32px;bottom:45182.5px;
}
#P228_29
{
left:5567.81px;bottom:44138.9px;
}
#P228_30
{
left:5856.77px;bottom:44138.9px;
}
#P228_31
{
left:7282.11px;bottom:44138.9px;
}
#P228_32
{
left:7483.01px;bottom:44138.9px;
}
#P228_33
{
left:8456.06px;bottom:44138.9px;
}
#P228_34
{
left:8708.1px;bottom:44138.9px;
}
#P228_35
{
left:9262.4px;bottom:44138.9px;
}
#P228_36
{
left:9575.55px;bottom:44138.9px;
}
#P228_37
{
left:10862.4px;bottom:44222.2px;
}
#P228_38
{
left:5567.81px;bottom:43178.6px;
}
#P228_39
{
left:6112.8px;bottom:43178.6px;
}
#P228_40
{
left:6934.02px;bottom:43178.6px;
}
#P228_41
{
left:7216.26px;bottom:43178.6px;
}
#P228_42
{
left:7417.15px;bottom:43178.6px;
}
#P228_43
{
left:7751.81px;bottom:43178.6px;
}
#P228_44
{
left:7996.99px;bottom:43178.6px;
}
#P228_45
{
left:8533.95px;bottom:43178.6px;
}
#P228_46
{
left:5567.81px;bottom:42218.3px;
}
#P228_47
{
left:6115.49px;bottom:42218.3px;
}
#P228_48
{
left:6405.12px;bottom:42218.3px;
}
#P228_49
{
left:6698.11px;bottom:42218.3px;
}
#P228_50
{
left:6941.38px;bottom:42218.3px;
}
#P228_51
{
left:7551.49px;bottom:42218.3px;
}
#P228_52
{
left:8093.76px;bottom:42218.3px;
}
#P228_53
{
left:8545.34px;bottom:42218.3px;
}
#P228_54
{
left:8754.37px;bottom:42218.3px;
}
#P228_55
{
left:9110.53px;bottom:42218.3px;
}
#P228_56
{
left:9533.18px;bottom:42218.3px;
}
#P228_57
{
left:9889.34px;bottom:42218.3px;
}
#P228_58
{
left:10179px;bottom:42218.3px;
}
#P228_59
{
left:10477.3px;bottom:42218.3px;
}
#P228_60
{
left:10639.2px;bottom:42218.3px;
}
#P228_61
{
left:10848.3px;bottom:42218.3px;
}
#P228_62
{
left:11344.2px;bottom:42218.3px;
}
#P228_63
{
left:11678.8px;bottom:42218.3px;
}
#P228_64
{
left:12014.8px;bottom:42218.3px;
}
#P228_65
{
left:12223.8px;bottom:42218.3px;
}
#P228_66
{
left:12580px;bottom:42218.3px;
}
#P228_67
{
left:13002.7px;bottom:42218.3px;
}
#P228_68
{
left:13621.6px;bottom:42218.3px;
}
#P228_69
{
left:14719.6px;bottom:42218.3px;
}
#P228_70
{
left:15054.3px;bottom:42218.3px;
}
#P228_71
{
left:15416.5px;bottom:42218.3px;
}
#P228_72
{
left:15953.4px;bottom:42218.3px;
}
#P228_73
{
left:4416px;bottom:41258px;
}
#P228_74
{
left:4624.32px;bottom:41258px;
}
#P228_75
{
left:5162.59px;bottom:41258px;
}
#P228_76
{
left:5334.62px;bottom:41258px;
}
#P228_77
{
left:6076.51px;bottom:41258px;
}
#P228_78
{
left:6395.04px;bottom:41258px;
}
#P228_79
{
left:6659.84px;bottom:41258px;
}
#P228_80
{
left:7067.07px;bottom:41258px;
}
#P228_81
{
left:7388.93px;bottom:41258px;
}
#P228_82
{
left:7558.98px;bottom:41258px;
}
#P228_83
{
left:7787.33px;bottom:41258px;
}
#P228_84
{
left:8103.3px;bottom:41258px;
}
#P228_85
{
left:8240.38px;bottom:41258px;
}
#P228_86
{
left:8526.59px;bottom:41258px;
}
#P228_87
{
left:8815.62px;bottom:41258px;
}
#P228_88
{
left:9068.86px;bottom:41258px;
}
#P228_89
{
left:9322.18px;bottom:41258px;
}
#P228_90
{
left:10033.2px;bottom:41258px;
}
#P228_91
{
left:10416.9px;bottom:41258px;
}
#P228_92
{
left:10984.1px;bottom:41258px;
}
#P228_93
{
left:11320.1px;bottom:41258px;
}
#P228_94
{
left:11852.9px;bottom:41258px;
}
#P228_95
{
left:12105px;bottom:41258px;
}
#P228_96
{
left:12394.6px;bottom:41258px;
}
#P228_97
{
left:12687.6px;bottom:41258px;
}
#P228_98
{
left:12939.6px;bottom:41258px;
}
#P228_99
{
left:13362.2px;bottom:41258px;
}
#P228_100
{
left:13570.5px;bottom:41258px;
}
#P228_101
{
left:14108.8px;bottom:41258px;
}
#P228_102
{
left:14280.8px;bottom:41258px;
}
#P228_103
{
left:15255.2px;bottom:41258px;
}
#P228_104
{
left:15944.7px;bottom:41258px;
}
#P228_105
{
left:17040.7px;bottom:41258px;
}
#P228_106
{
left:17329.7px;bottom:41258px;
}
#P228_107
{
left:17684.5px;bottom:41258px;
}
#P228_108
{
left:4991.9px;bottom:40297.7px;
}
#P228_109
{
left:5200.22px;bottom:40297.7px;
}
#P228_110
{
left:5738.5px;bottom:40297.7px;
}
#P228_111
{
left:5910.53px;bottom:40297.7px;
}
#P228_112
{
left:6652.42px;bottom:40297.7px;
}
#P228_113
{
left:6961.54px;bottom:40297.7px;
}
#P228_114
{
left:7612.03px;bottom:40297.7px;
}
#P228_115
{
left:8434.56px;bottom:40297.7px;
}
#P228_116
{
left:8790.72px;bottom:40297.7px;
}
#P228_117
{
left:9316.93px;bottom:40297.7px;
}
#P228_118
{
left:9605.76px;bottom:40297.7px;
}
#P228_119
{
left:10132.6px;bottom:40297.7px;
}
#P228_120
{
left:10339.6px;bottom:40297.7px;
}
#P228_121
{
left:10599px;bottom:40297.7px;
}
#P228_122
{
left:5567.81px;bottom:39337.4px;
}
#P228_123
{
left:6208.22px;bottom:39502px;
}
#P228_124
{
left:6567.74px;bottom:39337.4px;
}
#P228_125
{
left:7107.39px;bottom:39337.4px;
}
#P228_126
{
left:7315.58px;bottom:39337.4px;
}
#P228_127
{
left:7830.34px;bottom:39337.4px;
}
#P228_128
{
left:8488.32px;bottom:39420.7px;
}
#P228_129
{
left:5567.81px;bottom:38377.2px;
}
#P228_130
{
left:6104.74px;bottom:38377.2px;
}
#P228_131
{
left:6396.38px;bottom:38377.2px;
}
#P228_132
{
left:6714.24px;bottom:38377.2px;
}
#P228_133
{
left:7252.54px;bottom:38377.2px;
}
#P228_134
{
left:8895.55px;bottom:38377.2px;
}
#P228_135
{
left:9347.14px;bottom:38377.2px;
}
#P228_136
{
left:9892.16px;bottom:38377.2px;
}
#P228_137
{
left:10422.3px;bottom:38377.2px;
}
#P228_138
{
left:10735.4px;bottom:38377.2px;
}
#P228_139
{
left:11262.3px;bottom:38377.2px;
}
#P228_140
{
left:11621.1px;bottom:38377.2px;
}
#P228_141
{
left:11919.5px;bottom:38377.2px;
}
#P228_142
{
left:12226.6px;bottom:38377.2px;
}
#P228_143
{
left:12763.5px;bottom:38377.2px;
}
#P228_144
{
left:13006.8px;bottom:38377.2px;
}
#P228_145
{
left:13207.7px;bottom:38377.2px;
}
#P228_146
{
left:13542.3px;bottom:38377.2px;
}
#P228_147
{
left:13795.7px;bottom:38377.2px;
}
#P228_148
{
left:14798.3px;bottom:38377.2px;letter-spacing:4.0px;
}
#P228_149
{
left:15381.6px;bottom:38377.2px;letter-spacing:4.0px;
}
#P228_150
{
left:15651.1px;bottom:38377.2px;
}
#P228_151
{
left:15788.2px;bottom:38377.2px;
}
#P228_152
{
left:16146.4px;bottom:38377.2px;
}
#P228_153
{
left:16435.3px;bottom:38377.2px;
}
#P228_154
{
left:17288.1px;bottom:38377.2px;
}
#P228_155
{
left:17528.6px;bottom:38377.2px;
}
#P228_156
{
left:17817.6px;bottom:38377.2px;
}
#P228_157
{
left:5567.81px;bottom:37416.8px;
}
#P228_158
{
left:5819.81px;bottom:37416.8px;
}
#P228_159
{
left:7382.91px;bottom:37416.8px;
}
#P228_160
{
left:7710.14px;bottom:37416.8px;
}
#P228_161
{
left:7999.1px;bottom:37416.8px;
}
#P228_162
{
left:8349.89px;bottom:37416.8px;
}
#P228_163
{
left:8640.19px;bottom:37416.8px;letter-spacing:4.0px;
}
#P228_164
{
left:9223.49px;bottom:37416.8px;letter-spacing:4.0px;
}
#P228_165
{
left:9492.29px;bottom:37416.8px;
}
#P228_166
{
left:9629.38px;bottom:37416.8px;
}
#P228_167
{
left:9881.41px;bottom:37416.8px;
}
#P228_168
{
left:11444.4px;bottom:37416.8px;
}
#P228_169
{
left:11771.7px;bottom:37416.8px;
}
#P228_170
{
left:12060.7px;bottom:37416.8px;
}
#P228_171
{
left:12411.5px;bottom:37416.8px;
}
#P228_172
{
left:12701.8px;bottom:37416.8px;
}
#P228_173
{
left:12910px;bottom:37416.8px;
}
#P228_174
{
left:13448.3px;bottom:37416.8px;
}
#P228_175
{
left:13620.3px;bottom:37416.8px;
}
#P228_176
{
left:4416px;bottom:36456.6px;
}
#P228_177
{
left:4624.32px;bottom:36456.6px;
}
#P228_178
{
left:5162.59px;bottom:36456.6px;
}
#P228_179
{
left:5334.62px;bottom:36456.6px;
}
#P228_180
{
left:6076.51px;bottom:36456.6px;
}
#P228_181
{
left:6328.51px;bottom:36456.6px;
}
#P228_182
{
left:6611.39px;bottom:36456.6px;
}
#P228_183
{
left:7070.4px;bottom:36456.6px;
}
#P228_184
{
left:7359.3px;bottom:36456.6px;
}
#P228_185
{
left:7567.62px;bottom:36456.6px;
}
#P228_186
{
left:7742.98px;bottom:36456.6px;
}
#P228_187
{
left:8048.77px;bottom:36456.6px;
}
#P228_188
{
left:8331.65px;bottom:36456.6px;
}
#P228_189
{
left:8496.96px;bottom:36456.6px;
}
#P228_190
{
left:8942.53px;bottom:36456.6px;
}
#P228_191
{
left:9275.84px;bottom:36456.6px;
}
#P228_192
{
left:9516.42px;bottom:36456.6px;
}
#P228_193
{
left:9805.38px;bottom:36456.6px;
}
#P228_194
{
left:10094.3px;bottom:36456.6px;
}
#P228_195
{
left:10991.4px;bottom:36456.6px;
}
#P228_196
{
left:5567.81px;bottom:35496.3px;
}
#P228_197
{
left:6200.83px;bottom:35496.3px;
}
#P228_198
{
left:6890.3px;bottom:35496.3px;
}
#P228_199
{
left:7986.37px;bottom:35496.3px;
}
#P228_200
{
left:8275.39px;bottom:35496.3px;
}
#P228_201
{
left:8640.26px;bottom:35496.3px;
}
#P228_202
{
left:9206.08px;bottom:35496.3px;
}
#P228_203
{
left:9496.32px;bottom:35579.6px;
}
#P228_204
{
left:5567.81px;bottom:34536px;
}
#P228_205
{
left:6102.72px;bottom:34700.6px;
}
#P228_206
{
left:6473.66px;bottom:34536px;
}
#P228_207
{
left:6999.87px;bottom:34536px;
}
#P228_208
{
left:7640.26px;bottom:34536px;
}
#P228_209
{
left:7982.34px;bottom:34536px;
}
#P228_210
{
left:8280.7px;bottom:34536px;
}
#P228_211
{
left:8454.08px;bottom:34536px;
}
#P228_212
{
left:8907.01px;bottom:34536px;
}
#P228_213
{
left:9899.52px;bottom:34536px;letter-spacing:4.0px;
}
#P228_214
{
left:10482.8px;bottom:34536px;letter-spacing:4.0px;
}
#P228_215
{
left:10751.6px;bottom:34536px;
}
#P228_216
{
left:10888.7px;bottom:34536px;
}
#P228_217
{
left:11244.9px;bottom:34536px;
}
#P228_218
{
left:11731.4px;bottom:34536px;
}
#P228_219
{
left:12257.5px;bottom:34536px;
}
#P228_220
{
left:12596.2px;bottom:34536px;
}
#P228_221
{
left:13496px;bottom:34536px;
}
#P228_222
{
left:13831.3px;bottom:34536px;
}
#P228_223
{
left:14186.1px;bottom:34536px;
}
#P228_224
{
left:14569.9px;bottom:34536px;
}
#P228_225
{
left:14868.2px;bottom:34536px;
}
#P228_226
{
left:15041.6px;bottom:34536px;
}
#P228_227
{
left:15494.5px;bottom:34536px;
}
#P228_228
{
left:5567.81px;bottom:33575.7px;
}
#P228_229
{
left:6257.28px;bottom:33575.7px;
}
#P228_230
{
left:7353.34px;bottom:33575.7px;
}
#P228_231
{
left:7642.3px;bottom:33575.7px;
}
#P228_232
{
left:7997.12px;bottom:33575.7px;
}
#P228_233
{
left:8339.14px;bottom:33575.7px;
}
#P228_234
{
left:8547.39px;bottom:33575.7px;
}
#P228_235
{
left:9085.63px;bottom:33575.7px;
}
#P228_236
{
left:9257.66px;bottom:33575.7px;
}
#P228_237
{
left:9999.55px;bottom:33575.7px;
}
#P228_238
{
left:5567.81px;bottom:32615.4px;
}
#P228_239
{
left:5857.44px;bottom:32615.4px;
}
#P228_240
{
left:6146.4px;bottom:32615.4px;
}
#P228_241
{
left:6393.02px;bottom:32615.4px;
}
#P228_242
{
left:6558.34px;bottom:32615.4px;
}
#P228_243
{
left:7003.9px;bottom:32615.4px;
}
#P228_244
{
left:7347.97px;bottom:32615.4px;
}
#P228_245
{
left:8181.25px;bottom:32615.4px;
}
#P228_246
{
left:8389.5px;bottom:32615.4px;
}
#P228_247
{
left:9676.42px;bottom:32615.4px;
}
#P228_248
{
left:5567.81px;bottom:31655.1px;
}
#P228_249
{
left:6171.26px;bottom:31655.1px;
}
#P228_250
{
left:6718.98px;bottom:31655.1px;
}
#P228_251
{
left:7205.5px;bottom:31655.1px;
}
#P228_252
{
left:8028.03px;bottom:31738.4px;
}
#P228_253
{
left:9036.03px;bottom:31655.1px;
}
#P228_254
{
left:9326.27px;bottom:31655.1px;
}
#P228_255
{
left:5567.14px;bottom:30694.8px;
}
#P228_256
{
left:5876.26px;bottom:30694.8px;
}
#P228_257
{
left:6526.78px;bottom:30694.8px;
}
#P228_258
{
left:7349.31px;bottom:30778.2px;
}
#P228_259
{
left:5567.14px;bottom:29734.5px;
}
#P228_260
{
left:5876.26px;bottom:29734.5px;
}
#P228_261
{
left:6526.78px;bottom:29734.5px;
}
#P228_262
{
left:7020.67px;bottom:29734.5px;
}
#P228_263
{
left:7622.14px;bottom:29734.5px;
}
#P228_264
{
left:8170.43px;bottom:29734.5px;
}
#P228_265
{
left:8468.86px;bottom:29734.5px;
}
#P228_266
{
left:8796.1px;bottom:29734.5px;
}
#P228_267
{
left:9430.46px;bottom:29734.5px;
}
#P228_268
{
left:9763.14px;bottom:29734.5px;
}
#P228_269
{
left:10053.4px;bottom:29734.5px;letter-spacing:4.0px;
}
#P228_270
{
left:10636.7px;bottom:29734.5px;letter-spacing:4.0px;
}
#P228_271
{
left:10905.5px;bottom:29734.5px;
}
#P228_272
{
left:11042.6px;bottom:29734.5px;
}
#P228_273
{
left:11351.7px;bottom:29734.5px;
}
#P228_274
{
left:12002.2px;bottom:29734.5px;
}
#P228_275
{
left:12337.5px;bottom:29734.5px;
}
#P228_276
{
left:12544.4px;bottom:29734.5px;
}
#P228_277
{
left:13211.1px;bottom:29734.5px;
}
#P228_278
{
left:5567.14px;bottom:28774.3px;
}
#P228_279
{
left:5876.26px;bottom:28774.3px;
}
#P228_280
{
left:6526.78px;bottom:28774.3px;
}
#P228_281
{
left:6862.08px;bottom:28774.3px;
}
#P228_282
{
left:7069.06px;bottom:28774.3px;
}
#P228_283
{
left:7735.62px;bottom:28774.3px;
}
#P228_284
{
left:8558.21px;bottom:28857.6px;
}
#P228_285
{
left:5567.14px;bottom:27814px;
}
#P228_286
{
left:5923.3px;bottom:27814px;
}
#P228_287
{
left:6449.47px;bottom:27814px;
}
#P228_288
{
left:6738.43px;bottom:27814px;
}
#P228_289
{
left:7265.28px;bottom:27814px;
}
#P228_290
{
left:7472.19px;bottom:27814px;
}
#P228_291
{
left:7731.58px;bottom:27814px;
}
#P228_292
{
left:8021.95px;bottom:27897.3px;
}
#P228_293
{
left:5567.14px;bottom:26853.7px;
}
#P228_294
{
left:5923.3px;bottom:26853.7px;
}
#P228_295
{
left:6409.86px;bottom:26853.7px;
}
#P228_296
{
left:6936px;bottom:26853.7px;
}
#P228_297
{
left:7274.69px;bottom:26853.7px;
}
#P228_298
{
left:8174.53px;bottom:26853.7px;
}
#P228_299
{
left:8509.82px;bottom:26853.7px;
}
#P228_300
{
left:8864.64px;bottom:26853.7px;
}
#P228_301
{
left:9248.38px;bottom:26853.7px;
}
#P228_302
{
left:9546.75px;bottom:26853.7px;
}
#P228_303
{
left:9720.13px;bottom:26853.7px;
}
#P228_304
{
left:10173.1px;bottom:26853.7px;
}
#P228_305
{
left:11165.6px;bottom:26937px;
}
#P228_306
{
left:5567.14px;bottom:25893.4px;
}
#P228_307
{
left:5923.3px;bottom:25893.4px;
}
#P228_308
{
left:6257.95px;bottom:25893.4px;
}
#P228_309
{
left:6805.63px;bottom:25893.4px;
}
#P228_310
{
left:7144.32px;bottom:25893.4px;
}
#P228_311
{
left:8044.16px;bottom:25893.4px;
}
#P228_312
{
left:8379.46px;bottom:25893.4px;
}
#P228_313
{
left:8734.27px;bottom:25893.4px;
}
#P228_314
{
left:9118.02px;bottom:25893.4px;
}
#P228_315
{
left:9416.38px;bottom:25893.4px;
}
#P228_316
{
left:9589.7px;bottom:25893.4px;
}
#P228_317
{
left:10042.7px;bottom:25893.4px;
}
#P228_318
{
left:11035.2px;bottom:25976.7px;
}
#P228_319
{
left:5567.14px;bottom:24933.1px;
}
#P228_320
{
left:5913.22px;bottom:24933.1px;
}
#P228_321
{
left:6818.43px;bottom:24933.1px;
}
#P228_322
{
left:7107.39px;bottom:24933.1px;
}
#P228_323
{
left:7612.03px;bottom:24933.1px;
}
#P228_324
{
left:7948.74px;bottom:24933.1px;
}
#P228_325
{
left:8467.39px;bottom:24933.1px;
}
#P228_326
{
left:8816.19px;bottom:24933.1px;
}
#P228_327
{
left:9308.1px;bottom:24933.1px;
}
#P228_328
{
left:9515.07px;bottom:24933.1px;
}
#P228_329
{
left:10181.7px;bottom:24933.1px;
}
#P228_330
{
left:11004.2px;bottom:24933.1px;
}
#P228_331
{
left:5567.14px;bottom:23972.8px;
}
#P228_332
{
left:6742.46px;bottom:23972.8px;
}
#P228_333
{
left:6950.78px;bottom:23972.8px;
}
#P228_334
{
left:7417.09px;bottom:23972.8px;
}
#P228_335
{
left:7715.46px;bottom:23972.8px;
}
#P228_336
{
left:8022.53px;bottom:23972.8px;
}
#P228_337
{
left:8320.9px;bottom:23972.8px;
}
#P228_338
{
left:8494.21px;bottom:23972.8px;
}
#P228_339
{
left:8947.14px;bottom:23972.8px;
}
#P228_340
{
left:9939.71px;bottom:23972.8px;letter-spacing:4.0px;
}
#P228_341
{
left:10523px;bottom:23972.8px;letter-spacing:4.0px;
}
#P228_342
{
left:10791.9px;bottom:23972.8px;
}
#P228_343
{
left:10929px;bottom:23972.8px;
}
#P228_344
{
left:11285.2px;bottom:23972.8px;
}
#P228_345
{
left:11619.8px;bottom:23972.8px;
}
#P228_346
{
left:12167.6px;bottom:23972.8px;
}
#P228_347
{
left:12506.2px;bottom:23972.8px;
}
#P228_348
{
left:13406px;bottom:23972.8px;
}
#P228_349
{
left:13741.3px;bottom:23972.8px;
}
#P228_350
{
left:14096.1px;bottom:23972.8px;
}
#P228_351
{
left:14479.9px;bottom:23972.8px;
}
#P228_352
{
left:14778.2px;bottom:23972.8px;
}
#P228_353
{
left:14951.6px;bottom:23972.8px;
}
#P228_354
{
left:15404.5px;bottom:23972.8px;
}
#P228_355
{
left:5567.14px;bottom:23012.5px;
}
#P228_356
{
left:6112.13px;bottom:23012.5px;
}
#P228_357
{
left:6731.07px;bottom:23012.5px;
}
#P228_358
{
left:7268.67px;bottom:23012.5px;
}
#P228_359
{
left:7616.06px;bottom:23012.5px;
}
#P228_360
{
left:8272.51px;bottom:23012.5px;
}
#P228_361
{
left:8695.23px;bottom:23012.5px;
}
#P228_362
{
left:9384.7px;bottom:23012.5px;
}
#P228_363
{
left:10480.7px;bottom:23012.5px;
}
#P228_364
{
left:10769.7px;bottom:23012.5px;
}
#P228_365
{
left:11134.6px;bottom:23012.5px;
}
#P228_366
{
left:11700.4px;bottom:23012.5px;
}
#P228_367
{
left:11990.7px;bottom:23095.9px;
}
#P228_368
{
left:5567.14px;bottom:22052.2px;
}
#P228_369
{
left:5914.56px;bottom:22052.2px;
}
#P228_370
{
left:6270.72px;bottom:22052.2px;
}
#P228_371
{
left:6921.22px;bottom:22052.2px;
}
#P228_372
{
left:7256.58px;bottom:22052.2px;
}
#P228_373
{
left:7463.49px;bottom:22052.2px;
}
#P228_374
{
left:8130.18px;bottom:22052.2px;
}
#P228_375
{
left:8952.7px;bottom:22135.6px;
}
#P228_376
{
left:5567.14px;bottom:21092px;
}
#P228_377
{
left:5914.56px;bottom:21092px;
}
#P228_378
{
left:6257.95px;bottom:21092px;
}
#P228_379
{
left:7279.42px;bottom:21092px;
}
#P228_380
{
left:7577.66px;bottom:21092px;
}
#P228_381
{
left:7884.8px;bottom:21092px;
}
#P228_382
{
left:8167.04px;bottom:21092px;
}
#P228_383
{
left:8511.74px;bottom:21092px;
}
#P228_384
{
left:8869.95px;bottom:21092px;
}
#P228_385
{
left:9159.55px;bottom:21092px;
}
#P228_386
{
left:9448.51px;bottom:21092px;
}
#P228_387
{
left:9986.82px;bottom:21092px;
}
#P228_388
{
left:10351.7px;bottom:21092px;
}
#P228_389
{
left:10917.4px;bottom:21092px;
}
#P228_390
{
left:11207.7px;bottom:21092px;letter-spacing:4.0px;
}
#P228_391
{
left:11791px;bottom:21092px;letter-spacing:4.0px;
}
#P228_392
{
left:12060px;bottom:21092px;
}
#P228_393
{
left:12197.1px;bottom:21092px;
}
#P228_394
{
left:12544.5px;bottom:21092px;
}
#P228_395
{
left:12900.7px;bottom:21092px;
}
#P228_396
{
left:13551.2px;bottom:21092px;
}
#P228_397
{
left:13886.5px;bottom:21092px;
}
#P228_398
{
left:14093.4px;bottom:21092px;
}
#P228_399
{
left:14760.1px;bottom:21092px;
}
#P228_400
{
left:5567.14px;bottom:20131.6px;
}
#P228_401
{
left:5807.71px;bottom:20131.6px;
}
#P228_402
{
left:6096.67px;bottom:20131.6px;
}
#P228_403
{
left:6909.7px;bottom:20131.6px;
}
#P228_404
{
left:7331.71px;bottom:20131.6px;
}
#P228_405
{
left:7637.5px;bottom:20131.6px;
}
#P228_406
{
left:8060.16px;bottom:20131.6px;
}
#P228_407
{
left:8268.48px;bottom:20131.6px;
}
#P228_408
{
left:8806.78px;bottom:20131.6px;
}
#P228_409
{
left:8978.82px;bottom:20131.6px;
}
#P228_410
{
left:9720.7px;bottom:20131.6px;
}
#P228_411
{
left:5567.14px;bottom:19171.4px;
}
#P228_412
{
left:5819.14px;bottom:19171.4px;
}
#P228_413
{
left:6780.67px;bottom:19171.4px;
}
#P228_414
{
left:7079.04px;bottom:19171.4px;
}
#P228_415
{
left:7386.18px;bottom:19171.4px;
}
#P228_416
{
left:7626.75px;bottom:19171.4px;
}
#P228_417
{
left:8256.38px;bottom:19171.4px;
}
#P228_418
{
left:8496.96px;bottom:19171.4px;
}
#P228_419
{
left:8845.76px;bottom:19171.4px;
}
#P228_420
{
left:9192.51px;bottom:19171.4px;
}
#P228_421
{
left:9838.21px;bottom:19171.4px;
}
#P228_422
{
left:10046.5px;bottom:19171.4px;
}
#P228_423
{
left:10222px;bottom:19171.4px;
}
#P228_424
{
left:10527.7px;bottom:19171.4px;
}
#P228_425
{
left:10950.4px;bottom:19171.4px;
}
#P228_426
{
left:11517.6px;bottom:19171.4px;
}
#P228_427
{
left:11690.9px;bottom:19171.4px;
}
#P228_428
{
left:11858.9px;bottom:19171.4px;
}
#P228_429
{
left:12395.8px;bottom:19171.4px;
}
#P228_430
{
left:13653.8px;bottom:19171.4px;
}
#P228_431
{
left:4415.33px;bottom:18211.1px;
}
#P228_432
{
left:4623.65px;bottom:18211.1px;
}
#P228_433
{
left:5161.92px;bottom:18211.1px;
}
#P228_434
{
left:5524.13px;bottom:18211.1px;
}
#P228_435
{
left:5776.13px;bottom:18211.1px;
}
#P228_436
{
left:6313.66px;bottom:18211.1px;
}
#P228_437
{
left:6485.7px;bottom:18211.1px;
}
#P228_438
{
left:6830.4px;bottom:18211.1px;
}
#P228_439
{
left:7038.72px;bottom:18211.1px;
}
#P228_440
{
left:7553.47px;bottom:18211.1px;
}
#P228_441
{
left:5567.14px;bottom:17250.8px;
}
#P228_442
{
left:6207.55px;bottom:17415.5px;
}
#P228_443
{
left:6567.1px;bottom:17250.8px;
}
#P228_444
{
left:7106.69px;bottom:17250.8px;
}
#P228_445
{
left:7315.01px;bottom:17250.8px;
}
#P228_446
{
left:7829.76px;bottom:17250.8px;
}
#P228_447
{
left:8487.62px;bottom:17334.1px;
}
#P228_448
{
left:5567.14px;bottom:16290.5px;
}
#P228_449
{
left:6251.9px;bottom:16290.5px;
}
#P228_450
{
left:6595.97px;bottom:16290.5px;
}
#P228_451
{
left:6836.54px;bottom:16290.5px;
}
#P228_452
{
left:7171.9px;bottom:16290.5px;
}
#P228_453
{
left:7372.8px;bottom:16290.5px;
}
#P228_454
{
left:8343.17px;bottom:16290.5px;
}
#P228_455
{
left:8900.29px;bottom:16290.5px;
}
#P228_456
{
left:9255.1px;bottom:16290.5px;
}
#P228_457
{
left:9464.06px;bottom:16290.5px;
}
#P228_458
{
left:9820.22px;bottom:16290.5px;
}
#P228_459
{
left:10530.5px;bottom:16290.5px;
}
#P228_460
{
left:11067.5px;bottom:16290.5px;
}
#P228_461
{
left:12029.1px;bottom:16290.5px;
}
#P228_462
{
left:12320.1px;bottom:16373.8px;
}
#P228_463
{
left:13328.1px;bottom:16290.5px;
}
#P228_464
{
left:4415.33px;bottom:15330.2px;
}
#P228_465
{
left:4623.65px;bottom:15330.2px;
}
#P228_466
{
left:5161.92px;bottom:15330.2px;
}
#P228_467
{
left:5524.13px;bottom:15330.2px;
}
#P228_468
{
left:5776.13px;bottom:15330.2px;
}
#P228_469
{
left:6313.66px;bottom:15330.2px;
}
#P228_470
{
left:6485.7px;bottom:15330.2px;
}
#P228_471
{
left:6830.4px;bottom:15330.2px;
}
#P228_472
{
left:7038.72px;bottom:15330.2px;
}
#P228_473
{
left:7553.47px;bottom:15330.2px;
}
#P228_474
{
left:8058.18px;bottom:15330.2px;
}
#P228_475
{
left:8840.96px;bottom:15330.2px;
}
#P228_476
{
left:9041.92px;bottom:15330.2px;
}
#P228_477
{
left:9376.58px;bottom:15330.2px;
}
#P228_478
{
left:9621.82px;bottom:15330.2px;
}
#P228_479
{
left:10158.8px;bottom:15413.6px;
}
#P228_480
{
left:11166.8px;bottom:15330.2px;
}
#P228_481
{
left:11457.9px;bottom:15413.6px;
}
#P228_482
{
left:12465.9px;bottom:15330.2px;
}
#P228_483
{
left:12756.2px;bottom:15330.2px;
}
#P228_484
{
left:13074.7px;bottom:15330.2px;
}
#P228_485
{
left:13339.5px;bottom:15330.2px;
}
#P228_486
{
left:13746.7px;bottom:15330.2px;
}
#P228_487
{
left:14068.6px;bottom:15330.2px;
}
#P228_488
{
left:14238.6px;bottom:15330.2px;
}
#P228_489
{
left:14467px;bottom:15330.2px;
}
#P228_490
{
left:14782.9px;bottom:15330.2px;
}
#P228_491
{
left:14920px;bottom:15330.2px;
}
#P228_492
{
left:15264.1px;bottom:15330.2px;
}
#P228_493
{
left:15504.6px;bottom:15330.2px;
}
#P228_494
{
left:15840px;bottom:15330.2px;
}
#P228_495
{
left:16040.9px;bottom:15330.2px;
}
#P228_496
{
left:4991.23px;bottom:14369.9px;
}
#P228_497
{
left:5548.32px;bottom:14369.9px;
}
#P228_498
{
left:5903.14px;bottom:14369.9px;
}
#P228_499
{
left:6112.13px;bottom:14369.9px;
}
#P228_500
{
left:6468.29px;bottom:14369.9px;
}
#P228_501
{
left:7178.69px;bottom:14369.9px;
}
#P228_502
{
left:4415.33px;bottom:13409.7px;
}
#P228_503
{
left:4623.65px;bottom:13409.7px;
}
#P228_504
{
left:5161.92px;bottom:13409.7px;
}
#P228_505
{
left:5524.13px;bottom:13409.7px;
}
#P228_506
{
left:5942.78px;bottom:13409.7px;
}
#P228_507
{
left:6151.1px;bottom:13409.7px;
}
#P228_508
{
left:6665.86px;bottom:13409.7px;
}
#P228_509
{
left:7031.42px;bottom:13409.7px;
}
#P228_510
{
left:7329.79px;bottom:13409.7px;
}
#P228_511
{
left:7636.93px;bottom:13409.7px;
}
#P228_512
{
left:7829.76px;bottom:13409.7px;
}
#P228_513
{
left:8119.42px;bottom:13409.7px;
}
#P228_514
{
left:8401.66px;bottom:13409.7px;
}
#P228_515
{
left:8599.87px;bottom:13409.7px;
}
#P228_516
{
left:9197.25px;bottom:13409.7px;
}
#P228_517
{
left:10019.8px;bottom:13493px;
}
#P228_518
{
left:11027.8px;bottom:13409.7px;
}
#P228_519
{
left:11318.8px;bottom:13493px;
}
#P228_520
{
left:4415.33px;bottom:12449.3px;
}
#P228_521
{
left:4623.65px;bottom:12449.3px;
}
#P228_522
{
left:5161.92px;bottom:12449.3px;
}
#P228_523
{
left:5524.13px;bottom:12449.3px;
}
#P228_524
{
left:5942.78px;bottom:12449.3px;
}
#P228_525
{
left:6151.1px;bottom:12449.3px;
}
#P228_526
{
left:6665.86px;bottom:12449.3px;
}
#P228_527
{
left:7031.42px;bottom:12449.3px;
}
#P228_528
{
left:7329.79px;bottom:12449.3px;
}
#P228_529
{
left:7636.93px;bottom:12449.3px;
}
#P228_530
{
left:7829.76px;bottom:12449.3px;
}
#P228_531
{
left:8415.74px;bottom:12449.3px;
}
#P228_532
{
left:8845.82px;bottom:12449.3px;
}
#P228_533
{
left:9013.82px;bottom:12449.3px;
}
#P228_534
{
left:9550.72px;bottom:12449.3px;
}
#P228_535
{
left:10808.8px;bottom:12532.7px;
}
#P228_536
{
left:4415.33px;bottom:11489.1px;
}
#P228_537
{
left:4623.65px;bottom:11489.1px;
}
#P228_538
{
left:5161.92px;bottom:11489.1px;
}
#P228_539
{
left:5524.13px;bottom:11489.1px;
}
#P228_540
{
left:5768.06px;bottom:11489.1px;
}
#P228_541
{
left:5940.03px;bottom:11489.1px;
}
#P228_542
{
left:6222.34px;bottom:11489.1px;
}
#P228_543
{
left:6430.59px;bottom:11489.1px;
}
#P228_544
{
left:6945.34px;bottom:11489.1px;
}
#P228_545
{
left:7603.33px;bottom:11489.1px;
}
#P228_546
{
left:8564.93px;bottom:11489.1px;
}
#P228_547
{
left:8855.23px;bottom:11572.4px;
}
#P228_548
{
left:9863.23px;bottom:11489.1px;
}
#P228_549
{
left:11470.7px;bottom:11572.4px;
}
#P228_550
{
left:12478.7px;bottom:11489.1px;
}
#P228_551
{
left:12769px;bottom:11489.1px;
}
#P228_552
{
left:13087.5px;bottom:11489.1px;
}
#P228_553
{
left:13352.3px;bottom:11489.1px;
}
#P228_554
{
left:13759.5px;bottom:11489.1px;
}
#P228_555
{
left:14081.3px;bottom:11489.1px;
}
#P228_556
{
left:14251.4px;bottom:11489.1px;
}
#P228_557
{
left:14479.8px;bottom:11489.1px;
}
#P228_558
{
left:14795.7px;bottom:11489.1px;
}
#P228_559
{
left:14932.8px;bottom:11489.1px;
}
#P228_560
{
left:16374.2px;bottom:11489.1px;
}
#P228_561
{
left:4990.56px;bottom:10528.8px;
}
#P228_562
{
left:5334.62px;bottom:10528.8px;
}
#P228_563
{
left:5575.2px;bottom:10528.8px;
}
#P228_564
{
left:5910.53px;bottom:10528.8px;
}
#P228_565
{
left:6111.46px;bottom:10528.8px;
}
#P228_566
{
left:7081.86px;bottom:10528.8px;
}
#P228_567
{
left:7638.91px;bottom:10528.8px;
}
#P228_568
{
left:7993.73px;bottom:10528.8px;
}
#P228_569
{
left:8202.69px;bottom:10528.8px;
}
#P228_570
{
left:8558.91px;bottom:10528.8px;
}
#P228_571
{
left:9269.18px;bottom:10528.8px;
}
#P228_572
{
left:4414.66px;bottom:9568.51px;
}
#P228_573
{
left:4622.98px;bottom:9568.51px;
}
#P228_574
{
left:5161.25px;bottom:9568.51px;
}
#P228_575
{
left:5523.46px;bottom:9568.51px;
}
#P228_576
{
left:5766.72px;bottom:9568.51px;
}
#P228_577
{
left:6124.9px;bottom:9568.51px;
}
#P228_578
{
left:6459.58px;bottom:9568.51px;
}
#P228_579
{
left:6715.52px;bottom:9568.51px;
}
#P228_580
{
left:7057.54px;bottom:9568.51px;
}
#P228_581
{
left:7388.16px;bottom:9568.51px;
}
#P228_582
{
left:7833.73px;bottom:9568.51px;
}
#P228_583
{
left:8139.46px;bottom:9568.51px;
}
#P228_584
{
left:9132.03px;bottom:9568.51px;
}
#P228_585
{
left:10124.5px;bottom:9651.84px;
}
#P228_586
{
left:11132.5px;bottom:9568.51px;
}
#P228_587
{
left:11423.6px;bottom:9568.51px;
}
#P228_588
{
left:4414.66px;bottom:8608.19px;
}
#P228_589
{
left:4622.98px;bottom:8608.19px;
}
#P228_590
{
left:5161.25px;bottom:8608.19px;
}
#P228_591
{
left:5523.46px;bottom:8608.19px;
}
#P228_592
{
left:5766.72px;bottom:8608.19px;
}
#P228_593
{
left:6124.9px;bottom:8608.19px;
}
#P228_594
{
left:6459.46px;bottom:8608.19px;
}
#P228_595
{
left:6715.52px;bottom:8608.19px;
}
#P228_596
{
left:7057.54px;bottom:8608.19px;
}
#P228_597
{
left:7401.6px;bottom:8608.19px;
}
#P228_598
{
left:7642.18px;bottom:8608.19px;
}
#P228_599
{
left:7977.54px;bottom:8608.19px;
}
#P228_600
{
left:8178.43px;bottom:8608.19px;
}
#P228_601
{
left:9006.34px;bottom:8608.19px;
}
#P228_602
{
left:5566.46px;bottom:7647.94px;
}
#P228_603
{
left:6206.88px;bottom:7812.58px;
}
#P228_604
{
left:6566.4px;bottom:7647.94px;
}
#P228_605
{
left:7105.98px;bottom:7647.94px;
}
#P228_606
{
left:7314.37px;bottom:7647.94px;
}
#P228_607
{
left:7829.12px;bottom:7647.94px;
}
#P228_608
{
left:8486.98px;bottom:7731.26px;
}
#P228_609
{
left:5566.46px;bottom:6687.62px;
}
#P228_610
{
left:6458.24px;bottom:6687.62px;
}
#P228_611
{
left:6995.78px;bottom:6687.62px;
}
#P228_612
{
left:7343.23px;bottom:6687.62px;
}
#P228_613
{
left:8335.81px;bottom:6687.62px;
}
#P228_614
{
left:5566.46px;bottom:5727.33px;
}
#P228_615
{
left:5769.41px;bottom:5727.33px;
}
#P228_616
{
left:6491.14px;bottom:5727.33px;
}
#P228_617
{
left:6780.1px;bottom:5727.33px;
}
#P228_618
{
left:6988.35px;bottom:5727.33px;
}
#P228_619
{
left:7503.1px;bottom:5727.33px;
}
#P228_620
{
left:8007.74px;bottom:5727.33px;
}
#P228_621
{
left:8342.4px;bottom:5727.33px;
}
#P228_622
{
left:8537.98px;bottom:5727.33px;
}
#P228_623
{
left:8828.29px;bottom:5727.33px;
}
#P228_624
{
left:4414.66px;bottom:4767.05px;
}
#P228_625
{
left:5510.69px;bottom:4767.05px;
}
#P228_626
{
left:6112.13px;bottom:4767.05px;
}
#P228_627
{
left:6552.96px;bottom:4767.05px;
}
#P228_628
{
left:7091.2px;bottom:4767.05px;
}
#P228_629
{
left:7453.44px;bottom:4767.05px;
}
#P228_630
{
left:7892.93px;bottom:4767.05px;
}
#P228_631
{
left:8564.93px;bottom:4767.05px;
}
#P228_632
{
left:9456px;bottom:4767.05px;
}
#P228_633
{
left:10443.2px;bottom:4767.05px;
}
#P228_634
{
left:11701.2px;bottom:4767.05px;
}
#P228_635
{
left:12662.8px;bottom:4767.05px;
}
#P228_636
{
left:12953.7px;bottom:4850.37px;
}
#P228_637
{
left:19966.7px;bottom:46047.4px;
}
#P228_638
{
left:20175px;bottom:46047.4px;
}
#P228_639
{
left:20415.6px;bottom:46047.4px;
}
#P228_640
{
left:20751px;bottom:46047.4px;
}
#P228_641
{
left:21095px;bottom:46047.4px;
}
#P228_642
{
left:21561.3px;bottom:46047.4px;
}
#P228_643
{
left:21859.7px;bottom:46047.4px;
}
#P228_644
{
left:22166.8px;bottom:46047.4px;
}
#P228_645
{
left:22714.5px;bottom:46047.4px;
}
#P228_646
{
left:23049.2px;bottom:46047.4px;
}
#P228_647
{
left:23404px;bottom:46047.4px;
}
#P228_648
{
left:23612.9px;bottom:46047.4px;
}
#P228_649
{
left:23901.9px;bottom:46047.4px;
}
#P228_650
{
left:24266.8px;bottom:46047.4px;
}
#P228_651
{
left:24689.5px;bottom:46047.4px;
}
#P228_652
{
left:24969.7px;bottom:46047.4px;
}
#P228_653
{
left:25475.1px;bottom:46047.4px;
}
#P228_654
{
left:26323.8px;bottom:46047.4px;
}
#P228_655
{
left:26516.7px;bottom:46047.4px;
}
#P228_656
{
left:26851.3px;bottom:46047.4px;
}
#P228_657
{
left:27091.9px;bottom:46047.4px;
}
#P228_658
{
left:27620.7px;bottom:46047.4px;
}
#P228_659
{
left:28362.6px;bottom:46047.4px;
}
#P228_660
{
left:29620.6px;bottom:46047.4px;
}
#P228_661
{
left:19966.7px;bottom:45087px;
}
#P228_662
{
left:20175px;bottom:45087px;
}
#P228_663
{
left:20415.6px;bottom:45087px;
}
#P228_664
{
left:20751px;bottom:45087px;
}
#P228_665
{
left:21095px;bottom:45087px;
}
#P228_666
{
left:21561.3px;bottom:45087px;
}
#P228_667
{
left:21859.7px;bottom:45087px;
}
#P228_668
{
left:22166.8px;bottom:45087px;
}
#P228_669
{
left:22705.1px;bottom:45087px;
}
#P228_670
{
left:23445.6px;bottom:45087px;
}
#P228_671
{
left:23780.3px;bottom:45087px;
}
#P228_672
{
left:24020.9px;bottom:45087px;
}
#P228_673
{
left:24549.7px;bottom:45087px;
}
#P228_674
{
left:21118.5px;bottom:44126.8px;
}
#P228_675
{
left:22010.9px;bottom:44126.8px;
}
#P228_676
{
left:22548.5px;bottom:44126.8px;
}
#P228_677
{
left:22720.5px;bottom:44126.8px;
}
#P228_678
{
left:23065.3px;bottom:44126.8px;
}
#P228_679
{
left:23273.6px;bottom:44126.8px;
}
#P228_680
{
left:23788.4px;bottom:44126.8px;
}
#P228_681
{
left:24446.2px;bottom:44126.8px;
}
#P228_682
{
left:25381.6px;bottom:44126.8px;
}
#P228_683
{
left:26022.8px;bottom:44126.8px;
}
#P228_684
{
left:26313px;bottom:44126.8px;
}
#P228_685
{
left:21118.5px;bottom:43166.5px;
}
#P228_686
{
left:22002.2px;bottom:43166.5px;
}
#P228_687
{
left:22210.6px;bottom:43166.5px;
}
#P228_688
{
left:22466.5px;bottom:43166.5px;
}
#P228_689
{
left:23112.3px;bottom:43166.5px;
}
#P228_690
{
left:23320.6px;bottom:43166.5px;
}
#P228_691
{
left:23835.4px;bottom:43166.5px;
}
#P228_692
{
left:24340px;bottom:43166.5px;
}
#P228_693
{
left:24674.7px;bottom:43166.5px;
}
#P228_694
{
left:25010.7px;bottom:43166.5px;
}
#P228_695
{
left:25651.8px;bottom:43166.5px;
}
#P228_696
{
left:25986.4px;bottom:43166.5px;
}
#P228_697
{
left:26239.8px;bottom:43166.5px;
}
#P228_698
{
left:26604.7px;bottom:43166.5px;
}
#P228_699
{
left:26893.6px;bottom:43166.5px;
}
#P228_700
{
left:27759.2px;bottom:43166.5px;
}
#P228_701
{
left:29017.2px;bottom:43166.5px;
}
#P228_702
{
left:21118.5px;bottom:42206.2px;
}
#P228_703
{
left:21483.5px;bottom:42206.2px;
}
#P228_704
{
left:21818.1px;bottom:42206.2px;
}
#P228_705
{
left:22074.1px;bottom:42206.2px;
}
#P228_706
{
left:22283.1px;bottom:42206.2px;
}
#P228_707
{
left:22932.3px;bottom:42206.2px;
}
#P228_708
{
left:24190.3px;bottom:42206.2px;
}
#P228_709
{
left:21118.5px;bottom:41245.9px;
}
#P228_710
{
left:21370.6px;bottom:41245.9px;
}
#P228_711
{
left:21705.9px;bottom:41245.9px;
}
#P228_712
{
left:22054.7px;bottom:41245.9px;
}
#P228_713
{
left:22263.6px;bottom:41245.9px;
}
#P228_714
{
left:22912.8px;bottom:41245.9px;
}
#P228_715
{
left:24170.8px;bottom:41245.9px;
}
#P228_716
{
left:19966.7px;bottom:40285.6px;
}
#P228_717
{
left:20165px;bottom:40285.6px;
}
#P228_718
{
left:20519.1px;bottom:40285.6px;
}
#P228_719
{
left:20866.6px;bottom:40285.6px;
}
#P228_720
{
left:21392.7px;bottom:40285.6px;
}
#P228_721
{
left:21681.6px;bottom:40285.6px;
}
#P228_722
{
left:22041.8px;bottom:40285.6px;
}
#P228_723
{
left:22979.3px;bottom:40285.6px;
}
#P228_724
{
left:23516.2px;bottom:40285.6px;
}
#P228_725
{
left:23834.8px;bottom:40285.6px;
}
#P228_726
{
left:24099.5px;bottom:40285.6px;
}
#P228_727
{
left:24506.8px;bottom:40285.6px;
}
#P228_728
{
left:24828.7px;bottom:40285.6px;
}
#P228_729
{
left:24998.7px;bottom:40285.6px;
}
#P228_730
{
left:25227.1px;bottom:40285.6px;
}
#P228_731
{
left:25543px;bottom:40285.6px;
}
#P228_732
{
left:25680.1px;bottom:40285.6px;
}
#P228_733
{
left:26024.8px;bottom:40285.6px;
}
#P228_734
{
left:26608.7px;bottom:40285.6px;
}
#P228_735
{
left:26809.7px;bottom:40285.6px;
}
#P228_736
{
left:27348.6px;bottom:40285.6px;
}
#P228_737
{
left:27530.7px;bottom:40285.6px;
}
#P228_738
{
left:28116px;bottom:40285.6px;
}
#P228_739
{
left:28648.9px;bottom:40285.6px;
}
#P228_740
{
left:28900.9px;bottom:40285.6px;
}
#P228_741
{
left:29190.5px;bottom:40285.6px;
}
#P228_742
{
left:29483.5px;bottom:40285.6px;
}
#P228_743
{
left:29735.5px;bottom:40285.6px;
}
#P228_744
{
left:30017px;bottom:40285.6px;
}
#P228_745
{
left:21118.5px;bottom:39325.3px;
}
#P228_746
{
left:21702.5px;bottom:39325.3px;
}
#P228_747
{
left:21910.8px;bottom:39325.3px;
}
#P228_748
{
left:22086.2px;bottom:39325.3px;
}
#P228_749
{
left:22392px;bottom:39325.3px;
}
#P228_750
{
left:22673.5px;bottom:39325.3px;
}
#P228_751
{
left:22963.8px;bottom:39325.3px;
}
#P228_752
{
left:21118.5px;bottom:38365.1px;
}
#P228_753
{
left:21452.5px;bottom:38365.1px;
}
#P228_754
{
left:22049.9px;bottom:38365.1px;
}
#P228_755
{
left:23195px;bottom:38365.1px;
}
#P228_756
{
left:23529.7px;bottom:38365.1px;
}
#P228_757
{
left:23865.7px;bottom:38365.1px;
}
#P228_758
{
left:24398.5px;bottom:38365.1px;
}
#P228_759
{
left:24650.5px;bottom:38365.1px;
}
#P228_760
{
left:24940.2px;bottom:38365.1px;
}
#P228_761
{
left:25233.2px;bottom:38365.1px;
}
#P228_762
{
left:25485.1px;bottom:38365.1px;
}
#P228_763
{
left:25766.7px;bottom:38365.1px;
}
#P228_764
{
left:26057px;bottom:38365.1px;
}
#P228_765
{
left:21118.5px;bottom:37404.7px;
}
#P228_766
{
left:21404.8px;bottom:37404.7px;
}
#P228_767
{
left:21687px;bottom:37404.7px;
}
#P228_768
{
left:22041.9px;bottom:37404.7px;
}
#P228_769
{
left:22293.9px;bottom:37404.7px;
}
#P228_770
{
left:22575.4px;bottom:37404.7px;
}
#P228_771
{
left:22865.7px;bottom:37404.7px;
}
#P228_772
{
left:21118.5px;bottom:36444.5px;
}
#P228_773
{
left:21759px;bottom:36609.1px;
}
#P228_774
{
left:22118.5px;bottom:36444.5px;
}
#P228_775
{
left:22658.1px;bottom:36444.5px;
}
#P228_776
{
left:22866.4px;bottom:36444.5px;
}
#P228_777
{
left:23381.2px;bottom:36444.5px;
}
#P228_778
{
left:24039px;bottom:36527.8px;
}
#P228_779
{
left:21118.5px;bottom:35484.2px;
}
#P228_780
{
left:21651.5px;bottom:35484.2px;
}
#P228_781
{
left:21903.4px;bottom:35484.2px;
}
#P228_782
{
left:22193.1px;bottom:35484.2px;
}
#P228_783
{
left:22486.1px;bottom:35484.2px;
}
#P228_784
{
left:22738px;bottom:35484.2px;
}
#P228_785
{
left:23160.8px;bottom:35484.2px;
}
#P228_786
{
left:23708.4px;bottom:35484.2px;
}
#P228_787
{
left:23997.4px;bottom:35484.2px;
}
#P228_788
{
left:24277.6px;bottom:35484.2px;
}
#P228_789
{
left:24634.4px;bottom:35484.2px;
}
#P228_790
{
left:24923.4px;bottom:35484.2px;
}
#P228_791
{
left:25469.1px;bottom:35484.2px;
}
#P228_792
{
left:26556.4px;bottom:35484.2px;
}
#P228_793
{
left:21118.5px;bottom:34523.9px;
}
#P228_794
{
left:21729.4px;bottom:34523.9px;
}
#P228_795
{
left:22537.8px;bottom:34523.9px;
}
#P228_796
{
left:22778.4px;bottom:34523.9px;
}
#P228_797
{
left:23488.7px;bottom:34523.9px;
}
#P228_798
{
left:23732px;bottom:34523.9px;
}
#P228_799
{
left:23940.9px;bottom:34523.9px;
}
#P228_800
{
left:24229.9px;bottom:34523.9px;
}
#P228_801
{
left:24594.8px;bottom:34523.9px;
}
#P228_802
{
left:25160.6px;bottom:34523.9px;
}
#P228_803
{
left:25450.9px;bottom:34523.9px;
}
#P228_804
{
left:21118.5px;bottom:33563.6px;
}
#P228_805
{
left:21437.8px;bottom:33563.6px;
}
#P228_806
{
left:21947.1px;bottom:33563.6px;
}
#P228_807
{
left:22291.8px;bottom:33563.6px;
}
#P228_808
{
left:22590.1px;bottom:33563.6px;
}
#P228_809
{
left:22897.3px;bottom:33563.6px;
}
#P228_810
{
left:23430.1px;bottom:33563.6px;
}
#P228_811
{
left:23673.4px;bottom:33563.6px;
}
#P228_812
{
left:23881.7px;bottom:33563.6px;
}
#P228_813
{
left:24135.1px;bottom:33563.6px;
}
#P228_814
{
left:24312.5px;bottom:33563.6px;
}
#P228_815
{
left:24646.5px;bottom:33563.6px;
}
#P228_816
{
left:24995.3px;bottom:33563.6px;
}
#P228_817
{
left:25203.6px;bottom:33563.6px;
}
#P228_818
{
left:25718.3px;bottom:33563.6px;
}
#P228_819
{
left:26376.2px;bottom:33563.6px;
}
#P228_820
{
left:21118.5px;bottom:32603.3px;
}
#P228_821
{
left:24200.3px;bottom:32603.3px;
}
#P228_822
{
left:25807.1px;bottom:32603.3px;
}
#P228_823
{
left:26096px;bottom:32603.3px;
}
#P228_824
{
left:26385px;bottom:32603.3px;
}
#P228_825
{
left:26593.3px;bottom:32603.3px;
}
#P228_826
{
left:27108px;bottom:32603.3px;
}
#P228_827
{
left:27765.9px;bottom:32603.3px;
}
#P228_828
{
left:21118.5px;bottom:31643px;
}
#P228_829
{
left:21859.1px;bottom:31643px;
}
#P228_830
{
left:22148px;bottom:31643px;
}
#P228_831
{
left:22437px;bottom:31643px;
}
#P228_832
{
left:22645.2px;bottom:31643px;
}
#P228_833
{
left:23160px;bottom:31643px;
}
#P228_834
{
left:23664.7px;bottom:31643px;
}
#P228_835
{
left:23959.7px;bottom:31643px;
}
#P228_836
{
left:24262.8px;bottom:31643px;
}
#P228_837
{
left:24543px;bottom:31643px;
}
#P228_838
{
left:24994.5px;bottom:31643px;
}
#P228_839
{
left:25284.8px;bottom:31643px;
}
#P228_840
{
left:21118.5px;bottom:30682.8px;
}
#P228_841
{
left:21296.6px;bottom:30682.8px;
}
#P228_842
{
left:21548.6px;bottom:30682.8px;
}
#P228_843
{
left:21883.3px;bottom:30682.8px;
}
#P228_844
{
left:22433px;bottom:30682.8px;
}
#P228_845
{
left:23541.2px;bottom:30682.8px;
}
#P228_846
{
left:23831.5px;bottom:30682.8px;
}
#P228_847
{
left:21118.5px;bottom:29722.4px;
}
#P228_848
{
left:21290.6px;bottom:29722.4px;
}
#P228_849
{
left:21572.8px;bottom:29722.4px;
}
#P228_850
{
left:21773.8px;bottom:29722.4px;
}
#P228_851
{
left:22414.1px;bottom:29722.4px;
}
#P228_852
{
left:22909.4px;bottom:29722.4px;
}
#P228_853
{
left:21118.5px;bottom:28762.2px;
}
#P228_854
{
left:21666.9px;bottom:28762.2px;
}
#P228_855
{
left:22486.7px;bottom:28762.2px;
}
#P228_856
{
left:22822.1px;bottom:28762.2px;
}
#P228_857
{
left:23169.5px;bottom:28762.2px;
}
#P228_858
{
left:23526.3px;bottom:28762.2px;
}
#P228_859
{
left:23818px;bottom:28762.2px;
}
#P228_860
{
left:24127.1px;bottom:28762.2px;
}
#P228_861
{
left:24949.6px;bottom:28762.2px;
}
#P228_862
{
left:21118.5px;bottom:27801.9px;
}
#P228_863
{
left:21674.9px;bottom:27801.9px;
}
#P228_864
{
left:21969.3px;bottom:27801.9px;
}
#P228_865
{
left:22221.3px;bottom:27801.9px;
}
#P228_866
{
left:22528.4px;bottom:27801.9px;
}
#P228_867
{
left:22852.3px;bottom:27801.9px;
}
#P228_868
{
left:23176.9px;bottom:27801.9px;
}
#P228_869
{
left:23436.3px;bottom:27801.9px;
}
#P228_870
{
left:23635.8px;bottom:27801.9px;
}
#P228_871
{
left:23904.6px;bottom:27801.9px;
}
#P228_872
{
left:24156.6px;bottom:27801.9px;
}
#P228_873
{
left:24331.3px;bottom:27801.9px;
}
#P228_874
{
left:24680.8px;bottom:27801.9px;
}
#P228_875
{
left:25348px;bottom:27801.9px;
}
#P228_876
{
left:25548.3px;bottom:27801.9px;
}
#P228_877
{
left:25897.1px;bottom:27801.9px;
}
#P228_878
{
left:26221px;bottom:27801.9px;
}
#P228_879
{
left:26722.9px;bottom:27801.9px;
}
#P228_880
{
left:27334.5px;bottom:27801.9px;
}
#P228_881
{
left:27499.1px;bottom:27801.9px;
}
#P228_882
{
left:27810.9px;bottom:27801.9px;
}
#P228_883
{
left:28030.6px;bottom:27801.9px;
}
#P228_884
{
left:28216.8px;bottom:27801.9px;
}
#P228_885
{
left:28443.3px;bottom:27801.9px;
}
#P228_886
{
left:28733.6px;bottom:27801.9px;
}
#P228_887
{
left:29991.7px;bottom:27801.9px;
}
#P228_888
{
left:21118.5px;bottom:26841.6px;
}
#P228_889
{
left:21462.6px;bottom:26841.6px;
}
#P228_890
{
left:21703.2px;bottom:26841.6px;
}
#P228_891
{
left:21994.2px;bottom:26841.6px;
}
#P228_892
{
left:22299.9px;bottom:26841.6px;
}
#P228_893
{
left:22940.4px;bottom:26841.6px;
}
#P228_894
{
left:23148.7px;bottom:26841.6px;
}
#P228_895
{
left:23663.4px;bottom:26841.6px;
}
#P228_896
{
left:24321.3px;bottom:26841.6px;
}
#P228_897
{
left:21118.5px;bottom:25881.3px;
}
#P228_898
{
left:21371.9px;bottom:25881.3px;
}
#P228_899
{
left:22039.9px;bottom:25881.3px;
}
#P228_900
{
left:22577.5px;bottom:25881.3px;
}
#P228_901
{
left:22921.5px;bottom:25881.3px;
}
#P228_902
{
left:23759.5px;bottom:25881.3px;
}
#P228_903
{
left:21118.5px;bottom:24921px;
}
#P228_904
{
left:21675.6px;bottom:24921px;
}
#P228_905
{
left:22213.2px;bottom:24921px;
}
#P228_906
{
left:22558px;bottom:24921px;
}
#P228_907
{
left:22758.9px;bottom:24921px;
}
#P228_908
{
left:23093.6px;bottom:24921px;
}
#P228_909
{
left:23638.5px;bottom:24921px;
}
#P228_910
{
left:24175.5px;bottom:24921px;
}
#P228_911
{
left:21118.5px;bottom:23960.7px;
}
#P228_912
{
left:21326.8px;bottom:23960.7px;
}
#P228_913
{
left:21567.4px;bottom:23960.7px;
}
#P228_914
{
left:21857.1px;bottom:23960.7px;
}
#P228_915
{
left:22139.3px;bottom:23960.7px;
}
#P228_916
{
left:22347.6px;bottom:23960.7px;
}
#P228_917
{
left:22895.2px;bottom:23960.7px;
}
#P228_918
{
left:23535.7px;bottom:23960.7px;
}
#P228_919
{
left:24030.9px;bottom:23960.7px;
}
#P228_920
{
left:19966.7px;bottom:23000.4px;
}
#P228_921
{
left:20165px;bottom:23000.4px;
}
#P228_922
{
left:20886.7px;bottom:23000.4px;
}
#P228_923
{
left:22076.2px;bottom:23000.4px;
}
#P228_924
{
left:23011.6px;bottom:23000.4px;
}
#P228_925
{
left:19966.7px;bottom:22040.1px;
}
#P228_926
{
left:20316.2px;bottom:22040.1px;
}
#P228_927
{
left:20926.3px;bottom:22040.1px;
}
#P228_928
{
left:21291.3px;bottom:22040.1px;
}
#P228_929
{
left:21963.3px;bottom:22040.1px;
}
#P228_930
{
left:22520.3px;bottom:22040.1px;
}
#P228_931
{
left:22885.2px;bottom:22040.1px;
}
#P228_932
{
left:23480.6px;bottom:22040.1px;
}
#P228_933
{
left:23815.3px;bottom:22040.1px;
}
#P228_934
{
left:24362.9px;bottom:22040.1px;
}
#P228_935
{
left:24644.5px;bottom:22040.1px;
}
#P228_936
{
left:24934.8px;bottom:22040.1px;
}
#P228_937
{
left:19966.7px;bottom:21079.9px;
}
#P228_938
{
left:20165px;bottom:21079.9px;
}
#P228_939
{
left:20777.9px;bottom:21079.9px;
}
#P228_940
{
left:20986.8px;bottom:21079.9px;
}
#P228_941
{
left:21979.3px;bottom:21079.9px;
}
#P228_942
{
left:22311.3px;bottom:21079.9px;
}
#P228_943
{
left:22617px;bottom:21079.9px;
}
#P228_944
{
left:23149.2px;bottom:21079.9px;
}
#P228_945
{
left:23506.1px;bottom:21079.9px;
}
#P228_946
{
left:23795.1px;bottom:21079.9px;
}
#P228_947
{
left:24063.9px;bottom:21079.9px;
}
#P228_948
{
left:24369.6px;bottom:21079.9px;
}
#P228_949
{
left:24898.5px;bottom:21079.9px;
}
#P228_950
{
left:25106.8px;bottom:21079.9px;
}
#P228_951
{
left:25649px;bottom:21079.9px;
}
#P228_952
{
left:25965.6px;bottom:21079.9px;
}
#P228_953
{
left:26255.9px;bottom:21079.9px;
}
#P228_954
{
left:27513.9px;bottom:21079.9px;
}
#P228_955
{
left:19966.7px;bottom:20119.6px;
}
#P228_956
{
left:20794px;bottom:20119.6px;
}
#P228_957
{
left:21074.2px;bottom:20119.6px;
}
#P228_958
{
left:21673.6px;bottom:20119.6px;
}
#P228_959
{
left:22008.3px;bottom:20119.6px;
}
#P228_960
{
left:22556px;bottom:20119.6px;
}
#P228_961
{
left:23150.7px;bottom:20119.6px;
}
#P228_962
{
left:23485.3px;bottom:20119.6px;
}
#P228_963
{
left:24033px;bottom:20119.6px;
}
#P228_964
{
left:24855.6px;bottom:20202.9px;
}
#P228_965
{
left:25863.6px;bottom:20119.6px;
}
#P228_966
{
left:26154.6px;bottom:20119.6px;
}
#P228_967
{
left:26473.1px;bottom:20119.6px;
}
#P228_968
{
left:26737.8px;bottom:20119.6px;
}
#P228_969
{
left:27145.1px;bottom:20119.6px;
}
#P228_970
{
left:27466.9px;bottom:20119.6px;
}
#P228_971
{
left:27637px;bottom:20119.6px;
}
#P228_972
{
left:27865.3px;bottom:20119.6px;
}
#P228_973
{
left:28181.2px;bottom:20119.6px;
}
#P228_974
{
left:28318.3px;bottom:20119.6px;
}
#P228_975
{
left:28845.2px;bottom:20119.6px;
}
#P228_976
{
left:29192.6px;bottom:20119.6px;
}
#P228_977
{
left:29697.3px;bottom:20119.6px;
}
#P228_978
{
left:30228.2px;bottom:20119.6px;
}
#P228_979
{
left:19966.7px;bottom:19159.3px;
}
#P228_980
{
left:20332.3px;bottom:19159.3px;
}
#P228_981
{
left:20998.9px;bottom:19159.3px;
}
#P228_982
{
left:21890px;bottom:19159.3px;
}
#P228_983
{
left:22426.9px;bottom:19159.3px;
}
#P228_984
{
left:22716.5px;bottom:19159.3px;
}
#P228_985
{
left:23064px;bottom:19159.3px;
}
#P228_986
{
left:23550.5px;bottom:19159.3px;
}
#P228_987
{
left:24373.1px;bottom:19159.3px;
}
#P228_988
{
left:24616.3px;bottom:19159.3px;
}
#P228_989
{
left:24817.2px;bottom:19159.3px;
}
#P228_990
{
left:25790.3px;bottom:19159.3px;
}
#P228_991
{
left:26357.4px;bottom:19159.3px;
}
#P228_992
{
left:26530.8px;bottom:19159.3px;
}
#P228_993
{
left:26837.9px;bottom:19159.3px;
}
#P228_994
{
left:27046.2px;bottom:19159.3px;
}
#P228_995
{
left:27286.8px;bottom:19159.3px;
}
#P228_996
{
left:27576.4px;bottom:19159.3px;
}
#P228_997
{
left:27858.6px;bottom:19159.3px;
}
#P228_998
{
left:28066.9px;bottom:19159.3px;
}
#P228_999
{
left:28614.6px;bottom:19159.3px;
}
#P228_1000
{
left:29255px;bottom:19159.3px;
}
#P228_1001
{
left:29996.9px;bottom:19159.3px;
}
#P228_1002
{
left:19966.7px;bottom:18199px;
}
#P228_1003
{
left:20332.3px;bottom:18199px;
}
#P228_1004
{
left:20998.9px;bottom:18199px;
}
#P228_1005
{
left:21421.6px;bottom:18199px;
}
#P228_1006
{
left:21787.8px;bottom:18199px;
}
#P228_1007
{
left:22324.8px;bottom:18199px;
}
#P228_1008
{
left:22614.4px;bottom:18199px;
}
#P228_1009
{
left:22961.9px;bottom:18199px;
}
#P228_1010
{
left:23448.4px;bottom:18199px;
}
#P228_1011
{
left:24117.7px;bottom:18199px;
}
#P228_1012
{
left:24802.4px;bottom:18199px;
}
#P228_1013
{
left:24939.5px;bottom:18199px;
}
#P228_1014
{
left:25305px;bottom:18199px;
}
#P228_1015
{
left:25971.6px;bottom:18199px;
}
#P228_1016
{
left:26394.4px;bottom:18199px;
}
#P228_1017
{
left:27143px;bottom:18199px;
}
#P228_1018
{
left:19968px;bottom:16630.5px;
}
#P228_1019
{
left:19968px;bottom:15403.5px;
}
#P228_1020
{
left:20868.5px;bottom:15403.5px;
}
#P228_1021
{
left:21201.8px;bottom:15403.5px;
}
#P228_1022
{
left:21385.2px;bottom:15403.5px;
}
#P228_1023
{
left:22021.6px;bottom:15403.5px;
}
#P228_1024
{
left:22320px;bottom:15403.5px;
}
#P228_1025
{
left:22627.1px;bottom:15403.5px;
}
#P228_1026
{
left:23246px;bottom:15403.5px;
}
#P228_1027
{
left:23486.6px;bottom:15403.5px;
}
#P228_1028
{
left:23978.5px;bottom:15403.5px;
}
#P228_1029
{
left:24221.8px;bottom:15403.5px;
}
#P228_1030
{
left:24422.6px;bottom:15403.5px;
}
#P228_1031
{
left:25395.6px;bottom:15403.5px;
}
#P228_1032
{
left:25962.8px;bottom:15403.5px;
}
#P228_1033
{
left:26136.2px;bottom:15403.5px;
}
#P228_1034
{
left:26304.2px;bottom:15403.5px;
}
#P228_1035
{
left:26841.2px;bottom:15403.5px;
}
#P228_1036
{
left:19968px;bottom:14443.1px;
}
#P228_1037
{
left:20433.7px;bottom:14443.1px;
}
#P228_1038
{
left:20973.3px;bottom:14443.1px;
}
#P228_1039
{
left:21174.2px;bottom:14443.1px;
}
#P228_1040
{
left:21463.2px;bottom:14443.1px;
}
#P228_1041
{
left:21955.1px;bottom:14443.1px;
}
#P228_1042
{
left:22264.3px;bottom:14443.1px;
}
#P228_1043
{
left:22473.2px;bottom:14443.1px;
}
#P228_1044
{
left:22755.5px;bottom:14443.1px;
}
#P228_1045
{
left:22956.4px;bottom:14443.1px;
}
#P228_1046
{
left:23625.7px;bottom:14443.1px;
}
#P228_1047
{
left:23868.9px;bottom:14443.1px;
}
#P228_1048
{
left:24223.7px;bottom:14443.1px;
}
#P228_1049
{
left:24467px;bottom:14443.1px;
}
#P228_1050
{
left:24676px;bottom:14443.1px;
}
#P228_1051
{
left:24965px;bottom:14443.1px;
}
#P228_1052
{
left:25510.7px;bottom:14443.1px;
}
#P228_1053
{
left:25800.3px;bottom:14443.1px;
}
#P228_1054
{
left:26133.6px;bottom:14443.1px;
}
#P228_1055
{
left:26317.1px;bottom:14443.1px;
}
#P228_1056
{
left:26659px;bottom:14443.1px;
}
#P228_1057
{
left:26866px;bottom:14443.1px;
}
#P228_1058
{
left:27125.4px;bottom:14443.1px;
}
#P228_1059
{
left:27415.7px;bottom:14443.1px;
}
#P228_1060
{
left:28034.6px;bottom:14443.1px;
}
#P228_1061
{
left:28572.2px;bottom:14443.1px;
}
#P228_1062
{
left:28927.7px;bottom:14443.1px;
}
#P228_1063
{
left:29216.6px;bottom:14443.1px;
}
#P228_1064
{
left:29457.2px;bottom:14443.1px;
}
#P228_1065
{
left:29746.1px;bottom:14443.1px;
}
#P228_1066
{
left:30238px;bottom:14443.1px;
}
#P228_1067
{
left:30439px;bottom:14443.1px;
}
#P228_1068
{
left:30918.8px;bottom:14443.1px;
}
#P228_1069
{
left:31254.1px;bottom:14443.1px;
}
#P228_1070
{
left:31463.1px;bottom:14443.1px;
}
#P228_1071
{
left:31819.3px;bottom:14443.1px;
}
#P228_1072
{
left:20543.9px;bottom:13482.9px;
}
#P228_1073
{
left:21163.5px;bottom:13482.9px;
}
#P228_1074
{
left:21875.1px;bottom:13482.9px;
}
#P228_1075
{
left:22083.5px;bottom:13482.9px;
}
#P228_1076
{
left:22336.7px;bottom:13482.9px;
}
#P228_1077
{
left:23339.3px;bottom:13482.9px;
}
#P228_1078
{
left:19968px;bottom:11894.5px;
}
#P228_1079
{
left:19968px;bottom:10667.5px;
}
#P228_1080
{
left:21687.7px;bottom:10667.5px;
}
#P228_1081
{
left:21119.8px;bottom:9707.14px;
}
#P228_1082
{
left:21760.2px;bottom:9871.78px;
}
#P228_1083
{
left:22119.7px;bottom:9707.14px;
}
#P228_1084
{
left:22659.3px;bottom:9707.14px;
}
#P228_1085
{
left:22867.6px;bottom:9707.14px;
}
#P228_1086
{
left:23382.3px;bottom:9707.14px;
}
#P228_1087
{
left:24040.3px;bottom:9790.46px;
}
#P228_1088
{
left:21119.8px;bottom:8746.88px;
}
#P228_1089
{
left:21408.8px;bottom:8746.88px;
}
#P228_1090
{
left:21941px;bottom:8746.88px;
}
#P228_1091
{
left:22277.6px;bottom:8746.88px;
}
#P228_1092
{
left:22729.2px;bottom:8746.88px;
}
#P228_1093
{
left:23019.5px;bottom:8746.88px;
}
#P228_1094
{
left:23981.2px;bottom:8746.88px;
}
#P228_1095
{
left:24271.5px;bottom:8746.88px;
}
#P228_1096
{
left:26846.6px;bottom:8746.88px;
}
#P228_1097
{
left:29105.9px;bottom:8746.88px;
}
#P228_1098
{
left:29396.8px;bottom:8830.21px;
}
#P228_1099
{
left:30404.8px;bottom:8746.88px;
}
#P228_1100
{
left:30695.1px;bottom:8746.88px;
}
#P228_1101
{
left:21119.8px;bottom:7786.56px;
}
#P228_1102
{
left:21312.6px;bottom:7786.56px;
}
#P228_1103
{
left:21647.3px;bottom:7786.56px;
}
#P228_1104
{
left:22033.7px;bottom:7786.56px;
}
#P228_1105
{
left:22516.2px;bottom:7786.56px;
}
#P228_1106
{
left:22850.9px;bottom:7786.56px;
}
#P228_1107
{
left:23119.7px;bottom:7786.56px;
}
#P228_1108
{
left:23878.3px;bottom:7786.56px;
}
#P228_1109
{
left:24051.6px;bottom:7786.56px;
}
#P228_1110
{
left:24522px;bottom:7786.56px;
}
#P228_1111
{
left:24835.2px;bottom:7786.56px;
}
#P228_1112
{
left:25271.3px;bottom:7786.56px;
}
#P228_1113
{
left:25626.1px;bottom:7786.56px;
}
#P228_1114
{
left:26163px;bottom:7786.56px;
}
#P228_1115
{
left:21119.8px;bottom:6826.3px;
}
#P228_1116
{
left:21312.6px;bottom:6826.3px;
}
#P228_1117
{
left:21647.3px;bottom:6826.3px;
}
#P228_1118
{
left:22033.7px;bottom:6826.3px;
}
#P228_1119
{
left:22274.3px;bottom:6826.3px;
}
#P228_1120
{
left:22609.6px;bottom:6826.3px;
}
#P228_1121
{
left:22818.6px;bottom:6826.3px;
}
#P228_1122
{
left:23101.5px;bottom:6826.3px;
}
#P228_1123
{
left:23414.7px;bottom:6826.3px;
}
#P228_1124
{
left:23850.8px;bottom:6826.3px;
}
#P228_1125
{
left:24205.6px;bottom:6826.3px;
}
#P228_1126
{
left:24742.5px;bottom:6826.3px;
}
#P228_1127
{
left:26059.6px;bottom:6826.3px;
}
#P228_1128
{
left:19968px;bottom:5865.99px;
}
#P228_1129
{
left:20863.1px;bottom:5865.99px;
}
#P228_1130
{
left:21558px;bottom:5865.99px;
}
#P228_1131
{
left:22550.5px;bottom:5949.32px;
}
#P228_1132
{
left:19968px;bottom:4905.7px;
}
#P228_1133
{
left:20568.1px;bottom:4905.7px;
}
#P228_1134
{
left:20821.4px;bottom:4905.7px;
}
#P228_1135
{
left:21003.5px;bottom:4905.7px;
}
#P228_1136
{
left:21293.2px;bottom:4905.7px;
}
#P228_1137
{
left:21629.8px;bottom:4905.7px;
}
#P228_1138
{
left:22081.4px;bottom:4905.7px;
}
#P228_1139
{
left:22371.7px;bottom:4989.03px;
}
#PageContainer228
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg228_00.jpg");background-repeat:no-repeat;background-size: 819px 1260px; background-position: 120.33px 50.3299999999999px;
}
#ImageContainer228_00 {bottom:51.67px;left:120.33px;width:819.17px;height:1260.01px;position:absolute;} #TextContainer228 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
