.tr12{ color:transparent;}
#P12_1
{
left:34241.5px;bottom:1869.48px;letter-spacing:5.1px;
}
#P12_2
{
left:4416px;bottom:42656.6px;
}
#P12_3
{
left:5090.03px;bottom:42656.6px;
}
#P12_4
{
left:6798.85px;bottom:42656.6px;
}
#P12_5
{
left:5397.33px;bottom:39232px;letter-spacing:915.6px;
}
#P12_6
{
left:8021.31px;bottom:39456.5px;
}
#P12_7
{
left:9540.54px;bottom:39456.5px;
}
#P12_8
{
left:9786.18px;bottom:39456.5px;
}
#P12_9
{
left:10968.9px;bottom:39456.5px;
}
#P12_10
{
left:13874.3px;bottom:39456.5px;
}
#P12_11
{
left:14198.1px;bottom:39456.5px;
}
#P12_12
{
left:14360.1px;bottom:39456.5px;
}
#P12_13
{
left:5397.52px;bottom:38176.6px;letter-spacing:990.1px;
}
#P12_14
{
left:8021.31px;bottom:38176.6px;
}
#P12_15
{
left:13169px;bottom:38176.6px;
}
#P12_16
{
left:14989.4px;bottom:38176.6px;
}
#P12_17
{
left:15324.5px;bottom:38176.6px;
}
#P12_18
{
left:15486.4px;bottom:38176.6px;
}
#P12_19
{
left:16611.4px;bottom:38176.6px;
}
#P12_20
{
left:16773.3px;bottom:38176.6px;
}
#P12_21
{
left:17412.4px;bottom:38176.6px;
}
#P12_22
{
left:18715.5px;bottom:38176.6px;
}
#P12_23
{
left:18877.4px;bottom:38176.6px;
}
#P12_24
{
left:19309.6px;bottom:38176.6px;
}
#P12_25
{
left:20865.4px;bottom:38176.6px;
}
#P12_26
{
left:21027.3px;bottom:38176.6px;
}
#P12_27
{
left:5397.52px;bottom:36896.8px;letter-spacing:990.1px;
}
#P12_28
{
left:8021.31px;bottom:36896.8px;
}
#P12_29
{
left:8854.85px;bottom:36896.8px;
}
#P12_30
{
left:9747.46px;bottom:36896.8px;
}
#P12_31
{
left:11013.2px;bottom:36896.8px;
}
#P12_32
{
left:11520.8px;bottom:36896.8px;
}
#P12_33
{
left:13341.2px;bottom:36896.8px;
}
#P12_34
{
left:13676.3px;bottom:36896.8px;
}
#P12_35
{
left:13838.2px;bottom:36896.8px;
}
#P12_36
{
left:14963.2px;bottom:36896.8px;
}
#P12_37
{
left:15125.1px;bottom:36896.8px;
}
#P12_38
{
left:15764.2px;bottom:36896.8px;
}
#P12_39
{
left:17067.3px;bottom:36896.8px;
}
#P12_40
{
left:17229.2px;bottom:36896.8px;
}
#P12_41
{
left:17661.3px;bottom:36896.8px;
}
#P12_42
{
left:19217.2px;bottom:36896.8px;
}
#P12_43
{
left:19379.1px;bottom:36896.8px;
}
#P12_44
{
left:20482.2px;bottom:36896.8px;
}
#P12_45
{
left:20806.1px;bottom:36896.8px;
}
#P12_46
{
left:20968px;bottom:36896.8px;
}
#P12_47
{
left:5397.52px;bottom:35936.5px;
}
#P12_48
{
left:5397.33px;bottom:33664px;
}
#P12_49
{
left:6548.86px;bottom:33664px;
}
#P12_50
{
left:8020.86px;bottom:33664px;
}
#P12_51
{
left:9696.26px;bottom:33664px;
}
#P12_52
{
left:12962.3px;bottom:33664px;
}
#P12_53
{
left:13424.4px;bottom:33664px;
}
#P12_54
{
left:14132.5px;bottom:33832.9px;
}
#P12_55
{
left:14444.5px;bottom:33760.5px;
}
#P12_56
{
left:5397.33px;bottom:31520px;letter-spacing:659.1px;
}
#P12_57
{
left:6549.31px;bottom:31744.5px;
}
#P12_58
{
left:8021.38px;bottom:31744.5px;
}
#P12_59
{
left:9171.71px;bottom:31744.5px;
}
#P12_60
{
left:9333.63px;bottom:31744.5px;
}
#P12_61
{
left:9972.74px;bottom:31744.5px;
}
#P12_62
{
left:11275.8px;bottom:31744.5px;
}
#P12_63
{
left:11437.8px;bottom:31744.5px;
}
#P12_64
{
left:11837.5px;bottom:31744.5px;
}
#P12_65
{
left:14504.9px;bottom:31744.5px;
}
#P12_66
{
left:15158.9px;bottom:31744.5px;
}
#P12_67
{
left:15320.8px;bottom:31744.5px;
}
#P12_68
{
left:8469.31px;bottom:31046.7px;
}
#P12_69
{
left:8085.31px;bottom:30970.3px;
}
#P12_70
{
left:8853.31px;bottom:30825.7px;
}
#P12_71
{
left:9829.89px;bottom:30825.7px;
}
#P12_72
{
left:10131.3px;bottom:30825.7px;
}
#P12_73
{
left:10812.2px;bottom:30825.7px;
}
#P12_74
{
left:11831px;bottom:30825.7px;
}
#P12_75
{
left:12060px;bottom:30825.7px;
}
#P12_76
{
left:12245.6px;bottom:30825.7px;
}
#P12_77
{
left:13019.3px;bottom:30825.7px;
}
#P12_78
{
left:13205.5px;bottom:30825.7px;
}
#P12_79
{
left:13593.3px;bottom:30825.7px;
}
#P12_80
{
left:13830.1px;bottom:30825.7px;
}
#P12_81
{
left:14406.1px;bottom:30825.7px;
}
#P12_82
{
left:15787.2px;bottom:30825.7px;
}
#P12_83
{
left:15945.2px;bottom:30825.7px;
}
#P12_84
{
left:17437.6px;bottom:30825.7px;
}
#P12_85
{
left:18016.2px;bottom:30825.7px;
}
#P12_86
{
left:18848.8px;bottom:30825.7px;
}
#P12_87
{
left:19212.2px;bottom:30825.7px;
}
#P12_88
{
left:19801px;bottom:30825.7px;
}
#P12_89
{
left:5397.33px;bottom:28448px;letter-spacing:471.8px;
}
#P12_90
{
left:6549.31px;bottom:28672.5px;
}
#P12_91
{
left:8021.38px;bottom:28672.5px;
}
#P12_92
{
left:8718.91px;bottom:28672.5px;
}
#P12_93
{
left:9054.02px;bottom:28672.5px;
}
#P12_94
{
left:9215.94px;bottom:28672.5px;
}
#P12_95
{
left:9742.53px;bottom:28672.5px;
}
#P12_96
{
left:9904.45px;bottom:28672.5px;
}
#P12_97
{
left:11646.1px;bottom:28672.5px;
}
#P12_98
{
left:11808.1px;bottom:28672.5px;
}
#P12_99
{
left:12207.8px;bottom:28672.5px;
}
#P12_100
{
left:14914.7px;bottom:28672.5px;
}
#P12_101
{
left:15076.6px;bottom:28672.5px;
}
#P12_102
{
left:8469.31px;bottom:27974.7px;
}
#P12_103
{
left:8085.31px;bottom:27898.3px;
}
#P12_104
{
left:8853.31px;bottom:27753.7px;
}
#P12_105
{
left:9829.89px;bottom:27753.7px;
}
#P12_106
{
left:10131.3px;bottom:27753.7px;
}
#P12_107
{
left:10357.1px;bottom:27753.7px;
}
#P12_108
{
left:10974.7px;bottom:27753.7px;
}
#P12_109
{
left:11993.4px;bottom:27753.7px;
}
#P12_110
{
left:12222.4px;bottom:27753.7px;
}
#P12_111
{
left:12408px;bottom:27753.7px;
}
#P12_112
{
left:13181.8px;bottom:27753.7px;
}
#P12_113
{
left:13339.6px;bottom:27753.7px;
}
#P12_114
{
left:13592.3px;bottom:27753.7px;
}
#P12_115
{
left:13825.2px;bottom:27753.7px;
}
#P12_116
{
left:14081.2px;bottom:27753.7px;
}
#P12_117
{
left:14318.5px;bottom:27753.7px;
}
#P12_118
{
left:14555.2px;bottom:27753.7px;
}
#P12_119
{
left:15936.3px;bottom:27753.7px;
}
#P12_120
{
left:16769px;bottom:27753.7px;
}
#P12_121
{
left:17623.3px;bottom:27753.7px;
}
#P12_122
{
left:19335.8px;bottom:27753.7px;
}
#P12_123
{
left:19693.6px;bottom:27753.7px;
}
#P12_124
{
left:20435.8px;bottom:27753.7px;
}
#P12_125
{
left:20563.8px;bottom:27753.7px;
}
#P12_126
{
left:20686px;bottom:27753.7px;
}
#P12_127
{
left:21457.8px;bottom:27753.7px;
}
#P12_128
{
left:22024.8px;bottom:27753.7px;
}
#P12_129
{
left:22199.6px;bottom:27753.7px;
}
#P12_130
{
left:22433.7px;bottom:27753.7px;
}
#P12_131
{
left:8853.31px;bottom:27017.5px;
}
#P12_132
{
left:9610.3px;bottom:27017.5px;
}
#P12_133
{
left:10028.1px;bottom:27017.5px;
}
#P12_134
{
left:10858.1px;bottom:27017.5px;
}
#P12_135
{
left:11080.8px;bottom:27017.5px;
}
#P12_136
{
left:5397.33px;bottom:24640px;letter-spacing:484.0px;
}
#P12_137
{
left:6549.31px;bottom:24864.5px;
}
#P12_138
{
left:8021.38px;bottom:24864.5px;
}
#P12_139
{
left:9241.98px;bottom:24864.5px;
}
#P12_140
{
left:11621.4px;bottom:24864.5px;
}
#P12_141
{
left:11951.6px;bottom:24864.5px;
}
#P12_142
{
left:12113.5px;bottom:24864.5px;
}
#P12_143
{
left:12514.7px;bottom:24864.5px;
}
#P12_144
{
left:13148.9px;bottom:24864.5px;
}
#P12_145
{
left:13484px;bottom:24864.5px;
}
#P12_146
{
left:13645.9px;bottom:24864.5px;
}
#P12_147
{
left:16060.6px;bottom:24864.5px;
}
#P12_148
{
left:16222.5px;bottom:24864.5px;
}
#P12_149
{
left:8469.31px;bottom:24166.7px;
}
#P12_150
{
left:8085.31px;bottom:24090.3px;
}
#P12_151
{
left:8853.31px;bottom:23945.7px;
}
#P12_152
{
left:9829.89px;bottom:23945.7px;
}
#P12_153
{
left:10131.3px;bottom:23945.7px;
}
#P12_154
{
left:10515.3px;bottom:23945.7px;
}
#P12_155
{
left:11052.7px;bottom:23945.7px;
}
#P12_156
{
left:11359.9px;bottom:23945.7px;
}
#P12_157
{
left:11854px;bottom:23945.7px;
}
#P12_158
{
left:12086.8px;bottom:23945.7px;
}
#P12_159
{
left:12456.1px;bottom:23945.7px;
}
#P12_160
{
left:12678.7px;bottom:23945.7px;
}
#P12_161
{
left:15333.4px;bottom:23945.7px;
}
#P12_162
{
left:15523.4px;bottom:23945.7px;
}
#P12_163
{
left:15999.4px;bottom:23945.7px;
}
#P12_164
{
left:16637.5px;bottom:23945.7px;
}
#P12_165
{
left:16823.1px;bottom:23945.7px;
}
#P12_166
{
left:17220.5px;bottom:23945.7px;
}
#P12_167
{
left:17701.1px;bottom:23945.7px;
}
#P12_168
{
left:18070.3px;bottom:23945.7px;
}
#P12_169
{
left:18568.8px;bottom:23945.7px;
}
#P12_170
{
left:18929.8px;bottom:23945.7px;
}
#P12_171
{
left:19151.8px;bottom:23945.7px;
}
#P12_172
{
left:19393px;bottom:23945.7px;
}
#P12_173
{
left:19700.2px;bottom:23945.7px;
}
#P12_174
{
left:20392.5px;bottom:23945.7px;
}
#P12_175
{
left:20694px;bottom:23945.7px;
}
#P12_176
{
left:21091.2px;bottom:23945.7px;
}
#P12_177
{
left:21460.5px;bottom:23945.7px;
}
#P12_178
{
left:22321.2px;bottom:23945.7px;
}
#P12_179
{
left:8853.31px;bottom:23209.5px;
}
#P12_180
{
left:9707.58px;bottom:23209.5px;
}
#P12_181
{
left:10981.1px;bottom:23209.5px;
}
#P12_182
{
left:5397.33px;bottom:20832px;letter-spacing:443.8px;
}
#P12_183
{
left:6549.31px;bottom:21056.5px;
}
#P12_184
{
left:8021.38px;bottom:21056.5px;
}
#P12_185
{
left:8640.77px;bottom:21056.5px;
}
#P12_186
{
left:9190.46px;bottom:21056.5px;
}
#P12_187
{
left:10348.4px;bottom:21056.5px;
}
#P12_188
{
left:10886.3px;bottom:21056.5px;
}
#P12_189
{
left:11048.2px;bottom:21056.5px;
}
#P12_190
{
left:11341px;bottom:21056.5px;
}
#P12_191
{
left:12115.8px;bottom:21056.5px;
}
#P12_192
{
left:8469.31px;bottom:20358.7px;
}
#P12_193
{
left:8085.31px;bottom:20282.3px;
}
#P12_194
{
left:8853.31px;bottom:20137.7px;
}
#P12_195
{
left:9773.63px;bottom:20137.7px;
}
#P12_196
{
left:10606.2px;bottom:20137.7px;
}
#P12_197
{
left:10862.1px;bottom:20137.7px;
}
#P12_198
{
left:11283.2px;bottom:20137.7px;
}
#P12_199
{
left:11735px;bottom:20137.7px;
}
#P12_200
{
left:11794.4px;bottom:20137.7px;
}
#P12_201
{
left:12101.6px;bottom:20137.7px;
}
#P12_202
{
left:12584.1px;bottom:20137.7px;
}
#P12_203
{
left:12868.7px;bottom:20137.7px;
}
#P12_204
{
left:13058.1px;bottom:20137.7px;
}
#P12_205
{
left:13299.2px;bottom:20137.7px;
}
#P12_206
{
left:13683.1px;bottom:20137.7px;
}
#P12_207
{
left:14664.9px;bottom:20137.7px;
}
#P12_208
{
left:15519.2px;bottom:20137.7px;
}
#P12_209
{
left:16257.1px;bottom:20137.7px;
}
#P12_210
{
left:17101.8px;bottom:20137.7px;
}
#P12_211
{
left:17940.7px;bottom:20137.7px;
}
#P12_212
{
left:18770.8px;bottom:20137.7px;
}
#P12_213
{
left:19234px;bottom:20137.7px;
}
#P12_214
{
left:19603.4px;bottom:20137.7px;
}
#P12_215
{
left:8853.31px;bottom:19401.5px;
}
#P12_216
{
left:9431.87px;bottom:19401.5px;
}
#P12_217
{
left:9589.76px;bottom:19401.5px;
}
#P12_218
{
left:10044.1px;bottom:19401.5px;
}
#P12_219
{
left:10758.8px;bottom:19401.5px;
}
#P12_220
{
left:10982.1px;bottom:19401.5px;
}
#P12_221
{
left:5397.33px;bottom:17024px;letter-spacing:464.5px;
}
#P12_222
{
left:6549.31px;bottom:17248.5px;
}
#P12_223
{
left:8021.38px;bottom:17248.5px;
}
#P12_224
{
left:8806.98px;bottom:17248.5px;
}
#P12_225
{
left:9267.39px;bottom:17248.5px;
}
#P12_226
{
left:9599.62px;bottom:17248.5px;
}
#P12_227
{
left:9929.79px;bottom:17248.5px;
}
#P12_228
{
left:10091.7px;bottom:17248.5px;
}
#P12_229
{
left:10925.2px;bottom:17248.5px;
}
#P12_230
{
left:11366.6px;bottom:17248.5px;
}
#P12_231
{
left:11629.2px;bottom:17248.5px;
}
#P12_232
{
left:11791.1px;bottom:17248.5px;
}
#P12_233
{
left:12362.7px;bottom:17248.5px;
}
#P12_234
{
left:13289px;bottom:17248.5px;
}
#P12_235
{
left:14511.9px;bottom:17248.5px;
}
#P12_236
{
left:14673.8px;bottom:17248.5px;
}
#P12_237
{
left:8469.31px;bottom:16550.7px;
}
#P12_238
{
left:8085.31px;bottom:16474.3px;
}
#P12_239
{
left:8853.31px;bottom:16329.7px;
}
#P12_240
{
left:9468.93px;bottom:16329.7px;
}
#P12_241
{
left:9952.13px;bottom:16329.7px;
}
#P12_242
{
left:10177.9px;bottom:16329.7px;
}
#P12_243
{
left:10795.5px;bottom:16329.7px;
}
#P12_244
{
left:11632.5px;bottom:16329.7px;
}
#P12_245
{
left:12611.6px;bottom:16329.7px;
}
#P12_246
{
left:12797.8px;bottom:16329.7px;
}
#P12_247
{
left:13167.1px;bottom:16329.7px;
}
#P12_248
{
left:14068.2px;bottom:16329.7px;
}
#P12_249
{
left:14808px;bottom:16329.7px;
}
#P12_250
{
left:15037.1px;bottom:16329.7px;
}
#P12_251
{
left:15223.2px;bottom:16329.7px;
}
#P12_252
{
left:15592.5px;bottom:16329.7px;
}
#P12_253
{
left:16611.3px;bottom:16329.7px;
}
#P12_254
{
left:16840.3px;bottom:16329.7px;
}
#P12_255
{
left:17025.9px;bottom:16329.7px;
}
#P12_256
{
left:17799.6px;bottom:16329.7px;
}
#P12_257
{
left:18848.6px;bottom:16329.7px;
}
#P12_258
{
left:20632.2px;bottom:16329.7px;
}
#P12_259
{
left:8853.31px;bottom:15593.5px;
}
#P12_260
{
left:9075.97px;bottom:15593.5px;
}
#P12_261
{
left:9822.72px;bottom:15593.5px;
}
#P12_262
{
left:11095px;bottom:15593.5px;
}
#P12_263
{
left:12073.5px;bottom:15593.5px;
}
#P12_264
{
left:12512.4px;bottom:15593.5px;
}
#P12_265
{
left:13206.1px;bottom:15593.5px;
}
#P12_266
{
left:13990.1px;bottom:15593.5px;
}
#P12_267
{
left:14488.6px;bottom:15593.5px;
}
#P12_268
{
left:15380.6px;bottom:15593.5px;
}
#P12_269
{
left:15633.2px;bottom:15593.5px;
}
#P12_270
{
left:15991px;bottom:15593.5px;
}
#P12_271
{
left:16699.4px;bottom:15593.5px;
}
#P12_272
{
left:5397.33px;bottom:13216px;letter-spacing:428.0px;
}
#P12_273
{
left:6549.31px;bottom:13440.5px;
}
#P12_274
{
left:8021.38px;bottom:13440.5px;
}
#P12_275
{
left:8806.98px;bottom:13440.5px;
}
#P12_276
{
left:9267.39px;bottom:13440.5px;
}
#P12_277
{
left:9599.62px;bottom:13440.5px;
}
#P12_278
{
left:9929.79px;bottom:13440.5px;
}
#P12_279
{
left:10091.7px;bottom:13440.5px;
}
#P12_280
{
left:10925.2px;bottom:13440.5px;
}
#P12_281
{
left:11366.6px;bottom:13440.5px;
}
#P12_282
{
left:11629.2px;bottom:13440.5px;
}
#P12_283
{
left:11791.1px;bottom:13440.5px;
}
#P12_284
{
left:13270px;bottom:13440.5px;
}
#P12_285
{
left:13851.5px;bottom:13440.5px;
}
#P12_286
{
left:14013.4px;bottom:13440.5px;
}
#P12_287
{
left:14521.5px;bottom:13440.5px;
}
#P12_288
{
left:15591.6px;bottom:13440.5px;
}
#P12_289
{
left:15753.5px;bottom:13440.5px;
}
#P12_290
{
left:8469.31px;bottom:12742.7px;
}
#P12_291
{
left:8085.31px;bottom:12666.3px;
}
#P12_292
{
left:8853.31px;bottom:12521.7px;
}
#P12_293
{
left:9468.93px;bottom:12521.7px;
}
#P12_294
{
left:9952.13px;bottom:12521.7px;
}
#P12_295
{
left:10177.9px;bottom:12521.7px;
}
#P12_296
{
left:10795.5px;bottom:12521.7px;
}
#P12_297
{
left:11144.3px;bottom:12521.7px;
}
#P12_298
{
left:11998.5px;bottom:12521.7px;
}
#P12_299
{
left:13711.1px;bottom:12521.7px;
}
#P12_300
{
left:14068.8px;bottom:12521.7px;
}
#P12_301
{
left:14472px;bottom:12521.7px;
}
#P12_302
{
left:15089.6px;bottom:12521.7px;
}
#P12_303
{
left:15742.3px;bottom:12521.7px;
}
#P12_304
{
left:16278.5px;bottom:12521.7px;
}
#P12_305
{
left:16511.4px;bottom:12521.7px;
}
#P12_306
{
left:16897.2px;bottom:12521.7px;
}
#P12_307
{
left:18118.9px;bottom:12521.7px;
}
#P12_308
{
left:18290.9px;bottom:12521.7px;
}
#P12_309
{
left:18866.9px;bottom:12521.7px;
}
#P12_310
{
left:19758.9px;bottom:12521.7px;
}
#P12_311
{
left:20011.6px;bottom:12521.7px;
}
#P12_312
{
left:20369.3px;bottom:12521.7px;
}
#P12_313
{
left:21077.7px;bottom:12521.7px;
}
#P12_314
{
left:21447px;bottom:12521.7px;
}
#P12_315
{
left:22139.4px;bottom:12521.7px;
}
#P12_316
{
left:22440.8px;bottom:12521.7px;
}
#P12_317
{
left:23062.8px;bottom:12521.7px;
}
#P12_318
{
left:8853.31px;bottom:11785.5px;
}
#P12_319
{
left:9374.14px;bottom:11785.5px;
}
#P12_320
{
left:9496.38px;bottom:11785.5px;
}
#P12_321
{
left:10227.8px;bottom:11785.5px;
}
#P12_322
{
left:10597.1px;bottom:11785.5px;
}
#P12_323
{
left:11429.6px;bottom:11785.5px;
}
#P12_324
{
left:12005px;bottom:11785.5px;
}
#P12_325
{
left:12422.8px;bottom:11785.5px;
}
#P12_326
{
left:13379.5px;bottom:11785.5px;
}
#P12_327
{
left:13958.1px;bottom:11785.5px;
}
#P12_328
{
left:14195.4px;bottom:11785.5px;
}
#P12_329
{
left:14323.4px;bottom:11785.5px;
}
#P12_330
{
left:14560.1px;bottom:11785.5px;
}
#P12_331
{
left:15138.7px;bottom:11785.5px;
}
#P12_332
{
left:15971.3px;bottom:11785.5px;
}
#P12_333
{
left:16359px;bottom:11785.5px;
}
#P12_334
{
left:16835.1px;bottom:11785.5px;
}
#P12_335
{
left:17776.4px;bottom:11785.5px;
}
#P12_336
{
left:5397.33px;bottom:9408px;
}
#P12_337
{
left:6549.31px;bottom:9632.51px;
}
#P12_338
{
left:8021.38px;bottom:9632.51px;
}
#P12_339
{
left:9258.3px;bottom:9632.51px;
}
#P12_340
{
left:9420.22px;bottom:9632.51px;
}
#P12_341
{
left:10119.9px;bottom:9632.51px;
}
#P12_342
{
left:10927.9px;bottom:9632.51px;
}
#P12_343
{
left:11552.4px;bottom:9632.51px;
}
#P12_344
{
left:11714.3px;bottom:9632.51px;
}
#P12_345
{
left:12934.9px;bottom:9632.51px;
}
#P12_346
{
left:15314.4px;bottom:9632.51px;
}
#P12_347
{
left:15968.4px;bottom:9632.51px;
}
#P12_348
{
left:16130.3px;bottom:9632.51px;
}
#PageContainer12
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg012_00.jpg");background-repeat:no-repeat;background-size: 941px 1146px; background-position: 0px 163px;
}
#ImageContainer012_00 {bottom:53.00px;left:0.00px;width:941.05px;height:1146.00px;position:absolute;} #TextContainer12 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
