.tr29{ color:transparent;}
#PageContainer29
{
width:1049.22px;height:1362.42px;
}
 #TextContainer29 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
