.tr68{ color:transparent;}
#P68_1
{
left:34009.7px;bottom:1798.66px;letter-spacing:5.1px;color:rgb(86,87,91);
}
#P68_2
{
left:34366px;bottom:1798.66px;letter-spacing:5.1px;color:rgb(86,87,91);
}
#P68_3
{
left:27460.9px;bottom:47808px;color:rgb(86,87,91);
}
#P68_4
{
left:27740.9px;bottom:47808px;color:rgb(86,87,91);
}
#P68_5
{
left:27863.8px;bottom:47808px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P68_6
{
left:29282px;bottom:47808px;color:rgb(86,87,91);
}
#P68_7
{
left:29404.9px;bottom:47808px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P68_8
{
left:31658.8px;bottom:47811.1px;color:rgb(226,147,158);
}
#P68_9
{
left:31940.4px;bottom:47811.1px;color:rgb(61,126,181);
}
#P68_10
{
left:32144.1px;bottom:47811.1px;color:rgb(226,147,158);
}
#P68_11
{
left:32425.7px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P68_12
{
left:32961.6px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P68_13
{
left:33199.6px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P68_14
{
left:33331.1px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P68_15
{
left:33596.7px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P68_16
{
left:33728.2px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P68_17
{
left:33969.2px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P68_18
{
left:34250.4px;bottom:47808px;color:rgb(86,87,91);
}
#P68_19
{
left:34373.2px;bottom:47808px;color:rgb(86,87,91);
}
#P68_20
{
left:4416px;bottom:46056.7px;color:rgb(0,105,168);
}
#P68_21
{
left:4969.73px;bottom:46056.7px;letter-spacing:-42.3px;color:rgb(0,105,168);
}
#P68_22
{
left:5310.43px;bottom:46056.7px;color:rgb(0,105,168);
}
#P68_23
{
left:5696.16px;bottom:46035.9px;color:black;
}
#P68_24
{
left:6279.52px;bottom:46035.9px;color:black;
}
#P68_25
{
left:6619.58px;bottom:46035.9px;color:black;
}
#P68_26
{
left:6915.97px;bottom:46035.9px;color:black;
}
#P68_27
{
left:7337.34px;bottom:46035.9px;color:black;
}
#P68_28
{
left:8324.48px;bottom:46035.9px;color:black;
}
#P68_29
{
left:9589.82px;bottom:46035.9px;color:black;
}
#P68_30
{
left:10187.9px;bottom:46035.9px;color:black;
}
#P68_31
{
left:10394.9px;bottom:46035.9px;color:black;
}
#P68_32
{
left:11105.9px;bottom:46035.9px;color:black;
}
#P68_33
{
left:11527.2px;bottom:46035.9px;color:black;
}
#P68_34
{
left:12272.5px;bottom:46035.9px;color:black;
}
#P68_35
{
left:12731.3px;bottom:46035.9px;color:black;
}
#P68_36
{
left:12898.8px;bottom:46035.9px;color:black;
}
#P68_37
{
left:13338.2px;bottom:46035.9px;color:black;
}
#P68_38
{
left:14492px;bottom:46035.9px;color:black;
}
#P68_39
{
left:15303.9px;bottom:46035.9px;color:black;
}
#P68_40
{
left:15584.8px;bottom:46035.9px;color:black;
}
#P68_41
{
left:16318.5px;bottom:46035.9px;color:black;
}
#P68_42
{
left:16485.9px;bottom:46035.9px;color:black;
}
#P68_43
{
left:16925.4px;bottom:46035.9px;color:black;
}
#P68_44
{
left:17360.9px;bottom:46035.9px;color:black;
}
#P68_45
{
left:17706.4px;bottom:46035.9px;color:black;
}
#P68_46
{
left:18399.2px;bottom:46035.9px;color:black;
}
#P68_47
{
left:19169.3px;bottom:46035.9px;color:black;
}
#P68_48
{
left:19590.7px;bottom:46035.9px;color:black;
}
#P68_49
{
left:19791.7px;bottom:46035.9px;color:black;
}
#P68_50
{
left:20278.3px;bottom:46035.9px;color:black;
}
#P68_51
{
left:21048.4px;bottom:46035.9px;color:black;
}
#P68_52
{
left:21472.1px;bottom:46035.9px;color:black;
}
#P68_53
{
left:21611.1px;bottom:46035.9px;color:black;
}
#P68_54
{
left:22070px;bottom:46035.9px;color:black;
}
#P68_55
{
left:23197.6px;bottom:46035.9px;color:black;
}
#P68_56
{
left:23723.1px;bottom:46035.9px;color:black;
}
#P68_57
{
left:24279.6px;bottom:46035.9px;color:black;
}
#P68_58
{
left:24964.4px;bottom:46035.9px;color:black;
}
#P68_59
{
left:5696.16px;bottom:45075.6px;color:black;
}
#P68_60
{
left:6040.29px;bottom:45075.6px;color:black;
}
#P68_61
{
left:6746.62px;bottom:45075.6px;color:black;
}
#P68_62
{
left:7091.39px;bottom:45075.6px;color:black;
}
#P68_63
{
left:7684.22px;bottom:45075.6px;color:black;
}
#P68_64
{
left:7823.3px;bottom:45075.6px;color:black;
}
#P68_65
{
left:8042.5px;bottom:45075.6px;color:black;
}
#P68_66
{
left:8928.26px;bottom:45075.6px;color:black;
}
#P68_67
{
left:9186.18px;bottom:45075.6px;color:black;
}
#P68_68
{
left:9532.93px;bottom:45075.6px;color:black;
}
#P68_69
{
left:9965.06px;bottom:45075.6px;color:black;
}
#P68_70
{
left:10487.1px;bottom:45075.6px;color:black;
}
#P68_71
{
left:10758.7px;bottom:45075.6px;color:black;
}
#P68_72
{
left:11104.1px;bottom:45075.6px;color:black;
}
#P68_73
{
left:11964.9px;bottom:45075.6px;color:black;
}
#P68_74
{
left:12716.9px;bottom:45075.6px;color:black;
}
#P68_75
{
left:13077.9px;bottom:45075.6px;color:black;
}
#P68_76
{
left:13287.5px;bottom:45075.6px;color:black;
}
#P68_77
{
left:13811.7px;bottom:45075.6px;color:black;
}
#P68_78
{
left:14695.4px;bottom:45075.6px;color:black;
}
#P68_79
{
left:15046.1px;bottom:45075.6px;color:black;
}
#P68_80
{
left:15540.8px;bottom:45075.6px;color:black;
}
#P68_81
{
left:15824.3px;bottom:45075.6px;color:black;
}
#P68_82
{
left:16318.3px;bottom:45075.6px;color:black;
}
#P68_83
{
left:16665px;bottom:45075.6px;color:black;
}
#P68_84
{
left:17012.4px;bottom:45075.6px;color:black;
}
#P68_85
{
left:17467.3px;bottom:45075.6px;color:black;
}
#P68_86
{
left:17750.8px;bottom:45075.6px;color:black;
}
#P68_87
{
left:18099.7px;bottom:45075.6px;color:black;
}
#P68_88
{
left:18238.8px;bottom:45075.6px;color:black;
}
#P68_89
{
left:18475.5px;bottom:45075.6px;color:black;
}
#P68_90
{
left:19114px;bottom:45075.6px;color:black;
}
#P68_91
{
left:19611.3px;bottom:45075.6px;color:black;
}
#P68_92
{
left:20281.9px;bottom:45075.6px;color:black;
}
#P68_93
{
left:20714px;bottom:45075.6px;color:black;
}
#P68_94
{
left:21164.2px;bottom:45075.6px;color:black;
}
#P68_95
{
left:21416.1px;bottom:45075.6px;color:black;
}
#P68_96
{
left:21694.9px;bottom:45075.6px;color:black;
}
#P68_97
{
left:22121px;bottom:45075.6px;color:black;
}
#P68_98
{
left:22262.2px;bottom:45075.6px;color:black;
}
#P68_99
{
left:22401.3px;bottom:45075.6px;color:black;
}
#P68_100
{
left:23148.1px;bottom:45075.6px;color:black;
}
#P68_101
{
left:23634.6px;bottom:45075.6px;color:black;
}
#P68_102
{
left:24621.8px;bottom:45075.6px;color:black;
}
#P68_103
{
left:24965.8px;bottom:45075.6px;color:black;
}
#P68_104
{
left:25674.8px;bottom:45075.6px;color:black;
}
#P68_105
{
left:5696.16px;bottom:44115.3px;color:black;
}
#P68_106
{
left:6040.9px;bottom:44115.3px;color:black;
}
#P68_107
{
left:6631.55px;bottom:44115.3px;color:black;
}
#P68_108
{
left:7863.49px;bottom:44115.3px;color:black;
}
#P68_109
{
left:8002.62px;bottom:44115.3px;color:black;
}
#P68_110
{
left:9156.42px;bottom:44115.3px;color:black;
}
#P68_111
{
left:10050.2px;bottom:44115.3px;color:black;
}
#P68_112
{
left:10346.6px;bottom:44115.3px;color:black;
}
#P68_113
{
left:10767.9px;bottom:44115.3px;color:black;
}
#P68_114
{
left:11293.4px;bottom:44115.3px;color:black;
}
#P68_115
{
left:11823.7px;bottom:44115.3px;color:black;
}
#P68_116
{
left:13394.9px;bottom:44115.3px;color:black;
}
#P68_117
{
left:14382px;bottom:44115.3px;color:black;
}
#P68_118
{
left:14726.1px;bottom:44115.3px;color:black;
}
#P68_119
{
left:15432.5px;bottom:44115.3px;color:black;
}
#P68_120
{
left:15777.2px;bottom:44115.3px;color:black;
}
#P68_121
{
left:16367.9px;bottom:44115.3px;color:black;
}
#P68_122
{
left:17201.9px;bottom:44115.3px;color:black;
}
#P68_123
{
left:18099.7px;bottom:44115.3px;color:black;
}
#P68_124
{
left:18351.7px;bottom:44115.3px;color:black;
}
#P68_125
{
left:19432.9px;bottom:44115.3px;color:black;
}
#P68_126
{
left:20465.2px;bottom:44115.3px;color:black;
}
#P68_127
{
left:20606.4px;bottom:44115.3px;color:black;
}
#P68_128
{
left:20745.5px;bottom:44115.3px;color:black;
}
#P68_129
{
left:20964.7px;bottom:44115.3px;color:black;
}
#P68_130
{
left:21470.8px;bottom:44115.3px;color:black;
}
#P68_131
{
left:21759.8px;bottom:44115.3px;color:black;
}
#P68_132
{
left:22855.8px;bottom:44115.3px;color:black;
}
#P68_133
{
left:23833.6px;bottom:44115.3px;color:black;
}
#P68_134
{
left:24473.3px;bottom:44115.3px;color:black;
}
#P68_135
{
left:5696.16px;bottom:43155px;color:black;
}
#P68_136
{
left:6612.22px;bottom:43155px;color:black;
}
#P68_137
{
left:6895.74px;bottom:43155px;color:black;
}
#P68_138
{
left:7243.84px;bottom:43155px;color:black;
}
#P68_139
{
left:7593.22px;bottom:43155px;color:black;
}
#P68_140
{
left:8411.2px;bottom:43155px;color:black;
}
#P68_141
{
left:8550.27px;bottom:43155px;color:black;
}
#P68_142
{
left:8788.86px;bottom:43155px;color:black;
}
#P68_143
{
left:9072.38px;bottom:43155px;color:black;
}
#P68_144
{
left:9343.94px;bottom:43155px;color:black;
}
#P68_145
{
left:9689.41px;bottom:43155px;color:black;
}
#P68_146
{
left:9927.94px;bottom:43155px;color:black;
}
#P68_147
{
left:10421.9px;bottom:43155px;color:black;
}
#P68_148
{
left:10710.9px;bottom:43155px;color:black;
}
#P68_149
{
left:11806.9px;bottom:43155px;color:black;
}
#P68_150
{
left:12153.7px;bottom:43155px;color:black;
}
#P68_151
{
left:13018.6px;bottom:43155px;color:black;
}
#P68_152
{
left:13279.4px;bottom:43155px;color:black;
}
#P68_153
{
left:13587.1px;bottom:43155px;color:black;
}
#P68_154
{
left:14089.7px;bottom:43155px;color:black;
}
#P68_155
{
left:14613.9px;bottom:43155px;color:black;
}
#P68_156
{
left:4416px;bottom:41751.9px;color:rgb(0,105,168);
}
#P68_157
{
left:4884.38px;bottom:41751.9px;color:rgb(0,105,168);
}
#P68_158
{
left:5310.43px;bottom:41751.9px;color:rgb(0,105,168);
}
#P68_159
{
left:5696.16px;bottom:41731.1px;color:black;
}
#P68_160
{
left:6135.71px;bottom:41731.1px;color:black;
}
#P68_161
{
left:6667.26px;bottom:41731.1px;color:black;
}
#P68_162
{
left:6948.22px;bottom:41731.1px;color:black;
}
#P68_163
{
left:7681.92px;bottom:41731.1px;color:black;
}
#P68_164
{
left:7849.34px;bottom:41731.1px;color:black;
}
#P68_165
{
left:8288.83px;bottom:41731.1px;color:black;
}
#P68_166
{
left:8527.36px;bottom:41731.1px;color:black;
}
#P68_167
{
left:8807.68px;bottom:41731.1px;color:black;
}
#P68_168
{
left:9701.44px;bottom:41731.1px;color:black;
}
#P68_169
{
left:9997.82px;bottom:41731.1px;color:black;
}
#P68_170
{
left:10419.2px;bottom:41731.1px;color:black;
}
#P68_171
{
left:11406.3px;bottom:41731.1px;color:black;
}
#P68_172
{
left:11613.3px;bottom:41731.1px;color:black;
}
#P68_173
{
left:12324.2px;bottom:41731.1px;color:black;
}
#P68_174
{
left:12745.6px;bottom:41731.1px;color:black;
}
#P68_175
{
left:13899.4px;bottom:41731.1px;color:black;
}
#P68_176
{
left:14349.6px;bottom:41731.1px;color:black;
}
#P68_177
{
left:14601.4px;bottom:41731.1px;color:black;
}
#P68_178
{
left:14880.3px;bottom:41731.1px;color:black;
}
#P68_179
{
left:15475px;bottom:41731.1px;color:black;
}
#P68_180
{
left:15910.5px;bottom:41731.1px;color:black;
}
#P68_181
{
left:16256px;bottom:41731.1px;color:black;
}
#P68_182
{
left:16948.8px;bottom:41731.1px;color:black;
}
#P68_183
{
left:17936px;bottom:41731.1px;color:black;
}
#P68_184
{
left:18280.1px;bottom:41731.1px;color:black;
}
#P68_185
{
left:18986.4px;bottom:41731.1px;color:black;
}
#P68_186
{
left:19331.2px;bottom:41731.1px;color:black;
}
#P68_187
{
left:19924.1px;bottom:41731.1px;color:black;
}
#P68_188
{
left:20063.2px;bottom:41731.1px;color:black;
}
#P68_189
{
left:20282.4px;bottom:41731.1px;color:black;
}
#P68_190
{
left:20788.5px;bottom:41731.1px;color:black;
}
#P68_191
{
left:21077.5px;bottom:41731.1px;color:black;
}
#P68_192
{
left:22173.5px;bottom:41731.1px;color:black;
}
#P68_193
{
left:23151.3px;bottom:41731.1px;color:black;
}
#P68_194
{
left:23791px;bottom:41731.1px;color:black;
}
#P68_195
{
left:24212.4px;bottom:41731.1px;color:black;
}
#P68_196
{
left:25128.4px;bottom:41731.1px;color:black;
}
#P68_197
{
left:25410.7px;bottom:41731.1px;color:black;
}
#P68_198
{
left:5696.16px;bottom:40770.8px;color:black;
}
#P68_199
{
left:6044.19px;bottom:40770.8px;color:black;
}
#P68_200
{
left:6393.63px;bottom:40770.8px;color:black;
}
#P68_201
{
left:7211.58px;bottom:40770.8px;color:black;
}
#P68_202
{
left:7350.72px;bottom:40770.8px;color:black;
}
#P68_203
{
left:7589.31px;bottom:40770.8px;color:black;
}
#P68_204
{
left:7872.83px;bottom:40770.8px;color:black;
}
#P68_205
{
left:8144.38px;bottom:40770.8px;color:black;
}
#P68_206
{
left:8489.79px;bottom:40770.8px;color:black;
}
#P68_207
{
left:8728.45px;bottom:40770.8px;color:black;
}
#P68_208
{
left:9222.34px;bottom:40770.8px;color:black;
}
#P68_209
{
left:9511.36px;bottom:40770.8px;color:black;
}
#P68_210
{
left:10607.4px;bottom:40770.8px;color:black;
}
#P68_211
{
left:10954.2px;bottom:40770.8px;color:black;
}
#P68_212
{
left:11819px;bottom:40770.8px;color:black;
}
#P68_213
{
left:12079.7px;bottom:40770.8px;color:black;
}
#P68_214
{
left:12387.5px;bottom:40770.8px;color:black;
}
#P68_215
{
left:12890.1px;bottom:40770.8px;color:black;
}
#P68_216
{
left:13414.3px;bottom:40770.8px;color:black;
}
#P68_217
{
left:4416px;bottom:39367.6px;color:rgb(0,105,168);
}
#P68_218
{
left:4926.72px;bottom:39367.6px;letter-spacing:-37.6px;color:rgb(0,105,168);
}
#P68_219
{
left:5310.43px;bottom:39346.8px;color:black;
}
#P68_220
{
left:5696.16px;bottom:39346.8px;color:black;
}
#P68_221
{
left:6104.67px;bottom:39346.8px;color:black;
}
#P68_222
{
left:6701.44px;bottom:39346.8px;color:black;
}
#P68_223
{
left:7277.95px;bottom:39346.8px;color:black;
}
#P68_224
{
left:7771.9px;bottom:39346.8px;color:black;
}
#P68_225
{
left:8759.04px;bottom:39346.8px;color:black;
}
#P68_226
{
left:9030.53px;bottom:39346.8px;color:black;
}
#P68_227
{
left:9786.69px;bottom:39346.8px;color:black;
}
#P68_228
{
left:10132.2px;bottom:39346.8px;color:black;
}
#P68_229
{
left:10638.2px;bottom:39346.8px;color:black;
}
#P68_230
{
left:11088.3px;bottom:39346.8px;color:black;
}
#P68_231
{
left:11342.3px;bottom:39346.8px;color:black;
}
#P68_232
{
left:12333.5px;bottom:39346.8px;color:black;
}
#P68_233
{
left:13136.6px;bottom:39346.8px;color:black;
}
#P68_234
{
left:14161.4px;bottom:39346.8px;color:black;
}
#P68_235
{
left:14658.7px;bottom:39346.8px;color:black;
}
#P68_236
{
left:14855px;bottom:39346.8px;color:black;
}
#P68_237
{
left:15951px;bottom:39346.8px;color:black;
}
#P68_238
{
left:16296.4px;bottom:39346.8px;color:black;
}
#P68_239
{
left:16514.7px;bottom:39346.8px;color:black;
}
#P68_240
{
left:16653.8px;bottom:39346.8px;color:black;
}
#P68_241
{
left:17641px;bottom:39346.8px;color:black;
}
#P68_242
{
left:18091.1px;bottom:39346.8px;color:black;
}
#P68_243
{
left:18342.9px;bottom:39346.8px;color:black;
}
#P68_244
{
left:18621.8px;bottom:39346.8px;color:black;
}
#P68_245
{
left:19076.7px;bottom:39346.8px;color:black;
}
#P68_246
{
left:19454.4px;bottom:39346.8px;color:black;
}
#P68_247
{
left:19655.5px;bottom:39346.8px;color:black;
}
#P68_248
{
left:20142px;bottom:39346.8px;color:black;
}
#P68_249
{
left:21306px;bottom:39346.8px;color:black;
}
#P68_250
{
left:21727.4px;bottom:39346.8px;color:black;
}
#P68_251
{
left:22159.5px;bottom:39346.8px;color:black;
}
#P68_252
{
left:22739.5px;bottom:39346.8px;color:black;
}
#P68_253
{
left:23633.9px;bottom:39346.8px;color:black;
}
#P68_254
{
left:24055.3px;bottom:39346.8px;color:black;
}
#P68_255
{
left:24696.3px;bottom:39346.8px;color:black;
}
#P68_256
{
left:25404.7px;bottom:39346.8px;color:black;
}
#P68_257
{
left:5696.16px;bottom:38386.5px;color:black;
}
#P68_258
{
left:6500.54px;bottom:38386.5px;color:black;
}
#P68_259
{
left:6784.13px;bottom:38386.5px;color:black;
}
#P68_260
{
left:7507.84px;bottom:38386.5px;color:black;
}
#P68_261
{
left:8476.1px;bottom:38386.5px;color:black;
}
#P68_262
{
left:9419.58px;bottom:38386.5px;color:black;
}
#P68_263
{
left:10406.7px;bottom:38386.5px;color:black;
}
#P68_264
{
left:11095.6px;bottom:38386.5px;color:black;
}
#P68_265
{
left:11516.9px;bottom:38386.5px;color:black;
}
#P68_266
{
left:11862.5px;bottom:38386.5px;color:black;
}
#P68_267
{
left:12080.6px;bottom:38386.5px;color:black;
}
#P68_268
{
left:12219.7px;bottom:38386.5px;color:black;
}
#P68_269
{
left:13206.9px;bottom:38386.5px;color:black;
}
#P68_270
{
left:13418.5px;bottom:38386.5px;color:black;
}
#P68_271
{
left:13670.3px;bottom:38386.5px;color:black;
}
#P68_272
{
left:13952px;bottom:38386.5px;color:black;
}
#P68_273
{
left:14210.9px;bottom:38386.5px;color:black;
}
#P68_274
{
left:14352.1px;bottom:38386.5px;color:black;
}
#P68_275
{
left:14491.2px;bottom:38386.5px;color:black;
}
#P68_276
{
left:14922.7px;bottom:38386.5px;color:black;
}
#P68_277
{
left:15983.8px;bottom:38386.5px;color:black;
}
#P68_278
{
left:16971px;bottom:38386.5px;color:black;
}
#P68_279
{
left:17251.2px;bottom:38386.5px;color:black;
}
#P68_280
{
left:18350.6px;bottom:38386.5px;color:black;
}
#P68_281
{
left:18551.7px;bottom:38386.5px;color:black;
}
#P68_282
{
left:18900.4px;bottom:38386.5px;color:black;
}
#P68_283
{
left:19205.5px;bottom:38386.5px;color:black;
}
#P68_284
{
left:19489.7px;bottom:38386.5px;color:black;
}
#P68_285
{
left:20335.8px;bottom:38386.5px;color:black;
}
#P68_286
{
left:20544.9px;bottom:38386.5px;color:black;
}
#P68_287
{
left:20686.1px;bottom:38386.5px;color:black;
}
#P68_288
{
left:20825.2px;bottom:38386.5px;color:black;
}
#P68_289
{
left:21233.7px;bottom:38386.5px;color:black;
}
#P68_290
{
left:21872.2px;bottom:38386.5px;color:black;
}
#P68_291
{
left:22378.2px;bottom:38386.5px;color:black;
}
#P68_292
{
left:22587.9px;bottom:38386.5px;color:black;
}
#P68_293
{
left:23188px;bottom:38386.5px;color:black;
}
#P68_294
{
left:24564.2px;bottom:38386.5px;color:black;
}
#P68_295
{
left:5696.16px;bottom:37426.2px;color:black;
}
#P68_296
{
left:6041.63px;bottom:37426.2px;color:black;
}
#P68_297
{
left:6609.6px;bottom:37426.2px;color:black;
}
#P68_298
{
left:7096.13px;bottom:37426.2px;color:black;
}
#P68_299
{
left:7752px;bottom:37426.2px;color:black;
}
#P68_300
{
left:8238.53px;bottom:37426.2px;color:black;
}
#P68_301
{
left:8582.66px;bottom:37426.2px;color:black;
}
#P68_302
{
left:8935.49px;bottom:37426.2px;color:black;
}
#P68_303
{
left:9292.29px;bottom:37426.2px;color:black;
}
#P68_304
{
left:10258.8px;bottom:37426.2px;color:black;
}
#P68_305
{
left:10680.1px;bottom:37426.2px;color:black;
}
#P68_306
{
left:11450.3px;bottom:37426.2px;color:black;
}
#P68_307
{
left:12110.2px;bottom:37426.2px;color:black;
}
#P68_308
{
left:12455.6px;bottom:37426.2px;color:black;
}
#P68_309
{
left:12673.9px;bottom:37426.2px;color:black;
}
#P68_310
{
left:12813px;bottom:37426.2px;color:black;
}
#P68_311
{
left:13800.1px;bottom:37426.2px;color:black;
}
#P68_312
{
left:14380.2px;bottom:37426.2px;color:black;
}
#P68_313
{
left:15274.6px;bottom:37426.2px;color:black;
}
#P68_314
{
left:15698px;bottom:37426.2px;color:black;
}
#P68_315
{
left:15837.2px;bottom:37426.2px;color:black;
}
#P68_316
{
left:16507.8px;bottom:37426.2px;color:black;
}
#P68_317
{
left:17442px;bottom:37426.2px;color:black;
}
#P68_318
{
left:17908.3px;bottom:37426.2px;color:black;
}
#P68_319
{
left:18414.3px;bottom:37426.2px;color:black;
}
#P68_320
{
left:18762.3px;bottom:37426.2px;color:black;
}
#P68_321
{
left:19045.9px;bottom:37426.2px;color:black;
}
#P68_322
{
left:19552.6px;bottom:37426.2px;color:black;
}
#P68_323
{
left:19978.8px;bottom:37426.2px;color:black;
}
#P68_324
{
left:20120.1px;bottom:37426.2px;color:black;
}
#P68_325
{
left:4416px;bottom:27362.4px;color:black;
}
#P68_326
{
left:4707.65px;bottom:27383.2px;color:rgb(0,105,168);
}
#P68_327
{
left:5310.43px;bottom:27383.2px;color:rgb(0,105,168);
}
#P68_328
{
left:5696.16px;bottom:27362.4px;color:black;
}
#P68_329
{
left:6008.64px;bottom:27362.4px;color:black;
}
#P68_330
{
left:6715.65px;bottom:27362.4px;color:black;
}
#P68_331
{
left:7549.63px;bottom:27362.4px;color:black;
}
#P68_332
{
left:8101.38px;bottom:27362.4px;color:black;
}
#P68_333
{
left:8522.75px;bottom:27362.4px;color:black;
}
#P68_334
{
left:9509.89px;bottom:27362.4px;color:black;
}
#P68_335
{
left:10089.9px;bottom:27362.4px;color:black;
}
#P68_336
{
left:10984.3px;bottom:27362.4px;color:black;
}
#P68_337
{
left:11405.7px;bottom:27362.4px;color:black;
}
#P68_338
{
left:12090.4px;bottom:27362.4px;color:black;
}
#P68_339
{
left:13077.6px;bottom:27362.4px;color:black;
}
#P68_340
{
left:13829.6px;bottom:27362.4px;color:black;
}
#P68_341
{
left:14190.6px;bottom:27362.4px;color:black;
}
#P68_342
{
left:14400.2px;bottom:27362.4px;color:black;
}
#P68_343
{
left:14924.4px;bottom:27362.4px;color:black;
}
#P68_344
{
left:15432.6px;bottom:27362.4px;color:black;
}
#P68_345
{
left:15571.6px;bottom:27362.4px;color:black;
}
#P68_346
{
left:15980.2px;bottom:27362.4px;color:black;
}
#P68_347
{
left:16618.6px;bottom:27362.4px;color:black;
}
#P68_348
{
left:17126.8px;bottom:27362.4px;color:black;
}
#P68_349
{
left:17265.9px;bottom:27362.4px;color:black;
}
#P68_350
{
left:18011.2px;bottom:27362.4px;color:black;
}
#P68_351
{
left:18470.1px;bottom:27362.4px;color:black;
}
#P68_352
{
left:18637.5px;bottom:27362.4px;color:black;
}
#P68_353
{
left:19077px;bottom:27362.4px;color:black;
}
#P68_354
{
left:19967.3px;bottom:27362.4px;color:black;
}
#P68_355
{
left:20275.7px;bottom:27362.4px;color:black;
}
#P68_356
{
left:20801.2px;bottom:27362.4px;color:black;
}
#P68_357
{
left:21502.8px;bottom:27362.4px;color:black;
}
#P68_358
{
left:21644.2px;bottom:27362.4px;color:black;
}
#P68_359
{
left:21783.2px;bottom:27362.4px;color:black;
}
#P68_360
{
left:22396.1px;bottom:27362.4px;color:black;
}
#P68_361
{
left:22981.4px;bottom:27362.4px;color:black;
}
#P68_362
{
left:23416.9px;bottom:27362.4px;color:black;
}
#P68_363
{
left:23762.4px;bottom:27362.4px;color:black;
}
#P68_364
{
left:24455.2px;bottom:27362.4px;color:black;
}
#P68_365
{
left:5696.16px;bottom:26402px;color:black;
}
#P68_366
{
left:6671.81px;bottom:26402px;color:black;
}
#P68_367
{
left:7264.7px;bottom:26402px;color:black;
}
#P68_368
{
left:7403.78px;bottom:26402px;color:black;
}
#P68_369
{
left:8557.63px;bottom:26402px;color:black;
}
#P68_370
{
left:9403.65px;bottom:26402px;color:black;
}
#P68_371
{
left:9909.7px;bottom:26402px;color:black;
}
#P68_372
{
left:10206.1px;bottom:26402px;color:black;
}
#P68_373
{
left:10486.3px;bottom:26402px;color:black;
}
#P68_374
{
left:10744.3px;bottom:26402px;color:black;
}
#P68_375
{
left:10953.9px;bottom:26402px;color:black;
}
#P68_376
{
left:11878.5px;bottom:26402px;color:black;
}
#P68_377
{
left:12045.8px;bottom:26402px;color:black;
}
#P68_378
{
left:12485.3px;bottom:26402px;color:black;
}
#P68_379
{
left:13156px;bottom:26402px;color:black;
}
#P68_380
{
left:14090.1px;bottom:26402px;color:black;
}
#P68_381
{
left:14556.4px;bottom:26402px;color:black;
}
#P68_382
{
left:15062.3px;bottom:26402px;color:black;
}
#P68_383
{
left:15747.1px;bottom:26402px;color:black;
}
#P68_384
{
left:16734.3px;bottom:26402px;color:black;
}
#P68_385
{
left:17874.7px;bottom:26402px;color:black;
}
#P68_386
{
left:18126.5px;bottom:26402px;color:black;
}
#P68_387
{
left:19112.4px;bottom:26402px;color:black;
}
#P68_388
{
left:19460.4px;bottom:26402px;color:black;
}
#P68_389
{
left:19743.9px;bottom:26402px;color:black;
}
#P68_390
{
left:20250.7px;bottom:26402px;color:black;
}
#P68_391
{
left:20845.4px;bottom:26402px;color:black;
}
#P68_392
{
left:21485.1px;bottom:26402px;color:black;
}
#P68_393
{
left:21935.4px;bottom:26402px;color:black;
}
#P68_394
{
left:22482.6px;bottom:26402px;color:black;
}
#P68_395
{
left:22621.7px;bottom:26402px;color:black;
}
#P68_396
{
left:23561.1px;bottom:26402px;color:black;
}
#P68_397
{
left:24048.3px;bottom:26402px;color:black;
}
#P68_398
{
left:24337.3px;bottom:26402px;color:black;
}
#P68_399
{
left:5696.16px;bottom:25441.8px;color:black;
}
#P68_400
{
left:6335.97px;bottom:25441.8px;color:black;
}
#P68_401
{
left:6632.45px;bottom:25441.8px;color:black;
}
#P68_402
{
left:7053.82px;bottom:25441.8px;color:black;
}
#P68_403
{
left:7292.42px;bottom:25441.8px;color:black;
}
#P68_404
{
left:7572.67px;bottom:25441.8px;color:black;
}
#P68_405
{
left:8466.43px;bottom:25441.8px;color:black;
}
#P68_406
{
left:8762.82px;bottom:25441.8px;color:black;
}
#P68_407
{
left:9046.4px;bottom:25441.8px;color:black;
}
#P68_408
{
left:9540.35px;bottom:25441.8px;color:black;
}
#P68_409
{
left:10527.5px;bottom:25441.8px;color:black;
}
#P68_410
{
left:11107.5px;bottom:25441.8px;color:black;
}
#P68_411
{
left:12001.9px;bottom:25441.8px;color:black;
}
#P68_412
{
left:12423.3px;bottom:25441.8px;color:black;
}
#P68_413
{
left:12889.6px;bottom:25441.8px;color:black;
}
#P68_414
{
left:13773.2px;bottom:25441.8px;color:black;
}
#P68_415
{
left:14760.4px;bottom:25441.8px;color:black;
}
#P68_416
{
left:15990.2px;bottom:25441.8px;color:black;
}
#P68_417
{
left:16425.7px;bottom:25441.8px;color:black;
}
#P68_418
{
left:16771.1px;bottom:25441.8px;color:black;
}
#P68_419
{
left:17463.9px;bottom:25441.8px;color:black;
}
#P68_420
{
left:18451.1px;bottom:25441.8px;color:black;
}
#P68_421
{
left:18662.7px;bottom:25441.8px;color:black;
}
#P68_422
{
left:18914.6px;bottom:25441.8px;color:black;
}
#P68_423
{
left:19196.2px;bottom:25441.8px;color:black;
}
#P68_424
{
left:19455.1px;bottom:25441.8px;color:black;
}
#P68_425
{
left:19596.4px;bottom:25441.8px;color:black;
}
#P68_426
{
left:19735.4px;bottom:25441.8px;color:black;
}
#P68_427
{
left:20143.9px;bottom:25441.8px;color:black;
}
#P68_428
{
left:20782.4px;bottom:25441.8px;color:black;
}
#P68_429
{
left:21288.4px;bottom:25441.8px;color:black;
}
#P68_430
{
left:21602.2px;bottom:25441.8px;color:black;
}
#P68_431
{
left:21854.1px;bottom:25441.8px;color:black;
}
#P68_432
{
left:22879.6px;bottom:25441.8px;color:black;
}
#P68_433
{
left:23227.6px;bottom:25441.8px;color:black;
}
#P68_434
{
left:24279.9px;bottom:25441.8px;color:black;
}
#P68_435
{
left:24730.1px;bottom:25441.8px;color:black;
}
#P68_436
{
left:24984.1px;bottom:25441.8px;color:black;
}
#P68_437
{
left:5696.16px;bottom:24481.5px;color:black;
}
#P68_438
{
left:7072.26px;bottom:24481.5px;color:black;
}
#P68_439
{
left:7901.5px;bottom:24481.5px;color:black;
}
#P68_440
{
left:9055.36px;bottom:24481.5px;color:black;
}
#P68_441
{
left:9349.63px;bottom:24481.5px;color:black;
}
#P68_442
{
left:9873.15px;bottom:24481.5px;color:black;
}
#P68_443
{
left:10821.4px;bottom:24481.5px;color:black;
}
#P68_444
{
left:11808.5px;bottom:24481.5px;color:black;
}
#P68_445
{
left:12388.5px;bottom:24481.5px;color:black;
}
#P68_446
{
left:13282.9px;bottom:24481.5px;color:black;
}
#P68_447
{
left:13704.3px;bottom:24481.5px;color:black;
}
#P68_448
{
left:13905.3px;bottom:24481.5px;color:black;
}
#P68_449
{
left:14391.9px;bottom:24481.5px;color:black;
}
#P68_450
{
left:14823.9px;bottom:24481.5px;color:black;
}
#P68_451
{
left:15527.6px;bottom:24481.5px;color:black;
}
#P68_452
{
left:15781.6px;bottom:24481.5px;color:black;
}
#P68_453
{
left:16230px;bottom:24481.5px;color:black;
}
#P68_454
{
left:16575.4px;bottom:24481.5px;color:black;
}
#P68_455
{
left:17751.4px;bottom:24481.5px;color:black;
}
#P68_456
{
left:18108.2px;bottom:24481.5px;color:black;
}
#P68_457
{
left:19082.5px;bottom:24481.5px;color:black;
}
#P68_458
{
left:19606.7px;bottom:24481.5px;color:black;
}
#P68_459
{
left:20112.7px;bottom:24481.5px;color:black;
}
#P68_460
{
left:20783.4px;bottom:24481.5px;color:black;
}
#P68_461
{
left:21717.5px;bottom:24481.5px;color:black;
}
#P68_462
{
left:22183.8px;bottom:24481.5px;color:black;
}
#P68_463
{
left:22689.9px;bottom:24481.5px;color:black;
}
#P68_464
{
left:23037.9px;bottom:24481.5px;color:black;
}
#P68_465
{
left:23321.5px;bottom:24481.5px;color:black;
}
#P68_466
{
left:23828.2px;bottom:24481.5px;color:black;
}
#P68_467
{
left:24422.9px;bottom:24481.5px;color:black;
}
#P68_468
{
left:5696.16px;bottom:23521.2px;color:black;
}
#P68_469
{
left:5950.18px;bottom:23521.2px;color:black;
}
#P68_470
{
left:6443.33px;bottom:23521.2px;color:black;
}
#P68_471
{
left:7150.46px;bottom:23521.2px;color:black;
}
#P68_472
{
left:7289.54px;bottom:23521.2px;color:black;
}
#P68_473
{
left:8041.6px;bottom:23521.2px;color:black;
}
#P68_474
{
left:8783.49px;bottom:23521.2px;color:black;
}
#P68_475
{
left:9222.98px;bottom:23521.2px;color:black;
}
#P68_476
{
left:10116.7px;bottom:23521.2px;color:black;
}
#P68_477
{
left:10413.1px;bottom:23521.2px;color:black;
}
#P68_478
{
left:10834.5px;bottom:23521.2px;color:black;
}
#P68_479
{
left:11360px;bottom:23521.2px;color:black;
}
#P68_480
{
left:12216.8px;bottom:23521.2px;color:black;
}
#P68_481
{
left:13370.6px;bottom:23521.2px;color:black;
}
#P68_482
{
left:13722.1px;bottom:23521.2px;color:black;
}
#P68_483
{
left:14059.5px;bottom:23521.2px;color:black;
}
#P68_484
{
left:14525.8px;bottom:23521.2px;color:black;
}
#P68_485
{
left:15034px;bottom:23521.2px;color:black;
}
#P68_486
{
left:15173.1px;bottom:23521.2px;color:black;
}
#P68_487
{
left:16326.9px;bottom:23521.2px;color:black;
}
#P68_488
{
left:16673.7px;bottom:23521.2px;color:black;
}
#P68_489
{
left:17538.6px;bottom:23521.2px;color:black;
}
#P68_490
{
left:17799.3px;bottom:23521.2px;color:black;
}
#P68_491
{
left:18095.7px;bottom:23521.2px;color:black;
}
#P68_492
{
left:18517.1px;bottom:23521.2px;color:black;
}
#P68_493
{
left:19504.2px;bottom:23521.2px;color:black;
}
#P68_494
{
left:20736.1px;bottom:23521.2px;color:black;
}
#P68_495
{
left:20875.2px;bottom:23521.2px;color:black;
}
#P68_496
{
left:21343.1px;bottom:23521.2px;color:black;
}
#P68_497
{
left:21561.3px;bottom:23521.2px;color:black;
}
#P68_498
{
left:21700.4px;bottom:23521.2px;color:black;
}
#P68_499
{
left:22225.9px;bottom:23521.2px;color:black;
}
#P68_500
{
left:22582.8px;bottom:23521.2px;color:black;
}
#P68_501
{
left:22926.9px;bottom:23521.2px;color:black;
}
#P68_502
{
left:23661.6px;bottom:23521.2px;color:black;
}
#P68_503
{
left:23800.6px;bottom:23521.2px;color:black;
}
#P68_504
{
left:23996.9px;bottom:23521.2px;color:black;
}
#P68_505
{
left:24342.3px;bottom:23521.2px;color:black;
}
#P68_506
{
left:24593.5px;bottom:23521.2px;color:black;
}
#P68_507
{
left:25286.4px;bottom:23521.2px;color:black;
}
#P68_508
{
left:5696.16px;bottom:22560.9px;color:black;
}
#P68_509
{
left:6344.64px;bottom:22560.9px;color:black;
}
#P68_510
{
left:6939.33px;bottom:22560.9px;color:black;
}
#P68_511
{
left:7284.86px;bottom:22560.9px;color:black;
}
#P68_512
{
left:8323.9px;bottom:22560.9px;color:black;
}
#P68_513
{
left:8462.98px;bottom:22560.9px;color:black;
}
#P68_514
{
left:8682.24px;bottom:22560.9px;color:black;
}
#P68_515
{
left:9188.29px;bottom:22560.9px;color:black;
}
#P68_516
{
left:9477.31px;bottom:22560.9px;color:black;
}
#P68_517
{
left:10573.3px;bottom:22560.9px;color:black;
}
#P68_518
{
left:11551.1px;bottom:22560.9px;color:black;
}
#P68_519
{
left:12190.8px;bottom:22560.9px;color:black;
}
#P68_520
{
left:12612.2px;bottom:22560.9px;color:black;
}
#P68_521
{
left:13528.3px;bottom:22560.9px;color:black;
}
#P68_522
{
left:13811.8px;bottom:22560.9px;color:black;
}
#P68_523
{
left:14159.9px;bottom:22560.9px;color:black;
}
#P68_524
{
left:14509.2px;bottom:22560.9px;color:black;
}
#P68_525
{
left:15327.2px;bottom:22560.9px;color:black;
}
#P68_526
{
left:15466.3px;bottom:22560.9px;color:black;
}
#P68_527
{
left:15704.8px;bottom:22560.9px;color:black;
}
#P68_528
{
left:15988.4px;bottom:22560.9px;color:black;
}
#P68_529
{
left:16259.9px;bottom:22560.9px;color:black;
}
#P68_530
{
left:16605.4px;bottom:22560.9px;color:black;
}
#P68_531
{
left:16844px;bottom:22560.9px;color:black;
}
#P68_532
{
left:17337.9px;bottom:22560.9px;color:black;
}
#P68_533
{
left:17626.9px;bottom:22560.9px;color:black;
}
#P68_534
{
left:18722.9px;bottom:22560.9px;color:black;
}
#P68_535
{
left:19069.7px;bottom:22560.9px;color:black;
}
#P68_536
{
left:19934.7px;bottom:22560.9px;color:black;
}
#P68_537
{
left:20195.4px;bottom:22560.9px;color:black;
}
#P68_538
{
left:20503.1px;bottom:22560.9px;color:black;
}
#P68_539
{
left:21005.7px;bottom:22560.9px;color:black;
}
#P68_540
{
left:21529.9px;bottom:22560.9px;color:black;
}
#P68_541
{
left:22274.5px;bottom:22560.9px;color:black;
}
#P68_542
{
left:22619.9px;bottom:22560.9px;color:black;
}
#P68_543
{
left:22838.1px;bottom:22560.9px;color:black;
}
#P68_544
{
left:22977.2px;bottom:22560.9px;color:black;
}
#P68_545
{
left:23964.4px;bottom:22560.9px;color:black;
}
#P68_546
{
left:4416px;bottom:11557.6px;color:rgb(0,105,168);
}
#P68_547
{
left:4833.31px;bottom:11557.6px;color:rgb(0,105,168);
}
#P68_548
{
left:5310.43px;bottom:11536.8px;color:black;
}
#P68_549
{
left:5696.16px;bottom:11536.8px;color:black;
}
#P68_550
{
left:6122.94px;bottom:11536.8px;color:black;
}
#P68_551
{
left:6483.84px;bottom:11536.8px;color:black;
}
#P68_552
{
left:6830.59px;bottom:11536.8px;color:black;
}
#P68_553
{
left:7262.66px;bottom:11536.8px;color:black;
}
#P68_554
{
left:8079.74px;bottom:11536.8px;color:black;
}
#P68_555
{
left:8352.58px;bottom:11536.8px;color:black;
}
#P68_556
{
left:8773.89px;bottom:11536.8px;color:black;
}
#P68_557
{
left:9119.42px;bottom:11536.8px;color:black;
}
#P68_558
{
left:9337.66px;bottom:11536.8px;color:black;
}
#P68_559
{
left:9476.74px;bottom:11536.8px;color:black;
}
#P68_560
{
left:9748.22px;bottom:11536.8px;color:black;
}
#P68_561
{
left:10504.4px;bottom:11536.8px;color:black;
}
#P68_562
{
left:10849.9px;bottom:11536.8px;color:black;
}
#P68_563
{
left:11355.9px;bottom:11536.8px;color:black;
}
#P68_564
{
left:12160.3px;bottom:11536.8px;color:black;
}
#P68_565
{
left:12736.8px;bottom:11536.8px;color:black;
}
#P68_566
{
left:13230.7px;bottom:11536.8px;color:black;
}
#P68_567
{
left:14350.9px;bottom:11536.8px;color:black;
}
#P68_568
{
left:15324px;bottom:11536.8px;color:black;
}
#P68_569
{
left:16008.8px;bottom:11536.8px;color:black;
}
#P68_570
{
left:16458.4px;bottom:11536.8px;color:black;
}
#P68_571
{
left:17838.8px;bottom:11536.8px;color:black;
}
#P68_572
{
left:17977.9px;bottom:11536.8px;color:black;
}
#P68_573
{
left:18409.4px;bottom:11536.8px;color:black;
}
#P68_574
{
left:19470.5px;bottom:11536.8px;color:black;
}
#P68_575
{
left:19996px;bottom:11536.8px;color:black;
}
#P68_576
{
left:20197.1px;bottom:11536.8px;color:black;
}
#P68_577
{
left:20683.6px;bottom:11536.8px;color:black;
}
#P68_578
{
left:20879.9px;bottom:11536.8px;color:black;
}
#P68_579
{
left:21225.3px;bottom:11536.8px;color:black;
}
#P68_580
{
left:21476.5px;bottom:11536.8px;color:black;
}
#P68_581
{
left:22169.3px;bottom:11536.8px;color:black;
}
#P68_582
{
left:22601.5px;bottom:11536.8px;color:black;
}
#P68_583
{
left:23859.4px;bottom:11536.8px;color:black;
}
#P68_584
{
left:24167.8px;bottom:11536.8px;color:black;
}
#P68_585
{
left:24865.3px;bottom:11536.8px;color:black;
}
#P68_586
{
left:25142.3px;bottom:11536.8px;color:black;
}
#PageContainer68
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg068_00.jpg");background-repeat:no-repeat;background-size: 560px 776px; background-position: 150.93px 381.58px;
}
#ImageContainer068_00 {bottom:204.42px;left:150.93px;width:559.75px;height:775.78px;position:absolute;} #TextContainer68 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
