.tr160{ color:transparent;}
#P160_1
{
left:25639.1px;bottom:47915px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P160_2
{
left:26138.8px;bottom:47915px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P160_3
{
left:26570.9px;bottom:47915px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P160_4
{
left:26790.6px;bottom:47915px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P160_5
{
left:28841px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_6
{
left:29330.7px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_7
{
left:29462.2px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_8
{
left:29674px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_9
{
left:29988.9px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_10
{
left:30257px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_11
{
left:30468.9px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_12
{
left:30591.7px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_13
{
left:30871.6px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_14
{
left:31186.4px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_15
{
left:31479.2px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_16
{
left:31601.9px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_17
{
left:31905.5px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_18
{
left:32093.2px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_19
{
left:32424.4px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_20
{
left:32670.1px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_21
{
left:32950px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_22
{
left:33161.4px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_23
{
left:33284.2px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_24
{
left:33415.7px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_25
{
left:33634.2px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_26
{
left:33856.8px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_27
{
left:34151.6px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_28
{
left:34360.9px;bottom:47914.5px;letter-spacing:24.5px;color:rgb(86,87,91);
}
#P160_29
{
left:33937.5px;bottom:1896.96px;color:rgb(86,87,91);
}
#P160_30
{
left:34141.2px;bottom:1896.96px;color:rgb(86,87,91);
}
#P160_31
{
left:4416px;bottom:45440px;color:black;
}
#P160_32
{
left:5585.79px;bottom:45440px;color:black;
}
#P160_33
{
left:13705.9px;bottom:45440px;color:black;
}
#P160_34
{
left:14270.2px;bottom:45440px;color:black;
}
#P160_35
{
left:20316.5px;bottom:45440px;color:black;
}
#P160_36
{
left:21290.6px;bottom:45530.6px;color:black;
}
#P160_37
{
left:4416px;bottom:41088px;color:black;
}
#P160_38
{
left:7426.43px;bottom:41088px;color:black;
}
#P160_39
{
left:10959.2px;bottom:41088px;color:black;
}
#P160_40
{
left:4416px;bottom:39834.6px;color:black;
}
#P160_41
{
left:6606.02px;bottom:39834.6px;color:black;
}
#P160_42
{
left:7196.1px;bottom:39834.6px;color:black;
}
#P160_43
{
left:9007.17px;bottom:39834.6px;color:black;
}
#P160_44
{
left:10075.2px;bottom:39834.6px;color:black;
}
#P160_45
{
left:10908.5px;bottom:39834.6px;color:black;
}
#P160_46
{
left:11476.7px;bottom:39834.6px;color:black;
}
#P160_47
{
left:11925.2px;bottom:39834.6px;color:black;
}
#P160_48
{
left:12576.8px;bottom:39834.6px;color:black;
}
#P160_49
{
left:13157.1px;bottom:39834.6px;color:black;
}
#P160_50
{
left:13713.9px;bottom:39834.6px;color:black;
}
#P160_51
{
left:15761.1px;bottom:39834.6px;color:black;
}
#P160_52
{
left:16813.8px;bottom:39834.6px;color:black;
}
#P160_53
{
left:17304px;bottom:39834.6px;color:black;
}
#P160_54
{
left:17447.9px;bottom:39834.6px;color:black;
}
#P160_55
{
left:19106.7px;bottom:39834.6px;color:black;
}
#P160_56
{
left:19744.6px;bottom:39834.6px;color:black;
}
#P160_57
{
left:21043.7px;bottom:39834.6px;color:black;
}
#P160_58
{
left:5024px;bottom:36984.1px;letter-spacing:32.0px;color:black;
}
#P160_59
{
left:7194.88px;bottom:36984.1px;color:black;
}
#P160_60
{
left:7374.08px;bottom:36984.1px;color:black;
}
#P160_61
{
left:5024px;bottom:36216.1px;color:black;
}
#P160_62
{
left:6111.94px;bottom:36216.1px;color:black;
}
#P160_63
{
left:6401.09px;bottom:36216.1px;color:black;
}
#P160_64
{
left:8667.84px;bottom:36216.1px;color:black;
}
#P160_65
{
left:8965.38px;bottom:36216.1px;color:black;
}
#P160_66
{
left:18816px;bottom:36984.1px;color:black;
}
#P160_67
{
left:21668.4px;bottom:36984.1px;color:black;
}
#P160_68
{
left:21944.1px;bottom:36984.1px;color:black;
}
#P160_69
{
left:24993.5px;bottom:36984.1px;color:black;
}
#P160_70
{
left:25295.5px;bottom:36984.1px;color:black;
}
#P160_71
{
left:25584.7px;bottom:36984.1px;color:black;
}
#P160_72
{
left:28058.8px;bottom:36984.1px;color:black;
}
#P160_73
{
left:29747px;bottom:36984.1px;color:black;
}
#P160_74
{
left:30044.5px;bottom:36984.1px;color:black;
}
#P160_75
{
left:18816px;bottom:36216.1px;color:black;
}
#P160_76
{
left:19052px;bottom:36216.1px;color:black;
}
#P160_77
{
left:22122px;bottom:36216.1px;color:black;
}
#P160_78
{
left:23614.4px;bottom:36216.1px;color:black;
}
#P160_79
{
left:24239.6px;bottom:36216.1px;color:black;
}
#P160_80
{
left:18816px;bottom:35160.1px;color:black;
}
#P160_81
{
left:19203.2px;bottom:35160.1px;color:black;
}
#P160_82
{
left:19203.2px;bottom:35160.1px;color:black;
}
#P160_83
{
left:21854.6px;bottom:35160.1px;color:black;
}
#P160_84
{
left:22142px;bottom:35160.1px;color:black;
}
#P160_85
{
left:25896.1px;bottom:35160.1px;color:black;
}
#P160_86
{
left:26175.1px;bottom:35160.1px;color:black;
}
#P160_87
{
left:27268.1px;bottom:35160.1px;color:black;
}
#P160_88
{
left:30752.1px;bottom:35160.1px;color:black;
}
#P160_89
{
left:31539.9px;bottom:35160.1px;color:black;
}
#P160_90
{
left:19203.2px;bottom:34392.1px;color:black;
}
#P160_91
{
left:20830.6px;bottom:34392.1px;color:black;
}
#P160_92
{
left:5024px;bottom:32751.1px;letter-spacing:32.0px;color:black;
}
#P160_93
{
left:7157.76px;bottom:32751.1px;color:black;
}
#P160_94
{
left:5024px;bottom:31983.1px;color:black;
}
#P160_95
{
left:5387.46px;bottom:31983.1px;color:black;
}
#P160_96
{
left:6740.29px;bottom:31983.1px;color:black;
}
#P160_97
{
left:7272.64px;bottom:31983.1px;color:black;
}
#P160_98
{
left:9170.11px;bottom:31983.1px;color:black;
}
#P160_99
{
left:9950.85px;bottom:31983.1px;color:black;
}
#P160_100
{
left:10551.7px;bottom:31983.1px;color:black;
}
#P160_101
{
left:18816px;bottom:32751.1px;color:black;
}
#P160_102
{
left:21199.2px;bottom:32751.1px;color:black;
}
#P160_103
{
left:22251.9px;bottom:32751.1px;color:black;
}
#P160_104
{
left:22742.1px;bottom:32751.1px;color:black;
}
#P160_105
{
left:22886px;bottom:32751.1px;color:black;
}
#P160_106
{
left:23878.7px;bottom:32751.1px;color:black;
}
#P160_107
{
left:24419.3px;bottom:32751.1px;color:black;
}
#P160_108
{
left:25953.3px;bottom:32751.1px;color:black;
}
#P160_109
{
left:27306.1px;bottom:32751.1px;color:black;
}
#P160_110
{
left:27838.5px;bottom:32751.1px;color:black;
}
#P160_111
{
left:30076.4px;bottom:32751.1px;color:black;
}
#P160_112
{
left:30909.7px;bottom:32751.1px;color:black;
}
#P160_113
{
left:31477.9px;bottom:32751.1px;color:black;
}
#P160_114
{
left:18816px;bottom:31983.1px;color:black;
}
#P160_115
{
left:19729.2px;bottom:31983.1px;color:black;
}
#P160_116
{
left:5024px;bottom:30342.1px;letter-spacing:32.0px;color:black;
}
#P160_117
{
left:7176.32px;bottom:30342.1px;color:black;
}
#P160_118
{
left:5024px;bottom:29574.1px;color:black;
}
#P160_119
{
left:6430.02px;bottom:29574.1px;color:black;
}
#P160_120
{
left:8125.31px;bottom:29574.1px;color:black;
}
#P160_121
{
left:18816px;bottom:30342.1px;color:black;
}
#P160_122
{
left:21256.3px;bottom:30342.1px;color:black;
}
#P160_123
{
left:22481.2px;bottom:30342.1px;color:black;
}
#P160_124
{
left:24010px;bottom:30342.1px;color:black;
}
#P160_125
{
left:24644.7px;bottom:30342.1px;color:black;
}
#P160_126
{
left:25697.4px;bottom:30342.1px;color:black;
}
#P160_127
{
left:26187.6px;bottom:30342.1px;color:black;
}
#P160_128
{
left:26331.5px;bottom:30342.1px;color:black;
}
#P160_129
{
left:28210.6px;bottom:30342.1px;color:black;
}
#P160_130
{
left:28790.9px;bottom:30342.1px;color:black;
}
#P160_131
{
left:29347.7px;bottom:30342.1px;color:black;
}
#P160_132
{
left:30622.5px;bottom:30342.1px;color:black;
}
#P160_133
{
left:31074.4px;bottom:30342.1px;color:black;
}
#P160_134
{
left:18816px;bottom:29574.1px;color:black;
}
#P160_135
{
left:19570.4px;bottom:29574.1px;color:black;
}
#P160_136
{
left:20923.3px;bottom:29574.1px;color:black;
}
#P160_137
{
left:21455.6px;bottom:29574.1px;color:black;
}
#P160_138
{
left:5024px;bottom:27933.2px;letter-spacing:32.0px;color:black;
}
#P160_139
{
left:7054.72px;bottom:27933.2px;color:black;
}
#P160_140
{
left:5024px;bottom:27165.2px;color:black;
}
#P160_141
{
left:6290.43px;bottom:27165.2px;color:black;
}
#P160_142
{
left:7789.25px;bottom:27165.2px;color:black;
}
#P160_143
{
left:18816px;bottom:27933.2px;color:black;
}
#P160_144
{
left:21256.3px;bottom:27933.2px;color:black;
}
#P160_145
{
left:22481.2px;bottom:27933.2px;color:black;
}
#P160_146
{
left:24010px;bottom:27933.2px;color:black;
}
#P160_147
{
left:25929.3px;bottom:27933.2px;color:black;
}
#P160_148
{
left:26509.7px;bottom:27933.2px;color:black;
}
#P160_149
{
left:27066.5px;bottom:27933.2px;color:black;
}
#P160_150
{
left:28341.3px;bottom:27933.2px;color:black;
}
#P160_151
{
left:29083.6px;bottom:27933.2px;color:black;
}
#P160_152
{
left:29230.7px;bottom:27933.2px;color:black;
}
#P160_153
{
left:30283.4px;bottom:27933.2px;color:black;
}
#P160_154
{
left:18816px;bottom:27165.2px;color:black;
}
#P160_155
{
left:19020.2px;bottom:27165.2px;color:black;
}
#P160_156
{
left:19600.5px;bottom:27165.2px;color:black;
}
#P160_157
{
left:20157.3px;bottom:27165.2px;color:black;
}
#P160_158
{
left:21163.3px;bottom:27165.2px;color:black;
}
#P160_159
{
left:22082.2px;bottom:27165.2px;color:black;
}
#P160_160
{
left:25499.1px;bottom:27165.2px;color:black;
}
#P160_161
{
left:26062.8px;bottom:27165.2px;color:black;
}
#P160_162
{
left:29010.6px;bottom:27165.2px;color:black;
}
#P160_163
{
left:5024px;bottom:25524.2px;letter-spacing:32.0px;color:black;
}
#P160_164
{
left:18816px;bottom:25524.2px;color:black;
}
#P160_165
{
left:21006px;bottom:25524.2px;color:black;
}
#P160_166
{
left:22305.1px;bottom:25524.2px;color:black;
}
#P160_167
{
left:24207.7px;bottom:25524.2px;color:black;
}
#P160_168
{
left:25214.9px;bottom:25524.2px;color:black;
}
#P160_169
{
left:25779.3px;bottom:25524.2px;color:black;
}
#P160_170
{
left:25925.8px;bottom:25524.2px;color:black;
}
#P160_171
{
left:27144.2px;bottom:25524.2px;color:black;
}
#P160_172
{
left:29015.5px;bottom:25524.2px;color:black;
}
#P160_173
{
left:29466.6px;bottom:25524.2px;color:black;
}
#P160_174
{
left:29768.6px;bottom:25524.2px;color:black;
}
#P160_175
{
left:30055.9px;bottom:25524.2px;color:black;
}
#P160_176
{
left:30969.7px;bottom:25524.2px;color:black;
}
#P160_177
{
left:5024px;bottom:23883.3px;color:black;
}
#P160_178
{
left:18816px;bottom:23883.3px;color:black;
}
#P160_179
{
left:24677px;bottom:23883.3px;color:black;
}
#P160_180
{
left:25953.8px;bottom:23883.3px;color:black;
}
#P160_181
{
left:26624.4px;bottom:23883.3px;color:black;
}
#P160_182
{
left:27328.4px;bottom:23883.3px;color:black;
}
#PageContainer160
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg160_00.jpg");background-repeat:no-repeat;background-size: 800px 403px; background-position: 119.19px 322.1px;
}
#ImageContainer160_00 {bottom:636.90px;left:119.19px;width:800.40px;height:402.53px;position:absolute;} #TextContainer160 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
