.tr38{ color:transparent;}
#P38_1
{
left:27813.7px;bottom:47808px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P38_2
{
left:28939.1px;bottom:47808px;color:rgb(86,87,91);
}
#P38_3
{
left:29062px;bottom:47808px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P38_4
{
left:29949.8px;bottom:47808px;color:rgb(86,87,91);
}
#P38_5
{
left:30072.6px;bottom:47808px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P38_6
{
left:30937.9px;bottom:47808px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P38_7
{
left:31652.7px;bottom:47811.1px;color:rgb(226,147,158);
}
#P38_8
{
left:31934.3px;bottom:47811.1px;color:rgb(61,126,181);
}
#P38_9
{
left:32138px;bottom:47811.1px;color:rgb(226,147,158);
}
#P38_10
{
left:32419.6px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P38_11
{
left:32955.5px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P38_12
{
left:33193.5px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P38_13
{
left:33324.9px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P38_14
{
left:33590.6px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P38_15
{
left:33722px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P38_16
{
left:33963.1px;bottom:47808px;letter-spacing:13.7px;color:rgb(86,87,91);
}
#P38_17
{
left:34244.2px;bottom:47808px;color:rgb(86,87,91);
}
#P38_18
{
left:34367.1px;bottom:47808px;color:rgb(86,87,91);
}
#P38_19
{
left:34006.8px;bottom:1798.66px;letter-spacing:5.1px;color:rgb(86,87,91);
}
#P38_20
{
left:34366.3px;bottom:1798.66px;letter-spacing:5.1px;color:rgb(86,87,91);
}
#P38_21
{
left:4544px;bottom:46028px;color:rgb(189,86,75);
}
#P38_22
{
left:4741.57px;bottom:46028px;color:rgb(189,86,75);
}
#P38_23
{
left:5183.74px;bottom:46028px;color:black;
}
#P38_24
{
left:5612.55px;bottom:46028px;color:black;
}
#P38_25
{
left:6012.52px;bottom:46028px;color:black;
}
#P38_26
{
left:6292.81px;bottom:46028px;color:black;
}
#P38_27
{
left:6678.53px;bottom:46028px;color:black;
}
#P38_28
{
left:7110.66px;bottom:46028px;color:black;
}
#P38_29
{
left:7766.53px;bottom:46028px;color:black;
}
#P38_30
{
left:9813.44px;bottom:46028px;color:black;
}
#P38_31
{
left:10667.6px;bottom:46028px;color:black;
}
#P38_32
{
left:11089px;bottom:46028px;color:black;
}
#P38_33
{
left:11521.1px;bottom:46028px;color:black;
}
#P38_34
{
left:11717.4px;bottom:46028px;color:black;
}
#P38_35
{
left:11999px;bottom:46028px;color:black;
}
#P38_36
{
left:12593.7px;bottom:46028px;color:black;
}
#P38_37
{
left:13492.9px;bottom:46028px;color:black;
}
#P38_38
{
left:14803.3px;bottom:46028px;color:black;
}
#P38_39
{
left:15400.1px;bottom:46028px;color:black;
}
#P38_40
{
left:15731.5px;bottom:46028px;color:black;
}
#P38_41
{
left:15872.7px;bottom:46028px;color:black;
}
#P38_42
{
left:16011.8px;bottom:46028px;color:black;
}
#P38_43
{
left:17029.9px;bottom:46028px;color:black;
}
#P38_44
{
left:17378px;bottom:46028px;color:black;
}
#P38_45
{
left:17661.5px;bottom:46028px;color:black;
}
#P38_46
{
left:19209.8px;bottom:46028px;color:black;
}
#P38_47
{
left:19934.9px;bottom:46028px;color:black;
}
#P38_48
{
left:20144.6px;bottom:46028px;color:black;
}
#P38_49
{
left:20561.9px;bottom:46028px;color:black;
}
#P38_50
{
left:20845.4px;bottom:46028px;color:black;
}
#P38_51
{
left:21339.3px;bottom:46028px;color:black;
}
#P38_52
{
left:22493.1px;bottom:46028px;color:black;
}
#P38_53
{
left:23201.4px;bottom:46028px;color:black;
}
#P38_54
{
left:23548.2px;bottom:46028px;color:black;
}
#P38_55
{
left:23893.6px;bottom:46028px;color:black;
}
#P38_56
{
left:24111.9px;bottom:46028px;color:black;
}
#P38_57
{
left:24251px;bottom:46028px;color:black;
}
#P38_58
{
left:24595.1px;bottom:46028px;color:black;
}
#P38_59
{
left:24833.7px;bottom:46028px;color:black;
}
#P38_60
{
left:5183.74px;bottom:45067.7px;color:black;
}
#P38_61
{
left:6389.31px;bottom:45067.7px;color:black;
}
#P38_62
{
left:6742.21px;bottom:45067.7px;color:black;
}
#P38_63
{
left:7084.99px;bottom:45067.7px;color:black;
}
#P38_64
{
left:7383.36px;bottom:45067.7px;color:black;
}
#P38_65
{
left:8682.3px;bottom:45067.7px;color:black;
}
#P38_66
{
left:9576.06px;bottom:45067.7px;color:black;
}
#P38_67
{
left:9872.51px;bottom:45067.7px;color:black;
}
#P38_68
{
left:10152.8px;bottom:45067.7px;color:black;
}
#P38_69
{
left:10986.8px;bottom:45067.7px;color:black;
}
#P38_70
{
left:11700.4px;bottom:45067.7px;color:black;
}
#P38_71
{
left:12826.7px;bottom:45067.7px;color:black;
}
#P38_72
{
left:15087.4px;bottom:45067.7px;color:black;
}
#P38_73
{
left:15226.5px;bottom:45067.7px;color:black;
}
#P38_74
{
left:16325.9px;bottom:45067.7px;color:black;
}
#P38_75
{
left:16603.5px;bottom:45067.7px;color:black;
}
#P38_76
{
left:17276.8px;bottom:45067.7px;color:black;
}
#P38_77
{
left:17557.1px;bottom:45067.7px;color:black;
}
#P38_78
{
left:17811.1px;bottom:45067.7px;color:black;
}
#P38_79
{
left:18270.1px;bottom:45067.7px;color:black;
}
#P38_80
{
left:18909.8px;bottom:45067.7px;color:black;
}
#P38_81
{
left:19193.4px;bottom:45067.7px;color:black;
}
#P38_82
{
left:19687.3px;bottom:45067.7px;color:black;
}
#P38_83
{
left:20204.2px;bottom:45067.7px;color:black;
}
#P38_84
{
left:21096.6px;bottom:45067.7px;color:black;
}
#P38_85
{
left:22250.4px;bottom:45067.7px;color:black;
}
#P38_86
{
left:22800.3px;bottom:45067.7px;color:black;
}
#P38_87
{
left:23678.6px;bottom:45067.7px;color:black;
}
#P38_88
{
left:24269.3px;bottom:45067.7px;color:black;
}
#P38_89
{
left:25601.9px;bottom:45067.7px;color:black;
}
#P38_90
{
left:5183.74px;bottom:44107.5px;color:black;
}
#P38_91
{
left:5822.21px;bottom:44107.5px;color:black;
}
#P38_92
{
left:6207.94px;bottom:44107.5px;color:black;
}
#P38_93
{
left:6752.13px;bottom:44107.5px;color:black;
}
#P38_94
{
left:7683.52px;bottom:44107.5px;color:black;
}
#P38_95
{
left:8837.31px;bottom:44107.5px;color:black;
}
#P38_96
{
left:9291.52px;bottom:44107.5px;color:black;
}
#P38_97
{
left:9601.86px;bottom:44107.5px;color:black;
}
#P38_98
{
left:9981.7px;bottom:44107.5px;color:black;
}
#P38_99
{
left:4416px;bottom:42364.8px;letter-spacing:11.4px;color:black;
}
#P38_100
{
left:5000.05px;bottom:42364.8px;letter-spacing:11.4px;color:black;
}
#P38_101
{
left:5422.61px;bottom:42364.8px;letter-spacing:11.4px;color:black;
}
#P38_102
{
left:5704.52px;bottom:42364.8px;letter-spacing:11.4px;color:black;
}
#P38_103
{
left:5974.67px;bottom:42364.8px;letter-spacing:11.4px;color:black;
}
#P38_104
{
left:6360.07px;bottom:42364.8px;letter-spacing:11.4px;color:black;
}
#P38_105
{
left:6782.66px;bottom:42364.8px;letter-spacing:11.4px;color:black;
}
#P38_106
{
left:7051.58px;bottom:42329.7px;color:black;
}
#P38_107
{
left:7237.06px;bottom:42364.8px;letter-spacing:33.6px;color:black;
}
#P38_108
{
left:8363.97px;bottom:42329.7px;color:black;
}
#P38_109
{
left:8549.44px;bottom:42364.8px;letter-spacing:33.6px;color:black;
}
#P38_110
{
left:9300.1px;bottom:42329.7px;color:black;
}
#P38_111
{
left:9485.57px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_112
{
left:10075.8px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_113
{
left:10405.3px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_114
{
left:10827.9px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_115
{
left:10992.3px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_116
{
left:11356.1px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_117
{
left:11648.8px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_118
{
left:11934.1px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_119
{
left:12098.5px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_120
{
left:12485.3px;bottom:42364.8px;letter-spacing:38.8px;color:black;
}
#P38_121
{
left:12849.2px;bottom:42329.7px;color:black;
}
#P38_122
{
left:13034.6px;bottom:42364.8px;letter-spacing:18.4px;color:black;
}
#P38_123
{
left:13691.5px;bottom:42364.8px;letter-spacing:18.4px;color:black;
}
#P38_124
{
left:14012px;bottom:42364.8px;letter-spacing:18.4px;color:black;
}
#P38_125
{
left:14290.5px;bottom:42364.8px;letter-spacing:18.4px;color:black;
}
#P38_126
{
left:14628.2px;bottom:42329.7px;color:black;
}
#P38_127
{
left:4544px;bottom:41004px;color:rgb(189,86,75);
}
#P38_128
{
left:4741.57px;bottom:41004px;color:rgb(189,86,75);
}
#P38_129
{
left:5183.74px;bottom:41004px;color:black;
}
#P38_130
{
left:5613.96px;bottom:41004px;color:black;
}
#P38_131
{
left:6555.52px;bottom:41004px;color:black;
}
#P38_132
{
left:7061.5px;bottom:41004px;color:black;
}
#P38_133
{
left:7414.4px;bottom:41004px;color:black;
}
#P38_134
{
left:7651.58px;bottom:41004px;color:black;
}
#P38_135
{
left:7998.4px;bottom:41004px;color:black;
}
#P38_136
{
left:8343.17px;bottom:41004px;color:black;
}
#P38_137
{
left:8792.77px;bottom:41004px;color:black;
}
#P38_138
{
left:9724.16px;bottom:41004px;color:black;
}
#P38_139
{
left:10878px;bottom:41004px;color:black;
}
#P38_140
{
left:11170.3px;bottom:41004px;color:black;
}
#P38_141
{
left:11453.9px;bottom:41004px;color:black;
}
#P38_142
{
left:11626.6px;bottom:41004px;color:black;
}
#P38_143
{
left:12133.3px;bottom:41004px;color:black;
}
#P38_144
{
left:12599.6px;bottom:41004px;color:black;
}
#P38_145
{
left:13590.7px;bottom:41004px;color:black;
}
#P38_146
{
left:13936.2px;bottom:41004px;color:black;
}
#P38_147
{
left:14154.4px;bottom:41004px;color:black;
}
#P38_148
{
left:14293.5px;bottom:41004px;color:black;
}
#P38_149
{
left:14581px;bottom:41004px;color:black;
}
#P38_150
{
left:14873.4px;bottom:41004px;color:black;
}
#P38_151
{
left:15533.3px;bottom:41004px;color:black;
}
#P38_152
{
left:16687.1px;bottom:41004px;color:black;
}
#P38_153
{
left:4544px;bottom:39852.2px;color:rgb(189,86,75);
}
#P38_154
{
left:4741.57px;bottom:39852.2px;color:rgb(189,86,75);
}
#P38_155
{
left:5183.74px;bottom:39852.2px;color:black;
}
#P38_156
{
left:5603.88px;bottom:39852.2px;color:black;
}
#P38_157
{
left:6301.48px;bottom:39852.2px;color:black;
}
#P38_158
{
left:6646.98px;bottom:39852.2px;color:black;
}
#P38_159
{
left:8347.78px;bottom:39852.2px;color:black;
}
#P38_160
{
left:8879.42px;bottom:39852.2px;color:black;
}
#P38_161
{
left:9593.73px;bottom:39852.2px;color:black;
}
#P38_162
{
left:10150.1px;bottom:39852.2px;color:black;
}
#P38_163
{
left:10351.9px;bottom:39852.2px;color:black;
}
#P38_164
{
left:10632.2px;bottom:39852.2px;color:black;
}
#P38_165
{
left:11351.9px;bottom:39852.2px;color:black;
}
#P38_166
{
left:11632.2px;bottom:39852.2px;color:black;
}
#P38_167
{
left:12017.9px;bottom:39852.2px;color:black;
}
#P38_168
{
left:12219px;bottom:39852.2px;color:black;
}
#P38_169
{
left:12705.5px;bottom:39852.2px;color:black;
}
#P38_170
{
left:13692.7px;bottom:39852.2px;color:black;
}
#P38_171
{
left:13893.8px;bottom:39852.2px;color:black;
}
#P38_172
{
left:14879.6px;bottom:39852.2px;color:black;
}
#P38_173
{
left:4416px;bottom:38108.8px;letter-spacing:33.6px;color:black;
}
#P38_174
{
left:5175.32px;bottom:38108.8px;letter-spacing:33.6px;color:black;
}
#P38_175
{
left:5445.52px;bottom:38108.8px;letter-spacing:33.6px;color:black;
}
#P38_176
{
left:6090.34px;bottom:38108.8px;letter-spacing:33.6px;color:black;
}
#P38_177
{
left:6427.65px;bottom:38073.7px;color:black;
}
#P38_178
{
left:6613.12px;bottom:38108.8px;letter-spacing:33.6px;color:black;
}
#P38_179
{
left:7133.76px;bottom:38108.8px;letter-spacing:33.6px;color:black;
}
#P38_180
{
left:7519.23px;bottom:38108.8px;letter-spacing:33.6px;color:black;
}
#P38_181
{
left:7941.76px;bottom:38073.7px;color:black;
}
#P38_182
{
left:8127.23px;bottom:38108.8px;letter-spacing:-5.5px;color:black;
}
#P38_183
{
left:8662.91px;bottom:38108.8px;letter-spacing:-5.5px;color:black;
}
#P38_184
{
left:8948.22px;bottom:38108.8px;letter-spacing:-5.5px;color:black;
}
#P38_185
{
left:9112.58px;bottom:38108.8px;letter-spacing:-5.5px;color:black;
}
#P38_186
{
left:9359.68px;bottom:38108.8px;letter-spacing:-5.5px;color:black;
}
#P38_187
{
left:9723.52px;bottom:38108.8px;letter-spacing:-5.5px;color:black;
}
#P38_188
{
left:10008.8px;bottom:38073.7px;color:black;
}
#P38_189
{
left:10194.2px;bottom:38108.8px;color:black;
}
#P38_190
{
left:10480.9px;bottom:38073.7px;color:black;
}
#P38_191
{
left:4544px;bottom:36748px;color:rgb(189,86,75);
}
#P38_192
{
left:4741.57px;bottom:36748px;color:rgb(189,86,75);
}
#P38_193
{
left:5183.74px;bottom:36748px;color:black;
}
#P38_194
{
left:5535.27px;bottom:36748px;color:black;
}
#P38_195
{
left:6037.86px;bottom:36748px;color:black;
}
#P38_196
{
left:6496.83px;bottom:36748px;color:black;
}
#P38_197
{
left:7209.86px;bottom:36748px;color:black;
}
#P38_198
{
left:7448.45px;bottom:36748px;color:black;
}
#P38_199
{
left:7730.05px;bottom:36748px;color:black;
}
#P38_200
{
left:8086.78px;bottom:36748px;color:black;
}
#P38_201
{
left:8432.26px;bottom:36748px;color:black;
}
#P38_202
{
left:8690.18px;bottom:36748px;color:black;
}
#P38_203
{
left:9274.82px;bottom:36748px;color:black;
}
#P38_204
{
left:9622.85px;bottom:36748px;color:black;
}
#P38_205
{
left:9906.43px;bottom:36748px;color:black;
}
#P38_206
{
left:10177.9px;bottom:36748px;color:black;
}
#P38_207
{
left:10523.4px;bottom:36748px;color:black;
}
#P38_208
{
left:12067.6px;bottom:36748px;color:black;
}
#P38_209
{
left:12761.9px;bottom:36748px;color:black;
}
#P38_210
{
left:13229.6px;bottom:36748px;color:black;
}
#P38_211
{
left:14171.7px;bottom:36748px;color:black;
}
#P38_212
{
left:14429.7px;bottom:36748px;color:black;
}
#P38_213
{
left:14804.7px;bottom:36748px;color:black;
}
#P38_214
{
left:15243.5px;bottom:36748px;color:black;
}
#P38_215
{
left:15936.5px;bottom:36748px;color:black;
}
#P38_216
{
left:16216.8px;bottom:36748px;color:black;
}
#P38_217
{
left:16601.9px;bottom:36748px;color:black;
}
#P38_218
{
left:16840.4px;bottom:36748px;color:black;
}
#P38_219
{
left:17124.6px;bottom:36748px;color:black;
}
#P38_220
{
left:17331.6px;bottom:36748px;color:black;
}
#P38_221
{
left:17945.8px;bottom:36748px;color:black;
}
#P38_222
{
left:19303.2px;bottom:36748px;color:black;
}
#P38_223
{
left:19738.8px;bottom:36748px;color:black;
}
#P38_224
{
left:20084.2px;bottom:36748px;color:black;
}
#P38_225
{
left:20776.4px;bottom:36748px;color:black;
}
#P38_226
{
left:21207.8px;bottom:36748px;color:black;
}
#P38_227
{
left:21419.3px;bottom:36748px;color:black;
}
#P38_228
{
left:21673.3px;bottom:36748px;color:black;
}
#P38_229
{
left:22345.3px;bottom:36748px;color:black;
}
#P38_230
{
left:22546.4px;bottom:36748px;color:black;
}
#P38_231
{
left:23019.2px;bottom:36748px;color:black;
}
#P38_232
{
left:23448.1px;bottom:36748px;color:black;
}
#P38_233
{
left:23900.3px;bottom:36748px;color:black;
}
#P38_234
{
left:24790.7px;bottom:36748px;color:black;
}
#P38_235
{
left:25474.8px;bottom:36748px;color:black;
}
#P38_236
{
left:5183.74px;bottom:35787.7px;color:black;
}
#P38_237
{
left:6416.9px;bottom:35787.7px;color:black;
}
#P38_238
{
left:7315.97px;bottom:35787.7px;color:black;
}
#P38_239
{
left:4544px;bottom:34635.9px;color:rgb(189,86,75);
}
#P38_240
{
left:4741.57px;bottom:34635.9px;color:rgb(189,86,75);
}
#P38_241
{
left:5183.74px;bottom:34635.9px;color:black;
}
#P38_242
{
left:5535.27px;bottom:34635.9px;color:black;
}
#P38_243
{
left:6037.86px;bottom:34635.9px;color:black;
}
#P38_244
{
left:6496.83px;bottom:34635.9px;color:black;
}
#P38_245
{
left:7210.5px;bottom:34635.9px;color:black;
}
#P38_246
{
left:7449.09px;bottom:34635.9px;color:black;
}
#P38_247
{
left:7730.69px;bottom:34635.9px;color:black;
}
#P38_248
{
left:8087.49px;bottom:34635.9px;color:black;
}
#P38_249
{
left:8432.96px;bottom:34635.9px;color:black;
}
#P38_250
{
left:8690.82px;bottom:34635.9px;color:black;
}
#P38_251
{
left:9276.16px;bottom:34635.9px;color:black;
}
#P38_252
{
left:9801.54px;bottom:34635.9px;color:black;
}
#P38_253
{
left:10097.9px;bottom:34635.9px;color:black;
}
#P38_254
{
left:10378.2px;bottom:34635.9px;color:black;
}
#P38_255
{
left:10616.8px;bottom:34635.9px;color:black;
}
#P38_256
{
left:11038.1px;bottom:34635.9px;color:black;
}
#P38_257
{
left:11972.8px;bottom:34635.9px;color:black;
}
#P38_258
{
left:12622px;bottom:34635.9px;color:black;
}
#P38_259
{
left:12897.5px;bottom:34635.9px;color:black;
}
#P38_260
{
left:13915.6px;bottom:34635.9px;color:black;
}
#P38_261
{
left:15069.4px;bottom:34635.9px;color:black;
}
#P38_262
{
left:15770.3px;bottom:34635.9px;color:black;
}
#P38_263
{
left:17039.7px;bottom:34635.9px;color:black;
}
#P38_264
{
left:17236px;bottom:34635.9px;color:black;
}
#P38_265
{
left:17581.5px;bottom:34635.9px;color:black;
}
#P38_266
{
left:17967.2px;bottom:34635.9px;color:black;
}
#P38_267
{
left:18954.4px;bottom:34635.9px;color:black;
}
#P38_268
{
left:20187.5px;bottom:34635.9px;color:black;
}
#P38_269
{
left:20383.7px;bottom:34635.9px;color:black;
}
#P38_270
{
left:20665.3px;bottom:34635.9px;color:black;
}
#P38_271
{
left:21260.1px;bottom:34635.9px;color:black;
}
#P38_272
{
left:21711.1px;bottom:34635.9px;color:black;
}
#P38_273
{
left:21994.6px;bottom:34635.9px;color:black;
}
#P38_274
{
left:4544px;bottom:33484.1px;color:rgb(189,86,75);
}
#P38_275
{
left:4741.57px;bottom:33484.1px;color:rgb(189,86,75);
}
#P38_276
{
left:5183.74px;bottom:33484.1px;color:black;
}
#P38_277
{
left:5535.27px;bottom:33484.1px;color:black;
}
#P38_278
{
left:6037.86px;bottom:33484.1px;color:black;
}
#P38_279
{
left:6496.83px;bottom:33484.1px;color:black;
}
#P38_280
{
left:7210.5px;bottom:33484.1px;color:black;
}
#P38_281
{
left:7449.09px;bottom:33484.1px;color:black;
}
#P38_282
{
left:7730.69px;bottom:33484.1px;color:black;
}
#P38_283
{
left:8087.49px;bottom:33484.1px;color:black;
}
#P38_284
{
left:8432.96px;bottom:33484.1px;color:black;
}
#P38_285
{
left:8690.82px;bottom:33484.1px;color:black;
}
#P38_286
{
left:9276.16px;bottom:33484.1px;color:black;
}
#P38_287
{
left:9708.22px;bottom:33484.1px;color:black;
}
#P38_288
{
left:9904.45px;bottom:33484.1px;color:black;
}
#P38_289
{
left:10191.4px;bottom:33484.1px;color:black;
}
#P38_290
{
left:10487.7px;bottom:33484.1px;color:black;
}
#P38_291
{
left:10768px;bottom:33484.1px;color:black;
}
#P38_292
{
left:11153.7px;bottom:33484.1px;color:black;
}
#P38_293
{
left:12307.5px;bottom:33484.1px;color:black;
}
#P38_294
{
left:12857.3px;bottom:33484.1px;color:black;
}
#P38_295
{
left:13735.7px;bottom:33484.1px;color:black;
}
#P38_296
{
left:14326.4px;bottom:33484.1px;color:black;
}
#P38_297
{
left:15480.2px;bottom:33484.1px;color:black;
}
#P38_298
{
left:15997px;bottom:33484.1px;color:black;
}
#P38_299
{
left:16889.4px;bottom:33484.1px;color:black;
}
#P38_300
{
left:18222px;bottom:33484.1px;color:black;
}
#P38_301
{
left:18906.8px;bottom:33484.1px;color:black;
}
#P38_302
{
left:19893.9px;bottom:33484.1px;color:black;
}
#P38_303
{
left:21127px;bottom:33484.1px;color:black;
}
#P38_304
{
left:21578px;bottom:33484.1px;color:black;
}
#P38_305
{
left:21861.6px;bottom:33484.1px;color:black;
}
#P38_306
{
left:4416px;bottom:31740.8px;letter-spacing:11.4px;color:black;
}
#P38_307
{
left:5000.05px;bottom:31740.8px;letter-spacing:11.4px;color:black;
}
#P38_308
{
left:5422.61px;bottom:31740.8px;letter-spacing:11.4px;color:black;
}
#P38_309
{
left:5704.52px;bottom:31740.8px;letter-spacing:11.4px;color:black;
}
#P38_310
{
left:5974.67px;bottom:31740.8px;letter-spacing:11.4px;color:black;
}
#P38_311
{
left:6360.07px;bottom:31740.8px;letter-spacing:11.4px;color:black;
}
#P38_312
{
left:6782.66px;bottom:31740.8px;letter-spacing:11.4px;color:black;
}
#P38_313
{
left:7051.58px;bottom:31705.7px;color:black;
}
#P38_314
{
left:7237.06px;bottom:31740.8px;letter-spacing:33.6px;color:black;
}
#P38_315
{
left:8363.97px;bottom:31705.7px;color:black;
}
#P38_316
{
left:8549.44px;bottom:31740.8px;letter-spacing:33.6px;color:black;
}
#P38_317
{
left:9300.1px;bottom:31705.7px;color:black;
}
#P38_318
{
left:9485.57px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_319
{
left:10075.8px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_320
{
left:10405.3px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_321
{
left:10827.9px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_322
{
left:10992.3px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_323
{
left:11356.1px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_324
{
left:11648.8px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_325
{
left:11934.1px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_326
{
left:12098.5px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_327
{
left:12485.3px;bottom:31740.8px;letter-spacing:38.8px;color:black;
}
#P38_328
{
left:12849.2px;bottom:31705.7px;color:black;
}
#P38_329
{
left:13034.6px;bottom:31740.8px;letter-spacing:18.4px;color:black;
}
#P38_330
{
left:13691.5px;bottom:31740.8px;letter-spacing:18.4px;color:black;
}
#P38_331
{
left:14012px;bottom:31740.8px;letter-spacing:18.4px;color:black;
}
#P38_332
{
left:14290.5px;bottom:31740.8px;letter-spacing:18.4px;color:black;
}
#P38_333
{
left:14628.2px;bottom:31705.7px;color:black;
}
#P38_334
{
left:4544px;bottom:30380px;color:rgb(189,86,75);
}
#P38_335
{
left:4741.57px;bottom:30380px;color:rgb(189,86,75);
}
#P38_336
{
left:5183.74px;bottom:30380px;color:black;
}
#P38_337
{
left:5505.63px;bottom:30380px;color:black;
}
#P38_338
{
left:5789.22px;bottom:30380px;color:black;
}
#P38_339
{
left:5961.86px;bottom:30380px;color:black;
}
#P38_340
{
left:6468.54px;bottom:30380px;color:black;
}
#P38_341
{
left:6934.85px;bottom:30380px;color:black;
}
#P38_342
{
left:7926.02px;bottom:30380px;color:black;
}
#P38_343
{
left:8271.42px;bottom:30380px;color:black;
}
#P38_344
{
left:8489.73px;bottom:30380px;color:black;
}
#P38_345
{
left:8628.8px;bottom:30380px;color:black;
}
#P38_346
{
left:9616px;bottom:30380px;color:black;
}
#P38_347
{
left:9903.49px;bottom:30380px;color:black;
}
#P38_348
{
left:10195.8px;bottom:30380px;color:black;
}
#P38_349
{
left:4544px;bottom:29228.2px;color:rgb(189,86,75);
}
#P38_350
{
left:4741.57px;bottom:29228.2px;color:rgb(189,86,75);
}
#P38_351
{
left:5183.74px;bottom:29228.2px;color:black;
}
#P38_352
{
left:5603.88px;bottom:29228.2px;color:black;
}
#P38_353
{
left:6301.48px;bottom:29228.2px;color:black;
}
#P38_354
{
left:6646.98px;bottom:29228.2px;color:black;
}
#P38_355
{
left:8347.78px;bottom:29228.2px;color:black;
}
#P38_356
{
left:8879.42px;bottom:29228.2px;color:black;
}
#P38_357
{
left:9593.73px;bottom:29228.2px;color:black;
}
#P38_358
{
left:10150.1px;bottom:29228.2px;color:black;
}
#P38_359
{
left:10351.9px;bottom:29228.2px;color:black;
}
#P38_360
{
left:10632.2px;bottom:29228.2px;color:black;
}
#P38_361
{
left:11351.9px;bottom:29228.2px;color:black;
}
#P38_362
{
left:11632.2px;bottom:29228.2px;color:black;
}
#P38_363
{
left:12017.9px;bottom:29228.2px;color:black;
}
#P38_364
{
left:12219px;bottom:29228.2px;color:black;
}
#P38_365
{
left:12705.5px;bottom:29228.2px;color:black;
}
#P38_366
{
left:13692.7px;bottom:29228.2px;color:black;
}
#P38_367
{
left:13893.8px;bottom:29228.2px;color:black;
}
#P38_368
{
left:14879.6px;bottom:29228.2px;color:black;
}
#P38_369
{
left:4415.65px;bottom:27532.1px;color:black;
}
#P38_370
{
left:4885.38px;bottom:27552.9px;letter-spacing:6.7px;color:rgb(0,105,168);
}
#P38_371
{
left:5316.8px;bottom:27532.1px;color:black;
}
#P38_372
{
left:5695.81px;bottom:27532.1px;color:black;
}
#P38_373
{
left:6060.1px;bottom:27532.1px;color:black;
}
#P38_374
{
left:6298.66px;bottom:27532.1px;color:black;
}
#P38_375
{
left:6580.29px;bottom:27532.1px;color:black;
}
#P38_376
{
left:7466.69px;bottom:27532.1px;color:black;
}
#P38_377
{
left:7888px;bottom:27532.1px;color:black;
}
#P38_378
{
left:8320.13px;bottom:27532.1px;color:black;
}
#P38_379
{
left:8595.71px;bottom:27532.1px;color:black;
}
#P38_380
{
left:9504.77px;bottom:27532.1px;color:black;
}
#P38_381
{
left:9851.52px;bottom:27532.1px;color:black;
}
#P38_382
{
left:10317.8px;bottom:27532.1px;color:black;
}
#P38_383
{
left:11201.5px;bottom:27532.1px;color:black;
}
#P38_384
{
left:11397.8px;bottom:27532.1px;color:black;
}
#P38_385
{
left:12493.8px;bottom:27532.1px;color:black;
}
#P38_386
{
left:12765.3px;bottom:27532.1px;color:black;
}
#P38_387
{
left:13278.8px;bottom:27532.1px;color:black;
}
#P38_388
{
left:14940px;bottom:27532.1px;color:black;
}
#P38_389
{
left:15750.3px;bottom:27532.1px;color:black;
}
#P38_390
{
left:16033.9px;bottom:27532.1px;color:black;
}
#P38_391
{
left:16486.8px;bottom:27532.1px;color:black;
}
#P38_392
{
left:16980.7px;bottom:27532.1px;color:black;
}
#P38_393
{
left:17651.4px;bottom:27532.1px;color:black;
}
#P38_394
{
left:18585.5px;bottom:27532.1px;color:black;
}
#P38_395
{
left:19051.7px;bottom:27532.1px;color:black;
}
#P38_396
{
left:19557.8px;bottom:27532.1px;color:black;
}
#P38_397
{
left:19905.8px;bottom:27532.1px;color:black;
}
#P38_398
{
left:20189.4px;bottom:27532.1px;color:black;
}
#P38_399
{
left:20696.1px;bottom:27532.1px;color:black;
}
#P38_400
{
left:21122.2px;bottom:27532.1px;color:black;
}
#P38_401
{
left:4415.65px;bottom:26108.1px;letter-spacing:613.5px;color:black;
}
#P38_402
{
left:5695.81px;bottom:20348.4px;color:black;
}
#P38_403
{
left:6306.73px;bottom:20348.4px;color:black;
}
#P38_404
{
left:7190.4px;bottom:20348.4px;color:black;
}
#P38_405
{
left:7479.49px;bottom:20348.4px;color:black;
}
#P38_406
{
left:8575.55px;bottom:20348.4px;color:black;
}
#P38_407
{
left:9481.34px;bottom:20348.4px;color:black;
}
#P38_408
{
left:9692.86px;bottom:20348.4px;color:black;
}
#P38_409
{
left:10340.1px;bottom:20348.4px;color:black;
}
#P38_410
{
left:10549.1px;bottom:20348.4px;color:black;
}
#P38_411
{
left:10690.4px;bottom:20348.4px;color:black;
}
#P38_412
{
left:10829.5px;bottom:20348.4px;color:black;
}
#P38_413
{
left:11176.3px;bottom:20348.4px;color:black;
}
#P38_414
{
left:11523.6px;bottom:20348.4px;color:black;
}
#P38_415
{
left:12709.1px;bottom:20348.4px;color:black;
}
#P38_416
{
left:13141.2px;bottom:20348.4px;color:black;
}
#P38_417
{
left:14080.7px;bottom:20348.4px;color:black;
}
#P38_418
{
left:14502px;bottom:20348.4px;color:black;
}
#P38_419
{
left:15312.4px;bottom:20348.4px;color:black;
}
#P38_420
{
left:15596px;bottom:20348.4px;color:black;
}
#P38_421
{
left:16048.8px;bottom:20348.4px;color:black;
}
#P38_422
{
left:16502.6px;bottom:20348.4px;color:black;
}
#P38_423
{
left:16805.5px;bottom:20348.4px;color:black;
}
#P38_424
{
left:17155.6px;bottom:20348.4px;color:black;
}
#P38_425
{
left:17470.1px;bottom:20348.4px;color:black;
}
#P38_426
{
left:18885.4px;bottom:20348.4px;color:black;
}
#P38_427
{
left:19376.6px;bottom:20348.4px;color:black;
}
#P38_428
{
left:21092.3px;bottom:20348.4px;color:black;
}
#P38_429
{
left:21483.5px;bottom:20348.4px;color:black;
}
#P38_430
{
left:22002.2px;bottom:20348.4px;color:black;
}
#P38_431
{
left:22351.6px;bottom:20348.4px;color:black;
}
#P38_432
{
left:22793.9px;bottom:20348.4px;color:black;
}
#P38_433
{
left:23045.9px;bottom:20348.4px;color:black;
}
#P38_434
{
left:23185px;bottom:20348.4px;color:black;
}
#P38_435
{
left:23593.6px;bottom:20348.4px;color:black;
}
#P38_436
{
left:24508.2px;bottom:20348.4px;color:black;
}
#P38_437
{
left:5695.81px;bottom:19388.1px;color:black;
}
#P38_438
{
left:6040.54px;bottom:19388.1px;color:black;
}
#P38_439
{
left:6559.36px;bottom:19388.1px;color:black;
}
#P38_440
{
left:6908.67px;bottom:19388.1px;color:black;
}
#P38_441
{
left:7402.62px;bottom:19388.1px;color:black;
}
#P38_442
{
left:9433.41px;bottom:19388.1px;color:black;
}
#P38_443
{
left:9899.71px;bottom:19388.1px;color:black;
}
#P38_444
{
left:10251.1px;bottom:19388.1px;color:black;
}
#P38_445
{
left:10559.6px;bottom:19388.1px;color:black;
}
#P38_446
{
left:11078.3px;bottom:19388.1px;color:black;
}
#P38_447
{
left:11339.1px;bottom:19388.1px;color:black;
}
#P38_448
{
left:11635.5px;bottom:19388.1px;color:black;
}
#P38_449
{
left:12056.8px;bottom:19388.1px;color:black;
}
#P38_450
{
left:12727.5px;bottom:19388.1px;color:black;
}
#P38_451
{
left:13016.5px;bottom:19388.1px;color:black;
}
#P38_452
{
left:14112.5px;bottom:19388.1px;color:black;
}
#P38_453
{
left:14351.1px;bottom:19388.1px;color:black;
}
#P38_454
{
left:14632.1px;bottom:19388.1px;color:black;
}
#P38_455
{
left:14828.3px;bottom:19388.1px;color:black;
}
#P38_456
{
left:15108.6px;bottom:19388.1px;color:black;
}
#P38_457
{
left:15347.1px;bottom:19388.1px;color:black;
}
#P38_458
{
left:15627.5px;bottom:19388.1px;color:black;
}
#P38_459
{
left:16267.2px;bottom:19388.1px;color:black;
}
#P38_460
{
left:16690.7px;bottom:19388.1px;color:black;
}
#P38_461
{
left:16816.4px;bottom:19388.1px;color:black;
}
#P38_462
{
left:17243.3px;bottom:19388.1px;color:black;
}
#P38_463
{
left:17621px;bottom:19388.1px;color:black;
}
#P38_464
{
left:17910.1px;bottom:19388.1px;color:black;
}
#P38_465
{
left:18759.5px;bottom:19388.1px;color:black;
}
#P38_466
{
left:19106.3px;bottom:19388.1px;color:black;
}
#P38_467
{
left:19971.2px;bottom:19388.1px;color:black;
}
#P38_468
{
left:20231.9px;bottom:19388.1px;color:black;
}
#P38_469
{
left:20528.3px;bottom:19388.1px;color:black;
}
#P38_470
{
left:20949.7px;bottom:19388.1px;color:black;
}
#P38_471
{
left:21295.2px;bottom:19388.1px;color:black;
}
#P38_472
{
left:21801.2px;bottom:19388.1px;color:black;
}
#P38_473
{
left:22638.5px;bottom:19388.1px;color:black;
}
#P38_474
{
left:23170px;bottom:19388.1px;color:black;
}
#P38_475
{
left:24225.7px;bottom:19388.1px;color:black;
}
#P38_476
{
left:24571.2px;bottom:19388.1px;color:black;
}
#P38_477
{
left:24956.9px;bottom:19388.1px;color:black;
}
#P38_478
{
left:5695.81px;bottom:18427.8px;color:black;
}
#P38_479
{
left:6547.14px;bottom:18427.8px;color:black;
}
#P38_480
{
left:7044.42px;bottom:18427.8px;color:black;
}
#P38_481
{
left:7401.22px;bottom:18427.8px;color:black;
}
#P38_482
{
left:7738.62px;bottom:18427.8px;color:black;
}
#P38_483
{
left:8189.7px;bottom:18427.8px;color:black;
}
#P38_484
{
left:8469.95px;bottom:18427.8px;color:black;
}
#P38_485
{
left:8678.98px;bottom:18427.8px;color:black;
}
#P38_486
{
left:8820.29px;bottom:18427.8px;color:black;
}
#P38_487
{
left:8959.36px;bottom:18427.8px;color:black;
}
#P38_488
{
left:9197.95px;bottom:18427.8px;color:black;
}
#P38_489
{
left:9481.47px;bottom:18427.8px;color:black;
}
#P38_490
{
left:9753.02px;bottom:18427.8px;color:black;
}
#P38_491
{
left:10098.4px;bottom:18427.8px;color:black;
}
#P38_492
{
left:10337px;bottom:18427.8px;color:black;
}
#P38_493
{
left:10831px;bottom:18427.8px;color:black;
}
#P38_494
{
left:11120px;bottom:18427.8px;color:black;
}
#P38_495
{
left:12216px;bottom:18427.8px;color:black;
}
#P38_496
{
left:12562.8px;bottom:18427.8px;color:black;
}
#P38_497
{
left:13427.6px;bottom:18427.8px;color:black;
}
#P38_498
{
left:13688.4px;bottom:18427.8px;color:black;
}
#P38_499
{
left:13996.2px;bottom:18427.8px;color:black;
}
#P38_500
{
left:14498.8px;bottom:18427.8px;color:black;
}
#P38_501
{
left:15023px;bottom:18427.8px;color:black;
}
#P38_502
{
left:15767.6px;bottom:18427.8px;color:black;
}
#P38_503
{
left:16452.3px;bottom:18427.8px;color:black;
}
#P38_504
{
left:17439.5px;bottom:18427.8px;color:black;
}
#P38_505
{
left:17715.1px;bottom:18427.8px;color:black;
}
#P38_506
{
left:18624.1px;bottom:18427.8px;color:black;
}
#P38_507
{
left:18973.1px;bottom:18427.8px;color:black;
}
#P38_508
{
left:6741.31px;bottom:25365.3px;letter-spacing:10.2px;color:black;
}
#P38_509
{
left:7418.18px;bottom:25365.3px;letter-spacing:10.2px;color:black;
}
#P38_510
{
left:7622.46px;bottom:25365.3px;letter-spacing:10.2px;color:black;
}
#P38_511
{
left:8317.76px;bottom:25365.3px;letter-spacing:10.2px;color:black;
}
#P38_512
{
left:10861.9px;bottom:25365.3px;letter-spacing:10.2px;color:black;
}
#P38_513
{
left:13242.2px;bottom:25365.3px;letter-spacing:10.2px;color:black;
}
#P38_514
{
left:6741.31px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_515
{
left:11477.3px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_516
{
left:13805.4px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_517
{
left:14200.6px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_518
{
left:16213.3px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_519
{
left:16802.4px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_520
{
left:16939.6px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_521
{
left:17230.8px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_522
{
left:17427.8px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_523
{
left:17554.7px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_524
{
left:17845.9px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_525
{
left:18033.2px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_526
{
left:18160.1px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_527
{
left:18388.3px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_528
{
left:18643.2px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_529
{
left:18783.4px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_530
{
left:18922px;bottom:24462.1px;letter-spacing:-6.8px;color:black;
}
#P38_531
{
left:20949.3px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_532
{
left:23723.3px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_533
{
left:24118.6px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_534
{
left:24454px;bottom:24462.1px;letter-spacing:10.2px;color:black;
}
#P38_535
{
left:24591.2px;bottom:24462.1px;color:black;
}
#P38_536
{
left:20949.3px;bottom:23918.4px;letter-spacing:10.2px;color:black;
}
#P38_537
{
left:22195.5px;bottom:23918.4px;letter-spacing:10.2px;color:black;
}
#P38_538
{
left:23843.6px;bottom:23918.4px;letter-spacing:10.2px;color:black;
}
#P38_539
{
left:27242.7px;bottom:16533.3px;color:black;
}
#P38_540
{
left:27863.5px;bottom:16533.3px;color:black;
}
#P38_541
{
left:28816.1px;bottom:16533.3px;color:black;
}
#P38_542
{
left:30476px;bottom:16533.3px;color:black;
}
#P38_543
{
left:31709.8px;bottom:16533.3px;color:black;
}
#P38_544
{
left:32781.1px;bottom:16533.3px;color:black;
}
#P38_545
{
left:27242.7px;bottom:15797.2px;color:black;
}
#P38_546
{
left:27683.8px;bottom:15797.2px;color:black;
}
#P38_547
{
left:28976.8px;bottom:15797.2px;color:black;
}
#P38_548
{
left:30183.4px;bottom:15797.2px;color:black;
}
#P38_549
{
left:30776px;bottom:15797.2px;color:black;
}
#P38_550
{
left:32088.6px;bottom:15797.2px;color:black;
}
#P38_551
{
left:27242.7px;bottom:15061.1px;color:black;
}
#P38_552
{
left:30723.4px;bottom:15061.1px;color:black;
}
#P38_553
{
left:31037.2px;bottom:15061.1px;color:black;
}
#P38_554
{
left:31249.7px;bottom:15061.1px;color:black;
}
#P38_555
{
left:31497.9px;bottom:15061.1px;color:black;
}
#PageContainer38
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg038_00.jpg");background-repeat:no-repeat;background-size: 560px 561px; background-position: 155.44px 631.06px;
}
#ImageContainer038_00 {bottom:169.94px;left:155.44px;width:560.28px;height:561.44px;position:absolute;} #TextContainer38 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
