.tr41{ color:transparent;}
#P41_1
{
left:4032px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_2
{
left:4525.98px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_3
{
left:4672.36px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_4
{
left:4888.88px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_5
{
left:5207.81px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_6
{
left:5471.44px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_7
{
left:5687.96px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_8
{
left:5809.77px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_9
{
left:6119.48px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_10
{
left:6241.28px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_11
{
left:6544.83px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_12
{
left:6748.54px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_13
{
left:7081.86px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_14
{
left:7333.7px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_15
{
left:7621.89px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_16
{
left:7838.4px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_17
{
left:7960.19px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_18
{
left:8106.62px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_19
{
left:8569.86px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_20
{
left:8871.87px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_21
{
left:9314.18px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_22
{
left:9561.41px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_23
{
left:9819.9px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_24
{
left:9966.27px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_25
{
left:10299.5px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_26
{
left:10503.3px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_27
{
left:10836.5px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_28
{
left:11120.1px;bottom:47814.7px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P41_29
{
left:11413.4px;bottom:47814.7px;color:rgb(226,147,158);
}
#P41_30
{
left:11695.1px;bottom:47814.7px;color:rgb(61,126,181);
}
#P41_31
{
left:11898.9px;bottom:47814.7px;color:rgb(226,147,158);
}
#P41_32
{
left:12180.5px;bottom:47814.7px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P41_33
{
left:14157.8px;bottom:47814.7px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P41_34
{
left:14774.8px;bottom:47814.7px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P41_35
{
left:4032px;bottom:1798.66px;letter-spacing:5.1px;color:rgb(86,87,91);
}
#P41_36
{
left:4032px;bottom:46056.7px;color:rgb(0,105,168);
}
#P41_37
{
left:4529.28px;bottom:46056.7px;letter-spacing:6.7px;color:rgb(0,105,168);
}
#P41_38
{
left:4933.15px;bottom:46056.7px;color:rgb(0,105,168);
}
#P41_39
{
left:5312.16px;bottom:46035.9px;color:black;
}
#P41_40
{
left:5649.57px;bottom:46035.9px;color:black;
}
#P41_41
{
left:5886.78px;bottom:46035.9px;color:black;
}
#P41_42
{
left:6232.26px;bottom:46035.9px;color:black;
}
#P41_43
{
left:6925.12px;bottom:46035.9px;color:black;
}
#P41_44
{
left:7384px;bottom:46035.9px;color:black;
}
#P41_45
{
left:8381.95px;bottom:46035.9px;color:black;
}
#P41_46
{
left:8671.04px;bottom:46035.9px;color:black;
}
#P41_47
{
left:9520.45px;bottom:46035.9px;color:black;
}
#P41_48
{
left:10516.2px;bottom:46035.9px;color:black;
}
#P41_49
{
left:11166.7px;bottom:46035.9px;color:black;
}
#P41_50
{
left:11660.6px;bottom:46035.9px;color:black;
}
#P41_51
{
left:12301.6px;bottom:46035.9px;color:black;
}
#P41_52
{
left:13009.9px;bottom:46035.9px;color:black;
}
#P41_53
{
left:13356.7px;bottom:46035.9px;color:black;
}
#P41_54
{
left:14919.7px;bottom:46035.9px;color:black;
}
#P41_55
{
left:15530.6px;bottom:46035.9px;color:black;
}
#P41_56
{
left:16215.4px;bottom:46035.9px;color:black;
}
#P41_57
{
left:17202.6px;bottom:46035.9px;color:black;
}
#P41_58
{
left:18435.6px;bottom:46035.9px;color:black;
}
#P41_59
{
left:18881.3px;bottom:46035.9px;color:black;
}
#P41_60
{
left:19594.4px;bottom:46035.9px;color:black;
}
#P41_61
{
left:4032px;bottom:44712.7px;letter-spacing:641.7px;color:rgb(0,105,168);
}
#P41_62
{
left:5312.16px;bottom:44712.7px;letter-spacing:6.7px;color:rgb(0,105,168);
}
#P41_63
{
left:5844.38px;bottom:44712.7px;color:rgb(0,105,168);
}
#P41_64
{
left:5951.9px;bottom:44691.9px;color:black;
}
#P41_65
{
left:6524.48px;bottom:44691.9px;color:black;
}
#P41_66
{
left:6751.42px;bottom:44691.9px;color:black;
}
#P41_67
{
left:7025.47px;bottom:44691.9px;color:black;
}
#P41_68
{
left:7699.58px;bottom:44691.9px;color:black;
}
#P41_69
{
left:8573.89px;bottom:44691.9px;color:black;
}
#P41_70
{
left:9002.62px;bottom:44691.9px;color:black;
}
#P41_71
{
left:9141.76px;bottom:44691.9px;color:black;
}
#P41_72
{
left:9698.18px;bottom:44691.9px;color:black;
}
#P41_73
{
left:10497.2px;bottom:44691.9px;color:black;
}
#P41_74
{
left:10774.8px;bottom:44691.9px;color:black;
}
#P41_75
{
left:11074.6px;bottom:44691.9px;color:black;
}
#P41_76
{
left:11350.2px;bottom:44691.9px;color:black;
}
#P41_77
{
left:12673.5px;bottom:44691.9px;color:black;
}
#P41_78
{
left:13094.8px;bottom:44691.9px;color:black;
}
#P41_79
{
left:13440.2px;bottom:44691.9px;color:black;
}
#P41_80
{
left:13658.5px;bottom:44691.9px;color:black;
}
#P41_81
{
left:13797.6px;bottom:44691.9px;color:black;
}
#P41_82
{
left:14143px;bottom:44691.9px;color:black;
}
#P41_83
{
left:14931.3px;bottom:44691.9px;color:black;
}
#P41_84
{
left:16488.3px;bottom:44691.9px;color:black;
}
#P41_85
{
left:17173.1px;bottom:44691.9px;color:black;
}
#P41_86
{
left:17411.6px;bottom:44691.9px;color:black;
}
#P41_87
{
left:17695.9px;bottom:44691.9px;color:black;
}
#P41_88
{
left:17902.8px;bottom:44691.9px;color:black;
}
#P41_89
{
left:18517px;bottom:44691.9px;color:black;
}
#P41_90
{
left:19023px;bottom:44691.9px;color:black;
}
#P41_91
{
left:19219.3px;bottom:44691.9px;color:black;
}
#P41_92
{
left:19564.7px;bottom:44691.9px;color:black;
}
#P41_93
{
left:19950.5px;bottom:44691.9px;color:black;
}
#P41_94
{
left:21803.9px;bottom:44691.9px;color:black;
}
#P41_95
{
left:22012.9px;bottom:44691.9px;color:black;
}
#P41_96
{
left:22154.2px;bottom:44691.9px;color:black;
}
#P41_97
{
left:22293.3px;bottom:44691.9px;color:black;
}
#P41_98
{
left:22607.2px;bottom:44691.9px;color:black;
}
#P41_99
{
left:22779.3px;bottom:44691.9px;color:black;
}
#P41_100
{
left:23096.4px;bottom:44691.9px;color:black;
}
#P41_101
{
left:24087.6px;bottom:44691.9px;color:black;
}
#P41_102
{
left:5951.9px;bottom:43731.6px;color:black;
}
#P41_103
{
left:6535.94px;bottom:43731.6px;color:black;
}
#P41_104
{
left:7373.89px;bottom:43731.6px;color:black;
}
#P41_105
{
left:8930.88px;bottom:43731.6px;color:black;
}
#P41_106
{
left:10136.4px;bottom:43731.6px;color:black;
}
#P41_107
{
left:10692.9px;bottom:43731.6px;color:black;
}
#P41_108
{
left:11125px;bottom:43731.6px;color:black;
}
#P41_109
{
left:11473.1px;bottom:43731.6px;color:black;
}
#P41_110
{
left:11753.3px;bottom:43731.6px;color:black;
}
#P41_111
{
left:13116.8px;bottom:43731.6px;color:black;
}
#P41_112
{
left:13462.2px;bottom:43731.6px;color:black;
}
#P41_113
{
left:13847.9px;bottom:43731.6px;color:black;
}
#P41_114
{
left:14142.3px;bottom:43731.6px;color:black;
}
#P41_115
{
left:14491.8px;bottom:43731.6px;color:black;
}
#P41_116
{
left:14799.6px;bottom:43731.6px;color:black;
}
#P41_117
{
left:16265.2px;bottom:43731.6px;color:black;
}
#P41_118
{
left:16688.6px;bottom:43731.6px;color:black;
}
#P41_119
{
left:16827.8px;bottom:43731.6px;color:black;
}
#P41_120
{
left:17512.5px;bottom:43731.6px;color:black;
}
#P41_121
{
left:17790.1px;bottom:43731.6px;color:black;
}
#P41_122
{
left:18089.9px;bottom:43731.6px;color:black;
}
#P41_123
{
left:18365.5px;bottom:43731.6px;color:black;
}
#P41_124
{
left:19688.7px;bottom:43731.6px;color:black;
}
#P41_125
{
left:20110.1px;bottom:43731.6px;color:black;
}
#P41_126
{
left:20306.4px;bottom:43731.6px;color:black;
}
#P41_127
{
left:20651.8px;bottom:43731.6px;color:black;
}
#P41_128
{
left:21037.6px;bottom:43731.6px;color:black;
}
#P41_129
{
left:21621.6px;bottom:43731.6px;color:black;
}
#P41_130
{
left:22459.5px;bottom:43731.6px;color:black;
}
#P41_131
{
left:24016.5px;bottom:43731.6px;color:black;
}
#P41_132
{
left:5951.9px;bottom:42771.3px;color:black;
}
#P41_133
{
left:6787.26px;bottom:42771.3px;color:black;
}
#P41_134
{
left:7226.75px;bottom:42771.3px;color:black;
}
#P41_135
{
left:7574.78px;bottom:42771.3px;color:black;
}
#P41_136
{
left:7996.16px;bottom:42771.3px;color:black;
}
#P41_137
{
left:8895.36px;bottom:42771.3px;color:black;
}
#P41_138
{
left:9133.89px;bottom:42771.3px;color:black;
}
#P41_139
{
left:9555.26px;bottom:42771.3px;color:black;
}
#P41_140
{
left:9908.1px;bottom:42771.3px;color:black;
}
#P41_141
{
left:10859.5px;bottom:42771.3px;color:black;
}
#P41_142
{
left:11497.3px;bottom:42771.3px;color:black;
}
#P41_143
{
left:12090.2px;bottom:42771.3px;color:black;
}
#P41_144
{
left:12215.9px;bottom:42771.3px;color:black;
}
#P41_145
{
left:12832.3px;bottom:42771.3px;color:black;
}
#P41_146
{
left:13830.1px;bottom:42771.3px;color:black;
}
#P41_147
{
left:14361.7px;bottom:42771.3px;color:black;
}
#P41_148
{
left:14783px;bottom:42771.3px;color:black;
}
#P41_149
{
left:15770.2px;bottom:42771.3px;color:black;
}
#P41_150
{
left:15981.8px;bottom:42771.3px;color:black;
}
#P41_151
{
left:16233.7px;bottom:42771.3px;color:black;
}
#P41_152
{
left:16527.9px;bottom:42771.3px;color:black;
}
#P41_153
{
left:16880.8px;bottom:42771.3px;color:black;
}
#P41_154
{
left:17753.8px;bottom:42771.3px;color:black;
}
#P41_155
{
left:18152.2px;bottom:42771.3px;color:black;
}
#P41_156
{
left:18529.9px;bottom:42771.3px;color:black;
}
#P41_157
{
left:18875.3px;bottom:42771.3px;color:black;
}
#P41_158
{
left:19093.5px;bottom:42771.3px;color:black;
}
#P41_159
{
left:19232.6px;bottom:42771.3px;color:black;
}
#P41_160
{
left:20825.3px;bottom:42771.3px;color:black;
}
#P41_161
{
left:21893px;bottom:42771.3px;color:black;
}
#P41_162
{
left:22176.5px;bottom:42771.3px;color:black;
}
#P41_163
{
left:22386.1px;bottom:42771.3px;color:black;
}
#P41_164
{
left:23376.6px;bottom:42771.3px;color:black;
}
#P41_165
{
left:24036.5px;bottom:42771.3px;color:black;
}
#P41_166
{
left:24237.6px;bottom:42771.3px;color:black;
}
#P41_167
{
left:24724.2px;bottom:42771.3px;color:black;
}
#P41_168
{
left:5951.9px;bottom:41811px;color:black;
}
#P41_169
{
left:6632.58px;bottom:41811px;color:black;
}
#P41_170
{
left:6940.99px;bottom:41811px;color:black;
}
#P41_171
{
left:7928.19px;bottom:41811px;color:black;
}
#P41_172
{
left:9409.34px;bottom:41811px;color:black;
}
#P41_173
{
left:10152.1px;bottom:41811px;color:black;
}
#P41_174
{
left:10501.4px;bottom:41811px;color:black;
}
#P41_175
{
left:5312.16px;bottom:40680px;letter-spacing:6.7px;color:rgb(0,105,168);
}
#P41_176
{
left:5886.05px;bottom:40680px;color:rgb(0,105,168);
}
#P41_177
{
left:5951.9px;bottom:40659.2px;color:black;
}
#P41_178
{
left:6568.19px;bottom:40659.2px;color:black;
}
#P41_179
{
left:7566.14px;bottom:40659.2px;color:black;
}
#P41_180
{
left:8097.66px;bottom:40659.2px;color:black;
}
#P41_181
{
left:8519.04px;bottom:40659.2px;color:black;
}
#P41_182
{
left:9506.18px;bottom:40659.2px;color:black;
}
#P41_183
{
left:9854.21px;bottom:40659.2px;color:black;
}
#P41_184
{
left:10134.5px;bottom:40659.2px;color:black;
}
#P41_185
{
left:11736.5px;bottom:40659.2px;color:black;
}
#P41_186
{
left:12082px;bottom:40659.2px;color:black;
}
#P41_187
{
left:12300.2px;bottom:40659.2px;color:black;
}
#P41_188
{
left:12439.3px;bottom:40659.2px;color:black;
}
#P41_189
{
left:14031.9px;bottom:40659.2px;color:black;
}
#P41_190
{
left:15099.7px;bottom:40659.2px;color:black;
}
#P41_191
{
left:15383.2px;bottom:40659.2px;color:black;
}
#P41_192
{
left:15592.8px;bottom:40659.2px;color:black;
}
#P41_193
{
left:16583.4px;bottom:40659.2px;color:black;
}
#P41_194
{
left:17243.3px;bottom:40659.2px;color:black;
}
#P41_195
{
left:17444.4px;bottom:40659.2px;color:black;
}
#P41_196
{
left:17930.9px;bottom:40659.2px;color:black;
}
#P41_197
{
left:18611.6px;bottom:40659.2px;color:black;
}
#P41_198
{
left:18920px;bottom:40659.2px;color:black;
}
#P41_199
{
left:20401.2px;bottom:40659.2px;color:black;
}
#P41_200
{
left:21143.9px;bottom:40659.2px;color:black;
}
#P41_201
{
left:21493.2px;bottom:40659.2px;color:black;
}
#P41_202
{
left:22153.2px;bottom:40659.2px;color:black;
}
#P41_203
{
left:23358.7px;bottom:40659.2px;color:black;
}
#P41_204
{
left:24405.7px;bottom:40659.2px;color:black;
}
#P41_205
{
left:25110.7px;bottom:40659.2px;color:black;
}
#P41_206
{
left:25458.6px;bottom:40659.2px;color:black;
}
#P41_207
{
left:5951.9px;bottom:39698.9px;color:black;
}
#P41_208
{
left:6779.14px;bottom:39698.9px;color:black;
}
#P41_209
{
left:7043.78px;bottom:39698.9px;color:black;
}
#P41_210
{
left:7353.47px;bottom:39698.9px;color:black;
}
#P41_211
{
left:8344.9px;bottom:39698.9px;color:black;
}
#P41_212
{
left:8717.7px;bottom:39698.9px;color:black;
}
#P41_213
{
left:10244.5px;bottom:39698.9px;color:black;
}
#P41_214
{
left:4032px;bottom:38354.9px;color:black;
}
#P41_215
{
left:4498.37px;bottom:38375.8px;letter-spacing:6.7px;color:rgb(0,105,168);
}
#P41_216
{
left:5053.44px;bottom:38375.8px;color:rgb(0,105,168);
}
#P41_217
{
left:5312.16px;bottom:38354.9px;color:black;
}
#P41_218
{
left:5707.9px;bottom:38354.9px;color:black;
}
#P41_219
{
left:6523.01px;bottom:38354.9px;color:black;
}
#P41_220
{
left:7016.96px;bottom:38354.9px;color:black;
}
#P41_221
{
left:7362.43px;bottom:38354.9px;color:black;
}
#P41_222
{
left:7868.42px;bottom:38354.9px;color:black;
}
#P41_223
{
left:8855.62px;bottom:38354.9px;color:black;
}
#P41_224
{
left:10418.7px;bottom:38354.9px;color:black;
}
#P41_225
{
left:11029.6px;bottom:38354.9px;color:black;
}
#P41_226
{
left:12262.7px;bottom:38354.9px;color:black;
}
#P41_227
{
left:12708.2px;bottom:38354.9px;color:black;
}
#P41_228
{
left:13421.3px;bottom:38354.9px;color:black;
}
#P41_229
{
left:13680.2px;bottom:38354.9px;color:black;
}
#P41_230
{
left:13821.4px;bottom:38354.9px;color:black;
}
#P41_231
{
left:13960.5px;bottom:38354.9px;color:black;
}
#P41_232
{
left:14656.1px;bottom:38354.9px;color:black;
}
#P41_233
{
left:15250.8px;bottom:38354.9px;color:black;
}
#P41_234
{
left:15602.4px;bottom:38354.9px;color:black;
}
#P41_235
{
left:15951.7px;bottom:38354.9px;color:black;
}
#P41_236
{
left:16611.6px;bottom:38354.9px;color:black;
}
#P41_237
{
left:16850.2px;bottom:38354.9px;color:black;
}
#P41_238
{
left:18928.8px;bottom:38354.9px;color:black;
}
#P41_239
{
left:19350.1px;bottom:38354.9px;color:black;
}
#P41_240
{
left:19703px;bottom:38354.9px;color:black;
}
#P41_241
{
left:19989.8px;bottom:38354.9px;color:black;
}
#P41_242
{
left:20286.2px;bottom:38354.9px;color:black;
}
#P41_243
{
left:20569.8px;bottom:38354.9px;color:black;
}
#P41_244
{
left:21083.3px;bottom:38354.9px;color:black;
}
#P41_245
{
left:21577.3px;bottom:38354.9px;color:black;
}
#P41_246
{
left:22262px;bottom:38354.9px;color:black;
}
#P41_247
{
left:22694.1px;bottom:38354.9px;color:black;
}
#P41_248
{
left:23050.9px;bottom:38354.9px;color:black;
}
#P41_249
{
left:23395px;bottom:38354.9px;color:black;
}
#P41_250
{
left:24784.7px;bottom:38354.9px;color:black;
}
#P41_251
{
left:25308.9px;bottom:38354.9px;color:black;
}
#P41_252
{
left:5312.16px;bottom:37394.6px;color:black;
}
#P41_253
{
left:5657.63px;bottom:37394.6px;color:black;
}
#P41_254
{
left:5875.83px;bottom:37394.6px;color:black;
}
#P41_255
{
left:6014.94px;bottom:37394.6px;color:black;
}
#P41_256
{
left:10294.2px;bottom:37394.6px;color:black;
}
#P41_257
{
left:11544.2px;bottom:37394.6px;color:black;
}
#P41_258
{
left:11890.9px;bottom:37394.6px;color:black;
}
#P41_259
{
left:12239px;bottom:37394.6px;color:black;
}
#P41_260
{
left:5184px;bottom:34687.9px;letter-spacing:19.2px;color:black;
}
#P41_261
{
left:6247.68px;bottom:34687.9px;color:black;
}
#P41_262
{
left:6412.8px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_263
{
left:7262.21px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_264
{
left:7643.9px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_265
{
left:8044.8px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_266
{
left:8396.54px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_267
{
left:8819.71px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_268
{
left:9126.91px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_269
{
left:9527.81px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_270
{
left:9841.15px;bottom:34687.9px;letter-spacing:11.5px;color:black;
}
#P41_271
{
left:5184px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_272
{
left:5477.66px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_273
{
left:5954.71px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_274
{
left:6103.3px;bottom:33447.9px;color:rgb(98,98,102);
}
#P41_275
{
left:12479.9px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_276
{
left:14216.3px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_277
{
left:14852px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_278
{
left:17089.7px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_279
{
left:17412.9px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_280
{
left:17951.7px;bottom:33448.6px;color:rgb(98,98,102);
}
#P41_281
{
left:5184px;bottom:32327.7px;color:rgb(98,98,102);
}
#P41_282
{
left:5988.99px;bottom:32327.7px;color:rgb(98,98,102);
}
#P41_283
{
left:6312.83px;bottom:32327.7px;color:rgb(98,98,102);
}
#P41_284
{
left:6892.03px;bottom:32327.7px;color:rgb(98,98,102);
}
#P41_285
{
left:7221.31px;bottom:32327.7px;color:rgb(98,98,102);
}
#P41_286
{
left:12479.9px;bottom:32328.4px;color:rgb(98,98,102);
}
#P41_287
{
left:13026.2px;bottom:32328.4px;color:rgb(98,98,102);
}
#P41_288
{
left:13395.6px;bottom:32328.4px;color:rgb(98,98,102);
}
#P41_289
{
left:13626.8px;bottom:32328.4px;color:rgb(98,98,102);
}
#P41_290
{
left:5184px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_291
{
left:5875.49px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_292
{
left:6511.1px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_293
{
left:8748.8px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_294
{
left:9072px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_295
{
left:9610.88px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_296
{
left:10096.1px;bottom:31207.5px;color:rgb(98,98,102);
}
#P41_297
{
left:12479.9px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_298
{
left:13026.2px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_299
{
left:13395.6px;bottom:31208.2px;color:rgb(98,98,102);
}
#P41_300
{
left:5184px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_301
{
left:5997.66px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_302
{
left:6140.12px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_303
{
left:6791.87px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_304
{
left:7087.55px;bottom:30087.2px;color:rgb(98,98,102);
}
#P41_305
{
left:12479.9px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_306
{
left:13616.8px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_307
{
left:14395.6px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_308
{
left:14872.8px;bottom:30087.9px;color:rgb(98,98,102);
}
#P41_309
{
left:5184px;bottom:28967px;color:rgb(98,98,102);
}
#P41_310
{
left:6404.22px;bottom:28967px;color:rgb(98,98,102);
}
#P41_311
{
left:7477.38px;bottom:28967px;color:rgb(98,98,102);
}
#P41_312
{
left:12479.9px;bottom:28967px;color:rgb(98,98,102);
}
#P41_313
{
left:12961px;bottom:28967px;color:rgb(98,98,102);
}
#P41_314
{
left:13271.5px;bottom:28967px;color:rgb(98,98,102);
}
#P41_315
{
left:5184px;bottom:27847.5px;color:rgb(98,98,102);
}
#P41_316
{
left:6277.88px;bottom:27847.5px;color:rgb(98,98,102);
}
#P41_317
{
left:6562.05px;bottom:27847.5px;color:rgb(98,98,102);
}
#P41_318
{
left:7650.05px;bottom:27846.8px;color:rgb(98,98,102);
}
#P41_319
{
left:12479.9px;bottom:27846.8px;color:rgb(98,98,102);
}
#P41_320
{
left:12788.4px;bottom:27846.8px;color:rgb(98,98,102);
}
#P41_321
{
left:13418.6px;bottom:27846.8px;color:rgb(98,98,102);
}
#P41_322
{
left:13667.9px;bottom:27846.8px;color:rgb(98,98,102);
}
#PageContainer41
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg041_00.jpg");background-repeat:no-repeat;background-size: 651px 234px; background-position: 87px 393.54px;
}
#ImageContainer041_00 {bottom:734.46px;left:87.00px;width:650.76px;height:234.03px;position:absolute;} #TextContainer41 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
