.tr144{ color:transparent;}
#P144_1
{
left:33966.1px;bottom:1869.48px;letter-spacing:-5.6px;
}
#P144_2
{
left:34366px;bottom:1869.48px;letter-spacing:-5.6px;
}
#P144_3
{
bottom:0px;
}
#P144_4
{
bottom:0px;
}
#P144_5
{
left:7872px;bottom:43659.4px;
}
#P144_6
{
left:10982px;bottom:43659.4px;
}
#P144_7
{
left:13565.4px;bottom:43659.4px;
}
#P144_8
{
bottom:0px;
}
#P144_9
{
left:7086.4px;bottom:40017.2px;
}
#P144_10
{
left:7452.1px;bottom:40014.5px;
}
#P144_11
{
left:7633.47px;bottom:40017.2px;letter-spacing:51.2px;
}
#P144_12
{
left:8525.82px;bottom:40014.5px;
}
#P144_13
{
left:8707.2px;bottom:40017.2px;letter-spacing:51.2px;
}
#P144_14
{
left:9836.22px;bottom:40017.2px;letter-spacing:51.2px;
}
#P144_15
{
left:10218px;bottom:40017.2px;letter-spacing:51.2px;
}
#P144_16
{
left:11569.5px;bottom:40014.5px;
}
#P144_17
{
left:11750.9px;bottom:39851.5px;
}
#P144_18
{
left:12106.4px;bottom:39851.5px;
}
#P144_19
{
left:12398px;bottom:39851.5px;
}
#P144_20
{
left:12707.1px;bottom:39851.5px;
}
#P144_21
{
left:13376.4px;bottom:39851.5px;
}
#P144_22
{
left:13665.4px;bottom:39851.5px;
}
#P144_23
{
left:13906px;bottom:39851.5px;
}
#P144_24
{
left:14328.7px;bottom:39851.5px;
}
#P144_25
{
left:14871px;bottom:39851.5px;
}
#P144_26
{
left:15114.2px;bottom:39851.5px;
}
#P144_27
{
left:15322.6px;bottom:39851.5px;
}
#P144_28
{
left:15578.6px;bottom:39851.5px;
}
#P144_29
{
left:16224.3px;bottom:39851.5px;
}
#P144_30
{
left:16432.6px;bottom:39851.5px;
}
#P144_31
{
left:16947.4px;bottom:39851.5px;
}
#P144_32
{
left:17309.6px;bottom:39851.5px;
}
#P144_33
{
left:17693.3px;bottom:39851.5px;
}
#P144_34
{
left:17996.4px;bottom:39851.5px;
}
#P144_35
{
left:18331.7px;bottom:39851.5px;
}
#P144_36
{
left:18825.7px;bottom:39851.5px;
}
#P144_37
{
left:19111.9px;bottom:39851.5px;
}
#P144_38
{
left:19400.8px;bottom:39851.5px;
}
#P144_39
{
left:19905.5px;bottom:39851.5px;
}
#P144_40
{
left:20260.3px;bottom:39851.5px;
}
#P144_41
{
left:20512.3px;bottom:39851.5px;
}
#P144_42
{
left:20935px;bottom:39851.5px;
}
#P144_43
{
left:21135.9px;bottom:39851.5px;
}
#P144_44
{
left:21615.7px;bottom:39851.5px;
}
#P144_45
{
left:21856.3px;bottom:39851.5px;
}
#P144_46
{
left:22147.2px;bottom:39851.5px;
}
#P144_47
{
left:22460.4px;bottom:39851.5px;
}
#P144_48
{
left:22931.5px;bottom:39851.5px;
}
#P144_49
{
left:23528.8px;bottom:39851.5px;
}
#P144_50
{
left:23737.9px;bottom:39851.5px;
}
#P144_51
{
left:24094px;bottom:39851.5px;
}
#P144_52
{
left:24516.7px;bottom:39851.5px;
}
#P144_53
{
left:7086.53px;bottom:38891.1px;
}
#P144_54
{
left:7279.42px;bottom:38891.1px;
}
#P144_55
{
left:7617.41px;bottom:38891.1px;
}
#P144_56
{
left:7790.78px;bottom:38891.1px;
}
#P144_57
{
left:8292.8px;bottom:38891.1px;
}
#P144_58
{
left:8755.14px;bottom:38891.1px;
}
#P144_59
{
left:9297.41px;bottom:38891.1px;
}
#P144_60
{
left:9748.99px;bottom:38891.1px;
}
#P144_61
{
left:10466.7px;bottom:38891.1px;
}
#P144_62
{
left:10824.9px;bottom:38891.1px;
}
#P144_63
{
left:11159.6px;bottom:38891.1px;
}
#P144_64
{
left:11415.6px;bottom:38891.1px;
}
#P144_65
{
left:11624.6px;bottom:38891.1px;
}
#P144_66
{
left:11913.5px;bottom:38891.1px;
}
#P144_67
{
left:12268.4px;bottom:38891.1px;
}
#P144_68
{
left:12610.4px;bottom:38891.1px;
}
#P144_69
{
left:12862.4px;bottom:38891.1px;
}
#P144_70
{
left:13977.2px;bottom:38891.1px;
}
#P144_71
{
left:14684.2px;bottom:38891.1px;
}
#P144_72
{
left:14928.1px;bottom:38891.1px;
}
#P144_73
{
left:15264.1px;bottom:38891.1px;
}
#P144_74
{
left:15447.6px;bottom:38891.1px;
}
#P144_75
{
left:15620.9px;bottom:38891.1px;
}
#P144_76
{
left:15788.9px;bottom:38891.1px;
}
#P144_77
{
left:16188.8px;bottom:38891.1px;
}
#P144_78
{
left:4416.01px;bottom:37275px;letter-spacing:615.5px;
}
#P144_79
{
left:5696.17px;bottom:37275px;
}
#P144_80
{
left:6115.5px;bottom:37275px;
}
#P144_81
{
left:6405.12px;bottom:37275px;
}
#P144_82
{
left:7597.18px;bottom:37275px;
}
#P144_83
{
left:8048.77px;bottom:37275px;
}
#P144_84
{
left:8480.9px;bottom:37275px;
}
#P144_85
{
left:8955.97px;bottom:37275px;
}
#P144_86
{
left:9847.04px;bottom:37275px;
}
#P144_87
{
left:10205.9px;bottom:37275px;
}
#P144_88
{
left:10488.1px;bottom:37275px;
}
#P144_89
{
left:10689.1px;bottom:37275px;
}
#P144_90
{
left:10978px;bottom:37275px;
}
#P144_91
{
left:11469.9px;bottom:37275px;
}
#P144_92
{
left:11909.4px;bottom:37275px;
}
#P144_93
{
left:12222.5px;bottom:37275px;
}
#P144_94
{
left:12937.5px;bottom:37275px;
}
#P144_95
{
left:4416.01px;bottom:35851px;letter-spacing:615.5px;
}
#P144_96
{
left:5696.17px;bottom:35851px;
}
#P144_97
{
left:6155.15px;bottom:35851px;
}
#P144_98
{
left:6944.06px;bottom:35851px;
}
#P144_99
{
left:7395.65px;bottom:35851px;
}
#P144_100
{
left:7827.78px;bottom:35851px;
}
#P144_101
{
left:8562.24px;bottom:35851px;
}
#P144_102
{
left:8897.6px;bottom:35851px;
}
#P144_103
{
left:9242.3px;bottom:35851px;
}
#P144_104
{
left:9600.51px;bottom:35851px;
}
#P144_105
{
left:10272.5px;bottom:35851px;
}
#P144_106
{
left:10681.1px;bottom:35851px;
}
#P144_107
{
left:11016.4px;bottom:35851px;
}
#P144_108
{
left:11214.7px;bottom:35851px;
}
#P144_109
{
left:11423.6px;bottom:35851px;
}
#P144_110
{
left:4416.01px;bottom:34427.1px;letter-spacing:615.5px;
}
#P144_111
{
left:5696.17px;bottom:34427.1px;
}
#P144_112
{
left:6097.36px;bottom:34427.1px;
}
#P144_113
{
left:6386.32px;bottom:34427.1px;
}
#P144_114
{
left:6772.74px;bottom:34427.1px;
}
#P144_115
{
left:7247.81px;bottom:34427.1px;
}
#P144_116
{
left:7779.33px;bottom:34427.1px;
}
#P144_117
{
left:8126.72px;bottom:34427.1px;
}
#P144_118
{
left:9027.9px;bottom:34427.1px;
}
#P144_119
{
left:4416.01px;bottom:33003.1px;letter-spacing:615.5px;
}
#P144_120
{
left:5696.17px;bottom:33003.1px;
}
#P144_121
{
left:6024.11px;bottom:33003.1px;
}
#P144_122
{
left:6310.38px;bottom:33003.1px;
}
#P144_123
{
left:6592.64px;bottom:33003.1px;
}
#P144_124
{
left:6790.85px;bottom:33003.1px;
}
#P144_125
{
left:6991.81px;bottom:33003.1px;
}
#P144_126
{
left:7533.38px;bottom:33003.1px;
}
#P144_127
{
left:7880.77px;bottom:33003.1px;
}
#P144_128
{
left:8386.11px;bottom:33003.1px;
}
#P144_129
{
left:8728.19px;bottom:33003.1px;
}
#P144_130
{
left:9017.15px;bottom:33003.1px;
}
#P144_131
{
left:9382.02px;bottom:33003.1px;
}
#P144_132
{
left:9873.92px;bottom:33003.1px;
}
#P144_133
{
left:10239.5px;bottom:33003.1px;
}
#P144_134
{
left:10784.5px;bottom:33003.1px;
}
#P144_135
{
left:11207.2px;bottom:33003.1px;
}
#P144_136
{
left:11682.3px;bottom:33003.1px;
}
#P144_137
{
left:12213.8px;bottom:33003.1px;
}
#P144_138
{
left:12561.3px;bottom:33003.1px;
}
#P144_139
{
left:13462.4px;bottom:33003.1px;
}
#P144_140
{
left:4416.01px;bottom:31579.1px;letter-spacing:615.5px;
}
#P144_141
{
left:5696.17px;bottom:31579.1px;
}
#P144_142
{
left:6081.9px;bottom:31579.1px;
}
#P144_143
{
left:7085.18px;bottom:31579.1px;
}
#P144_144
{
left:7725.57px;bottom:31579.1px;
}
#P144_145
{
left:8314.24px;bottom:31579.1px;
}
#P144_146
{
left:8648.9px;bottom:31579.1px;
}
#P144_147
{
left:8984.9px;bottom:31579.1px;
}
#P144_148
{
left:9470.72px;bottom:31579.1px;
}
#P144_149
{
left:9819.52px;bottom:31579.1px;
}
#P144_150
{
left:10168.2px;bottom:31579.1px;
}
#P144_151
{
left:10660.1px;bottom:31579.1px;
}
#P144_152
{
left:11045.2px;bottom:31579.1px;
}
#P144_153
{
left:11720.5px;bottom:31579.1px;
}
#P144_154
{
left:12259.4px;bottom:31579.1px;
}
#P144_155
{
left:12987.2px;bottom:31579.1px;
}
#P144_156
{
left:13627.6px;bottom:31579.1px;
}
#P144_157
{
left:13836.6px;bottom:31579.1px;
}
#P144_158
{
left:14135px;bottom:31579.1px;
}
#P144_159
{
left:14442px;bottom:31579.1px;
}
#P144_160
{
left:14940px;bottom:31579.1px;
}
#P144_161
{
left:15970.2px;bottom:31579.1px;
}
#P144_162
{
left:4416px;bottom:43632px;
}
#P144_163
{
left:5091.43px;bottom:43632px;
}
#P144_164
{
left:4416px;bottom:39025.6px;
}
#PageContainer144
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg144_00.jpg");background-repeat:no-repeat;background-size: 940px 1214px; background-position: 0px 95.1700000000001px;
}
#ImageContainer144_00 {bottom:52.83px;left:0.00px;width:940.47px;height:1213.76px;position:absolute;} #TextContainer144 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
