.tr57{ color:transparent;}
#P57_1
{
left:4032px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_2
{
left:4525.98px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_3
{
left:4672.36px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_4
{
left:4888.88px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_5
{
left:5207.81px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_6
{
left:5471.44px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_7
{
left:5687.96px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_8
{
left:5809.77px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_9
{
left:6119.48px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_10
{
left:6241.28px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_11
{
left:6544.83px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_12
{
left:6748.54px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_13
{
left:7081.86px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_14
{
left:7333.7px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_15
{
left:7621.89px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_16
{
left:7838.4px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_17
{
left:7960.19px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_18
{
left:8106.62px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_19
{
left:8569.86px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_20
{
left:8871.87px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_21
{
left:9314.18px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_22
{
left:9561.41px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_23
{
left:9819.9px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_24
{
left:9966.27px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_25
{
left:10299.5px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_26
{
left:10503.3px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_27
{
left:10836.5px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_28
{
left:11120.1px;bottom:47842.8px;letter-spacing:23.0px;color:rgb(61,126,181);
}
#P57_29
{
left:11413.4px;bottom:47842.8px;color:rgb(226,147,158);
}
#P57_30
{
left:11695.1px;bottom:47842.8px;color:rgb(61,126,181);
}
#P57_31
{
left:11898.9px;bottom:47842.8px;color:rgb(226,147,158);
}
#P57_32
{
left:12180.5px;bottom:47842.8px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P57_33
{
left:14157.8px;bottom:47842.8px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P57_34
{
left:14774.8px;bottom:47842.8px;letter-spacing:25.6px;color:rgb(86,87,91);
}
#P57_35
{
left:4032px;bottom:1798.66px;letter-spacing:5.1px;color:rgb(86,87,91);
}
#P57_36
{
left:4391.42px;bottom:1798.66px;letter-spacing:5.1px;color:rgb(86,87,91);
}
#P57_37
{
left:4032px;bottom:45845.3px;color:rgb(189,86,75);
}
#P57_38
{
left:6782.46px;bottom:45845.3px;color:rgb(189,86,75);
}
#P57_39
{
left:4032px;bottom:44710.1px;color:black;
}
#P57_40
{
left:4440.51px;bottom:44710.1px;color:black;
}
#P57_41
{
left:5078.98px;bottom:44710.1px;color:black;
}
#P57_42
{
left:5317.54px;bottom:44710.1px;color:black;
}
#P57_43
{
left:5738.88px;bottom:44710.1px;color:black;
}
#P57_44
{
left:6270.43px;bottom:44710.1px;color:black;
}
#P57_45
{
left:6691.78px;bottom:44710.1px;color:black;
}
#P57_46
{
left:7123.9px;bottom:44710.1px;color:black;
}
#P57_47
{
left:7486.14px;bottom:44710.1px;color:black;
}
#P57_48
{
left:8750.85px;bottom:44710.1px;color:black;
}
#P57_49
{
left:9031.1px;bottom:44710.1px;color:black;
}
#P57_50
{
left:9416.83px;bottom:44710.1px;color:black;
}
#P57_51
{
left:9762.3px;bottom:44710.1px;color:black;
}
#P57_52
{
left:9980.48px;bottom:44710.1px;color:black;
}
#P57_53
{
left:10119.6px;bottom:44710.1px;color:black;
}
#P57_54
{
left:10989.1px;bottom:44710.1px;color:black;
}
#P57_55
{
left:11511.9px;bottom:44710.1px;color:black;
}
#P57_56
{
left:12247.7px;bottom:44710.1px;color:black;
}
#P57_57
{
left:13084.4px;bottom:44710.1px;color:black;
}
#P57_58
{
left:14289.9px;bottom:44710.1px;color:black;
}
#P57_59
{
left:15369.2px;bottom:44710.1px;color:black;
}
#P57_60
{
left:15580.7px;bottom:44710.1px;color:black;
}
#P57_61
{
left:15819.3px;bottom:44710.1px;color:black;
}
#P57_62
{
left:16741.3px;bottom:44710.1px;color:black;
}
#P57_63
{
left:17381.8px;bottom:44710.1px;color:black;
}
#P57_64
{
left:17665.2px;bottom:44710.1px;color:black;
}
#P57_65
{
left:17866.9px;bottom:44710.1px;color:black;
}
#P57_66
{
left:18147.2px;bottom:44710.1px;color:black;
}
#P57_67
{
left:18401.2px;bottom:44710.1px;color:black;
}
#P57_68
{
left:19181.4px;bottom:44710.1px;color:black;
}
#P57_69
{
left:19923.3px;bottom:44710.1px;color:black;
}
#P57_70
{
left:20206.9px;bottom:44710.1px;color:black;
}
#P57_71
{
left:20490.4px;bottom:44710.1px;color:black;
}
#P57_72
{
left:20700px;bottom:44710.1px;color:black;
}
#P57_73
{
left:21224.2px;bottom:44710.1px;color:black;
}
#P57_74
{
left:21970.9px;bottom:44710.1px;color:black;
}
#P57_75
{
left:22110px;bottom:44710.1px;color:black;
}
#P57_76
{
left:22518.5px;bottom:44710.1px;color:black;
}
#P57_77
{
left:23298px;bottom:44710.1px;color:black;
}
#P57_78
{
left:23573.7px;bottom:44710.1px;color:black;
}
#P57_79
{
left:24482.8px;bottom:44710.1px;color:black;
}
#P57_80
{
left:4032px;bottom:43749.9px;color:black;
}
#P57_81
{
left:4380.03px;bottom:43749.9px;color:black;
}
#P57_82
{
left:4663.61px;bottom:43749.9px;color:black;
}
#P57_83
{
left:5170.37px;bottom:43749.9px;color:black;
}
#P57_84
{
left:5765.09px;bottom:43749.9px;color:black;
}
#P57_85
{
left:6699.26px;bottom:43749.9px;color:black;
}
#P57_86
{
left:7154.24px;bottom:43749.9px;color:black;
}
#P57_87
{
left:7531.9px;bottom:43749.9px;color:black;
}
#P57_88
{
left:8227.46px;bottom:43749.9px;color:black;
}
#P57_89
{
left:8822.14px;bottom:43749.9px;color:black;
}
#P57_90
{
left:9406.21px;bottom:43749.9px;color:black;
}
#P57_91
{
left:10381.2px;bottom:43749.9px;color:black;
}
#P57_92
{
left:11250.8px;bottom:43749.9px;color:black;
}
#P57_93
{
left:11773.6px;bottom:43749.9px;color:black;
}
#P57_94
{
left:12509.4px;bottom:43749.9px;color:black;
}
#P57_95
{
left:13346px;bottom:43749.9px;color:black;
}
#P57_96
{
left:14026.7px;bottom:43749.9px;color:black;
}
#P57_97
{
left:14335.1px;bottom:43749.9px;color:black;
}
#P57_98
{
left:14975.4px;bottom:43749.9px;color:black;
}
#P57_99
{
left:15258.9px;bottom:43749.9px;color:black;
}
#P57_100
{
left:15460.7px;bottom:43749.9px;color:black;
}
#P57_101
{
left:15740.9px;bottom:43749.9px;color:black;
}
#P57_102
{
left:15994.9px;bottom:43749.9px;color:black;
}
#P57_103
{
left:16775.2px;bottom:43749.9px;color:black;
}
#P57_104
{
left:17048px;bottom:43749.9px;color:black;
}
#P57_105
{
left:17331.5px;bottom:43749.9px;color:black;
}
#P57_106
{
left:17504.1px;bottom:43749.9px;color:black;
}
#P57_107
{
left:18051.1px;bottom:43749.9px;color:black;
}
#P57_108
{
left:18396.6px;bottom:43749.9px;color:black;
}
#P57_109
{
left:18782.3px;bottom:43749.9px;color:black;
}
#P57_110
{
left:19099.6px;bottom:43749.9px;color:black;
}
#P57_111
{
left:19383.2px;bottom:43749.9px;color:black;
}
#P57_112
{
left:19664.8px;bottom:43749.9px;color:black;
}
#P57_113
{
left:20158.7px;bottom:43749.9px;color:black;
}
#P57_114
{
left:21004.8px;bottom:43749.9px;color:black;
}
#P57_115
{
left:21697.6px;bottom:43749.9px;color:black;
}
#P57_116
{
left:22133.1px;bottom:43749.9px;color:black;
}
#P57_117
{
left:22478.5px;bottom:43749.9px;color:black;
}
#P57_118
{
left:4032px;bottom:42789.6px;color:black;
}
#P57_119
{
left:4270.56px;bottom:42789.6px;color:black;
}
#P57_120
{
left:4552.13px;bottom:42789.6px;color:black;
}
#P57_121
{
left:4905px;bottom:42789.6px;color:black;
}
#P57_122
{
left:5142.28px;bottom:42789.6px;color:black;
}
#P57_123
{
left:5491.65px;bottom:42789.6px;color:black;
}
#P57_124
{
left:5844.52px;bottom:42789.6px;color:black;
}
#P57_125
{
left:7347.71px;bottom:42789.6px;color:black;
}
#P57_126
{
left:4032px;bottom:31573.9px;color:black;
}
#P57_127
{
left:4538.69px;bottom:31594.7px;letter-spacing:6.7px;color:rgb(0,105,168);
}
#P57_128
{
left:4933.15px;bottom:31573.9px;color:black;
}
#P57_129
{
left:5312.16px;bottom:31573.9px;color:black;
}
#P57_130
{
left:5776.65px;bottom:31573.9px;color:black;
}
#P57_131
{
left:6436.54px;bottom:31573.9px;color:black;
}
#P57_132
{
left:6725.63px;bottom:31573.9px;color:black;
}
#P57_133
{
left:7821.7px;bottom:31573.9px;color:black;
}
#P57_134
{
left:8904.32px;bottom:31573.9px;color:black;
}
#P57_135
{
left:9184.64px;bottom:31573.9px;color:black;
}
#P57_136
{
left:9429.89px;bottom:31573.9px;color:black;
}
#P57_137
{
left:11882px;bottom:31573.9px;color:black;
}
#P57_138
{
left:12317.6px;bottom:31573.9px;color:black;
}
#P57_139
{
left:12663px;bottom:31573.9px;color:black;
}
#P57_140
{
left:13355.8px;bottom:31573.9px;color:black;
}
#P57_141
{
left:14343px;bottom:31573.9px;color:black;
}
#P57_142
{
left:15310.1px;bottom:31573.9px;color:black;
}
#P57_143
{
left:16344.9px;bottom:31573.9px;color:black;
}
#P57_144
{
left:16869.1px;bottom:31573.9px;color:black;
}
#P57_145
{
left:17375.2px;bottom:31573.9px;color:black;
}
#P57_146
{
left:18529px;bottom:31573.9px;color:black;
}
#P57_147
{
left:19516.2px;bottom:31573.9px;color:black;
}
#P57_148
{
left:19754.7px;bottom:31573.9px;color:black;
}
#P57_149
{
left:20331.3px;bottom:31573.9px;color:black;
}
#P57_150
{
left:21677.3px;bottom:31573.9px;color:black;
}
#P57_151
{
left:22318.3px;bottom:31573.9px;color:black;
}
#P57_152
{
left:22658.4px;bottom:31573.9px;color:black;
}
#P57_153
{
left:22954.9px;bottom:31573.9px;color:black;
}
#P57_154
{
left:23376.2px;bottom:31573.9px;color:black;
}
#P57_155
{
left:23577.3px;bottom:31573.9px;color:black;
}
#P57_156
{
left:24063.8px;bottom:31573.9px;color:black;
}
#P57_157
{
left:25227.8px;bottom:31573.9px;color:black;
}
#P57_158
{
left:5312.16px;bottom:30613.6px;color:black;
}
#P57_159
{
left:5587.81px;bottom:30613.6px;color:black;
}
#P57_160
{
left:6911.04px;bottom:30613.6px;color:black;
}
#P57_161
{
left:7570.94px;bottom:30613.6px;color:black;
}
#P57_162
{
left:8724.8px;bottom:30613.6px;color:black;
}
#P57_163
{
left:9019.14px;bottom:30613.6px;color:black;
}
#P57_164
{
left:10117.1px;bottom:30613.6px;color:black;
}
#P57_165
{
left:10641.3px;bottom:30613.6px;color:black;
}
#P57_166
{
left:11385.9px;bottom:30613.6px;color:black;
}
#P57_167
{
left:11586.9px;bottom:30613.6px;color:black;
}
#P57_168
{
left:12073.4px;bottom:30613.6px;color:black;
}
#P57_169
{
left:13037.1px;bottom:30613.6px;color:black;
}
#P57_170
{
left:13410.8px;bottom:30613.6px;color:black;
}
#P57_171
{
left:13691.1px;bottom:30613.6px;color:black;
}
#P57_172
{
left:14564px;bottom:30613.6px;color:black;
}
#P57_173
{
left:15704.4px;bottom:30613.6px;color:black;
}
#P57_174
{
left:15956.3px;bottom:30613.6px;color:black;
}
#P57_175
{
left:16942.1px;bottom:30613.6px;color:black;
}
#P57_176
{
left:17231.2px;bottom:30613.6px;color:black;
}
#P57_177
{
left:18080.6px;bottom:30613.6px;color:black;
}
#P57_178
{
left:18599.4px;bottom:30613.6px;color:black;
}
#P57_179
{
left:19376.4px;bottom:30613.6px;color:black;
}
#P57_180
{
left:19660px;bottom:30613.6px;color:black;
}
#P57_181
{
left:20153.9px;bottom:30613.6px;color:black;
}
#P57_182
{
left:20838.7px;bottom:30613.6px;color:black;
}
#P57_183
{
left:21825.8px;bottom:30613.6px;color:black;
}
#P57_184
{
left:22792.9px;bottom:30613.6px;color:black;
}
#P57_185
{
left:23827.7px;bottom:30613.6px;color:black;
}
#P57_186
{
left:24351.9px;bottom:30613.6px;color:black;
}
#P57_187
{
left:4032px;bottom:12511.9px;color:black;
}
#P57_188
{
left:4303.18px;bottom:12511.9px;color:black;
}
#P57_189
{
left:5527.12px;bottom:12511.9px;color:black;
}
#P57_190
{
left:6529.92px;bottom:12511.9px;color:black;
}
#P57_191
{
left:6662.4px;bottom:12511.9px;color:black;
}
#P57_192
{
left:7572.93px;bottom:12511.9px;color:black;
}
#P57_193
{
left:8506.11px;bottom:12511.9px;color:black;
}
#P57_194
{
left:9685.63px;bottom:12511.9px;color:black;
}
#P57_195
{
left:12746.3px;bottom:12511.9px;color:black;
}
#P57_196
{
left:15810.5px;bottom:12511.9px;color:black;
}
#P57_197
{
left:16377.2px;bottom:12511.9px;color:black;
}
#P57_198
{
left:19088.9px;bottom:12511.9px;color:black;
}
#P57_199
{
left:4317.54px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_200
{
left:5031.31px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_201
{
left:5416.9px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_202
{
left:5681.05px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_203
{
left:5923.12px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_204
{
left:6368.33px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_205
{
left:6552.96px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_206
{
left:6896.64px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_207
{
left:7182.14px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_208
{
left:7467.58px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_209
{
left:7836.29px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_210
{
left:8126.21px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_211
{
left:8368.26px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_212
{
left:8779.58px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_213
{
left:9041.54px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_214
{
left:9283.65px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_215
{
left:9750.14px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_216
{
left:10135.7px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_217
{
left:10415.4px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_218
{
left:10594.1px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_219
{
left:11005.5px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_220
{
left:11184.3px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_221
{
left:11594.2px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_222
{
left:11873.7px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_223
{
left:12052.5px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_224
{
left:12391px;bottom:39998.5px;letter-spacing:-11.1px;color:rgb(255,253,232);
}
#P57_225
{
left:4393.6px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_226
{
left:6176.19px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_227
{
left:7506.3px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_228
{
left:8046.14px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_229
{
left:11337.6px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_230
{
left:13735.3px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_231
{
left:16098.9px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_232
{
left:16387px;bottom:38981.3px;letter-spacing:22.4px;color:black;
}
#P57_233
{
left:4393.6px;bottom:38063px;color:black;
}
#P57_234
{
left:4995.71px;bottom:38063px;color:black;
}
#P57_235
{
left:5224.52px;bottom:38063px;color:black;
}
#P57_236
{
left:5456.46px;bottom:38063px;color:black;
}
#P57_237
{
left:5645.24px;bottom:38063px;color:black;
}
#P57_238
{
left:11337.7px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_239
{
left:11920.9px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_240
{
left:12364.3px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_241
{
left:12532.9px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_242
{
left:12948px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_243
{
left:13209.5px;bottom:38031px;color:black;
}
#P57_244
{
left:13329.2px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_245
{
left:14275.2px;bottom:38031px;color:black;
}
#P57_246
{
left:14394.9px;bottom:38031px;letter-spacing:-13.7px;color:black;
}
#P57_247
{
left:14890.2px;bottom:38031px;letter-spacing:-13.7px;color:black;
}
#P57_248
{
left:15011.5px;bottom:38031px;letter-spacing:-13.7px;color:black;
}
#P57_249
{
left:15132.5px;bottom:38031px;color:black;
}
#P57_250
{
left:15252.2px;bottom:38031px;letter-spacing:-19.1px;color:black;
}
#P57_251
{
left:15841.1px;bottom:38031px;letter-spacing:-19.1px;color:black;
}
#P57_252
{
left:15962.3px;bottom:38031px;letter-spacing:-19.1px;color:black;
}
#P57_253
{
left:16083.1px;bottom:38031px;color:black;
}
#P57_254
{
left:16202.8px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_255
{
left:17278.8px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_256
{
left:17892px;bottom:38031px;letter-spacing:-5.4px;color:black;
}
#P57_257
{
left:4393.6px;bottom:37071.4px;color:black;
}
#P57_258
{
left:4615.3px;bottom:37071.4px;color:black;
}
#P57_259
{
left:5216.28px;bottom:37071.4px;color:black;
}
#P57_260
{
left:5445.15px;bottom:37071.4px;color:black;
}
#P57_261
{
left:5670.43px;bottom:37071.4px;color:black;
}
#P57_262
{
left:5904.92px;bottom:37071.4px;color:black;
}
#P57_263
{
left:11337.7px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_264
{
left:11920.9px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_265
{
left:12364.3px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_266
{
left:12532.9px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_267
{
left:12948px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_268
{
left:13209.5px;bottom:37039.4px;color:black;
}
#P57_269
{
left:13329.2px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_270
{
left:14275.2px;bottom:37039.4px;color:black;
}
#P57_271
{
left:14394.9px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_272
{
left:14832.8px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_273
{
left:15126.6px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_274
{
left:15311px;bottom:37039.4px;letter-spacing:-5.4px;color:black;
}
#P57_275
{
left:15956.5px;bottom:37039.4px;color:black;
}
#P57_276
{
left:16076.2px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_277
{
left:16515px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_278
{
left:16784.8px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_279
{
left:16974.5px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_280
{
left:17246.9px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_281
{
left:17508.5px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_282
{
left:17705.9px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_283
{
left:17820px;bottom:37039.4px;letter-spacing:-13.7px;color:black;
}
#P57_284
{
left:4393.6px;bottom:36079.8px;color:black;
}
#P57_285
{
left:5833.24px;bottom:36079.8px;color:black;
}
#P57_286
{
left:11337.7px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_287
{
left:11920.9px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_288
{
left:12364.3px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_289
{
left:12532.9px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_290
{
left:12948px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_291
{
left:13209.5px;bottom:36047.8px;color:black;
}
#P57_292
{
left:13329.2px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_293
{
left:14275.2px;bottom:36047.8px;color:black;
}
#P57_294
{
left:14394.9px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_295
{
left:15119px;bottom:36047.8px;color:black;
}
#P57_296
{
left:15238.7px;bottom:36047.8px;letter-spacing:-13.7px;color:black;
}
#P57_297
{
left:15766.8px;bottom:36047.8px;letter-spacing:-13.7px;color:black;
}
#P57_298
{
left:16038.7px;bottom:36047.8px;letter-spacing:-13.7px;color:black;
}
#P57_299
{
left:16288.3px;bottom:36047.8px;letter-spacing:-13.7px;color:black;
}
#P57_300
{
left:16402.6px;bottom:36047.8px;letter-spacing:-13.7px;color:black;
}
#P57_301
{
left:16672.3px;bottom:36047.8px;letter-spacing:-13.7px;color:black;
}
#P57_302
{
left:16918.9px;bottom:36047.8px;color:black;
}
#P57_303
{
left:17038.6px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_304
{
left:17509.7px;bottom:36047.8px;color:black;
}
#P57_305
{
left:17629.4px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_306
{
left:18146.2px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_307
{
left:18389.9px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_308
{
left:18574.3px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_309
{
left:19122.6px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_310
{
left:19356px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_311
{
left:19476.5px;bottom:36047.8px;color:black;
}
#P57_312
{
left:19596.2px;bottom:36047.8px;letter-spacing:-5.4px;color:black;
}
#P57_313
{
left:4393.6px;bottom:35088.2px;color:black;
}
#P57_314
{
left:11337.7px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_315
{
left:11920.9px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_316
{
left:12364.3px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_317
{
left:12532.9px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_318
{
left:12948px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_319
{
left:13209.5px;bottom:35056.2px;color:black;
}
#P57_320
{
left:13329.2px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_321
{
left:14275.2px;bottom:35056.2px;color:black;
}
#P57_322
{
left:14394.9px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_323
{
left:15119px;bottom:35056.2px;color:black;
}
#P57_324
{
left:15238.7px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_325
{
left:15676.5px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_326
{
left:16771.6px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_327
{
left:17639.8px;bottom:35056.2px;color:black;
}
#P57_328
{
left:17759.5px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_329
{
left:18230.6px;bottom:35056.2px;color:black;
}
#P57_330
{
left:18350.3px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_331
{
left:18855.1px;bottom:35056.2px;color:black;
}
#P57_332
{
left:18974.8px;bottom:35056.2px;letter-spacing:-5.4px;color:black;
}
#P57_333
{
left:20672.8px;bottom:35056.2px;color:black;
}
#P57_334
{
left:11337.7px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_335
{
left:12967px;bottom:34416.4px;color:black;
}
#P57_336
{
left:13086.7px;bottom:34416.4px;letter-spacing:-10.9px;color:black;
}
#P57_337
{
left:13565.4px;bottom:34416.4px;color:black;
}
#P57_338
{
left:13685.1px;bottom:34416.4px;letter-spacing:-13.7px;color:black;
}
#P57_339
{
left:14213.1px;bottom:34416.4px;letter-spacing:-13.7px;color:black;
}
#P57_340
{
left:14485px;bottom:34416.4px;letter-spacing:-13.7px;color:black;
}
#P57_341
{
left:14734.8px;bottom:34416.4px;color:black;
}
#P57_342
{
left:14854.5px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_343
{
left:15578.6px;bottom:34416.4px;color:black;
}
#P57_344
{
left:15698.2px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_345
{
left:16215px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_346
{
left:16458.8px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_347
{
left:16643.1px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_348
{
left:17191.5px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_349
{
left:17424.9px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_350
{
left:17545.3px;bottom:34416.4px;color:black;
}
#P57_351
{
left:17665px;bottom:34416.4px;letter-spacing:-5.4px;color:black;
}
#P57_352
{
left:18724.2px;bottom:34416.4px;color:black;
}
#PageContainer57
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg057_00.jpg");background-repeat:no-repeat;background-size: 594px 751px; background-position: 109.19px 238.72px;
}
#ImageContainer057_00 {bottom:372.28px;left:109.19px;width:593.77px;height:750.60px;position:absolute;} #TextContainer57 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
