.tr1{ color:transparent;}
#P1_1
{
left:7568.38px;bottom:44367.2px;color:black;
}
#P1_2
{
left:28688px;bottom:44367.2px;color:black;
}
#imageContainerDivParent1
{
position:absolute;bottom:2.30294px;width:1049.22px;height:1362.42px;
}
#PageContainer1
{
width:1049.22px;height:1362.42px;background-image: url("../images/bg001_00.jpg");background-repeat:no-repeat;background-size: 1049px 1358px; background-position: right bottom;
}
#ImageContainer001_00 {bottom:-0.00px;right:0.00px;width:1049.22px;height:1357.81px;position:absolute;} #TextContainer1 {-webkit-transform:scale(0.026788);-o-transform:scale(0.026788);-ms-transform:scale(0.026788);-moz-transform:scale(0.026788);transform:scale(0.026788);}
