<div class="mediacontroller" align="left" style="postion:relative;border:4px solid red;">
	<div id="btnPlayPause" class="playStyleClass"></div>
	<div id="btnVolume" class="volume"></div>
				<div style="
				float: left;
				width: calc( 100% - 100px);
				height: 30px;
				">
					<!-- <div id="sliderWrapper" class="SliderHorizontalWrapperStyle" style="width: calc( 100% - 100px);"> -->

						<div id="slidingBar" class="SliderBarStyle" style=" width: calc( 100% - 20px);left: 10px; position: absolute;">

						</div>
						<div id="boundingBox" class="SliderBoundingBoxStyle">
							<!-- div id="thumbMin" class="SliderThumbStyle ui-draggable" style="position: absolute;"></div> -->
							<!-- <div id="thumbMax">

							</div> -->
							<!-- <div id="compBlocker" class="compBlocker"></div> -->
						</div>
					</div>
				</div>
			</div>