.tr54{ color:transparent;}
#P54_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P54_2
{
left:6531.07px;bottom:46442.8px;color:rgb(35,31,31);
}
#P54_3
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P54_4
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P54_5
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P54_6
{
left:7683.07px;bottom:45226.8px;color:rgb(35,31,31);
}
#P54_7
{
left:6531.07px;bottom:43882.8px;color:rgb(35,31,31);
}
#P54_8
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P54_9
{
left:6572.8px;bottom:31194.2px;color:rgb(35,63,142);
}
#P54_10
{
left:15719.4px;bottom:31595.4px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P54_11
{
left:6572.8px;bottom:29553.2px;color:rgb(35,31,31);
}
#P54_12
{
left:6572.8px;bottom:28337.2px;color:rgb(35,31,31);
}
#P54_13
{
left:6572.8px;bottom:27121.2px;color:rgb(35,31,31);
}
#P54_14
{
left:6572.8px;bottom:25443.4px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P54_15
{
left:6572.8px;bottom:24227px;letter-spacing:-0.4px;color:rgb(242,114,33);
}
#P54_16
{
left:6572.8px;bottom:22827.6px;color:rgb(237,28,35);
}
#P54_17
{
left:6572.8px;bottom:21489.2px;color:rgb(35,31,31);
}
#P54_18
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P54_19
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P54_20
{
left:4793.02px;bottom:31063.4px;color:rgb(255,242,0);
}
#PageContainer54
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg054.jpg");background-repeat:no-repeat;background-size: 982px 1169px; background-position: left bottom;
}
#ImageContainer54 {bottom:0.00px;left:0.00px;width:982.15px;height:1168.67px;position:absolute;} #TextContainer54 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}