.tr24{ color:transparent;}
#P24_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P24_2
{
left:6478.02px;bottom:41582.9px;color:rgb(35,31,31);
}
#P24_3
{
left:11156px;bottom:41582.9px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P24_4
{
left:6478.02px;bottom:40431.1px;color:rgb(35,31,31);
}
#P24_5
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P24_6
{
left:15847.3px;bottom:40436.2px;color:rgb(35,31,31);
}
#P24_7
{
left:20790.3px;bottom:40431.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P24_8
{
left:0px;letter-spacing:0px;margin-left:-222.8px;
}
#P24_9
{
left:0px;letter-spacing:0px;margin-left:11.8px;
}
#P24_10
{
left:6478.02px;bottom:39279.3px;color:rgb(35,31,31);
}
#P24_11
{
left:0px;letter-spacing:0px;margin-left:8.8px;
}
#P24_12
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P24_13
{
left:6478.02px;bottom:38127.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P24_14
{
left:0px;letter-spacing:0px;margin-left:-67.6px;
}
#P24_15
{
left:0px;letter-spacing:-0.1px;
}
#P24_16
{
left:6478.02px;bottom:36975.6px;color:rgb(35,31,31);
}
#P24_17
{
left:6478.02px;bottom:33549.1px;color:rgb(35,63,142);
}
#P24_18
{
left:6478.02px;bottom:31908.1px;color:rgb(35,31,31);
}
#P24_19
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P24_20
{
left:6478.02px;bottom:30564.1px;color:rgb(35,31,31);
}
#P24_21
{
left:0px;letter-spacing:0px;margin-left:264.8px;
}
#P24_22
{
left:0px;letter-spacing:0px;margin-left:-48.9px;
}
#P24_23
{
left:6478.02px;bottom:29220.1px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P24_24
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P24_25
{
left:6478.02px;bottom:27876.1px;color:rgb(35,31,31);
}
#P24_26
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_27
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P24_28
{
left:6478.02px;bottom:26532.1px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P24_29
{
left:0px;letter-spacing:0.5px;margin-left:-922.4px;
}
#P24_30
{
left:6478.02px;bottom:25188.1px;color:rgb(35,31,31);
}
#P24_31
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_32
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P24_33
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P24_34
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P24_35
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P24_36
{
left:6478.02px;bottom:23844.1px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P24_37
{
left:0px;letter-spacing:0.1px;margin-left:-922.4px;
}
#P24_38
{
left:6478.02px;bottom:22500.1px;color:rgb(35,31,31);
}
#P24_39
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_40
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P24_41
{
left:6478.02px;bottom:21156.1px;color:rgb(35,31,31);
}
#P24_42
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P24_43
{
left:6478.02px;bottom:19812.1px;color:rgb(35,31,31);
}
#P24_44
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_45
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P24_46
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P24_47
{
left:6478.02px;bottom:18468.1px;color:rgb(35,31,31);
}
#P24_48
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_49
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P24_50
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P24_51
{
left:6478.02px;bottom:17124.1px;color:rgb(35,31,31);
}
#P24_52
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_53
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P24_54
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P24_55
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P24_56
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P24_57
{
left:8910.02px;bottom:15774.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P24_58
{
left:0px;letter-spacing:0px;margin-left:-58.6px;
}
#P24_59
{
left:6478.02px;bottom:12237.1px;color:rgb(35,63,142);
}
#P24_60
{
left:11842px;bottom:12638.3px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P24_61
{
left:6478.02px;bottom:10134.3px;color:rgb(242,114,33);
}
#P24_62
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P24_63
{
left:0px;letter-spacing:0px;margin-left:-76.5px;
}
#P24_64
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P24_65
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P24_66
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P24_67
{
left:7630.34px;bottom:8917.89px;letter-spacing:1.7px;color:rgb(242,114,33);
}
#P24_68
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P24_69
{
left:0px;letter-spacing:-0.1px;
}
#P24_70
{
left:7630.34px;bottom:7701.5px;color:rgb(242,114,33);
}
#P24_71
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P24_72
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P24_73
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P24_74
{
left:7630.34px;bottom:6485.12px;color:rgb(242,114,33);
}
#P24_75
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P24_76
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P24_77
{
left:6478.02px;bottom:18468.1px;
}
#P24_78
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_79
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P24_80
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P24_81
{
left:6478.02px;bottom:17124.1px;
}
#P24_82
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P24_83
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P24_84
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P24_85
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P24_86
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P24_87
{
left:4714.25px;bottom:16892.3px;color:rgb(255,242,0);
}
#P24_88
{
left:6478.02px;bottom:40430.9px;
}
#P24_89
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P24_90
{
left:6478.02px;bottom:39278.9px;
}
#P24_91
{
left:0px;letter-spacing:0px;margin-left:8.8px;
}
#P24_92
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P24_93
{
left:6478.02px;bottom:38126.9px;letter-spacing:-0.1px;
}
#P24_94
{
left:0px;letter-spacing:0px;margin-left:-67.6px;
}
#P24_95
{
left:0px;letter-spacing:-0.1px;
}
#P24_96
{
left:6478.02px;bottom:36974.9px;
}
#P24_97
{
left:4776.06px;bottom:38249px;color:rgb(255,242,0);
}
#PageContainer24
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg024.jpg");background-repeat:no-repeat;background-size: 880px 1107px; background-position: left bottom;
}
#ImageContainer24 {bottom:0.00px;left:0.00px;width:880.15px;height:1106.58px;position:absolute;} #TextContainer24 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
