.tr102{ color:transparent;}
#P102_1
{
left:1631.74px;bottom:2306.95px;color:white;
}
#P102_2
{
left:15624.1px;bottom:33108.2px;letter-spacing:-4px;color:rgb(0,174,239);
}
#P102_3
{
left:20600.9px;bottom:32901.2px;color:rgb(35,63,142);
}
#P102_4
{
left:21832.8px;bottom:33302.5px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P102_5
{
left:8005.38px;bottom:44710.4px;color:rgb(35,63,142);
}
#P102_6
{
left:0px;letter-spacing:0px;margin-left:-174.8px;
}
#P102_7
{
left:4278.49px;bottom:44522.8px;color:rgb(237,28,35);
}
#P102_8
{
left:6478.53px;bottom:31402.7px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P102_9
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P102_10
{
left:6478.53px;bottom:30186.7px;color:rgb(35,31,31);
}
#P102_11
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P102_12
{
left:0px;letter-spacing:0px;margin-left:-28.8px;
}
#P102_13
{
left:6478.53px;bottom:28970.7px;color:rgb(35,31,31);
}
#P102_14
{
left:6478.53px;bottom:27306.7px;color:rgb(35,31,31);
}
#P102_15
{
left:0px;letter-spacing:0px;margin-left:496.8px;
}
#P102_16
{
left:0px;letter-spacing:0px;margin-left:-1.6px;
}
#P102_17
{
left:0px;letter-spacing:0px;margin-left:-8px;
}
#P102_18
{
left:7630.53px;bottom:26090.7px;color:rgb(35,31,31);
}
#P102_19
{
left:6478.53px;bottom:24426.7px;letter-spacing:978.4px;color:rgb(35,31,31);
}
#P102_20
{
left:0px;letter-spacing:0px;margin-left:-978.4px;
}
#P102_21
{
left:6478.53px;bottom:22762.7px;color:rgb(35,31,31);
}
#P102_22
{
left:0px;letter-spacing:0px;margin-left:407.2px;
}
#P102_23
{
left:0px;letter-spacing:0px;margin-left:-1.6px;
}
#P102_24
{
left:6478.53px;bottom:21098.7px;letter-spacing:978.4px;color:rgb(35,31,31);
}
#P102_25
{
left:0px;letter-spacing:0px;margin-left:-978.4px;
}
#P102_26
{
left:6478.53px;bottom:19434.7px;color:rgb(35,31,31);
}
#P102_27
{
left:0px;letter-spacing:0px;margin-left:388px;
}
#P102_28
{
left:0px;letter-spacing:0px;margin-left:-4px;
}
#P102_29
{
left:7630.53px;bottom:18218.7px;color:rgb(35,31,31);
}
#P102_30
{
left:7630.53px;bottom:17002.7px;color:rgb(35,31,31);
}
#P102_31
{
left:6478.53px;bottom:15338.7px;letter-spacing:978.4px;color:rgb(35,31,31);
}
#P102_32
{
left:0px;letter-spacing:0px;margin-left:-978.4px;
}
#P102_33
{
left:6478.53px;bottom:13674.7px;color:rgb(35,31,31);
}
#P102_34
{
left:0px;letter-spacing:0px;margin-left:350.4px;
}
#P102_35
{
left:14798.5px;bottom:14078.9px;color:rgb(35,31,31);
}
#P102_36
{
left:15020.3px;bottom:13618.2px;color:rgb(35,31,31);
}
#P102_37
{
left:15242.2px;bottom:13674.7px;color:rgb(35,31,31);
}
#P102_38
{
left:7630.27px;bottom:12458.7px;color:rgb(35,31,31);
}
#P102_39
{
left:6478.27px;bottom:10794.7px;letter-spacing:978.4px;color:rgb(35,31,31);
}
#P102_40
{
left:0px;letter-spacing:0px;margin-left:-978.4px;
}
#P102_41
{
left:6478.27px;bottom:9130.72px;color:rgb(35,31,31);
}
#P102_42
{
left:0px;letter-spacing:0px;margin-left:384px;
}
#P102_43
{
left:0px;letter-spacing:0px;
}
#P102_44
{
left:6478.27px;bottom:7466.72px;letter-spacing:978.4px;color:rgb(35,31,31);
}
#P102_45
{
left:0px;letter-spacing:0px;margin-left:-978.4px;
}
#P102_46
{
left:23185.7px;bottom:5998.41px;color:rgb(35,31,31);
}
#P102_47
{
left:23329.2px;bottom:5689.8px;letter-spacing:-8.4px;word-spacing:16.9px;color:rgb(35,31,31);
}
#P102_48
{
left:24014.8px;bottom:5689.8px;color:rgb(35,31,31);
}
#P102_49
{
left:23186.2px;bottom:4845.03px;letter-spacing:-20.8px;color:rgb(35,31,31);
}
#P102_50
{
left:0px;letter-spacing:0px;margin-left:20.8px;
}
#P102_51
{
left:23186.2px;bottom:4000.23px;color:rgb(35,31,31);
}
#P102_52
{
left:23186.2px;bottom:3155.43px;color:rgb(35,31,31);
}
#PageContainer102
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg102.jpg");background-repeat:no-repeat;background-size: 1065px 1378px; background-position: right bottom;
}
#ImageContainer102 {bottom:0.00px;right:0.00px;width:1064.88px;height:1378.07px;position:absolute;} #TextContainer102 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 444px;left: 344px;position: absolute;height: 50px;width: auto;}
.pdf_pos_1{top: 115px;left: 724px;position: absolute;height: 50px;width: auto;}