.tr112{ color:transparent;}
#P112_1
{
left:1631.74px;bottom:2306.95px;color:white;
}
#P112_2
{
left:6467.58px;bottom:44687.6px;letter-spacing:-182.4px;color:rgb(35,63,142);
}
#P112_3
{
left:0px;letter-spacing:-0.9px;margin-left:182.4px;
}
#P112_4
{
left:27498.6px;bottom:9263.43px;color:rgb(35,31,31);
}
#P112_5
{
left:27642px;bottom:8954.89px;color:rgb(35,31,31);
}
#P112_6
{
left:28859.9px;bottom:8954.89px;word-spacing:-7px;color:rgb(35,31,31);
}
#P112_7
{
left:27498.4px;bottom:8110.09px;color:rgb(35,31,31);
}
#P112_8
{
left:27498.6px;bottom:7573.83px;color:rgb(35,31,31);
}
#P112_9
{
left:27688.2px;bottom:7265.29px;color:rgb(35,31,31);
}
#P112_10
{
left:28552px;bottom:7265.29px;color:rgb(35,31,31);
}
#P112_11
{
left:27498.8px;bottom:6420.49px;color:rgb(35,31,31);
}
#P112_12
{
left:27498.8px;bottom:5575.69px;color:rgb(35,31,31);
}
#P112_13
{
left:27498.8px;bottom:4730.86px;color:rgb(35,31,31);
}
#P112_14
{
left:6478.53px;bottom:41147.3px;color:rgb(35,31,31);
}
#P112_15
{
left:6478.53px;bottom:39931.3px;color:rgb(35,31,31);
}
#P112_16
{
left:0px;letter-spacing:0px;margin-left:-55.2px;
}
#P112_17
{
left:6478.53px;bottom:38715.3px;color:rgb(35,31,31);
}
#P112_18
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P112_19
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P112_20
{
left:7364.03px;bottom:35581.2px;color:rgb(35,31,31);
}
#P112_21
{
left:7364.03px;bottom:34365.2px;color:rgb(35,31,31);
}
#P112_22
{
left:6478.4px;bottom:33149.2px;color:rgb(35,31,31);
}
#P112_23
{
left:6478.4px;bottom:31933.2px;color:rgb(35,31,31);
}
#P112_24
{
left:0px;letter-spacing:0px;margin-left:-96px;
}
#P112_25
{
left:6478.4px;bottom:30717.2px;color:rgb(35,31,31);
}
#P112_26
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P112_27
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P112_28
{
left:6478.4px;bottom:29501.2px;color:rgb(35,31,31);
}
#P112_29
{
left:6478.4px;bottom:27837.2px;color:rgb(35,31,31);
}
#P112_30
{
left:6478.4px;bottom:26615.6px;letter-spacing:-86.4px;color:rgb(35,31,31);
}
#P112_31
{
left:0px;letter-spacing:-0.5px;margin-left:86.4px;
}
#P112_32
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P112_33
{
left:6478.4px;bottom:24957.2px;color:rgb(35,31,31);
}
#P112_34
{
left:6478.4px;bottom:23741.2px;color:rgb(35,31,31);
}
#P112_35
{
left:6478.4px;bottom:22525.2px;color:rgb(35,31,31);
}
#P112_36
{
left:6478.4px;bottom:21309.2px;letter-spacing:-5px;color:rgb(35,31,31);
}
#P112_37
{
left:0px;letter-spacing:0px;margin-left:5px;
}
#P112_38
{
left:17027.1px;bottom:21659.1px;color:rgb(35,31,31);
}
#P112_39
{
left:17294.8px;bottom:21309.2px;color:rgb(35,31,31);
}
#P112_40
{
left:6478.85px;bottom:20093.2px;color:rgb(35,31,31);
}
#P112_41
{
left:6478.85px;bottom:18877.2px;color:rgb(35,31,31);
}
#P112_42
{
left:6478.85px;bottom:17213.2px;color:rgb(35,31,31);
}
#P112_43
{
left:6478.85px;bottom:15991.6px;letter-spacing:-86.4px;color:rgb(35,31,31);
}
#P112_44
{
left:0px;letter-spacing:-0.5px;margin-left:86.4px;
}
#P112_45
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P112_46
{
left:6478.85px;bottom:14333.2px;color:rgb(35,31,31);
}
#P112_47
{
left:6478.85px;bottom:13117.2px;color:rgb(35,31,31);
}
#P112_48
{
left:15468px;bottom:13467.1px;color:rgb(35,31,31);
}
#P112_49
{
left:15735.7px;bottom:13117.2px;color:rgb(35,31,31);
}
#P112_50
{
left:6478.91px;bottom:11901.2px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P112_51
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P112_52
{
left:6478.91px;bottom:10685.2px;color:rgb(35,31,31);
}
#P112_53
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P112_54
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P112_55
{
left:6478.91px;bottom:9469.25px;color:rgb(35,31,31);
}
#P112_56
{
left:6478.91px;bottom:8253.25px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P112_57
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P112_58
{
left:6478.91px;bottom:6589.25px;color:rgb(35,31,31);
}
#P112_59
{
left:6478.91px;bottom:5367.65px;letter-spacing:-86.4px;color:rgb(35,31,31);
}
#P112_60
{
left:0px;letter-spacing:-0.5px;margin-left:86.4px;
}
#P112_61
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P112_62
{
left:6478.53px;bottom:33931px;
}
#P112_63
{
left:7364.03px;bottom:33931px;
}
#PageContainer112
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg112.jpg");background-repeat:no-repeat;background-size: 1009px 1082px; background-position: left bottom;
}
#ImageContainer112 {bottom:0.00px;left:0.00px;width:1009.07px;height:1081.55px;position:absolute;} #TextContainer112 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.Animation_pos{top: 460px;left: 110px;position: absolute;height: 50px;width: auto;}
.pdf_pos{top: 115px;left: 642px;position: absolute;height: 50px;width: auto;}
.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.audio_pos{top: 381px;left: 111px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 381px;left: 111px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}
#audioPosition1{position:absolute; top: 381px;left: 111px; height:36px; width:36px; background-repeat: no-repeat;}