

.ani_1{top: 547px;left: 500px;position: absolute;height: 551px; width:531px;}

#curb{position: absolute;top: 1045px;left: 177px;height: 25px;width: 45px;background-repeat: no-repeat;opacity: 0;}
#hush{position: absolute;top: 402px;left: 300px;height: 25px;width: 52px;background-repeat: no-repeat;opacity: 0;}


.tr37{ color:transparent;}
#P37_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P37_2
{
left:6569.47px;bottom:46464.8px;color:rgb(35,31,31);
}
#P37_3
{
left:6569.47px;bottom:45248.8px;color:rgb(35,31,31);
}
#P37_4
{
left:6569.47px;bottom:44032.8px;color:rgb(35,31,31);
}
#P37_5
{
left:6569.47px;bottom:42368.8px;color:rgb(35,31,31);
}
#P37_6
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P37_7
{
left:6569.47px;bottom:41152.8px;color:rgb(35,31,31);
}
#P37_8
{
left:6569.47px;bottom:39488.8px;color:rgb(35,31,31);
}
#P37_9
{
left:0px;letter-spacing:0px;margin-left:-58.9px;
}
#P37_10
{
left:6569.47px;bottom:37824.8px;color:rgb(35,31,31);
}
#P37_11
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P37_12
{
left:6569.47px;bottom:36608.8px;color:rgb(35,31,31);
}
#P37_13
{
left:6569.47px;bottom:34944.8px;color:rgb(35,31,31);
}
#P37_14
{
left:13016.6px;bottom:35294.5px;color:rgb(35,31,31);
}
#P37_15
{
left:13284.3px;bottom:34944.8px;color:rgb(35,31,31);
}
#P37_16
{
left:6569.09px;bottom:33728.8px;color:rgb(35,31,31);
}
#P37_17
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P37_18
{
left:6569.09px;bottom:32064.8px;color:rgb(35,31,31);
}
#P37_19
{
left:6569.09px;bottom:30848.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P37_20
{
left:6569.09px;bottom:29632.8px;color:rgb(35,31,31);
}
#P37_21
{
left:0px;letter-spacing:0px;margin-left:-229.6px;
}
#P37_22
{
left:6569.09px;bottom:28416.8px;color:rgb(35,31,31);
}
#P37_23
{
left:6569.09px;bottom:27200.8px;color:rgb(35,31,31);
}
#P37_24
{
left:6569.09px;bottom:25984.8px;color:rgb(35,31,31);
}
#P37_25
{
left:6569.09px;bottom:24320.8px;color:rgb(35,31,31);
}
#P37_26
{
left:6569.09px;bottom:23104.8px;color:rgb(35,31,31);
}
#P37_27
{
left:6569.09px;bottom:21440.8px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P37_28
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P37_29
{
left:6569.09px;bottom:20224.8px;color:rgb(35,31,31);
}
#P37_30
{
left:6569.09px;bottom:19008.8px;color:rgb(35,31,31);
}
#P37_31
{
left:6569.09px;bottom:17792.8px;color:rgb(35,31,31);
}
#P37_32
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P37_33
{
left:6569.09px;bottom:16576.8px;color:rgb(35,31,31);
}
#P37_34
{
left:6569.09px;bottom:14912.8px;color:rgb(35,31,31);
}
#P37_35
{
left:6569.09px;bottom:13696.8px;color:rgb(35,31,31);
}
#P37_36
{
left:0px;letter-spacing:0px;margin-left:-110.4px;
}
#P37_37
{
left:6569.09px;bottom:12480.8px;color:rgb(35,31,31);
}
#P37_38
{
left:6569.09px;bottom:11264.8px;color:rgb(35,31,31);
}
#P37_39
{
left:8223.81px;bottom:11614.5px;color:rgb(35,31,31);
}
#P37_40
{
left:8491.58px;bottom:11264.8px;color:rgb(35,31,31);
}
#P37_41
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P37_42
{
left:6569.15px;bottom:9600.77px;letter-spacing:-73.6px;color:rgb(35,31,31);
}
#P37_43
{
left:0px;letter-spacing:-0.7px;margin-left:73.6px;
}
#P37_44
{
left:6569.15px;bottom:8384.77px;color:rgb(35,31,31);
}
#P37_45
{
left:6569.15px;bottom:7168.77px;color:rgb(35,31,31);
}
#P37_46
{
left:6569.15px;bottom:5504.77px;color:rgb(35,31,31);
}
#P37_47
{
left:6569.15px;bottom:4288.75px;color:rgb(35,31,31);
}
#P37_48
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P37_49
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P37_50
{
left:19061.2px;bottom:4638.55px;color:rgb(35,31,31);
}
#P37_51
{
left:19329px;bottom:4288.75px;color:rgb(35,31,31);
}
#P37_52
{
left:27476.2px;bottom:7866.5px;color:rgb(35,31,31);
}
#P37_53
{
left:27677.8px;bottom:7557.96px;color:rgb(35,31,31);
}
#P37_54
{
left:29238.5px;bottom:7557.96px;color:rgb(35,31,31);
}
#P37_55
{
left:27476.2px;bottom:7021.7px;color:rgb(35,31,31);
}
#P37_56
{
left:27702.7px;bottom:6713.16px;color:rgb(35,31,31);
}
#P37_57
{
left:29181.8px;bottom:6713.16px;color:rgb(35,31,31);
}
#P37_58
{
left:27476.2px;bottom:6176.9px;color:rgb(35,31,31);
}
#P37_59
{
left:27670.1px;bottom:5868.36px;color:rgb(35,31,31);
}
#P37_60
{
left:0px;letter-spacing:0px;
}
#P37_61
{
left:29948.3px;bottom:5868.36px;color:rgb(35,31,31);
}
#P37_62
{
left:27475.8px;bottom:5023.56px;color:rgb(35,31,31);
}
#PageContainer37
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg037.jpg");background-repeat:no-repeat;background-size: 553px 827px; background-position: right bottom;
}
#ImageContainer37 {bottom:0.00px;right:0.00px;width:552.52px;height:827.39px;position:absolute;} #TextContainer37 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
