.tr15{ color:transparent;}
#P15_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P15_2
{
left:6517.18px;bottom:46474.6px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P15_3
{
left:6517.18px;bottom:45258.6px;color:rgb(35,31,31);
}
#P15_4
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_5
{
left:6517.18px;bottom:44042.6px;color:rgb(35,31,31);
}
#P15_6
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P15_7
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P15_8
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_9
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P15_10
{
left:6517.18px;bottom:42826.6px;color:rgb(35,31,31);
}
#P15_11
{
left:6517.18px;bottom:41162.6px;color:rgb(35,31,31);
}
#P15_12
{
left:6517.18px;bottom:39946.6px;color:rgb(35,31,31);
}
#P15_13
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P15_14
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P15_15
{
left:6517.18px;bottom:38730.6px;color:rgb(35,31,31);
}
#P15_16
{
left:6517.18px;bottom:37066.6px;color:rgb(35,31,31);
}
#P15_17
{
left:6517.18px;bottom:35850.6px;color:rgb(35,31,31);
}
#P15_18
{
left:6517.18px;bottom:34634.6px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P15_19
{
left:6517.18px;bottom:33418.6px;color:rgb(35,31,31);
}
#P15_20
{
left:6517.18px;bottom:31754.6px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P15_21
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P15_22
{
left:6517.18px;bottom:30538.6px;color:rgb(35,31,31);
}
#P15_23
{
left:6517.18px;bottom:28874.6px;color:rgb(35,31,31);
}
#P15_24
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_25
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P15_26
{
left:6517.18px;bottom:27658.6px;color:rgb(35,31,31);
}
#P15_27
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_28
{
left:6517.18px;bottom:26442.6px;color:rgb(35,31,31);
}
#P15_29
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_30
{
left:6517.18px;bottom:25226.6px;color:rgb(35,31,31);
}
#P15_31
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P15_32
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P15_33
{
left:6517.18px;bottom:24010.6px;color:rgb(35,31,31);
}
#P15_34
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_35
{
left:32238.8px;bottom:24005px;color:rgb(35,31,31);
}
#P15_36
{
left:32468.4px;bottom:24010.6px;color:rgb(35,31,31);
}
#P15_37
{
left:6517.18px;bottom:22794.6px;color:rgb(35,31,31);
}
#P15_38
{
left:6517.18px;bottom:21578.6px;color:rgb(35,31,31);
}
#P15_39
{
left:9895.55px;bottom:21573px;color:rgb(35,31,31);
}
#P15_40
{
left:10354.8px;bottom:21578.6px;color:rgb(35,31,31);
}
#P15_41
{
left:6517.18px;bottom:18163.6px;color:rgb(35,63,142);
}
#P15_42
{
left:6517.18px;bottom:16522.6px;color:rgb(35,31,31);
}
#P15_43
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P15_44
{
left:6517.18px;bottom:15306.6px;color:rgb(35,31,31);
}
#P15_45
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P15_46
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P15_47
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_48
{
left:6517.18px;bottom:13962.6px;color:rgb(35,31,31);
}
#P15_49
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P15_50
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P15_51
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P15_52
{
left:6517.18px;bottom:12618.6px;color:rgb(35,31,31);
}
#P15_53
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P15_54
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P15_55
{
left:8949.18px;bottom:11397px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P15_56
{
left:0px;letter-spacing:0px;margin-left:-58.6px;
}
#P15_57
{
left:6517.18px;bottom:10058.6px;color:rgb(35,31,31);
}
#P15_58
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P15_59
{
left:6517.18px;bottom:8714.62px;color:rgb(35,31,31);
}
#P15_60
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P15_61
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P15_62
{
left:7669.18px;bottom:7498.62px;color:rgb(35,31,31);
}
#P15_63
{
left:10357.2px;bottom:5130.62px;letter-spacing:0.2px;word-spacing:570.4px;color:rgb(35,31,31);
}
#P15_64
{
left:4779.34px;bottom:18209.5px;color:rgb(255,242,0);
}
#PageContainer15
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg015.jpg");background-repeat:no-repeat;background-size: 971px 559px; background-position: right bottom;
}
#ImageContainer15 {bottom:0.00px;right:0.00px;width:971.14px;height:559.23px;position:absolute;} #TextContainer15 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}



#surveyed{position: absolute;top: 88px;left: 488px;height: 25px;width: 92px;background-repeat: no-repeat;opacity: 0;}


#Substituted{position: absolute;top: 698px;left: 392px;height: 25px;width: 115px;background-repeat: no-repeat;opacity: 0;}