.tr125{ color:transparent;}
#P125_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P125_2
{
left:6531.07px;bottom:44687.6px;color:rgb(35,63,142);
}
#P125_3
{
left:27437.8px;bottom:16374.1px;color:rgb(35,31,31);
}
#P125_4
{
left:27581.2px;bottom:16065.5px;color:rgb(35,31,31);
}
#P125_5
{
left:29967.8px;bottom:16065.5px;color:rgb(35,31,31);
}
#P125_6
{
left:27437.8px;bottom:15529.3px;color:rgb(35,31,31);
}
#P125_7
{
left:27627.3px;bottom:15220.7px;color:rgb(35,31,31);
}
#P125_8
{
left:29932.9px;bottom:15220.7px;color:rgb(35,31,31);
}
#P125_9
{
left:27437.8px;bottom:14684.5px;color:rgb(35,31,31);
}
#P125_10
{
left:27637.2px;bottom:14375.9px;color:rgb(35,31,31);
}
#P125_11
{
left:30242.7px;bottom:14375.9px;color:rgb(35,31,31);
}
#P125_12
{
left:27437.8px;bottom:13839.7px;color:rgb(35,31,31);
}
#P125_13
{
left:27656.6px;bottom:13531.1px;color:rgb(35,31,31);
}
#P125_14
{
left:30373.4px;bottom:13531.1px;color:rgb(35,31,31);
}
#P125_15
{
left:27437.7px;bottom:12686.3px;color:rgb(35,31,31);
}
#P125_16
{
left:27437.8px;bottom:12150.1px;color:rgb(35,31,31);
}
#P125_17
{
left:27639.4px;bottom:11841.5px;color:rgb(35,31,31);
}
#P125_18
{
left:31223.4px;bottom:11841.5px;color:rgb(35,31,31);
}
#P125_19
{
left:27437.8px;bottom:11305.3px;color:rgb(35,31,31);
}
#P125_20
{
left:27664.3px;bottom:10996.7px;color:rgb(35,31,31);
}
#P125_21
{
left:29468.6px;bottom:10996.7px;color:rgb(35,31,31);
}
#P125_22
{
left:27437.6px;bottom:10151.9px;color:rgb(35,31,31);
}
#P125_23
{
left:27437.8px;bottom:9615.69px;color:rgb(35,31,31);
}
#P125_24
{
left:27631.7px;bottom:9307.15px;color:rgb(35,31,31);
}
#P125_25
{
left:30169px;bottom:9307.15px;color:rgb(35,31,31);
}
#P125_26
{
left:27437.8px;bottom:8770.89px;color:rgb(35,31,31);
}
#P125_27
{
left:27663.6px;bottom:8462.35px;color:rgb(35,31,31);
}
#P125_28
{
left:27437.6px;bottom:7617.55px;color:rgb(35,31,31);
}
#P125_29
{
left:32486.7px;bottom:7617.55px;color:rgb(35,31,31);
}
#P125_30
{
left:27437.6px;bottom:6772.75px;color:rgb(35,31,31);
}
#P125_31
{
left:27437.6px;bottom:5927.95px;color:rgb(35,31,31);
}
#P125_32
{
left:27437.6px;bottom:5083.15px;color:rgb(35,31,31);
}
#P125_33
{
left:6542.02px;bottom:41147.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P125_34
{
left:6542.02px;bottom:39931.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P125_35
{
left:0px;letter-spacing:-0.3px;margin-left:0.5px;
}
#P125_36
{
left:6542.02px;bottom:38715.3px;color:rgb(35,31,31);
}
#P125_37
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P125_38
{
left:0px;letter-spacing:0px;margin-left:-20px;
}
#P125_39
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P125_40
{
left:17841.6px;bottom:35453.2px;color:rgb(35,31,31);
}
#P125_41
{
left:17841.6px;bottom:34083.6px;color:rgb(35,31,31);
}
#P125_42
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P125_43
{
left:13644px;bottom:32739.6px;color:rgb(35,31,31);
}
#P125_44
{
left:16354.2px;bottom:33089.5px;color:rgb(35,31,31);
}
#P125_45
{
left:16621.8px;bottom:32739.6px;color:rgb(35,31,31);
}
#P125_46
{
left:19593.8px;bottom:33089.5px;color:rgb(35,31,31);
}
#P125_47
{
left:19861.5px;bottom:32739.6px;color:rgb(35,31,31);
}
#P125_48
{
left:15392.7px;bottom:31395.6px;color:rgb(35,31,31);
}
#P125_49
{
left:14115.1px;bottom:30051.6px;color:rgb(35,31,31);
}
#P125_50
{
left:17304.1px;bottom:30401.5px;color:rgb(35,31,31);
}
#P125_51
{
left:17571.8px;bottom:30051.6px;color:rgb(35,31,31);
}
#P125_52
{
left:21095px;bottom:30401.5px;color:rgb(35,31,31);
}
#P125_53
{
left:21362.7px;bottom:30051.6px;color:rgb(35,31,31);
}
#P125_54
{
left:13921.1px;bottom:28707.6px;color:rgb(35,31,31);
}
#P125_55
{
left:25028px;bottom:29057.5px;color:rgb(35,31,31);
}
#P125_56
{
left:25295.7px;bottom:28707.6px;color:rgb(35,31,31);
}
#P125_57
{
left:27838.8px;bottom:29057.5px;color:rgb(35,31,31);
}
#P125_58
{
left:28106.6px;bottom:28707.6px;color:rgb(35,31,31);
}
#P125_59
{
left:12497px;bottom:27363.6px;color:rgb(35,31,31);
}
#P125_60
{
left:15584.8px;bottom:27713.5px;color:rgb(35,31,31);
}
#P125_61
{
left:15852.5px;bottom:27363.6px;color:rgb(35,31,31);
}
#P125_62
{
left:13267.7px;bottom:26019.6px;letter-spacing:-28.8px;color:rgb(35,31,31);
}
#P125_63
{
left:0px;letter-spacing:-0.1px;margin-left:28.8px;
}
#P125_64
{
left:28492.2px;bottom:26369.5px;color:rgb(35,31,31);
}
#P125_65
{
left:28759.9px;bottom:26019.6px;color:rgb(35,31,31);
}
#P125_66
{
left:16627.1px;bottom:24675.6px;color:rgb(35,31,31);
}
#P125_67
{
left:13211.1px;bottom:23011.6px;color:rgb(35,31,31);
}
#P125_68
{
left:24231.9px;bottom:23068.4px;color:rgb(35,31,31);
}
#P125_69
{
left:24720.6px;bottom:23111.4px;color:rgb(35,31,31);
}
#P125_70
{
left:26825.5px;bottom:23068.4px;color:rgb(35,31,31);
}
#P125_71
{
left:27692.7px;bottom:23111.4px;color:rgb(35,31,31);
}
#P125_72
{
left:15822px;bottom:33803px;
}
#PageContainer125
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg125.jpg");background-repeat:no-repeat;background-size: 864px 988px; background-position: right bottom;
}
#ImageContainer125 {bottom:0.00px;right:0.00px;width:863.94px;height:987.91px;position:absolute;} #TextContainer125 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 110px;left: 331px;position: absolute;height: 50px;width: auto;}
.Animation_pos{top: 455px;left: 308px;position: absolute;height: 50px;width: auto;}

.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.audio_pos{top: 387px;left: 375px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 387px;left: 375px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}
