.tr65{ color:transparent;}
#P65_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P65_2
{
left:6478.02px;bottom:46177.4px;color:rgb(35,63,142);
}
#P65_3
{
left:6478.02px;bottom:44536.4px;color:rgb(35,31,31);
}
#P65_4
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P65_5
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P65_6
{
left:6478.02px;bottom:43192.4px;color:rgb(35,31,31);
}
#P65_7
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P65_8
{
left:7630.02px;bottom:41976.4px;color:rgb(35,31,31);
}
#P65_9
{
left:14669.2px;bottom:41970.8px;color:rgb(35,31,31);
}
#P65_10
{
left:21731.6px;bottom:41976.4px;color:rgb(35,31,31);
}
#P65_11
{
left:6478.02px;bottom:40632.4px;color:rgb(35,31,31);
}
#P65_12
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P65_13
{
left:6478.02px;bottom:39288.4px;color:rgb(35,31,31);
}
#P65_14
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P65_15
{
left:7630.02px;bottom:38072.4px;color:rgb(35,31,31);
}
#P65_16
{
left:6478.02px;bottom:36728.4px;color:rgb(35,31,31);
}
#P65_17
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P65_18
{
left:6478.02px;bottom:35384.4px;color:rgb(35,31,31);
}
#P65_19
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P65_20
{
left:7630.02px;bottom:34168.4px;color:rgb(35,31,31);
}
#P65_21
{
left:7630.02px;bottom:32952.4px;color:rgb(35,31,31);
}
#P65_22
{
left:6478.02px;bottom:31608.4px;color:rgb(35,31,31);
}
#P65_23
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P65_24
{
left:6478.02px;bottom:28065.4px;color:rgb(35,63,142);
}
#P65_25
{
left:11842px;bottom:28466.6px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P65_26
{
left:6478.02px;bottom:25962.6px;color:rgb(242,114,33);
}
#P65_27
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P65_28
{
left:0px;letter-spacing:-0.5px;
}
#P65_29
{
left:6478.02px;bottom:24106.4px;color:rgb(242,114,33);
}
#P65_30
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P65_31
{
left:0px;letter-spacing:-0.6px;
}
#P65_32
{
left:0px;letter-spacing:0px;margin-left:-6px;
}
#P65_33
{
left:4724.65px;bottom:46074px;color:rgb(255,242,0);
}
#P65_34
{
left:4668.9px;bottom:28004.1px;color:rgb(255,242,0);
}
#PageContainer65
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg065.jpg");background-repeat:no-repeat;background-size: 973px 1319px; background-position: right bottom;
}
#ImageContainer65 {bottom:0.00px;right:0.00px;width:973.03px;height:1319.46px;position:absolute;} #TextContainer65 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}