.tr88{ color:transparent;}
#P88_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P88_2
{
left:6468.16px;bottom:45848.6px;color:rgb(35,63,142);
}
#P88_3
{
left:15468.9px;bottom:46249.9px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P88_4
{
left:6468.16px;bottom:43745.9px;color:rgb(242,114,33);
}
#P88_5
{
left:0px;letter-spacing:0px;margin-left:-89.9px;
}
#P88_6
{
left:0px;letter-spacing:0px;margin-left:10px;
}
#P88_7
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P88_8
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P88_9
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P88_10
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P88_11
{
left:6468.16px;bottom:42529.5px;color:rgb(242,114,33);
}
#P88_12
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P88_13
{
left:0px;letter-spacing:0px;margin-left:10px;
}
#P88_14
{
left:6468.16px;bottom:41313.1px;color:rgb(242,114,33);
}
#P88_15
{
left:6468.16px;bottom:39456.9px;color:rgb(242,114,33);
}
#P88_16
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P88_17
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P88_18
{
left:6468.16px;bottom:38063.7px;color:rgb(35,31,31);
}
#P88_19
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P88_20
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P88_21
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P88_22
{
left:8900.16px;bottom:36719.7px;word-spacing:170.4px;color:rgb(35,31,31);
}
#P88_23
{
left:0px;letter-spacing:0px;margin-left:196.8px;
}
#P88_24
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P88_25
{
left:0px;letter-spacing:0px;margin-left:2236.8px;
}
#P88_26
{
left:0px;letter-spacing:0px;margin-left:-115.2px;
}
#P88_27
{
left:0px;letter-spacing:0px;margin-left:2892.8px;
}
#P88_28
{
left:0px;letter-spacing:0px;margin-left:212.8px;
}
#P88_29
{
left:6468.16px;bottom:35375.7px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P88_30
{
left:0px;letter-spacing:0.6px;margin-left:-922.4px;
}
#P88_31
{
left:0px;letter-spacing:0px;margin-left:-250.2px;
}
#P88_32
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P88_33
{
left:8900.16px;bottom:34031.7px;word-spacing:170.4px;color:rgb(35,31,31);
}
#P88_34
{
left:0px;letter-spacing:0px;margin-left:196.8px;
}
#P88_35
{
left:0px;letter-spacing:0px;margin-left:2326.4px;
}
#P88_36
{
left:0px;letter-spacing:0px;margin-left:-115.2px;
}
#P88_37
{
left:0px;letter-spacing:0px;margin-left:3742.4px;
}
#P88_38
{
left:0px;letter-spacing:0px;margin-left:212.8px;
}
#P88_39
{
left:6468.16px;bottom:32687.7px;color:rgb(35,31,31);
}
#P88_40
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P88_41
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P88_42
{
left:8900.16px;bottom:31343.7px;color:rgb(35,31,31);
}
#P88_43
{
left:0px;letter-spacing:0px;margin-left:367.2px;
}
#P88_44
{
left:0px;letter-spacing:0px;margin-left:1380.8px;
}
#P88_45
{
left:0px;letter-spacing:0px;margin-left:55.2px;
}
#P88_46
{
left:0px;letter-spacing:0px;margin-left:526.4px;
}
#P88_47
{
left:0px;letter-spacing:0px;margin-left:383.2px;
}
#P88_48
{
left:6468.16px;bottom:29537.9px;color:rgb(242,114,33);
}
#P88_49
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P88_50
{
left:6468.16px;bottom:28143.7px;color:rgb(35,31,31);
}
#P88_51
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P88_52
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P88_53
{
left:6468.16px;bottom:26799.7px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P88_54
{
left:0px;letter-spacing:0.3px;margin-left:-922.4px;
}
#P88_55
{
left:6468.16px;bottom:25455.7px;color:rgb(35,31,31);
}
#P88_56
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P88_57
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P88_58
{
left:6468.16px;bottom:24111.7px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P88_59
{
left:0px;letter-spacing:0.1px;margin-left:-922.4px;
}
#P88_60
{
left:6468.16px;bottom:22767.7px;color:rgb(35,31,31);
}
#P88_61
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P88_62
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P88_63
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P88_64
{
left:6468.16px;bottom:19224.6px;color:rgb(35,63,142);
}
#P88_65
{
left:15614.8px;bottom:19625.9px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P88_66
{
left:6468.16px;bottom:17121.9px;letter-spacing:-38.3px;color:rgb(242,114,33);
}
#P88_67
{
left:0px;letter-spacing:-0.4px;margin-left:38.3px;
}
#P88_68
{
left:0px;letter-spacing:0px;margin-left:-61.2px;
}
#P88_69
{
left:0px;letter-spacing:-0.3px;
}
#P88_70
{
left:6468.16px;bottom:15905.5px;color:rgb(242,114,33);
}
#P88_71
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P88_72
{
left:0px;letter-spacing:-0.3px;
}
#P88_73
{
left:6468.16px;bottom:14689.1px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P88_74
{
left:6468.16px;bottom:12832.9px;letter-spacing:-33.3px;color:rgb(242,114,33);
}
#P88_75
{
left:0px;letter-spacing:0.2px;margin-left:33.3px;
}
#P88_76
{
left:6468.16px;bottom:19224.6px;
}
#P88_77
{
left:6468.16px;bottom:17121.9px;letter-spacing:-38.3px;
}
#P88_78
{
left:0px;letter-spacing:-0.4px;margin-left:38.3px;
}
#P88_79
{
left:0px;letter-spacing:0px;margin-left:-61.2px;
}
#P88_80
{
left:0px;letter-spacing:-0.3px;
}
#P88_81
{
left:4858.84px;bottom:19157.6px;color:rgb(255,242,0);
}
#P88_82
{
left:4780.29px;bottom:45867.7px;color:rgb(255,242,0);
}
#PageContainer88
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg088.jpg");background-repeat:no-repeat;background-size: 468px 1311px; background-position: left bottom;
}
#ImageContainer88 {bottom:0.00px;left:0.00px;width:468.09px;height:1311.31px;position:absolute;} #TextContainer88 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}


.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.audio_pos{top: 155px;left: 121px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 155px;left: 121px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}
#audioPosition1{position:absolute; top: 155px;left: 121px; height:36px; width:36px; background-repeat: no-repeat;}