.tr39{ color:transparent;}
#P39_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P39_2
{
left:6569.47px;bottom:18339.1px;color:rgb(35,63,142);
}
#P39_3
{
left:6569.47px;bottom:16698.1px;color:rgb(35,31,31);
}
#P39_4
{
left:6569.47px;bottom:15034.1px;letter-spacing:-3.4px;color:rgb(35,31,31);
}
#P39_5
{
left:0px;letter-spacing:0px;margin-left:3.4px;
}
#P39_6
{
left:10000.6px;bottom:15028.5px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#P39_7
{
left:12231px;bottom:15034.1px;color:rgb(35,31,31);
}
#P39_8
{
left:17631px;bottom:15028.5px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#P39_9
{
left:19861.4px;bottom:15034.1px;color:rgb(35,31,31);
}
#P39_10
{
left:6569.47px;bottom:13690.1px;letter-spacing:1.2px;color:rgb(35,31,31);
}
#P39_11
{
left:0px;letter-spacing:0px;margin-left:-60.4px;
}
#P39_12
{
left:0px;letter-spacing:-0.4px;
}
#P39_13
{
left:23519.9px;bottom:13684.5px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#P39_14
{
left:25750.3px;bottom:13690.1px;color:rgb(35,31,31);
}
#P39_15
{
left:26491.1px;bottom:13684.5px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#P39_16
{
left:28721.5px;bottom:13690.1px;color:rgb(35,31,31);
}
#P39_17
{
left:6569.47px;bottom:12346.1px;color:rgb(35,31,31);
}
#P39_18
{
left:18660.7px;bottom:12340.5px;color:rgb(35,31,31);
}
#P39_19
{
left:20423px;bottom:12346.1px;color:rgb(35,31,31);
}
#P39_20
{
left:22299.1px;bottom:12340.5px;color:rgb(35,31,31);
}
#P39_21
{
left:23732.7px;bottom:12346.1px;color:rgb(35,31,31);
}
#P39_22
{
left:6569.47px;bottom:11130.1px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P39_23
{
left:22707.8px;bottom:11124.5px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#P39_24
{
left:24938.2px;bottom:11130.1px;color:rgb(35,31,31);
}
#P39_25
{
left:6569.47px;bottom:9914.11px;color:rgb(35,31,31);
}
#P39_26
{
left:6569.47px;bottom:8236.29px;color:rgb(242,114,33);
}
#P39_27
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P39_28
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P39_29
{
left:6569.47px;bottom:7019.9px;color:rgb(242,114,33);
}
#P39_30
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P39_31
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P39_32
{
left:0px;letter-spacing:0px;margin-left:10px;
}
#P39_33
{
left:6569.47px;bottom:5626.11px;color:rgb(35,31,31);
}
#P39_34
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P39_35
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P39_36
{
left:17326.3px;bottom:5620.51px;color:rgb(35,31,31);
}
#P39_37
{
left:18712.6px;bottom:5626.11px;color:rgb(35,31,31);
}
#P39_38
{
left:6569.47px;bottom:4282.11px;color:rgb(35,31,31);
}
#P39_39
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P39_40
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P39_41
{
left:11119.9px;bottom:4276.51px;color:rgb(35,31,31);
}
#P39_42
{
left:12506.2px;bottom:4282.11px;color:rgb(35,31,31);
}
#P39_43
{
left:8538.94px;bottom:45828.8px;color:rgb(35,31,31);
}
#P39_44
{
left:17736.7px;bottom:45828.8px;color:rgb(35,31,31);
}
#P39_45
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P39_46
{
left:8538.94px;bottom:43934.3px;color:rgb(35,31,31);
}
#P39_47
{
left:17736.7px;bottom:43934.3px;color:rgb(35,31,31);
}
#P39_48
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P39_49
{
left:8538.94px;bottom:42039.9px;color:rgb(35,31,31);
}
#P39_50
{
left:17736.7px;bottom:42039.9px;color:rgb(35,31,31);
}
#P39_51
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P39_52
{
left:8538.94px;bottom:40145.4px;color:rgb(35,31,31);
}
#P39_53
{
left:17736.7px;bottom:40145.4px;color:rgb(35,31,31);
}
#P39_54
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P39_55
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P39_56
{
left:8538.94px;bottom:37954.3px;color:rgb(35,31,31);
}
#P39_57
{
left:17736.7px;bottom:37954.3px;color:rgb(35,31,31);
}
#P39_58
{
left:0px;letter-spacing:0px;margin-left:156.8px;
}
#P39_59
{
left:6542.21px;bottom:34976.9px;color:rgb(242,114,33);
}
#P39_60
{
left:0px;letter-spacing:0px;margin-left:-79.9px;
}
#P39_61
{
left:0px;letter-spacing:-0.3px;
}
#P39_62
{
left:7694.53px;bottom:33760.5px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P39_63
{
left:7917.7px;bottom:31988.4px;color:rgb(35,31,31);
}
#P39_64
{
left:0px;letter-spacing:0px;margin-left:15072.6px;
}
#P39_65
{
left:8494.02px;bottom:30512.8px;color:rgb(35,31,31);
}
#P39_66
{
left:0px;letter-spacing:0px;margin-left:5470.7px;
}
#P39_67
{
left:8494.02px;bottom:28939.2px;color:rgb(35,31,31);
}
#P39_68
{
left:0px;letter-spacing:0px;margin-left:4911.3px;
}
#P39_69
{
left:8494.02px;bottom:27327.4px;color:rgb(35,31,31);
}
#P39_70
{
left:0px;letter-spacing:0px;margin-left:5107.1px;
}
#P39_71
{
left:8494.02px;bottom:25418.9px;color:rgb(35,31,31);
}
#P39_72
{
left:0px;letter-spacing:0px;margin-left:5550.9px;
}
#P39_73
{
left:8494.02px;bottom:23790.1px;color:rgb(35,31,31);
}
#P39_74
{
left:0px;letter-spacing:0px;margin-left:5644.4px;
}
#P39_75
{
left:16051.3px;bottom:22638.3px;color:rgb(35,31,31);
}
#P39_76
{
left:8419.65px;bottom:45622.1px;color:rgb(35,31,31);
}
#P39_77
{
left:4737.73px;bottom:18288.4px;color:rgb(255,242,0);
}
#PageContainer39
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg039.jpg");background-repeat:no-repeat;background-size: 971px 1301px; background-position: right bottom;
}
#ImageContainer39 {bottom:0.00px;right:0.00px;width:971.14px;height:1301.43px;position:absolute;} #TextContainer39 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}