.tr84{ color:transparent;}
#P84_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P84_2
{
left:6478.02px;bottom:46212.5px;color:rgb(35,31,31);
}
#P84_3
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P84_4
{
left:6478.02px;bottom:44868.5px;word-spacing:-1.6px;color:rgb(35,31,31);
}
#P84_5
{
left:0px;letter-spacing:0px;margin-left:235.2px;
}
#P84_6
{
left:7630.02px;bottom:43652.5px;color:rgb(35,31,31);
}
#P84_7
{
left:6478.02px;bottom:42308.5px;color:rgb(35,31,31);
}
#P84_8
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P84_9
{
left:6478.02px;bottom:40964.5px;color:rgb(35,31,31);
}
#P84_10
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P84_11
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P84_12
{
left:6478.02px;bottom:37421.5px;color:rgb(35,63,142);
}
#P84_13
{
left:16490.2px;bottom:37822.7px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P84_14
{
left:6478.02px;bottom:35780.5px;color:rgb(35,31,31);
}
#P84_15
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P84_16
{
left:6478.02px;bottom:34436.5px;color:rgb(35,31,31);
}
#P84_17
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P84_18
{
left:7630.02px;bottom:33220.5px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P84_19
{
left:6478.02px;bottom:29677.5px;color:rgb(35,63,142);
}
#P84_20
{
left:6478.02px;bottom:27574.7px;color:rgb(242,114,33);
}
#P84_21
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P84_22
{
left:0px;letter-spacing:-1.3px;
}
#P84_23
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P84_24
{
left:7630.34px;bottom:26358.3px;letter-spacing:-0.3px;color:rgb(242,114,33);
}
#P84_25
{
left:7630.34px;bottom:25142px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P84_26
{
left:7630.34px;bottom:23925.6px;color:rgb(242,114,33);
}
#P84_27
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P84_28
{
left:0px;letter-spacing:0px;
}
#P84_29
{
left:0px;letter-spacing:0px;margin-left:-89.9px;
}
#P84_30
{
left:0px;letter-spacing:0.1px;
}
#P84_31
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P84_32
{
left:0px;letter-spacing:0px;
}
#P84_33
{
left:7630.34px;bottom:22709.2px;color:rgb(242,114,33);
}
#P84_34
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P84_35
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P84_36
{
left:7630.02px;bottom:21316.5px;word-spacing:208px;color:rgb(35,31,31);
}
#P84_37
{
left:9398.02px;bottom:21316.5px;color:rgb(35,31,31);
}
#P84_38
{
left:0px;letter-spacing:0px;margin-left:48px;
}
#P84_39
{
left:0px;letter-spacing:0px;margin-left:2860px;
}
#P84_40
{
left:0px;letter-spacing:0px;margin-left:145.6px;
}
#P84_41
{
left:0px;letter-spacing:0px;margin-left:2053.6px;
}
#P84_42
{
left:0px;letter-spacing:0px;margin-left:163.2px;
}
#P84_43
{
left:7630.02px;bottom:19972.5px;color:rgb(35,31,31);
}
#P84_44
{
left:0px;letter-spacing:0px;margin-left:132px;
}
#P84_45
{
left:0px;letter-spacing:0px;margin-left:682.4px;
}
#P84_46
{
left:0px;letter-spacing:0px;margin-left:219.2px;
}
#P84_47
{
left:6478.02px;bottom:17988.5px;color:rgb(35,31,31);
}
#P84_48
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P84_49
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P84_50
{
left:6478.02px;bottom:16324.5px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P84_51
{
left:0px;letter-spacing:0.3px;margin-left:-922.4px;
}
#P84_52
{
left:6478.02px;bottom:14660.5px;color:rgb(35,31,31);
}
#P84_53
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P84_54
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P84_55
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P84_56
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P84_57
{
left:6478.02px;bottom:12996.5px;color:rgb(35,31,31);
}
#P84_58
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P84_59
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P84_60
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P84_61
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P84_62
{
left:6478.02px;bottom:11332.5px;color:rgb(35,31,31);
}
#P84_63
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P84_64
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P84_65
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P84_66
{
left:6478.02px;bottom:9668.54px;color:rgb(35,31,31);
}
#P84_67
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P84_68
{
left:0px;letter-spacing:0px;margin-left:-20px;
}
#P84_69
{
left:6478.02px;bottom:7862.72px;color:rgb(242,114,33);
}
#P84_70
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P84_71
{
left:0px;letter-spacing:-0.3px;
}
#P84_72
{
left:7630.34px;bottom:6646.34px;color:rgb(242,114,33);
}
#P84_73
{
left:8590.02px;bottom:4292.54px;word-spacing:883.2px;color:rgb(35,31,31);
}
#P84_74
{
left:0px;letter-spacing:0px;margin-left:39.2px;
}
#P84_75
{
left:0px;letter-spacing:0px;margin-left:2604px;
}
#P84_76
{
left:0px;letter-spacing:0px;margin-left:1957.6px;
}
#P84_77
{
left:8590.02px;bottom:2948.54px;word-spacing:924.8px;color:rgb(35,31,31);
}
#P84_78
{
left:0px;letter-spacing:0px;margin-left:196.8px;
}
#P84_79
{
left:0px;letter-spacing:0px;margin-left:1544.8px;
}
#P84_80
{
left:0px;letter-spacing:0px;margin-left:142.4px;
}
#P84_81
{
left:4779.34px;bottom:37357.3px;color:rgb(255,242,0);
}
#P84_82
{
left:4583.02px;bottom:29583.6px;color:rgb(255,242,0);
}
#P84_83
{
left:10059.5px;bottom:17809.9px;color:rgb(35,31,31);
}
#PageContainer84
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg084.jpg");background-repeat:no-repeat;background-size: 842px 1080px; background-position: left bottom;
}
#ImageContainer84 {bottom:0.00px;left:0.00px;width:842.03px;height:1079.79px;position:absolute;} #TextContainer84 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}