.tr128{ color:transparent;}
#P128_1
{
left:1631.74px;bottom:2306.95px;color:white;
}
#P128_2
{
left:6531.07px;bottom:46437.8px;letter-spacing:0.2px;color:rgb(242,114,33);
}
#P128_3
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P128_4
{
left:9210.3px;bottom:45043.6px;color:rgb(35,31,31);
}
#P128_5
{
left:21559.7px;bottom:45393.4px;color:rgb(35,31,31);
}
#P128_6
{
left:21827.4px;bottom:45043.6px;color:rgb(35,31,31);
}
#P128_7
{
left:9210.62px;bottom:43827.6px;color:rgb(35,31,31);
}
#P128_8
{
left:6531.39px;bottom:42163.6px;color:rgb(35,31,31);
}
#P128_9
{
left:6531.39px;bottom:40947.6px;color:rgb(35,31,31);
}
#P128_10
{
left:14463px;bottom:41297.4px;color:rgb(35,31,31);
}
#P128_11
{
left:14730.7px;bottom:40947.6px;color:rgb(35,31,31);
}
#P128_12
{
left:6530.69px;bottom:39731.6px;letter-spacing:-249.6px;color:rgb(35,31,31);
}
#P128_13
{
left:0px;letter-spacing:0px;margin-left:268.7px;
}
#P128_14
{
left:0px;letter-spacing:0px;
}
#P128_15
{
left:6530.69px;bottom:38515.6px;color:rgb(35,31,31);
}
#P128_16
{
left:6530.69px;bottom:36851.6px;color:rgb(35,31,31);
}
#P128_17
{
left:6530.69px;bottom:35635.6px;color:rgb(35,31,31);
}
#P128_18
{
left:6530.69px;bottom:34419.6px;color:rgb(35,31,31);
}
#P128_19
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P128_20
{
left:6530.69px;bottom:33203.6px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P128_21
{
left:6530.69px;bottom:31987.6px;color:rgb(35,31,31);
}
#P128_22
{
left:6530.69px;bottom:30771.6px;color:rgb(35,31,31);
}
#P128_23
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P128_24
{
left:6530.69px;bottom:29107.6px;color:rgb(35,31,31);
}
#P128_25
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P128_26
{
left:6530.69px;bottom:27891.6px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P128_27
{
left:6530.69px;bottom:26675.6px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P128_28
{
left:6530.69px;bottom:25459.6px;color:rgb(35,31,31);
}
#P128_29
{
left:6530.69px;bottom:24243.6px;color:rgb(35,31,31);
}
#P128_30
{
left:27106.4px;bottom:37614.8px;color:rgb(35,31,31);
}
#P128_31
{
left:27249.9px;bottom:37306.2px;color:rgb(35,31,31);
}
#P128_32
{
left:31197.2px;bottom:37306.2px;color:rgb(35,31,31);
}
#P128_33
{
left:27106.2px;bottom:36461.4px;color:rgb(35,31,31);
}
#P128_34
{
left:0px;letter-spacing:0px;
}
#P128_35
{
left:27106.4px;bottom:35925.2px;color:rgb(35,31,31);
}
#P128_36
{
left:27296px;bottom:35616.6px;color:rgb(35,31,31);
}
#P128_37
{
left:27106.6px;bottom:34771.8px;color:rgb(35,31,31);
}
#P128_38
{
left:28930.7px;bottom:34771.8px;color:rgb(35,31,31);
}
#P128_39
{
left:27106.6px;bottom:33927px;color:rgb(35,31,31);
}
#P128_40
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P128_41
{
left:6531.07px;bottom:43393.3px;
}
#PageContainer128
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg128.jpg");background-repeat:no-repeat;background-size: 1065px 1278px; background-position: right bottom;
}
#ImageContainer128 {bottom:0.00px;right:0.00px;width:1064.88px;height:1277.72px;position:absolute;} #TextContainer128 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}


.img_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.pdf_pos{top: -45079px;left: 19245px;position: absolute;height: 1840px;width: auto;}
.video_pos{top: 100px;left: 850px;position: absolute;height: 50px;width: auto;}
.audio_pos{top: 134px;left: 120px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 134px;left: 120px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}

#residential{position: absolute;
top: 205px;
left: 506px;
height: 25px;
width: 109px;
background-repeat: no-repeat;opacity: 0;
}
#predominantly{position: absolute;
top: 239px;
left: 176px;
height: 25px;
width: 153px;
background-repeat: no-repeat;opacity: 0;
}
#folks{position: absolute;top: 271px;left: 723px;height: 25px;width: 50px; background-repeat: no-repeat;opacity: 0;
}
#doughnuts{position: absolute;
top: 483px;
left: 364px;
height: 25px;
width: 113px;
background-repeat: no-repeat;opacity: 0;
}
#forbidden{position: absolute;
top: 559px;
left: 455px;
height: 25px;
width: 101px;
background-repeat: no-repeat;opacity: 0;
}

