.tr107{ color:transparent;}
#P107_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P107_2
{
left:6531.07px;bottom:46433.5px;color:rgb(242,114,33);
}
#P107_3
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P107_4
{
left:0px;letter-spacing:-0.2px;
}
#P107_5
{
left:7683.39px;bottom:45217.2px;letter-spacing:0.4px;color:rgb(242,114,33);
}
#P107_6
{
left:6531.07px;bottom:43823.4px;color:rgb(35,31,31);
}
#P107_7
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P107_8
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P107_9
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P107_10
{
left:6531.07px;bottom:42479.4px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P107_11
{
left:0px;letter-spacing:0.3px;margin-left:-922.4px;
}
#P107_12
{
left:0px;letter-spacing:0px;margin-left:-59.5px;
}
#P107_13
{
left:6531.07px;bottom:41135.4px;color:rgb(35,31,31);
}
#P107_14
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P107_15
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P107_16
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P107_17
{
left:6531.07px;bottom:39791.4px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P107_18
{
left:0px;letter-spacing:0.1px;margin-left:-922.4px;
}
#P107_19
{
left:6531.07px;bottom:38447.4px;color:rgb(35,31,31);
}
#P107_20
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P107_21
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P107_22
{
left:8963.07px;bottom:37231.4px;color:rgb(35,31,31);
}
#P107_23
{
left:6531.07px;bottom:33816.3px;color:rgb(35,63,142);
}
#P107_24
{
left:6531.07px;bottom:32175.4px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P107_25
{
left:0px;letter-spacing:0px;margin-left:-0.7px;
}
#P107_26
{
left:8067.07px;bottom:29614.6px;color:rgb(35,31,31);
}
#P107_27
{
left:10040.6px;bottom:29964.7px;color:rgb(35,31,31);
}
#P107_28
{
left:10317.2px;bottom:29615.4px;color:rgb(35,31,31);
}
#P107_29
{
left:11991.6px;bottom:29651.7px;color:rgb(35,31,31);
}
#P107_30
{
left:12319.6px;bottom:29615.4px;color:rgb(35,31,31);
}
#P107_31
{
left:16468.4px;bottom:29614.6px;color:rgb(35,31,31);
}
#P107_32
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P107_33
{
left:8066.82px;bottom:28398.6px;color:rgb(35,31,31);
}
#P107_34
{
left:8541.18px;bottom:28399.4px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P107_35
{
left:18086.8px;bottom:28393.8px;letter-spacing:-14.7px;color:rgb(35,31,31);
}
#P107_36
{
left:0px;letter-spacing:-0.5px;margin-left:14.7px;
}
#P107_37
{
left:28940.4px;bottom:28399.4px;color:rgb(35,31,31);
}
#P107_38
{
left:29399.6px;bottom:28398.6px;color:rgb(35,31,31);
}
#P107_39
{
left:29874px;bottom:28399.4px;color:rgb(35,31,31);
}
#P107_40
{
left:8066.82px;bottom:27183.4px;color:rgb(35,31,31);
}
#P107_41
{
left:12035.6px;bottom:27177.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P107_42
{
left:21990px;bottom:27183.4px;color:rgb(35,31,31);
}
#P107_43
{
left:22449.2px;bottom:27182.6px;color:rgb(35,31,31);
}
#P107_44
{
left:22923.6px;bottom:27183.4px;letter-spacing:2.4px;color:rgb(35,31,31);
}
#P107_45
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P107_46
{
left:0px;letter-spacing:1px;
}
#P107_47
{
left:29310px;bottom:27177.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P107_48
{
left:8066.82px;bottom:25961.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P107_49
{
left:12313.2px;bottom:25967.4px;color:rgb(35,31,31);
}
#P107_50
{
left:12772.4px;bottom:25966.6px;color:rgb(35,31,31);
}
#P107_51
{
left:13246.8px;bottom:25967.4px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P107_52
{
left:21926px;bottom:25961.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P107_53
{
left:0px;letter-spacing:0px;margin-left:-43.7px;
}
#P107_54
{
left:0px;letter-spacing:-0.8px;
}
#P107_55
{
left:8066.82px;bottom:24745.8px;color:rgb(35,31,31);
}
#P107_56
{
left:10782.8px;bottom:24751.4px;color:rgb(35,31,31);
}
#P107_57
{
left:11012.4px;bottom:24750.6px;color:rgb(35,31,31);
}
#P107_58
{
left:11486.8px;bottom:24751.4px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P107_59
{
left:21782.8px;bottom:24745.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P107_60
{
left:32270px;bottom:24751.4px;color:rgb(35,31,31);
}
#P107_61
{
left:6530.82px;bottom:22191.4px;color:rgb(35,31,31);
}
#P107_62
{
left:8585.22px;bottom:22185.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P107_63
{
left:10265.2px;bottom:22191.4px;color:rgb(35,31,31);
}
#P107_64
{
left:6530.82px;bottom:20847.4px;color:rgb(35,31,31);
}
#P107_65
{
left:27795.6px;bottom:20841.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P107_66
{
left:29475.6px;bottom:20847.4px;color:rgb(35,31,31);
}
#P107_67
{
left:6530.82px;bottom:19497.8px;color:rgb(237,28,35);
}
#P107_68
{
left:10754.8px;bottom:19503.4px;word-spacing:436.8px;color:rgb(35,31,31);
}
#P107_69
{
left:12821.2px;bottom:19646.7px;color:rgb(35,31,31);
}
#P107_70
{
left:13714px;bottom:19503.4px;color:rgb(35,31,31);
}
#P107_71
{
left:6530.82px;bottom:18159.4px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P107_72
{
left:25210.8px;bottom:18153.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P107_73
{
left:27510px;bottom:18159.4px;color:rgb(35,31,31);
}
#P107_74
{
left:29386px;bottom:18153.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P107_75
{
left:31998px;bottom:18159.4px;color:rgb(35,31,31);
}
#P107_76
{
left:6530.82px;bottom:16943.4px;color:rgb(35,31,31);
}
#P107_77
{
left:6530.82px;bottom:15279.4px;color:rgb(35,31,31);
}
#P107_78
{
left:12100.4px;bottom:15273.8px;color:rgb(35,31,31);
}
#P107_79
{
left:15870.8px;bottom:15279.4px;color:rgb(35,31,31);
}
#P107_80
{
left:17746.8px;bottom:15273.8px;color:rgb(35,31,31);
}
#P107_81
{
left:20842.8px;bottom:15279.4px;color:rgb(35,31,31);
}
#P107_82
{
left:25749.2px;bottom:15273.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P107_83
{
left:31446px;bottom:15279.4px;color:rgb(35,31,31);
}
#P107_84
{
left:31905.2px;bottom:15273.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P107_85
{
left:33602px;bottom:15279.4px;color:rgb(35,31,31);
}
#P107_86
{
left:6530.82px;bottom:14057.8px;color:rgb(35,31,31);
}
#P107_87
{
left:15762px;bottom:14063.4px;color:rgb(35,31,31);
}
#P107_88
{
left:17638px;bottom:14057.8px;color:rgb(35,31,31);
}
#P107_89
{
left:19314px;bottom:14063.4px;color:rgb(35,31,31);
}
#P107_90
{
left:19543.6px;bottom:14057.8px;color:rgb(35,31,31);
}
#P107_91
{
left:22639.6px;bottom:14063.4px;color:rgb(35,31,31);
}
#P107_92
{
left:6530.82px;bottom:12847.4px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P107_93
{
left:0px;letter-spacing:0px;margin-left:-59.4px;
}
#P107_94
{
left:15298.8px;bottom:10479.4px;color:rgb(35,31,31);
}
#P107_95
{
left:20230px;bottom:10515.7px;color:rgb(35,31,31);
}
#P107_96
{
left:20868.4px;bottom:10479.4px;color:rgb(35,31,31);
}
#P107_97
{
left:21572.4px;bottom:10515.7px;color:rgb(35,31,31);
}
#P107_98
{
left:23143.6px;bottom:10479.4px;color:rgb(35,31,31);
}
#P107_99
{
left:23780.4px;bottom:10473.8px;color:rgb(35,31,31);
}
#P107_100
{
left:15298.8px;bottom:9135.36px;color:rgb(35,31,31);
}
#P107_101
{
left:17784.4px;bottom:9129.76px;color:rgb(35,31,31);
}
#P107_102
{
left:4726.76px;bottom:33845.2px;color:rgb(255,242,0);
}
#PageContainer107
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg107.jpg");background-repeat:no-repeat;background-size: 972px 984px; background-position: right bottom;
}
#ImageContainer107 {bottom:0.00px;right:0.00px;width:971.59px;height:984.46px;position:absolute;} #TextContainer107 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}