.tr19{ color:transparent;}
#P19_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P19_2
{
left:17475.1px;bottom:46434.4px;word-spacing:-165.6px;color:rgb(35,31,31);
}
#P19_3
{
left:7683.07px;bottom:44770.4px;word-spacing:260px;color:rgb(35,31,31);
}
#P19_4
{
left:15427.1px;bottom:44970.4px;color:rgb(35,31,31);
}
#P19_5
{
left:17475.1px;bottom:44770.4px;word-spacing:1035.2px;color:rgb(35,31,31);
}
#P19_6
{
left:17475.1px;bottom:43106.4px;word-spacing:-165.6px;color:rgb(35,31,31);
}
#P19_7
{
left:17475.1px;bottom:41442.4px;word-spacing:-165.6px;color:rgb(35,31,31);
}
#P19_8
{
left:17475.1px;bottom:39778.4px;word-spacing:-165.6px;color:rgb(35,31,31);
}
#P19_9
{
left:7683.07px;bottom:38114.4px;word-spacing:347.2px;color:rgb(35,31,31);
}
#P19_10
{
left:15427.1px;bottom:38314.4px;color:rgb(35,31,31);
}
#P19_11
{
left:17475.1px;bottom:38114.4px;word-spacing:1035.2px;color:rgb(35,31,31);
}
#P19_12
{
left:17475.1px;bottom:36450.4px;word-spacing:1754.4px;color:rgb(35,31,31);
}
#P19_13
{
left:17475.1px;bottom:34786.4px;word-spacing:1754.4px;color:rgb(35,31,31);
}
#P19_14
{
left:17475.1px;bottom:33122.4px;word-spacing:1754.4px;color:rgb(35,31,31);
}
#P19_15
{
left:6531.07px;bottom:29579.4px;color:rgb(35,63,142);
}
#P19_16
{
left:6531.07px;bottom:27938.4px;color:rgb(35,31,31);
}
#P19_17
{
left:6531.07px;bottom:26274.4px;color:rgb(35,31,31);
}
#P19_18
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P19_19
{
left:12677.4px;bottom:26268.8px;color:rgb(35,31,31);
}
#P19_20
{
left:14687.9px;bottom:26274.4px;color:rgb(35,31,31);
}
#P19_21
{
left:6531.07px;bottom:24930.4px;color:rgb(35,31,31);
}
#P19_22
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P19_23
{
left:12677.4px;bottom:24924.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P19_24
{
left:14223.1px;bottom:24930.4px;color:rgb(35,31,31);
}
#P19_25
{
left:14452.7px;bottom:24924.8px;color:rgb(35,31,31);
}
#P19_26
{
left:17143.1px;bottom:24930.4px;color:rgb(35,31,31);
}
#P19_27
{
left:6531.07px;bottom:23586.4px;color:rgb(35,31,31);
}
#P19_28
{
left:6531.07px;bottom:22242.4px;color:rgb(35,31,31);
}
#P19_29
{
left:6531.07px;bottom:20578.4px;color:rgb(35,31,31);
}
#P19_30
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P19_31
{
left:9575.87px;bottom:20572.8px;color:rgb(35,31,31);
}
#P19_32
{
left:10924.7px;bottom:20578.4px;color:rgb(35,31,31);
}
#P19_33
{
left:11154.3px;bottom:20572.8px;color:rgb(35,31,31);
}
#P19_34
{
left:14093.4px;bottom:20578.4px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P19_35
{
left:0px;letter-spacing:0px;margin-left:-59.7px;
}
#P19_36
{
left:6531.07px;bottom:19234.4px;color:rgb(35,31,31);
}
#P19_37
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P19_38
{
left:12677.4px;bottom:19228.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P19_39
{
left:17460.7px;bottom:19234.4px;color:rgb(35,31,31);
}
#P19_40
{
left:7811.07px;bottom:16807.4px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P19_41
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P19_42
{
left:12108.7px;bottom:16801.8px;color:rgb(35,31,31);
}
#P19_43
{
left:16456.7px;bottom:16807.4px;color:rgb(35,31,31);
}
#P19_44
{
left:7811.07px;bottom:15143.4px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P19_45
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P19_46
{
left:12108.7px;bottom:15137.8px;color:rgb(35,31,31);
}
#P19_47
{
left:18247.9px;bottom:15143.4px;color:rgb(35,31,31);
}
#P19_48
{
left:7811.07px;bottom:13927.4px;color:rgb(35,31,31);
}
#P19_49
{
left:7811.07px;bottom:12711.4px;color:rgb(35,31,31);
}
#P19_50
{
left:12705.5px;bottom:12705.8px;color:rgb(35,31,31);
}
#P19_51
{
left:13475.1px;bottom:12711.4px;color:rgb(35,31,31);
}
#P19_52
{
left:14659.8px;bottom:12705.8px;color:rgb(35,31,31);
}
#P19_53
{
left:15726.3px;bottom:12711.4px;color:rgb(35,31,31);
}
#P19_54
{
left:7811.07px;bottom:11367.4px;color:rgb(35,31,31);
}
#P19_55
{
left:9373.44px;bottom:11361.8px;color:rgb(35,31,31);
}
#P19_56
{
left:10722.3px;bottom:11367.4px;color:rgb(35,31,31);
}
#P19_57
{
left:11963.1px;bottom:11361.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P19_58
{
left:13508.7px;bottom:11367.4px;color:rgb(35,31,31);
}
#P19_59
{
left:14693.4px;bottom:11361.8px;color:rgb(35,31,31);
}
#P19_60
{
left:15759.9px;bottom:11367.4px;color:rgb(35,31,31);
}
#P19_61
{
left:4753.35px;bottom:29622.4px;color:rgb(255,242,0);
}
#P19_62
{
left:6542.02px;bottom:8634.75px;color:rgb(242,114,33);
}
#P19_63
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P19_64
{
left:0px;letter-spacing:0px;margin-left:-53.2px;
}
#P19_65
{
left:24752.8px;bottom:8639.74px;color:rgb(242,114,33);
}
#P19_66
{
left:31305.7px;bottom:8634.75px;color:rgb(242,114,33);
}
#P19_67
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P19_68
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P19_69
{
left:7694.34px;bottom:7418.37px;color:rgb(242,114,33);
}
#P19_70
{
left:6542.02px;bottom:6024.58px;letter-spacing:929.8px;color:rgb(35,31,31);
}
#P19_71
{
left:0px;letter-spacing:0px;margin-left:-929.8px;
}
#P19_72
{
left:7694.4px;bottom:4808.58px;color:rgb(35,31,31);
}
#PageContainer19
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg019.jpg");background-repeat:no-repeat;background-size: 971px 872px; background-position: right bottom;
}
#ImageContainer19 {bottom:0.00px;right:0.00px;width:970.62px;height:872.05px;position:absolute;} #TextContainer19 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
