.tr91{ color:transparent;}
#P91_1
{
left:7069.76px;bottom:39322.8px;color:rgb(35,31,31);
}
#P91_2
{
left:7295.62px;bottom:39014.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P91_3
{
left:12686.8px;bottom:39014.2px;color:rgb(35,31,31);
}
#P91_4
{
left:7069.63px;bottom:38169.4px;color:rgb(35,31,31);
}
#P91_5
{
left:7069.63px;bottom:37324.6px;color:rgb(35,31,31);
}
#P91_6
{
left:7069.63px;bottom:36479.8px;color:rgb(35,31,31);
}
#P91_7
{
left:7069.76px;bottom:35943.6px;color:rgb(35,31,31);
}
#P91_8
{
left:7294.85px;bottom:35635px;color:rgb(35,31,31);
}
#P91_9
{
left:9619.46px;bottom:35635px;color:rgb(35,31,31);
}
#P91_10
{
left:7069.57px;bottom:34790.2px;color:rgb(35,31,31);
}
#P91_11
{
left:7069.57px;bottom:33945.4px;color:rgb(35,31,31);
}
#P91_12
{
left:7069.76px;bottom:33409.2px;color:rgb(35,31,31);
}
#P91_13
{
left:7438.72px;bottom:33100.6px;color:rgb(35,31,31);
}
#P91_14
{
left:10593.3px;bottom:33100.6px;color:rgb(35,31,31);
}
#P91_15
{
left:7069.82px;bottom:32255.8px;color:rgb(35,31,31);
}
#P91_16
{
left:7069.82px;bottom:31411px;color:rgb(35,31,31);
}
#P91_17
{
left:6531.07px;bottom:46460.5px;color:rgb(35,31,31);
}
#P91_18
{
left:6531.07px;bottom:45244.5px;color:rgb(35,31,31);
}
#P91_19
{
left:6531.07px;bottom:43580.5px;color:rgb(35,31,31);
}
#P91_20
{
left:6531.07px;bottom:42364.5px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P91_21
{
left:6531.07px;bottom:41148.5px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P91_22
{
left:0px;letter-spacing:0.3px;margin-left:30.4px;
}
#P91_23
{
left:16078.3px;bottom:39375.7px;color:rgb(35,31,31);
}
#P91_24
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P91_25
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P91_26
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P91_27
{
left:16078.3px;bottom:38159.7px;color:rgb(35,31,31);
}
#P91_28
{
left:16078.3px;bottom:36943.7px;color:rgb(35,31,31);
}
#P91_29
{
left:22683.5px;bottom:37293.2px;color:rgb(35,31,31);
}
#P91_30
{
left:22951.2px;bottom:36943.4px;color:rgb(35,31,31);
}
#P91_31
{
left:16077.6px;bottom:35279.4px;color:rgb(35,31,31);
}
#P91_32
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P91_33
{
left:16077.6px;bottom:33615.4px;color:rgb(35,31,31);
}
#P91_34
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P91_35
{
left:16077.6px;bottom:32399.4px;color:rgb(35,31,31);
}
#P91_36
{
left:16077.6px;bottom:30735.4px;color:rgb(35,31,31);
}
#P91_37
{
left:6530.43px;bottom:28980.2px;color:rgb(35,31,31);
}
#P91_38
{
left:6530.43px;bottom:27764.2px;color:rgb(35,31,31);
}
#P91_39
{
left:26486.7px;bottom:28114px;color:rgb(35,31,31);
}
#P91_40
{
left:26754.4px;bottom:27764.2px;color:rgb(35,31,31);
}
#P91_41
{
left:6531.2px;bottom:26548.2px;color:rgb(35,31,31);
}
#P91_42
{
left:29929.9px;bottom:26898px;color:rgb(35,31,31);
}
#P91_43
{
left:30465.3px;bottom:26548.2px;color:rgb(35,31,31);
}
#P91_44
{
left:6530.88px;bottom:25332.2px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P91_45
{
left:6530.88px;bottom:24116.2px;color:rgb(35,31,31);
}
#P91_46
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P91_47
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P91_48
{
left:6530.88px;bottom:22900.2px;color:rgb(35,31,31);
}
#P91_49
{
left:36219.4px;bottom:2306.95px;color:white;
}
#PageContainer91
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg091.jpg");background-repeat:no-repeat;background-size: 944px 1093px; background-position: right bottom;
}
#ImageContainer91 {bottom:0.00px;right:0.00px;width:944.01px;height:1093.48px;position:absolute;} #TextContainer91 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}

#professionalartist{position: absolute;top: 347px;left: 434px;height: 25px;width: 182px;background-repeat: no-repeat;opacity: 0;}
#chimes{position: absolute;top: 597px;left: 645px;height: 25px;width: 74px;background-repeat: no-repeat;opacity: 0;}
#sculptures{position: absolute;top: 630px;left: 710px;height: 25px;width: 104px;background-repeat: no-repeat;opacity: 0;}