.tr31{ color:transparent;}
#P31_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P31_2
{
left:6531.07px;bottom:46156px;color:rgb(35,63,142);
}
#P31_3
{
left:6531.07px;bottom:44515.1px;color:rgb(35,31,31);
}
#P31_4
{
left:6531.07px;bottom:42851.1px;color:rgb(35,31,31);
}
#P31_5
{
left:9772.67px;bottom:42845.5px;color:rgb(35,31,31);
}
#P31_6
{
left:10327.9px;bottom:42851.1px;word-spacing:570.4px;color:rgb(35,31,31);
}
#P31_7
{
left:0px;letter-spacing:0px;margin-left:-49.6px;
}
#P31_8
{
left:18441.5px;bottom:42845.5px;color:rgb(35,31,31);
}
#P31_9
{
left:18767px;bottom:42851.1px;color:rgb(35,31,31);
}
#P31_10
{
left:12483.1px;bottom:40483.1px;color:rgb(35,31,31);
}
#P31_11
{
left:14123.9px;bottom:40477.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P31_12
{
left:18559.1px;bottom:40483.1px;color:rgb(35,31,31);
}
#P31_13
{
left:6531.07px;bottom:38115.1px;color:rgb(35,31,31);
}
#P31_14
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P31_15
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P31_16
{
left:18039px;bottom:38109.5px;color:rgb(35,31,31);
}
#P31_17
{
left:18364.7px;bottom:38115.1px;color:rgb(35,31,31);
}
#P31_18
{
left:7683.07px;bottom:36893.5px;color:rgb(237,28,35);
}
#P31_19
{
left:12395.9px;bottom:36899.1px;word-spacing:570.4px;color:rgb(35,31,31);
}
#P31_20
{
left:14535.1px;bottom:36893.5px;color:rgb(35,31,31);
}
#P31_21
{
left:15090.3px;bottom:36899.1px;letter-spacing:-570.4px;word-spacing:570.4px;color:rgb(35,31,31);
}
#P31_22
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P31_23
{
left:23583.9px;bottom:36893.5px;color:rgb(35,31,31);
}
#P31_24
{
left:23909.5px;bottom:36899.1px;color:rgb(35,31,31);
}
#P31_25
{
left:6531.07px;bottom:35683.1px;color:rgb(35,31,31);
}
#P31_26
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P31_27
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P31_28
{
left:7683.07px;bottom:34467.1px;color:rgb(35,31,31);
}
#P31_29
{
left:7683.07px;bottom:33245.5px;color:rgb(237,28,35);
}
#P31_30
{
left:11595.9px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_31
{
left:11907.1px;bottom:33245.5px;letter-spacing:-3.6px;color:rgb(35,31,31);
}
#P31_32
{
left:13607.9px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_33
{
left:15126.3px;bottom:33245.5px;color:rgb(35,31,31);
}
#P31_34
{
left:17477.5px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_35
{
left:18947.1px;bottom:33245.5px;letter-spacing:-3.6px;color:rgb(35,31,31);
}
#P31_36
{
left:20709.5px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_37
{
left:22227.9px;bottom:33245.5px;color:rgb(35,31,31);
}
#P31_38
{
left:23056.7px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_39
{
left:23286.3px;bottom:33245.5px;color:rgb(35,31,31);
}
#P31_40
{
left:24411.1px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_41
{
left:26691.1px;bottom:33245.5px;color:rgb(35,31,31);
}
#P31_42
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P31_43
{
left:27698.3px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_44
{
left:29216.7px;bottom:33245.5px;color:rgb(35,31,31);
}
#P31_45
{
left:29719.9px;bottom:33251.1px;color:rgb(35,31,31);
}
#P31_46
{
left:29949.5px;bottom:33245.5px;color:rgb(35,31,31);
}
#P31_47
{
left:11907.1px;bottom:32035.1px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P31_48
{
left:12129.5px;bottom:32029.5px;color:rgb(35,31,31);
}
#P31_49
{
left:13047.9px;bottom:32035.1px;color:rgb(35,31,31);
}
#P31_50
{
left:14566.3px;bottom:32029.5px;color:rgb(35,31,31);
}
#P31_51
{
left:18947.1px;bottom:32035.1px;word-spacing:2314.4px;color:rgb(35,31,31);
}
#P31_52
{
left:19169.5px;bottom:32029.5px;color:rgb(35,31,31);
}
#P31_53
{
left:20087.9px;bottom:32035.1px;color:rgb(35,31,31);
}
#P31_54
{
left:21606.3px;bottom:32029.5px;color:rgb(35,31,31);
}
#P31_55
{
left:6531.07px;bottom:30691.1px;color:rgb(35,31,31);
}
#P31_56
{
left:7683.07px;bottom:30685.5px;color:rgb(35,31,31);
}
#P31_57
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P31_58
{
left:8717.5px;bottom:30691.1px;color:rgb(35,31,31);
}
#P31_59
{
left:10593.5px;bottom:30685.5px;color:rgb(35,31,31);
}
#P31_60
{
left:7683.07px;bottom:29469.5px;color:rgb(237,28,35);
}
#P31_61
{
left:11595.9px;bottom:29475.1px;color:rgb(35,31,31);
}
#P31_62
{
left:12163.1px;bottom:29469.5px;color:rgb(35,31,31);
}
#P31_63
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P31_64
{
left:13197.4px;bottom:29475.1px;color:rgb(35,31,31);
}
#P31_65
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P31_66
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P31_67
{
left:25878.3px;bottom:29469.5px;color:rgb(35,31,31);
}
#P31_68
{
left:6531.07px;bottom:28259.1px;color:rgb(35,31,31);
}
#P31_69
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_70
{
left:0px;letter-spacing:0px;margin-left:2202.4px;
}
#P31_71
{
left:0px;letter-spacing:0px;margin-left:1818.4px;
}
#P31_72
{
left:17519.9px;bottom:28253.5px;color:rgb(35,31,31);
}
#P31_73
{
left:18348.7px;bottom:28259.1px;color:rgb(35,31,31);
}
#P31_74
{
left:24581.4px;bottom:28253.5px;color:rgb(35,31,31);
}
#P31_75
{
left:25410.2px;bottom:28259.1px;color:rgb(35,31,31);
}
#P31_76
{
left:6531.07px;bottom:27043.1px;color:rgb(35,31,31);
}
#P31_77
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_78
{
left:0px;letter-spacing:0px;margin-left:2202.4px;
}
#P31_79
{
left:0px;letter-spacing:0px;margin-left:1818.4px;
}
#P31_80
{
left:21961.5px;bottom:27037.5px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P31_81
{
left:24609.5px;bottom:27043.1px;color:rgb(35,31,31);
}
#P31_82
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P31_83
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P31_84
{
left:6531.07px;bottom:25827.1px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P31_85
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P31_86
{
left:14923.1px;bottom:25821.5px;color:rgb(35,31,31);
}
#P31_87
{
left:15751.9px;bottom:25827.1px;color:rgb(35,31,31);
}
#P31_88
{
left:17651.1px;bottom:25821.5px;color:rgb(35,31,31);
}
#P31_89
{
left:21069.5px;bottom:25827.1px;color:rgb(35,31,31);
}
#P31_90
{
left:24325.5px;bottom:25821.5px;color:rgb(35,31,31);
}
#P31_91
{
left:24828.7px;bottom:25827.1px;color:rgb(35,31,31);
}
#P31_92
{
left:6531.07px;bottom:24483.1px;color:rgb(35,31,31);
}
#P31_93
{
left:7683.07px;bottom:24477.5px;letter-spacing:-86.4px;color:rgb(35,31,31);
}
#P31_94
{
left:0px;letter-spacing:0px;margin-left:86.4px;
}
#P31_95
{
left:7683.07px;bottom:23261.5px;word-spacing:915.2px;color:rgb(237,28,35);
}
#P31_96
{
left:11595.9px;bottom:23267.1px;color:rgb(35,31,31);
}
#P31_97
{
left:0px;letter-spacing:0px;margin-left:465.6px;
}
#P31_98
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P31_99
{
left:23505.5px;bottom:23261.5px;color:rgb(35,31,31);
}
#P31_100
{
left:25339.1px;bottom:23267.1px;color:rgb(35,31,31);
}
#P31_101
{
left:12163.1px;bottom:22045.5px;letter-spacing:-86.4px;color:rgb(35,31,31);
}
#P31_102
{
left:0px;letter-spacing:0px;margin-left:86.4px;
}
#P31_103
{
left:14043.8px;bottom:22051.1px;color:rgb(35,31,31);
}
#P31_104
{
left:12163.1px;bottom:20829.5px;letter-spacing:-86.4px;color:rgb(35,31,31);
}
#P31_105
{
left:0px;letter-spacing:0px;margin-left:86.4px;
}
#P31_106
{
left:14043.8px;bottom:20835.1px;color:rgb(35,31,31);
}
#P31_107
{
left:22716.7px;bottom:20829.5px;color:rgb(35,31,31);
}
#P31_108
{
left:24224.6px;bottom:20835.1px;color:rgb(35,31,31);
}
#P31_109
{
left:6531.07px;bottom:19491.1px;color:rgb(35,31,31);
}
#P31_110
{
left:0px;letter-spacing:0px;margin-left:522.4px;
}
#P31_111
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P31_112
{
left:16103px;bottom:19485.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P31_113
{
left:18151.1px;bottom:19491.1px;color:rgb(35,31,31);
}
#P31_114
{
left:18380.7px;bottom:19485.5px;color:rgb(35,31,31);
}
#P31_115
{
left:18706.3px;bottom:19491.1px;color:rgb(35,31,31);
}
#P31_116
{
left:7683.07px;bottom:18269.5px;color:rgb(237,28,35);
}
#P31_117
{
left:11595.9px;bottom:18275.1px;color:rgb(35,31,31);
}
#P31_118
{
left:0px;letter-spacing:0px;margin-left:337.6px;
}
#P31_119
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P31_120
{
left:17543.9px;bottom:18269.5px;color:rgb(35,31,31);
}
#P31_121
{
left:17869.5px;bottom:18275.1px;color:rgb(35,31,31);
}
#P31_122
{
left:6531.07px;bottom:17059.1px;color:rgb(35,31,31);
}
#P31_123
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_124
{
left:0px;letter-spacing:0px;margin-left:2202.4px;
}
#P31_125
{
left:0px;letter-spacing:0px;margin-left:1818.4px;
}
#P31_126
{
left:25679px;bottom:17053.5px;color:rgb(35,31,31);
}
#P31_127
{
left:26004.7px;bottom:17059.1px;color:rgb(35,31,31);
}
#P31_128
{
left:6531.07px;bottom:15381.2px;color:rgb(242,114,33);
}
#P31_129
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P31_130
{
left:0px;letter-spacing:-0.2px;
}
#P31_131
{
left:6531.07px;bottom:13987.1px;color:rgb(35,31,31);
}
#P31_132
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_133
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P31_134
{
left:6531.07px;bottom:12771.1px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P31_135
{
left:0px;letter-spacing:-0.2px;margin-left:-922.4px;
}
#P31_136
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P31_137
{
left:6531.07px;bottom:11555.1px;color:rgb(35,31,31);
}
#P31_138
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_139
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P31_140
{
left:6531.07px;bottom:10339.1px;color:rgb(35,31,31);
}
#P31_141
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_142
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P31_143
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P31_144
{
left:6531.07px;bottom:9123.07px;color:rgb(35,31,31);
}
#P31_145
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_146
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P31_147
{
left:6531.07px;bottom:7907.07px;color:rgb(35,31,31);
}
#P31_148
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P31_149
{
left:0px;letter-spacing:0px;margin-left:209.6px;
}
#P31_150
{
left:4739.86px;bottom:45857.8px;color:rgb(255,242,0);
}
#PageContainer31
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg031.jpg");background-repeat:no-repeat;background-size: 971px 1313px; background-position: right bottom;
}
#ImageContainer31 {bottom:0.00px;right:0.00px;width:970.99px;height:1313.43px;position:absolute;} #TextContainer31 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}

.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}
.pdf_pos_1{top: 924px;left: 120px;position: absolute;height: 50px;width: auto;}