.tr28{ color:transparent;}
#P28_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P28_2
{
left:6485.7px;bottom:46195.3px;color:rgb(35,63,142);
}
#P28_3
{
left:6485.7px;bottom:44092.5px;color:rgb(242,114,33);
}
#P28_4
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P28_5
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P28_6
{
left:6485.7px;bottom:42378.4px;color:rgb(35,31,31);
}
#P28_7
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P28_8
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P28_9
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P28_10
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P28_11
{
left:6485.7px;bottom:40842.4px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P28_12
{
left:0px;letter-spacing:0.2px;margin-left:-922.4px;
}
#P28_13
{
left:7637.7px;bottom:39306.4px;color:rgb(35,31,31);
}
#P28_14
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P28_15
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P28_16
{
left:0px;letter-spacing:0px;margin-left:-199.2px;
}
#P28_17
{
left:6485.7px;bottom:37770.4px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P28_18
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P28_19
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P28_20
{
left:0px;letter-spacing:0.1px;
}
#P28_21
{
left:6485.7px;bottom:36234.4px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P28_22
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P28_23
{
left:6485.7px;bottom:34698.4px;color:rgb(35,31,31);
}
#P28_24
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P28_25
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P28_26
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P28_27
{
left:6485.7px;bottom:33354.4px;color:rgb(35,31,31);
}
#P28_28
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P28_29
{
left:6485.7px;bottom:32010.4px;color:rgb(35,31,31);
}
#P28_30
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P28_31
{
left:7637.7px;bottom:30794.4px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P28_32
{
left:6485.7px;bottom:27251.3px;color:rgb(35,63,142);
}
#P28_33
{
left:16497.9px;bottom:27652.6px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P28_34
{
left:6485.7px;bottom:25610.4px;color:rgb(35,31,31);
}
#P28_35
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P28_36
{
left:7637.7px;bottom:24394.4px;color:rgb(35,31,31);
}
#P28_37
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P28_38
{
left:7637.7px;bottom:23178.4px;color:rgb(35,31,31);
}
#P28_39
{
left:6485.7px;bottom:21834.4px;color:rgb(35,31,31);
}
#P28_40
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P28_41
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P28_42
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P28_43
{
left:7637.7px;bottom:20618.4px;color:rgb(35,31,31);
}
#P28_44
{
left:6485.7px;bottom:17075.3px;color:rgb(35,63,142);
}
#P28_45
{
left:6485.7px;bottom:14972.5px;color:rgb(242,114,33);
}
#P28_46
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P28_47
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P28_48
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P28_49
{
left:0px;letter-spacing:0px;margin-left:-53.2px;
}
#P28_50
{
left:7638.02px;bottom:13756.2px;letter-spacing:-0.2px;color:rgb(242,114,33);
}
#P28_51
{
left:7638.02px;bottom:12539.8px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P28_52
{
left:7638.02px;bottom:11323.4px;color:rgb(242,114,33);
}
#P28_53
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P28_54
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P28_55
{
left:7637.7px;bottom:9800.77px;color:rgb(35,31,31);
}
#P28_56
{
left:0px;letter-spacing:0px;margin-left:1476px;
}
#P28_57
{
left:0px;letter-spacing:0px;margin-left:5343.2px;
}
#P28_58
{
left:0px;letter-spacing:0px;margin-left:4364.8px;
}
#P28_59
{
left:7637.7px;bottom:7946.37px;color:rgb(35,31,31);
}
#P28_60
{
left:0px;letter-spacing:0px;margin-left:528px;
}
#P28_61
{
left:0px;letter-spacing:0px;margin-left:2235.2px;
}
#P28_62
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P28_63
{
left:0px;letter-spacing:0px;margin-left:20px;
}
#P28_64
{
left:0px;letter-spacing:0px;margin-left:2998.4px;
}
#P28_65
{
left:7637.7px;bottom:6282.37px;word-spacing:465.6px;color:rgb(35,31,31);
}
#P28_66
{
left:0px;letter-spacing:0px;margin-left:419.2px;
}
#P28_67
{
left:0px;letter-spacing:0px;margin-left:675.2px;
}
#P28_68
{
left:7637.7px;bottom:4618.37px;word-spacing:547.2px;color:rgb(35,31,31);
}
#P28_69
{
left:0px;letter-spacing:0px;margin-left:337.6px;
}
#P28_70
{
left:0px;letter-spacing:0px;margin-left:593.6px;
}
#P28_71
{
left:6485.7px;bottom:44092.5px;
}
#P28_72
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P28_73
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P28_74
{
left:4769.56px;bottom:45896.2px;color:rgb(255,242,0);
}
#P28_75
{
left:4659.8px;bottom:17129.1px;color:rgb(255,242,0);
}
#P28_76
{
left:4801.26px;bottom:27273.5px;color:rgb(255,242,0);
}
#P28_77
{
left:9372.67px;bottom:7755.58px;color:rgb(35,31,31);
}
#P28_78
{
left:17037.4px;bottom:7801.22px;color:rgb(35,31,31);
}
#PageContainer28
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg028.jpg");background-repeat:no-repeat;background-size: 492px 1315px; background-position: left bottom;
}
#ImageContainer28 {bottom:0.00px;left:0.00px;width:492.38px;height:1314.63px;position:absolute;} #TextContainer28 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}