.tr85{ color:transparent;}
#P85_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P85_2
{
left:10115.1px;bottom:46518.4px;color:rgb(35,31,31);
}
#P85_3
{
left:14318.3px;bottom:46519.2px;color:rgb(35,31,31);
}
#P85_4
{
left:20995.1px;bottom:46518.4px;color:rgb(35,31,31);
}
#P85_5
{
left:6531.07px;bottom:45175.2px;color:rgb(35,31,31);
}
#P85_6
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P85_7
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P85_8
{
left:0px;letter-spacing:0px;margin-left:5779.2px;
}
#P85_9
{
left:0px;letter-spacing:0px;margin-left:1946.4px;
}
#P85_10
{
left:7683.07px;bottom:43255.2px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P85_11
{
left:0px;letter-spacing:0px;margin-left:491.2px;
}
#P85_12
{
left:7683.07px;bottom:41591.2px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P85_13
{
left:0px;letter-spacing:0px;margin-left:491.2px;
}
#P85_14
{
left:7683.07px;bottom:39927.2px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P85_15
{
left:0px;letter-spacing:0px;margin-left:491.2px;
}
#P85_16
{
left:7683.07px;bottom:38263.2px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P85_17
{
left:0px;letter-spacing:0px;margin-left:491.2px;
}
#P85_18
{
left:7683.07px;bottom:36599.2px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P85_19
{
left:0px;letter-spacing:0px;margin-left:491.2px;
}
#P85_20
{
left:7683.07px;bottom:34935.2px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P85_21
{
left:0px;letter-spacing:0px;margin-left:491.2px;
}
#P85_22
{
left:6531.07px;bottom:31392.1px;color:rgb(35,63,142);
}
#P85_23
{
left:6531.07px;bottom:29751.2px;color:rgb(35,31,31);
}
#P85_24
{
left:6531.07px;bottom:28535.2px;color:rgb(35,31,31);
}
#P85_25
{
left:6531.07px;bottom:27319.2px;color:rgb(35,31,31);
}
#P85_26
{
left:6531.07px;bottom:25975.2px;color:rgb(35,31,31);
}
#P85_27
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P85_28
{
left:6531.07px;bottom:24759.2px;color:rgb(35,31,31);
}
#P85_29
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P85_30
{
left:13923.8px;bottom:24753.6px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P85_31
{
left:16924.7px;bottom:24759.2px;color:rgb(35,31,31);
}
#P85_32
{
left:6531.07px;bottom:23409.6px;color:rgb(237,28,35);
}
#P85_33
{
left:10443.9px;bottom:23415.2px;color:rgb(35,31,31);
}
#P85_34
{
left:0px;letter-spacing:0px;margin-left:145.6px;
}
#P85_35
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P85_36
{
left:7683.07px;bottom:22199.2px;color:rgb(35,31,31);
}
#P85_37
{
left:0px;letter-spacing:0px;margin-left:2906.4px;
}
#P85_38
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P85_39
{
left:6531.07px;bottom:20855.2px;color:rgb(35,31,31);
}
#P85_40
{
left:6531.07px;bottom:19639.2px;color:rgb(35,31,31);
}
#P85_41
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P85_42
{
left:14615.9px;bottom:19633.6px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#P85_43
{
left:16920.6px;bottom:19639.2px;color:rgb(35,31,31);
}
#P85_44
{
left:6531.07px;bottom:18289.6px;color:rgb(237,28,35);
}
#P85_45
{
left:10819.1px;bottom:18295.2px;color:rgb(35,31,31);
}
#P85_46
{
left:7683.07px;bottom:17079.2px;letter-spacing:2906.4px;color:rgb(35,31,31);
}
#P85_47
{
left:0px;letter-spacing:0px;margin-left:-2906.4px;
}
#P85_48
{
left:6531.07px;bottom:15735.2px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P85_49
{
left:27131.9px;bottom:15729.6px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#P85_50
{
left:29436.7px;bottom:15735.2px;color:rgb(35,31,31);
}
#P85_51
{
left:30677.5px;bottom:15729.6px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P85_52
{
left:33678.3px;bottom:15735.2px;color:rgb(35,31,31);
}
#P85_53
{
left:6531.07px;bottom:14385.6px;color:rgb(237,28,35);
}
#P85_54
{
left:7171.07px;bottom:12202.2px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P85_55
{
left:7171.07px;bottom:11050.4px;color:rgb(35,31,31);
}
#P85_56
{
left:7171.07px;bottom:9898.5px;color:rgb(35,31,31);
}
#P85_57
{
left:22914.9px;bottom:12202.2px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P85_58
{
left:22914.9px;bottom:11050.4px;color:rgb(35,31,31);
}
#P85_59
{
left:7171.07px;bottom:8444.93px;color:rgb(35,31,31);
}
#P85_60
{
left:0px;letter-spacing:0px;margin-left:8.9px;
}
#P85_61
{
left:0px;letter-spacing:0px;margin-left:1140.8px;
}
#P85_62
{
left:22914.9px;bottom:7293.06px;color:rgb(35,31,31);
}
#P85_63
{
left:7684.54px;bottom:44989.8px;word-spacing:922.4px;color:rgb(35,31,31);
}
#P85_64
{
left:0px;letter-spacing:0px;margin-left:491.2px;
}
#P85_65
{
left:6531.07px;bottom:29751.2px;
}
#P85_66
{
left:4748.68px;bottom:31363.3px;color:rgb(255,242,0);
}
#PageContainer85
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg085.jpg");background-repeat:no-repeat;background-size: 971px 917px; background-position: right bottom;
}
#ImageContainer85 {bottom:0.00px;right:0.00px;width:970.84px;height:916.83px;position:absolute;} #TextContainer85 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}