.tr3{ color:transparent;}
#P3_1
{
left:36219.4px;bottom:2306.95px;letter-spacing:-455.4px;
}
#P3_2
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P3_3
{
left:6531.07px;bottom:45661px;color:rgb(35,63,142);
}
#P3_4
{
left:15479.2px;bottom:45680.2px;letter-spacing:-1.4px;color:rgb(35,63,142);
}
#P3_5
{
left:6531.07px;bottom:40982.1px;color:rgb(35,31,31);
}
#P3_6
{
left:6531.07px;bottom:39328.4px;color:rgb(35,31,31);
}
#P3_7
{
left:6935.87px;bottom:39366.3px;color:rgb(35,31,31);
}
#P3_8
{
left:7939.71px;bottom:39328.5px;color:rgb(35,31,31);
}
#P3_9
{
left:8702.08px;bottom:39366.3px;color:rgb(35,31,31);
}
#P3_10
{
left:11715px;bottom:39278.5px;color:rgb(35,31,31);
}
#P3_11
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_12
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_13
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P3_14
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P3_15
{
left:6530.75px;bottom:38190.8px;color:rgb(35,31,31);
}
#P3_16
{
left:6530.75px;bottom:35286.1px;color:rgb(35,31,31);
}
#P3_17
{
left:6530.75px;bottom:33779.6px;color:rgb(35,31,31);
}
#P3_18
{
left:6883.07px;bottom:33817.5px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P3_19
{
left:8595.52px;bottom:33779.7px;color:rgb(35,31,31);
}
#P3_20
{
left:9241.79px;bottom:33817.5px;letter-spacing:-33.5px;word-spacing:33.5px;color:rgb(35,31,31);
}
#P3_21
{
left:9864.19px;bottom:33729.7px;color:rgb(35,31,31);
}
#P3_22
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_23
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_24
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P3_25
{
left:6530.75px;bottom:32642px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P3_26
{
left:6530.75px;bottom:31554.4px;letter-spacing:-21.8px;color:rgb(35,31,31);
}
#P3_27
{
left:0px;letter-spacing:0px;margin-left:21.8px;
}
#P3_28
{
left:6530.75px;bottom:30067.5px;color:rgb(35,31,31);
}
#P3_29
{
left:6883.07px;bottom:30105.5px;letter-spacing:-20.2px;color:rgb(35,31,31);
}
#P3_30
{
left:0px;letter-spacing:0px;margin-left:20.2px;
}
#P3_31
{
left:9322.88px;bottom:30067.7px;color:rgb(35,31,31);
}
#P3_32
{
left:9995.2px;bottom:30105.5px;color:rgb(35,31,31);
}
#P3_33
{
left:12809.5px;bottom:30017.7px;color:rgb(35,31,31);
}
#P3_34
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_35
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_36
{
left:6531.26px;bottom:28930px;letter-spacing:-5.9px;color:rgb(35,31,31);
}
#P3_37
{
left:0px;letter-spacing:0px;margin-left:5.9px;
}
#P3_38
{
left:6531.26px;bottom:27842.4px;color:rgb(35,31,31);
}
#P3_39
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P3_40
{
left:6531.26px;bottom:26355.5px;color:rgb(35,31,31);
}
#P3_41
{
left:6883.07px;bottom:26393.5px;color:rgb(35,31,31);
}
#P3_42
{
left:8150.02px;bottom:26355.7px;color:rgb(35,31,31);
}
#P3_43
{
left:9030.02px;bottom:26393.5px;color:rgb(35,31,31);
}
#P3_44
{
left:0px;letter-spacing:0px;margin-left:-41.4px;
}
#P3_45
{
left:0px;letter-spacing:0px;margin-left:-49.3px;
}
#P3_46
{
left:11478.2px;bottom:26305.7px;color:rgb(35,31,31);
}
#P3_47
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_48
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_49
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P3_50
{
left:6531.2px;bottom:25218px;color:rgb(35,31,31);
}
#P3_51
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P3_52
{
left:6531.2px;bottom:24130.4px;color:rgb(35,31,31);
}
#P3_53
{
left:6531.2px;bottom:22643.5px;color:rgb(35,31,31);
}
#P3_54
{
left:7647.62px;bottom:22681.5px;color:rgb(35,31,31);
}
#P3_55
{
left:0px;letter-spacing:0px;margin-left:-49.3px;
}
#P3_56
{
left:9758.72px;bottom:22593.7px;color:rgb(35,31,31);
}
#P3_57
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_58
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_59
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P3_60
{
left:6530.88px;bottom:21506px;color:rgb(35,31,31);
}
#P3_61
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P3_62
{
left:6530.88px;bottom:20418.4px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P3_63
{
left:0px;letter-spacing:0px;margin-left:2px;
}
#P3_64
{
left:6530.88px;bottom:18931.5px;color:rgb(35,31,31);
}
#P3_65
{
left:6883.07px;bottom:18969.5px;color:rgb(35,31,31);
}
#P3_66
{
left:8200.32px;bottom:18931.7px;color:rgb(35,31,31);
}
#P3_67
{
left:8909.89px;bottom:18969.5px;color:rgb(35,31,31);
}
#P3_68
{
left:10460.7px;bottom:18881.7px;color:rgb(35,31,31);
}
#P3_69
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_70
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_71
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P3_72
{
left:6531.01px;bottom:17794px;color:rgb(35,31,31);
}
#P3_73
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P3_74
{
left:6531.01px;bottom:16706.4px;color:rgb(35,31,31);
}
#P3_75
{
left:21710px;bottom:33779.8px;color:rgb(35,31,31);
}
#P3_76
{
left:22270.4px;bottom:33817.5px;letter-spacing:-9px;color:rgb(35,31,31);
}
#P3_77
{
left:23448.2px;bottom:33779.7px;color:rgb(35,31,31);
}
#P3_78
{
left:24002.2px;bottom:33817.5px;letter-spacing:-20.2px;color:rgb(35,31,31);
}
#P3_79
{
left:0px;letter-spacing:0px;margin-left:20.2px;
}
#P3_80
{
left:27542.9px;bottom:33729.7px;letter-spacing:502px;color:rgb(35,31,31);
}
#P3_81
{
left:0px;letter-spacing:-0.7px;margin-left:-502px;
}
#P3_82
{
left:21710.3px;bottom:32642px;color:rgb(35,31,31);
}
#P3_83
{
left:21710.3px;bottom:31155.9px;color:rgb(35,31,31);
}
#P3_84
{
left:22388px;bottom:31193.5px;color:rgb(35,31,31);
}
#P3_85
{
left:23602.8px;bottom:31155.7px;color:rgb(35,31,31);
}
#P3_86
{
left:24156.7px;bottom:31193.5px;color:rgb(35,31,31);
}
#P3_87
{
left:0px;letter-spacing:0px;margin-left:-49.2px;
}
#P3_88
{
left:26093.4px;bottom:31105.7px;color:rgb(35,31,31);
}
#P3_89
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_90
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_91
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P3_92
{
left:21710.3px;bottom:30018px;color:rgb(35,31,31);
}
#P3_93
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P3_94
{
left:21710.3px;bottom:28930.4px;color:rgb(35,31,31);
}
#P3_95
{
left:21710.3px;bottom:27443.5px;color:rgb(35,31,31);
}
#P3_96
{
left:22062px;bottom:27481.5px;color:rgb(35,31,31);
}
#P3_97
{
left:23530px;bottom:27443.7px;color:rgb(35,31,31);
}
#P3_98
{
left:24084.1px;bottom:27481.5px;color:rgb(35,31,31);
}
#P3_99
{
left:27829.3px;bottom:27393.7px;color:rgb(35,31,31);
}
#P3_100
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_101
{
left:0px;letter-spacing:0px;margin-left:-33.8px;
}
#P3_102
{
left:21710.1px;bottom:26306px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P3_103
{
left:0px;letter-spacing:0px;margin-left:2.2px;
}
#P3_104
{
left:21710.1px;bottom:24819.9px;color:rgb(35,31,31);
}
#P3_105
{
left:22270.4px;bottom:24857.5px;color:rgb(35,31,31);
}
#P3_106
{
left:23566.5px;bottom:24819.7px;color:rgb(35,31,31);
}
#P3_107
{
left:24238.8px;bottom:24857.5px;color:rgb(35,31,31);
}
#P3_108
{
left:25242.6px;bottom:24769.7px;letter-spacing:502px;color:rgb(35,31,31);
}
#P3_109
{
left:0px;letter-spacing:0px;margin-left:-502px;
}
#P3_110
{
left:21709.9px;bottom:23682px;color:rgb(35,31,31);
}
#P3_111
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P3_112
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P3_113
{
left:21709.9px;bottom:22195.9px;color:rgb(35,31,31);
}
#P3_114
{
left:22270.4px;bottom:22233.5px;color:rgb(35,31,31);
}
#P3_115
{
left:23868px;bottom:22195.7px;color:rgb(35,31,31);
}
#P3_116
{
left:24540.4px;bottom:22233.5px;color:rgb(35,31,31);
}
#P3_117
{
left:26046.8px;bottom:22145.7px;letter-spacing:502px;color:rgb(35,31,31);
}
#P3_118
{
left:0px;letter-spacing:0px;margin-left:-502px;
}
#P3_119
{
left:21710.2px;bottom:21058px;color:rgb(35,31,31);
}
#P3_120
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P3_121
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P3_122
{
left:21710.2px;bottom:19970.4px;color:rgb(35,31,31);
}
#P3_123
{
left:21710.2px;bottom:18483.5px;color:rgb(35,31,31);
}
#P3_124
{
left:22191.6px;bottom:18521.5px;color:rgb(35,31,31);
}
#P3_125
{
left:23814.3px;bottom:18483.7px;color:rgb(35,31,31);
}
#P3_126
{
left:24450.8px;bottom:18521.5px;letter-spacing:-9.9px;word-spacing:19.7px;color:rgb(35,31,31);
}
#P3_127
{
left:25462px;bottom:18433.7px;color:rgb(35,31,31);
}
#P3_128
{
left:0px;letter-spacing:0px;margin-left:502px;
}
#P3_129
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P3_130
{
left:21710.3px;bottom:17346px;color:rgb(35,31,31);
}
#P3_131
{
left:21710.3px;bottom:16258.4px;color:rgb(35,31,31);
}
#PageContainer3
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg003.jpg");background-repeat:no-repeat;background-size: 107px 102px; background-position: right bottom;
}
#ImageContainer3 {bottom:0.00px;right:0.00px;width:106.52px;height:101.80px;position:absolute;} #TextContainer3 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
