.tr141{ color:transparent;}
#P141_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P141_2
{
left:6544.96px;bottom:46536.9px;color:rgb(35,31,31);
}
#P141_3
{
left:7038.59px;bottom:46579.9px;color:rgb(35,31,31);
}
#P141_4
{
left:7857.28px;bottom:46480.1px;color:rgb(35,31,31);
}
#P141_5
{
left:8775.68px;bottom:46474.5px;color:rgb(35,31,31);
}
#P141_6
{
left:18280.5px;bottom:46480.1px;color:rgb(35,31,31);
}
#P141_7
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_8
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P141_9
{
left:7697.28px;bottom:45264.1px;color:rgb(35,31,31);
}
#P141_10
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P141_11
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P141_12
{
left:6545.28px;bottom:43656.9px;color:rgb(35,31,31);
}
#P141_13
{
left:7196.99px;bottom:43699.9px;color:rgb(35,31,31);
}
#P141_14
{
left:7958.53px;bottom:43656.9px;color:rgb(35,31,31);
}
#P141_15
{
left:8958.53px;bottom:43699.9px;color:rgb(35,31,31);
}
#P141_16
{
left:9787.33px;bottom:43656.9px;color:rgb(35,31,31);
}
#P141_17
{
left:10016.9px;bottom:43594.5px;color:rgb(35,31,31);
}
#P141_18
{
left:26540.9px;bottom:43600.1px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P141_19
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P141_20
{
left:7696.9px;bottom:42384.1px;color:rgb(35,31,31);
}
#P141_21
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P141_22
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P141_23
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P141_24
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P141_25
{
left:7696.9px;bottom:41168.1px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P141_26
{
left:33740.5px;bottom:41518px;color:rgb(35,31,31);
}
#P141_27
{
left:34008.3px;bottom:41168.1px;color:rgb(35,31,31);
}
#P141_28
{
left:6545.09px;bottom:39560.9px;color:rgb(35,31,31);
}
#P141_29
{
left:7038.59px;bottom:39603.9px;color:rgb(35,31,31);
}
#P141_30
{
left:8937.28px;bottom:39504.1px;color:rgb(35,31,31);
}
#P141_31
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P141_32
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P141_33
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P141_34
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P141_35
{
left:6545.28px;bottom:37896.9px;color:rgb(35,31,31);
}
#P141_36
{
left:7038.59px;bottom:37939.9px;color:rgb(35,31,31);
}
#P141_37
{
left:7857.28px;bottom:37840.1px;color:rgb(35,31,31);
}
#P141_38
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_39
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P141_40
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P141_41
{
left:7697.28px;bottom:36624.1px;color:rgb(35,31,31);
}
#P141_42
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P141_43
{
left:6545.28px;bottom:35016.9px;color:rgb(35,31,31);
}
#P141_44
{
left:7038.59px;bottom:35059.9px;color:rgb(35,31,31);
}
#P141_45
{
left:7857.28px;bottom:34960.1px;color:rgb(35,31,31);
}
#P141_46
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_47
{
left:0px;letter-spacing:-0.5px;
}
#P141_48
{
left:0px;letter-spacing:0px;margin-left:-58.7px;
}
#P141_49
{
left:0px;letter-spacing:-60.8px;
}
#P141_50
{
left:0px;letter-spacing:-0.4px;margin-left:60.8px;
}
#P141_51
{
left:6545.28px;bottom:33352.9px;color:rgb(35,31,31);
}
#P141_52
{
left:7038.59px;bottom:33395.9px;color:rgb(35,31,31);
}
#P141_53
{
left:7857.28px;bottom:33296.1px;color:rgb(35,31,31);
}
#P141_54
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_55
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P141_56
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P141_57
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P141_58
{
left:6545.28px;bottom:31688.9px;color:rgb(35,31,31);
}
#P141_59
{
left:7196.99px;bottom:31731.9px;color:rgb(35,31,31);
}
#P141_60
{
left:7958.53px;bottom:31688.9px;color:rgb(35,31,31);
}
#P141_61
{
left:8958.53px;bottom:31731.9px;color:rgb(35,31,31);
}
#P141_62
{
left:9787.33px;bottom:31688.9px;color:rgb(35,31,31);
}
#P141_63
{
left:10016.9px;bottom:31632.1px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P141_64
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P141_65
{
left:18749.6px;bottom:31982px;color:rgb(35,31,31);
}
#P141_66
{
left:19017.3px;bottom:31632.1px;color:rgb(35,31,31);
}
#P141_67
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P141_68
{
left:7697.28px;bottom:30416.1px;color:rgb(35,31,31);
}
#P141_69
{
left:6545.28px;bottom:28239.3px;color:rgb(35,31,31);
}
#P141_70
{
left:6545.28px;bottom:27018.5px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P141_71
{
left:6545.28px;bottom:25802.5px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P141_72
{
left:19767.1px;bottom:26154.7px;color:rgb(35,31,31);
}
#P141_73
{
left:20034.8px;bottom:25802.5px;color:rgb(35,31,31);
}
#P141_74
{
left:6545.22px;bottom:24200.9px;color:rgb(35,31,31);
}
#P141_75
{
left:7196.99px;bottom:24243.9px;color:rgb(35,31,31);
}
#P141_76
{
left:7958.53px;bottom:24200.9px;color:rgb(35,31,31);
}
#P141_77
{
left:8958.53px;bottom:24243.9px;color:rgb(35,31,31);
}
#P141_78
{
left:9787.33px;bottom:24344.1px;color:rgb(35,31,31);
}
#P141_79
{
left:10016.9px;bottom:24138.5px;color:rgb(35,31,31);
}
#P141_80
{
left:28557.7px;bottom:24144.1px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P141_81
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P141_82
{
left:7696.9px;bottom:22928.1px;color:rgb(35,31,31);
}
#P141_83
{
left:0px;letter-spacing:0px;margin-left:-73.6px;
}
#P141_84
{
left:0px;letter-spacing:-0.1px;
}
#P141_85
{
left:0px;letter-spacing:0px;margin-left:-59.1px;
}
#P141_86
{
left:6544.9px;bottom:21320.9px;color:rgb(35,31,31);
}
#P141_87
{
left:7038.59px;bottom:21363.9px;color:rgb(35,31,31);
}
#P141_88
{
left:8137.28px;bottom:21264.1px;color:rgb(35,31,31);
}
#P141_89
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_90
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P141_91
{
left:6545.28px;bottom:19656.9px;color:rgb(35,31,31);
}
#P141_92
{
left:7196.99px;bottom:19699.9px;color:rgb(35,31,31);
}
#P141_93
{
left:7958.53px;bottom:19656.9px;color:rgb(35,31,31);
}
#P141_94
{
left:8958.53px;bottom:19699.9px;color:rgb(35,31,31);
}
#P141_95
{
left:9787.33px;bottom:19656.9px;color:rgb(35,31,31);
}
#P141_96
{
left:10016.9px;bottom:19600.1px;color:rgb(35,31,31);
}
#P141_97
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_98
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P141_99
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P141_100
{
left:7696.9px;bottom:18384.1px;color:rgb(35,31,31);
}
#P141_101
{
left:6544.9px;bottom:16776.9px;color:rgb(35,31,31);
}
#P141_102
{
left:7038.59px;bottom:16819.9px;color:rgb(35,31,31);
}
#P141_103
{
left:7857.28px;bottom:16720.1px;color:rgb(35,31,31);
}
#P141_104
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_105
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P141_106
{
left:6545.28px;bottom:15112.9px;color:rgb(35,31,31);
}
#P141_107
{
left:7196.99px;bottom:15155.9px;color:rgb(35,31,31);
}
#P141_108
{
left:7958.53px;bottom:15112.9px;color:rgb(35,31,31);
}
#P141_109
{
left:8958.53px;bottom:15155.9px;color:rgb(35,31,31);
}
#P141_110
{
left:9787.33px;bottom:15112.9px;color:rgb(35,31,31);
}
#P141_111
{
left:10016.9px;bottom:15056.1px;color:rgb(35,31,31);
}
#P141_112
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_113
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P141_114
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P141_115
{
left:6544.9px;bottom:13448.9px;color:rgb(35,31,31);
}
#P141_116
{
left:7038.59px;bottom:13491.9px;color:rgb(35,31,31);
}
#P141_117
{
left:7857.28px;bottom:13392.1px;color:rgb(35,31,31);
}
#P141_118
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_119
{
left:6545.28px;bottom:11784.9px;color:rgb(35,31,31);
}
#P141_120
{
left:7196.99px;bottom:11827.9px;color:rgb(35,31,31);
}
#P141_121
{
left:7958.53px;bottom:11784.9px;color:rgb(35,31,31);
}
#P141_122
{
left:8958.53px;bottom:11827.9px;color:rgb(35,31,31);
}
#P141_123
{
left:9787.33px;bottom:11728.1px;color:rgb(35,31,31);
}
#P141_124
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_125
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P141_126
{
left:6544.9px;bottom:10120.9px;color:rgb(35,31,31);
}
#P141_127
{
left:7038.59px;bottom:10163.9px;color:rgb(35,31,31);
}
#P141_128
{
left:8137.28px;bottom:10064.1px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P141_129
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P141_130
{
left:6545.28px;bottom:8456.93px;color:rgb(35,31,31);
}
#P141_131
{
left:7196.99px;bottom:8499.89px;color:rgb(35,31,31);
}
#P141_132
{
left:7958.53px;bottom:8456.93px;color:rgb(35,31,31);
}
#P141_133
{
left:8958.53px;bottom:8499.89px;color:rgb(35,31,31);
}
#P141_134
{
left:9787.33px;bottom:8400.13px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P141_135
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P141_136
{
left:6544.9px;bottom:6792.93px;color:rgb(35,31,31);
}
#P141_137
{
left:7038.59px;bottom:6835.89px;color:rgb(35,31,31);
}
#P141_138
{
left:8137.28px;bottom:6792.93px;color:rgb(35,31,31);
}
#P141_139
{
left:8366.91px;bottom:6730.53px;color:rgb(35,31,31);
}
#P141_140
{
left:14463.7px;bottom:6736.13px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P141_141
{
left:0px;letter-spacing:-11px;margin-left:-570.4px;
}
#P141_142
{
left:0px;letter-spacing:-0.3px;margin-left:11px;
}
#P141_143
{
left:7697.28px;bottom:5520.13px;color:rgb(35,31,31);
}
#P141_144
{
left:6545.28px;bottom:3912.95px;color:rgb(35,31,31);
}
#P141_145
{
left:7038.59px;bottom:3955.91px;color:rgb(35,31,31);
}
#P141_146
{
left:7857.28px;bottom:3856.15px;color:rgb(35,31,31);
}
#P141_147
{
left:0px;letter-spacing:0px;margin-left:570.4px;
}
#P141_148
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P141_149
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P141_150
{
left:28200.5px;bottom:13058.2px;color:rgb(35,31,31);
}
#P141_151
{
left:28390.1px;bottom:12749.6px;color:rgb(35,31,31);
}
#P141_152
{
left:32806.3px;bottom:12749.6px;color:rgb(35,31,31);
}
#P141_153
{
left:28200.7px;bottom:11904.8px;color:rgb(35,31,31);
}
#P141_154
{
left:28200.5px;bottom:11368.6px;color:rgb(35,31,31);
}
#P141_155
{
left:28399.9px;bottom:11060px;color:rgb(35,31,31);
}
#P141_156
{
left:30078.9px;bottom:11060px;color:rgb(35,31,31);
}
#P141_157
{
left:28200.5px;bottom:10523.8px;color:rgb(35,31,31);
}
#P141_158
{
left:28419.3px;bottom:10215.2px;color:rgb(35,31,31);
}
#P141_159
{
left:30177.2px;bottom:10215.2px;color:rgb(35,31,31);
}
#PageContainer141
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg141.jpg");background-repeat:no-repeat;background-size: 312px 381px; background-position: right bottom;
}
#ImageContainer141 {bottom:0.00px;right:0.00px;width:311.97px;height:380.67px;position:absolute;} #TextContainer141 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}



#approaching{position: absolute;
top: 90px;
left: 579px;
height: 25px;
width: 131px;
background-repeat: no-repeat;opacity: 0;
}
#inconvenience{position: absolute;
top: 231px;
left: 764px;
height: 25px;
width: 153px;
background-repeat: no-repeat;opacity: 0;
}
#insist{position: absolute;
top: 492px;
left: 453px;
height: 25px;
width: 55px;
background-repeat: no-repeat;opacity: 0;
}
#compartment{position: absolute;
top: 618px;
left: 496px;
height: 25px;
width: 130px;
background-repeat: no-repeat;opacity: 0;
}
#laden{position: absolute;
top: 649px;
left: 483px;
height: 25px;
width: 54px;
background-repeat: no-repeat;opacity: 0;
}