.tr113{ color:transparent;}
#P113_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P113_2
{
left:6562.5px;bottom:46429.8px;color:rgb(35,31,31);
}
#P113_3
{
left:6562.5px;bottom:45213.8px;color:rgb(35,31,31);
}
#P113_4
{
left:6562.5px;bottom:43992.2px;color:rgb(35,31,31);
}
#P113_5
{
left:10681.7px;bottom:43997.8px;color:rgb(35,31,31);
}
#P113_6
{
left:6562.5px;bottom:42776.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P113_7
{
left:6562.5px;bottom:41560.2px;color:rgb(35,31,31);
}
#P113_8
{
left:6562.5px;bottom:40344.2px;letter-spacing:-36.8px;color:rgb(35,31,31);
}
#P113_9
{
left:0px;letter-spacing:0px;margin-left:36.8px;
}
#P113_10
{
left:6562.5px;bottom:38685.8px;color:rgb(35,31,31);
}
#P113_11
{
left:6562.5px;bottom:37469.8px;color:rgb(35,31,31);
}
#P113_12
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P113_13
{
left:6562.5px;bottom:36253.8px;color:rgb(35,31,31);
}
#P113_14
{
left:13058.4px;bottom:36603.6px;color:rgb(35,31,31);
}
#P113_15
{
left:13326.1px;bottom:36253.8px;color:rgb(35,31,31);
}
#P113_16
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P113_17
{
left:6562.88px;bottom:35037.8px;color:rgb(35,31,31);
}
#P113_18
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P113_19
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P113_20
{
left:6562.88px;bottom:33821.8px;color:rgb(35,31,31);
}
#P113_21
{
left:6562.88px;bottom:32605.8px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P113_22
{
left:0px;letter-spacing:0px;margin-left:30.4px;
}
#P113_23
{
left:31362.1px;bottom:30998.6px;color:rgb(35,31,31);
}
#P113_24
{
left:31855.7px;bottom:31041.6px;color:rgb(35,31,31);
}
#P113_25
{
left:33233.3px;bottom:30998.6px;color:rgb(35,31,31);
}
#P113_26
{
left:33922.9px;bottom:31041.6px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P113_27
{
left:6562.5px;bottom:27078.8px;color:rgb(35,63,142);
}
#P113_28
{
left:6562.5px;bottom:25437.8px;color:rgb(35,31,31);
}
#P113_29
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P113_30
{
left:6562.5px;bottom:24093.8px;color:rgb(35,31,31);
}
#P113_31
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P113_32
{
left:6562.5px;bottom:22749.8px;color:rgb(35,31,31);
}
#P113_33
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P113_34
{
left:12991.3px;bottom:22744.2px;color:rgb(35,31,31);
}
#P113_35
{
left:14741.7px;bottom:22749.8px;color:rgb(35,31,31);
}
#P113_36
{
left:6562.5px;bottom:21405.8px;color:rgb(35,31,31);
}
#P113_37
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P113_38
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P113_39
{
left:0px;letter-spacing:0px;margin-left:652.8px;
}
#P113_40
{
left:6562.5px;bottom:20061.8px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P113_41
{
left:0px;letter-spacing:0.5px;margin-left:-922.4px;
}
#P113_42
{
left:6562.5px;bottom:18717.8px;color:rgb(35,31,31);
}
#P113_43
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P113_44
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P113_45
{
left:8994.5px;bottom:17496.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P113_46
{
left:0px;letter-spacing:0px;margin-left:-58.6px;
}
#P113_47
{
left:6562.5px;bottom:16029.8px;color:rgb(35,31,31);
}
#P113_48
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P113_49
{
left:6562.5px;bottom:14685.8px;color:rgb(35,31,31);
}
#P113_50
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P113_51
{
left:7714.5px;bottom:13469.8px;color:rgb(35,31,31);
}
#P113_52
{
left:6562.5px;bottom:12125.8px;color:rgb(35,31,31);
}
#P113_53
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P113_54
{
left:7714.5px;bottom:10909.8px;color:rgb(35,31,31);
}
#P113_55
{
left:6562.5px;bottom:9565.82px;color:rgb(35,31,31);
}
#P113_56
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P113_57
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P113_58
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P113_59
{
left:6562.5px;bottom:8221.82px;color:rgb(35,31,31);
}
#P113_60
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P113_61
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P113_62
{
left:0px;letter-spacing:0px;margin-left:104.8px;
}
#P113_63
{
left:6562.5px;bottom:6877.82px;color:rgb(35,31,31);
}
#P113_64
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P113_65
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P113_66
{
left:0px;letter-spacing:0px;margin-left:510.4px;
}
#P113_67
{
left:8994.5px;bottom:5528.22px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P113_68
{
left:0px;letter-spacing:0px;margin-left:-58.6px;
}
#P113_69
{
left:27503.6px;bottom:33953.5px;color:rgb(35,31,31);
}
#P113_70
{
left:27703px;bottom:33645px;color:rgb(35,31,31);
}
#P113_71
{
left:29449.7px;bottom:33645px;color:rgb(35,31,31);
}
#P113_72
{
left:4803.08px;bottom:26896.7px;color:rgb(255,242,0);
}
#PageContainer113
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg113.jpg");background-repeat:no-repeat;background-size: 971px 948px; background-position: right bottom;
}
#ImageContainer113 {bottom:0.00px;right:0.00px;width:970.74px;height:947.50px;position:absolute;} #TextContainer113 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}