.tr98{ color:transparent;}
#P98_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P98_2
{
left:6492.67px;bottom:46129.3px;color:rgb(35,63,142);
}
#P98_3
{
left:15639.3px;bottom:46530.6px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P98_4
{
left:6620.67px;bottom:44026.5px;color:rgb(242,114,33);
}
#P98_5
{
left:0px;letter-spacing:0px;margin-left:-76.5px;
}
#P98_6
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P98_7
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P98_8
{
left:6620.67px;bottom:42810.1px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P98_9
{
left:6492.67px;bottom:41410.7px;color:rgb(237,28,35);
}
#P98_10
{
left:10050.3px;bottom:41416.3px;letter-spacing:570.4px;color:rgb(35,31,31);
}
#P98_11
{
left:0px;letter-spacing:0px;margin-left:-570.4px;
}
#P98_12
{
left:4847.88px;bottom:46151.7px;color:rgb(255,242,0);
}
#PageContainer98
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg098.jpg");background-repeat:no-repeat;background-size: 987px 1319px; background-position: left bottom;
}
#ImageContainer98 {bottom:0.00px;left:0.00px;width:987.30px;height:1319.03px;position:absolute;} #TextContainer98 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}