.tr101{ color:transparent;}
#P101_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P101_2
{
left:6607.87px;bottom:46435.2px;color:rgb(35,31,31);
}
#P101_3
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P101_4
{
left:6607.87px;bottom:45091.2px;color:rgb(35,31,31);
}
#P101_5
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P101_6
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P101_7
{
left:0px;letter-spacing:0px;margin-left:-0.8px;
}
#P101_8
{
left:6607.87px;bottom:43747.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P101_9
{
left:0px;letter-spacing:3.5px;margin-left:-922.4px;
}
#P101_10
{
left:0px;letter-spacing:0px;margin-left:-3.5px;
}
#P101_11
{
left:6607.87px;bottom:42403.2px;color:rgb(35,31,31);
}
#P101_12
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P101_13
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P101_14
{
left:6607.87px;bottom:41059.2px;color:rgb(35,31,31);
}
#P101_15
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P101_16
{
left:7759.87px;bottom:39843.2px;color:rgb(35,31,31);
}
#P101_17
{
left:6607.87px;bottom:36300.2px;color:rgb(35,63,142);
}
#P101_18
{
left:11971.8px;bottom:36701.4px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P101_19
{
left:6607.87px;bottom:34197.4px;color:rgb(242,114,33);
}
#P101_20
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P101_21
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P101_22
{
left:6607.87px;bottom:32341.2px;color:rgb(242,114,33);
}
#P101_23
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P101_24
{
left:0px;letter-spacing:-0.1px;
}
#P101_25
{
left:7760.19px;bottom:31124.8px;color:rgb(242,114,33);
}
#P101_26
{
left:4713.01px;bottom:36094.8px;color:rgb(255,242,0);
}
#PageContainer101
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg101.jpg");background-repeat:no-repeat;background-size: 972px 1048px; background-position: right bottom;
}
#ImageContainer101 {bottom:0.00px;right:0.00px;width:971.51px;height:1048.01px;position:absolute;} #TextContainer101 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}