.tr73{ color:transparent;}
#P73_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P73_2
{
left:6741.7px;bottom:46327.8px;word-spacing:553.6px;color:rgb(35,31,31);
}
#P73_3
{
left:9476.93px;bottom:46322.2px;color:rgb(35,31,31);
}
#P73_4
{
left:11957.7px;bottom:46327.8px;color:rgb(35,31,31);
}
#P73_5
{
left:17364.9px;bottom:46322.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P73_6
{
left:26237.7px;bottom:46327.8px;color:rgb(35,31,31);
}
#P73_7
{
left:8213.7px;bottom:45111.8px;color:rgb(35,31,31);
}
#P73_8
{
left:9476.93px;bottom:45106.2px;color:rgb(35,31,31);
}
#P73_9
{
left:10512.9px;bottom:45111.8px;color:rgb(35,31,31);
}
#P73_10
{
left:30626.5px;bottom:46322.2px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P73_11
{
left:30626.5px;bottom:45106.2px;color:rgb(35,31,31);
}
#P73_12
{
left:6741.7px;bottom:43325.4px;word-spacing:602.9px;color:rgb(35,31,31);
}
#P73_13
{
left:9703.87px;bottom:43319.8px;color:rgb(35,31,31);
}
#P73_14
{
left:14015.4px;bottom:43325.4px;color:rgb(35,31,31);
}
#P73_15
{
left:18272.4px;bottom:43319.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P73_16
{
left:28250.3px;bottom:43325.4px;color:rgb(35,31,31);
}
#P73_17
{
left:8213.7px;bottom:42109.4px;color:rgb(35,31,31);
}
#P73_18
{
left:9765.7px;bottom:42103.8px;color:rgb(35,31,31);
}
#P73_19
{
left:11746.5px;bottom:42109.4px;color:rgb(35,31,31);
}
#P73_20
{
left:30626.5px;bottom:43319.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P73_21
{
left:30626.5px;bottom:42103.8px;color:rgb(35,31,31);
}
#P73_22
{
left:7701.7px;bottom:40011.8px;color:rgb(35,31,31);
}
#P73_23
{
left:22124.1px;bottom:40011px;color:rgb(35,31,31);
}
#P73_24
{
left:24005.7px;bottom:40011.8px;color:rgb(35,31,31);
}
#P73_25
{
left:25246.5px;bottom:40011px;color:rgb(35,31,31);
}
#P73_26
{
left:27528.1px;bottom:40006.2px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P73_27
{
left:33027.3px;bottom:40011.8px;color:rgb(35,31,31);
}
#P73_28
{
left:6485.7px;bottom:36990.1px;color:rgb(242,114,33);
}
#P73_29
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P73_30
{
left:0px;letter-spacing:0px;
}
#P73_31
{
left:6485.7px;bottom:35595.9px;letter-spacing:958.7px;color:rgb(35,31,31);
}
#P73_32
{
left:0px;letter-spacing:0px;margin-left:-958.7px;
}
#P73_33
{
left:7637.89px;bottom:34379.9px;color:rgb(35,31,31);
}
#P73_34
{
left:28823.6px;bottom:34374.3px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P73_35
{
left:34293.4px;bottom:34379.9px;color:rgb(35,31,31);
}
#P73_36
{
left:7637.89px;bottom:33163.9px;color:rgb(35,31,31);
}
#P73_37
{
left:7637.89px;bottom:31947.9px;color:rgb(35,31,31);
}
#P73_38
{
left:0px;letter-spacing:0px;margin-left:-243.4px;
}
#P73_39
{
left:0px;letter-spacing:0px;margin-left:18.7px;
}
#P73_40
{
left:11325.4px;bottom:31942.3px;color:rgb(35,31,31);
}
#P73_41
{
left:18094.7px;bottom:31947.9px;color:rgb(35,31,31);
}
#P73_42
{
left:7637.89px;bottom:30731.9px;color:rgb(35,31,31);
}
#P73_43
{
left:27217.7px;bottom:30726.3px;color:rgb(35,31,31);
}
#P73_44
{
left:34398.2px;bottom:30731.9px;color:rgb(35,31,31);
}
#P73_45
{
left:7637.89px;bottom:29515.9px;color:rgb(35,31,31);
}
#P73_46
{
left:7637.89px;bottom:28299.9px;color:rgb(35,31,31);
}
#P73_47
{
left:6485.7px;bottom:26955.9px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P73_48
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P73_49
{
left:14159.3px;bottom:26950.3px;color:rgb(35,31,31);
}
#P73_50
{
left:19320.9px;bottom:26955.9px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P73_51
{
left:7637.7px;bottom:25739.9px;color:rgb(35,31,31);
}
#P73_52
{
left:29704.9px;bottom:25734.3px;color:rgb(35,31,31);
}
#P73_53
{
left:34866.5px;bottom:25739.9px;color:rgb(35,31,31);
}
#P73_54
{
left:7637.7px;bottom:24523.9px;color:rgb(35,31,31);
}
#P73_55
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P73_56
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P73_57
{
left:7637.7px;bottom:23307.9px;color:rgb(35,31,31);
}
#P73_58
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P73_59
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P73_60
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P73_61
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P73_62
{
left:7637.7px;bottom:22086.3px;color:rgb(35,31,31);
}
#P73_63
{
left:12799.3px;bottom:22091.9px;color:rgb(35,31,31);
}
#P73_64
{
left:7637.7px;bottom:20875.9px;letter-spacing:-73.6px;color:rgb(35,31,31);
}
#P73_65
{
left:0px;letter-spacing:0px;margin-left:73.6px;
}
#P73_66
{
left:6485.7px;bottom:19070.1px;letter-spacing:-0.1px;color:rgb(242,114,33);
}
#P73_67
{
left:7638.02px;bottom:17853.7px;color:rgb(242,114,33);
}
#P73_68
{
left:0px;letter-spacing:0px;margin-left:-282px;
}
#P73_69
{
left:0px;letter-spacing:0px;margin-left:34.9px;
}
#P73_70
{
left:12501.7px;bottom:15615.1px;letter-spacing:13905.6px;color:rgb(35,31,31);
}
#P73_71
{
left:8277.7px;bottom:13563.1px;letter-spacing:-36.8px;color:rgb(35,31,31);
}
#P73_72
{
left:0px;letter-spacing:0px;margin-left:36.8px;
}
#P73_73
{
left:9913.73px;bottom:13557.5px;color:rgb(35,31,31);
}
#P73_74
{
left:13326.5px;bottom:13563.1px;color:rgb(35,31,31);
}
#P73_75
{
left:8277.7px;bottom:12347.1px;color:rgb(35,31,31);
}
#P73_76
{
left:8277.7px;bottom:10683.1px;color:rgb(35,31,31);
}
#P73_77
{
left:8786.5px;bottom:10677.5px;color:rgb(35,31,31);
}
#P73_78
{
left:12095.3px;bottom:10683.1px;color:rgb(35,31,31);
}
#P73_79
{
left:8277.7px;bottom:9019.14px;color:rgb(35,31,31);
}
#P73_80
{
left:9829.7px;bottom:9013.54px;color:rgb(35,31,31);
}
#P73_81
{
left:13704.1px;bottom:9019.14px;color:rgb(35,31,31);
}
#P73_82
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P73_83
{
left:8277.7px;bottom:7355.14px;color:rgb(35,31,31);
}
#P73_84
{
left:8786.5px;bottom:7349.54px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P73_85
{
left:14624.1px;bottom:7355.14px;color:rgb(35,31,31);
}
#P73_86
{
left:8277.7px;bottom:5691.14px;color:rgb(35,31,31);
}
#P73_87
{
left:9829.7px;bottom:5685.54px;color:rgb(35,31,31);
}
#P73_88
{
left:13715.3px;bottom:5691.14px;color:rgb(35,31,31);
}
#P73_89
{
left:8277.7px;bottom:2939.11px;color:rgb(35,31,31);
}
#P73_90
{
left:8779.33px;bottom:2933.51px;color:rgb(35,31,31);
}
#P73_91
{
left:11361.7px;bottom:2939.11px;color:rgb(35,31,31);
}
#P73_92
{
left:20264.9px;bottom:13563.1px;color:rgb(35,31,31);
}
#P73_93
{
left:20264.9px;bottom:10683.1px;color:rgb(35,31,31);
}
#P73_94
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P73_95
{
left:20264.9px;bottom:9019.14px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P73_96
{
left:20264.9px;bottom:7355.14px;letter-spacing:-73.6px;color:rgb(35,31,31);
}
#P73_97
{
left:0px;letter-spacing:0px;margin-left:73.6px;
}
#P73_98
{
left:20264.9px;bottom:5691.14px;color:rgb(35,31,31);
}
#P73_99
{
left:20264.9px;bottom:4475.11px;color:rgb(35,31,31);
}
#P73_100
{
left:20264.9px;bottom:2811.11px;color:rgb(35,31,31);
}
#P73_101
{
left:20264.9px;bottom:1595.11px;color:rgb(35,31,31);
}
#P73_102
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#PageContainer73
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg073.jpg");background-repeat:no-repeat;background-size: 861px 1130px; background-position: right bottom;
}
#ImageContainer73 {bottom:0.00px;right:0.00px;width:861.47px;height:1130.19px;position:absolute;} #TextContainer73 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}