.tr45{ color:transparent;}
#P45_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P45_2
{
left:6531.07px;bottom:46098.2px;color:rgb(35,63,142);
}
#P45_3
{
left:6531.07px;bottom:44457.2px;color:rgb(35,31,31);
}
#P45_4
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P45_5
{
left:6531.07px;bottom:43241.2px;color:rgb(35,31,31);
}
#P45_6
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P45_7
{
left:6531.07px;bottom:42025.2px;color:rgb(35,31,31);
}
#P45_8
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P45_9
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P45_10
{
left:6531.07px;bottom:40809.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P45_11
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P45_12
{
left:6531.07px;bottom:39593.2px;color:rgb(35,31,31);
}
#P45_13
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P45_14
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P45_15
{
left:6531.07px;bottom:38377.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P45_16
{
left:0px;letter-spacing:0.3px;margin-left:-922.4px;
}
#P45_17
{
left:6531.07px;bottom:37161.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P45_18
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P45_19
{
left:6531.07px;bottom:35945.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P45_20
{
left:0px;letter-spacing:0px;margin-left:-922.4px;
}
#P45_21
{
left:6531.07px;bottom:34723.6px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P45_22
{
left:0px;letter-spacing:0px;margin-left:128px;
}
#P45_23
{
left:0px;letter-spacing:-0.2px;
}
#P45_24
{
left:0px;letter-spacing:0px;margin-left:-6.2px;
}
#P45_25
{
left:6531.07px;bottom:33513.2px;color:rgb(35,31,31);
}
#P45_26
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P45_27
{
left:6531.07px;bottom:32297.2px;color:rgb(35,31,31);
}
#P45_28
{
left:0px;letter-spacing:0px;margin-left:233.6px;
}
#P45_29
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P45_30
{
left:7683.07px;bottom:31081.2px;color:rgb(35,31,31);
}
#P45_31
{
left:4728.13px;bottom:10312.7px;color:rgb(255,242,0);
}
#P45_32
{
left:4793.61px;bottom:46039.7px;color:rgb(255,242,0);
}
#P45_33
{
left:14199.4px;bottom:29198.3px;color:rgb(35,31,31);
}
#P45_34
{
left:0px;letter-spacing:0px;margin-left:3730.4px;
}
#P45_35
{
left:8323.33px;bottom:27637.5px;color:rgb(35,31,31);
}
#P45_36
{
left:14794.6px;bottom:27637.5px;letter-spacing:-249.6px;word-spacing:268.8px;color:rgb(35,31,31);
}
#P45_37
{
left:21145px;bottom:27637.5px;color:rgb(35,31,31);
}
#P45_38
{
left:0px;letter-spacing:0px;margin-left:4732.8px;
}
#P45_39
{
left:8323.33px;bottom:26185.5px;color:rgb(35,31,31);
}
#P45_40
{
left:0px;letter-spacing:0px;margin-left:2417.6px;
}
#P45_41
{
left:18894.5px;bottom:26185.5px;letter-spacing:-4px;word-spacing:4px;color:rgb(35,31,31);
}
#P45_42
{
left:24822.5px;bottom:26185.5px;color:rgb(35,31,31);
}
#P45_43
{
left:8324.16px;bottom:24733.5px;color:rgb(35,31,31);
}
#P45_44
{
left:0px;letter-spacing:0px;margin-left:1706.4px;
}
#P45_45
{
left:18895.4px;bottom:24733.5px;letter-spacing:-4px;word-spacing:4px;color:rgb(35,31,31);
}
#P45_46
{
left:24823.4px;bottom:24733.5px;color:rgb(35,31,31);
}
#P45_47
{
left:8324.93px;bottom:23281.5px;color:rgb(35,31,31);
}
#P45_48
{
left:0px;letter-spacing:0px;margin-left:2224.8px;
}
#P45_49
{
left:18896.1px;bottom:23281.5px;letter-spacing:-4px;word-spacing:4px;color:rgb(35,31,31);
}
#P45_50
{
left:24824.1px;bottom:23281.5px;color:rgb(35,31,31);
}
#P45_51
{
left:8325.76px;bottom:21829.5px;color:rgb(35,31,31);
}
#P45_52
{
left:0px;letter-spacing:0px;margin-left:2070.4px;
}
#P45_53
{
left:18897px;bottom:21829.5px;letter-spacing:-4px;word-spacing:4px;color:rgb(35,31,31);
}
#P45_54
{
left:24825px;bottom:21829.5px;color:rgb(35,31,31);
}
#P45_55
{
left:8326.53px;bottom:20377.5px;color:rgb(35,31,31);
}
#P45_56
{
left:0px;letter-spacing:0px;margin-left:2756.8px;
}
#P45_57
{
left:18897.7px;bottom:20377.5px;letter-spacing:-4px;word-spacing:4px;color:rgb(35,31,31);
}
#P45_58
{
left:24825.7px;bottom:20377.5px;color:rgb(35,31,31);
}
#P45_59
{
left:8327.36px;bottom:18925.5px;letter-spacing:-249.6px;word-spacing:20px;color:rgb(35,31,31);
}
#P45_60
{
left:0px;letter-spacing:0px;margin-left:248.9px;
}
#P45_61
{
left:12154.6px;bottom:18925.5px;color:rgb(35,31,31);
}
#P45_62
{
left:18898.6px;bottom:18925.5px;letter-spacing:-4px;word-spacing:4px;color:rgb(35,31,31);
}
#P45_63
{
left:24826.6px;bottom:18925.5px;color:rgb(35,31,31);
}
#P45_64
{
left:6548.16px;bottom:16958.3px;color:rgb(35,31,31);
}
#P45_65
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P45_66
{
left:0px;letter-spacing:0px;margin-left:-242.4px;
}
#P45_67
{
left:0px;letter-spacing:0px;margin-left:12.8px;
}
#P45_68
{
left:7700.16px;bottom:15747.9px;color:rgb(35,31,31);
}
#P45_69
{
left:7700.16px;bottom:14531.9px;color:rgb(35,31,31);
}
#P45_70
{
left:6543.3px;bottom:10347.6px;color:rgb(35,63,142);
}
#P45_71
{
left:11907.3px;bottom:10749px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P45_72
{
left:6543.3px;bottom:8244.86px;color:rgb(242,114,33);
}
#P45_73
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P45_74
{
left:0px;letter-spacing:0px;margin-left:-76.5px;
}
#P45_75
{
left:0px;letter-spacing:-0.2px;
}
#P45_76
{
left:7695.62px;bottom:7028.48px;color:rgb(242,114,33);
}
#P45_77
{
left:7695.62px;bottom:5812.1px;letter-spacing:-0.4px;color:rgb(242,114,33);
}
#P45_78
{
left:6543.3px;bottom:3955.92px;color:rgb(242,114,33);
}
#P45_79
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P45_80
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P45_81
{
left:7695.62px;bottom:2739.54px;color:rgb(242,114,33);
}
#PageContainer45
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg045.jpg");background-repeat:no-repeat;background-size: 1065px 1316px; background-position: right bottom;
}
#ImageContainer45 {bottom:0.00px;right:0.00px;width:1064.80px;height:1315.83px;position:absolute;} #TextContainer45 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}