.audio_pos{top: 84px;left: 712px;position: absolute;height: 50px;width: auto;}


#audioPosition{position: absolute;top: 84px;left: 712px;height: 40px;width: 50px;background-repeat: no-repeat;opacity: 0;}

#cocked{position: absolute;top: 844px;left: 729px;height: 25px;width: 70px;background-repeat: no-repeat;opacity: 0;}
#rattled{position: absolute;top: 631px;left: 861px;height: 25px;width: 67px;background-repeat: no-repeat;opacity: 0;}


.tr56{ color:transparent;}
#P56_1
{
left:2087.16px;bottom:2306.95px;color:white;
}
#P56_2
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(237,28,35);
}
#P56_3
{
left:29576.3px;bottom:46372.1px;color:rgb(35,31,31);
}
#P56_4
{
left:29576.3px;bottom:45156.1px;color:rgb(35,31,31);
}
#P56_5
{
left:28025.9px;bottom:43940.1px;color:rgb(35,31,31);
}
#P56_6
{
left:28025.9px;bottom:42724.1px;color:rgb(35,31,31);
}
#P56_7
{
left:28025.9px;bottom:41508.1px;color:rgb(35,31,31);
}
#P56_8
{
left:28025.9px;bottom:40292.1px;color:rgb(35,31,31);
}
#P56_9
{
left:28025.9px;bottom:39076.1px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P56_10
{
left:28025.9px;bottom:37860.1px;color:rgb(35,31,31);
}
#P56_11
{
left:28025.9px;bottom:36196.1px;color:rgb(35,31,31);
}
#P56_12
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P56_13
{
left:28025.9px;bottom:34980.1px;color:rgb(35,31,31);
}
#P56_14
{
left:28025.9px;bottom:33764.1px;color:rgb(35,31,31);
}
#P56_15
{
left:28025.9px;bottom:32548.1px;color:rgb(35,31,31);
}
#P56_16
{
left:28025.9px;bottom:31332.1px;color:rgb(35,31,31);
}
#P56_17
{
left:28025.9px;bottom:30116.1px;color:rgb(35,31,31);
}
#P56_18
{
left:28025.9px;bottom:28900.1px;color:rgb(35,31,31);
}
#P56_19
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P56_20
{
left:28025.9px;bottom:27684.1px;color:rgb(35,31,31);
}
#P56_21
{
left:28025.9px;bottom:26468.1px;color:rgb(35,31,31);
}
#P56_22
{
left:28025.9px;bottom:25252.1px;color:rgb(35,31,31);
}
#P56_23
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P56_24
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P56_25
{
left:28025.9px;bottom:24036.1px;color:rgb(35,31,31);
}
#P56_26
{
left:28025.9px;bottom:22820.1px;color:rgb(35,31,31);
}
#P56_27
{
left:28025.9px;bottom:21604.1px;color:rgb(35,31,31);
}
#P56_28
{
left:6530.75px;bottom:19940.1px;color:rgb(35,31,31);
}
#P56_29
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P56_30
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P56_31
{
left:6530.75px;bottom:18724.1px;color:rgb(35,31,31);
}
#P56_32
{
left:29453.8px;bottom:19073.9px;color:rgb(35,31,31);
}
#P56_33
{
left:29721.5px;bottom:18724.1px;color:rgb(35,31,31);
}
#P56_34
{
left:6531.14px;bottom:17508.1px;color:rgb(35,31,31);
}
#P56_35
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P56_36
{
left:0px;letter-spacing:0px;margin-left:-14.4px;
}
#P56_37
{
left:6531.14px;bottom:16292.1px;color:rgb(35,31,31);
}
#P56_38
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P56_39
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P56_40
{
left:0px;letter-spacing:0px;margin-left:-40px;
}
#P56_41
{
left:0px;letter-spacing:0px;margin-left:-44px;
}
#P56_42
{
left:32667.5px;bottom:16641.9px;color:rgb(35,31,31);
}
#P56_43
{
left:32935.2px;bottom:16292.1px;color:rgb(35,31,31);
}
#P56_44
{
left:6531.2px;bottom:15076.1px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P56_45
{
left:6531.2px;bottom:13860.1px;color:rgb(35,31,31);
}
#P56_46
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P56_47
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P56_48
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P56_49
{
left:6531.2px;bottom:12644.1px;color:rgb(35,31,31);
}
#P56_50
{
left:0px;letter-spacing:0px;margin-left:-249.6px;
}
#P56_51
{
left:0px;letter-spacing:0px;margin-left:19.2px;
}
#P56_52
{
left:6531.2px;bottom:11428.1px;color:rgb(35,31,31);
}
#P56_53
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P56_54
{
left:6531.2px;bottom:10212.1px;color:rgb(35,31,31);
}
#P56_55
{
left:6531.2px;bottom:8548.1px;color:rgb(35,31,31);
}
#P56_56
{
left:6531.2px;bottom:7332.1px;color:rgb(35,31,31);
}
#P56_57
{
left:6531.2px;bottom:6116.1px;color:rgb(35,31,31);
}
#P56_58
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P56_59
{
left:27564.8px;bottom:9539.14px;color:rgb(35,31,31);
}
#P56_60
{
left:27708.3px;bottom:9230.6px;color:rgb(35,31,31);
}
#P56_61
{
left:29909px;bottom:9230.6px;color:rgb(35,31,31);
}
#P56_62
{
left:30310.3px;bottom:9230.6px;color:rgb(35,31,31);
}
#P56_63
{
left:31605.6px;bottom:9230.6px;color:rgb(35,31,31);
}
#P56_64
{
left:27565.4px;bottom:8385.8px;color:rgb(35,31,31);
}
#P56_65
{
left:27564.8px;bottom:7849.54px;color:rgb(35,31,31);
}
#P56_66
{
left:27754.4px;bottom:7541px;color:rgb(35,31,31);
}
#P56_67
{
left:31029.4px;bottom:7541px;color:rgb(35,31,31);
}
#P56_68
{
left:27564.3px;bottom:6696.2px;color:rgb(35,31,31);
}
#P56_69
{
left:27564.3px;bottom:5851.4px;color:rgb(35,31,31);
}
#P56_70
{
left:28026.2px;bottom:44721.8px;
}
#PageContainer56
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg056.jpg");background-repeat:no-repeat;background-size: 983px 1323px; background-position: left bottom;
}
#ImageContainer56 {bottom:0.00px;left:0.00px;width:983.26px;height:1322.51px;position:absolute;} #TextContainer56 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
