.tr61{ color:transparent;}
#P61_1
{
left:36219.4px;bottom:2306.95px;color:white;
}
#P61_2
{
left:6478.02px;bottom:46484.5px;color:rgb(35,31,31);
}
#P61_3
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P61_4
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P61_5
{
left:7630.02px;bottom:45140.5px;letter-spacing:918.4px;word-spacing:4px;color:rgb(35,31,31);
}
#P61_6
{
left:0px;letter-spacing:0px;margin-left:-918.4px;
}
#P61_7
{
left:11481.2px;bottom:45140.5px;letter-spacing:-249.6px;color:rgb(35,31,31);
}
#P61_8
{
left:0px;letter-spacing:0px;margin-left:268.7px;
}
#P61_9
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P61_10
{
left:7630.02px;bottom:43796.5px;letter-spacing:831.2px;word-spacing:91.2px;color:rgb(35,31,31);
}
#P61_11
{
left:0px;letter-spacing:0px;margin-left:-831.2px;
}
#P61_12
{
left:10173.2px;bottom:43796.5px;color:rgb(35,31,31);
}
#P61_13
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P61_14
{
left:6478.02px;bottom:41990.7px;color:rgb(242,114,33);
}
#P61_15
{
left:0px;letter-spacing:0px;margin-left:166.4px;
}
#P61_16
{
left:0px;letter-spacing:-0.3px;
}
#P61_17
{
left:7630.34px;bottom:40774.3px;letter-spacing:-0.4px;color:rgb(242,114,33);
}
#P61_18
{
left:0px;letter-spacing:0px;margin-left:-61.2px;
}
#P61_19
{
left:6478.02px;bottom:39380.5px;color:rgb(35,31,31);
}
#P61_20
{
left:7630.02px;bottom:39374.9px;color:rgb(237,28,35);
}
#P61_21
{
left:11661.2px;bottom:39380.5px;color:rgb(35,31,31);
}
#P61_22
{
left:26146px;bottom:39734px;color:rgb(35,31,31);
}
#P61_23
{
left:11662px;bottom:38036.2px;color:rgb(35,31,31);
}
#P61_24
{
left:14978px;bottom:38030.6px;color:rgb(35,31,31);
}
#P61_25
{
left:17110px;bottom:38036.2px;color:rgb(35,31,31);
}
#P61_26
{
left:26578px;bottom:38390px;color:rgb(35,31,31);
}
#P61_27
{
left:6478.02px;bottom:36692.2px;color:rgb(35,31,31);
}
#P61_28
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P61_29
{
left:0px;letter-spacing:0px;margin-left:80px;
}
#P61_30
{
left:6478.02px;bottom:35348.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P61_31
{
left:0px;letter-spacing:0.5px;margin-left:-922.4px;
}
#P61_32
{
left:6478.02px;bottom:34004.2px;color:rgb(35,31,31);
}
#P61_33
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P61_34
{
left:0px;letter-spacing:0px;margin-left:99.2px;
}
#P61_35
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P61_36
{
left:6478.02px;bottom:32660.2px;letter-spacing:922.4px;color:rgb(35,31,31);
}
#P61_37
{
left:0px;letter-spacing:1.1px;margin-left:-922.4px;
}
#P61_38
{
left:0px;letter-spacing:0px;margin-left:-1.1px;
}
#P61_39
{
left:7630.02px;bottom:31444.2px;color:rgb(35,31,31);
}
#P61_40
{
left:0px;letter-spacing:0px;margin-left:1050.4px;
}
#P61_41
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P61_42
{
left:6478.02px;bottom:30100.2px;color:rgb(35,31,31);
}
#P61_43
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P61_44
{
left:0px;letter-spacing:0px;margin-left:91.2px;
}
#P61_45
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#P61_46
{
left:0px;letter-spacing:0px;margin-left:-59.2px;
}
#P61_47
{
left:6478.02px;bottom:28756.2px;color:rgb(35,31,31);
}
#P61_48
{
left:0px;letter-spacing:0px;margin-left:922.4px;
}
#P61_49
{
left:0px;letter-spacing:0px;margin-left:209.6px;
}
#P61_50
{
left:0px;letter-spacing:0px;margin-left:-60.8px;
}
#P61_51
{
left:6478.02px;bottom:25213.5px;color:rgb(35,63,142);
}
#P61_52
{
left:15193.8px;bottom:25614.7px;letter-spacing:-50.4px;word-spacing:50.4px;color:white;
}
#P61_53
{
left:6478.08px;bottom:23110.7px;letter-spacing:0.2px;color:rgb(242,114,33);
}
#P61_54
{
left:6734.08px;bottom:21007.4px;color:rgb(35,31,31);
}
#P61_55
{
left:0px;letter-spacing:0px;margin-left:677.9px;
}
#P61_56
{
left:0px;letter-spacing:0px;margin-left:1022.3px;
}
#P61_57
{
left:0px;letter-spacing:0px;margin-left:772.1px;
}
#P61_58
{
left:6734.08px;bottom:19770.9px;color:rgb(35,31,31);
}
#P61_59
{
left:6734.08px;bottom:18427.7px;color:rgb(35,31,31);
}
#P61_60
{
left:6734.08px;bottom:17275.9px;color:rgb(35,31,31);
}
#P61_61
{
left:6734.08px;bottom:16124px;color:rgb(35,31,31);
}
#P61_62
{
left:6734.08px;bottom:14972.2px;color:rgb(35,31,31);
}
#P61_63
{
left:15433.5px;bottom:19772.4px;color:rgb(35,31,31);
}
#P61_64
{
left:15433.5px;bottom:18620.5px;color:rgb(35,31,31);
}
#P61_65
{
left:15433.5px;bottom:17468.7px;color:rgb(35,31,31);
}
#P61_66
{
left:0px;letter-spacing:0px;margin-left:-229.6px;
}
#P61_67
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P61_68
{
left:21352.4px;bottom:19772.4px;color:rgb(35,31,31);
}
#P61_69
{
left:21352.4px;bottom:18620.5px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P61_70
{
left:28357.7px;bottom:19772.4px;color:rgb(35,31,31);
}
#P61_71
{
left:28357.7px;bottom:18620.5px;color:rgb(35,31,31);
}
#P61_72
{
left:28357.7px;bottom:17468.7px;color:rgb(35,31,31);
}
#P61_73
{
left:28357.7px;bottom:16316.9px;color:rgb(35,31,31);
}
#P61_74
{
left:0px;letter-spacing:0px;margin-left:-229.6px;
}
#P61_75
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P61_76
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P61_77
{
left:28357.7px;bottom:15165.1px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P61_78
{
left:6734.08px;bottom:13919px;letter-spacing:1px;color:rgb(35,31,31);
}
#P61_79
{
left:6734.08px;bottom:12575.8px;color:rgb(35,31,31);
}
#P61_80
{
left:6734.08px;bottom:11423.9px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P61_81
{
left:15433.5px;bottom:13919.7px;color:rgb(35,31,31);
}
#P61_82
{
left:15433.5px;bottom:12767.9px;color:rgb(35,31,31);
}
#P61_83
{
left:15433.5px;bottom:11616.1px;color:rgb(35,31,31);
}
#P61_84
{
left:21352.4px;bottom:13919.7px;color:rgb(35,31,31);
}
#P61_85
{
left:21352.4px;bottom:12767.9px;color:rgb(35,31,31);
}
#P61_86
{
left:21352.4px;bottom:11616.1px;color:rgb(35,31,31);
}
#P61_87
{
left:21352.4px;bottom:10464.2px;color:rgb(35,31,31);
}
#P61_88
{
left:28357.7px;bottom:13920.4px;color:rgb(35,31,31);
}
#P61_89
{
left:28357.7px;bottom:12768.6px;color:rgb(35,31,31);
}
#P61_90
{
left:28357.7px;bottom:11616.8px;color:rgb(35,31,31);
}
#P61_91
{
left:6734.08px;bottom:9410.98px;color:rgb(35,31,31);
}
#P61_92
{
left:6734.08px;bottom:8067.78px;color:rgb(35,31,31);
}
#P61_93
{
left:6734.08px;bottom:6915.97px;color:rgb(35,31,31);
}
#P61_94
{
left:6734.08px;bottom:5764.1px;color:rgb(35,31,31);
}
#P61_95
{
left:6734.08px;bottom:4612.27px;color:rgb(35,31,31);
}
#P61_96
{
left:15433.5px;bottom:9412.48px;color:rgb(35,31,31);
}
#P61_97
{
left:0px;letter-spacing:0px;margin-left:-229.6px;
}
#P61_98
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P61_99
{
left:15433.5px;bottom:8260.61px;color:rgb(35,31,31);
}
#P61_100
{
left:21352.4px;bottom:9412.48px;color:rgb(35,31,31);
}
#P61_101
{
left:21352.4px;bottom:8260.61px;color:rgb(35,31,31);
}
#P61_102
{
left:28357.7px;bottom:9412.48px;color:rgb(35,31,31);
}
#P61_103
{
left:28357.7px;bottom:8260.61px;color:rgb(35,31,31);
}
#P61_104
{
left:28357.7px;bottom:7108.8px;color:rgb(35,31,31);
}
#P61_105
{
left:28357.7px;bottom:5956.93px;color:rgb(35,31,31);
}
#P61_106
{
left:28357.7px;bottom:4805.1px;color:rgb(35,31,31);
}
#P61_107
{
left:6478.08px;bottom:23110.7px;letter-spacing:0.2px;
}
#P61_108
{
left:4614.7px;bottom:25069.9px;color:rgb(255,242,0);
}
#PageContainer61
{
width:1064.88px;height:1378.08px;background-image: url("../images/bg061.jpg");background-repeat:no-repeat;background-size: 972px 1272px; background-position: right bottom;
}
#ImageContainer61 {bottom:0.00px;right:0.00px;width:971.77px;height:1272.45px;position:absolute;} #TextContainer61 {-webkit-transform:scale(0.027186);-o-transform:scale(0.027186);-ms-transform:scale(0.027186);-moz-transform:scale(0.027186);transform:scale(0.027186);}
.pdf_pos{top: 20px;left: 880px;position: absolute;height: 50px;width: auto;}