<div id="videoContainer">
	<video></video>
	<div id="poster"></div>	
</div>

<div id="videoLoader" style="width: 50px; height: 50px; left: 10px; top: 10px;position: absolute; visibility: hidden">
	<div id="loadingMsg">
		<div id="circularG_1" class="circularG"></div>
		<div id="circularG_2" class="circularG"></div>
		<div id="circularG_3" class="circularG"></div>
		<div id="circularG_4" class="circularG"></div>
		<div id="circularG_5" class="circularG"></div>
		<div id="circularG_6" class="circularG"></div>
		<div id="circularG_7" class="circularG"></div>
		<div id="circularG_8" class="circularG"></div>
	</div>
</div>
<div id="vdController">
	<div id="sliderWrapper" class="SliderWrapperStyle">
		<div id="slidingBar" class="SliderBarStyle"></div>
			<div id="boundingBox" class="SliderBoundingBoxStyle">
				<div id="thumb" class="SliderThumbStyle"></div>
				<div id="thumbBlocker" class="SliderThumbStyle"></div>
			</div>
	</div>
	<div id="btnPlayPause" class="btnPlayPause"></div>	
</div>

