.CarouselHorizontalWrapperStyle
{
	top : 100px;
	height: 171px; 
	width: 1024px; 
	/*background-color: green;*/
	position: relative;
}

.PreviousButtonStyle
{
	height: 171px; 
	width: 40px; 
	/*background-color: blue; */
	left: 0px; 
	top: 0px; 
	position: absolute;
	background: url('../style/images/carousel-arrow-left-disabled.png') no-repeat;
	background-position-x: 6.5px;
	background-position-y: 72px;

}
.PreviousButtonStyle.active
{
	height: 171px; 
	width: 40px; 
	/*background-color: blue; */
	left: 0px; 
	top: 0px; 
	position: absolute;
	background: url('../style/images/carousel-arrow-left.png') no-repeat;
	background-position-x: 6.5px;
	background-position-y: 72px;
}

.CarouselItemContainer
{
	height: 171px; 
	width: 945px; 
	/*background-color: yellow; */
	left: 40px; 
	top: 0px; 
	position: absolute;
	
}
.NextButtonStyle
{
	height: 171px; 
	width: 40px; 
	/*background-color: blue; */
	right: 0px; 
	top: 0px; 
	position: absolute;
	background: url('../style/images/carousel-arrow-right-disabled.png') no-repeat;
	background-position-x: 6.5px;
	background-position-y: 72px;
}
.NextButtonStyle.active
{
	height: 171px; 
	width: 40px; 
	/*background-color: blue; */
	right: 0px; 
	top: 0px; 
	position: absolute;
	background: url('../style/images/carousel-arrow-right.png') no-repeat;
	background-position-x: 6.5px;
	background-position-y: 72px;
}
.InvisibleItem
{
	visibility: hidden !important;
	border-style: none;
	text-align: center;
	padding: 0px;
	display: inline-block;
	/*padding-left: 32px;
	padding-right: 33px;*/
	width: 189px;
	height:163px;
}
.CarouselItemStyle
{
	border-style: none;
	text-align: center;
	padding: 0px;
	/*display: inline-block;*/
	width: 189px;
	height:163px;
}