* {
	margin: 0px;
	padding: 0px;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}
@font-face {
    font-family: 'segeo_ui';
    src: url('segoeui.ttf');
}

.mainTitle {
	font-size: 20px;
	font-weight: bold;
}

body {	
	font: normal 10px Verdana, Arial, sans-serif;	
	 /*background-image: url("../assets/images/activity_template.png");*/	
	 overflow: hidden;
}

/*.skin1 .defaultActivityStyle {
	width: 100%;
	height: 100%;
}*/

.skin1 .bgStyle {
	background-color: #BCE8F1;
}
.skin1 .headerStyle {
	border-style: none;
	visibility: visible;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 0px;
}

.skin1 #mPlayer {	
	font-family: 'segeo_ui' !important;
	background-image:url(../assets/images/activity_template.jpg);
	height:823px;

}
@media screen and (max-width: 768px){
	.skin1 #mPlayer {
		height:924px;
	}
}
.skin1 #mActivity {
	width: 100%;
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 55px;
}
.skin1 .activityHolderStyle {
	width: 100%;
	height: 100%;
	background-color: white;
}

.skin1 .screenHolder {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0 auto;
    width: 80%;
}

@media screen and (max-width: 910px){
	.skin1 .screenHolder {
		 width: 94%;
	}
}
.skin1 .contentarealarge {
	width: 100%;
	height: 100%;
	top: 0px;
}

.skin1 .contentareasmall {
	position: relative;
	width: 900px;
	height: 600px;
	top: calc(50% - 300px);
	left: calc(50% - 450px);
}

.skin1 .footerStyle {
	/* position:relative; */
	/* width:100%; */
	/* height:50px; */
	/* display:block; */
	/* padding:6px 10px 0px 20px; */
	background-color: #008B5D;
	bottom: 120px;
}
.skin1 .buttonDefaultStyle {
	float: right;
	border: 1px solid black;
	width: 80px;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
	background-color: #CCCCCC;
	border-color: #eeeeee;
}
.skin1 .btnNext {
}

.skin1 .btnAnim {
	-webkit-animation: myfirst 1s infinite;
	animation: myfirst 1s infinite;
}
@-webkit-keyframes myfirst
{
from {
	background: red;
}
to {
	background: yellow;
}
}

/* Standard syntax */
@keyframes
myfirst {from {
	background: red;
}
to {
	background: yellow;
}
}

.skin1 .btnPrevious {
	margin-right: 10px;
}
.skin1 .footerTopArea {
	background-color: transparent;
	width: 100%;
	min-height: 30px;
	max-height: 30px;
	padding-right: 20px;
	font-size: 26px;
	color: white;
	padding-left: 10px;
	border-style: none;
}

.skin1 .footerLogo {
	float: left;
	background-image: url("../assets/images/global_ui_elements.png");
	width: 76px;
	height: 29px;
	background-position: -1052px -5px;
}
.skin1 .footerBottomArea {
	text-align: right;
	width: 99%;
	height: 20px;
	font-size: 10px;
	color: white;
	padding-top: 5px;
}

/*******************Screen Components Standard Classes**********************/

.skin1 .video-play-button {
	background-image: url('../assets/images/intro_play0001.png');
	font-size: 64px;
	color: green;
	cursor: pointer;
	display: none;
	left: calc(50% - 105px);
	top: calc(50% - 63px);
	width: 211px;
	position: absolute;
	height: 126px;
}

.skin1 .video-play-button:active {
	background-image: url('../assets/images/intro_play0002.png');
}

.skin1 .btnVolume {
	display: block;
}

.skin1 #zoomBlocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
	opacity: 0.5;
	left: 0px;
	top: 0px;
}

/***************Media Query******************************/
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Styles */

	.wrapper .compVideo {
		position: relative;
		width: 740px;
		height: 510px;
	}

	.skin1 .video-play-button {
		left: 270px
		top: 150px;
	}

	.skin1 .screenHolder > div {
		top: 31px;
}

.skin1 .btnVolume {
	display: none;
}

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */
	.wrapper .compVideo {
		position: relative;
		width: 740px;
		height: 510px;
	}

	.skin1 .video-play-button {
		left: 275px;
		top: 150px;
	}

	.skin1 .screenHolder > div {
		top: 180px;
	}

	.skin1 .btnVolume {
		display: none;
	}
}

.skin1 .footerTagline {
	background-image: url("../assets/images/global_ui_elements.png");
	width: 106px;
	height: 30px;
	background-position: -1134px -6px;
}

.skin1 .globalPopup {
	background-color: #FBF5EA;
	font-size: 14px;
	color: #008B5D;
	padding: 10px 10px 10px 10px;
	box-shadow: 2px 2px 20px #000000;
}

.skin1 .hypertextwidget {
	background-color: #FBF5EA;
	color: #008B5D;
	border: solid 2px #008B5D;
	padding: 10px;
}

.skin1 .hypertextwidgetcloseBtn {
	position: absolute;
	width: 30px;
	height: 30px;
	right: -15px;
	top: -15px;
	background-image: url("../assets/images/hyperTextCloseBtn_up.png");
	cursor: pointer;
}

.skin1 .hypertextwidgetcloseBtn:active {
	background-image: url("../assets/images/hyperTextCloseBtn_down.png");
}

a[hyper-text] {
	font-weight: bold;
	text-decoration: underline;
	color: #000000;
	cursor: pointer;
}

a[href] {
	font-weight: bold;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
