.tr10{ color:transparent;}
#P10_1
{
left:32000px;bottom:27113.7px;letter-spacing:35.2px;color:rgb(223,174,77);
}
#P10_2
{
left:34249.2px;bottom:27143.4px;color:rgb(223,174,77);
}
#P10_3
{
left:34440.8px;bottom:27113.7px;letter-spacing:35.2px;color:rgb(223,174,77);
}
#P10_4
{
left:36771.7px;bottom:27073.3px;letter-spacing:-0.3px;color:rgb(94,94,94);
}
#P10_5
{
letter-spacing:-82.2px;margin-left:-16.1px;
}
#P10_6
{
letter-spacing:0.1px;margin-left:82.4px;
}
#P10_7
{
left:32000px;bottom:26049.3px;letter-spacing:0.1px;color:rgb(94,94,94);
}
#P10_8
{
left:32000px;bottom:25025.3px;letter-spacing:0.1px;color:rgb(94,94,94);
}
#P10_9
{
left:32000px;bottom:24001.3px;letter-spacing:-0.8px;color:rgb(94,94,94);
}
#P10_10
{
letter-spacing:0.0px;margin-left:-32.7px;
}
#P10_11
{
letter-spacing:0.1px;margin-left:-0.1px;
}
#P10_12
{
letter-spacing:0.0px;margin-left:-49.4px;
}
#P10_13
{
left:2848px;bottom:6089.72px;letter-spacing:35.1px;color:rgb(223,174,77);
}
#P10_14
{
left:5718.8px;bottom:6049.31px;letter-spacing:0.0px;color:rgb(94,94,94);
}
#P10_15
{
left:2848px;bottom:5025.31px;letter-spacing:-0.3px;color:rgb(94,94,94);
}
#P10_16
{
left:2848px;bottom:4001.31px;letter-spacing:0.1px;color:rgb(94,94,94);
}
#P10_17
{
left:2848px;bottom:2977.31px;letter-spacing:0.1px;color:rgb(94,94,94);
}
#P10_18
{
left:30432px;bottom:45513.7px;letter-spacing:35.1px;color:rgb(223,174,77);
}
#P10_19
{
left:35512.8px;bottom:45473.3px;color:rgb(94,94,94);
}
#P10_20
{
left:30432px;bottom:44449.3px;letter-spacing:0.1px;color:rgb(94,94,94);
}
#P10_21
{
left:30432px;bottom:43425.3px;letter-spacing:0.0px;color:rgb(94,94,94);
}
#P10_22
{
left:30432px;bottom:42401.3px;letter-spacing:-0.2px;color:rgb(94,94,94);
}
#P10_23
{
left:30432px;bottom:41377.3px;letter-spacing:0.1px;color:rgb(94,94,94);
}
#P10_24
{
left:30432px;bottom:40353.3px;letter-spacing:0.1px;color:rgb(94,94,94);
}
#P10_25
{
left:57024px;bottom:38593.6px;letter-spacing:-0.0px;color:rgb(33,33,33);
}
#P10_26
{
left:57024px;bottom:37070.4px;letter-spacing:0.1px;color:rgb(33,33,33);
}
#P10_27
{
left:57024px;bottom:35547.2px;letter-spacing:0.1px;color:rgb(33,33,33);
}
#P10_28
{
left:57024px;bottom:34024px;letter-spacing:0.1px;color:rgb(33,33,33);
}
#P10_29
{
left:57024px;bottom:32500.8px;letter-spacing:0.1px;color:rgb(33,33,33);
}
#P10_30
{
left:7091.07px;bottom:37190.9px;letter-spacing:-2.3px;color:rgb(33,33,33);
}
#P10_31
{
left:11141.6px;bottom:26286.6px;letter-spacing:0.0px;color:rgb(33,33,33);
}
#P10_32
{
left:15341.9px;bottom:36977.4px;letter-spacing:0.0px;color:rgb(33,33,33);
}
#P10_33
{
left:4874.05px;bottom:44777.7px;letter-spacing:35.1px;color:rgb(223,174,77);
}
#P10_34
{
left:9954.81px;bottom:44807.4px;color:rgb(223,174,77);
}
#P10_35
{
left:10146.5px;bottom:44777.7px;letter-spacing:35.1px;color:rgb(223,174,77);
}
#P10_36
{
left:12630.1px;bottom:44737.3px;color:rgb(33,33,33);
}
#P10_37
{
left:12862.8px;bottom:44737.3px;letter-spacing:-99.5px;color:rgb(103,103,103);
}
#P10_38
{
letter-spacing:0.0px;margin-left:99.6px;
}
#P10_39
{
left:4874.05px;bottom:43713.3px;letter-spacing:-0.3px;color:rgb(103,103,103);
}
#P10_40
{
left:4874.05px;bottom:42689.3px;letter-spacing:0.1px;color:rgb(103,103,103);
}
#PageContainer10
{
width:1781.76px;height:1301.52px;background-image: url("../images/bg010.png");background-repeat:no-repeat;background-size: 1782px 1302px; background-position: left bottom;
}
#ImageContainer10 {bottom:0.00px;left:0.00px;width:1781.76px;height:1301.52px;position:absolute;} #TextContainer10 {-webkit-transform:scale(0.027188);-o-transform:scale(0.027188);-ms-transform:scale(0.027188);-moz-transform:scale(0.027188);transform:scale(0.027188);}
