.footerblock{
	background-color: #e4100d;
    border-top: 5px solid #a80d02;
    height: 50px;
    width: 100%;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.skin1 .footerStyle {
	visibility: visible;	
	width: 100%;
	height: 45px;
	display: block;
	background-color: transparent;	
	bottom:0px;
}